<div class="miniapp-container">
    <div class="edit-form">
        <h2 class="form-title"><%= e('miniApp_editTitle') %> <%= name %></h2> 
        <form>
            <div class="form-group">
                <label for="app-version" class="form-label"><%= e('miniApp_versionLabel') %></label>
                <input type="text" id="app-version" class="form-input" value="<%= version %>">
                <small class="field-error" id="error-app-version"></small>
            </div>

            <div class="form-group">
                <label for="app-scope" class="form-label"><%= e('miniApp_scopeLabel') %></label>
                <input type="text" id="app-scope" class="form-input" value="<%= scope %>">
                <small class="field-error" id="error-app-scope"></small>
            </div>

            <div class="form-group">
                <label for="app-name" class="form-label"><%= e('miniApp_nameLabel') %></label>
                <input type="text" id="app-name" class="form-input" value="<%= name %>">
                <small class="field-error" id="error-app-name"></small>
            </div>
            <div class="form-group">
                <label class="form-label">Tags</label>
                <div class="tag-input-container"></div> 
            </div>


            <div class="form-actions">
                <button type="button" class="button save-btn"><%= e('miniApp_saveButton') %></button>
                <button type="button" class="button cancel-btn"><%= e('miniApp_cancelButton') %></button>
            </div>
        </form>
    </div>
</div>
