@import "../../css/__cssvar";

#support{

	padding: 10 * @rhythm 8 * @rhythm; 

	.caption{
		font-size: 1.4em;
		color : @color-contrast;
	}

	.form{
		margin-top: 4 * @rhythm;

		.item{
			margin-bottom: 2 * @rhythm;

			.label{
				margin-bottom: @rhythm;
				color : @color-main;
			}

			input,
			textarea{
				border-color : @color-black2;
				width: 100%;
				max-width: 350px;
			}

			textarea{
				min-height: 300px;
			}
		}
	}

	.sendWrapper{
		margin-top: 2 * @rhythm;

		.send{
			width: 100%;
			max-width: 180px;
		}
	}

	.error{
		display: none;
		margin-top: 2 * @rhythm;
		margin-bottom : 2 * @rhythm;
		color : @color-contrast;
	}

	&.showError{
		.error{
			display: block;
		}
	}
}

/*t*/ @media only screen and (max-width: 768px){
	#support{

		padding: 6 * @rhythm 0; 
		padding-bottom: 10 * @rhythm;
	}
}