

@color-gray : rgb(95, 100, 104);
@color-gray2 : rgb(79, 86, 94);
@color-black : rgb(30, 34, 53);
@color-black2 : #1F3C46;
@color-gray-mlight : rgb(178, 171, 172);
@color-gray-light : rgb(208, 201, 202);
@color-gray-slight : rgb(228, 221, 222);
@color-white : #fff;

@color-main : #4AC6F9;
@color-add : #00CCFF;
@color-bright : #00A3F7;
@color-contrast : #FF1975;


@color-bad : #F41A4D;
@color-nrml : #000;
@color-good : #076C34;