@import "__cssvar.less";

///.share_common
.share_common{
    background: rgb(var(--background-total-theme));

    .commentsWrapperHb{
        min-height: 2 * @rhythm;
    }

    .gotouserprofile{
        cursor: pointer;
    }

    .pkoin{
        display: flex;
        align-items: center;
        background: rgb(var(--color-bg-ac-bright));
        color: rgb(var(--text-on-bg-ac-color));
        border-radius: 8px;
        padding: 4px 8px;
        cursor: pointer;
    
        img{
            width: 2 * @rhythm;
        }
    
        span{
            margin-left: @rhythm;
        }
    }

    .commentsWrapper{			
        background: rgb(var(--background-secondary-theme));
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    img{
        max-width: 100%;
    }

    .work{
        width: 100%;
    }

    .sbtnxs,
    .adr{
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		display: inline-block;
		white-space: nowrap;
	}

    .statswrapperExtended{
        display: flex;
        padding : @rhythm 0;

        span{
            font-weight: 500;
            font-size: 0.9em;
        }
    }
    .repostWrapper{
        position: relative;

        .shareTable{
            padding-top : 0;
            padding-bottom: 0;
        }
    }
    .wholikesTable{
        margin-bottom : 2 * @rhythm;
        cursor: pointer;
        .transition(0.3s);

        &:hover{
            opacity: 0.8;
        }

        .wholikeAuthorTable{
            display: inline-table;
            width: auto;
            font-size: 0.8em;

            >diV{
                vertical-align: middle;

                &.unamecell{
                    padding-left: 0.5 * @rhythm;
                }
            }
        }

        .usericon{
            position: relative;
            display: inline-block;
            width: 21px;
            height: 21px;
            vertical-align: baseline;
        }
    }
    
    .debuginfo{

        padding : @rhythm 3* @rhythm;
        font-size: 0.7em;
        z-index: 5;

        .info{
            display: none;
        }

        .icon{
            cursor: pointer;
        }

        &.showed{
            .info{
                display: block;
            }

            .icon{
                display: none;
            }
        }
    }

    .repostShareWrapper{
        .openetc{
            cursor: pointer;
            padding : 2 * @rhythm;
            text-align: center;
            i,
            span{
                color : rgba(var(--neutral-grad-2), 0.8);
                font-size: 0.9em;
            }

            i{
                font-size: 0.8em;
            }
        }
    }

    .js-player .warning-overlay{
        opacity: 0;
    }

    .hiddenpost{
        padding : 14 * @rhythm 10 * @rhythm;
        font-size: 0.9em;
        text-align: center;
        border-radius: 6px;
        background: rgba(var(--neutral-grad-1), 0.05);
        margin-bottom : 4 * @rhythm;
        margin-top : @rhythm;

    
        .hiddenlabelaction{
            margin-top : 2 * @rhythm;
        }

        .hiddenlabeltext{
            opacity: 0.6;
        }

        .captionpreview{
            font-weight: 700;
        }
    }

    .repostShare{
        border-radius: 6px;
        border : 1px solid rgba(var(--neutral-grad-1), 0.5); 
        border-bottom: 1px solid rgba(var(--background-total-theme), 0.75);
        border-right: 1px solid rgba(var(--background-total-theme), 0.75);

        .shadowSmaller();

        margin-left: @rhythm;
        margin-right: @rhythm;
        margin-bottom: @rhythm;

        .share{
            margin-bottom: 0;

            .videoTips{
                display: none!important;
            }
        }
    }

    .article{
        .message{
            b{
                font-size: 1em!important;
            }
            
            p img{
                max-width: 95%;
                border-radius: 6px;
                margin: 0 auto;
            }

            figure img{
                max-width: 95%;
                border-radius: 6px;
                margin: 0 auto;
            }

            span{
                font-size: 1em!important;
            }
        }
    }

    .medium-insert-embeds{
        position: relative;

        &:after{
            content : '';
            position : absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom : 0;
            z-index: 150;
            cursor: pointer;
            background: transparent;
        }
    }

    .work{
        overflow : hidden;
        position: relative;
    }

    .shareWrapper{
        position: relative;
    }

    .subscribeWrapper{
        z-index: 19;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(var(--background-total-theme), 0.96);
        padding : 4 * @rhythm 2 * @rhythm;
        display: none;

        .name{
            padding-top : @rhythm / 4;
        }
        .unsubscribeevent,
        .subscribeevent{
            margin-top : 18px;
            overflow-y: hidden;

            >div{
                float: left;
                margin-right : @rhythm;

                button{
                    padding-left: 0;
                    padding-right: 0;
                    background: transparent;
                    border-color: transparent;
                    text-decoration: underline;
                    color : rgb(var(--text-color));

                    &:hover{
                        background: transparent;
                        border-color: transparent;
                    }
                }
            }
        }

        .unsubscribeevent{
            display: none;
        }
    }

    .shareSave{
        margin-right: auto;
    

        i{
            display: none;
        }

        &[status="cansave"]{
            .cansave{
                display: inline-block;
            }
        }
        &[status="saving"]{
            .saving{
                display: inline-block;
            }
        }
        &[status="saved"]{
            .saved{
                display: inline-block;
            }
        }
    }

    .shareSpacer{
        height: 400px;
        padding : 0 4 * @rhythm;
    }

    .shareContent{
        position: relative;
    }

    .videoWrapper{
        max-width: 600px;
        position : relative;
        border-radius: 10px;
        overflow: hidden;

        .videoTips{
            position : absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 70px;
            cursor: pointer;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.9528186274509804) 0%, rgba(0,0,0,0.9472163865546218) 6%, rgba(0,0,0,0.21612394957983194) 76%, rgba(0,0,0,0.09007352941176472) 82%, rgba(0,0,0,0) 100%);
            color : rgb(var(--text-on-bg-shadow-color));
            opacity: 0;
            .transition(0.3s);

            .videoTip{
                position : absolute;
                top: 0;
                left: 0;
                right: 0;
                text-align: center;
                padding : 2 * @rhythm;

                span{
                    font-size: 0.8em;
                    color : rgb(var(--text-on-bg-shadow-color));
                }
            }
        }

        &:hover{
            .videoTips{
                opacity: 1;
            }
        }

        .js-player{
            border-radius: 10px;
            overflow: hidden;

            .vjs-control-bar{
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }

    .tempPreloader{
        padding : 2 * @rhythm 0;
        margin-bottom : 2 * @rhythm;
        
        .label{
            padding-top : @rhythm;
            color : rgb(var(--color-bg-ac));
            font-size: 0.8em;
        }

        .iconwr{
            padding-bottom : 2 * @rhythm;
        }

        .count{
            padding-right :0;
        }
    }

    .iconWrapper{
        width: 8 * @rhythm;
        padding-top: @rhythm;
        padding-left: 2 * @rhythm;
        padding-right: 0;
        float: left;
    }	

    .cntswrk{
        margin-left: 8 * @rhythm;
        padding-left : 2 * @rhythm;
        padding-right : 3 * @rhythm; //// /4 lenta ?

        &.forcomments{
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }

    }

    .shareTable{
        padding-top : 2 * @rhythm;
        padding-bottom : 2 * @rhythm;

        .sbtnxs{
            .subscribedLabel{
                display : none;
            }

            span{

                cursor: pointer;

                &:hover{
                    color: rgb(var(--color-txt-ac)); 
                }
            }

            .notificationturn {
                display : none;

                i{
                    text-align: center;
                    color: rgba(var(--color-good), 0.8);
                    /*.transition(0.3s);*/
                }

                &.turnon{
                    i{
                        &:before{
                            content : '\f0f3';
                        }
                    }
                }

                &:hover{
                    i{
                        color : rgb(var(--color-good));
                    }
                    
                }
            }
        }

        &.subscribed{

            .sbtnxs{
                .subscribedLabel{
                    display : inline;
                }

                .notificationturn {
                    display : inline;
                }

                .subscribeLabel{
                    display : none;
                }
            }

            .iconWrapper{

                .aunsubscribe{
                    display: block;
                }
                .asubscribe{
                    display: none;
                }

                .notificationturn{
                    display: block;
                }

                .additional{
                    i{
                        &:before{
                            content : '\f068';
                        }
                    }
                }
            }

            .subscribeWrapper{

                .subscribeevent{
                    display: none;
                }

                .unsubscribeevent{
                    display: block;
                }
                
            }
        }

        &.emptywithrepost{
            .cntswrk{
                margin-left: 0;
            }

            .meta{
                padding-top : 0;

                .repostCaption{
                    i{
                        font-size: 0.8em;
                        color : rgb(var(--color-txt-ac));
                        width: 20px;
                    }

                    span{
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .jsPlayerPreview{
        height: 100%;
        width: 100%;
        position : relative;
        overflow: hidden;
        border-radius: 6px;

        .wpl{
            width: 100%;
            height: 100%;
            cursor: pointer;

            &:hover{
                opacity: 0.9;
            }
        }

        .statswrapper,
        .durationWrapper{
            position: absolute;
            bottom : 6px;
            right : 6px;
            border-radius: 6px;
            background: rgba(var(--color-shadow-base), 0.8);
            color : rgb(var(--text-on-bg-shadow-color));
            padding : 0.5 * @rhythm @rhythm;
            padding-top : 0.5* @rhythm;
            font-size: 0.8em;

            &.live{
                background: rgba(--color-bg-orange, 0.8);
            }

            i,
            span{
                font-size: 1em;
            }
        }

        .statswrapper{
            right: auto;
            left :6px;
            >div{
                float: left;
                margin-right: @rhythm;

                &:nth-last-child(1){
                    margin-right: 0;
                }
            }
        }
    }

    

    .authorTable{
        width: auto;
        >div{
            vertical-align: middle;

            &.authorCell{
                padding-right: 0;
                
                .pinnedIcon{
                    color: rgba(var(--neutral-grad-3), 0.8);
                }
            }
        }

    }

    .metatable{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        >div{

            &.metapanel{
                vertical-align: top;

                .metapanelitem{
                    cursor: pointer;
                    margin-left: auto;
                    font-size: 0.8em;
                    margin-right: auto;
                    text-align: center;
                    border-radius: 50%;
                    color : rgba(var(--neutral-grad-3), 0.8);
                }

            
            }

        }
    }


    .meta{
        padding-top: 1.5 * @rhythm;
        margin-bottom: @rhythm;

        .authorCell{
            white-space: nowrap;

            a{
                font-weight: 700;
                cursor: pointer;
                
            }
            
        }
    }

    .imagecaption{
        font-weight : 700;
        font-size: 0.8em;
    }

    .images{
        max-width: 590px;
        padding : 2 * @rhythm 0;
        opacity: 0;
        .transition(0.3s);
        overflow : hidden;

        &.active{
            opacity: 1;
        }

        .imagesWrapper{
            width: 140px;
            height: 140px;
            float: left;
            background: rgb(var(--background-secondary-theme));
            border-radius: 6px;
            

            .image{
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 6px;

                &.active{
                    opacity: 1;
                }
            }

        }

        .imagesContainer{
            &.one{
                .imagesWrapper{
                    width: 400px;
                    height: 400px;

                    &.w2{
                        width: 600px
                    }

                    &.h2{
                        width: 400px;
                    }
                }
            }

            &.two{
                .imagesWrapper{
                    width: 200px;
                    height: 200px;

                    &.w2{
                        width: 400px
                    }

                    &.h2{
                        width: 200px; 
                    }
                }
            }

            &.four{
                .imagesWrapper{
                    width: 200px;
                    height: 200px;
                    &.w2{
                        width: 400px
                    }

                    &.h2{
                        width: 200px; 
                    }
                }
            }
            

            &.articleImages{
                .imagesWrapper{
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    overflow: hidden;
                    margin-right: @rhythm;
                    margin-bottom: @rhythm;
                }
            }

            &.owlcar{
                height: auto;
                width: 100%;
                max-width: 400px;

                .imagesWrapper{
                    height: 500px;
                    float: none;
                    width: 100%;
                    background: transparent;

                    .image{
                        background-size: contain!important;
                    }
                }
            }
        }

        .videoOpen{
            position: relative;

            .playicon{
                background: rgba(var(--color-shadow-base), 0.5);
                color : rgb(var(--text-on-bg-shadow-color));
                position: absolute;
                right : @rhythm;
                bottom : @rhythm;
                padding : @rhythm 2 * @rhythm;
                padding-top: 0.3em;
                padding-right: 0.8em;
                border-radius: 3px;
                i{
                    font-size: 0.8em;
                }
            }
        }
        
    }

    .sharecaption{
        margin-bottom: @rhythm;
        max-width: 590px;
        cursor: pointer;

        span{
            font-size: 1.2em;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
        }

        a{
            text-decoration: underline;
            color : rgb(var(--color-bg-ac));
        }

        img{
            vertical-align: baseline;
        }
    }

    .message{
        margin-bottom: 2 * @rhythm;
        max-width: 590px;
        a{
            text-decoration: underline;
            color : rgb(var(--color-txt-ac));
            text-overflow: ellipsis;
            word-break: break-all;
        }

        img{
            vertical-align: baseline;
        }
    }

    .showMore{
        padding : 3 * @rhythm 0;
        padding-top: @rhythm;
        text-align: left;
        max-width: 700px;

        button{
            max-width: none;
            padding-left : 0;
            padding-right: 0;
            text-decoration: none;
            color : rgb(var(--color-txt-ac));
        }

    }

    .shareContent{
        cursor: pointer;
    }

    .urlhtmlcontent{
        font-size: 0.85em;
        .ogtable{

            >div{
                vertical-align: top;
                padding : @rhythm 0;

                &.image{
                    width: 200px;
                    padding-right : 2 * @rhythm;
                    border-radius: 6px;

                    .removeImage{
                        display: none;
                    }

                    img{
                        width: 100%;
                        border-radius: 6px;
                        .shadowSmaller();
                        /*.transition(0.3s);*/

                        &.active{
                            opacity: 1;
                        }
                    }


                }

                &.cnt{
                    .title{
                        max-width: 400px;
                        font-weight: 700;
                        color : rgb(var(--color-txt-gray-dark));
                    }

                    .description{
                        max-width: 400px;
                        margin-top : @rhythm;
                    }
                }
            }
        }
    }

    .url{
        margin-bottom: 2 * @rhythm;

        &.hiddenurl{
            .videoWrapper{
                display: none;
            }
            
        }

        span{
            &.linkedstyle{
                font-size: 0.8em;
                color : rgb(var(--color-txt-ac));
                text-decoration: underline;
            }
        }

        .videoviews{
            span{
                font-size: 0.8em;
                color : rgb(var(--color-txt-ac));
            }
        }
        
        .urlcnt{
            overflow: hidden;
            .linkcnt{
                white-space: nowrap;
                overflow: hidden;
                max-width: 640px;
                text-overflow: ellipsis;
            }
            
            .urlcnttable{
                width: auto;
                height: auto;

                >div{
                    vertical-align: middle;

                    &.removeWrapper{
                        padding-left: 2 * @rhythm;
                    }
                }
            }

        }

        &.bigimageinlink{
            .urlhtmlcontent{

                .ogtable{
                    max-width: 600px;
                    border-radius: 6px;
                    
                    display: block;

                    >div{
                        display: block;

                        &.image{
                            width: auto;

                            img{
                                width: 100%;
                            }

                        }

                        &.cnt{
                            .title{
                                max-width: none;
                            }

                            .description{
                                max-width: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .pkoin_commerce_info{
        padding : 2 * @rhythm 0;
        max-width: 350px;
        padding-top : @rhythm;
        position: relative;

        &:before{
            content: '';
            width: 70px;
            position: absolute;
            left: 0;
            top : 0;
            height: 1px;
            background: rgb(255, 0, 51);
        }
        span{
            font-size: 0.8em;
            opacity: 0.8;
        }
    }

    .tags{
        margin-bottom: 2 * @rhythm;
        overflow: hidden;
        max-width: 650px;
        display: flex;
        flex-wrap: wrap;

        >div{
            margin-right: @rhythm;

            span{
                font-size: 0.8em;
                color : rgb(var(--neutral-grad-4));
            }
        }

        .newlabel{
            background: rgb(255, 5, 101);
            color : #fff;
        }
    }

    .sys{
        margin-bottom : 2 * @rhythm;
        
        span{
            cursor: pointer;
            font-size: 0.9em;
            color : rgb(var(--neutral-grad-4));
        }

        .editedLabel{
        }
    }

    .stars{
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .sharepanel{

        border-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .itemwr{
            width: auto;

            >div{
                vertical-align: middle;

                &.iconwr{
                    width: 40px;
                }

                &.labelwr{
                    padding-left : @rhythm;
                    cursor: pointer;
                    span{
                        font-weight: 700;
                        font-size: 0.8em;
                    }
                }

            
            }

            
        }


        >div{

            &:nth-last-child(1){
                margin-right: 0;
            }

            

            .count{
                cursor: pointer;
            }

            .icon{
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 1em;
                color : rgb(var(--neutral-grad-3));
                cursor: pointer;
                border-radius : 40%;
            }

            &.right{
                margin-left: auto;

                .itemwr{

                    >div{

                        &.iconwr{
                            text-align: center;
                            width: 40px;
                        }
                    }
                }
            }

            &:hover{
                .icon{
                    opacity: 0.7;
                }
            }


            &.sharesocial{

                .label,
                .icon{
                    color : rgb(var(--color-txt-orange));	
                }

                &:hover{
                    .label{
                        color : rgb(var(--color-txt-orange));	
                    }
                    .icon{
                        border-radius : 0;
                        box-shadow: none;
                        color : rgb(var(--color-txt-orange));
                        background: transparent;
                    }
                }
            }
        }
    }

    .exitFull{
        display: none;
        position : fixed;
        right: 4 * @rhythm;
        top: 2 * @rhythm;
    }

    .sharecnt{

        .removeDescription{
            display: none;
            padding-bottom: @rhythm * 3;
            color: rgb(var(--neutral-grad-2));
        }
            
        &.deleted{
            .cntscontent, .repostWrapper, .commentsWrapperHb, .metapanel, .sys{
                display: none!important;
            }

            .removeDescription{
                display: block;
            }
        }

    }

    .blockAuthor{
        display: none;
        position: absolute;
        left : 0;
        right : 0;
        top : 0;
        bottom : 0; 
        background: rgba(var(--background-total-theme), 0.98);
        z-index : 10;
        align-items: center;

        .blockCell{
            text-align: center;
            width: 100%;

            .label{
                margin-bottom : 3 * @rhythm;
            }

            button{
                width : 180px;
                border-radius: 30px;
                font-size: 0.8em;
            }
        }

    }


    &.blocking{
        
        .commentsWrapperHb{
            display : none;
        }

        .blockAuthor{
            display: flex;
        }

    }



    &.fullScreenVideo{
        padding : 0;
        margin : 0;
        z-index: 1004;
        position : fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgb(var(--color-shadow-base));
        padding-top: 0;
        border-radius: 0!important;
        margin-bottom: 0!important;
    

        .video-js{
            max-height: calc(var(--vh, 1vh) * 80);
        }

        .shareTable{
            padding-top : 0;
        }

        .sharecnt{
            position: absolute;
            overflow-y: scroll;
            left: 0;
            right: 0;
            top : 0;
            bottom : 0;
            scrollbar-width: none;
            overscroll-behavior: none;
            transform: translate3d(0, 0, 0);

            .videoWrapper{
                border-radius: 0;

                .js-player{
                    border-radius: 0;
                    overflow: visible;

                    .vjs-control-bar{
                        border-radius: 0;
                        overflow: visible;
                    }
                }
            }

            &::-webkit-scrollbar{
                width: 0!important
            }

        }

        .statswrapperExtended{
            padding-left: 2 * @rhythm;
        }
        
        .videoviews{
            padding-left: 2 * @rhythm;
        }
        
        .exitFull{
            display: block;
        }

        .showMore{
            display: none;
        }

        .commentsWrapper{
            margin : 0 auto;
            max-width: 960px;
            border-radius: 0;
        }

        .url{
            &.hiddenurl{
                .videoWrapper{
                    display: block;
                }
            }
        }

        .commentsWrapperHb{
            padding-bottom : 20%;
        }

        .cntswrk{
            margin-left: 0;
            padding : 0;

            
        }

        .shareTable{
            display: flex;
            flex-direction: column;

            .postcontent{
                order: -2;
            }

            .formeta{
                order: -1;
            }
        }

        .cntscontent.postcontent{
            display: flex;
            flex-direction: column;

            .url{
                order: -1;
            }
        }

        .sharecaption{
            padding-left: 2 * @rhythm;
            max-width: 450px;
            span{
                font-size: 0.9em;
            }
        }

        .message{
            padding-left: 2 * @rhythm;
        }

        .formeta{
            padding-left: 2 * @rhythm;

            .sys{
                display: none;
            }

            .sbtnxs{
                display: none;
            }

            .meta{
                padding-top: 0;
                margin-bottom: 0;
            }
        }

        .metapanel,
        .hideOnFullVideo{
            display: none;
        }

        .repostWrapper{
            display: none;
        }

        .statswrapperExtended{
            background: rgb(var(--background-total-theme));
        }

        .work{
            margin : 0 auto;
            max-width: 960px;
            background: rgb(var(--background-total-theme));
            padding : 0;

            .iconWrapper{
                display: none;
            }

            .shareWrapper{
                padding : 0;
                .meta{
                    display: none;
                    margin-top: 0;
                    margin-bottom : 0;
                    padding : 2 * @rhythm;

                    .metapanel{
                        display: none;
                    }
                }
            }

            .shareContent{

                padding : 0;

                .sharecaption{
                    display: none;
                    padding : 2 * @rhythm;
                    padding-top : 0;
                }

                .message{
                    display: none;
                }

                .images{
                    display: none;
                }
            }

            .videoWrapper{
                max-width: none;
               
                .videoTips{
                    display: none;
                }
            }


            .urlcnt{
                display: none;
            }
            .sys,
            .tags{
                padding : 0 2 * @rhythm;
            }

            .sharepanel{
                overflow: hidden;
                padding : 2 * @rhythm;
                padding-bottom : 2 * @rhythm;
                padding-top: 1 * @rhythm;
            }

        }
    }

    &.fullScreenVideoShowing{
        opacity: 0;
        .transition(0s)
    }

}

.share_common{
    .work{
        width: 100%;
    }
}

html.mobileview{
    .share_common{
        .images{
            .imagesContainer{
                &.owlcar{
                    max-width: none;
                    contain: strict;
                }
            }
        }

        .panel{
            contain: strict;
            height: 40px;
        }
    }
}

html.ios{
    .share_common{
        &.fullScreenVideo{
            .video-js{
                max-height: 80vh;
            }
        }
    }
}

/*t*/ @media only screen and (max-width: 768px){

    .share_common{
        padding : 0;
        background: rgb(var(--background-total-theme));
        cursor: default;
        padding-bottom : 0;
        border-radius: 0;

        .jsPlayerLoading{
            .preloader5{
                display: none;
            }
        }

        .showMore{
          
            button{
                font-size: 1.2em;
            }
    
        }

        .iconWrapper{
            width: 8 * @rhythm;
            padding-top: @rhythm;
            padding-left: @rhythm;
        }
        
        .repostShare{
            margin-left: 0.5 * @rhythm;
            margin-right: 0.5 * @rhythm;
            margin-bottom: 0.5 * @rhythm;
        }

        .cntswrk{
            margin-left: 0;
            padding-left : 0;
            padding-right : 0;
        }

        .formeta{
            margin-left: 8 * @rhythm;
        }


        .work{
            width: 100%;padding-left: 0;
        }

        .shareTable{
            padding-top : @rhythm;
        }

        &.fullScreenVideo{
            contain: strict;
            background: rgb(var(--color-shadow-base));

            .sharecaption{
                padding-left: @rhythm;
            }

            .message{
                padding-left: @rhythm;
            }

            .work{
                .metawrapper{
                    margin-left : 0;
                }

                .iconWrapper{
                    display: none;
                }

                .shareWrapper{
                    margin-top : 0;
                }

                
                .sys,
                .tags{
                    padding : 0 @rhythm;
                }

                .sharepanel{
                    padding : @rhythm;
                }
            }
            
            #comments{
                .caption{
                    padding-left: 1 * @rhythm;
                    padding-right: 1 * @rhythm;
                }

                .commentPaddingWrapper,
                .post{
                    padding-left: 1 * @rhythm;
                    padding-right:  @rhythm;
                }


                .list .answer .postbody{
                    padding-left: 1 * @rhythm;
                    padding-right: @rhythm;
                }
            }
        }

      
        .medium-insert-embeds{
            position: relative;

            &:after{
                display : none;
            }
            
            figure{
                margin-left: 0;
                margin-right: 0;
            }
        }

        .shareWrapper,
        .shareContent{
            cursor: default;
        }

        .paddingWrapper{
            padding : 0 @rhythm;
        }

        .work{
            overflow : hidden;
        }

        .shareWrapper{
            position: relative;
        }

        .shareTable{


            .authorTable>div span{
				font-size: 1em;
				&.adr{
					font-size: 1.2em;
				}
				
			}

            &.subscribed{
                .iconWrapper{


                    .aunsubscribe{
                        display: block;
                    }
                    .asubscribe{
                        display: none;
                    }

                    .notificationturn{
                        display: block;
                    }

                    .additional{
                        i{
                            &:before{
                                content : '\f068';
                            }
                        }
                    }
                }

                .subscribeWrapper{

                    .subscribeevent{
                        display: none;
                    }

                    .unsubscribeevent{
                        display: block;
                    }
                    
                }
            }


            &.emptywithrepost{
                
                .meta{

                    .repostCaption{
                        padding-left : 2 * @rhythm;
                        
                    }
                }
            }
        }

        .videoWrapper{
            max-width: 768px;
            position : relative;
            border-radius: 0;
            
            .js-player{
                border-radius: 0;
                overflow: visible;

                .vjs-control-bar{
                    border-radius: 0;
                    overflow: visible;
                }
            }

            .videoTips{
                opacity: 1;

            
            }

            &:hover{
                .videoTips{
                    opacity: 1;
                }
            }
        }

        .jsPlayerLoading{
            width: 100%;
            /*height: 300px;*/
        }

        .meta{

            margin-top: 0;
            margin-bottom: 0;
            >div{
                margin-right : 0;
            }

            .metatable{
                >div{
                    margin-right: 0;
                
                    &.metapanel{
                        width: 47px;

                        .metapanelitem{
                            opacity: 1;

                            &.complain{
                                &:hover{
                                    color : rgb(var(--color-bad));
                                }
                            }
                        }
                    }
                }
            }
        }

        .imagecaption{
            padding : @rhythm;
        }

        .images{
            .imagesWrapper{
                width: 100%;
                height: auto;
                border-radius: 0;

                .image{
                    border-radius: 0;
                }
            }

            .imagesContainer{

                &.owlcar{
                    max-width: none;
                    contain: strict;
                }

                &.one{
                    .imagesWrapper{
                        width: 100%;
                        height: auto;

                        &.w2{
                            width: 100%;
                        }

                        &.h2{
                            width: 100%;
                        }
                    }
                }

                

                &.two,
                &.three,
                &.more,
                &.four{
                    .imagesWrapper{
                        width: 50%;
                        height: auto;

                        &.w2{
                            width: 50%;
                        }

                        &.h2{
                            width: 50%;
                        }
                    }
                }

                &.articleImages{
                    padding : @rhythm;
                    .imagesWrapper{
                        float: left;
                        width: 30px;
                        height: 30px;
                    }
                }

            
            }
        }

        .sharecaption{
            margin-bottom: @rhythm;

            div{
                font-size: 1.5em;
                font-weight: 100;
            }


        }

        .urlhtmlcontent{
            font-size: 0.8em;
            .ogtable{

                display: block;

                >div{
                    display: block;
                    padding : @rhythm 0;

                    &.image{
                        width: 100%;
                        padding-right : 0;
                    }

                    &.cnt{
                        padding : 0 @rhythm;
                        .title{
                            max-width: none;
                        }

                        .description{
                            max-width: none;
                            margin-top : @rhythm;
                        }
                    }
                }
            }
        }

        .url{
            .urlcnt{
                padding : 0 @rhythm;
            }
        }

        .exitFull{
            right: 2 * @rhythm;
        }

        /* #comments{			
				
            .caption{
                padding-left: 1 * @rhythm;
                padding-right: 2 * @rhythm;
            }

            .commentPaddingWrapper,
            .post{
                padding-left: 1 * @rhythm;
                padding-right:  @rhythm;
            }

            .commentPaddingWrapper{
                padding-right:  @rhythm;
            }

            .list .answer .postbody{
                padding-left: 1 * @rhythm;
                padding-right: @rhythm;
            }

            .answers{
                .commentPaddingWrapper{
                    padding-right: 0;
                    padding-left: 0;
                }
            }				

            .answer .posttable>div.postCellWrapper .postaction, 
            .edit .posttable>div.postCellWrapper .postaction, 
            .post .posttable>div.postCellWrapper .postaction{
                text-align: center;
            }
        }*/

        
    }
}