html * {
  cursor: pointer;
  box-sizing: border-box;
}
body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #020e1b;
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cnt {
  width: 100%;
  overflow: hidden;
  position: static;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.extra {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
.appc {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  height: 20px;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
}
.appc .icon {
  float: left;
}
.appc .aitm {
  float: left;
  font-size: 0.7em;
}
.appc .aitm .label {
  font-weight: 100;
}
.appc .aitm .icon {
  padding-left: 0;
}
.appc .aitm .table {
  width: auto;
}
.appc .aitm .table > div {
  padding: 0 0;
  padding-top: 0;
  vertical-align: top;
  color: #fff;
}
.appc .aitm .table > div.icon {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.appc .aitm .table > div.label {
  padding-top: 3px;
  padding-left: 0.5em;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.table > div {
  display: table-cell;
}
.fastMessage {
  font-size: 0.9em;
}
.fastMessage .time {
  display: none;
}
.fastMessage .messagethumbs {
  width: 44px;
  height: 44px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #00a4ff;
  text-align: center;
  color: #00a4ff;
  margin-left: auto;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
.fastMessage .messagestar {
  color: #FFAE00;
  width: 44px;
  height: 44px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #FFAE00;
  text-align: center;
  margin-left: auto;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
.fastMessage .messagestar[count='3'] {
  color: #d0c9ca;
  border: 1px solid #d0c9ca;
}
.fastMessage .messagestar[count='2'] {
  color: #F82C06;
}
.fastMessage .messagestar[count='1'] {
  color: rgb(var(--color-bad));
}
.fastMessage .transactionmessagewrapper > div {
  vertical-align: top;
}
.fastMessage .transactionmessagewrapper > div.foramount {
  font-weight: 700;
  text-align: right;
  color: rgb(var(--color-good));
  width: 100px;
  font-size: 0.8em;
}
.fastMessage .commentmessagewrapper > div {
  vertical-align: top;
}
.fastMessage .commentmessagewrapper > div.foranswer {
  width: 100px;
  text-align: right;
}
.fastMessage .commentmessagewrapper .commenttext {
  cursor: pointer;
}
.fastMessage .commentmessagewrapper .commenttext span {
  font-size: 0.8em;
  color: #e4ddde;
}
.fastMessage .commentmessagewrapper .commentshare {
  display: none;
}
.fastMessage .commentmessagewrapper .commentimages {
  padding-top: 0.5em;
}
.fastMessage .commentmessagewrapper .commentimages .imagesContainer {
  overflow: hidden;
}
.fastMessage .commentmessagewrapper .commentimages .imagesContainer > div {
  float: left;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  width: 40px;
  height: 40px;
  display: none;
}
.fastMessage .commentmessagewrapper .commentimages .imagesContainer > div .image {
  width: 100%;
  height: 100%;
}
.fastMessage .commentmessagewrapper .commentimages .imagesContainer > div:nth-child(1),
.fastMessage .commentmessagewrapper .commentimages .imagesContainer > div:nth-child(2),
.fastMessage .commentmessagewrapper .commentimages .imagesContainer > div:nth-child(3) {
  display: block;
}
.fastMessage .sharepreview .shareprwrapper > div {
  vertical-align: top;
  padding: 0.5em / 2;
}
.fastMessage .sharepreview .shareprwrapper > div.forimage {
  width: 32px;
  padding-right: 0.5em;
  padding-left: 0;
}
.fastMessage .sharepreview .shareprwrapper > div.fortext {
  font-size: 0.9em;
  padding-left: 0;
}
.fastMessage .sharepreview .shareprwrapper > div.fortext span {
  font-size: 0.9em;
}
.fastMessage .sharepreview .shareprwrapper > div.extra {
  width: 100px;
}
.fastMessage .sharepreview .shareprwrapper > div.extra div {
  font-size: 0.9em;
  float: right;
}
.fastMessage .sharepreview .shareprwrapper > div .additionalcontent {
  font-size: 0.8em;
  padding-bottom: 0;
  opacity: 0.5;
}
.fastMessage .sharepreview .shareprwrapper .img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}
.fastMessage .sharepreview .shareprwrapper .img .vstyle {
  position: absolute;
  left: 20px;
  top: 14px;
  font-size: 0.6em;
  color: #e4ddde;
}
.fastMessage .sharepreview .shareimages {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.fastMessage .sharepreview .shareimages .imagesContainer {
  overflow: hidden;
}
.fastMessage .sharepreview .shareimages .imagesContainer > div {
  float: left;
  margin-right: 0.25em;
  overflow: hidden;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.fastMessage .sharepreview .shareimages .imagesContainer > div .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.fastMessage .sharepreview .shareimages .imagesContainer > div .image .vstyle {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 0.6em;
  color: #e4ddde;
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
.fastMessage .sharepreview:nth-last-child(1) {
  border-bottom: 0;
}
.fastMessage .sharepreview:nth-child(1) {
  padding-top: 0;
}
.fastMessage .foranswer {
  display: none;
}
.fastMessage .subscribeWrapper > div.forsubscribe button {
  display: none;
}
.fastMessage .cwrapper > div {
  vertical-align: middle;
}
.fastMessage .cwrapper > div.cellforimage {
  width: 50px;
  vertical-align: top;
}
.fastMessage .cwrapper > div.extra {
  width: 100px;
  vertical-align: bottom;
}
.fastMessage .cwrapper > div.extra button {
  padding-top: 0;
  text-align: right;
  width: auto;
}
.fastMessage .cwrapper > div.extra button i {
  display: none;
}
.fastMessage .cwrapper > div.extra button.disabled {
  color: rgb(var(--color-good));
  background: transparent;
}
.fastMessage .cwrapper > div.extra button.disabled i {
  display: inline;
}
.fastMessage .cwrapper > div.extra button.disabled:hover {
  background: transparent;
}
.fastMessage .cwrapper > div .infomain {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.fastMessage .gotoprofileWrapper {
  text-align: right;
  margin-top: 0.5em;
  min-width: 170px;
  font-size: 0.8em;
}
.fastMessage {
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: hidden;
  font-size: 1em;
  z-index: 140;
}
.fastMessage .caption {
  font-size: 0.9em;
}
.fastMessage .fmCnt {
  padding: 0.5em 0.5em;
  padding-right: 0.5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fastMessage .close:hover {
  opacity: 1;
}
.fastMessage .close:before,
.fastMessage .close:after {
  position: absolute;
  left: 9px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #e4ddde;
}
.fastMessage .close:before {
  transform: rotate(45deg);
}
.fastMessage .close:after {
  transform: rotate(-45deg);
}
.fastMessage .close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}
.fastMessage .close i {
  display: none;
}
.fastMessage .fastMessageChat .user {
  font-weight: 700;
  color: #ff6e84;
}
.fastMessage .fastMessageChat .date {
  text-align: right;
}
.fastMessage .fastMessageChat .dmessage {
  margin-bottom: 0.5em;
}
.fastMessage .fastMessageChat .cantdecrypt {
  font-style: italic;
  font-size: 0.9em;
}
.fastMessage .notification b {
  color: #ff6e84;
}
.fastMessage .notification .date {
  margin-top: 0.5em;
  font-size: 0.9em;
}
.fastMessage .notification .seenow {
  margin-top: 1em;
}
.fastMessage .dataWrapper > div {
  vertical-align: top;
  padding: 0.5em;
}
.fastMessage .dataWrapper > div.userpicWrapper {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}
.fastMessage .smallusertext .text {
  font-size: 0.9em;
}
.fastMessage .smallusertext .text .dataWrapper > div {
  vertical-align: middle;
}
.fastMessage .progressWrapperTable > div {
  font-size: 0.9em;
  padding: 0.5em;
  padding-left: 0;
  vertical-align: middle;
}
.fastMessage .progressWrapperTable > div.label {
  padding: 0.5em 0;
  width: 80px;
  text-align: center;
  font-weight: 700;
}
.fastMessage .progressWrapperTable > div.label.good {
  color: rgb(var(--color-good));
}
.fastMessage .progressWrapperTable > div .progressCnt {
  float: left;
  height: 6px;
  background: #00A3F7;
}
.usericon {
  background: #F9F6F6;
  color: #647CA7;
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
  border-radius: 50%;
  height: 3em;
  width: 3em;
  text-align: center;
  line-height: 3em;
  font-size: 1em;
  overflow: hidden;
}
html *{cursor:pointer;box-sizing:border-box}body,html{overflow:hidden;width:100%;height:100%;background:#020e1b;font-family:'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif}.cnt{width:100%;overflow:hidden;position:static;left:0;right:0;top:0;bottom:0;z-index:5}.extra{position:absolute;right:.5em;bottom:.5em}.appc{position:absolute;left:.5em;bottom:.5em;height:20px;width:100%;opacity:.5;overflow:hidden}.appc .icon{float:left}.appc .aitm{float:left;font-size:.7em}.appc .aitm .label{font-weight:100}.appc .aitm .icon{padding-left:0}.appc .aitm .table{width:auto}.appc .aitm .table>div{padding:0;padding-top:0;vertical-align:top;color:#fff}.appc .aitm .table>div.icon{padding-left:0;padding-right:0;padding-top:0}.appc .aitm .table>div.label{padding-top:3px;padding-left:.5em}.table{width:100%;height:100%;display:table;table-layout:fixed}.table>div{display:table-cell}.fastMessage{font-size:.9em}.fastMessage .time{display:none}.fastMessage .messagethumbs{width:44px;height:44px;line-height:42px;border-radius:50%;border:1px solid #00a4ff;text-align:center;color:#00a4ff;margin-left:auto;font-size:.8em;background:rgba(0,0,0,0.3);box-shadow:0 5px 10px -5px rgba(0,0,0,0.4)}.fastMessage .messagestar{color:#ffae00;width:44px;height:44px;line-height:42px;border-radius:50%;border:1px solid #ffae00;text-align:center;margin-left:auto;font-size:.8em;background:rgba(0,0,0,0.3);box-shadow:0 5px 10px -5px rgba(0,0,0,0.4)}.fastMessage .messagestar[count='3']{color:#d0c9ca;border:1px solid #d0c9ca}.fastMessage .messagestar[count='2']{color:#f82c06}.fastMessage .messagestar[count='1']{color:#f41a4d}.fastMessage .transactionmessagewrapper>div{vertical-align:top}.fastMessage .transactionmessagewrapper>div.foramount{font-weight:700;text-align:right;color:#076c34;width:100px;font-size:.8em}.fastMessage .commentmessagewrapper>div{vertical-align:top}.fastMessage .commentmessagewrapper>div.foranswer{width:100px;text-align:right}.fastMessage .commentmessagewrapper .commenttext{cursor:pointer}.fastMessage .commentmessagewrapper .commenttext span{font-size:.8em;color:#e4ddde}.fastMessage .commentmessagewrapper .commentshare{display:none}.fastMessage .commentmessagewrapper .commentimages{padding-top:.5em}.fastMessage .commentmessagewrapper .commentimages .imagesContainer{overflow:hidden}.fastMessage .commentmessagewrapper .commentimages .imagesContainer>div{float:left;margin-bottom:.5em;margin-right:.5em;width:40px;height:40px;display:none}.fastMessage .commentmessagewrapper .commentimages .imagesContainer>div .image{width:100%;height:100%}.fastMessage .commentmessagewrapper .commentimages .imagesContainer>div:nth-child(1),.fastMessage .commentmessagewrapper .commentimages .imagesContainer>div:nth-child(2),.fastMessage .commentmessagewrapper .commentimages .imagesContainer>div:nth-child(3){display:block}.fastMessage .sharepreview .shareprwrapper>div{vertical-align:top;padding:.25em}.fastMessage .sharepreview .shareprwrapper>div.forimage{width:32px;padding-right:.5em;padding-left:0}.fastMessage .sharepreview .shareprwrapper>div.fortext{font-size:.9em;padding-left:0}.fastMessage .sharepreview .shareprwrapper>div.fortext span{font-size:.9em}.fastMessage .sharepreview .shareprwrapper>div.extra{width:100px}.fastMessage .sharepreview .shareprwrapper>div.extra div{font-size:.9em;float:right}.fastMessage .sharepreview .shareprwrapper>div .additionalcontent{font-size:.8em;padding-bottom:0;opacity:.5}.fastMessage .sharepreview .shareprwrapper .img{width:25px;height:25px;border-radius:50%;position:relative}.fastMessage .sharepreview .shareprwrapper .img .vstyle{position:absolute;left:20px;top:14px;font-size:.6em;color:#e4ddde}.fastMessage .sharepreview .shareimages{padding-top:.25em;padding-bottom:.25em}.fastMessage .sharepreview .shareimages .imagesContainer{overflow:hidden}.fastMessage .sharepreview .shareimages .imagesContainer>div{float:left;margin-right:.25em;overflow:hidden;border-radius:50%;width:24px;height:24px}.fastMessage .sharepreview .shareimages .imagesContainer>div .image{width:100%;height:100%;position:relative}.fastMessage .sharepreview .shareimages .imagesContainer>div .image .vstyle{position:absolute;right:.5em;bottom:.5em;font-size:.6em;color:#e4ddde;box-shadow:0 5px 7px -5px rgba(0,0,0,0.4)}.fastMessage .sharepreview:nth-last-child(1){border-bottom:0}.fastMessage .sharepreview:nth-child(1){padding-top:0}.fastMessage .foranswer{display:none}.fastMessage .subscribeWrapper>div.forsubscribe button{display:none}.fastMessage .cwrapper>div{vertical-align:middle}.fastMessage .cwrapper>div.cellforimage{width:50px;vertical-align:top}.fastMessage .cwrapper>div.extra{width:100px;vertical-align:bottom}.fastMessage .cwrapper>div.extra button{padding-top:0;text-align:right;width:auto}.fastMessage .cwrapper>div.extra button i{display:none}.fastMessage .cwrapper>div.extra button.disabled{color:#076c34;background:transparent}.fastMessage .cwrapper>div.extra button.disabled i{display:inline}.fastMessage .cwrapper>div.extra button.disabled:hover{background:transparent}.fastMessage .cwrapper>div .infomain{padding-left:.5em;padding-right:.5em}.fastMessage .gotoprofileWrapper{text-align:right;margin-top:.5em;min-width:170px;font-size:.8em}.fastMessage{height:100%;width:100%;color:#fff;overflow:hidden;font-size:1em;z-index:140}.fastMessage .caption{font-size:.9em}.fastMessage .fmCnt{padding:.5em .5em;padding-right:.5em;width:100%;height:100%;overflow:hidden;text-overflow:ellipsis}.fastMessage .close:hover{opacity:1}.fastMessage .close:before,.fastMessage .close:after{position:absolute;left:9px;content:' ';height:21px;width:2px;background-color:#e4ddde}.fastMessage .close:before{transform:rotate(45deg)}.fastMessage .close:after{transform:rotate(-45deg)}.fastMessage .close{position:absolute;right:.5em;top:.5em;width:21px;height:21px;opacity:.3}.fastMessage .close i{display:none}.fastMessage .fastMessageChat .user{font-weight:700;color:#ff6e84}.fastMessage .fastMessageChat .date{text-align:right}.fastMessage .fastMessageChat .dmessage{margin-bottom:.5em}.fastMessage .fastMessageChat .cantdecrypt{font-style:italic;font-size:.9em}.fastMessage .notification b{color:#ff6e84}.fastMessage .notification .date{margin-top:.5em;font-size:.9em}.fastMessage .notification .seenow{margin-top:1em}.fastMessage .dataWrapper>div{vertical-align:top;padding:.5em}.fastMessage .dataWrapper>div.userpicWrapper{padding-left:0;padding-right:0;width:40px}.fastMessage .smallusertext .text{font-size:.9em}.fastMessage .smallusertext .text .dataWrapper>div{vertical-align:middle}.fastMessage .progressWrapperTable>div{font-size:.9em;padding:.5em;padding-left:0;vertical-align:middle}.fastMessage .progressWrapperTable>div.label{padding:.5em 0;width:80px;text-align:center;font-weight:700}.fastMessage .progressWrapperTable>div.label.good{color:#076c34}.fastMessage .progressWrapperTable>div .progressCnt{float:left;height:6px;background:#00a3f7}.usericon{background:#f9f6f6;color:#647ca7;box-shadow:0 5px 10px -5px rgba(0,0,0,0.4);border-radius:50%;height:3em;width:3em;text-align:center;line-height:3em;font-size:1em;overflow:hidden}
