html.openapipnet {
  background: transparent!important;
}
html.openapipnet .calltoaction {
  margin-top: 0.5em;
  background: rgba(228, 221, 222, 0.1);
  padding: 1em;
  text-align: center;
}
html.openapipnet .calltoaction .text {
  padding: 0 1em;
}
html.openapipnet .calltoaction .text span {
  font-size: 0.8em;
}
html.openapipnet .calltoaction .buttonWrapper {
  padding: 1em;
}
html.openapipnet .headeropenapi {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
html.openapipnet .headeropenapi img {
  vertical-align: bottom;
}
html.openapipnet .headeropenapi .label {
  padding-left: 0.5em;
}
html.openapipnet .headeropenapi .label span {
  font-size: 0.8em;
  font-weight: 700;
}
html.openapipnet .calltoaction .text {
  max-width: 640px;
  margin: 0 auto;
}
.contentWrapper.openapipnet {
  overflow: hidden;
}
.contentWrapper.openapipnet #content {
  width: 100%;
  margin: 0 auto;
  max-width: 720px;
}
.contentWrapper.openapipnet #content.full {
  max-width: none;
  width: 100%;
  padding: 0;
}
.openapipnet #lenta .work {
  padding-right: 0;
  padding-left: 0;
  width: 100%!important;
}
.openapipnet #lenta .shares .share .videoTips {
  display: none!important;
}
.openapipnet #lenta .shares .share:nth-last-child(1) {
  margin-bottom: 0;
}
.openapipnet #comments .list .comment {
  margin-bottom: 0;
}
.openapipnet #lenta .shares .share.fullScreenVideo .work .panel {
  padding-top: 0.5em;
  padding-bottom: 0;
}
.openapipnet #lenta .shares .share.fullScreenVideo {
  position: relative;
  overflow: hidden;
}
.openapipnet #lenta .shares .share.fullScreenVideo .exitFull {
  position: static;
  width: 100%;
  background: #fff;
  border-radius: 0;
  color: #000;
  text-align: left;
  padding-left: 1.5em;
}
.openapipnet #lenta .shares .share.fullScreenVideo .url {
  margin-bottom: 0;
}
.openapipnet #lenta .shares .share.fullScreenVideo .exitFull {
  display: none;
}
.openapipnet #lenta .shares .share.fullScreenVideo .commentsWrapperHb {
  padding-bottom: 0;
  min-height: 0;
}
.openapipnet #comments.fromopenapi {
  background: #FAFAFA;
  padding: 1em;
}
.openapipnet #comments.fromopenapi .commentBody {
  padding-top: 0.5em;
}
