# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
**/node_modules
.vscode
.vs
dist
alukos
signaling_server
messenger/server/cert/key.pem
messenger/server/cert/cert.pem
pocketnet.zip
build/installer2.nsh
sign.txt
*.zip
messenger2/server/cert/key.pem
messenger2/server/address.js
js/app.local.js
lukos
alukos
performance/keys.txt
performance/main.js
css/master.css
js/mdls.js
js/join.js
js/vendor.js
js/vendor.min.js
js/join.min.js
web.config
web.config
publish.py
performance/changes.txt
nodeserver
**/settings
data
pocketcoin
pocketcoind*
dvma.p12
.env
.DS_Store
**/.git
.github

