<div id="<%-module.map.id%>">
	<% if(type == 'url') {%>
		<div class="url pg">

			<div class="caption">
				<%=e('e13098')%>
			</div>

			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>
			</div>
		</div>
	<% } %>
	<% if(type == 'poll') {%>
		<div class="poll pg">

			<div class="caption">
				<%=e('poll')%>
			</div>
			
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>
			</div>
		</div>
	<% } %>
	<% if(type == 'images') {%>
		<div class="images pg">
			<div class="caption">
				<%=e('e13099')%>
			</div>

			<div class="imagesWrapper">
				<div class="uploadWrapper">
					<div class="upload">
						<div class="title">
							<%=e('e13100')%>
						</div>
					</div>
				</div>
				<div class="imagesMi">
				</div>
			</div>
		</div>
	<% } %>
	<div class="error">
	</div>
</div>