<div id="<%-module.map.id%>">
	<% if(type == 'url') {%>
		<div class="url pg">

			<div class="caption">
				<%=e('e13098')%>
			</div>

			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!--<div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div>-->
			</div>
		</div>
	<% } %>
	<% if(type == 'poll') {%>
		<div class="poll pg">

			<div class="caption">
				<%=e('poll')%>
			</div>

			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
		</div>
	<% } %>
	<% if(type == 'images') {%>
		<div class="images pg">
			<div class="caption">
				<%=e('e13099')%>
			</div>

			<div class="imagesWrapper">
				<div class="uploadWrapper">
					<div class="upload">
						<div class="title">
							<%=e('e13100')%>
						</div>
						<!--<div class="subtitle">
							<%=e('e13101')%>
						</div>-->
					</div>
				</div>
				<div class="imagesMi">
				</div>
			</div>
		</div>
	<% } %>
	<% if(type == 'donate') {%>
		<div class="donate pg">
			<div class="caption">
				<%=e('e13096')%>
			</div>

			<div class="donateWrapper">
				<div class="transaction">
					<div class="user">
						<div class="iconWrapper">
							<div class="usericon" image="<%-sender || ''%>">
							</div>
						</div>					
					</div>
					<div class="step time" style="width:auto">
						<div class="stepWrapper table">
							<div class="timeline fixedwidth stepstatus" step="e0f90db5-7aa2-fd4a-14a2-ccff460823c9">
								<div class="timelineWrapper table">
									<div>
										<div class="timelinebg">
											<div class="timelinearrow">
												<i class="fa fa-circle"></i>
												<div class="timelinegill"></div>
												<i class="fa fa-chevron-right"></i>
											</div>

											<div class="balance">balance: <%-balance || 0%> PKOIN</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="user">
						<div class="iconWrapper">
							<div class="usericon" image="<%-receiver || ''%>">
							</div>
						</div>					
					</div>
				</div>
				<div class="inputWrapper">
					<%= options.donate.input() %>
				</div>		
			</div>
		</div>
	<% } %>
	

	<div class="error">
	</div>
</div>