<div id="<%-module.map.id%>">
	<% if(type == 'url') {%>
		<div class="url pg">

			<div class="caption">
				<%=e('e13098')%>
			</div>

			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!--<div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div>-->
			</div>
		</div>
	<% } %>
	<% if(type == 'poll') {%>
		<div class="poll pg">

			<div class="caption">
				<%=e('poll')%>
			</div>

			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
			<div class="linkWrapper table">
				<div class="inputWrapper">
					<%= options.url.input() %>
				</div>

				<!-- <div class="buttonWrapper">
					<div class="action url" action="url">
						<i class="fas fa-chevron-circle-right"></i>
					</div>
				</div> -->
			</div>
		</div>
	<% } %>
	<% if(type == 'images') {%>
		<div class="images pg">
			<div class="caption">
				<%=e('e13099')%>
			</div>

			<div class="imagesWrapper">
				<div class="uploadWrapper">
					<div class="upload">
						<div class="title">
							<%=e('e13100')%>
						</div>
						<!--<div class="subtitle">
							<%=e('e13101')%>
						</div>-->
					</div>
				</div>
				<div class="imagesMi">
				</div>
			</div>
		</div>
	<% } %>
	<% if(type == 'donate') {%>
		<div class="donate pg">
			<div class="caption">
				<%=e('e130961')%>
			</div>
			<div class="subcaption">
				<%=e('e130962')%>
			</div>

			<div class="donateWrapper">

				<div class="transaction">
					<div class="user">
						<div class="iconWrapper">
							<div class="usericon" image="<%-sender || ''%>">
							</div>
						</div>					
					</div>
					<div class="coinsWrapper">
						<div class="sender">
							<span>
								<%-balance || 0%> PKOIN
							</span>
						</div>
						<div class="chevron-right left"></div>
						<div class="chevron-right center"></div>
						<div class="chevron-right right"></div>
						<div class="receiver">
							<%= options.donate.input() %> 
							<span class="text">PKOIN</span>
						</div>
					</div>
					<div class="user">
						<div class="iconWrapper">
							<div class="usericon" image="<%-receiver || ''%>">
							</div>
						</div>					
					</div>
				</div>	
				<div class="subscription">
					<div class="sender">
						<%=e('yourbalance')%>
					</div>
					<div class="receiver">
						<%=e('sumoftransaction')%>
					</div>
				</div>
			</div>
		</div>
	<% } %>
	

	<div class="error">
	</div>
</div>