

<% if(fields) {
_.each(fields, function(field){
%>

<div class="metric-wrapper">
  <div class="wrapper">
    <div class="commentators">
                <span>
                  <%= e('commentatorsCount') %>
              </span>
      <div class="count">
        <%= field.commentators %>
      </div>
    </div>
    <div class="histreferals">
              <span>
                <%= e('referralsCount') %>
              </span>
      <div class="count">
        <%= field.histreferals %>
      </div>
    </div>
  </div>
</div>

<% })} else {%>

<h1><%= e('empty') %></h1>
<%}%>