
<div id="<%-module.map.id%>">

    <div class="statistic">
      <div class="top">
        <div class="title">
          <%= e('rstatistic') %>
        </div>
        <div class="form"></div>
      </div>
      <div class="block"></div>

      <div class="video">
        <div class="top">
          <div class="title">
            <%= e('video') %>
          </div>
        </div>
        <div class="blocks">
          <div class="leaderBoardContainer leaderBoardContainerViews">
            <div class="preloaderwr">
            <div class="preloader5"><img src="./img/three-dots.svg"/></div>
            </div>
          </div>
          <div class="leaderBoardContainer leaderBoardContainerUniqueUsers">
            <div class="preloaderwr">
            <div class="preloader5"><img src="./img/three-dots.svg"/></div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>