<div class="slideWrapper">

	<div class="subcaptionWrapperTableCnt">
		<div class="subcaptionWrapperTable table">
			<div class="subcaption">
				<span><%=e('waddresses').toUpperCase()%></span>
			</div>
			<div class="panel">
				
			</div>
		</div>
	</div>

	

	<div class="adressesTable captionTable table">
		<div class="name">
			<span><%=e('waddress').toUpperCase()%></span>
		</div>

		<div class="panel">
			
		</div>

		<div class="balance">
			<span><%=e('wbalance').toUpperCase()%></span>
		</div>

		<div class="percent">
			<span><%=e('wpercente').toUpperCase()%></span>
		</div>
		
	</div>

	<% _.each(addressesGroup, function(ag){


		if(!ag.details.length) return


	 %>

		<div class="addressesGroup">

			<% if(ag.caption) {%>

				<div class="addressesGroupCaption">
					<span><%- ag.caption %></span>
				</div>

			<% } %>

			<% _.each(ag.details, function(ad, i){ 
				
								
				%> 

				<div class="adressesTable table">
					<div class="name">
						<div class="addresscode">
							<span elementsid="walletcopyaddress2" class="copyaddress"><%- ad.address %></span> 
							<a elementsid="https://<%- app.meta.url %>/blockexplorer/address/<%- ad.address %>" external='external' href="https://<%- app.meta.url %>/blockexplorer/address/<%- ad.address %>"> 	<i class="fas fa-th toblockexplorer"></i>
							</a>
						</div>


						<% if(ag.label) {%>
						<div class="alabel"><%-ag.label%></div>
						<% } %>
					</div>

					<div class="panel">
			
					</div>
				

					<div class="balance">
						<span><%- app.platform.mp.coin(ad.balance) %></span>
					</div>

					<div class="percent">
						<% if(total > 0) {%>
							<span><%- (100 * ad.balance / total).toFixed(1) %> %</span>
						<% } else {%> 

							<span>&mdash;</span>

						<% } %>
						
					</div>
					
				</div>

			<% }) %>

		</div>

	<% }) %>

	<div class="bottomPanel">
		<div elementsid="walletaddaddress" class="item addaddress">
			<button><i class="fas fa-plus-circle"></i> <%=e('waddaddress')%></button>
		</div>
	</div>

</div>