<div class="slideWrapper buypkoin">

	<div class="subcaptionWrapperTableCnt">
		<div class="subcaptionWrapperTable table">

			<div elementsid="_stepbackBuy" class="_stepback"></div>

			<div class="subcaption">
				<span>Buy Pocketcoin (PKOIN)</span>
			</div>

			<div class="_subcaptionlevel">
				<span></span>
			</div>
		</div>
	</div>

	<div class="action">

		<div class="ways">
			<div class="wayf">

				<div class="row flx">
					<div class="fiat">
						<div class="clogo">
							<i class="fab fa-cc-visa"></i>
						</div>
						<div class="label">
							Visa
						</div>
					</div>

					
					<div class="fiat">
						<div class="clogo">
							<i class="fab fa-cc-mastercard"></i>
						</div>
						<div class="label">
							Mastercard
						</div>
					</div>
					
				</div>

				<div class="row table">
					<div class="reciever">
						<a elementsid="https://buy.pkoin.indacoin.io" href="https://buy.pkoin.indacoin.io/index?address=<%-a.address || ''%>">
							<button class="button orange"><i class="fas fa-chevron-circle-right"></i> Buy with credit card</button>
						</a>
					</div>
				</div>

			</div>

			<div class="wayf">

				<div class="row flx">
					<% _.each(coins, function(coin){ %>
						
						<div class="coin">
							<div class="clogo">
								<img src="./img/coins/<%-coin.image%>">
							</div>
							<div class="label">
								<%- coin.code %>
							</div>
						</div>
						
					<% }) %>
					
				</div>

				<div class="row table">

					<div class="reciever">
						<a elementsid="https://pkoin.net" href="https://pkoin.net/?address=<%-a.address || ''%>">
							<button class="button ghost"><i class="fas fa-chevron-circle-right"></i> Buy for crypto</button>
						</a>
					</div>
				</div>

			</div>


			

		</div>
	
		
	</div>

</div>