<div class="slideWrapper buypkoin">

	
	<div class="subcaptionWrapperTableCnt">
		<div class="subcaptionWrapperTable table">

			<div elementsid="_stepbackBuy" class="_stepback"></div>

			<div class="subcaption">
				<span><%=e('buylogo')%></span>
			</div>

			<div class="_subcaptionlevel">
				<span></span>
			</div>
		</div>
	</div>

	

	<div class="action">
		

		<!--<div class="ways">
			<div class="wayf">

				<div class="row ">
					<div class="wrp">
						<div class="subcaption">
							<span><%=e('buyusers')%></span>
						</div>
					</div>
				</div>

				<div class="row table">
					<div class="wrp">
						<div class="flxbtn">

							<div class="flxbtnlbk">
								<span><%- e('pkoin_commerce_info') %></span>
							</div>

							<div class="actionbutton">
								<a href="index?sst=pkoin_commerce">
									<button class="button medium orange"><i class="fas fa-hashtag"></i> <%=e('buypeertopeer')%></button>
								</a>
							</div>
							
						</div>
					</div>
				</div>

			</div>

		</div>-->

		<div class="ways">
			<div class="wayf">
				<div class="row ">
					<div class="wrp">
						<div class="subcaption">
							<span><%=e('buypkoinexchnage')%></span>
						</div>
					</div>
				</div>
				<div class="row table">
					<div class="wrp">
						<div class="flxbtn">

							<div class="flxbtnlbk">
								<span><%- e('buypkoinexchnage_info') %></span>
							</div>

							<div class="actionbutton">
								<a href="application?id=p2p.pkoin.app">
									<button class="button medium orange"><i class="fas fa-tools"></i> <%=e('buypkoinexchnagep2p')%></button>
								</a>
							</div>
							
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="ways">

			

			<div class="wayf">

				<div class="row ">
					<div class="wrp">
						<div class="subcaption">
							<span><%=e('buyviacrypto')%></span>
						</div>
					</div>
				</div>

				<div class="row flx">
					<% _.each(coins, function(coin){ %>
						
						<div class="coin">
							<div class="clogo">
								<img src="./img/coins/<%-coin.image%>">
							</div>
							<div class="label">
								<%- coin.code %>
							</div>
						</div>
						
					<% }) %>
					
				</div>

				<div class="row table">

					<div class="reciever">
						<a elementsid="https://pkoin.net" href="https://pkoin.net/?address=<%-address || ''%>">
							<button class="button medium black"><i class="fas fa-chevron-circle-right"></i> <%=e('buyforcrypto')%></button>
						</a>
					</div>
				</div>

			</div>


			

		</div>

		


		<div class="ways">
			<div class="wayf">
				<div class="row ">
					<div class="wrp">
						<div class="subcaption">
							<span><%=e('buycard')%></span>
						</div>
					</div>
				</div>
				<div class="row table">
					<div class="wrp">
						<div class="flxbtn">

							<div class="flxbtnlbk">
								<span><%- e('pkoin_application_info') %></span>
							</div>

							<div class="actionbutton">
								<a href="application?id=swipelux.app">
									<button class="button medium"><i class="fas fa-tools"></i> <%=e('buyswipelux')%></button>
								</a>
							</div>
							
						</div>
					</div>
				</div>

			</div>

		</div>

		
	
		
	</div>

</div>