<div class="depositaddress">

	<div class="linksubcaption"><%=e('wcopyshareorcreate')%></div>

	<div class="adrwrapper">
		<div class="adr"><%-address%></div>
	</div>

	<div class="adrwrapper">
		<div class="row table">

			<div class="cell">
				<button elementsid="wdgetlink" class="getlink">
					<i class="fas fa-link"></i> <%=e('wdgetlink')%>
				</button>
			</div>

			<div class="changer">
			</div>

			<!--<div class="cell"> 

				<button elementsid="wdqrcode" class="qrcode">
					<i class="fas fa-qrcode"></i> <%=e('wdqrcode')%>
				</button>

			</div>

			<div class="changer">
			</div>-->

			<div class="cell"> 

				<button elementsid="wdcopyaddress" class="copyaddress">
					<i class="fas fa-clone"></i> <%=e('wdcopyaddress')%>
				</button>

			</div>
			
		</div>
	</div>



</div>

