<div class="listcr">
	<div class="header">
		<div class="item table">
			<div class="amount">
				<span><%=e('amount')%></span>
			</div>

			<div class="address">
				<span><%=e('e13213')%></span>
			</div>

			<div class="update">
			</div>

			<div class="status">
				<span><%=e('process')%></span>
			</div>
			<div class="remove">
				
			</div>
		</div>
	</div>
	<% _.each(list, function(l){ %>

		<div class="item table" item="<%-l.info.address%>">

			<div class="amount">
				<span><%- app.platform.mp.coin(l.info.amount)  %> PKOIN</span>
			</div>

			<div class="address">
				<span><%- l.pocaddress %></span>
			</div>

			<div class="update">
				<div elementsid="updatecr" class="updatecr">
					<span><i class="fas fa-sync"></i></span>
				</div>
			</div>

			<div class="status">
			</div>
			<div class="remove">
				<div elementsid="removecr" class="removecr">
					<i class="far fa-trash-alt"></i>
				</div>
			</div>
		</div>
		
	<% }) %>
</div>