<div class="total slide fadeInByElement">
    <div class="tttl">
    </div>
    
    <div class="tttlforerror <% if(self.app.errors.connection()) {%> active <% } %>">
        <div class="table"><div>

            <div class="caption">
                <span>
                    <%=e('funetworkproblems')%>
                </span>
            </div>
            <div class="subc">
                <i class="fas fa-wifi"></i>
            </div>

        </div></div>
       
    </div>
</div>

<div class="htls slide fadeInByElement">
</div>

<div class="send slide fadeInByElement">
</div>

<div class="buy slide fadeInByElement">
</div>

<div class="deposit slide fadeInByElement">
</div>
<!--
<div class="crowdfunding slide fadeInByElement">
</div> -->

<div class="addresses slide fadeInByElement">
</div>