<% 

	var status = info.Status;

%> 

<div class="pocstatus">

	<div class="current">
	</div>

	<div class="statustable table">

		<% _.find(segments, function(segment){ 

			if(segment.exclude == status) return false

			if(segment.exclude == 'all' && segment.id != status) return false

			var l = '';

			if (segment.label) l = segment.label(status, info, addressobject)
		%>

			<div class="segment" segment="<%-segment.id%>">
				<div class="segmenttable table">

					<% if(l) {%>

						<div class="labelWrapper">
							<%=l%>
						</div>

					<% } %>

					<div class="lineWrapper">
						<div class="linebg">
							<div class="line">
							</div>
						</div>
					</div>

					<div class="iconWrapper">
						<% if(segment.finish) {%>

							<% if(segment.class == 'bad') {%>

								<div class="iended finishbad">
									<i class="far fa-times-circle"></i>
								</div>

								<div class="iwaiting">
									<i class="fas fa-circle"></i>
								</div>
								

							<% } else { %>
								<div class="iended">
									<i class="fas fa-check-circle"></i>
								</div>

								<div class="iwaiting">
									<i class="fas fa-circle"></i>
								</div>
								

							<% } %>

						<% } else { %>

							<div class="iended finish">
								<i class="far fa-check-circle"></i>
							</div>

							<div class="iwaiting">
								<i class="far fa-circle"></i>
							</div>
						
						<% } %>
					</div>
				</div>
			</div>

		<% 

			if(segment.id == status && (segment.finish || segment.exclude == 'all')) return true

		}) %>

		
	</div>

</div>