<div class="slideWrapper">

	<div class="subcaptionWrapperTableCnt">
		<div class="subcaptionWrapperTable table">

			<div elementsid="_stepbackSend" class="_stepback"></div>

			<div class="subcaption">
				<span><%=e('wsend').toUpperCase()%></span>
			</div>

			<div class="_subcaptionlevel">
				<span></span>
			</div>
		</div>
	</div>

	<div class="action">

		<div class="row table">
			<div class="source">
				<div class="labelWrapper">
					<%= d.parameters.source.name %>
				</div>
			</div>

			<div class="changer">
				
			</div>

			<div class="reciever workstation">
				<div class="labelWrapper workstation">
					<%= d.parameters.reciever.name %> <span class="required hidden">*<%=e('required')%></span> <span class="notvalidaddress"></span>
				</div>
			</div>
		</div>

		<div class="row table">
			<div class="source">
				
				<div class="inputWrapper">
					<%= d.parameters.source.input() %>
				</div>
			</div>

			<div class="changer">
				<div elementsid="sendchange" class="change">
					<i class="fas fa-exchange-alt"></i>
				</div>
			</div>

			<div class="reciever">
				
				<div class="labelWrapper mobiledevice abs">
					<%= d.parameters.reciever.name %> <span class="required hidden">*<%=e('required')%></span> <span class="notvalidaddress"></span>
				</div>

				<div class="inputWrapper">
					<%= d.parameters.reciever.input() %>
				</div>
			</div>
		</div>

		<div class="row table">
			<div class="amount">
				<div class="labelWrapper">
					<%= d.parameters.amount.name %> <span class="required hidden">*<%=e('required')%></span>
				</div>
			</div>

			<div class="changer ">
			
			</div>

			<div class="reciever workstation">
				<div class="labelWrapper workstation">
					<%= d.parameters.message.name %>
				</div>
			</div>
		</div>

		<div class="row table">
			<div class="amount">
				<div class="inputWrapper">
					<%= d.parameters.amount.input() %>
				</div>
			</div>

			<div class="changer">
			
			</div>

			<div class="reciever">
				<%= d.parameters.message.input() %>
			</div>
		</div>

		<div class="row table">
			<div class="amount">
			</div>

			<div class="changer changerremove">
			
			</div>

			<div class="sendcoins"> 
				<button elementsid="sendcalculateFee" class="calculateFee"><i class="fas fa-chevron-circle-right"></i> <%=e('calcfeesandsend')%></button>
			</div>
		</div>
		
	</div>

	<div class="actionbody fadeInByElementStep">
			
	</div>

	<div elementsid="_stepclosefadeInByElementStepSend" class="_stepclose fadeInByElementStep"></div>

</div>