<div class="slideWrapper stakepkoin">

	<div class="subcaptionWrapperTableCnt">
		<div class="subcaptionWrapperTable table">

			<div elementsid="_stepbackBuy" class="_stepback"></div>

			<div class="subcaption">
				<span><%=e('stakelogo')%></span>
			</div>

			<div class="_subcaptionlevel">
				<span></span>
			</div>
		</div>
	</div>

	

	<div class="action">
		

		<div class="ways">
			<div class="wayf">

				<div class="row ">
					<div class="wrp">
						<div class="subcaption">
							<span><%=e('stakewrap')%></span>
						</div>
					</div>
				</div>

				<div class="row table">
					<div class="wrp">
						<div class="flxbtn">

							<div class="flxbtnlbk">
								<span><%- e('pkoin_stake_info') %></span>
							</div>

							<div class="actionbutton">
								<a href="application?id=wpkoin.app&p=6f76657276696577">
									<button class="button medium orange"><i class="fas fa-coins"></i> <%=e('stakewpkoin')%></button>
								</a>
							</div>
							
						</div>
					</div>
				</div>

			</div>

		</div>	
		
	</div>

</div>