<div class="reputation">

    <% var type = app.platform.ui.usertype(address) %>

    <div class="reputationblock">
        <div class="blockswrapper">
            <div class="metricablockwrapper">
                <div class="metricablock">
                    <div class="blockWrapper">
                        <div class="blockContentWrapper">
                            <div class="blockContent">
                                <div class="vidgetNameWrapper">

                                    <div class="vidgetNameWrapperTable table">
                                        <div class="cellleft"><span>
                                                <%=e('rstate')%>
                                            </span></div>
                                        <div class="cellright">

                                            <% if(reputation) {%>

                                                <div class="reputationCount">
                                                    <span><b>
                                                            <%- reputation.toFixed(1) %>
                                                        </b> <i class="far fa-star"></i></span>
                                                </div>

                                                <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="vidgetIconWrapper">
                                    <div class="vidgetIcon">
                                        <div class="table">
                                            <div>
                                                <div class="unspentWrapper repv">
                                                    <% if(reputation) {%>
                                                        <span class="value">
                                                            <%- reputation.toFixed(1) %>
                                                        </span>
                                                    <% } else { %>

                                                        0

                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="metricablockwrapper">
                <div class="metricablock">
                    <div class="blockWrapper">
                        <div class="blockContentWrapper">
                            <div class="blockContent">
                                <div class="vidgetNameWrapper">

                                    <div class="vidgetNameWrapperTable table">
                                        <div class="cellleft"><span>
                                                <%=e('e13049')%>
                                            </span></div>
                                        <div class="cellright">

                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="vidgetIconWrapper">
                                    <div class="vidgetIcon">
                                        <div class="table">
                                            <div>
                                                <div class="unspentWrapper repd">
                                                    <b>
                                                        <% if(type) {%>

                                                            <%- e('stp' + type) %>


                                                        <% } else { %> 

                                                            <% if(mestate.trial) {%>

                                                                <%- e('stp') %>

                                                            <% } else { %> 
                                                                
                                                                <%- e('stpg') %>
                                                                
                                                            <% } %>
                                                            
                                                        <% } %>
                                                    </b>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% 
        
        
        if(mestate && mestate.trial && !type) {%>

            <div class="reputationtip">

                <div class="textpart">
                    <%- e('trialreputationtip') %>
                </div>

                <div class="buttonWrapper">
                    <a href="help?page=faq&id=starsystem">
                        <button class="button"><%- e('trialreputationtipaction') %></button>
                    </a>
                </div>
                
            </div>

        <% } %>
    </div>

    <% if(!reputation && app.errors.connection()) {%>

        <div class="connectionFailed">
            <i class="fas fa-wifi"></i>
        </div>

    <% } %>
</div>