<div class="blockswrapper">

    <% if(waitActions) { 
        
        var requested = false;


        if(typeof address != 'undefined') requested = self.app.settings.get(address, 'request')
        
       

        %>

        <div class="wait">
            <div class="waitCnt">
                <div class="waitTable table">

                    <div class="waitCell">


                        <% if(app.errors.connection()) {%>

                                <div class="label">
                                    <i class="fas fa-wifi"></i>   
                                </div>
                                
                                <div class="ltl">
                                    <%=e('funetworkproblems')%>
                                </div>

                        <% } else {%> 

                            <% if(waitActions == 'inf') { %>

                                <% if(requested && _.isEmpty(mestate)) {%>

                                    <div class="label">
                                        <%= e('creatingpreloader') %>  

                                    </div>

                                    <div class="">
                                        <div class="preloader5"><img src="./img/three-dots.svg"/></div>
                                    </div>
        
                                <% } else { %> 

                                    <div class="label">
                                        <%= e('noMoneyError') %>  
                                    </div>
        
                                    <div class="recieve">
                                        <a elementsid="userpage?id=wallet&action=recieve" href="userpage?id=wallet&action=recieve">
                                            <button class="black medium"><%=e('e13197')%></button>
                                        </a>
                                    </div>
                                    
                                <% } %>

                                
                                
    
                            <% } else { %> 
    
                                <div class="label">
                                    <%= e('canSpendError') %>  
                                </div>
                                
                                <div class="time">
                                    <%=e('e13198')%> <b><%-waitActions%></b> <%- pluralform(waitActions, ['minute', 'minutes']) %> 
                                </div>
    
                            <% } %>
                            
                        <% } %>

                        

                    </div>

                </div>
            </div>
        </div>

    <% } else { %> 

        <% 

            _.each(metrics, function(metrica){ 

                if(metrica.if && !metrica.if()) return

                var b = '';

                if(metrica.bad(l)) b = 'bad'

            



        %> 

        <div class="metricablockwrapper">

            <div class="metricablock <%-metrica.vis%> <%-b%> <%-metrica.key%>">
                <div class="blockWrapper">
                    <div class="blockContentWrapper">
                        <div class="blockContent">
                            <div class="vidgetNameWrapper">
                                <span><%- metrica.name %></span>
                            </div>
                            <div class="vidgetIconWrapper">
                                <div class="vidgetIcon">

                                    <% if(metrica.vis == 'scale') {

                                        var l = Number(mestate[metrica.key + "_unspent"] || 0)
                                        var s = Number(mestate[metrica.key + "_spent"] || 0)
                            
                                        var t = l + s
                            
                                        if (t == 0){
                                            t = 1;
                                            l = 0;
                                        }   

                                    %>
                                
                                
                                    <div class="table">
                                        <div>
                                            <div class="unspentWrapper">
                                                <span class="value <%-b%>"><%- l %></span><span>/<%- t %></span>
                                            </div>
                                        </div>
                                    </div>

                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>

        <% }) %>

    <% } %>


</div>