#post .forurl > .url {
  position: relative;
}
#donateAnimations.animation {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  display: none;
  opacity: 0;
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  min-width: auto;
  transition: opacity 0.25s ease-in-out;
  text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  text-shadow: 1px 1px #000;
  -webkit-text-shadow: 1px 1px #000;
  z-index: -1;
}
#donateAnimations.animation .animation-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#donateAnimations.animation .image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#donateAnimations.animation .message {
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0.5em;
}
#donateAnimations.animation.fadeIn,
#donateAnimations.animation.fadeOut {
  display: block;
  opacity: 1;
  z-index: 100;
}
#donateAnimations.animation.fadeOut {
  opacity: 0;
}
