@import "../../css/__cssvar";

#easynode{
  .mwork{
  
  }

  .actionWrapper{
    padding : 9 * @rhythm 0;
    margin-top: 7 * @rhythm;
    padding-top: 7 * @rhythm;
    text-align: center;
    border-top: 1px solid rgb(197, 194, 194);  
    border-bottom: 1px solid rgb(197, 194, 194);  

    .button{
      text-decoration: underline;
      color: #0f72bb;
      font-weight: 700;
      font-size: 4rem;
      cursor: pointer;

    }
  }

  .container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .faq{
    .container{
      max-width: 800px;
    }
  }

  .calcWrapper{
    margin-top: 0;
    padding-top:@rhythm * 8;
    border-top: 1px solid rgb(197, 194, 194);  
    
    .calc{
      max-width: 800px;
      margin: 0 auto;

    }



    .numbers{
            
      .inputWrapper{
        padding : 2 * @rhythm;
      }

      .amredits{
          background: @color-yellow;
          padding: 0.5 * @rhythm @rhythm;
          border : 1px solid @color-pink;
          border-radius: 10px;
          outline: none;
      }

      .ihave{
          font-weight: 700;
      }
    }

    .totalNumbers{
        background: fade(@color-gray-mlight, 10);
        padding : 3 * @rhythm 0;
        overflow: hidden;
        .totalRow{
            float: left;
            width: 50%;
            .label{
                
                span{
                    font-size: 0.8em;
                    font-weight: 700;
                }
            }

            .value{
                
                span{
                    font-size: 2.2em;
                    font-weight: 100;

                    &.cur{
                        font-weight: 300;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .calculatordummy,
    .calculator{
        position: relative;
    }

    .calculatordummy{
        min-height: 80px;

        .calculatordummytext{
            padding : 2 * @rhythm;

            span{
                font-size: 0.8em;
                font-weight: 700;
                color : @color-contrast;
            }
        }
    }
    .chwr{
      position: absolute;
      right : @rhythm;
      top : 2 * @rhythm;
    }

    .rcptwrp{
      background: #fff;
      position : relative;
      border-radius: 3px;
    }   


    .earnlabel{
      padding : 1.5 * @rhythm 2 * @rhythm;
      padding-top : 0;
      font-weight: 700;
      color : @color-brick;
      cursor: pointer;

      span{
          font-size: 0.8em;
      }
    }

    .calcCaption{
      padding : 1.5 * @rhythm 2 * @rhythm;
      font-weight: 700;
      color : @color-bright;

      span{
        font-size: 1.5em;
      }
    }

 }


  .header {
    margin-top: 10 * @rhythm;
    padding-bottom: 4 * @rhythm;
    
    font-size: 1.2em; 
  }

  h2{
    font-size: 2.5em;
    color: #ff4800;
  }

  h3{
    font-size: 2.5em;
    margin-top: 30px;
  }

  .video {
    max-width: 1024px;
    min-height: 600px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__container {
      max-width: 800px;
      //min-height: 600px;
      height: 100%;
      width: 100%;
      text-align: center;    


    }

    &__content {
      min-height: 520px;
      height: 100%;

      //margin: 10px 0;
    }

  }

  .faqWrapper{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: @rhythm * 4;
    padding-top: @rhythm * 4;

    img{
      border-radius: 10px;
      border: 1px solid fade(@color-gray-mlight, 20);
      .shadowSmaller();
    }

    .faq{
      padding: 0 20px;

      .group{
        margin-bottom: 4 * @rhythm;
  
        .groupCaption{
          font-size: 2.5em;
          font-weight: 700;
          padding-bottom: @rhythm;
          color : @color-orange;
        }
  
        
  
        .groupCnt{
          .question{
            font-size: 1.5em;
            padding-bottom: 6 * @rhythm;
            max-width: 700px;
  
            .questiontop{
              display: flex;
              justify-content: space-between;
            }
  
            .questionName{
              padding-bottom: 2 * @rhythm;
              font-weight: 700;
              color : @color-gray;
              font-size: 1.5em;
              max-width: 85%;
            }
  
            .answer{
              font-size : 0.8em;
              padding-bottom: 20px !important;
  
              a{
                text-decoration: underline;
                color : @color-main;
              }
              .image{
                width:100% !important;
                max-width: 700px;
                position: relative;
                img{
                  width:100% !important;
                }
              }
  
              div{
                padding-bottom: @rhythm;
              }
            }
  
            .share{
              margin-top: @rhythm;
              color : #ff6e84;
              font-size: 0.7em;
              cursor: pointer;
              &:hover{
  
                color : @color-main;
              }
              span{
                padding-right: 2px;
              }
            }
  
            .icon{
              background: @color-main;
              color : #fff;
              cursor: pointer;
              .transition(0.3s);
              width: 44px;
              height: 44px;
              line-height: 44px;
              text-align: center;
              border-radius: 50%;
              font-size: 0.6em;
  
              &:hover{
                background : @color-contrast;
              }						
  
              i{
                
              }
            }
          }
        }
      }
    }


	}


  @media (max-width: 400px){
    .video{ 
      max-width: 100%;
      min-height: 100%;
      .video__content{
        max-width: 100%;
        min-height: 100%;
        margin: 20px 0;
      }
    }
  }
}


.wndeasynode{
  .wndinner{
    width: 90%;
    max-width: 860px;
    height: 95%;
  }

  #easynode{
    .header{
      margin-top : 0;
      border-top : 0;
    }

    .container{
      padding-top : 0;
    }
  }
}