@import "../../css/__cssvar";

#help{
	padding-bottom : 8 * @rhythm;
	font-size: 0.9em;
	.tips{
		padding-top : 2 * @rhythm;
		overflow: hidden;
		.tipitem{
			float: left;
			margin-right: 6 * @rhythm;
			margin-left: 2px;
			cursor: pointer;
			font-size: 1.2em;

			&:hover,
			&.active{
				border-bottom: 1px solid #fff;
			}
		}
	}


	.bgCaption{
		background : rgba(0,163,247,.15);
		.cell{
			padding-top : 5 * @rhythm;
			vertical-align: top;

			&.version{
				width: 230px;
				.infoversion{
					padding-top : 4 * @rhythm;
					font-size: 0.8em;
					text-align: right;
				}

				.checkversion{
					cursor: pointer;

					&:hover{
						color : @color-gray-light;
					}
				}
				
				.checking{
					display: inline-block;
					width : 30px;
					text-align: center;
					opacity: 0;

					&.active{
						opacity: 1;
					}
				}
				
			}
		}
	}

	.section{
		padding-bottom: 6 * @rhythm;
		margin-top: 6 * @rhythm;
		overflow: hidden;
		border-bottom: 1px solid @color-gray-slight;

		&:nth-last-child(1){
			border-bottom : 0;
		}

		>div{
			&.sectionname{
				width: 420px;
				float: left;

				span{
					font-size: 2em;
				}
			}
			&.sectioncnt{
				
				margin-left: 420px;

				.p{
					max-width: 600px;
					margin-top: @rhythm;
					font-size: 1.1em;
				}
			}
		}


	}

	.page{
		.caption{
			margin-top: 4 * @rhythm;
			font-size: 1.5em;
			font-weight: 700;
		}

		.roadmap{
			margin-top: 4 * @rhythm;
			max-width: 640px;
			.road{
				>div{
					padding : 2 * @rhythm;

					&.time{
						width: 140px;
					}

					&.released{
						color : @color-good;
						font-weight: 500;
						width: 50px;
						text-align: center;
					}

					&:nth-child(1){
						padding-left: 0;
					}
				}	


			}
		}

		.readmore{
			margin-top: 5em;
			font-size: 1em;

			a{
				color: @color-main;
				text-decoration: underline;
			}
		}

		

		.lentasection{
			>div{
				&.sectionname{
					width: 160px;
					padding-top : 2 * @rhythm;
				}

				&.sectioncnt{
					max-width: 800px;
					margin-left: 160px;

				}
			}

			.lenta{
				#lenta{
					.shares{
					 	.share{
					 		padding : 0;
							padding : 3 * @rhythm;
							// border : 1px solid @color-gray-slight;
							border-radius: @rhythm;
					 	}
					}
				}
			}
		}
	}
	.page{
		#comments{
			.caption{
				font-size: 1em;
				margin-top : 0;
			}
		}
	}
	
}

.pkoinWrapper{

	.loader{
		margin-top: 2em;
	}

	.caption{
		margin-bottom: 1em
	}

	.field{
		display: flex;
		flex-wrap: wrap;

		.name{
			max-width: 500px;
			width: 100%;
			padding-top: .5em;
			padding-bottom: .5em;
		}

		.value{
			padding: @rhythm;
			color: @color-main;
			font-weight: 700;
			word-break: break-all;
		}
	}
	table{

		margin-top: 1.5em;
	

		tbody{
			margin-top: 1em;
		}
		
		th{
			text-align: start;
		}

		th, .name{
			width: 500px;
			padding: 1.5em .5em;
		}

		.copyaddress{
			cursor: pointer;
		}

		.balance{
			font-weight: 100;
		}

		.toblockexplorer{
			font-size: 0.8em;
			color : @color-gray-slight;
			.transition(0.3s);
			cursor: pointer;
			width: 30px;
			text-align: center;
	
			&:hover{
				color : @color-main;
			}
		}

		.addressesGroup{
			border-bottom: 1px solid #D9D9D9;

			&.hdr{
				border-bottom: 1px solid @color-main;
				
				th{
					padding-top : 4 * @rhythm;
					padding-bottom : 4 * @rhythm;
				}
			}

			&.dt{
				&:nth-last-child(1){
					border-bottom : 0;
				}
			}

			.th-balance,
			.balance{
				padding: @rhythm;
				padding-left: 0;
				span{
					font-size: 2.5em;
				}
			}

			td{
				vertical-align: middle;
			}
		}
	}


}

@media only screen and (max-width: 768px) {
#help{

	.pkoinWrapper{
		.balance, .th-balance{
			display: none;
		}
		.value{
			padding-left: 0;
		}
	}

	.bgCaption{
		height: auto;
		.infomain{
			.caption{
				font-size: 1em;
				padding : @rhythm;
				text-align: left;

				b{
					font-size: 1.9em;
				}
			}
		}
		
	}

	.tips{
		overflow: hidden;
		.tipitem{
			width: 100%;
			float: none;
			margin-right: 0;
			margin-left: 0;
			padding : @rhythm;
			text-align: left;
		}
	}

	

	.section{
		padding-bottom: 2 * @rhythm;
		margin-top: 2 * @rhythm;
		overflow: hidden;
		border-bottom: 1px solid @color-gray-slight;

		&:nth-last-child(1){
			border-bottom : 0;
		}

		>div{
			&.sectionname{
				width: 100%;
				float: none;

			}
			&.sectioncnt{
				margin-left: 0;
			}
		}


	}

	
	.page{
		padding : @rhythm;
		.caption{
			margin-top: 4 * @rhythm;
			font-size: 1.5em;
			font-weight: 700;
		}

		.roadmap{
			margin-top: 4 * @rhythm;
			.road{
				>div{

					&.time{
						width: 110px;
					}
				}
			}
		}


		.lentasection{
			>div{
				
	
				&.sectioncnt{
					margin-left: 0;
	
				}
			}
	
		}
	
	}
}	
}