#help {
  padding-bottom: 4em;
  font-size: 0.9em;
}
#help .tips {
  padding-top: 1em;
  overflow: hidden;
}
#help .tips .tipitem {
  float: left;
  margin-right: 3em;
  margin-left: 2px;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}
#help .tips .tipitem.bright {
  background: rgb(var(--color-bg-orange));
  border-radius: 33px;
  padding-left: 1em;
  padding-right: 1em;
}
#help .tips .tipitem:hover,
#help .tips .tipitem.active {
  border-bottom: 1px solid rgb(var(--text-on-bg-shadow-color));
}
#help .tips .tipitem:hover.bright,
#help .tips .tipitem.active.bright {
  border-bottom: 1px solid rgb(var(--color-bg-orange));
}
#help .bgCaption {
  background: rgb(var(--color-shadow-base));
}
#help .bgCaption .cell {
  padding-top: 2.5em;
  vertical-align: top;
}
#help .bgCaption .cell.version {
  width: 230px;
}
#help .bgCaption .cell.version .infoversion {
  padding-top: 2em;
  font-size: 0.8em;
  text-align: right;
}
#help .bgCaption .cell.version .checkversion {
  cursor: pointer;
}
#help .bgCaption .cell.version .checkversion:hover {
  color: rgb(var(--neutral-grad-4));
}
#help .bgCaption .cell.version .checking {
  display: inline-block;
  width: 30px;
  text-align: center;
  opacity: 0;
}
#help .bgCaption .cell.version .checking.active {
  opacity: 1;
}
#help .section {
  padding-bottom: 3em;
  margin-top: 3em;
  overflow: hidden;
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
}
#help .section:nth-last-child(1) {
  border-bottom: 0;
}
#help .section > div.sectionname {
  width: 420px;
  float: left;
}
#help .section > div.sectionname span {
  font-size: 2em;
}
#help .section > div.sectioncnt {
  margin-left: 420px;
}
#help .section > div.sectioncnt .p {
  max-width: 600px;
  margin-top: 0.5em;
  font-size: 1.1em;
}
#help .page .caption {
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: 700;
}
#help .page .roadmap {
  margin-top: 2em;
  max-width: 640px;
}
#help .page .roadmap .road > div {
  padding: 1em;
}
#help .page .roadmap .road > div.time {
  width: 140px;
}
#help .page .roadmap .road > div.released {
  color: rgb(var(--color-good));
  font-weight: 500;
  width: 50px;
  text-align: center;
}
#help .page .roadmap .road > div:nth-child(1) {
  padding-left: 0;
}
#help .page .readmore {
  margin-top: 5em;
  font-size: 1em;
}
#help .page .readmore a {
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
#help .page .lentasection {
  position: relative;
  min-height: 500px;
}
#help .page .lentasection .guidesSection {
  position: absolute;
  top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#help .page .lentasection .postGuideButton {
  width: 100%;
  color: rgb(var(--color-txt-gray-dark));
  background-color: transparent;
  border: none;
  text-align: start;
}
#help .page .lentasection .postGuideButton:hover {
  text-decoration: underline;
}
#help .page .lentasection .share {
  background-color: rgb(var(--background-secondary-theme));
}
#help .page .lentasection > div.sectionname {
  width: 160px;
  padding-top: 1em;
}
#help .page .lentasection > div.sectioncnt {
  max-width: 800px;
  margin-left: 160px;
}
#help .page .lentasection .lenta #lenta .shares .share {
  padding: 0;
  padding: 1.5em;
  border-radius: 0.5em;
}
#help .page #comments .caption {
  font-size: 1em;
  margin-top: 0;
}
.pkoinWrapper .loader {
  margin-top: 2em;
}
.pkoinWrapper .caption {
  margin-bottom: 1em;
}
.pkoinWrapper .field {
  display: flex;
  flex-wrap: wrap;
}
.pkoinWrapper .field .name {
  max-width: 500px;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pkoinWrapper .field .value {
  padding: 0.5em;
  color: #00a4ff;
  font-weight: 700;
  word-break: break-all;
}
.pkoinWrapper table {
  margin-top: 1.5em;
}
.pkoinWrapper table tbody {
  margin-top: 1em;
}
.pkoinWrapper table th {
  text-align: start;
}
.pkoinWrapper table th,
.pkoinWrapper table .name {
  width: 500px;
  padding: 1.5em 0.5em;
}
.pkoinWrapper table .copyaddress {
  cursor: pointer;
}
.pkoinWrapper table .balance {
  font-weight: 100;
}
.pkoinWrapper table .toblockexplorer {
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-2));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 30px;
  text-align: center;
}
.pkoinWrapper table .toblockexplorer:hover {
  color: rgb(var(--color-txt-ac));
}
.pkoinWrapper table .addressesGroup {
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
}
.pkoinWrapper table .addressesGroup.hdr {
  border-bottom: 1px solid rgb(var(--color-bg-ac));
}
.pkoinWrapper table .addressesGroup.hdr th {
  padding-top: 2em;
  padding-bottom: 2em;
}
.pkoinWrapper table .addressesGroup.dt:nth-last-child(1) {
  border-bottom: 0;
}
.pkoinWrapper table .addressesGroup .th-balance,
.pkoinWrapper table .addressesGroup .balance {
  padding: 0.5em;
  padding-left: 0;
}
.pkoinWrapper table .addressesGroup .th-balance span,
.pkoinWrapper table .addressesGroup .balance span {
  font-size: 2.5em;
}
.pkoinWrapper table .addressesGroup td {
  vertical-align: middle;
}
/*t*/
@media only screen and (max-width: 768px) {
  #help .roadmapWrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
  #help .pkoinWrapper .balance,
  #help .pkoinWrapper .th-balance {
    display: none;
  }
  #help .pkoinWrapper .value {
    padding-left: 0;
  }
  #help .pkoinWrapper .content {
    padding-left: 1em;
    padding-right: 1em;
  }
  #help .bgCaption {
    height: auto;
    padding: 1em;
    padding-bottom: 2em;
  }
  #help .bgCaption .infomain .caption {
    font-size: 1em;
    padding: 0.5em;
    text-align: left;
  }
  #help .bgCaption .infomain .caption b {
    font-size: 1.9em;
  }
  #help .tips {
    overflow: hidden;
  }
  #help .tips .tipitem {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
    padding: 0.5em;
    text-align: left;
  }
  #help .section {
    padding-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
    border-bottom: 1px solid rgb(var(--neutral-grad-1));
  }
  #help .section:nth-last-child(1) {
    border-bottom: 0;
  }
  #help .section > div.sectionname {
    width: 100%;
    float: none;
  }
  #help .section > div.sectioncnt {
    margin-left: 0;
  }
  #help .page {
    padding: 1em 0;
  }
  #help .page .caption {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 700;
  }
  #help .page .roadmap {
    margin-top: 2em;
  }
  #help .page .roadmap .road > div.time {
    width: 110px;
  }
  #help .page .lentasection .guidesSection {
    position: relative;
    margin-bottom: 1em;
  }
  #help .page .lentasection > div.sectioncnt {
    margin-left: 0;
  }
}
