<div id="<%-module.map.id%>">
	<div class="wrp <% if(stakingClose) {%> hide <% } %>">
		<div class="rcptwrp">
			<div class="tcaptionwrapper">
				<div class="tcaption">
					<img class="logo" src="img/logo20.svg">
					<!--<span class="label">Pkoin</span>-->
					<span class="pkoin">
						<span>
							PKOIN
						</span>
					</span>
				</div>

				<div class="caret caret-up">
					<i class="fa fa-caret-up"></i>
				</div>

			</div>


			<div class="calculator">

				
				<div class="lastpriceCnt">
					<div class="loaderWrapper">
						<div class="loader">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>
					</div>
				</div>


				<!--<div class="lastpriceCnts">
					<div class="lastpriceCntSmall lastpriceCntUSDT">
				
					</div>
	
					<div class="lastpriceCntSmall lastpriceCntBTC">
					
					</div>	
				</div>-->

				<div class="buycoin">
					<div class="buyButtonWrapper">
						<button class="button buyButton">
							<%- e('buy') %> 
						</button>
						
					</div>
				</div>

				<div elementsid="earnlabel" class="earnlabel">
					<span><%-e('hodoiearnmore')%></span>
				</div>


				<!--

				<div class="calcCaption">
					
					<span>Staking Calculator - calculate how much you earn by putting Pocketcoin (PKOIN) into a node.<a href="help?page=faq&id=downloadnode"><i class="fas fa-question-circle"></i></a></span>
				</div>


				<div class="numbers">
					<div class="inputWrapper ihave">
						<div>
							<span>I have</span>
							<span class="amredits" contenteditable="true"><%= app.platform.mp.coin(amount) %></span> 
							<span>PKOIN</span>
						</div>
					</div>


					<div class="totalNumbers inputWrapper">

					
						<div class="totalRow">
							<div class="label"><span>6 Months</span></div>
							<div class="value"><span class="blv" item="6m">0</span></div>
							<div class="value"><span class="cur">PKOIN</span></div>
						</div>

						<div class="totalRow">
							<div class="label"><span>1 Year</span></div>
							<div class="value"><span class="blv" item="1y">0</span></div>
							<div class="value"><span class="cur">PKOIN</span></div>
						</div>
					</div>


				</div>-->


				
			</div>	

		</div>
	</div>
</div>