<div id="<%-module.map.id%>">
	<div class="wrp <% if(stakingClose) {%> hide <% } %>">
		<div class="rcptwrp">
			<div class="tcaptionwrapper">
				<div class="tcaption">
					<img class="logo" src="img/logo20.svg">
					<!--<span class="label">Pkoin</span>-->
					<span class="pkoin">
						<span>
							PKOIN
						</span>
					</span>
				</div>

				<div class="caret caret-up">
					<i class="fa fa-caret-up"></i>
				</div>

			</div>


			<div class="calculator">

				
				<div class="lastpriceCnt">
					<div class="loaderWrapper">
						<div class="loader">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>
					</div>
				</div>

				<% if(state) { %>
					<div class="buycoin">
						<div class="buyButtonWrapper">
							<button class="button buyButton">
								<%- e('buy') %> 
							</button>
							
						</div>
					</div>
				<% } %>

				<div elementsid="earnlabel" class="earnlabel">
					<span><%-e('hodoiearnmore')%></span>
				</div>
				
			</div>	
		</div>
	</div>
</div>