<div class="lastpriceWrapper">
    <img class="logo" src="img/logo20.svg">
    <div class="<% if(currency.key == 'BTC') {%> bc <% } %>">
        <div class="lastprice">
            <% if(price) { %>
                $<%- price %>
            <% } else { %> 
                <!-- &mdash;  -->
                <span title="Last price / 30.08.2021">1.76</span>
            <% } %>
        </div>
    
    </div>

    <% 

    var r = function(){ %> 
    
    <% if(typeof change.value != 'undefined') {%>
    
        <div class="change <% if(change.value < 0) {%> bad <% } %> <% if(change.value > 0) {%> good <% } %>">
    
            <span class="percent">
                <% if(change.value < 0) {%>
                    <i class="fas fa-caret-down"></i>
                <% } %>
        
                <% if(change.value > 0) {%>
                    <i class="fas fa-caret-up"></i>
                <% } %>
                <span>
                    <%-change.percent.toFixed(2)%>%
                </span>
            </span>
            
    
        </div>
    
        
    
    <% } %>
    
    <% } %>

    <div class="cb">
        <% r() %>
    </div>
    
    
    
    
    <div class="chwr">
        <div class="chart">
                    
        </div>
    </div>  
    <div class="caret caret-down">
        <i class="fa fa-caret-down"></i>
    </div>  
</div>
