<% 

var r = function(){ %> 

<% if(typeof change.value != 'undefined') {%>

    <div class="change <% if(change.value < 0) {%> bad <% } %> <% if(change.value > 0) {%> good <% } %>">

        <span><%-currency.view(change.value)%></span>
        <span><%-change.percent.toFixed(2)%> %</span>
        
        <% if(change.value < 0) {%>
            <i class="fas fa-caret-down"></i>
        <% } %>

        <% if(change.value > 0) {%>
            <i class="fas fa-caret-up"></i>
        <% } %>

    </div>

    

<% } %>

<% } %>



    <div class="lastpriceWrapper cb">
        <% r() %>
    </div>


<div class="lastpriceWrapper <% if(currency.key == 'BTC') {%> bc <% } %>">
    <div class="lastprice">
        <% if(price) { %>
            <%- price %>
        <% } else { %> 
            &mdash; 
        <% } %>
    </div>

    <div class="currency">
        <%- currency.key %>
    </div>
    <!--
    <% if(currency.key != 'BTC') {%>
        <% r() %>
    <% } %>-->

    <div class="chwr">
        <div class="chart">
                    
        </div>
    </div>
   
</div>


