@import "../../css/__cssvar";

#messenger{
	max-width: 800px;

	.ccaption{
		padding : 2 * @rhythm 0;
		padding-left: 50px;
		font-weight: 700;

		span{
			font-size: 1.2em;
		}

		&.newMessageCC{
			display : none;
		}
	}

	.newChatUsers{
		display : none;
		padding-left:  : 50px;

		.ccaption{
			padding-left: 0;
		}
	}

	.currentChat{
		display : none;
		padding-left:  : 50px;
	}
	

	.chatsheader{
		>div{
			padding : @rhythm;
			vertical-align: middle;

			&.backSpacer,
			&.newMessageWrapper{
				width: 50px;
				text-align: center;
			}

			&.usersSearchWrapper,
			&.messengerSearchWrapper{
				padding-left: 0;
			}


			&.createChatWrapper,
			&.backWrapper{
				width: 50px;
				text-align: center;

				display: none;
			}

			&.usersSearchWrapper{
				display : none;
			}
		}
	}

	&.toChat{

		.currentChat{
			display : block;
		}

		.ccaption{
			display : none;
		}

		.chatsheader{
			display : none;
		}

		.newChatUsers{
			display : none;
		}

		.mchats{
			display : none;
		}
	}

	&.toNewChat{

		.ccaption{
			&.newMessageCC{
				display : block;
			}

			&.chatsCC{
				display : none;
			}
		}

		.chatsheader{
			>div{

				&.backSpacer,
				&.newMessageWrapper{
					display: none;
				}

				&.createChatWrapper,
				&.backWrapper{
					display: table-cell;
				}
				&.messengerSearchWrapper{
					display: none;
				}

				&.usersSearchWrapper{
					display : table-cell;
				}
			}
		}

		.newChatUsers{
			display : block;
		}

		.mchats{
			display : none;
		}
	}

	.search{
		.searchInput{
			border-radius: 20px;
			border : 1px solid @color-gray-slight;
		}
		.searchInputIcon{

			.searchIconLabel{
				color : @color-gray-slight;
			}

			.searchInputWrapper{
				

				.sminput{
					background: transparent;
					border : 0;
					padding-left: 0;
				}
			}
			.searchPanel{
				border : 0;
				background: transparent;
			}
		}

		&.recievers{
			.searchInputIcon{

				.searchIconLabel{
					width: 110px;
				}
			}
		}
	}

	.createChatWrapper,
	.back,
	.newMessage{
		cursor: pointer;
		.transition(0.3s);
		color : @color-black2;

		&:hover{
			color : @color-main;
		}
	}

	.mchats{
		padding-top : 2 * @rhythm;
		padding-left: 50px;

		.cempty,
		.empty{
			padding : 4 * @rhythm;
			text-align: center;
			color : @color-gray-light;

			span{
				font-size: 0.8em;
				
			}
		}

		.cempty{
			padding : 0;
			text-align: left;
		}

	}

	.usersList{
		.addressTable{
			cursor: pointer;
			margin-bottom: @rhythm;
			>div{
				padding-bottom: @rhythm;
				border-bottom : 1px solid @color-gray-slight;
				vertical-align: middle;

				&.iconWrapper{
					width: 45px;
					text-align: center;
				}

				&.label{
					padding-left:  2 * @rhythm;

					.cur{
						color : @color-main;
					}
				}

				&.extra{
					width: 50px;

					.marker{
						margin : 0 auto;
						width: 20px;
						height : 20px;
						position: relative;
						cursor: pointer;
						border-radius: 50%;
						border : 1px solid @color-gray-slight;

						&:after{
							content : '';
							position: absolute;
							left: 3px;
							right: 3px;
							top: 3px;
							bottom: 3px;
							background: @color-add;
							.shadowSmall();
							border-radius: 50%;
							.transition(0.3s);
							opacity : 0;
						}
					}
				}

				
			}

			&.active{
				>div{
					&.extra{
						

						.marker{
							
							&:after{
								opacity : 1;
							}
						}
					}
				}
			}

			&:nth-last-child(1){
				>div{
					border-bottom : 0;
				}
			}

		}
	}

	.mchatsContent{
		.chat{
			cursor: pointer;
			>div{
				padding : @rhythm 0;
				vertical-align: top;

				&.chatImageWrapper{
					width: 40px;
				}

				&.chatBody{
					padding-left: 2 * @rhythm;
					padding-right: 2 * @rhythm;
				}

				&.chatpanel{
					width: 50px;
				}
			}
		}

		.chatChatsheader{
			font-weight: 700;
			font-size: 0.8em;
			color : @color-gray2;
		}

		.chatContent{
			.chatContentTable{
				>div{
					padding : @rhythm 0;
					width: 50%;
					vertical-align: top;

					&.newMessages{
						
					}
				}
			}

			.newMessagesTable{
				width: auto;
				margin-left: auto;
				vertical-align: middle;
				.newMessagesCount{
					width: 20px;
				}

				.newMessagesRound{
					border-radius: 50%;
					line-height: 20px;
					height: 20px;
					width: 20px;
					text-align: center;
					color : #fff;
					background: @color-main;
					font-size: 0.8em;
				}

				.newMessagesLabel{
					padding-left: @rhythm;

					span{
						font-size: 0.8em;
						font-weight: 700;
					}
				}
			}
		}

		.chatImageRound{
			width: 40px;
			height: 40px;
			overflow: hidden;
			position: relative;
			border-radius: 50%;

			.usericon{
				border-radius: 0;
			}
		}
		
	}
}