#boost {
  padding: 2em 0;
}
#boost .work {
  max-width: 850px;
}
#boost .work .top {
  font-size: 1.5em;
  text-align: center;
}
#boost .header {
  margin-top: 40px;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #c5c2c2;
  border-bottom: 2px solid #c5c2c2;
}
#boost .header__title {
  font-size: 2rem;
  text-transform: uppercase;
}
#boost .header__subtitle {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: normal;
}
#boost .learn-more .learn-more-title {
  font-size: 1.8em;
  margin-bottom: 30px;
}
#boost .learn-more span {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  background: #f0b811;
  margin: 15px 0;
}
#boost .learn-more span:hover {
  text-decoration: underline;
}
#boost .formula {
  margin-top: 30px;
}
#boost .formula.hidden {
  display: none;
}
#boost .formula p {
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
}
#boost .formula p a {
  color: blue;
  font-weight: 600;
}
#boost .formula ol li {
  text-align: left !important;
}
#boost .formula img {
  width: 820px;
}
#boost .formula h4 {
  font-style: italic;
}
#boost .formula h3 {
  margin: 10px 0;
}
#boost .formula .center {
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
}
#boost .formula i {
  font-size: 3em;
  transition: all 0.5s;
}
#boost .formula i:hover {
  font-size: 4em;
}
#boost .display {
  display: block;
}
#boost .hide {
  display: none;
}
#boost .tips-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#boost .ul-tips {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 20px;
  list-style: disc;
}
#boost .li-tip {
  text-align: left;
  font-size: 0.9em;
  font-weight: 500;
}
#boost .yellow {
  color: #f0b811;
}
#boost .red {
  color: #d63c3c;
}
#boost .video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
#boost .video h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 15px 0;
}
#boost .video iframe {
  width: 640px;
}
#boost .columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
#boost .columns .column {
  text-align: left;
  width: 40%;
  min-width: 350px;
}
#boost .columns .column ul li {
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
}
#boost .buy-pkoin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#boost .buy-pkoin .yellow {
  margin-top: 2em;
}
#boost .buy-pkoin h2 {
  font-size: 1.5em;
  font-weight: 700;
}
#boost .buy-pkoin p {
  font-size: 1.4em;
  font-weight: 700;
}
#boost .buy-pkoin .text {
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
}
#boost .buy-pkoin .sites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#boost .buy-pkoin .sites a {
  margin: 15px 0;
  font-size: 1.2em;
  font-weight: 700;
}
#boost .buy-pkoin .sites a img {
  width: 150px;
}
#boost .buy-pkoin .sites a img .img {
  width: 60px;
}
#boost .buy-pkoin .sites a .span {
  font-weight: 300;
}
#boost .buy-pkoin img {
  max-width: 500px;
}
#boost .buy-pkoin .img {
  max-width: 850px;
}
#boost .buy-pkoin .cta {
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  margin: 30px 0;
  padding: 25px 35px;
  text-transform: uppercase;
  background: #f0b811;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  #boost {
    padding: 0.5em 1em;
  }
  #boost .video iframe {
    width: 100%;
    padding: 0 10px;
  }
  #boost .buy-pkoin img {
    width: 100%;
    padding: 0 10px;
  }
  #boost .buy-pkoin .cta {
    font-size: 0.8em;
    padding: 15px;
  }
  #boost .formula img {
    width: 100%;
  }
}
