#boost {
  padding: 2em 0;
}
#boost .work {
  max-width: 850px;
}
#boost .caption {
  margin-top: 2em;
}
#boost .caption span {
  opacity: 0.9;
  font-size: 2.5em;
  font-weight: 700;
}
#boost .layout {
  margin-top: 2em;
}
#boost .layout .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
#boost .layout .imageWithCaption {
  background: rgb(var(--background-secondary-theme));
  border-radius: 16px;
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  padding: 1.5em;
}
#boost .layout .imageWithCaption .subcaption {
  text-align: center;
}
#boost .layout .imageWithCaption .subcaption span {
  font-size: 1.5em;
  font-weight: 100;
}
#boost .layout .imageWithCaption .imageWrapper {
  margin-top: 2em;
}
#boost .layout .imageWithCaption .imageWrapper img {
  width: 100%;
}
#boost .texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
#boost .texts .paragraphs {
  padding: 1.5em;
}
#boost .texts .paragraph {
  display: list-item;
  list-style: square;
  max-width: 620px;
  margin-top: 1em;
}
#boost .features {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}
#boost .features .featureWithImage {
  background: rgb(var(--background-secondary-theme));
  border-radius: 16px;
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#boost .features .featureWithImage .imageWrapper img {
  width: 100%;
}
#boost .features .featureWithImage .subcaption {
  text-align: center;
  padding: 1em;
}
#boost .features .featureWithImage .subcaption span {
  font-size: 0.9em;
}
#boost .videoWrapper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#boost .videoWrapper iframe {
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#boost .faq {
  margin-top: 3em;
}
#boost .faq .container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}
#boost .faqWrapper {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-top: 2em;
}
#boost .faqWrapper img {
  border-radius: 10px;
  border: 1px solid rgb(var(--neutral-grad-1));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#boost .faqWrapper .faq {
  padding: 0 20px;
}
#boost .faqWrapper .faq .group {
  margin-bottom: 2em;
}
#boost .faqWrapper .faq .group .groupCaption {
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 0.5em;
  color: rgb(var(--color-txt-orange));
}
#boost .faqWrapper .faq .group .groupCnt .question {
  font-size: 1.5em;
  padding-bottom: 3em;
  max-width: 700px;
}
#boost .faqWrapper .faq .group .groupCnt .question .questiontop {
  display: flex;
  justify-content: space-between;
}
#boost .faqWrapper .faq .group .groupCnt .question .questionName {
  padding-bottom: 1em;
  font-weight: 700;
  color: rgb(var(--color-txt-gray));
  font-size: 1.5em;
  max-width: 85%;
}
#boost .faqWrapper .faq .group .groupCnt .question .answer {
  font-size: 0.8em;
  padding-bottom: 20px !important;
}
#boost .faqWrapper .faq .group .groupCnt .question .answer a {
  text-decoration: underline;
  color: rgb(var(--color-txt-ac));
}
#boost .faqWrapper .faq .group .groupCnt .question .answer .image {
  width: 100% !important;
  max-width: 700px;
  position: relative;
}
#boost .faqWrapper .faq .group .groupCnt .question .answer .image img {
  width: 100% !important;
}
#boost .faqWrapper .faq .group .groupCnt .question .answer div {
  padding-bottom: 0.5em;
}
#boost .faqWrapper .faq .group .groupCnt .question .share {
  margin-top: 0.5em;
  color: #ff6e84;
  font-size: 0.7em;
  cursor: pointer;
}
#boost .faqWrapper .faq .group .groupCnt .question .share:hover {
  color: rgb(var(--color-txt-ac));
}
#boost .faqWrapper .faq .group .groupCnt .question .share span {
  padding-right: 2px;
}
#boost .faqWrapper .faq .group .groupCnt .question .icon {
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-bg-ac-color));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.6em;
}
#boost .faqWrapper .faq .group .groupCnt .question .icon:hover {
  background: rgb(var(--color-txt-ac));
}
@media only screen and (max-width: 768px) {
  #boost {
    padding: 0.5em 1em;
  }
  #boost .faqWrapper img {
    width: 100%;
  }
  #boost .caption {
    margin-top: 1em;
    text-align: center;
  }
  #boost .caption span {
    font-size: 2em;
  }
  #boost .layout {
    margin-top: 2em;
  }
  #boost .layout .images {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  #boost .texts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  #boost .texts .paragraphs {
    padding: 0 0.5em;
  }
  #boost .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #boost .faq .container {
    padding: 0.5em;
  }
  #boost .faqWrapper .faq {
    padding: 0;
  }
}
