<div id="<%-module.map.id%>" class="unselectablemobile">
	<div class="footerCenterWrapper">
        <div class="ftcWrapper">
            <div class="footerTable table">

                <div class="logoCellWrapper">
                     <div class="logoWrapper">

                        <div class="icon">
                            <img class="footer_logo" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_black.svg">
                        </div>
                       
                    </div>
                    
                   
                </div>
                <div class="footerContentWrapper">
                    <div class="footerContentTableWrapper">
                        <div class="footerContentTable table">
                            <div class="column">

                                <div elementsid="localization" class="fitem localization">
                                    <div class="label">

                                        <% if(_SEO) { %>

                                            <%= app.localization.locLinks() %>

                                        <% } else { %>

                                            <div class="lang">
                                              
                                                <%-(lkey.name || '')%> 
                                                
                                                <i class="fas fa-caret-down"></i>

                                            </div>

                                        <% } %>

                                    </div>
                                </div>

                                
                               
                            </div>

                            <div class="column">
                               
                                <% if(!app.curation()) {%>
                                    <div class="fitem">
                                        <a elementsid="about" href="about"><%=e('aboutus')%></a>
                                    </div>
                                <% } %>
                                
                                <% if(!window.cordova && os() && app.platform.applications.ui[os()]) {%>
                                    <div class="fitem">
                                        <a elementsid="applications" href="applications"><%=e('e13120')%></a>
                                    </div>
                                <% } %>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <% var year = new Date().getFullYear() %>

            <div class="ye">
                <%-app.meta.fullname%>, 2019&mdash;<%-year%>
            </div>
        </div>



    </div>
</div>