<div id="<%-module.map.id%>">
	<div class="footerCenterWrapper">
        <div class="ftcWrapper">
            <div class="footerTable table">

                <div class="logoCellWrapper">
                     <div class="logoWrapper">

                        <div class="icon">
                            <img src="img/logo20.png">
                        </div>
                        <div class="label">
                            <a href="index"><b>POCKETNET</b></a>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="footerContentWrapper">
                    <div class="footerContentTableWrapper">
                        <div class="footerContentTable table">
                            <div class="column">
                                 
                               
                            </div>

                            <div class="column">
                               

                               <!-- <div class="fitem localization">
                                    <div class="label">

                                        <% if(_SEO) { %>

                                            <%= app.localization.locLinks() %>

                                        <% } else { %>

                                            <%= loc.input() %>

                                        <% } %>

                                    </div>
                                </div> -->

                                <div class="fitem">
                                   <a href="about"><%=e('aboutus')%></a>
                                </div>

                               <!--<div class="fitem">
                                    <a href="connection">Connection</a>
                                </div>-->

                                <% if(os() && self.app.platform.applications[os()]) {%>
                                    <div class="fitem">
                                        <a href="applications">Applications</a>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ye">
                Pocketnet, 2019
            </div>
        </div>



    </div>
</div>