#application .chatDoubleRow {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: var(--app-margin-top);
  height: calc(55px + var(--app-margin-top));
  display: flex;
  align-items: center;
  z-index: 2;
  width: 55px;
}
#application .chatDoubleRow .icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 12px;
  background: rgba(var(--background-hidden-layer), 0.15);
  backdrop-filter: blur(4px);
  color: #AAAAAA;
  -webkit-backdrop-filter: blur(4px);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0.5em;
  bottom: 5px;
  text-align: center;
}
#application .chatDoubleRow .icon svg {
  margin-bottom: 3px;
  height: 23px;
  width: 23px;
  fill: #AAAAAA;
}
#application .chatDoubleRow .icon .amount {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0 0.5em;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 0.5em;
  background: rgba(var(--color-bg-ac-bright), 0.95);
  color: rgb(var(--text-on-bg-ac-color));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  z-index: 20;
  border-radius: 50%;
  display: none;
}
#application .chatDoubleRow.amountHave .icon .amount {
  display: block;
}
#application .captionRow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: var(--app-margin-top);
  background: rgb(var(--background-hidden-layer));
  height: calc(55px + var(--app-margin-top));
  display: flex;
  align-items: center;
  z-index: 2;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#application .captionRow .iconwrapper {
  min-width: 55px;
}
#application .captionRow .iconwrapper .icon {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}
#application .captionRow .caption {
  text-align: center;
  flex-grow: 2;
}
#application .captionRow .caption span {
  font-weight: 700;
}
#application .captionRow .abssettings {
  position: absolute;
  right: 100%;
  top: auto;
  bottom: 5px;
  margin-left: 0.5em;
}
#application .captionRow .abssettings .icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  opacity: 0;
  border-radius: 12px;
  background: rgba(var(--background-hidden-layer), 0.15);
  backdrop-filter: blur(4px);
  color: #AAAAAA;
  -webkit-backdrop-filter: blur(4px);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#application .captionRow.notactive {
  transform: translateX(100%);
  transition-delay: 1s;
}
#application .captionRow.notactive .abssettings .icon {
  transition-delay: 1s;
  opacity: 1;
}
#application .captionRow.notactive:hover {
  transform: translateX(0);
  transition-delay: 0s;
}
#application .captionRow.notactive:hover .abssettings .icon {
  transition-delay: 0s;
  opacity: 0;
}
#application .iframewrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(var(--background-hidden-layer));
}
#application .iframewrapper iframe {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#application .iframewrapper .loadingIcon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#application .iframewrapper .loadingIcon .appicon {
  width: 96px;
  height: 96px;
  margin-bottom: 48px;
}
#application .iframewrapper.loaded iframe {
  opacity: 1;
}
#application .iframewrapper.loaded .loadingIcon {
  display: none;
}
#application iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}
