<div id="<%-module.map.id%>">
	
	<div class="state">

	</div>
	
	<div class="gallery">
		<div class="panel">

		</div>
		<div class="images customscroll">
			<div class="caption">
				<span><%-e('imagegallery')%></span>
			</div>

			<div class="declinedlibrary">
				<button class="orange button addAccessToLibrary"><i class="fas fa-lock"></i> <%-e('addAccessToLibrary')%></button>
			</div>

			<div class="imagescontent">

			</div>
		</div>
	</div>

	<div class="back">
		<i class="fas fa-chevron-right"></i>
	</div>

	<div class="lefticons">
		<div class="gallerytoggle">
			<i class="fas fa-camera gallerymode"></i>
			<i class="fas fa-images cameramode"></i>
		</div>

		<div class="openexternal">
			<i class="fas fa-external-link-alt"></i>
		</div>
	</div>

	<div class="useselectedWrapper ">
		<button class="button orange useselected"><%-e('useselected')%></button>
	</div>
</div>