<div class="applicationcnt">
    <div class="apltable ">
        <div class="aplcell forimage">
            <div class="img image" image="img/bgwelcome3.jpg"></div>
        </div>
        <div class="aplcell fortext">
            <div class="text bl"><span><%- e('popup_applications_header') %></span></div>

            <div class="features">
                <div class="feature"><span><%- e('popup_applications_feature_1') %></span></div>
                <div class="feature"><span><%- e('popup_applications_feature_2') %></span></div>
                <div class="feature"><span><%- e('popup_applications_feature_3') %></span></div>
            </div>

            <div class="forbuttonwrap">
                    <button class="button orange medium gotoapplications">
                        <%- e('popup_applications_button') %>
                    </button>
            </div>
        </div>

        
    </div>
</div>
