
<div class="work">
   
    </div>
    
    <div class="work">
    <p>
        This is Yon Perullo of Larkspur-RiXtrema. For months we have been working on LE PRO to help you sell retirement plans on autopilot, using automated email campaigns. And with all the latest events LE PRO can grow your business better than any traditional selling techniques. Here are key points of the offer:
    </p>
    </div>
    <div class="work">
        <ul>
            
            <li>LE PRO contains over 1.2 million decision maker contacts at plan sponsors</li>
            <li>LE PRO sends automated email campaigns to plan sponsors with a click</li>
            <li>Each email is automatically customized to highlight specific plan's problem areas</li>
        </ul>
    </div>

    <div class="work">
        <p>
            In short, this is the most sophisticated retirement plan sales tool ever devised. When crisis hits, some just focus on putting out fires and defending existing business. Others take the lead and use modern technologies to elevate their game and win market share!
        </p>
    </div>
        
    <div class="work" style="text-align: center; margin-top: 30px;">
 
            <button class="orange newershow" style="width: 300px">
                CLICK HERE TO SEE LE PRO & REQUEST YOUR SPECIAL OFFER
            </button>

    </div>     
        
        
        