#editVideoDescription .dialogheader {
  padding: 1em 0;
  padding-top: 0;
}
#editVideoDescription .dialogheader span {
  font-weight: 700;
}
#editVideoDescription .videoNameInput,
#editVideoDescription .videoDescriptionInput {
  border-radius: 3px;
  width: 80%;
  border: none;
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#editVideoDescription .videoDescriptionInput {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding: 1em 1.25em;
  min-height: 110px;
}
#editVideoDescription .videoNameWrapper,
#editVideoDescription .videoDescriptionWrapper {
  margin-bottom: 1em;
}
#editVideoDescription .confirmButtons {
  padding-top: 1em;
}
#editVideoDescription .confirmButtons .button {
  font-size: 1.2em;
}
.wnd.editVideoDescription .wndinner {
  max-width: 800px;
}
.wnd.editVideoDescription .wndcontent {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media only screen and (max-width: 768px) {
  #editVideoDescription {
    padding: 0 1em;
  }
  #editVideoDescription .videoNameInput,
  #editVideoDescription .videoDescriptionInput {
    width: 100%;
  }
  .wnd.editVideoDescription .wndcontent {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
