#editVideoDescription .dialogheader {
  padding: 1em;
  padding-top: 0;
}
#editVideoDescription .dialogheader span {
  font-weight: 700;
  font-size: 1.5em;
}
#editVideoDescription .videoNameInput,
#editVideoDescription .videoDescriptionInput {
  border-radius: 3px;
  width: 80%;
  border: none;
  padding: 1em 1.25em;
}
#editVideoDescription .videoDescriptionInput {
  min-height: 110px;
}
#editVideoDescription .videoTagsWrapper .tagsInputWrapper {
  width: 100% !important;
}
#editVideoDescription .videoTagsWrapper .inputWrapper {
  box-shadow: none !important;
  width: 100% !important;
}
#editVideoDescription .videoTagsWrapper .searchWrapper {
  padding: 1em 1.25em;
}
#editVideoDescription .videoNameWrapper,
#editVideoDescription .videoDescriptionWrapper,
#editVideoDescription .videoTagsWrapper {
  margin-bottom: 2em;
}
#editVideoDescription .confirmButtons {
  padding-top: 1em;
}
#editVideoDescription .confirmButtons .button {
  font-size: 1.2em;
}
.wnd.editVideoDescription .wndinner {
  max-width: 800px;
}
.wnd.editVideoDescription .wndcontent {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media only screen and (max-width: 768px) {
  #editVideoDescription {
    padding: 0;
  }
  #editVideoDescription .videoNameInput,
  #editVideoDescription .videoDescriptionInput {
    width: 100%;
  }
  #editVideoDescription .cancelEditing {
    display: none;
  }
  #editVideoDescription .confirmEditing {
    width: 100%;
  }
  #editVideoDescription .confirmButtons {
    padding: 0 1em;
  }
  #editVideoDescription .confirmButtons .button {
    font-size: 1em;
  }
  .wnd.editVideoDescription .wndcontent {
    background: rgb(var(--background-secondary-theme)) !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
