<div id="<%-module.map.id%>">
	<div class="wrapper">
		<div class="applicationInfo">
			<div class="appicon" image="<%-application.icon%>">
			</div>
			<div class="appname" >
				<span><%- application.manifest.name %></span>
			</div>
		</div>

		<% if(application.manifest.versiontxt) {%>
		    <div class="version">
			    <span>Version: <%- application.manifest.versiontxt %></span>
		    </div>
		<% } %>

		<div class="desctiption">
			<%- application.manifest.descriptions[app.localization.current().key] || application.manifest.descriptions['en'] || "" %>
		</div>

		<div class="author"></div>

		<div class="permissions">

		</div>

	<div class="panel">
		<% if(!application.cantdelete) {%>

			<% if(!application.installed) {%>

					<button class="button install">
						<%- e('installpplication')%>
					</button>


			<% } else { %> 


					<button class="button remove">
						<%- e('deleteapplication')%>
					</button>
				
			<% } %>

		<% } %>
		<% if(canReport) {%>
		    <button class="button report">
				<%- e('reportminiapp')%>
			</button>
		<% } %>
	</div>

		
		
	</div>
</div>