<div class="embeddingWrapper">
 
    <div class="wrk">
        <div class="buttons">
            <button elementsid="mediumcopycode" class="button bright medium copycode">
                <%- e('copyEmbeddingCode') %>
            </button>

            <button elementsid="mediumshowcode" class="button ghost medium showcode">
                <%- e('showCode') %>
            </button>
        </div>
    </div>
    
    <div class="embedding">
        <div class="code" disabled="disabled"><%- embeddingcode %></div>
    </div>

    <div class="previewWrapper">
        <div class="preview">
            <%= embeddingcode %>
        </div>
    </div>

    <% if(!embeddingSettings.onlyvideo) {%>
    
        <div class="wrk">
            <div class="subcaption">
                <span>                
                    <%- e('embeddingSettings') %>                
                </span>
            </div>
        </div>

        <div class="wrk">
            <div class="embeddingSettings">
                <% 
                _.each(embeddingSettings, function(parameter){ 
                    
                    if(parameter.hidden) return
                    %>

                    <div class="parameterMaketWrapper <%-parameter.pid%>" parameter="<%-parameter.id%>">
                        <div class="parameter table <%-parameter.type%>">

                            <div class="pName">
                                <div class="pNameW">
                                    <%= parameter.name %>
                                </div>
                            </div>

                            <div class="pInput ">
                                <%= parameter.input({
                                    init : true
                                }) %>
                            </div>

                

                        </div>
                    </div>

                <% }) %>	
            </div>

        </div>
    
    <% } %>
    
</div>