<div id="<%-module.map.id%>" class=" <% if(typeof style != 'undefined') {%> <%- style %> <% } %>">

	<div class="contentShareWrapper">
		<div class="backwrapper">
			<i class="fas fa-chevron-left"></i> <span><%= e('back') %></span>
		</div>

		<div class="directWrapper">
			<div class="wrk">
				<div class="flexWrapper">	

					

					<% if(state) {%>

						<% if(!share || !share.visibility() || share.visibility() == 'reg'){ %>

							<div class="chat">
								<div elementsid="chatbutton" class="button black ">
									<i class="fas fa-envelope"></i>
									<span><%- e('sendMessenger') %></span> 
								</div>
							</div>

						<% } %>

					<% } %>

					<% if(postId) {
						if(share && share.address != app.user.address.value && (!share.visibility() || share.visibility() == 'reg')){ %>

							<div elementsid="itemforrepost" class="item forrepost">
								<div class="button black ">
									<i class="fas fa-reply"></i>
									<span><%- e('repost') %></span> 
								</div>
							</div>
						<% } %>

					<% } %>

					
						<div class="nativeshare">
							<div elementsid="nativeshare" class="button black">
								<i class="fas fa-share-alt"></i>
								<span><%- e('shareVia') %></span>
							</div>
						</div>

						<% if(ed.embedding) {%>

							<div class="embeddingshow">
								<div elementsid="embeddingshow" class="button black">
									<i class="fas fa-code"></i>
									<span><%- e('embedding') %></span>
								</div>
							</div>

						<% } %>
						
						
					<div class="url">
						<div elementsid="urlbutton" class="button black">
							<i class="fas fa-link"></i>
							<span><%- e('copyLink') %></span> 
						</div>
					</div>

					
				</div>

				<% if(typeof eparameters != 'undefined' && state && !notincludedRef) {%>
					<div class="includeRefWrapper">
						<%= eparameters.reflink.input({init : true}) %>  <span><%= eparameters.reflink.name %></span>
					</div>
				<% } %>
			</div>
		</div>
		
		<div class="sharewrapper">
			<div class="wrk">
				<div class="subcaption">
					<span><%- e('shareVia') %></span>
				</div>
			</div>
			<div class="sharebuttons">
			</div>
		</div>

		<div class="embeddingWrapperCnt">
			
		</div>
			

	</div>
</div>