<div id="<%-module.map.id%>" class=" <% if(typeof style != 'undefined') {%> <%- style %> <% } %>">

	<div class="captionWrapper">
		<div class="wrk">
			<% if(caption) {%>
				<div class="caption">
					<%- caption %>
				</div>
			<% } %> 
		</div>
	</div>
	<div class="contentShareWrapper">
		<div class="directWrapper">
			<div class="wrk">
				<div class="flexWrapper">
					<div class="url">
						<button class="button bright medium">
							Copy direct Link
						</button>
					</div>
					<% if(typeof eparameters != 'undefined') {%>
						<div class="includeRefWrapper">
							
							<span><%= eparameters.reflink.name %></span> <%= eparameters.reflink.input({init : true}) %> 
						</div>
					<% } %>
				</div>
			</div>

		</div>
		
		
		<div class="sharewrapper">
			<div class="wrk">
				<div class="subcaption">
					<span>Share via</span>
				</div>
			</div>
			<div class="sharebuttons">
			</div>
		</div>

		<div class="embeddingWrapperCnt">
			
		</div>
			
		<!--<div class="footer">
			<div class="captionearn2">
				<span><%=e('e13168')%></span>
			</div>
		</div>-->

	</div>
</div>