<div id="<%-module.map.id%>" class=" <% if(typeof style != 'undefined') {%> <%- style %> <% } %>">

	<div class="captionWrapper">
		<div class="wrk">

				<div class="caption">
					<%- e('share') %>
				</div>

		</div>
	</div>
	<div class="contentShareWrapper">
		<div class="directWrapper">
			<div class="wrk">
				<div class="flexWrapper">	

					<div class="url">
						<button elementsid="urlbutton" class="button ghost ">
							<%- e('copyLink') %> <i class="fas fa-link"></i>
						</button>
					</div>

					<% if(state) {%>

						<% if(!share || !share.visibility() || share.visibility() == 'reg'){ %>

							<div class="chat">
								<button elementsid="chatbutton" class="button ghost ">
									<%- e('sendMessenger') %> <i class="fas fa-envelope"></i>
								</button>
							</div>

						<% } %>

					<% } %>


					<% if(postId) {
						
						if(share && share.address != app.user.address.value && (!share.visibility() || share.visibility() == 'reg')){ %>

							<div elementsid="itemforrepost" class="item forrepost">

								<button class="button ghost ">
									<%- e('repost') %> <i class="fas fa-reply"></i>
								</button>

							</div>

						<% } %>

					<% } %>

					<% if(typeof eparameters != 'undefined' && state && !notincludedRef) {%>
						<div class="includeRefWrapper">
							<%= eparameters.reflink.input({init : true}) %>  <span><%= eparameters.reflink.name %></span>
						</div>
					<% } %>



				</div>
			</div>

		</div>
		
		
		<div class="sharewrapper">
			<div class="wrk">
				<div class="subcaption">
					<span><%- e('shareVia') %></span>
				</div>
			</div>
			<div class="sharebuttons">
			</div>
		</div>

		<div class="embeddingWrapperCnt">
			
		</div>
			

	</div>
</div>