<% if(!address) {%>
    <div class="empty">&mdash;</div>
<% } else { %> 

    <% var user = deep(app, 'platform.sdk.users.storage.'+ address) || {} %>

    <div class="userWrapper">
        <div class="tableovfWrapper">
            <div class="user table">

                <div class="iconWrapper">

                    <% 
                        var src = user.image; 
                        var name = user.name;
                        var letter = name ? name[0] : '';
                    %>

                    <div class="icon">
                        <div class="usericon usericonsbsa another" image="<%-src || '*'%>">
                            <% if(!src && letter) {%>

                                <span class="letter">
                                    <%-letter.toUpperCase()%>
                                </span>
        
                            <% } else if (!src) { %>
        
                                <i class="far fa-user"></i>
        
                            <% } %>
                        </div>
                    </div>

                </div>
                
                <div class="nameWrapper">
                    <a elementsid="authororexplorerlink" href="<%-app.platform.api.authororexplorerlink(address)%>">
                        <span><%- user.name || address %></span>
                    </a>
                </div>			
                
            </div>
        </div>
    </div>

<% } %>