<div id="<%-module.map.id%>">

	<div class="ccaption chatsCC">
		<span>Chats</span>
	</div>

	<div class="ccaption newMessageCC">
		<span>New message</span>
	</div>

	

	<div class="header table">

		<div class="backWrapper">
			<div class="back">
				<i class="fas fa-chevron-left"></i>
			</div>
		</div>

		<div class="backSpacer">
			
		</div>

		<div class="messengerSearchWrapper">
			<div class="messengerSearch">
			</div>
		</div>

		<div class="usersSearchWrapper">
			<div class="usersSearch">
			</div>
		</div>

		<div class="newMessageWrapper">
			<div class="newMessage">
				<i class="fas fa-plus"></i>
			</div>
		</div>

		<div class="createChatWrapper">
			<div class="createChat">
				<i class="fas fa-chevron-circle-right"></i>
			</div>
		</div>

	</div>

	<div class="mchats">
		<div class="mchatsContent">
		</div>
		<div class="empty">
			<span>You haven't private chats</span>
		</div>
	</div>

	<div class="newChatUsers">
		<div class="ccaption recommended"><span>Recommended</span></div>
		<div class="usersListWrapper"></div>
	</div>
</div>