<div class="usersList">
	<% _.each(list, function(address){ %>

		<div class="addressTable table" address="<%-address%>">
			<div class="iconWrapper">
				<div class="icon">

					<% 

						var src = deep(app, 'platform.sdk.users.storage.'+address+'.image')  
						
					%>

					<div class="usericon" image="<%-src || ''%>">

						<% if(!src) {%>

							<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>

						<% } %>
					</div>
				</div>
			</div>

			<div class="label">
				<%- deep(app, 'platform.sdk.users.storage.'+address+'.name') || address %>
			</div>

			<div class="extra">
				<div class="marker">
				</div>
			</div>
		</div>

	<% }) %>
</div>