#streampeertube {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#streampeertube .upload-header {
  position: absolute;
  left: 1em;
  top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#streampeertube .upload-header span {
  font-size: 0.8em;
}
#streampeertube .content-section,
#streampeertube .result-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#streampeertube .content-section .main-content-section,
#streampeertube .result-section .main-content-section {
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#streampeertube .result-section .upload-field-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#streampeertube .result-section .upload-field-container .result-video-info {
  width: 100%;
}
#streampeertube .stream-warning-section {
  text-align: center;
  color: rgb(var(--neutral-grad-3));
  font-size: 0.8em;
  cursor: pointer;
  padding-top: 1em;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
#streampeertube .stream-warning-section:hover {
  text-decoration: underline;
}
#streampeertube .type-error-field {
  color: rgb(var(--color-txt-gray-dark));
}
#streampeertube .error-message {
  color: rgb(var(--color-bad));
}
#streampeertube .logo-container {
  margin-right: 0.5em;
}
#streampeertube .logo-container img {
  width: 80%;
  max-width: 100px;
}
#streampeertube .upload-field-container {
  color: rgb(var(--color-txt-gray-dark));
  position: relative;
}
#streampeertube .upload-field-container .upload-peertube-label {
  text-decoration: underline;
}
#streampeertube .closewindow {
  padding: 1em;
  text-align: left;
  padding-bottom: 0;
}
#streampeertube .upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--background-secondary-theme));
  border-radius: 5px;
  width: 80%;
  padding: 2em 0;
}
#streampeertube .upload-field-container:not(:first-child) {
  margin-top: 1em;
}
#streampeertube .result-section input {
  width: 50%;
  min-width: 200px;
}
#streampeertube .result-section .upload-field-container:not(:first-child) {
  margin-top: 1em;
}
#streampeertube .result-section .upload-field-container {
  position: relative;
}
#streampeertube .result-section .upload-field-container label {
  position: absolute;
  font-weight: bold;
  font-size: 0.8em;
  background-color: rgb(var(--background-total-theme));
  top: -10px;
  left: 10px;
  padding: 2px;
}
#streampeertube label {
  cursor: pointer;
}
#streampeertube .bold-font {
  font-weight: bold;
}
#streampeertube .upload-video-field {
  border-width: 1px;
  width: 80%;
}
#streampeertube .upload-progress-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2em;
}
#streampeertube .upload-progress-bar {
  height: 1px;
  width: 100%;
  background-color: rgb(var(--color-good));
}
#streampeertube .verticalFieldsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#streampeertube .verticalFieldsWrapper .verticalSection {
  height: 100%;
}
#streampeertube .verticalFieldsWrapper .main-upload-fields {
  width: 62%;
  padding: 4em 1em;
}
#streampeertube .verticalFieldsWrapper .liveButtonWrapper {
  background: rgb(var(--background-secondary-theme));
}
#streampeertube .liveButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-left: 1px solid rgb(var(--neutral-grad-0));
}
#streampeertube .verticalSection {
  width: 50%;
}
#streampeertube .preloader-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#streampeertube.rolledUp {
  margin: auto;
}
#streampeertube.rolledUp .upload-header {
  font-size: 0.8em;
}
#streampeertube.rolledUp > :not(.activeOnRolled) {
  display: none;
}
#streampeertube.rolledUp .main-upload-fields > :not(.activeOnRolled) {
  display: none;
}
#streampeertube.rolledUp .main-upload-fields .upload-progress-container.activeOnRolled {
  margin: 0;
}
#streampeertube.rolledUp .result-section > :not(.activeOnRolled),
#streampeertube.rolledUp .content-section > :not(.activeOnRolled) {
  display: none;
}
.wnd.streampeertube .wndinner {
  width: 50%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
}
.wnd.streampeertube .wndinner .wndcontent {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  padding: 0;
}
.wnd.streampeertube.hiddenState .wndinner {
  width: 100%;
  height: 100%;
  max-width: 250px;
}
.wnd.streampeertube.hiddenState .wndinner .wndcontent {
  padding: 0 20px;
}
