@import "../../css/__cssvar";

#streampeertube{
    width: 100%;

    .upload-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo-container {
            img {
                width: 1em;
            }
    
            margin-right: 0.5em;
        }
    }

    .type-error-field {
        color: #0a0c17;
    }

    .error-message {
        color: @color-bad;
    }

    .logo-container {
        img {
            width: 80%;
            max-width: 100px;
        }

        margin-right: 0.5em;
    }

    .upload-field-container {
       color: black;

       &:hover {
           color: @color-orange;
       }

       .upload-peertube-label {
           text-decoration: underline;
       }
    }

    .upload-field-container:not(:first-child){
        margin-top: @rhythm * 2;
    }

    .result-section {
        input {
            width: 50%;
            min-width: 200px;
        }

        .upload-field-container:not(:first-child){
            margin-top: @rhythm * 4;
        }

        .upload-field-container {
            position: relative;

            label {
                position: absolute;
                font-weight: bold;
                font-size: 0.8em;
                background-color: white;
                top: -10px;
                left: 10px;
                padding: 2px;
            }
        }
    }

    label {
        cursor: pointer;
    }

    .bold-font {
        font-weight: bold;
    }

    .upload-video-name {
        border-width: 0;

        border-bottom-width: 1px;

        border-color: @color-orange;
    }

    .upload-progress-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        margin-top: @rhythm * 4;
    }

    .upload-progress-bar {
        height: 1px;
        width: 100%;

        background-color: green;
    }

    .verticalFieldsWrapper {
        display: flex;
        width: 100%;

        margin: @rhythm * 4 0;
    }

    .liveButtonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        border-left: 1px solid @color-gray-slight;
    }

    .streamButton {
        padding: @rhythm * 2 @rhythm * 4;
    }

    .verticalSection {
        width: 50%;
    }

    .result-video-info {
        border-color: @color-orange;
    }
}

#streampeertube.rolledUp {
    margin: auto;

    .upload-header {
        font-size: 0.8em;
    }

    > :not(.activeOnRolled) {
        display: none;
    }
    
    .main-upload-fields {
        > :not(.activeOnRolled) {
            display: none;
        }

        .upload-progress-container.activeOnRolled {
            margin: 0;
        }
    }

    .result-section {
        > :not(.activeOnRolled) {
            display: none;
        }
    }
}


.wnd.streampeertube {

    .wndinner {
        width: 50%;
        height: 100%;

        max-height: 250px;

        overflow: hidden;

        .wndcontent {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            overflow: hidden;

            height: 100%;
        }
    }
}

.wnd.streampeertube.hiddenState {
    .wndinner {
        width: 100%;
        height: 100%;

        max-width: 250px;

        .wndcontent {
            padding: 0 20px;
        }
    }
}