<div id="<%-module.map.id%>">
  <div class="upload-header-wrapper activeOnRolled">
    <div class="upload-header activeOnRolled">
      <div class="logo-container">
        <img src="img/logo201.png" />
      </div>
      <div><span><%- e('uploadNewVideo') %></span></div>
    </div>
  </div>

  <div class="mainWrapper activeOnRolled">
    <div class="sectionsWrapper table activeOnRolled">
      <div class="main-upload-fields activeOnRolled">
        <div class="uploading uplsection activeOnRolled">
          <div class="scontent activeOnRolled">
            <div class="uploadRow activeOnRolled">
              <div class="upload-field-container">
                <div class="inputWrapper">
                  <div class="table">
                    <div>
                      <label
                        for="upload-video-file"
                        class="upload-peertube-label upload-video-file-label"
                        ><%- e('selectVideoFile') %></label
                      >
                      <input
                        type="file"
                        class="upload-video-file hidden"
                        upload-input
                        id="upload-video-file"
                      />
                      <span class="type-error-field file-type-error"></span>
                    </div>
                  </div>
                </div>
                <% if((deep(app,
                'platform.real.'+user.address.value.toString('hex')) ||
                window.testpocketnet) && !isMobile()) {%>
                <div class="caption-container import-container">
                  <%- e('importFromExternal') %>
                </div>
                <% } %>
              </div>
              <div class="activeOnRolled verticalSection progressSection">
                <div class="upload-progress-container activeOnRolled hidden">
                  <div class="barWrapper activeOnRolled">
                    <div class="upload-progress-caption">
                      <span class="bold-font"
                        ><%- e('uploadVideoProgress') %></span
                      >
                      <span class="upload-progress-percentage"></span>
                    </div>
                    <div class="upload-progress-bar"></div>
                  </div>
                  <div class="cancelButton controlButton hidden">
                    <span><%- e('ucancel') %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="caption-container quality-limit-container tooltip"
          title="<%- e('videoQualityInfo') %>"
        >
          <i class="fas fa-question-circle"></i>
          <%- e('videoQualityCaption') %>
        </div>
      </div>

      <div class="challengeoffer" image="img/videoofferbg.jpg">
        <div class="pbg">
          <div class="caption">
            <span><%- e('pbp_1') %></span>
          </div>

          <div class="offerpart">
            <div class="table">
              <div class="forlabel"><span><%- e('pbp_2') %></span></div>
              <div class="forvalue"><span><%- e('pbp_3') %></span></div>
            </div>
            <div class="table">
              <div class="forlabel"><span><%- e('pbp_4') %></span></div>
              <div class="forvalue"><span><%- e('pbp_5') %></span></div>
            </div>
          </div>

          <div class="textpart">
            <div class="subcaption">
              <b><%- e('pbp_6') %></b>
            </div>

            <div class="points">
              <ol>
                <li><%- e('pbp_7') %></li>
                <li><%- e('pbp_8') %></li>
                <li><%- e('pbp_9') %></li>
              </ol>
            </div>
          </div>

          <div class="infopart">
            <div><%- e('pbp_10') %></div>
            <div>
              <%- e('pbp_11') %>
              <a href="mailto:support@pocketnet.app">support@pocketnet.app</a>.
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="upload-button-section activeOnRolled">
        <div class="upload-button-wrapper">
          <button class="uploadButton orange button medium">
            Publish <i class="fas fa-angle-right"></i>
          </button>
        </div>

      </div> -->
    </div>
    <div class="iconwr hidden activeOnRolled">
      <div class="preloader-caption"><%- e('videoUploadingFinish') %></div>
      <div class="preloader5"><span></span><span></span><span></span></div>
    </div>
  </div>
</div>
