<div id="<%-module.map.id%>">
	<div class="work adj">
		<header class="header">

			<h1 class="header__title yellow">
				<span class="red">Найдите Свою Аудиторию</span>: Выгодная Реклама на Быстрорастущей Блокчейн Соцсети 						
			</h1>			
			<div class="video">
				<h2>Реклама за Покеткойн - Рентабельные Охваты</h2>
				<iframe width="640" style="aspect-ratio:1.7770833333333333" src="https://bastyon.com/embedVideo.php?embed=true&amp;s=711c7030bcd0b5a3aa69be6c1df454f2790e42c144144cd5d5e9e93ee5b237cd&amp;host=peertube23.pocketnet.app&amp;id=737525b7-e1d5-4c87-9f41-ff3b605c877c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
					
				</iframe>
			</div>
			<div class="columns">
				<div class="column">
					<ul>
						<li>
							Are you trying to be heard on the internet?
						</li>
						<li>
							Would you like to get your content or product in front of a new dynamic audience for less than major ad networks?

						</li>
						<li>
							Bastyon, the blockchain social network has just released a way of promoting content, including videos.

						</li>
						<li>The cost of an impression on Bastyon is many times lower than on traditional ad networks.
						</li>						
					</ul>
				</div>
				<div class="column">
					<ul>
						<li>
							Boosting posts on Bastyon is very simple, you just need some Pocketcoin, a native cryptocurrency of Bastyon. Click Boost below the post and enter the amount and your post is moved to the top!

						</li>
						<li>
							Bastyon has millions of visitors and growing. Your content will be seen!

						</li>
						<li>
							If you are an aspiring author who wants to increase your audience, Bastyon boosting of posts can work for you!

						</li>
						<li>
							If you are an advertiser looking for a platform to promote your product, you can quickly get your ad up and running and get conversions.
						</li>

						
					</ul>
				</div>
			</div>

			<div class="buy-pkoin">
				<h2>Где купить PKOIN?</h2>
				<p>Вы можете приобрести PKOIN разными способами</p>
				<p>Покупка PKOIN за криптовалюту?</p>
				<span><b><a href="https://pkoin.net/">pkoin.net</a></b></span>
				<span></span>
				<span></span>
				<span></span>
			
			</div>
			
			
	</header>
	

	</div>
</div>
<style lang="scss">
	
	</style>