<div id="<%-module.map.id%>">
	<div class="work adj">
		<header class="header">

			<h1 class="header__title yellow">
				<span class="red"><%-e('boost_c20')%></span>:<%-e('boost_c21')%> 						
			</h1>			
			<div class="video">
				<h2><%-e('boost_c22')%></h2>
				<% if(app.localization.key === 'ru') {%>
					<iframe width="640" style="aspect-ratio:1.7770833333333333" src="https://bastyon.com/embedVideo.php?embed=true&s=711c7030bcd0b5a3aa69be6c1df454f2790e42c144144cd5d5e9e93ee5b237cd&host=peertube23.pocketnet.app&id=737525b7-e1d5-4c87-9f41-ff3b605c877c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<% } %>
				<% if(app.localization.key === 'en') {%>
					<iframe width="640" style="aspect-ratio:1.7770833333333333" src="https://bastyon.com/embedVideo.php?embed=true&s=2cdab966cf0cce28b52597a42d9f4290489b120a2ec64a09e6a6650ffb090f66&host=peertube23.pocketnet.app&id=cf7b0d22-6d10-46bc-bb9b-de6d51482153" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<% } %>					
				</iframe>
			</div>
			<div class="columns">
				<div class="column">
					<ul>
						<li>
							<%-e('boost_c23')%>							
						</li>
						<li>
							<%-e('boost_c24')%>
						</li>
						<li>							
							<%-e('boost_c25')%>
						</li>
						<li>
							<%-e('boost_c26')%>
						</li>						
					</ul>
				</div>
				<div class="column">
					<ul>
						<li>
							
							<%-e('boost_c27')%>
						</li>
						<li>							
							<%-e('boost_c28')%>
						</li>
						<li>							
							<%-e('boost_c29')%>
						</li>
						<li>
							<%-e('boost_c30')%>							
						</li>

						
					</ul>
				</div>
			</div>


			<div class="buy-pkoin">
				<h2 class="yellow"><%-e('reach')%></h2>
				<p>					
					<%-e('reachDescription')%>
				</p>
				<h2 class="yellow"><%-e('boost_c31')%></h2>
				<p>					
					<%-e('boost_c32')%>
				</p>
				<div class="sites">
					<a target="_blank" href="https://www.bitforex.com/en/spot/pkoin_usdt">
						<img class="img" src="./img/bitforex.png"/>
						<span>
							Bitforex.com
						</span>
					</a>
					<a target="_blank" href="https://www.digifinex.com/en-ww/trade/USDT/PKOIN">
						<img src="./img/Digifinex.png"/>
					<span>
						Digifinex.com
						</span>
					</a>
					<a target="_blank" style="max-width:400px" href="https://pkoin.net/">
						<!--<img src="./img/Digifinex.png"/> -->
						PKOIN.NET
						<span class	= "span">
							<%-e('boost_c33')%>							 
						</span>
					</a>
					<a target="_blank" style="max-width:400px" href="https://buy.pkoin.indacoin.io/">
						<img src="./img/INDACOIN.22f2245a.svg"/>
						<span class	= "span">
							<%-e('boost_c45')%>							 
						</span>
						
					</a>
				</div>

				<p class="yellow">
					<%-e('boost_c34')%>					
				</p>
				<p class="text">
					<%-e('boost_c35')%>					
				</p>
				<% if(app.localization.key === 'ru') {%>
					<img src="./img/peer-to-peer.jpg"/>
				<% } %>
				<% if(app.localization.key === 'en') {%>
					<img src="./img/peer-to-peer-en.jpg"/>
				<% } %>
				

				<p class="yellow"><%-e('boost_c36')%></p>
				<p class="text">
					<%-e('boost_c37')%>										
				</p>
				<div class="columns">
					<div class="column">
						<ul>
							<li>
								<%-e('boost_c38')%>								
							</li>
							<li>
								<%-e('boost_c39')%>
								
							</li>
							<li>
								<%-e('boost_c40')%>								
							</li>
						</ul>
					</div>
				</div>
				<p class="text">
					<%-e('boost_c41')%>					
				</p>
				<% if(app.localization.key === 'ru') {%>
					<img src="./img/basty-boost-img.jpg"/>
				<% } %>
				<% if(app.localization.key === 'en') {%>
					<img src="./img/ads-on-bastyon1-en.jpg"/>
				<% } %>
				
				<p class="text">
					<%-e('boost_c42')%>					
				</p>
				<% if(app.localization.key === 'ru') {%>
					<img src="./img/ads-on-bastyon3.jpg"/>
				<% } %>
				<% if(app.localization.key === 'en') {%>
					<img src="./img/ads-on-bastyon3-en.jpg"/>
				<% } %>
				
				<p class="red">					
					<%-e('boost_c43')%>
				</p>
				
				<a href="mailto:support@bastyon.com?subject=<%-e('boost_c44_subject')%>" class="cta "> 
					<%-e('boost_c44')%>					
				</a>
			
			</div>
			
			
	</header>
	

	</div>
</div>
<style lang="scss">
	
	</style>