<div id="<%-module.map.id%>">
	<div class="work adj">
		<div class="caption">
			<span><%-e('boost_c1')%></span>
		</div>

		<div class="layout">
			<div class="images">
				<div class="imageWithCaption">
					<div class="subcaption">
						<span><%-e('boost_c2')%></span>
					</div>
					<div class="imageWrapper">
						<img src="img/boost/logo-78.png" />
					</div>
				</div>

				<div class="imageWithCaption">
					<div class="subcaption">
						<span><%-e('boost_c3')%></span>
					</div>
					<div class="imageWrapper">
						<img src="img/boost/logo-79.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="texts">
			<div class="paragraphs">
				<div class="paragraph">
					<span><%-e('boost_c4')%></span>
				</div>
				<div class="paragraph">
					<span><%-e('boost_c5')%></span>
				</div>
				<div class="paragraph">	
					<span><%-e('boost_c6')%></span>
				</div>
				<div class="paragraph">	
					<span><%-e('boost_c7')%></span>
				</div>
			</div>

			<div class="paragraphs">
				<div class="paragraph">	
					<span><%-e('boost_c8')%></span>
				</div>
				<div class="paragraph">	
					<span><%-e('boost_c9')%></span>
				</div>
				<div class="paragraph">	
					<span><%-e('boost_c10')%></span>
				</div>
				<div class="paragraph">	
					<span><%-e('boost_c11')%></span>
				</div>
			</div>
		</div>

		<div class="features">
			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-08.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c12')%></span>
				</div>
			</div>

			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-07.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c13')%></span>
				</div>
			</div>

			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-06.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c14')%></span>
				</div>
			</div>

			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-05.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c15')%></span>
				</div>
			</div>

			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-04.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c16')%></span>
				</div>
			</div>

			<div class="featureWithImage">
				<div class="imageWrapper">
					<img src="img/boost/kartinki_dlya_Sayta_Bastion-03.png" />
				</div>
				<div class="subcaption">
					<span><%-e('boost_c17')%></span>
				</div>
			</div>
		</div>

		<div class="videoWrapper">
			<iframe width="640" style="aspect-ratio:1.7770833333333333" src="https://localhost/pocketnet/embedVideo.php?embed=true&s=711c7030bcd0b5a3aa69be6c1df454f2790e42c144144cd5d5e9e93ee5b237cd&host=peertube23.pocketnet.app&id=737525b7-e1d5-4c87-9f41-ff3b605c877c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="faqWrapper">

		</div>

	</div>
</div>