<div class="setting togglebutton">
    <div class="settingTable table">
        <div class="label">
            <span><%- e('torusing_useTor') %></span>
        </div>

        <div elementsid="torenabled" class="value" sys="torenabled2" value="<%-(typeof changes.torenabled2 != 'undefined' ? changes.torenabled2 : system.tor.enabled2)%>">
            <span><%- e('torusing_' + ((typeof changes.torenabled2!= 'undefined' ? changes.torenabled2 : system.tor.enabled2)  || 'neveruse')) %></span>
        </div>

        <% if(typeof changes.torenabled2 != 'undefined') {%>
            <div class="icon">
                <i elementsid="fa-times-circle" class="far fa-times-circle" remove="torenabled2"></i>
            </div>
        <% } %>
    </div>
</div>

<% if(system.tor.enabled2 !== 'neveruse') {%>
<div class="setting togglebutton">
    <div class="settingTable table">
        <div class="label">
            <span><%- e('torusing_useSnowflakeBridge') %></span>
        </div>

        <div elementsid="snowflakeenabled" class="value" sys="useSnowFlake" value="<%-(typeof changes.useSnowFlake != 'undefined' ? changes.useSnowFlake : system.tor.useSnowFlake) || false%>">
            <span><%- (typeof changes.useSnowFlake!= 'undefined' ? changes.useSnowFlake : system.tor.useSnowFlake) ? e('dyes') : e('dno') %></span>
        </div>

        <% if(typeof changes.useSnowFlake != 'undefined') {%>
            <div class="icon">
                <i elementsid="fa-times-circle" class="far fa-times-circle" remove="useSnowFlake"></i>
            </div>
        <% } %>
    </div>
</div>
<% } %>

<% if(!_.isEmpty(changes)) {%>

    <div class="haschanges">
        <div class="buttons">
            <button elementsid="savewebserveradmin" class="button save">
                <%- e('settings_save') %>
            </button>

            <button elementsid="discardwebserveradmin" class="button ghost discard">
                <%- e('settings_discard') %>
            </button>
        </div>
    </div>

<% } %>