<div class="wwork">
    <div class="subcaption">
        <span><%- e('torusing_stats')%></span>
    </div>
</div>

<div class="stats">
    <div class="stat current direct <% if(!initial && !stats.torUsed && stats.status == 'failed') {%>failed<% } %>">
        <div class="statcaption"><span><%- e('torusing_stat_currentbytesLength')%></span></div>
        <div class="value"><span><%- formatBytes(!initial && (!stats.torUsed && stats.status == 'success') ? (deep(stats, 'bytesLength') || 0) : 0) %></span></div>
    </div>

    <div class="stat current tor <% if(!initial && stats.torUsed && stats.status == 'failed') {%>failed<% } %>">
        <div class="statcaption"><span><%- e('torusing_stat_torbytesLength')%></span></div>
        <div class="value"><span><%- formatBytes(!initial && (stats.torUsed && stats.status == 'success') ? (deep(stats, 'bytesLength') || 0) : 0) %></span></div>
    </div>

    <div class="stat">
        <div class="statcaption"><span><%- e('torusing_stat_directBytes')%></span></div>
        <div class="value"><span><%- formatBytes(deep(stats, 'totalStats.directBytes') || 0) %></span></div>
    </div>

    <div class="stat">
        <div class="statcaption"><span><%- e('torusing_stat_totalTorBytes')%></span></div>
        <div class="value"><span><%- formatBytes(deep(stats, 'totalStats.totalTorBytes') || 0) %></span></div>
    </div>
</div>
