<div class="state <%- directProxy ? 'directProxy' : 'notdirectProxy' %>">
        
    <% if(!cordovaProxy) { %>
    <div class="proxyselection ">

        <div class="subcaption">
            <span><%- e('torusing_proxyCaption')%></span>
        </div>

        <div class="select">
            <div class="current">
                <span><%- e(directProxy ? 'torusing_directProxy' : 'torusing_notdirectProxy') %></span>
            </div>

            <div class="change">
                <button class="button ghost"><%- e(directProxy ? 'torusing_changedirectProxy' : 'torusing_changenotdirectProxy') %></button>
            </div>
        </div>
    </div>
    <% } %>

    <div class="wwork">

        <% if(!directProxy && !cordovaProxy) {%>
            <div class="disclaimer">
                <span><%- e('torusing_disclaimer')%></span>
            </div>
        <% } %>
    </div>

    <% if((system)) {%>

        <% if(directProxy || cordovaProxy) {%>

            <div class="wwork">
                <div class="settingsWrapper">
                    <div class="subcaption">
                        <span><%- e('torusing_settings')%></span>
                    </div>

                    <div class="settingsContent">
                        
                    </div>
                </div>
            </div>
        <% } %>

    <% } %>

    <div class="statsWrapper">

    </div>
        
</div>