<% 

var me = psdk.userInfo.getmy()

var sUserInfo = psdk.userInfo.getShortForm(author.address)

%>

<div class="aucaption">
    <div elementsid="author_usericon" ban=".gif" class="usericon" contain="none" <%=bgImagesClApplyTemplate(sUserInfo.image)%>>
        <% if(!sUserInfo.image && sUserInfo.letter) {%>
            <span class="letter">
                <%-sUserInfo.letter.toUpperCase()%>
            </span>
        <% } else if (!sUserInfo.image) { %>
            <i class="far fa-user"></i>
        <% } %>
        <%= app.platform.ui.markUser(author.address)%>
    </div>

    <div class="contentinfo">
        <div class="namewrapper">
            <span><%-sUserInfo.name%></span>
        </div>
        <div class="sminfo">
            <div class="row">
                <span class="value"><%- (sUserInfo.reputation || 0).toFixed(1) %></span>
                <span class="label"><%=e('rstate')%></span>
            </div>

            <div class="row">
                <span class="value"><%- (author.data.subscribers_count || 0) %></span>
                <span class="label"><%=e('followers2')%></span>
            </div>

            <div class="row">
                <span class="value"><%- (author.data.subscribes_count || 0) %></span>
                <span class="label"><%=e('following2')%></span>
            </div>
        </div>
    </div>
</div>