<div id="<%-module.map.id%>">

	<div class="vdivcontainer">
		<div class="maincntwrapperOvf">
			<div class="maincntwrapper" id="maincntwrapper">
				<div class="bgwallpaperWrapper">
					
				</div>
				
				<div class="acontentps"></div>

				<div class="acontent">
					<div class="rightchatspacer">
						<div class="work adj columns">
							<div class="lcolumn">
								<section>
									<div class="aucaptionWr">
									</div>

									<div class="fbuttonsrow">
									</div>

									<div class="uinfoWr">
									</div>

									<!--<div class="collections">
									</div>-->

									<div class="subscribes">
									</div>

									<div class="subscribers">
									</div>
									
									<div class="blocking">
									</div>
								</section>

							</div>
							<div class="rcolumn">
								<div class="whatsnew">
								</div>

								<div class="alentanavigation">
									
								</div>

								<section>
									<div class="lentawrapper">

									</div>
								</section>

							</div>

							

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="opensvi">
			<div class="upbackbuttonwrapper">
			</div>
			<div class="rightchatspacer">
				<div class="work adj">
					<div class="mainpanelsvicell">
						<div class="cnt fxd">
							<div class="panelsvi">
								
							</div>
						</div>
					</div>

					<div class="lentacellsvi">
						<div class="cnt">
							<div class="renderposthere">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div elementsid="author_upbuttonwrapper" class="upbuttonwrapper light">
	</div>
</div>