<div id="<%-module.map.id%>">
	<div class="bgwallpaperWrapper">
		
	</div>
	
	<div class="acontentps"></div>

	<div class="acontent">

		<div class="work columns">
			<div class="lcolumn">
				<div class="aucaptionWr">
				</div>

				<div class="fbuttonsrow">
				</div>

				<div class="uinfoWr">
				</div>

				<div class="subscribes">
				</div>

				<div class="subscribers">
				</div>

			</div>
			<div class="rcolumn">
				<div class="whatsnew">
				</div>

				<div class="alentanavigation">
					
				</div>

				<div class="lentawrapper">

				</div>

			</div>

			

		</div>
		
	</div>

	<div elementsid="author_upbuttonwrapper" class="upbuttonwrapper light">
	</div>
</div>