<div id="<%-module.map.id%>">
	<div class="work">
		<div class="table">
			<div>

				<% if(app.errors.connection()) {%>

					<div class="caption">
						<i class="fas fa-wifi"></i>
					</div>
	
					<div class="subcaption">
						<%=e('funetworkproblems')%>
					</div>

				<% } else { %> 

					<div class="caption">
						<%=e('e404')%>
					</div>
	
					<div class="subcaption">
						<a elementsid="hrefindex" href="index"><%=e('e404e')%></a>
					</div>
					
				<% }%>

				

			</div>
		</div>
		
	</div>
</div>
