#system16 {
  position: relative;
  padding-bottom: 4em;
}
#system16 .collapsepart .collapsingpart {
  display: none;
}
#system16 .collapsepart .subcaption {
  cursor: pointer;
}
#system16 .collapsepart .subcaption i {
  width: 40px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .collapsepart .subcaption:hover i {
  transform: rotate(180deg);
}
#system16 .collapsepart.expanded .subcaption i {
  transform: rotate(180deg);
}
#system16 .collapsepart.expanded .collapsingpart {
  display: block;
}
#system16 .systemreq {
  padding: 0.5em;
  padding-top: 0;
  border-radius: 5px;
  border: 1px solid #e4ddde;
}
#system16 .systemreq .scaption {
  padding: 0.5em 0;
}
#system16 .systemreq .scaption span {
  font-size: 0.9em;
  font-weight: 700;
}
#system16 .systemreq .req {
  padding: 1em 0;
}
#system16 .systemreq .req div {
  font-size: 0.8em;
}
#system16 .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
#system16 .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
#system16.loading .preloaderabs {
  display: block;
}
#system16 .toDefaultPath {
  opacity: 0.5;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#system16 .toDefaultPath:hover {
  color: #F41A4D;
}
#system16 .chartWrapper {
  padding: 1em 0;
}
#system16 .botsWrapper .emptybots {
  background: rgba(178, 171, 172, 0.1);
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
}
#system16 .botsWrapper .emptybots span {
  color: #b2abac;
  font-size: 0.8em;
}
#system16 .botsWrapper .exportpanel {
  padding: 1em 0;
}
#system16 .botsWrapper .botslist {
  padding: 1em 0;
  overflow: hidden;
}
#system16 .botsWrapper .botslist > div {
  width: 28%;
  float: left;
  padding-right: 1em;
}
#system16 .botsWrapper .botinlist {
  color: #b2abac;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
}
#system16 .botsWrapper .botinlist a {
  font-weight: 700;
}
#system16 .botsWrapper .botinlist .removefromlist {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(228, 221, 222, 0.7);
}
#system16 .botsWrapper .botinlist .removefromlist:hover {
  color: #076C34;
}
#system16 .stacking .canstacking {
  padding: 1.5em 0;
}
#system16 .stacking .canstacking i {
  width: 20px;
  font-size: 0.9em;
}
#system16 .stacking .canstacking .good {
  color: #076C34;
}
#system16 .stacking .canstacking .bad {
  color: #F41A4D;
}
#system16 .stacking .canstacking .gray {
  color: #b2abac;
}
#system16 .stacking .copyaddress {
  cursor: pointer;
}
#system16 .stacking .copyaddress:hover {
  color: #00A3F7;
}
#system16 .stacking .adresses .address {
  width: auto;
}
#system16 .stacking .adresses .address > div.balance {
  padding: 0 1em;
  padding-left: 0.5em;
  font-weight: 400;
  font-size: 0.9em;
}
#system16 .stacking .adresses .address > div.namewrapper {
  width: 270px;
}
#system16 .stacking .adresses .address > div.iconWrapper {
  width: 44px;
  text-align: right;
}
#system16 .stacking .adresses .address > div.iconWrapper i {
  font-size: 0.8em;
}
#system16 .proxyselecttable {
  width: auto;
}
#system16 .proxyselecttable .openproxielist {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .proxyselecttable .openproxielist:hover {
  color: #00a4ff;
}
#system16 .proxyselecttable i {
  width: 44px;
  text-align: center;
}
#system16 .proxyselecttable .selectedInterface {
  padding-left: 1em;
}
#system16 .proxyselecttable .selectedInterface .value {
  cursor: pointer;
  color: #00a4ff;
  text-decoration: underline;
}
#system16 .proxyselecttable .selectedInterface span {
  font-size: 0.9em;
}
#system16 .proxyselecttable .currentwr {
  padding-right: 1em;
}
#system16 .haschanges {
  padding: 1em 0;
  padding-top: 2em;
}
#system16 .staterowTable,
#system16 .settingTable {
  width: auto;
}
#system16 .staterowTable > div,
#system16 .settingTable > div {
  padding: 0.5em 0;
}
#system16 .staterowTable .label,
#system16 .settingTable .label {
  width: 160px;
}
#system16 .staterowTable .icon,
#system16 .settingTable .icon {
  padding-left: 0.5em;
  color: #e4ddde;
}
#system16 .staterowTable .icon i,
#system16 .settingTable .icon i {
  font-size: 0.8em;
}
#system16 .staterowTable .icon i.good,
#system16 .settingTable .icon i.good {
  color: #076C34;
}
#system16 .staterowTable .todefaultcert,
#system16 .settingTable .todefaultcert {
  padding-left: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b2abac;
}
#system16 .staterowTable .todefaultcert span,
#system16 .settingTable .todefaultcert span {
  font-size: 0.8em;
}
#system16 .staterowTable .todefaultcert:hover,
#system16 .settingTable .todefaultcert:hover {
  color: #00a4ff;
}
#system16 .settingTable .label span {
  font-size: 0.9em;
}
#system16 .settingTable .value {
  color: #b2abac;
}
#system16 .settingTable .value[fss],
#system16 .settingTable .value[sys] {
  text-decoration: underline;
  color: #3c4146;
  cursor: pointer;
}
#system16 .settingTable .value span {
  font-size: 0.9em;
}
#system16 .managepanel {
  padding: 1em 0;
  background: rgba(228, 221, 222, 0.12);
  margin-bottom: 1em;
}
#system16 .managepanel .results {
  margin-top: 1em;
}
#system16 .managepanel .results .count {
  color: #00a4ff;
}
#system16 .graphWrapper {
  padding: 1em 0;
}
#system16 .graphWrapper .grwr {
  display: none;
  background: rgba(228, 221, 222, 0.1);
}
#system16 .graphWrapper.showed .grwr {
  display: block;
}
#system16 .graphWrapper.showed .showgraph {
  display: none;
}
#system16 .graphWrapper.showed .hidegraph {
  display: inline;
}
#system16 .graphWrapper .hidegraph {
  display: none;
}
#system16 .graphWrapper .showgraphwrapper {
  padding: 0.5em 0;
}
#system16 .graphWrapper .showgraphwrapper span {
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  color: #00A3F7;
}
#system16 .graphWrapper .subcaptiongraph {
  cursor: pointer;
  font-weight: 100;
  padding: 1em 0;
  color: #3c4146;
  text-align: center;
}
#system16 .graphWrapper .subcaptiongraph i {
  color: #e4ddde;
  font-size: 0.9em;
}
#system16 .graphWrapper .chartWrapper {
  padding-left: 1em;
}
#system16 .caption {
  padding: 2em 0;
  padding-top: 1.5em;
}
#system16 .caption span {
  font-weight: 100;
  font-size: 2.5em;
}
#system16 .subcaption {
  padding: 2em 0;
  padding-top: 2.5em;
}
#system16 .subcaption span {
  font-weight: 100;
  font-size: 1.7em;
  color: #3c4146;
}
#system16 .ssubcaption {
  padding: 0.5em 0;
}
#system16 .ssubcaption span {
  font-weight: 700;
  color: #3c4146;
}
#system16 .adminpanel {
  padding: 2em 0;
  padding-bottom: 0.5em;
}
#system16 .tablecaption {
  background: #fafafa;
  padding: 1em 0;
}
#system16 .tablecaption > div span {
  font-size: 0.9em;
  color: #b2abac;
}
#system16 .webdistributioncontent .walletWrapper {
  border-top: 1px solid #e4ddde;
}
#system16 .webdistributioncontent .wallet > div {
  vertical-align: middle;
  padding: 1.5em 1em;
}
#system16 .webdistributioncontent .wallet > div .gray {
  color: #e4ddde;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .webdistributioncontent .wallet > div .remove {
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div .remove:hover {
  color: #F41A4D;
}
#system16 .webdistributioncontent .wallet > div .coins {
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div .coins:hover {
  color: #076C34;
}
#system16 .webdistributioncontent .wallet > div i {
  color: #b2abac;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .webdistributioncontent .wallet > div i.remove {
  color: #F41A4D;
}
#system16 .webdistributioncontent .wallet > div i.good {
  color: #076C34;
}
#system16 .webdistributioncontent .wallet > div i.bad {
  color: #F41A4D;
}
#system16 .webdistributioncontent .wallet > div i.normal {
  color: #ff4800;
}
#system16 .webdistributioncontent .wallet > div i.coins:hover,
#system16 .webdistributioncontent .wallet > div i.settings:hover {
  color: #00a4ff;
}
#system16 .webdistributioncontent .wallet > div.use {
  width: 44px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div.queue,
#system16 .webdistributioncontent .wallet > div.balance {
  width: 144px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#system16 .webdistributioncontent .wallet > div.emails {
  width: 244px;
  text-decoration: underline;
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div.balance {
  text-align: left;
}
#system16 .webdistributioncontent .wallet > div.unspents {
  width: 144px;
  text-align: right;
}
#system16 .webadminscontent .adminWrapper {
  border-top: 1px solid #e4ddde;
}
#system16 .webadminscontent .admin > div {
  vertical-align: middle;
  padding: 1.5em 1em;
}
#system16 .webadminscontent .admin > div.iconWrapper {
  width: 44px;
  padding-left: 0;
  padding-right: 0;
}
#system16 .webadminscontent .admin > div.panelWrapper {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#system16 .webadminscontent .admin > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: #b2abac;
  margin-left: 4px;
  text-align: center;
  cursor: pointer;
}
#system16 .webadminscontent .admin > div.panelWrapper .item:hover {
  color: #00a4ff;
}
#system16 .webadminscontent .admin > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .webadminscontent .admin > div.panelWrapper .item.edit:hover {
  color: #00a4ff;
}
#system16 .webadminscontent .admin > div.panelWrapper .item.stable {
  color: #076C34;
}
#system16 .nodedummy {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: #b2abac;
  background: rgba(178, 171, 172, 0.1);
}
#system16 .nodedummy .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#system16 .nodedummy i {
  font-size: 0.9em;
}
#system16 .nodecontent .nodecontentstate span {
  font-size: 0.8em;
}
#system16 .nodecontent .notfound {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: #b2abac;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .nodecontent .notfound:hover {
  color: #00A3F7;
}
#system16 .nodecontent .notfound .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#system16 .nodecontent .notfound i {
  font-size: 0.9em;
  color: #00A3F7;
}
#system16 .nodecontent .addresses {
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #e4ddde;
  border-bottom: 1px solid #e4ddde;
}
#system16 .nodecontent .deletenodeWrapper {
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #e4ddde;
}
#system16 .nodecontentmanage {
  position: relative;
}
#system16 .nodecontentmanage.lock .felock {
  display: block;
}
#system16 .nodecontentmanage .felock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
#system16 .nodecontentmanage .felockcnt {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: #b2abac;
}
#system16 .nodecontentmanage .felockcnt .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#system16 .nodecontentmanage .felockcnt i {
  font-size: 0.9em;
  color: #00A3F7;
}
#system16 .empty {
  padding-top: 1em;
}
#system16 .empty span {
  color: #b2abac;
}
#system16 .error {
  padding-top: 1em;
  padding-bottom: 1em;
}
#system16 .errorRefresh {
  padding: 1em;
}
#system16 .errorTable {
  height: 300px;
}
#system16 .errorTable > div {
  vertical-align: middle;
  text-align: center;
  background: rgba(228, 221, 222, 0.12);
  color: #e4ddde;
}
#system16 .errorTable > div .errorIcon {
  padding: 1em;
}
#system16 .errorTable > div .errorIcon i {
  font-size: 1.5em;
}
#system16 .keycaption {
  padding: 2em;
  text-align: center;
}
#system16 .keycaption span {
  font-size: 0.8em;
}
#system16 .nodescontent .nodeWrapper {
  border-bottom: 1px solid #e4ddde;
}
#system16 .nodescontent .good {
  color: #076C34;
}
#system16 .nodescontent .node.active {
  color: #076C34;
}
#system16 .nodescontent .node.active > div.use {
  color: #076C34;
}
#system16 .nodescontent .node.active > div.use i:before {
  content: '\f058';
}
#system16 .nodescontent .node .testing {
  color: #F41A4D;
}
#system16 .nodescontent .node .name {
  cursor: pointer;
}
#system16 .nodescontent .node.cantuse {
  color: #e4ddde;
}
#system16 .nodescontent .node > div {
  vertical-align: middle;
  padding: 1.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#system16 .nodescontent .node > div.use {
  cursor: pointer;
}
#system16 .nodescontent .node > div.use:hover {
  color: #00a4ff;
}
#system16 .nodescontent .node > div.fork {
  width: 40px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
#system16 .nodescontent .node > div.block {
  width: 90px;
}
#system16 .nodescontent .node > div.use {
  width: 40px;
  text-align: center;
  color: #e4ddde;
  padding-right: 0;
}
#system16 .nodescontent .node > div.use .hov {
  display: none;
}
#system16 .nodescontent .node > div.use:hover .hov {
  display: inline-block;
}
#system16 .nodescontent .node > div.use:hover .unh {
  display: none;
}
#system16 .nodescontent .node > div.connectnode {
  cursor: pointer;
  color: #076C34;
}
#system16 .nodescontent .node > div.panelWrapper {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#system16 .nodescontent .node > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: #b2abac;
  margin-left: 4px;
  text-align: center;
}
#system16 .nodescontent .node > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .nodescontent .node > div.panelWrapper .item.edit:hover {
  color: #00a4ff;
}
#system16 .nodescontent .node > div.panelWrapper .item.stable {
  color: #076C34;
}
#system16 .nodescontent .node > div span {
  font-size: 0.9em;
}
#system16 .peertubecontent .peertubeWrapper {
  border-bottom: 1px solid #e4ddde;
}
#system16 .peertubecontent .good {
  color: #076C34;
}
#system16 .peertubecontent .instance.active {
  color: #076C34;
}
#system16 .peertubecontent .instance.active > div.use {
  color: #076C34;
}
#system16 .peertubecontent .instance.active > div.use i:before {
  content: '\f058';
}
#system16 .peertubecontent .instance.cantuse {
  color: #e4ddde;
}
#system16 .peertubecontent .instance.cantuse .use i {
  display: none;
}
#system16 .peertubecontent .instance.cantuse .panelWrapper .stable {
  display: none;
}
#system16 .peertubecontent .instance > div {
  vertical-align: middle;
  padding: 1.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#system16 .peertubecontent .instance > div.use {
  cursor: pointer;
}
#system16 .peertubecontent .instance > div.use:hover {
  color: #00a4ff;
}
#system16 .peertubecontent .instance > div.use {
  width: 40px;
  text-align: center;
  color: #e4ddde;
  padding-right: 0;
}
#system16 .peertubecontent .instance > div.use .hov {
  display: none;
}
#system16 .peertubecontent .instance > div.use:hover .hov {
  display: inline-block;
}
#system16 .peertubecontent .instance > div.use:hover .unh {
  display: none;
}
#system16 .peertubecontent .instance > div.panelWrapper {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#system16 .peertubecontent .instance > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: #b2abac;
  margin-left: 4px;
  text-align: center;
}
#system16 .peertubecontent .instance > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .peertubecontent .instance > div.panelWrapper .item.edit:hover {
  color: #00a4ff;
}
#system16 .peertubecontent .instance > div.panelWrapper .item.stable {
  color: #076C34;
}
#system16 .peertubecontent .instance > div span {
  font-size: 0.9em;
}
.addproxywnd.wnd .wndinner,
.proxieslistwnd.wnd .wndinner,
.addnodewnd.wnd .wndinner {
  width: 450px;
  max-height: 500px;
}
.addproxywnd.wnd .wndcontent,
.proxieslistwnd.wnd .wndcontent,
.addnodewnd.wnd .wndcontent {
  top: 55px;
  bottom: 55px;
  padding: 0 1em;
}
.addproxywnd.wnd .wndinner > div.buttons .button.delete,
.proxieslistwnd.wnd .wndinner > div.buttons .button.delete,
.addnodewnd.wnd .wndinner > div.buttons .button.delete {
  float: left;
}
.addnode .preloaderabs,
.addproxy .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
.addnode .preloaderabs .table > div,
.addproxy .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
.addnode.loading .preloaderabs,
.addproxy.loading .preloaderabs {
  display: block;
}
.proxieslist .empty {
  display: none;
  height: 120px;
  color: #b2abac;
  text-align: center;
}
.proxieslist .empty .table > div {
  vertical-align: middle;
}
.proxieslist.empty .empty {
  display: block;
}
.proxieslist .proxy {
  border-bottom: 1px solid #e4ddde;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.proxieslist .proxy > div {
  font-size: 0.8em;
  padding: 0;
  vertical-align: middle;
}
.proxieslist .proxy > div.name i {
  width: 40px;
  display: none;
}
.proxieslist .proxy > div.name .dup {
  padding: 1em 0;
  color: #b2abac;
}
.proxieslist .proxy > div.panel {
  width: 88px;
}
.proxieslist .proxy > div.panel .item {
  float: right;
  padding: 1em;
  color: #b2abac;
}
.proxieslist .proxy > div.panel .item.edit {
  cursor: pointer;
}
.proxieslist .proxy > div.panel .item.edit:hover {
  color: #00a4ff;
}
.proxieslist .proxy > div.panel .item.delete {
  cursor: pointer;
}
.proxieslist .proxy > div.panel .item.delete:hover {
  color: #F41A4D;
}
.proxieslist .proxy.active {
  cursor: default;
  color: #00a4ff;
}
.proxieslist .proxy.active > div.name i {
  display: inline-block;
}
.proxieslist .proxy:hover {
  color: #00a4ff;
}
.proxieslist .proxy:nth-last-child(1) {
  border-bottom: 0px solid #e4ddde;
}
.addressdialog input {
  width: 100%;
}
.addressdialog textarea {
  width: 100%;
  height: 120px;
  max-height: 230px;
}
.addproxy .parameter > div,
.addnode .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
.addproxy .parameter .pName,
.addnode .parameter .pName {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 30%;
}
.addproxy .parameter .pName .pNameW,
.addnode .parameter .pName .pNameW {
  font-size: 0.9em;
}
.addproxy .parameter .pName .clear,
.addnode .parameter .pName .clear {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #d0c9ca;
  cursor: pointer;
}
.addproxy .parameter .pName .clear:hover,
.addnode .parameter .pName .clear:hover {
  color: #00a4ff;
}
.addproxy .parameter .pInput,
.addnode .parameter .pInput {
  position: relative;
  vertical-align: top;
}
.addproxy .parameter .pInput .echo,
.addnode .parameter .pInput .echo {
  padding: 0.5em;
  color: #ff6e84;
  font-weight: 700;
}
.addproxy .parameter .pInput .vm_valuesmulti,
.addnode .parameter .pInput .vm_valuesmulti {
  padding-top: 0.5em / 2;
}
.addproxy .parameter .pInput .vc_valuecustom,
.addnode .parameter .pInput .vc_valuecustom {
  width: 100%;
}
.addproxy .parameter .panel,
.addnode .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
.addproxy .parameter .panel .clear,
.addnode .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: #e4ddde;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.addproxy .parameter .panel .clear:hover,
.addnode .parameter .panel .clear:hover {
  color: #00a4ff;
}
.addproxy .parameter select,
.addnode .parameter select,
.addproxy .parameter textarea,
.addnode .parameter textarea,
.addproxy .parameter input,
.addnode .parameter input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #d0c9ca;
  border-radius: 2px;
}
.addproxy .parameter select.error,
.addnode .parameter select.error,
.addproxy .parameter textarea.error,
.addnode .parameter textarea.error,
.addproxy .parameter input.error,
.addnode .parameter input.error {
  border: 1px solid #F41A4D;
}
.addproxy .parameter .error select,
.addnode .parameter .error select,
.addproxy .parameter .error textarea,
.addnode .parameter .error textarea,
.addproxy .parameter .error input,
.addnode .parameter .error input {
  border: 1px solid #F41A4D;
}
.addproxy .parameter select,
.addnode .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
.addproxy .parameter .locationInputWrapper select,
.addnode .parameter .locationInputWrapper select {
  width: 100%;
}
.addproxy .parameter .vmt_valuesmultitree,
.addnode .parameter .vmt_valuesmultitree,
.addproxy .parameter .vm_value,
.addnode .parameter .vm_value {
  padding: 0;
}
.addproxy .parameter .vmt_valuesmultitree .checkbox + label:before,
.addnode .parameter .vmt_valuesmultitree .checkbox + label:before,
.addproxy .parameter .vm_value .checkbox + label:before,
.addnode .parameter .vm_value .checkbox + label:before {
  font-size: 1.6em;
  line-height: 19px;
}
.addproxy .parameter .hoursrange select,
.addnode .parameter .hoursrange select {
  width: 100%;
}
.addproxy .parameter.valuesmultitree .pName,
.addnode .parameter.valuesmultitree .pName {
  padding-top: 0.75em;
}
.addproxy .parameter.color > div,
.addnode .parameter.color > div {
  vertical-align: middle;
}
html.stblack #system16 .preloaderabs {
  background: rgba(10, 12, 23, 0.8);
}
html.stblack #system16 .subcaption span {
  color: #00A3F7;
}
html.stblack #system16 .ssubcaption {
  background: #112035;
}
html.stblack #system16 .ssubcaption span {
  color: #b2abac;
}
html.stblack #system16 .managepanel {
  background: rgba(14, 28, 43, 0.8);
}
html.stblack #system16 .graphWrapper .grwr {
  display: none;
  background: rgba(14, 28, 43, 0.8);
}
html.stblack #system16 .tablecaption {
  background: transparent;
}
html.stblack #system16 .errorTable > div {
  background: rgba(14, 28, 43, 0.8);
}
html.stblack .addnode .preloaderabs,
html.stblack .addproxy .preloaderabs {
  background: rgba(14, 28, 43, 0.8);
}
@media only screen and (max-width: 640px) {
  #system16 .work {
    padding: 0 1em !important;
  }
  #system16 .tableovfWrapper {
    overflow: hidden;
    overflow-x: scroll;
  }
  #system16 .table:not(.errorTable) {
    width: 1024px!important;
  }
  .proxieslist .proxy > div {
    font-size: 0.9em;
  }
}
