@import "../../css/__cssvar";

#system16{
    position: relative;
    padding-bottom: 8 * @rhythm;

    .maincolor{
        color : rgb(var(--color-txt-ac));
    }

    #nodecontrol{
        .maincaption{
            display: none!important;
        }

        .manage{
            border-radius: 12px;
            background: rgba(var(--neutral-grad-3), 0.15);
        }

        .managepanel{
            padding : 2 * @rhythm 0;
        }

        
    }

    .collapsepart{
        .collapsingpart{
            display: none;
        }

        .subcaption{
            cursor: pointer;
            i{
                width: 40px;
                text-align: center;
                .transition(0.3s)
            }

            &:hover{
                i{
                    transform: rotate(180deg);
                }
                
            }
        }

        &.expanded{
            .subcaption{
                i{
                    transform: rotate(180deg);
                }
            }
            
            .collapsingpart{
                display: block;
            }
        }
    }

    .systemreq{

        padding : @rhythm;
        padding-top : 0;
        border-radius: 5px;
        border : 1px solid rgb(var(--neutral-grad-1));

        .scaption{
            padding : @rhythm 0;
            span{
                font-size: 0.9em;
                font-weight:700;
            }
        }

        .req{
            padding : 2 * @rhythm 0;
            div{
                font-size: 0.8em;
            }
        }
    }
	
	.preloaderabs{
		display: none;
		position: absolute;
		left: 0;
		right : 0;
		bottom : 0;
		top : 0;
		background: rgb(var(--background-total-theme));

		.table{
			>div{
				vertical-align: middle;
				text-align: center;
			}
		}
    }
   
	
	&.loading{
		.preloaderabs{
			display : block;
		}
    }

    .toDefaultPath{
        opacity: 0.5;
        .transition(0.3s);
        cursor: pointer;

        &:hover{
            color : rgb(var(--color-bad));
        }
    }
    
    .chartWrapper{
        padding : 2 * @rhythm 0;
        
    }

    .botsWrapper{

        .emptybots{
            background: rgba(var(--neutral-grad-3), 0.15);
            margin-top : 2 * @rhythm;
            padding : 2 * @rhythm 0;
            text-align: center;

            span{
                color : rgb(var(--neutral-grad-3));
                font-size: 0.8em;
            }
        }

        .exportpanel{
            padding : 2 * @rhythm 0;
        }

        .botslist{
            padding : 2 * @rhythm 0;
            overflow: hidden;

            >div{
                width: 28%;
                float: left;
                padding-right: 2 * @rhythm;
            }
        }

        .botinlist{
            color : rgb(var(--neutral-grad-3));
            margin-right: 2 * @rhythm;
            margin-bottom: 2 * @rhythm;
            font-size: 0.8em;

            a{
                font-weight: 700;
            }

            .removefromlist{
                cursor: pointer;
                .transition(0.3s);
                color : rgba(var(--neutral-grad-3), 0.7);

                &:hover{
                    color : rgb(var(--color-good));
                }
            }
            
           
        }
    }

   

    .proxyselecttable{
        width : auto;

        .openproxielist{
            cursor: pointer;
            .transition(0.3s);

            &:hover{
                color : rgb(var(--color-txt-ac));
            }
        }

        i{
            width : 44px;
            text-align: center;
        }

        .selectedInterface{
            padding-left: 2 * @rhythm;

            .value{
                cursor: pointer;
                color : rgb(var(--color-txt-ac));
                text-decoration: underline;
            }
            span{
                font-size: 0.9em;
            }
            

        }
        
        .currentwr{
            padding-right: 2 * @rhythm;
        }
    }

    .haschanges{
        padding : 2 * @rhythm 0;
        padding-top : 4 * @rhythm;
    }

    .staterowTable,
    .settingTable{
        width : auto;

        >div{
            padding : @rhythm 0;
        }

        .label{
            width : 160px;
        }


        .icon{
            padding-left: @rhythm;
            color : rgb(var(--neutral-grad-1));

            i{
                font-size: 0.8em;
            }

            i.good{
                color : rgb(var(--color-good));
            }
        }

        .todefaultcert{

            padding-left: 2 * @rhythm;
            cursor: pointer;
            .transition(0.3s);
            color : rgb(var(--neutral-grad-3));
            span{
                font-size: 0.8em;
            }

            &:hover{
                color : rgb(var(--color-txt-ac));
            }
        }
     
        
    }

    .settingTable{
        .label{
            span{
                font-size: 0.9em;
            }
        }
        .value{
            
            color : rgb(var(--neutral-grad-3));

            &[fss],
            &[sys]{
                text-decoration: underline;
                color : rgb(var(--neutral-grad-3));
                cursor: pointer;
            }
            

            span{
                font-size: 0.9em;
            }
        }

        .clearfirebase{
            cursor: pointer;
        }
    }

    .managepanel{
        padding : 2 * @rhythm 0;
        background: rgb(var(--background-secondary-theme));
        margin-bottom: 2 * @rhythm;
    }

    

    .graphWrapper{

        padding : 2 * @rhythm 0;
        
        .grwr{
            display: none;
            background: rgb(var(--background-secondary-theme));
            border-radius: 12px;
        }

        &.showed{
            .grwr{
                display: block;
            }

            .showgraph{
                display: none;
            }

            .hidegraph{
                display: inline;
            }
        }

        .hidegraph{
            display: none;
        }

        .showgraphwrapper{
            padding : @rhythm 0;
            span{
                font-size: 0.8em;
                font-weight: 700;
                cursor: pointer;
                color : rgb(var(--color-bg-ac))
            }
        }
        
        .subcaptiongraphselect,

        .subcaptiongraph{
            cursor: pointer;
            font-weight: 100;
            padding : 2 * @rhythm 0;
            color :  rgb(var(--neutral-grad-3));
            text-align: center;

            i{
                color : rgb(var(--neutral-grad-3));
                font-size: 0.9em;
            }
        }

        .subcaptiongraphselect{
            font-size: 0.8em;
        }

        .chartWrapper{
            padding-left : 2 * @rhythm;
        }
    }

    
    .caption{
        padding : 4 * @rhythm 0 ;
        padding-top : 3 * @rhythm;
        span{
            font-weight: 100;
            font-size: 2.5em;
        }

    }

    .subcaption{
        
        padding : 4 * @rhythm 0;
        padding-top : 5 * @rhythm;

        span{
            font-weight: 100;
            font-size: 1.7em;
            color :  rgb(var(--neutral-grad-4));
        }
    }

    .ssubcaption{
        padding : @rhythm 0;

        span{
            font-weight: 700;
            color :  rgb(var(--neutral-grad-3));
        }
    }

    .adminpanel{
        padding : 4 * @rhythm 0;
        padding-bottom : @rhythm;
    }

    .tablecaption{
        background: rgb(var(--background-secondary-theme));
        padding : 2 * @rhythm 0;
        border-radius: 6px;

        >div{
            span{
                font-size: 0.9em;
                color : rgb(var(--neutral-grad-4));
            }
        }
    }

    .webservercontent{
        .panel{
            display: flex;

            >div{
                margin-right: @rhythm;
            }
        }
    }

    .webdistributioncontent{
        .walletWrapper{
            border-top: 1px solid rgb(var(--neutral-grad-1));
        }

        .process{
            .subcaptioninfo{
                font-weight: 700;
                padding-bottom: 2 * @rhythm;
                margin-bottom: 2 * @rhythm;
                border-bottom: 1px solid rgb(var(--neutral-grad-1));

                span{
                    font-size: 0.9em;
                }
            }

            .info{
                padding : 2  @rhythm 0;

                .row{
                    
                    display: flex;
                    margin-bottom: @rhythm;
                    

                    >div{
                        margin-right: 2 * @rhythm;
                        font-size: 0.8em;
                    }

                    .value{
                        font-weight: 700;
                    }
                }
            }
        }

        .panel{
            padding : 2 * @rhythm 0;

            button{
                border-radius: 30px;
            }
        }

        .wallet{

            >div{
                vertical-align: middle;
                padding :3 * @rhythm 2 * @rhythm;

                .gray{
                    color : rgb(var(--neutral-grad-1));
                    .transition(0.3s);

                    
                }

                .remove{
                    cursor: pointer;

                    &:hover{
                        color : rgb(var(--color-bad));
                    }
                }

                .coins{
                    cursor: pointer;

                    &:hover{
                        color : rgb(var(--color-good));
                    }
                }

                .apply{
                    cursor: pointer;

                    &:hover{
                        color : rgb(var(--color-txt-ac));
                    }
                }

                i{
                    color : rgb(var(--neutral-grad-3));
                    .transition(0.3s);

                    &.remove{
                        color : rgb(var(--color-bad));
                    }

                    &.good{
                        color : rgb(var(--color-good));
                    }

                    &.bad{
                        color : rgb(var(--color-bad));
                    }

                    &.normal{
                        color : @color-orange;
                    }

                    &.coins,
                    &.settings{
                        &:hover{
                            color : rgb(var(--color-txt-ac));
                        }
                    }

                    
                }

                
                &.use{
                    width: 44px;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                    cursor: pointer;
                }

                &.queue,
                &.balance{
                    width: 144px;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                }

                &.balance{
                    text-align: left;
                }

                &.unspents{
                    width: 144px;
                    text-align: right;
                }
              
            }
        }
    }

    .webadminscontent{
        .adminWrapper{
            border-top: 1px solid rgb(var(--neutral-grad-1));
        }

        .admin{

            >div{
                vertical-align: middle;
                padding :3 * @rhythm 2 * @rhythm;

                &.iconWrapper{
                    width: 44px;
                    padding-left: 0;
                    padding-right: 0;
                }

                &.panelWrapper{
                    width : 140px;
                    padding : 2 * @rhythm;
                    padding-left: 0;

                    .item{
                        width: 40px;
                        float: right;
                        padding : @rhythm;
                        color : rgb(var(--neutral-grad-3));
                        margin-left : 4px;
                        text-align: center;
                        cursor: pointer;

                        &:hover{
                            color : rgb(var(--color-bg-ac));
                        }

                        &.edit{
                            cursor: pointer;
                            &:hover{
                                color : rgb(var(--color-bg-ac));
                            }
                        }

                        &.stable{
                            color : rgb(var(--color-good));
                        }
                       
                    }
                }

              
            }
        }
    }

    .nodedummy{
        text-align: center;
        padding : 4 * @rhythm 0;
        cursor: pointer;
        color : rgb(var(--neutral-grad-3));
        background: rgba(var(--neutral-grad-3), 0.15);

        .text{
            padding : @rhythm 0;
            font-size: 0.9em;
        }

        i{
            font-size: 0.9em;
        }
    }

    

    .empty{
        padding-top : 2 * @rhythm;
        span{
            color : rgb(var(--neutral-grad-3));
        }
    }

    .error{
        padding-top: 2 * @rhythm;
        padding-bottom : 2 * @rhythm;
    }

    .errorRefresh{
        padding : 2 * @rhythm;
    }

    .errorTable{
        height: 300px;

        >div{
            vertical-align: middle;
            text-align: center;
            background: rgba(var(--neutral-grad-3), 0.15);
            color : rgb(var(--neutral-grad-3));

            .errorIcon{
                padding : 2 * @rhythm;

                i{
                    font-size: 1.5em;
                }
            }

            .changeProxyServer{
                margin-top: @rhythm;
                span{
                    font-size: 0.8em;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .keycaption{
        padding : 4 * @rhythm;
        text-align: center;

        span{
            font-size: 0.8em;
        }
    }

    
    .nodescontent{
        
        .nodeWrapper{
            border-bottom: 1px solid rgb(var(--neutral-grad-2));
        }
        .good{
            color : rgb(var(--color-good));
        }

        .fixednotinlist{
            background: rgba(var(--color-good), 0.05);
            text-align: center;
            padding : 3 * @rhythm;

            .fsubcaption{
                font-size: 1.2em;
                font-weight: 300;
            }

            .fsubdatabutton{
                padding-top : @rhythm;
            }

            .bld{
                font-weight: 500;
            }
    
            span{
                font-size: 0.8em;
            }

            i{
                font-size: 0.7em;
                opacity: 0.5;
            }
        }
        .node{
			   
            &.active{
                color : rgb(var(--color-good));

                >div{
                    
                    &.use{
                        color : rgb(var(--color-good));

                        i{
                            &:before{
                                content : '\f058';
                            }
                        }
                    }
                }
            }

            .hasserviceconnection{
                color : rgb(var(--color-good));
                font-size: 0.3em;
                width: 25px;
                text-align: center;
            }

            .testing{
                color : rgb(var(--color-bad));
            }

            .name{
                cursor: pointer;
            }

            &.cantuse{
                color : rgb(var(--neutral-grad-2));
            }


            .smalllabel{
                font-size: 0.8em;
                color : rgb(var(--neutral-grad-2));
            }

            .statistic{

                i{
                    font-size: 0.5em;
                }

                .alltime{
                    color : rgb(var(--neutral-grad-2));

                }
            }

            >div{
                vertical-align: top;
                padding :3 * @rhythm 2 * @rhythm;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.name{
                    width: 120px;
                }

                &.use{
                    cursor: pointer;
    
                    &:hover{
                        color : rgb(var(--color-txt-ac));
                    }
                }

                /*&.fork{
                    width: 40px;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                }*/

                &.blockfork{
                    width: 90px;
                }

                &.use{
                    width : 40px;
                    text-align: center;
                    color : rgb(var(--neutral-grad-2));
                    padding-right: 0;

                    .hov{
                        display: none;
                    }

                    &:hover{
                        .hov{
                            display: inline-block;
                        }

                        .unh{
                            display: none;
                        }
                    }
                }

                &.connectnode{
                    cursor: pointer;

                    color : rgb(var(--color-good));
                }

                &.panelWrapper{
                    width : 50px;
                    padding : 2 * @rhythm 0;
                    padding-left: 0;

                    .item{
                        width: 40px;
                        float: right;
                        padding : @rhythm;
                        color : rgb(var(--neutral-grad-4));
                        margin-left : 4px;
                        text-align: center;

                        &.edit{
                            cursor: pointer;
                            &:hover{
                                color : rgb(var(--color-txt-ac)); 
                            }
                        }

                        &.stable{
                            color : rgb(var(--color-good));
                        }
                       
                    }
                }

                span{
                    font-size: 0.9em;
                }

              
            }
        }
    }

    .peertubecontent{
        .peertubeWrapper{
            border-bottom: 1px solid rgb(var(--neutral-grad-2));
        }
        .good{
            color : rgb(var(--color-good));
        }
        .instance{

            .statistic{

                i{
                    font-size: 0.5em;
                }

                .alltime{
                    color : rgb(var(--neutral-grad-2));

                }
            }
			   
            &.active{
                color : rgb(var(--color-good));

                >div{
                    
                    &.use{
                        color : rgb(var(--color-good));

                        i{
                            &:before{
                                content : '\f058';
                            }
                        }
                    }
                }
            }

          
            &.cantuse{
                color : rgb(var(--neutral-grad-2));

                .use{
                    i{
                        display: none;
                    }
                }

                .panelWrapper{
                    .stable{
                        display: none;
                    }
                }
            }

            .statistic{

                i{
                    font-size: 0.5em;
                }

                .alltime{
                    color : rgb(var(--neutral-grad-2));

                }
            }

            >div{
                vertical-align: middle;
                padding :3 * @rhythm 2 * @rhythm;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                

                &.use{
                    cursor: pointer;
    
                    &:hover{
                        color : @color-main;
                    }
                }

                &.use{
                    width : 40px;
                    text-align: center;
                    color : rgb(var(--neutral-grad-2));
                    padding-right: 0;

                    .hov{
                        display: none;
                    }

                    &:hover{
                        .hov{
                            display: inline-block;
                        }

                        .unh{
                            display: none;
                        }
                    }
                }

                &.panelWrapper{
                    width : 140px;
                    padding : 2 * @rhythm;
                    padding-left: 0;

                    .item{
                        width: 40px;
                        float: right;
                        padding : @rhythm;
                        color : rgb(var(--neutral-grad-3));
                        margin-left : 4px;
                        text-align: center;

                        &.edit{
                            cursor: pointer;
                            &:hover{
                                color : rgb(var(--color-txt-ac));
                            }
                        }

                        &.stable{
                            color : rgb(var(--color-good));
                        }
                       
                    }
                }

                span{
                    font-size: 0.9em;
                }

              
            }
        }


        .instanceWrapper {
            .hasPerformanceInfo {
                &:hover {
                    color: rgb(var(--color-txt-ac));
                    cursor: pointer;
                }
            }

            .instancePerformance {
                padding: @rhythm * 2;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                background-color: rgb(var(--background-secondary-theme));
            }
        }

        .emptyHolder {
            width: 40px;
        }

        .performancesWrapper {
            flex-grow: 1;
            padding-left: 2 * @rhythm;
            overflow: hidden;
        }

        .performanceSection {
            float: left;
            width: 22%;
            border-radius: 5px;
            padding: 2 * @rhythm;
            box-sizing: border-box;
            background-color: rgb(var(--background-total-theme));

            .statsHeader {
                font-size: 0.8em;
                align-items: center;
                text-align: center;
                color : rgb(var(--neutral-grad-3));

                i {
                    font-size: 0.75em;
                    margin-right: 0;
                }
            }

            .statsMain {
                font-size: 0.8em;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
            }
        }


        .waitingStat {
            color: #ffcb20;
        }

        .activeStat {
            color: @color-green;
        }

        .failedStat {
            color: rgb(var(--color-bad));
        }

        .iconStat {
            display: flex;
            align-items: center;

            i {
                width: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin-right: 5px;

                cursor: pointer;
            }
        }
    }
}   

.addproxywnd.wnd,
.proxieslistwnd.wnd,
.addnodewnd.wnd{
	.wndinner{
        width : 450px;
        max-height: 500px;
    }
    .wndcontent{
        top : 55px;
        bottom: 55px;
        padding : 0 2 * @rhythm;
    }

    .wndinner>div.buttons .button.delete{
        float: left;
    }

}

.addnode,
.addproxy{
	.preloaderabs{
		display: none;
		position: absolute;
		left: 0;
		right : 0;
		bottom : 0;
		top : 0;
		background: rgba(var(--background-total-theme), 0.8);

		.table{
			>div{
				vertical-align: middle;
				text-align: center;
			}
		}
	}
	
	&.loading{
		.preloaderabs{
			display : block;
		}
	}
}

.proxieslist{
	.empty{

		display: none;
		height: 120px;
		color : rgb(var(--neutral-grad-4));
		text-align: center;

		.table{
			>div{
				
				vertical-align: middle;
			}
		}
	}

	&.empty{
		.empty{
			display: block;
		}
	}

	.proxy{
		border-bottom: 1px solid rgb(var(--neutral-grad-2));
        cursor: pointer;
        .transition(0.3s);

		>div{
            font-size: 0.9em;
			padding : 0;
			vertical-align: middle;

			&.name{

				i{
					width : 40px;
					display: none;
				}

				.dup{
					padding : 2 * @rhythm 0;
					color : rgb(var(--neutral-grad-4));
				}

			}
			
			&.panel{
				width: 88px;

				.item{
					float: right;
					padding : 2 * @rhythm;
					color : rgb(var(--neutral-grad-4));

					&.edit{
						cursor: pointer;
						&:hover{
							color : rgb(var(--color-txt-ac));
						}
					}

                    &.delete{
                        cursor: pointer;
						&:hover{
							color : rgb(var(--color-bad));
						}
                    }

					
				}
			}
		}

		&.active{
			
			cursor: default;
			color : rgb(var(--color-txt-ac));
			
			>div{
				&.name{
					i{
						display: inline-block;
					}
				}
			}	
        }
        
        

		&:hover{
			color : rgb(var(--color-txt-ac));
		}

		&:nth-last-child(1){
			border-bottom: 0px solid rgb(var(--neutral-grad-2));
		}	
	}
}

.addressdialog{
    input{
        width: 100%;
    }

    textarea{
        width : 100%;
        height: 120px;
        max-height: 230px;
    }


}

.addproxy,
.addnode{

	.parameter{

		>div{
			padding: @rhythm 0;
			vertical-align: top;
		}

		.pName{
			vertical-align: middle;
			padding-right : @rhythm;
			width: 30%;

			.pNameW{
				font-size: 0.9em;
			}

			.clear{
				.transition(0.3s);
				color : rgb(var(--neutral-grad-2));
				cursor: pointer;
				&:hover{
					color : rgb(var(--color-txt-ac));
				}
			}
		}

		.pInput{
			position: relative;
			vertical-align: top;

			.echo{
				padding: @rhythm;
				color : rgb(var(--color-txt-ac));
				font-weight: 700;
			}

			.vm_valuesmulti{
				padding-top: 0.5 * @rhythm;
			}

			.vc_valuecustom{
				width: 100%;
			}
		}

		.panel{
			vertical-align: top;
			padding-top: 2 * @rhythm;
			width: 20px;

			.clear{
				text-align: right;
				cursor: pointer;
				color :  rgb(var(--neutral-grad-2)); 
				.transition(0.3s);
				&:hover{
					color : rgb(var(--color-txt-ac));
				}
			}
			
		}

		select,
		textarea,
		input{
			width: 100%;
			padding: @rhythm;
		}

		.error{
			select,
			textarea,
			input{
				border : 1px solid rgb(var(--color-bad));
			}
			
		}

		select{
			height: 38px;
			padding-right: 25px;
			width: auto;
		}

		.locationInputWrapper{
			select{
				width: 100%;
			}
		}

		.vm_value{
			padding : 0;
			.checkbox{
				&+label {
			        &:before {
			        	font-size : 1.6em;
			        	line-height: 19px;
			        }
			    }
			}
		}


	}
}

html.mobileview{
    #system16{
        .work{
            padding: 0 2 * @rhythm!important;
        }
    }
}

/*t*/ @media only screen and (max-width: 768px){
    #system16{
        .work{
            padding: 0 2 * @rhythm!important;
           
        }

        .tableovfWrapper{
            overflow: hidden;
            overflow-x: scroll;
        }

        .table{
            &:not(.errorTable){
                width : 1024px!important;
            }
            
        }

        .botsWrapper{

            .panel{
                button{
                    width: 100%;
                }
            }
    
            .botslist{
    
                >div{
                    width: 100%;
                }
            }
    
            
        }

        .instanceWrapper {

            .instancePerformance {
                padding: @rhythm;
            }
        }

        .peertubecontent {
            .performancesWrapper{
                padding-left: 0;
            }
            .performanceSection{
                width: 100%;
                margin-bottom: @rhythm;
            }
        }
    }

    .proxieslist{
       
        .proxy{
            
            >div{
                font-size: 0.9em;
            }
        }
    }

}
