#system16 {
  position: relative;
  padding-bottom: 4em;
}
#system16 .maincolor {
  color: rgb(var(--color-txt-ac));
}
#system16 #nodecontrol .maincaption {
  display: none!important;
}
#system16 #nodecontrol .manage {
  border-radius: 12px;
  background: rgba(var(--neutral-grad-3), 0.15);
}
#system16 #nodecontrol .managepanel {
  padding: 1em 0;
}
#system16 .collapsepart .collapsingpart {
  display: none;
}
#system16 .collapsepart .subcaption {
  cursor: pointer;
}
#system16 .collapsepart .subcaption i {
  width: 40px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .collapsepart .subcaption:hover i {
  transform: rotate(180deg);
}
#system16 .collapsepart.expanded .subcaption i {
  transform: rotate(180deg);
}
#system16 .collapsepart.expanded .collapsingpart {
  display: block;
}
#system16 .systemreq {
  padding: 0.5em;
  padding-top: 0;
  border-radius: 5px;
  border: 1px solid rgb(var(--neutral-grad-1));
}
#system16 .systemreq .scaption {
  padding: 0.5em 0;
}
#system16 .systemreq .scaption span {
  font-size: 0.9em;
  font-weight: 700;
}
#system16 .systemreq .req {
  padding: 1em 0;
}
#system16 .systemreq .req div {
  font-size: 0.8em;
}
#system16 .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgb(var(--background-total-theme));
}
#system16 .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
#system16.loading .preloaderabs {
  display: block;
}
#system16 .toDefaultPath {
  opacity: 0.5;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#system16 .toDefaultPath:hover {
  color: rgb(var(--color-bad));
}
#system16 .chartWrapper {
  padding: 1em 0;
}
#system16 .botsWrapper .emptybots {
  background: rgba(var(--neutral-grad-3), 0.15);
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
}
#system16 .botsWrapper .emptybots span {
  color: rgb(var(--neutral-grad-3));
  font-size: 0.8em;
}
#system16 .botsWrapper .exportpanel {
  padding: 1em 0;
}
#system16 .botsWrapper .botslist {
  padding: 1em 0;
  overflow: hidden;
}
#system16 .botsWrapper .botslist > div {
  width: 28%;
  float: left;
  padding-right: 1em;
}
#system16 .botsWrapper .botinlist {
  color: rgb(var(--neutral-grad-3));
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
}
#system16 .botsWrapper .botinlist a {
  font-weight: 700;
}
#system16 .botsWrapper .botinlist .removefromlist {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(var(--neutral-grad-3), 0.7);
}
#system16 .botsWrapper .botinlist .removefromlist:hover {
  color: rgb(var(--color-good));
}
#system16 .proxyselecttable {
  width: auto;
}
#system16 .proxyselecttable .openproxielist {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .proxyselecttable .openproxielist:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .proxyselecttable i {
  width: 44px;
  text-align: center;
}
#system16 .proxyselecttable .selectedInterface {
  padding-left: 1em;
}
#system16 .proxyselecttable .selectedInterface .value {
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
#system16 .proxyselecttable .selectedInterface span {
  font-size: 0.9em;
}
#system16 .proxyselecttable .currentwr {
  padding-right: 1em;
}
#system16 .haschanges {
  padding: 1em 0;
  padding-top: 2em;
}
#system16 .staterowTable,
#system16 .settingTable {
  width: auto;
}
#system16 .staterowTable > div,
#system16 .settingTable > div {
  padding: 0.5em 0;
}
#system16 .staterowTable .label,
#system16 .settingTable .label {
  width: 160px;
}
#system16 .staterowTable .icon,
#system16 .settingTable .icon {
  padding-left: 0.5em;
  color: rgb(var(--neutral-grad-1));
}
#system16 .staterowTable .icon i,
#system16 .settingTable .icon i {
  font-size: 0.8em;
}
#system16 .staterowTable .icon i.good,
#system16 .settingTable .icon i.good {
  color: rgb(var(--color-good));
}
#system16 .staterowTable .todefaultcert,
#system16 .settingTable .todefaultcert {
  padding-left: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--neutral-grad-3));
}
#system16 .staterowTable .todefaultcert span,
#system16 .settingTable .todefaultcert span {
  font-size: 0.8em;
}
#system16 .staterowTable .todefaultcert:hover,
#system16 .settingTable .todefaultcert:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .settingTable .label span {
  font-size: 0.9em;
}
#system16 .settingTable .value {
  color: rgb(var(--neutral-grad-3));
}
#system16 .settingTable .value[fss],
#system16 .settingTable .value[sys] {
  text-decoration: underline;
  color: rgb(var(--neutral-grad-3));
  cursor: pointer;
}
#system16 .settingTable .value span {
  font-size: 0.9em;
}
#system16 .settingTable .clearfirebase {
  cursor: pointer;
}
#system16 .managepanel {
  padding: 1em 0;
  background: rgb(var(--background-secondary-theme));
  margin-bottom: 1em;
}
#system16 .graphWrapper {
  padding: 1em 0;
}
#system16 .graphWrapper .grwr {
  display: none;
  background: rgb(var(--background-secondary-theme));
  border-radius: 12px;
}
#system16 .graphWrapper.showed .grwr {
  display: block;
}
#system16 .graphWrapper.showed .showgraph {
  display: none;
}
#system16 .graphWrapper.showed .hidegraph {
  display: inline;
}
#system16 .graphWrapper .hidegraph {
  display: none;
}
#system16 .graphWrapper .showgraphwrapper {
  padding: 0.5em 0;
}
#system16 .graphWrapper .showgraphwrapper span {
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  color: rgb(var(--color-bg-ac));
}
#system16 .graphWrapper .subcaptiongraphselect,
#system16 .graphWrapper .subcaptiongraph {
  cursor: pointer;
  font-weight: 100;
  padding: 1em 0;
  color: rgb(var(--neutral-grad-3));
  text-align: center;
}
#system16 .graphWrapper .subcaptiongraphselect i,
#system16 .graphWrapper .subcaptiongraph i {
  color: rgb(var(--neutral-grad-3));
  font-size: 0.9em;
}
#system16 .graphWrapper .subcaptiongraphselect {
  font-size: 0.8em;
}
#system16 .graphWrapper .chartWrapper {
  padding-left: 1em;
}
#system16 .caption {
  padding: 2em 0;
  padding-top: 1.5em;
}
#system16 .caption span {
  font-weight: 100;
  font-size: 2.5em;
}
#system16 .subcaption {
  padding: 2em 0;
  padding-top: 2.5em;
}
#system16 .subcaption span {
  font-weight: 100;
  font-size: 1.7em;
  color: rgb(var(--neutral-grad-4));
}
#system16 .ssubcaption {
  padding: 0.5em 0;
}
#system16 .ssubcaption span {
  font-weight: 700;
  color: rgb(var(--neutral-grad-3));
}
#system16 .adminpanel {
  padding: 2em 0;
  padding-bottom: 0.5em;
}
#system16 .tablecaption {
  background: rgb(var(--background-secondary-theme));
  padding: 1em 0;
  border-radius: 6px;
}
#system16 .tablecaption > div span {
  font-size: 0.9em;
  color: rgb(var(--neutral-grad-4));
}
#system16 .webservercontent .panel {
  display: flex;
}
#system16 .webservercontent .panel > div {
  margin-right: 0.5em;
}
#system16 .webdistributioncontent .walletWrapper {
  border-top: 1px solid rgb(var(--neutral-grad-1));
}
#system16 .webdistributioncontent .process .subcaptioninfo {
  font-weight: 700;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
}
#system16 .webdistributioncontent .process .subcaptioninfo span {
  font-size: 0.9em;
}
#system16 .webdistributioncontent .process .info {
  padding: 2 0.5em 0;
}
#system16 .webdistributioncontent .process .info .row {
  display: flex;
  margin-bottom: 0.5em;
}
#system16 .webdistributioncontent .process .info .row > div {
  margin-right: 1em;
  font-size: 0.8em;
}
#system16 .webdistributioncontent .process .info .row .value {
  font-weight: 700;
}
#system16 .webdistributioncontent .panel {
  padding: 1em 0;
}
#system16 .webdistributioncontent .panel button {
  border-radius: 30px;
}
#system16 .webdistributioncontent .wallet > div {
  vertical-align: middle;
  padding: 1.5em 1em;
}
#system16 .webdistributioncontent .wallet > div .gray {
  color: rgb(var(--neutral-grad-1));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .webdistributioncontent .wallet > div .remove {
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div .remove:hover {
  color: rgb(var(--color-bad));
}
#system16 .webdistributioncontent .wallet > div .coins {
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div .coins:hover {
  color: rgb(var(--color-good));
}
#system16 .webdistributioncontent .wallet > div .apply {
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div .apply:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .webdistributioncontent .wallet > div i {
  color: rgb(var(--neutral-grad-3));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#system16 .webdistributioncontent .wallet > div i.remove {
  color: rgb(var(--color-bad));
}
#system16 .webdistributioncontent .wallet > div i.good {
  color: rgb(var(--color-good));
}
#system16 .webdistributioncontent .wallet > div i.bad {
  color: rgb(var(--color-bad));
}
#system16 .webdistributioncontent .wallet > div i.normal {
  color: #ff4800;
}
#system16 .webdistributioncontent .wallet > div i.coins:hover,
#system16 .webdistributioncontent .wallet > div i.settings:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .webdistributioncontent .wallet > div.use {
  width: 44px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  cursor: pointer;
}
#system16 .webdistributioncontent .wallet > div.queue,
#system16 .webdistributioncontent .wallet > div.balance {
  width: 144px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#system16 .webdistributioncontent .wallet > div.balance {
  text-align: left;
}
#system16 .webdistributioncontent .wallet > div.unspents {
  width: 144px;
  text-align: right;
}
#system16 .webadminscontent .adminWrapper {
  border-top: 1px solid rgb(var(--neutral-grad-1));
}
#system16 .webadminscontent .admin > div {
  vertical-align: middle;
  padding: 1.5em 1em;
}
#system16 .webadminscontent .admin > div.iconWrapper {
  width: 44px;
  padding-left: 0;
  padding-right: 0;
}
#system16 .webadminscontent .admin > div.panelWrapper {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#system16 .webadminscontent .admin > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: rgb(var(--neutral-grad-3));
  margin-left: 4px;
  text-align: center;
  cursor: pointer;
}
#system16 .webadminscontent .admin > div.panelWrapper .item:hover {
  color: rgb(var(--color-bg-ac));
}
#system16 .webadminscontent .admin > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .webadminscontent .admin > div.panelWrapper .item.edit:hover {
  color: rgb(var(--color-bg-ac));
}
#system16 .webadminscontent .admin > div.panelWrapper .item.stable {
  color: rgb(var(--color-good));
}
#system16 .nodedummy {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: rgb(var(--neutral-grad-3));
  background: rgba(var(--neutral-grad-3), 0.15);
}
#system16 .nodedummy .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#system16 .nodedummy i {
  font-size: 0.9em;
}
#system16 .empty {
  padding-top: 1em;
}
#system16 .empty span {
  color: rgb(var(--neutral-grad-3));
}
#system16 .error {
  padding-top: 1em;
  padding-bottom: 1em;
}
#system16 .errorRefresh {
  padding: 1em;
}
#system16 .errorTable {
  height: 300px;
}
#system16 .errorTable > div {
  vertical-align: middle;
  text-align: center;
  background: rgba(var(--neutral-grad-3), 0.15);
  color: rgb(var(--neutral-grad-3));
}
#system16 .errorTable > div .errorIcon {
  padding: 1em;
}
#system16 .errorTable > div .errorIcon i {
  font-size: 1.5em;
}
#system16 .errorTable > div .changeProxyServer {
  margin-top: 0.5em;
}
#system16 .errorTable > div .changeProxyServer span {
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: underline;
}
#system16 .keycaption {
  padding: 2em;
  text-align: center;
}
#system16 .keycaption span {
  font-size: 0.8em;
}
#system16 .nodescontent .nodeWrapper {
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
}
#system16 .nodescontent .good {
  color: rgb(var(--color-good));
}
#system16 .nodescontent .fixednotinlist {
  background: rgba(var(--color-good), 0.05);
  text-align: center;
  padding: 1.5em;
}
#system16 .nodescontent .fixednotinlist .fsubcaption {
  font-size: 1.2em;
  font-weight: 300;
}
#system16 .nodescontent .fixednotinlist .fsubdatabutton {
  padding-top: 0.5em;
}
#system16 .nodescontent .fixednotinlist .bld {
  font-weight: 500;
}
#system16 .nodescontent .fixednotinlist span {
  font-size: 0.8em;
}
#system16 .nodescontent .fixednotinlist i {
  font-size: 0.7em;
  opacity: 0.5;
}
#system16 .nodescontent .node.active {
  color: rgb(var(--color-good));
}
#system16 .nodescontent .node.active > div.use {
  color: rgb(var(--color-good));
}
#system16 .nodescontent .node.active > div.use i:before {
  content: '\f058';
}
#system16 .nodescontent .node .hasserviceconnection {
  color: rgb(var(--color-good));
  font-size: 0.3em;
  width: 25px;
  text-align: center;
}
#system16 .nodescontent .node .testing {
  color: rgb(var(--color-bad));
}
#system16 .nodescontent .node .name {
  cursor: pointer;
}
#system16 .nodescontent .node.cantuse {
  color: rgb(var(--neutral-grad-2));
}
#system16 .nodescontent .node .smalllabel {
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-2));
}
#system16 .nodescontent .node .statistic i {
  font-size: 0.5em;
}
#system16 .nodescontent .node .statistic .alltime {
  color: rgb(var(--neutral-grad-2));
}
#system16 .nodescontent .node > div {
  vertical-align: top;
  padding: 1.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*&.fork{
                    width: 40px;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                }*/
}
#system16 .nodescontent .node > div.name {
  width: 120px;
}
#system16 .nodescontent .node > div.use {
  cursor: pointer;
}
#system16 .nodescontent .node > div.use:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .nodescontent .node > div.blockfork {
  width: 90px;
}
#system16 .nodescontent .node > div.use {
  width: 40px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
  padding-right: 0;
}
#system16 .nodescontent .node > div.use .hov {
  display: none;
}
#system16 .nodescontent .node > div.use:hover .hov {
  display: inline-block;
}
#system16 .nodescontent .node > div.use:hover .unh {
  display: none;
}
#system16 .nodescontent .node > div.connectnode {
  cursor: pointer;
  color: rgb(var(--color-good));
}
#system16 .nodescontent .node > div.panelWrapper {
  width: 50px;
  padding: 1em 0;
  padding-left: 0;
}
#system16 .nodescontent .node > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: rgb(var(--neutral-grad-4));
  margin-left: 4px;
  text-align: center;
}
#system16 .nodescontent .node > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .nodescontent .node > div.panelWrapper .item.edit:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .nodescontent .node > div.panelWrapper .item.stable {
  color: rgb(var(--color-good));
}
#system16 .nodescontent .node > div span {
  font-size: 0.9em;
}
#system16 .peertubecontent .peertubeWrapper {
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
}
#system16 .peertubecontent .good {
  color: rgb(var(--color-good));
}
#system16 .peertubecontent .instance .statistic i {
  font-size: 0.5em;
}
#system16 .peertubecontent .instance .statistic .alltime {
  color: rgb(var(--neutral-grad-2));
}
#system16 .peertubecontent .instance.active {
  color: rgb(var(--color-good));
}
#system16 .peertubecontent .instance.active > div.use {
  color: rgb(var(--color-good));
}
#system16 .peertubecontent .instance.active > div.use i:before {
  content: '\f058';
}
#system16 .peertubecontent .instance.cantuse {
  color: rgb(var(--neutral-grad-2));
}
#system16 .peertubecontent .instance.cantuse .use i {
  display: none;
}
#system16 .peertubecontent .instance.cantuse .panelWrapper .stable {
  display: none;
}
#system16 .peertubecontent .instance .statistic i {
  font-size: 0.5em;
}
#system16 .peertubecontent .instance .statistic .alltime {
  color: rgb(var(--neutral-grad-2));
}
#system16 .peertubecontent .instance > div {
  vertical-align: middle;
  padding: 1.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#system16 .peertubecontent .instance > div.use {
  cursor: pointer;
}
#system16 .peertubecontent .instance > div.use:hover {
  color: #00a4ff;
}
#system16 .peertubecontent .instance > div.use {
  width: 40px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
  padding-right: 0;
}
#system16 .peertubecontent .instance > div.use .hov {
  display: none;
}
#system16 .peertubecontent .instance > div.use:hover .hov {
  display: inline-block;
}
#system16 .peertubecontent .instance > div.use:hover .unh {
  display: none;
}
#system16 .peertubecontent .instance > div.panelWrapper {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#system16 .peertubecontent .instance > div.panelWrapper .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: rgb(var(--neutral-grad-3));
  margin-left: 4px;
  text-align: center;
}
#system16 .peertubecontent .instance > div.panelWrapper .item.edit {
  cursor: pointer;
}
#system16 .peertubecontent .instance > div.panelWrapper .item.edit:hover {
  color: rgb(var(--color-txt-ac));
}
#system16 .peertubecontent .instance > div.panelWrapper .item.stable {
  color: rgb(var(--color-good));
}
#system16 .peertubecontent .instance > div span {
  font-size: 0.9em;
}
#system16 .peertubecontent .instanceWrapper .hasPerformanceInfo:hover {
  color: rgb(var(--color-txt-ac));
  cursor: pointer;
}
#system16 .peertubecontent .instanceWrapper .instancePerformance {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(var(--background-secondary-theme));
}
#system16 .peertubecontent .emptyHolder {
  width: 40px;
}
#system16 .peertubecontent .performancesWrapper {
  flex-grow: 1;
  padding-left: 1em;
  overflow: hidden;
}
#system16 .peertubecontent .performanceSection {
  float: left;
  width: 22%;
  border-radius: 5px;
  padding: 1em;
  box-sizing: border-box;
  background-color: rgb(var(--background-total-theme));
}
#system16 .peertubecontent .performanceSection .statsHeader {
  font-size: 0.8em;
  align-items: center;
  text-align: center;
  color: rgb(var(--neutral-grad-3));
}
#system16 .peertubecontent .performanceSection .statsHeader i {
  font-size: 0.75em;
  margin-right: 0;
}
#system16 .peertubecontent .performanceSection .statsMain {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#system16 .peertubecontent .waitingStat {
  color: #ffcb20;
}
#system16 .peertubecontent .activeStat {
  color: #016452;
}
#system16 .peertubecontent .failedStat {
  color: rgb(var(--color-bad));
}
#system16 .peertubecontent .iconStat {
  display: flex;
  align-items: center;
}
#system16 .peertubecontent .iconStat i {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}
.addproxywnd.wnd .wndinner,
.proxieslistwnd.wnd .wndinner,
.addnodewnd.wnd .wndinner {
  width: 450px;
  max-height: 500px;
}
.addproxywnd.wnd .wndcontent,
.proxieslistwnd.wnd .wndcontent,
.addnodewnd.wnd .wndcontent {
  top: 55px;
  bottom: 55px;
  padding: 0 1em;
}
.addproxywnd.wnd .wndinner > div.buttons .button.delete,
.proxieslistwnd.wnd .wndinner > div.buttons .button.delete,
.addnodewnd.wnd .wndinner > div.buttons .button.delete {
  float: left;
}
.addnode .preloaderabs,
.addproxy .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(var(--background-total-theme), 0.8);
}
.addnode .preloaderabs .table > div,
.addproxy .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
.addnode.loading .preloaderabs,
.addproxy.loading .preloaderabs {
  display: block;
}
.proxieslist .empty {
  display: none;
  height: 120px;
  color: rgb(var(--neutral-grad-4));
  text-align: center;
}
.proxieslist .empty .table > div {
  vertical-align: middle;
}
.proxieslist.empty .empty {
  display: block;
}
.proxieslist .proxy {
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.proxieslist .proxy > div {
  font-size: 0.9em;
  padding: 0;
  vertical-align: middle;
}
.proxieslist .proxy > div.name i {
  width: 40px;
  display: none;
}
.proxieslist .proxy > div.name .dup {
  padding: 1em 0;
  color: rgb(var(--neutral-grad-4));
}
.proxieslist .proxy > div.panel {
  width: 88px;
}
.proxieslist .proxy > div.panel .item {
  float: right;
  padding: 1em;
  color: rgb(var(--neutral-grad-4));
}
.proxieslist .proxy > div.panel .item.edit {
  cursor: pointer;
}
.proxieslist .proxy > div.panel .item.edit:hover {
  color: rgb(var(--color-txt-ac));
}
.proxieslist .proxy > div.panel .item.delete {
  cursor: pointer;
}
.proxieslist .proxy > div.panel .item.delete:hover {
  color: rgb(var(--color-bad));
}
.proxieslist .proxy.active {
  cursor: default;
  color: rgb(var(--color-txt-ac));
}
.proxieslist .proxy.active > div.name i {
  display: inline-block;
}
.proxieslist .proxy:hover {
  color: rgb(var(--color-txt-ac));
}
.proxieslist .proxy:nth-last-child(1) {
  border-bottom: 0px solid rgb(var(--neutral-grad-2));
}
.addressdialog input {
  width: 100%;
}
.addressdialog textarea {
  width: 100%;
  height: 120px;
  max-height: 230px;
}
.addproxy .parameter > div,
.addnode .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
.addproxy .parameter .pName,
.addnode .parameter .pName {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 30%;
}
.addproxy .parameter .pName .pNameW,
.addnode .parameter .pName .pNameW {
  font-size: 0.9em;
}
.addproxy .parameter .pName .clear,
.addnode .parameter .pName .clear {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
}
.addproxy .parameter .pName .clear:hover,
.addnode .parameter .pName .clear:hover {
  color: rgb(var(--color-txt-ac));
}
.addproxy .parameter .pInput,
.addnode .parameter .pInput {
  position: relative;
  vertical-align: top;
}
.addproxy .parameter .pInput .echo,
.addnode .parameter .pInput .echo {
  padding: 0.5em;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
.addproxy .parameter .pInput .vm_valuesmulti,
.addnode .parameter .pInput .vm_valuesmulti {
  padding-top: 0.25em;
}
.addproxy .parameter .pInput .vc_valuecustom,
.addnode .parameter .pInput .vc_valuecustom {
  width: 100%;
}
.addproxy .parameter .panel,
.addnode .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
.addproxy .parameter .panel .clear,
.addnode .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: rgb(var(--neutral-grad-2));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.addproxy .parameter .panel .clear:hover,
.addnode .parameter .panel .clear:hover {
  color: rgb(var(--color-txt-ac));
}
.addproxy .parameter select,
.addnode .parameter select,
.addproxy .parameter textarea,
.addnode .parameter textarea,
.addproxy .parameter input,
.addnode .parameter input {
  width: 100%;
  padding: 0.5em;
}
.addproxy .parameter .error select,
.addnode .parameter .error select,
.addproxy .parameter .error textarea,
.addnode .parameter .error textarea,
.addproxy .parameter .error input,
.addnode .parameter .error input {
  border: 1px solid rgb(var(--color-bad));
}
.addproxy .parameter select,
.addnode .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
.addproxy .parameter .locationInputWrapper select,
.addnode .parameter .locationInputWrapper select {
  width: 100%;
}
.addproxy .parameter .vm_value,
.addnode .parameter .vm_value {
  padding: 0;
}
.addproxy .parameter .vm_value .checkbox + label:before,
.addnode .parameter .vm_value .checkbox + label:before {
  font-size: 1.6em;
  line-height: 19px;
}
html.mobileview #system16 .work {
  padding: 0 1em !important;
}
/*t*/
@media only screen and (max-width: 768px) {
  #system16 .work {
    padding: 0 1em !important;
  }
  #system16 .tableovfWrapper {
    overflow: hidden;
    overflow-x: scroll;
  }
  #system16 .table:not(.errorTable) {
    width: 1024px!important;
  }
  #system16 .botsWrapper .panel button {
    width: 100%;
  }
  #system16 .botsWrapper .botslist > div {
    width: 100%;
  }
  #system16 .instanceWrapper .instancePerformance {
    padding: 0.5em;
  }
  #system16 .peertubecontent .performancesWrapper {
    padding-left: 0;
  }
  #system16 .peertubecontent .performanceSection {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .proxieslist .proxy > div {
    font-size: 0.9em;
  }
}
