<% 

var senderLetter = sender.name ? sender.name[0] : ''
var receiverLetter = receiver.name ? receiver.name[0] : '';

%>


<div id="<%-module.map.id%>" class="<% if(ed.donatemode) {%>donatemode<% } %>">

	<div class="caption">
		<span><%=e(ed.donatemode ? 'e130961donate' : 'e130961')%></span>
	</div>
	<% if(error) {%>

	<% } else { %> 
		<div class="subcaption">
			<span><%= e('totalBalance') %>: <%-app.platform.mp.coin(total || 0)%> PKOIN</span>
		</div>
		<div class="subcaption">
			<span><%=e('e130962')%>: <%-app.platform.mp.coin(balance || 0)%> PKOIN</span>
		</div>

		<div class="donateWrapper">

			<div class="transaction">
				<div class="user">
					<div class="iconWrapper">
						<div class="usericon" image="<%-sender.image || ''%>">

							<% if(!sender.image && senderLetter) { %>

								<span class="letter">
									<%-senderLetter.toUpperCase()%>
								</span>

							<% } %>
						</div>
					</div>
				</div>
				<div class="coinsWrapper">
					<div class="chevron-right right"></div>
					<div class="receiver">
						<%= input.input() %>
							<span class="text">PKOIN</span>
					</div>
				</div>
				<div class="user">
					<div class="iconWrapper">
						<div class="usericon" image="<%-receiver.image || ''%>">
							<% if(!receiver.image && receiverLetter) { %>

								<span class="letter">
									<%-receiverLetter.toUpperCase()%>
								</span>

								<% } %>
						</div>
					</div>
				</div>
			</div>
			<div class="subscription">
				<span><%=e('sumoftransaction')%></span>
			</div>

			<div class="buttonWrapper">
				<button class="button black apply">

					<% if(ed.donatemode) {%>

						<%=e('applydonate')%>

					<% } else { %> 
						<%=e('wsend')%>
					<% } %>
				</button>
			</div>
		</div>

	<% } %>

	<% if(ed.donatemode) {%>
		<div class="heartwrapper">
			<i class="fas fa-heart"></i>
		</div>
	<% } %>
</div>