<div id="<%-module.map.id%>">
	<div class="wrk">
		<div class="subcaption">
			Notifications
		</div>
		<div class="npWrapper">
			<div class="nabsWrapper">
				<div class="ncaptionAbsWrapper">
					<div class="ncaptionWrapper table">
						<div class="ncaption">
							Notifications
						</div>

						<div class="showAll">
							Show all <span class="more"></span>
						</div>
					</div>
				</div>
				

				<div class="nabsContentWrapper">

					<div class="newWrapper nwrapper">
					</div>

					<div class="empty">
						You haven't notifications
					</div>

					<div class="emptyNew">
						You haven't new notifications
					</div>

				</div>

			</div>
		</div>
	</div>
</div>