<div id="<%-module.map.id%>">

	<div elementsid="contifications_closecontainer" class="closentooltip closecontainer">
		<div class="table">
			<div><div class="closecsscross"></div></div>			
		</div>
	</div>

	<div elementsid="closentooltipsecond" class="closentooltipsecond closecontainer">		
		<i class="fas fa-times"></i>		
	</div>
	<div elementsid="contifications_closecontainer_2" class="closentooltipth closecontainer">		
				
	</div>

	<div class="circularprogress">	
		<div class="circularprogressWrapper"></div>
	</div>

	<div class="wrk ntf">

		

		<div class="_wrp">
			<div class="subcaption">
				<%=e('notifications')%>
			</div>
		</div>
		<div class="npWrapper">
			<div class="nabsWrapper">
				<div class="ncaptionAbsWrapper">
					<div class="ncaptionWrapper table">
						<div class="ncaption">
							<%=e('notifications')%>
						</div>

						<div elementsid="showAll" class="showAll">
							<%=e('showall')%> <span class="more"></span>
						</div>
					</div>
				</div>
				


				<div class="nabsContentWrapper customscroll">

					<div class="error">
						<i class="fas fa-wifi"></i>
					</div>

					<div class="loader">
						<div class="work">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>
					</div>

					<div class="newWrapper nwrapper">
					</div>

					<div class="empty hidden">
						<%=e('e13141')%>
					</div>

				</div>


			</div>
		</div>
	</div>
</div>