<% _.each(grou, function(group, index){ 
	
	
	
	%>

	<% if(!rnow) {%>
	
	<div class="group" index="<%- index %>">

		<div class="groupCaption">	
			<div class="_wrp">
				<div class="caption">
					<div class="gcpt">						
						<%= e(index) %>
					</div>
				</div>
			</div>
		</div>

	

		<div class="groupContent">


	<% } %>


			<% _.each(group, function(notification){


				var seen = '';
				var text = ''

				if(notification.seen) seen = 'seen'

				var m = null;

				if (notification.mesType) m = ws.messages[notification.mesType]
				if (notification.msg && !m) m = ws.messages[notification.msg]


				if(!m) return
				
				var tpl = m.fastMessage(notification)


				if(!tpl) {
					console.log("MISS")
					return
				}
			%>

				<div class="notification <%-seen%>" notification="<%-notification.txid%>">
					<div class="_wrp">
						<div class="data">

							<%= tpl %>

						</div>
					</div>
				
				</div>

				
				
			<% }) %>

	<% if(!rnow) {%>

		</div>

	</div>

	<% } %>


<% }) %>