<%
var me = null;
var _class = '';
var format = address ? 'subscribeUser ' : ''; 

if(user.address.value){

	me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))

    if (me && me.relation(address, 'subscribes')){ _class="following" } 

}

%>



<div id="<%-module.map.id%>" class="<%-format + 'bannerBody'%>">

    <% 
        var name = app.platform.api.name(address); 
        if(address) {
    %>
        <div class="iconWrapper">
            <a elementsid="shareiconprofilelink" href="<%-app.platform.api.authorlink(address)%>">

                <% 
                    var src = deep(app.platform.sdk.usersl.storage, address + '.image');
                    var letter = name ? name[0] : ''; 
                    
                %>

                <div class="icon">
                    <div class="usericon usericonsbsa another" image="<%-src || '*'%>" ban=".gif" contain="none">

                        <% if(!src && letter) { %>

                            <span class="letter">
                                <%-letter.toUpperCase()%>
                            </span>
        
                        <% } else if (!src) { %>
        
                            <svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
        
                        <% } %>

                        <% if(app.platform.ui.markUser) {%>

                            <%= app.platform.ui.markUser(address)%>

                        <% } %>
                        
                    </div>
                </div>

            </a>

        </div>

    <% } else { %>

        <div class="bannerIcon" alt="<%= e('commentBannerTitle') %>"></div>

    <% } %>

    <div class="text">
        <strong><%= e(block ? 'blockuser' : address ? 'commentBannerTitle2' : 'commentBannerTitle', name) %></strong>
        <div class="bannerDescription"><%= e(block ? 'blockUserQ' : address ? 'commentBannerDescription2' : 'commentBannerDescription', name) %></div>
        <div class="buttonsWrapper <%-_class%>">
            <% if (block) {%>
                <button class="block funf">
                    <%=e('blockuser') %>
                </button>	
                <div class="noShowAgain noShowAgainBlock"><span><%= e('dontShowAgain') %></span></div>

            <% } else if (address) {%>
                <button class="subscribe funf">
                    <%=e('follow') %>
                </button>	
    
                <button class="unsubscribe funf">
                    <%=e('unfollow') %>
                </button>	
                <div class="noShowAgain noShowAgainComment"><span><%= e('dontShowAgain') %></span></div>

            <% } %>
        </div>
    </div>


    <div class="closeBannerBtn">
        <div class="container">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>
