<%
var me = psdk.userInfo.getmy();
var _class = '';
var format = address ? 'subscribeUser ' : ''; 

if (me && me.relation(address, 'subscribes')) { _class="following" } 

var sUserInfo = psdk.userInfo.getShortForm(address)

%>



<div id="<%-module.map.id%>" class="<%-format + 'bannerBody'%>">

    <% 
        var name = app.platform.api.name(address); 
        if(address) {
    %>
        <div class="iconWrapper">
            <a elementsid="shareiconprofilelink" href="<%-app.platform.api.authorlink(address)%>">

                <% 
                    var src = sUserInfo.image
                    var letter = sUserInfo.letter
                    
                %>

                <div class="icon">
                    <div class="usericon usericonsbsa another" image="<%-src || '*'%>" ban=".gif" contain="none">

                        <% if(!src && letter) { %>

                            <span class="letter">
                                <%-letter.toUpperCase()%>
                            </span>
        
                        <% } else if (!src) { %>
        
                            <svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
        
                        <% } %>

                        <% if(app.platform.ui.markUser) {%>

                            <%= app.platform.ui.markUser(address)%>

                        <% } %>
                        
                    </div>
                </div>

            </a>

        </div>

    <% } else { %>

        <div class="bannerIcon" alt="<%= e('commentBannerTitle') %>"></div>

    <% } %>

    <div class="text">
        <strong><%= e(address ? 'commentBannerTitle2' : 'commentBannerTitle', name) %></strong>
        <div class="bannerDescription"><%= e(address ? 'commentBannerDescription2' : 'commentBannerDescription', name) %></div>
        <div class="buttonsWrapper <%-_class%>">
            <% if (address) {%>
                <button class="subscribe funf">
                    <%=e('follow') %>
                </button>	
    
                <button class="unsubscribe funf">
                    <%=e('unfollow') %>
                </button>	
        
            <% } %>
            <div class="noShowAgain"><%= e('dontShowAgain') %></div>
        </div>
    </div>


    <div class="closeBannerBtn">
        <div class="container">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>
