<div elementsid="addaddress" class="addaddress">
	<div class="caption">

		<%=e('uaddaddressdona')%>

	</div>

	<div class="inputsWrapper">
		<div class="inputsWrapperTable table">
			<div class="curWrapper">
				<select elementsid="addcurrency" class="currency">
					<option selected value="btc">BTC</option>
					<option value="ltc">LTC</option>
					<option value="xmr">XMR</option>
				</select>
			</div>

			<div class="addressWrapper">

				<input elementsid="uaddaddressdonaplace" type="text" class="address" placeholder="<%=e('uaddaddressdonaplace')%>">

			</div>
		</div>
	</div>


</div>