<div elementsid="addaddress" class="addaddress">
	<div class="caption">

		<%=e('uaddaddressdona')%>

	</div>

	<div class="inputsWrapper">
		<div class="inputsWrapperTable table">
			<div class="curWrapper">
				<select elementsid="addcurrency" class="currency">
					<option selected value="btc">Bitcoin/BTC</option>
					<option value="eth">Ethereum/ETH</option>
					<option value="usdt|erc20">USDT (ERC20)</option>									
					<option value="usdt|trc20">USDT (TRC20)</option>									
					<option value="ltc">Litecoin/LTC</option>
					<option value="xmr">Monero/XMR</option>
					<option value="bch">BitcoinCash/BCH</option>
					<option value="dash">Dash</option>
					<option value="xrp">Ripple/XRP</option>
					<option value="bch">BitcoinCash/BCH</option>
					<option value="zcash">Zcash/ZEC</option>	
					<option value="etc">EthereumClassic/ETC</option>	
					<option value="doge">Dogecoin/DOGE</option>	

				</select>
			</div>

			<div class="addressWrapper">

				<input elementsid="uaddaddressdonaplace" type="text" class="address" placeholder="<%=e('uaddaddressdonaplace')%>">

			</div>
		</div>
	</div>


</div>