<div class="infoWrapper">
	<div class="work">
		<div class="cwrapper table">

			<div class="cell cellforimage">
				<div class="icon">

					<% 
						var src = tempInfo.image;
						var name = tempInfo.name;
						var letter = name ? name[0] : '';
					%>

					<div class="usericon" image="<%-src || '*'%>">

						<% if(!src && letter) {%>

							<span class="letter">
								<%-letter.toUpperCase()%>
							</span>
	
						<% } else if (!src) { %>
	
							<svg width="40" height="40" data-jdenticon-value="<%-user.address.value.toString('hex')%>"></svg>
	
						<% } %>
						

						<div class="uloader">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>

						<div class="sbs">
							<i class="fas fa-plus"></i>
						</div>
					
					</div>
				</div>
			</div>

			<div class="ccell">
				<div class="infomain">
					<div class="caption">
						<b class="adr"><%-p2pkh.address%></b>
					</div>
					<div class="tips">
						
						<%=e('e13176')%>: <b><%-app.platform.addressType%></b>
						
					</div>
				</div>

				<div class="uploadTip">
					<%=e('e13177')%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="imagiconWrapper">
	<div class="work">
		<div class="imagejdenticon">
			<svg width="360" height="360" data-jdenticon-value="<%-user.address.value.toString('hex')%>"></svg>
		</div>
	</div>				
</div>