<div class="pgroup">
	
	<div class="parameters iconParameters">


		<div class="uploadPhoto">
			<div class="uploadTable">
				<div class="iconWrapper">
					<div class="icon">

						<%
							var src = tempInfo.image
							var name = tempInfo.name;
							var letter = name ? name[0] : ''
							var isGroup = (tempInfo.accountType === 'group')
						%>

						<div elementsid="open_<%-src || 'usericon'%>" class="usericon" image="<%-src || '*'%>">

							<% if(!src && letter) {%>

								<span class="letter">
									<%-letter.toUpperCase()%>
								</span>
		
							<% } else if (!src) { %>
								<% if(isGroup) { %>
									<i class="fas fa-users"></i>
								<% } else { %>
									<i class="far fa-user"></i>
								<% } %>
							<% } %>

						</div>
					</div>
				</div>

				<div class="label">
					<% if(isGroup) { %>
						<%=e('uchangegroupicon')%>
					<% } else { %>
						<%=e('uchangeicon')%>
					<% } %>
				</div>
			</div>
		</div>



	</div>

</div>