<div class="pgroup">
	<div class="subcaption">
		<% if(ed.wizard) {%>

			<%=e('upicset')%> 

		<% } else { %> 

			<%=e('upic')%>

		<% }%>
			
	</div>

	<div class="parameters iconParameters">


		<div class="uploadPhoto">
			<div class="uploadTable table">
				<div class="iconWrapper">
					<div class="icon">

						<% 
							var src = tempInfo.image 
							var name = tempInfo.name;
							var letter = name ? name[0] : ''
						%>

						<div elementsid="open_<%-src || 'usericon'%>" class="usericon" image="<%-src || '*'%>">

							<% if(!src && letter) {%>

								<span class="letter">
									<%-letter.toUpperCase()%>
								</span>
		
							<% } else if (!src) { %>
		
								<i class="far fa-user"></i>
		
							<% } %>

						</div>
					</div>
				</div>

				<div class="label">

					<%=e('uchangeicon')%>

				</div>
			</div>
		</div>



	</div>

</div>