<% var fcclass = 'firstTime';

if (firstTime){
	fcclass = 'firstTime'
}

%>

<div id="<%-module.map.id%>" class="<%-fcclass%>">
	
	<div class="work">

		<% if(caption) {%>

			<div class="caption">
				<%=caption%> 
			</div>

		<% } else { %> 

			<% if(!user.validate()) {%>

				<div class="caption">
					<%=e('utip1')%> 
				</div>
	
			<% } %>
			
		<% } %>

		

		

		<div class="userPanel">

			<div class="subcaption">
				<%=e('uuserinfo')%>
			</div>
			
			<div class="pgroupIconWrapper">
				

			</div>
			<div class="pgroup withoptions">
				

				<div class="parameters optionsParameters">

				</div>

			</div>
			<% if(!essenseData.wizard) {%>

				<div class="pgroup ">
					<div class="upanel">

						<div class="item">
							<button elementsid="usave" class="save"><%=e('usave')%></button>
						</div>

						<div class="item cancelwr">
							<button elementsid="ucancel" class="cancel ghost"><%=e('ucancel')%></button>
						</div>

						<div class="item loadingToB">
							<div class="label">
								<%=e('uwaitb')%>
							</div>
						</div>

						<div class="item loadingToB">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>			

					</div>
				</div>

			<% } %>

			<div class="reqsnoska">
				<span class="require">*</span> - <%=e('requiredfields')%>
			</div>

			<!--<div class="upanelloader">
				<div class="t table">
					<div class="t cell">
						<div class="preloader5"><img src="./img/three-dots.svg"/></div>
					</div>
				</div>
				
			</div>-->

		</div>
		
	
	</div>

</div>