<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="all http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>

                <rule name="RequestBlockingRule1" stopProcessing="true">  
                    <match url="(.*)" ignoreCase="true"/>  
                    <conditions>  
                        <add input="{REQUEST_URI}" pattern="5def0ce38f1f67ae50d4243fa49798b3ddc83df56b22aca93a6768d6a796df4a|67367ca8790ea589f0b369652264ea4f2acad514d9568d8218febd0820de5965|fa7a2e6cd9977c12b202f34b329f30537c66920fe83da50869d720f3851ed341" />  
                    </conditions>  
                    <action type="CustomResponse" statusCode="403"/>  
                </rule>

                <rule name="EscapedFragment" stopProcessing="true">
                    <match url="(.*)" ignoreCase="true" />                    
                    <conditions>
                        <add input="{QUERY_STRING}" pattern=".*?_escaped_fragment_=(.*)?" />
                    </conditions>
                    <action type="Rewrite" url="snapshots/snap_{C:1}.html" appendQueryString="false" />
                </rule>

                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>

                  
                
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
