<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

               
                <rule name="EscapedFragment" stopProcessing="true">
                    <match url="(.*)" ignoreCase="true" />                    
                    <conditions>
                        <add input="{QUERY_STRING}" pattern=".*?_escaped_fragment_=(.*)?" />
                    </conditions>
                    <action type="Rewrite" url="snapshots/snap_{C:1}.html" appendQueryString="false" />
                </rule>

                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
