#taginput .tgs {
  margin-bottom: 0.5em;
}
#taginput .tgs .search .searchFastResultWrapper {
  left: 0;
  background: rgb(var(--background-total-theme));
  overflow-y: auto;
  max-height: 350px;
}
#taginput .tgs .search .searchFastResultWrapper .requiredlabel {
  padding: 0.5em 0;
}
#taginput .tgs .search .searchFastResultWrapper .requiredlabel span {
  color: rgb(var(--color-txt-orange));
  font-size: 0.8em;
}
#taginput .tgs .search .searchFastResultWrapper .result {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#taginput .tgs .search .searchFastResultWrapper .result:hover {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .search .searchFastResultWrapper .result.bright {
  font-weight: 700;
}
#taginput .tgs .search .searchFastResultWrapper .empty {
  text-align: center;
}
#taginput .tgs .search .searchFastResultWrapper .empty span {
  font-size: 0.8em;
}
#taginput .tgs .search input {
  border-radius: 3px;
  border: 0;
  background: transparent;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#taginput .tgs .search .searchPanel {
  border-radius: 3px;
  border: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: transparent;
}
#taginput .tgs .search .searchInput .searchInputIcon > div.searchIconLabel {
  display: none;
}
#taginput .tgs .tagsWrapper {
  display: flex;
  flex-wrap: wrap;
}
#taginput .tgs .tagsWrapper > div.label {
  padding-left: 0;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#taginput .tgs .tagsWrapper > div.tagsCont {
  display: flex;
  flex-wrap: wrap;
}
#taginput .tgs .tagsWrapper > div.tagsCont > div.inputWrapper {
  padding: 0;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper {
  width: 215px;
  padding: 0;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper > div {
  margin-right: 0.5em;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper > div.inputWrapper {
  padding: 0;
  border-radius: 6px;
  background: rgb(var(--background-hidden-layer));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#taginput .tgs .tag,
#taginput .tgs .category {
  margin-top: 0.5em;
  border-radius: 8px;
  padding: 4px 10px;
  background: rgb(var(--background-total-theme));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  margin-left: 0.5em;
}
#taginput .tgs .tag .inne,
#taginput .tgs .category .inne {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}
#taginput .tgs .tag .inne > div,
#taginput .tgs .category .inne > div {
  padding: 0.25em 0.5em;
}
#taginput .tgs .tag .inne > div.label,
#taginput .tgs .category .inne > div.label {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .tag .inne > div.remove,
#taginput .tgs .category .inne > div.remove {
  cursor: pointer;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#taginput .tgs .tag .inne > div.remove:hover,
#taginput .tgs .category .inne > div.remove:hover {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .tag .inne > div span,
#taginput .tgs .category .inne > div span,
#taginput .tgs .tag .inne > div i,
#taginput .tgs .category .inne > div i {
  font-size: 0.8em;
}
#taginput .tgs .empty {
  cursor: pointer;
}
/*t*/
@media only screen and (max-width: 768px) {
  #taginput .tgs .search .searchFastResultWrapper .result {
    padding: 1em 0;
  }
}
