#taginput .tgs {
  margin-bottom: 0.5em;
}
#taginput .tgs .search .searchFastResultWrapper {
  left: 0;
  background: rgb(var(--background-total-theme));
  overflow-y: auto;
  max-height: 350px;
}
#taginput .tgs .search .searchFastResultWrapper .requiredlabel {
  padding: 0.5em 0;
}
#taginput .tgs .search .searchFastResultWrapper .requiredlabel span {
  color: rgb(var(--color-txt-orange));
  font-size: 0.8em;
}
#taginput .tgs .search .searchFastResultWrapper .result {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#taginput .tgs .search .searchFastResultWrapper .result:hover {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .search .searchFastResultWrapper .result.bright {
  font-weight: 700;
}
#taginput .tgs .search .searchFastResultWrapper .empty {
  text-align: center;
}
#taginput .tgs .search .searchFastResultWrapper .empty span {
  font-size: 0.8em;
}
#taginput .tgs .search input {
  border-radius: 3px;
  border: 0;
  background: transparent;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#taginput .tgs .search .searchPanel {
  border-radius: 3px;
  border: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: transparent;
}
#taginput .tgs .search .searchInput .searchInputIcon > div.searchIconLabel {
  display: none;
}
#taginput .tgs .tagsWrapper > div {
  vertical-align: top;
}
#taginput .tgs .tagsWrapper > div.label {
  padding-left: 0;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#taginput .tgs .tagsWrapper > div.tagsCont {
  padding: 0;
  overflow: hidden;
}
#taginput .tgs .tagsWrapper > div.tagsCont > div {
  float: left;
  margin-right: 0.5em;
}
#taginput .tgs .tagsWrapper > div.tagsCont > div.inputWrapper {
  padding: 0;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper {
  width: 215px;
  padding: 0;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper > div {
  margin-right: 0.5em;
}
#taginput .tgs .tagsWrapper > div.tagsInputWrapper > div.inputWrapper {
  padding: 0;
  border-radius: 6px;
  background: rgb(var(--background-hidden-layer));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#taginput .tgs .tag {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1em;
  border-radius: 20px;
  background: rgb(var(--background-secondary-theme));
}
#taginput .tgs .tag .tagInner {
  height: auto;
  width: auto;
}
#taginput .tgs .tag .tagInner > div {
  vertical-align: middle;
  padding: 0.25em 0.5em;
}
#taginput .tgs .tag .tagInner > div.label {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .tag .tagInner > div.remove {
  cursor: pointer;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#taginput .tgs .tag .tagInner > div.remove:hover {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .tag .tagInner > div span,
#taginput .tgs .tag .tagInner > div i {
  font-size: 0.8em;
}
#taginput .tgs .category {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1em;
  border-radius: 20px;
  background: rgb(var(--background-secondary-theme));
}
#taginput .tgs .category .categoryInner {
  height: auto;
  width: auto;
}
#taginput .tgs .category .categoryInner > div {
  vertical-align: middle;
  padding: 0.25em 0.5em;
}
#taginput .tgs .category .categoryInner > div.label {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .category .categoryInner > div.remove {
  cursor: pointer;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#taginput .tgs .category .categoryInner > div.remove:hover {
  color: rgb(var(--color-txt-ac));
}
#taginput .tgs .category .categoryInner > div span,
#taginput .tgs .category .categoryInner > div i {
  font-size: 0.8em;
}
#taginput .tgs .empty {
  cursor: pointer;
}
/*t*/
@media only screen and (max-width: 768px) {
  #taginput .tgs .search .searchFastResultWrapper .result {
    padding: 1em 0;
  }
}
