@import "../../css/__cssvar";


#taginput{
    .tgs{
		margin-bottom: @rhythm;

		.search{
			.searchFastResultWrapper{
				left : 0;
				background: rgb(var(--background-total-theme));
				overflow-y: auto;
				max-height: 350px;

				.requiredlabel{
					padding : @rhythm 0;
					span{
						color : rgb(var(--color-txt-orange));
						font-size: 0.8em;
					}
				}

				.result{
					cursor: pointer;
					font-size: 0.8em;
					padding : @rhythm 0;
					.transition(0.3s);

					&:hover{
						color : rgb(var(--color-txt-ac));
					}

					&.bright{
						font-weight: 700;
					}
				}

				.empty{
					text-align: center;
					span{
						font-size: 0.8em;
						
					}
				}
			}

			input{
				border-radius: 3px;
				border : 0;
				background: transparent;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}

			.searchPanel{
				border-radius: 3px;
				border : 0;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				background: transparent;
			}

			.searchInput{
				.searchInputIcon{
					>div{
						&.searchIconLabel{
							display: none;
						}
					}
				}
			}
		}


		.tagsWrapper{	
			
			display: flex;
			flex-wrap: wrap;

			>div{

				&.label{
					padding-left: 0;
					color : rgb(var(--color-txt-ac));
					font-weight: 700;
				}

				&.tagsCont{
					margin-top: @rhythm;
					display: flex;
					flex-wrap: wrap;

					>div{
						margin-right : @rhythm;

						&.inputWrapper{
							padding : 0;
						}
					}
				}

				&.tagsInputWrapper{
					width: 215px;
					padding : 0;

					>div{
						margin-right : @rhythm;

						&.inputWrapper{
							padding : 0;
							border-radius: 6px;
							background: rgb(var(--background-hidden-layer));
							.shadowSmall();
						}
					}
				}
			}
		}


		.tag,
		.category{
			margin-top: 0;
			border-radius: 8px;
            padding: 4px 10px;
            background: rgb(var(--background-total-theme));
            box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
            margin-right: @rhythm;
            margin-bottom: 0.5 * @rhythm;

			.inne{
				height: auto;
				width: auto;
				display: flex;
				align-items: center;

				>div{
					padding : 0.5 * @rhythm @rhythm;

					&.label{
						color : rgb(var(--color-txt-ac));

					}

					&.remove{
						cursor: pointer;
						text-align : center;
						color : rgb(var(--neutral-grad-2));

						&:hover{
							color : rgb(var(--color-txt-ac));
						}
					}

					span, i{
						font-size: 0.8em;
					}
				}
			}
		}

        .empty{
            cursor: pointer;
        }
	}
}


/*t*/ @media only screen and (max-width: 768px){
	#taginput .tgs .search .searchFastResultWrapper .result{
		padding : 2 * @rhythm 0;
	}
}

