<% 

var r = parameters(app.nav.current.completeHref, true).r;
var video = parameters(app.nav.current.completeHref, true).video;
%>

<% if(!app.curation()) {%> 

	<% if(!state && !(pathname == 'index' && mobile)) {%>

	<div class="panelitem blexpl">
		<a href="https://pocketnet.app/blockexplorer/"><i class="fas fa-th"></i> <%=e('e13182')%></a>
	</div>

	<% } %>


	<% if(state || (pathname == 'index' && mobile)) {%>

	<% if(pathname == 'index' && mobile) {%>
		<div class="panelitem">
			<%= selector.input() %>
		</div>

	<% } else { %>
		<div class="panelitem">
			<a href="donations"><i class="fas fa-money-bill-wave"></i> <%=e('donate')%></a>
			<!--<i class="fas fa-sync"></i> Exchange-->
		</div>
	<% } %>

	<% } %>

<% } %>


<% if(!app.curation()) {%> 
<div class="panelitem right">
	<a href="help"><%=e('e13183')%> <i class="fas fa-question-circle"></i></a>
</div>


<% } %>

<% if(!mobile) { %>

	<div class="panelitemCenter">
		<div class="centerTable table">

			<div class="pcenterCell">
				<span class="pcenterLabel fresh <% if(!r && !video && pathname=='index') {%> active <% } %> ">
					<a href="index" handler="true"><%=e('e13136')%></a>
				</span>
			</div>
			<% if(!app.platform.videoenabled) {%>
			<div class="pcenterCell">
				<span class="pcenterLabel <% if(r == 'sub' && pathname=='index') {%> active <% } %>">
					<a href="index?r=sub"  handler="true"><%=e('e13137')%></a>
				</span>
			</div>
			<% } %>
			<% if(app.platform.videoenabled) {%>
			<div class="pcenterCell">
				<span class="pcenterLabel <% if(video && pathname=='index') {%> active <% } %>">
					<a href="index?video=1"  handler="true"><%=e('video')%></a>
				</span>
			</div>
			<% } %>
			<div class="pcenterCell">
				<span class="pcenterLabel toppost <% if(!video && r == 'recommended' && pathname=='index') {%> active <% } %>">
					<a href="index?r=recommended"  handler="true"><%=e('e13138')%></a>
				</span>
			</div>
			
		</div>
	</div>
<% } %>
