<% var r = parameters(app.nav.current.completeHref, true).r; %>



<% if(!state) {%>

<div class="panelitem blexpl">
	<a href="https://pocketnet.app/blockexplorer/"><i class="fas fa-th"></i> Block Explorer</a>
</div>

<% } %>


<% if(state) {%>

 <% if(pathname == 'index' && mobile) {%>
	<div class="panelitem">
		<%= selector.input() %>
	</div>

 <% } else { %>
	<div class="panelitem">
		<a href="donations"><i class="fas fa-money-bill-wave"></i> Donate</a>
		<!--<i class="fas fa-sync"></i> Exchange-->
	</div>
 <% } %>

<% } %>



<div class="panelitem right">
	<a href="help">Help center <i class="fas fa-question-circle"></i></a>
</div>

<% if(!mobile && state) {
	
	%>

	<div class="panelitemCenter">
		<div class="centerTable table">

			<div class="pcenterCell <% if(!r && pathname=='index') {%> active <% } %> fresh">
				<a href="index" handler="true">
					<div class="pcenterLabel ">
						All Posts
					</div>
				</a>
			</div>

			<div class="pcenterCell <% if(r == 'sub' && pathname=='index') {%> active <% } %> toppost">
				<a href="index?r=sub"  handler="true">
					<div class="pcenterLabel">
						Your Pocket
					</div>
				</a>
			</div>

			<div class="pcenterCell <% if(r == 'recommended' && pathname=='index') {%> active <% } %>">
				<a href="index?r=recommended"  handler="true">
					<div class="pcenterLabel ">
						Top posts
					</div>
				</a>
			</div>
			
		</div>
	</div>
<% } %>
