<div id="<%-module.map.id%>" class="unselectablemobile">

	<div class="menuWrapper">

		<div class="sections">
			<div class="section right">

					<div class="items navWrapper unselectable">

						<div class="item navWrapperItem" events="navinit">

							<div class="menutoppanel ">
								<div class="panelitemCenter">
									<div class="centerTable table">

										<div class="pcenterCell">
											<div class="pcenterLabel fresh" r="empty">
												<a href="index" handler="true"><%=e('e13136')%> <span class="lentaunseen" key="common"></span></a>
											</div>
										</div>


										<% if(state) { %> 
										<div class="pcenterCell">
											<div class="pcenterLabel " r="sub">
												<a href="index?r=sub"  handler="true"><%=e('e13137')%> <span class="lentaunseen " key="sub"></span></a>
											</div>
										</div>
										<% } %>
										
										<% if(app.platform.videoenabled) {%>
											<div class="pcenterCell">
												<div class="pcenterLabel " r="video">
													<a href="index?video=1"  handler="true"><%=e('video')%> <span class="lentaunseen" key="video"></span></a>
												</div>
											</div>
										<% } %>

										
										<div class="pcenterCell">
											<div class="pcenterLabel toppost " r="recommended">
												<a href="index?r=recommended"  handler="true"><%=e('e13138')%></a>
											</div>
										</div>
										
										
									</div>
								</div>
							</div>

						</div>

					</div>
					

					<% if(state) { %>

						

							<div class="items keyexportWrapper <% if(typeof key== 'undefined' || !key) {%> hidden <% } %>">
								<div class="item table right onlyicon keyexport" events="keyexport">

									<div class="icon">
										<div class="icn">
											<i class="fas fa-key"></i>
										</div>

										<div class="amount">
										</div>

									</div>

								</div>
							</div>


						<div class="items notificationsWrapper">
							<div class="item table right onlyicon notifications" events="notifications">

								<div class="icon">
									<div class="icn">
										<i class="far fa-bell"></i>
									</div>

									<div class="amount">
									</div>

								</div>

							</div>
						</div>


						<div class="items walletsWrapper">
							<div class="item table right wallets onlyicon" events="wallets">

								<div class="amount">
									<div class="numberWrp">
										<span class="number">0</span> PKOIN
									</div>
								</div>

							</div>
						</div>

					<% } %>


					<div class="items">
						<div class="item table right state onlyicon" events="state">
							
							<div class="icon"> <% if(state) {%> <a href="userpage?id=system16">	<% } else { %> <a href="system16"> <% } %>
								<div class="icn">
									<i class="fas fa-wifi"></i>
								</div></a>
							</div>
							
						</div>
					</div>		
						
					

					<% if(state) { %>

						<div class="items workstation">
							<div class="item table right changeaccount" events="changeaccount">
								<div class="icon">
									<i class="fas fa-sort-down"></i>
								</div>
							</div>
						</div>

						<div class="items">
							<div class="item table right user" events="userpage unselectable">

								<% var src = deep(app, 'platform.sdk.user.storage.me.image')  %>
								
								<div class="icon">
									<a href="<%-app.platform.api.authorlink(user.address.value.toString('hex'))%>">	
										<div class="usericon" image="<%-src || ''%>">

											<% if(!src) {%>

												<i class="far fa-user"></i>

											<% } %>

											<% if(deep(app, 'platform.real.'+user.address.value.toString('hex'))) {%>
												<div class="realperson">
			
													<span class="fa-stack fa-2x">
														<i class="fas fa-certificate fa-stack-2x"></i>
														<i class="fas fa-check fa-stack-1x"></i>
													  </span>
												</div>
											<% } %>
										
										</div>
									</a>

					

									<!--<div class="localizationicon">
										<img src="img/localization/small/<%-lkey.key || ''%>.png">
									</div>-->
								</div>

							</div>
							
						</div>

						

					<% } %>

						
					<% if(!state) { %>

						
						<div class="items">
							<div class="item table right signin" events="signin">
								<div class="label">
									<b><%=e('signinmenu')%></b>
								</div>
							</div>

						</div>

						<div class="items workstation">

							<div class="item table right signup" events="signup">

								<div class="label">
									<b><%=e('signupmenu')%></b>
								</div>

							</div>
						</div>

					<% } %>
				
			</div>

		

			<div class="section leftpart">

				<% if(haschat && state && (isMobile() || isTablet()) /*&& window.testpocketnet*/) {%>

					<div class="items chat">

						<div class="item table chatwr" events="chats">
							<div class="icon">
								<div class="icn">

									<i class="far fa-comment"></i>

									
								</div>
								<div class="amount">
								</div>
							</div>
							
						</div>
					</div>


				<% } else { %> 

					<div class="items sitenames">

						<% if(typeof theme != 'undefined') {%>

						<div class="item table sitename" >
							<div class="icon" events="sitename">
								<img class="header_logo all" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_<%-theme%>.svg">
							</div>
							<div class="label">
								<!--<div class="sitenamelabel"><% if(app.test){%>TESTNET<%} else {%><%-app.meta.fullname%><% }%></div>-->
								<div class="lang localization">
									
									<% if(isMobile()) {%>
										<%-(lkey.key || '').toUpperCase()%> 
									<% } else { %>
										<%-(lkey.name || '').toLowerCase()%> 
									<% } %>
									
									<i class="fas fa-caret-down"></i>
								</div>
							</div>						

						</div>

						<% } else { %> 
						
							<div class="item table sitename" >
								<div class="icon" events="sitename">
									<img class="header_logo" src="img/logo20.svg">
								</div>
								<div class="label">
									<div class="sitenamelabel"><% if(app.test){%>TESTNET<%} else {%><%-app.meta.fullname%><% }%></div>
									<div class="lang localization">
										
										<% if(isMobile()) {%>
											<%-(lkey.key || '').toLowerCase()%> 
										<% } else { %>
											<%-(lkey.name || '').toLowerCase()%> 
										<% } %>
										
										<i class="fas fa-caret-down"></i>
									</div>
								</div>						
	
							</div>
							
						<% } %>
					</div>

				<% } %>

				<% if(typeof _Electron == 'undefined' && !window.cordova){ %> 

					<!--<div class="items mdl workstation">

						<div class="item table">
							
							<div class="label">
								<div><a href="about"><%=e('aboutmenu')%></a></div>
							</div>

						</div>
					</div>-->

				<% } %>

				<!--<% if(!state){ %>  

					<div class="items gethotpostsWrapper">
						<a href="index?r=recommended">
							<div class="item table right onlyicon gethotposts">
								
									
									<div class="icon">
										<div class="icn">
											<i class="fas fa-fire"></i>
										</div>
									</div>

									<div class="label">
										Top posts
									</div>
								

							</div>
						</a>
					</div>

				<% } %>-->

			</div>

			<div class="section centerpart">
				<% if(!app.curation()) {%>
					<div class="items searchWrapper">

						<div class="item table right" events="searchinit">
							<div class="postssearchwrapper">
								<div class="postssearch">
								</div>
							</div>

						</div>

					</div>

				<% } %>
			</div>
			
		</div>

	</div>

</div>

