

<div id="<%-module.map.id%>" class="unselecmobile">
	
	<div class="menuWrapper">
		<div class="rightchatspacer">
			<div class="sections">

				<div class="section leftpart">

					<% if(haschat && state && (app.mobileview)) {%>

						<div class="items chat">
							<div elementsid="eventschats" class="item  chatwr" events="chats">
								<div class="icon">
									<div class="icn">
										<i class="far fa-comment"></i>
									</div>
									<div class="amount">
									</div>
								</div>
							</div>
						</div>

					<% } else { %> 

						<% if( !(state && (app.mobileview)) ) {%>

							<div class="items sitenames">

								<div class="item  sitename" >
									<div elementsid="eventssitename" class="icon" events="sitename">
										<img class="header_logo all" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_<%-theme%>.svg">
									</div>
									<div elementsid="eventslang" class="label">
										<div elementsid="menu_localization" class="lang localization">
											
											<% if(isMobile()) {%>
												<%-(lkey.key || '').toUpperCase()%> 
											<% } else { %>
												<%-(lkey.name || '').toLowerCase()%> 
											<% } %>
											
											<i class="fas fa-caret-down"></i>
										</div>
									</div>						

								</div>
								
							</div>

						<% } %>

					<% } %>

				</div>

				
				<div class="section centerpart">
					<% if(!app.curation()) {%>
						<div class="items searchWrapper">

							<div class="item  right" events="searchinit">
								<div class="postssearchwrapper">
									<div class="postssearch">
									</div>
								</div>
							</div>
						</div>

					<% } %>
				</div>

				<div class="section right">

						<% if(state) { %>

							<div elementsid="keyexportWrapper" class="items keyexportWrapper <% if(typeof key== 'undefined' || !key) {%> hidden <% } %>">
								<div class="item  right onlyicon keyexport" events="keyexport">

									<div class="icon">
										<div class="icn">
											<i class="fas fa-key"></i>
										</div>

										<div class="amount">
										</div>

									</div>

								</div>
							</div>

							<div elementsid="notificationsWrapper" class="items notificationsWrapper">
								<div class="item  right onlyicon notifications" events="notifications">

									<div class="icon">
										<div class="icn">
											<i class="far fa-bell"></i>
										</div>

										<div class="amount">
										</div>

									</div>

								</div>
							</div>

							<div elementsid="walletsWrapperOpen" class="items walletsWrapper">
								<div class="item  right wallets onlyicon" events="wallets">

									<div class="amount">
										<div class="numberWrp">
											<span class="number">0</span> PKOIN
										</div>
									</div>

								</div>
							</div>

						<% } %>

						<div class="items">
							<div class="item  right state onlyicon" events="state">
								
								<div class="icon"> <% if(state) {%> <a elementsid="userpage?id=system16" href="userpage?id=system16">	<% } else { %> <a elementsid="hrefsystem16" href="system16"> <% } %>
									<div class="icn">
										<i class="fas fa-wifi"></i>
									</div></a>
								</div>
								
							</div>
						</div>		

						<% if(state) { %>

							<div class="items workstation">
								<div elementsid="eventschangeaccount" class="item  right changeaccount" events="changeaccount">
									<div class="icon">
										<i class="fas fa-sort-down"></i>
									</div>
								</div>
							</div>

							<div class="items">
								<div elementsid="menu_user" class="item  right user unselec">

									<% 
									
									var src = deep(app, 'platform.sdk.user.storage.me.image')  

									var name = app.platform.api.clearname(deep(app, 'platform.sdk.user.storage.me.name') || (user.address.value && user.address.value.toString('hex')) )
									var letter = name ? name[0] : ''


									%>
									
									<div class="icon">
										<a elementsid="<%-app.platform.api.authorlink(user.address.value.toString('hex'))%>" href="<%-app.platform.api.authorlink(user.address.value.toString('hex'))%>">	
											<div class="usericon" visibleimage="true" image="<%-src || '*'%>" ban=".gif">

												<% if(!src && letter) {%>

													<span class="letter">
														<%-letter.toUpperCase()%>
													</span>

												<% } else if (!src) { %>
		
													<i class="far fa-user"></i>

												<% } %>

												<% if(app.platform.ui.markUser) {%>

													<%= app.platform.ui.markUser(user.address.value && user.address.value.toString('hex'))%>
				
												<% } %>
											
											</div>
										</a>
									</div>

								</div>
								
							</div>

							

						<% } %>

							
						<% if(!state) { %>
							
							<div class="items">
								<div elementsid="eventssignin" class="item  right signin" events="signin">
									<div class="label">
										<b><%=e('signinmenu')%></b>
									</div>
								</div>

							</div>

							<div class="items workstation">

								<div elementsid="eventssignup" class="item right signup" events="signup">

									<div class="label">
										<b><%=e('signupmenu')%></b>
									</div>

								</div>
							</div>

						<% } %>
					
				</div>
			</div>
		</div>
	</div>
</div>

