<%

var deleted = app.platform.sdk.user.myaccauntdeleted();


%>

<div id="<%-module.map.id%>" class="unselecmobile">
	<div class="menuWrapper">
		<div class="rightchatspacer">
			<div class="sections">


				<div class="section leftpart">

					<% if(app.mobileview) {%>
						<% if(state) {
							
							if(!deep(app.platform.sdk, 'usersettings.meta.interfacemobilelayoutmenu.value')){ 
								
								if(haschat) { %>
									<div class="items chat">
										<div elementsid="eventschats" class="item  chatwr" events="chats">
											<div class="icon">
												<div class="icn">
			
													<svg id="l" data-name="l 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135.45 81.46"><title>l</title><path d="M135.45,40.73c0-.1,0-.21,0-.31a4,4,0,0,0-.08-.53s0,0,0-.07v0a4,4,0,0,0-2.07-2.65L61,.43a4,4,0,0,0-5.81,3.45l-.7,23.38L40.18,37.46a4,4,0,0,0-1.63,2.68s0,.09,0,.13a3.31,3.31,0,0,0,0,.93s0,.09,0,.13A4,4,0,0,0,40.18,44L54.47,54.2l.7,23.38A4,4,0,0,0,61,81l72.3-36.72a4,4,0,0,0,2.07-2.65v0s0,0,0-.07a4,4,0,0,0,.08-.53C135.45,40.94,135.45,40.84,135.45,40.73ZM60.73,32.62a4,4,0,0,0,1.67-3.14L63,10.42l51.78,26.29H55ZM63,71,62.41,52a4,4,0,0,0-1.67-3.14L55,44.75h59.76Z"/><path d="M14.7,26.6H37.08a4,4,0,0,0,0-8H14.7a4,4,0,0,0,0,8Z"/><path d="M37.08,54.58H14.7a4,4,0,1,0,0,8H37.08a4,4,0,0,0,0-8Z"/><path d="M32.34,40.59a4,4,0,0,0-4-4H4a4,4,0,0,0,0,8H28.34A4,4,0,0,0,32.34,40.59Z"/></svg>
			
												</div>
												<div class="amount">
												</div>
											</div>
										</div>
									</div>

								<% } %>
							<% } else { %>
								<div class="items naviconwrapper">
								
								</div>
							<% } %>
							
						<% } else { %> 
							<div class="items sitenames">

								<div class="item sitename " >
									<div elementsid="eventssitename" class="icon tvfocusedopacity" events="sitename">
	
										<img class="header_logo onlylight all noblackallcontent" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_<%-theme%>.svg">
										<img class="header_logo onlyblackallcontent all" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_black.svg">
											
									</div>
									<div elementsid="eventslang" class="label tvfocusedopacity">
										<div elementsid="menu_localization" class="lang localization tvfocusedopacity">
											
											<% if(isMobile()) {%>
												<%-(lkey.key || '').toUpperCase()%> 
											<% } else { %>
												<%-(lkey.name || '').toLowerCase()%> 
											<% } %>

											<i class="fas fa-caret-down"></i>
										</div>
									</div>						

								</div>
								
							</div>
						<% } %>
					<% } else { %> 
					
						<div class="items sitenames">

							<div class="item  sitename" >
								<div elementsid="eventssitename" class="icon tvfocusedopacity" events="sitename">

									<img class="header_logo onlylight all noblackallcontent" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_<%-theme%>.svg">
									<img class="header_logo onlylight all onlyblackallcontent" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_black.svg">
										
								</div>
								<div elementsid="eventslang" class="label tvfocusedopacity">
									<div elementsid="menu_localization" class="lang localization tvfocusedopacity">
										
										<% if(isMobile()) {%>
											<%-(lkey.key || '').toUpperCase()%> 
										<% } else { %>
											<%-(lkey.name || '').toLowerCase()%> 
										<% } %>

										<i class="fas fa-caret-down"></i>
									</div>
								</div>						

							</div>
							
						</div>

					<% } %>

				</div>

				
				<div class="section centerpart">
					<% if(!app.curation()) {%>
						<% if(app.isElectron()) {%>
							<div class="items control-app control-left" events="controlApp">
								<div class="control-app-back" >
									<i class="fa fa-arrow-left"></i>
								</div>
								<div class="control-app-next" >
									<i class="fa fa-arrow-right"></i>
								</div>
							</div>
						<% } %>
						<div class="items searchWrapper">

							<div class="item  right" events="searchinit">
								<div class="postssearchwrapper">
									<div class="postssearch">
									</div>
								</div>
							</div>
						</div>
						<% if(app.isElectron()) {%>
						<div class="items control-app control-right" events="controlApp">
							<div class="control-app-refresh" >
								<i class="fas fa-redo-alt"></i>
							</div>
							<div class="control-tor-state off">
								<i class="fas fa-shield-alt"></i>
								<span class="tor-progress-text"></span>
							</div>
							<div class="control-app-dummy">
							</div>
						</div>
						<% } %>
					<% } %>
				</div>

				<div class="section right">

						<% if (!window.cordova && typeof _Electron == 'undefined' && !isMobile()) {%>

							<!--<div class="items">
								<div class="item table right application" events="application">
			
									<div class="icon ">
			
										<div class="icn">
											<i class="fas fa-download"></i>
											
											<i class="fab fa-windows changing-app-icon"></i
										</div>
			
									</div>
			
								</div>
							</div>>-->
			
						<% } %>

						<% if(state) { %>

							<% if(!deleted) {%>

								<!--<div elementsid="keyexportWrapper" class="items keyexportWrapper <% if(typeof key== 'undefined' || !key) {%> hidden <% } %>">
									<div class="item  right onlyicon keyexport" events="keyexport">

										<div class="icon">
											<div class="icn">
												<i class="fas fa-key"></i>
											</div>

											<div class="amount">
											</div>

										</div>

									</div>
								</div>-->


								<div elementsid="notificationsWrapper <% if(typeof key != 'undefined' && key) {%> hidden <% } %>" class="items notificationsWrapper tvfocusedzoom">
									<div class="item  right onlyicon activities" events="activities">

										<div class="icon">
											<div class="icn">
												<i class="far fa-heart"></i>
											</div>
											<div class="amount">
											</div>
										</div>
										

									</div>
								</div>

								<div elementsid="notificationsWrapper" class="items notificationsWrapper">
									<div class="item  right onlyicon notifications tvfocusedzoom" events="notifications">

										<div class="icon">
											<div class="icn">		
												<i class="far fa-bell"></i>
											</div>
											<div class="amount">
											</div>

										</div>

									</div>
								</div>

							<% } %>

							<% if(!app.pkoindisable) {%>

							<div elementsid="walletsWrapperOpen" class="items walletsWrapper">
								<div class="item  right wallets onlyicon" events="wallets">

									<div class="amount">
										<div class="numberWrp">
											<span class="number">0</span> <span class="pkoinlabel">PKOIN</span>
										</div>
									</div>

								</div>
							</div>

							<% } %>

						<% } %>

						<div class="items">
							<div class="item  right state onlyicon" events="state">
								
								<div class="icon">
									<div class="icn">
										<i class="fas fa-wifi"></i>
									</div>
								</div>
								
							</div>
						</div>		

						<% if(state) { %>

							<div class="items workstation">
								<div elementsid="eventschangeaccount" class="item  right changeaccount tvfocusedzoom" events="changeaccount">
									<div class="icon">
										<i class="fas fa-sort-down"></i>
									</div>
								</div>
							</div>

							<div class="items">
								<div elementsid="menu_user" class="item right user unselec userinfoWrapper">

									

								</div>
								
							</div>

							

						<% } %>

							
						<% if(!state) { %>
							
							
							<div class="items">
								<div elementsid="eventssignin" class="item  right signin tvfocusedopacity" events="signin">
									<div class="label">
										<b><%=e('signinmenu')%></b>
									</div>
								</div>

							</div>
							<% if(!app.television) {%>
							<div class="items">

								<div elementsid="eventssignup" class="item right signup tvfocusedopacity" events="signup">

									<div class="label">
										<b><%=e('signupmenu')%></b>
									</div>

								</div>
							</div>
							<% } %>

						<% } %>
					
				</div>

			</div>
		</div>
	</div>
	<div class="menuspace"></div>
</div>

