<div id="<%-module.map.id%>">

	<div class="work">
		<div class="captionTable table">
			<div class="captionCellWrapper">
				<div class="caption">
					Scheduler
				</div>
			</div>

			<div class="timeCellWrapper">
				<div class="time">34;21</div>
				<div class="activeTasks">Ready to posting: <span class="count">0</span></div>
			</div>
		</div>
	</div>
	<div class="work">
		<div class="sharesWrapper">
			<div class="shares">

			</div>
		</div>
	</div>
	<div class="work">
		<div class="addshare table">
			<div class="iconWrapper">
				<i class="fas fa-plus"></i>
			</div>

			<div class="label">

				Add Task

			</div>
		</div>
	</div>
</div>