#faq .contens {
  float: left;
  width: 250px;
  padding: 3em 2em;
  padding-left: 0;
}
#faq .contens .item {
  font-weight: 500;
  margin-bottom: 0.5em;
  cursor: pointer;
}
#faq .contens .item.active,
#faq .contens .item:hover {
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
#faq .dfdo {
  margin-top: 3em;
}
#faq .faqcnt {
  margin-left: 250px;
  padding: 2em;
}
#faq .faqcnt .group {
  margin-bottom: 2em;
}
#faq .faqcnt .group .groupCaption {
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 0.5em;
  color: rgb(var(--color-txt-orange));
}
#faq .faqcnt .group .groupCnt .question {
  font-size: 1.5em;
  padding-bottom: 3em;
  max-width: 700px;
}
#faq .faqcnt .group .groupCnt .question .questiontop {
  display: flex;
  justify-content: space-between;
}
#faq .faqcnt .group .groupCnt .question .questionName {
  padding-bottom: 1em;
  font-weight: 700;
  color: rgb(var(--color-txt-gray-dark));
  font-size: 1.5em;
  max-width: 85%;
}
#faq .faqcnt .group .groupCnt .question .answer {
  font-size: 0.8em;
  padding-bottom: 20px !important;
}
#faq .faqcnt .group .groupCnt .question .answer a {
  text-decoration: underline;
  color: rgb(var(--color-txt-ac));
}
#faq .faqcnt .group .groupCnt .question .answer .image {
  width: 100% !important;
  max-width: 700px;
  position: relative;
}
#faq .faqcnt .group .groupCnt .question .answer .image img {
  width: 100% !important;
}
#faq .faqcnt .group .groupCnt .question .answer div {
  padding-bottom: 0.5em;
}
#faq .faqcnt .group .groupCnt .question .share {
  margin-top: 0.5em;
  color: rgb(var(--color-bg-ac-2));
  font-size: 0.7em;
  cursor: pointer;
}
#faq .faqcnt .group .groupCnt .question .share:hover {
  color: rgb(var(--color-txt-ac));
}
#faq .faqcnt .group .groupCnt .question .share span {
  padding-right: 2px;
}
#faq .faqcnt .group .groupCnt .question .icon {
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-bg-ac-color));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.6em;
}
#faq .faqcnt .group .groupCnt .question .icon:hover {
  background: rgb(var(--neutral-grad-2));
}
/*t*/
@media only screen and (max-width: 768px) {
  #faq .contens {
    display: none;
  }
  #faq .faqcnt {
    margin-left: 0;
    padding: 0.5em 1.5em;
  }
  #faq .faqcnt .group {
    margin-bottom: 2em;
  }
  #faq .faqcnt .group .groupCaption {
    font-size: 1.9em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  #faq .faqcnt .group .groupCnt .question {
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  #faq .faqcnt .group .groupCnt .question .questionName {
    padding-bottom: 1em;
    font-weight: 700;
    color: rgb(var(--color-txt-gray-dark));
  }
  #faq .faqcnt .group .groupCnt .question .answer {
    font-size: 1em;
    font-weight: 400;
    display: none;
    padding: 1em 0 !important;
    text-align: left;
  }
  #faq .faqcnt .group .groupCnt .question .image {
    width: 100% !important;
    position: relative;
  }
  #faq .faqcnt .group .groupCnt .question .image img {
    width: 100% !important;
  }
  #faq .faqcnt .group .groupCnt .question .share {
    display: none;
    font-size: 1em;
    margin-bottom: 2em;
  }
  #faq .faqcnt .group .groupCnt .question.opened .answer {
    display: block;
  }
  #faq .faqcnt .group .groupCnt .question.opened .share {
    display: block;
  }
}
#faq .contens{float:left;width:250px;padding:3em 2em;padding-left:0}#faq .contens .item{font-weight:500;margin-bottom:.5em;cursor:pointer}#faq .contens .item.active,#faq .contens .item:hover{color:#00a4ff;text-decoration:underline}#faq .dfdo{margin-top:3em}#faq .faqcnt{margin-left:250px;padding:2em}#faq .faqcnt .group{margin-bottom:2em}#faq .faqcnt .group .groupCaption{font-size:2.5em;font-weight:700;padding-bottom:.5em;color:#ff4800}#faq .faqcnt .group .groupCnt .question{font-size:1.5em;padding-bottom:3em;max-width:700px}#faq .faqcnt .group .groupCnt .question .questiontop{display:flex;justify-content:space-between}#faq .faqcnt .group .groupCnt .question .questionName{padding-bottom:1em;font-weight:700;color:#3c4146;font-size:1.5em;max-width:85%}#faq .faqcnt .group .groupCnt .question .answer{font-size:.8em;padding-bottom:20px!important}#faq .faqcnt .group .groupCnt .question .answer a{text-decoration:underline;color:#00a4ff}#faq .faqcnt .group .groupCnt .question .answer .image{width:100%!important;max-width:700px;position:relative}#faq .faqcnt .group .groupCnt .question .answer .image img{width:100%!important}#faq .faqcnt .group .groupCnt .question .answer div{padding-bottom:.5em}#faq .faqcnt .group .groupCnt .question .share{margin-top:.5em;color:#ff6e84;font-size:.7em;cursor:pointer}#faq .faqcnt .group .groupCnt .question .share:hover{color:#00a4ff}#faq .faqcnt .group .groupCnt .question .share span{padding-right:2px}#faq .faqcnt .group .groupCnt .question .icon{background:#00a4ff;color:#fff;cursor:pointer;-moz-transition:.3s;-o-transition:.3s;-webkit-transition:.3s;transition:.3s;width:44px;height:44px;line-height:44px;text-align:center;border-radius:50%;font-size:.6em}#faq .faqcnt .group .groupCnt .question .icon:hover{background:#ff6e84}@media only screen and (max-width:768px){#faq .contens{display:none}#faq .faqcnt{margin-left:0;padding:.5em 1.5em}#faq .faqcnt .group{margin-bottom:2em}#faq .faqcnt .group .groupCaption{font-size:1.9em;text-align:center;margin-top:.5em;margin-bottom:.5em}#faq .faqcnt .group .groupCnt .question{font-size:1.2em;padding-bottom:1em}#faq .faqcnt .group .groupCnt .question .questionName{padding-bottom:1em;font-weight:700;color:#3c4146}#faq .faqcnt .group .groupCnt .question .answer{font-size:1em;font-weight:400;display:none;padding:1em 0!important;text-align:left}#faq .faqcnt .group .groupCnt .question .image{width:100%!important;position:relative}#faq .faqcnt .group .groupCnt .question .image img{width:100%!important}#faq .faqcnt .group .groupCnt .question .share{display:none;font-size:1em;margin-bottom:2em}#faq .faqcnt .group .groupCnt .question.opened .answer{display:block}#faq .faqcnt .group .groupCnt .question.opened .share{display:block}}
