<div id="wrapper">
	<div id="update-found">
		<div class="decoration">
			<div class="waves"></div>
			<div class="clouds"></div>
		</div>
		<div class="top">
			<div class="logo"></div>
			<div class="text">
				<div class="text-1">UPDATE</div>
				<div class="text-2">AVAILABLE</div>
			</div>
		</div>
		<div class="main">
			<div class="heading">We have update</div>
			<div class="text">We recommend to keep the application updated. New features and better performance are waiting you!</div>
			<div class="buttons">
				<button>Install now</button>
				<button>Maybe later...</button>
			</div>
		</div>
	</div>
</div>
