<div id="updatenotifier">
	<div id="update-found">
		<div class="decoration">
			<div class="waves"></div>
			<div class="clouds"></div>
		</div>
		<div class="top">
			<div class="logo"></div>
			<div class="text">
				<div class="text-1"><%=e('updateNotifier_topHeading1')%> <%- updateInfo.version %></div>
				<div class="text-2"><%=e('updateNotifier_topHeading2')%></div>
			</div>
		</div>
		<div class="main">
			<div class="heading"><%=e('updateNotifier_mainHeading')%></div>
			<div class="text"><%=e('updateNotifier_mainText')%></div>
			<div class="buttons">
				<button class="install-now"><%=e('updateNotifier_button1')%></button>
				<button class="install-later"><%=e('updateNotifier_button2')%></button>
			</div>
		</div>
	</div>
</div>
