
<div id="<%-module.map.id%>">

    
    <div class="maket left roller" roller="contents">
        <div class="cnt">
            <div class="contents menuWrapper">

                <div class="preloaderWrapper">
                    <div class="preloader5"><img src="./img/three-dots.svg"/></div>
                </div>

            </div>
        </div>
    </div>
    <div class="report">
        
    </div>

    <section class="open">

        <div class="main-wrapper">
            
            <div class="content">
                
                <div class="discover">
                    <h2><%= e('aboutOpen') %></h2>
                    <p><%= e('aboutOpen1') %></p>

                    <div class="one-item">

                        <div>
                            <a href="https://bastyon.com/">
                                <img src="img/logo20.svg" alt="">
                                <p><%= e('aboutOpen2') %></p>
                            </a>
                        </div>


                        <div>
                            <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                            <i class="fab fa-windows"></i>
                            <p>Windows</p>
                            </a>
                        </div>                            

                        <div>
                            <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                            <i class="fab fa-google-play"></i>
                            <p>Android</p>
                            </a>
                        </div>


                        <div>
                            <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.94">
                            <img class="" src="img/macos.png">
                            <p>MacOS</p>
                            </a>
                        </div>


                        <div>
                            <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                            <i class="fab fa-linux"></i>
                            <p>Linux/ Ubuntu</p>
                            </a>
                        </div>


                        <div>
                            <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                            <i class="fab fa-github"></i>
                            <p><%= e('aboutOpen5') %></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover">

                    <h2><%= e('aboutOpen3') %></h2>
                    <p><%= e('aboutOpen4') %></p>

                    <div class="one-item">

                        <div class="text">
                           email: <b> 
                            support@pocketnet.app </b>
                        </div>

                    
                </div>

            </div>



        </div>
        
    </section>


</div>