
<div id="<%-module.map.id%>">

    
    <div class="maket left roller" roller="contents">
        <div class="cnt">
            <div class="contents menuWrapper">

                <div class="preloaderWrapper">
                    <div class="preloader5"><img src="./img/three-dots.svg"/></div>
                </div>

            </div>
        </div>
    </div>
    <div class="report">
        
    </div>


    <div class="work">
            
        <div class="bottomfooter">
            
            <div class="discover">

                <div class="text">
                    <div><b><%= e('aboutOpen') %></b></div>
                    <div><span><%= e('aboutOpen1') %></span></div>
                </div>

                <div class="items">

                    <div>
                        <a href="index">
                            <span class="oflogo">¤</span>
                            <p><%= e('aboutOpen2') %></p>
                        </a>
                    </div>


                    <div>
                        <a href="https://github.com/pocketnetteam/pocketnet.gui/releases">
                        <i class="fab fa-windows"></i>
                        <p>Windows</p>
                        </a>
                    </div>                            

                    <div>
                        <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                        <i class="fab fa-google-play"></i>
                        <p>Android</p>
                        </a>
                    </div>


                    <div>
                        <a href="https://github.com/pocketnetteam/pocketnet.gui/releases">
                        <i class="fab fa-apple"></i>
                        <p>MacOS</p>
                        </a>
                    </div>


                    <div>
                        <a href="https://github.com/pocketnetteam/pocketnet.gui/releases">
                        <i class="fab fa-linux"></i>
                        <p>Linux/Ubuntu</p>
                        </a>
                    </div>


                    <div>
                        <a href="https://github.com/pocketnetteam">
                        <i class="fab fa-github"></i>
                        <p><%= e('aboutOpen5') %></p>
                        </a>
                    </div>

                </div>
            </div>


            <div class="discover">
                <div class="text">
                    <div><b><%= e('aboutOpen3') %></b></div>
                    <div><span><%= e('aboutOpen4') %></span></div>
                </div>

                <div class="text">

                    <div class="contactsection width">
                        <div><b><%= e('aboutOpen5_1') %> <br> support (at) bastyon (dot) com</b> </div> 
                    </div>

                
                </div>

            </div>

        </div>
    </div>
</div>