<div class="joinbetawrapper">
	<div class="caption">

		JOIN BETA

	</div>

	<div class="text">
		<%-app.meta.fullname%> beta test will start on Jan 24
	</div>

	<div class="inputs table">

		<div class="inputcell forname">

			<div class="inputWrapper">
				<input elementsid="input_name" class="name" type="text" placeholder="Name">
			</div>

		</div>

		<div class="inputcell">

			<div class="inputWrapper">
				<input elementsid="input_email" class="email" type="email" autocomplete="on" placeholder="Email">
			</div>

		</div>
	</div>


</div>