<p>
	Hello, we appreciate your interest in the next generation of blockchain tools that will disrupt the internet monopolies. <%-app.meta.fullname%> is owned by users like you. Beta test of the platform (!!!!!!!will/has started!!!!!!!!) start on January 3, 2019 - the 10 year anniversary of Bitcoin release. Any coins you earn by posting good content will be owned by you in the live version as well. Join Pocktnet beta test <a href="<%- app.options.url %>/about">HERE</a> and start owning your content and internet overlords. 
</p>

<a href="https://<%- app.options.url %>/docs/<%- app.options.fullname %>_whitepaper.pdf" elementsid="160aa770aa96f499547a574680f097a7">
	<%-app.meta.fullname%> Whitepaper Download LInk	
</a>