@import "../../css/__cssvar";

#embeding{
	.error{
			color : @color-bad;
			text-align : center;
		}
	.pg{
		padding : 2 * @rhythm;

		.caption{
			text-align : center;
			margin-bottom : 2 * @rhythm;
		}

		

		.linkWrapper{
			>div{
				vertical-align: middle;
				padding : @rhythm;

				&.inputWrapper{
					input{
						width: 100%;
					}
				}
				&.buttonWrapper{
					width: 40px;
					padding-right: 0;
					padding-left : 0;

					.action{
						width: 40px;
						cursor: pointer;
						height: 40px;
						border-radius: 50%;
						line-height: 40px;
						text-align: center;
						color : @color-main;
						.transition(0.3s);

						&:hover{
							background : #E0E0E0;
							color : @color-bright;
						}
					}
				}
			}
		}

		.imagesWrapper{
			.uploadWrapper{
				padding : 2 * @rhythm;
			}
			.upload{
				height: 50px;
				cursor: pointer;
				
				text-align : center;

				.title{
					color : @color-main;
				}
				.subtitle{
					font-size: 0.8em;
					font-weight: 700;
				}
			}
		}
	}
	.donateWrapper{
		margin-left: auto;
		margin-right: auto;


		.stepWrapper{
			height: 100%;
			display: table;
			table-layout: fixed;
			.timeline{
				display: table-cell;
				position: relative;
				vertical-align: middle;
				.timelineWrapper{
					height: 40px;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					>div{
						vertical-align: middle;
						display: table-cell;
						
						.timelinebg{
							height: 1px;
							position: relative;
							background: white;

							.timelinearrow{

								.fa-circle{
									position: absolute;
									font-size: .5em;
									margin-right: 3px;
									left: -2px;
									margin-top: -3px;
									color: white;

								}

								.fa-chevron-right{
									position: absolute;
									right: -3px;
									top: -5px;
									font-size: .8em;
									color: white;

								}

								.timelinegill{
									display: inline-block;
									height: 100%;
									width: 100%;
									position: absolute;
									left: 0;
									top: 0;
									background: white;

								}
							}

							.balance{
								position: absolute;
								width: 100%;
								padding-top: .5em;
								left: 0;
								right: 0;
								top: 0;
								text-align: center;
								font-size: .8em;
								color: white;
							}

						}
					}
				}
			}
		}

		.transaction{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 4 * @rhythm;

			.coinsWrapper{
				display: flex;
				justify-content: space-between;
				margin-right: auto;
				height: 38px;

				.sender, .receiver{
					display: flex;
					align-items: center;
					width: 100%;
					border: 2px solid white;
					padding: @rhythm;
				}
	
				.sender{
					border-right: 0;
				}
	
				.receiver{
					border-left: 0;
	
					input{
						width: 72%;
						margin-left: 0;
						border: 0;
						text-align: right;
						padding: 0;
						padding-right: 5px;
					}
					
				}
	
				.chevron-right {
					box-sizing: border-box;
					position: relative;
					display: block;
					transform: scale(var(--ggs,1));
					width: 25px;
					height: 42px;
					border: 2px solid transparent;
					border-radius: 100px;
	
					&.left{
						left: 5px;
					}
	
					&.center{
						left: 12px;
					}
	
					&.right{
						left: 19px;
					}
	
	
				}
				.chevron-right::after {
					content: "";
					display: block;
					box-sizing: border-box;
					position: absolute;
					width: 26.5px;
					height: 26.5px;
					border-bottom: 2px solid;
					border-right: 2px solid;
					transform: rotate(-45deg);
					right: 3px;
					top: 4px
				}
	
			}


			
		}

		.subscription{
			display: flex;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			max-width: 420px;
			color: white;
			opacity: 0.5;
		}

		.inputWrapper{
			margin-top: 2 * @rhythm;
			padding: 2 * @rhythm;
			margin-left: auto;
			margin-right: auto;

			input{
				width: 100%;
				border: 0;
				text-align: center;

			}
		}

	}

	.imagesMi{
		overflow: hidden;
		>div{
			padding : @rhythm / 2;
			float: left;
			width: 33%;

			.imageContainerCnt{
				position: relative;
			}
			.imageWrapper{
				position: relative;

			}
			img{
				width: 100%;
			}			

			.imgpanel{
				display: none;
				position: absolute;
				right: @rhythm;
				top : @rhythm;
				background: fade(@color-black, 80);
				border-radius : 3px;
				padding : @rhythm / 2;
				
				.item{
					float: right;
					width: 30px;
					height: 30px;
					margin-left: 10px;
					line-height: 30px;
					text-align: center;
					border-radius : 3px;
					color : fade(@color-gray-slight, 80);
					cursor: pointer;
					.transition(0.3s);

					&:hover{
						background : fade(@color-gray, 60);
					}

				}
			}

			&:hover{
				.imgpanel{
					display: block;
				}
			}

			.spinnerWrapperCnt{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: fade(#fff, 30);

				.spinnerWrapper{
					width: 100%;
					height: 100%;

					>div{
						vertical-align: middle;
						text-align: center;
					}
				}
			}

		}
	}
}

.wnd{
	&.embeding{
		.wndcontent{
			overflow-y: hidden;
		}
		.wndinner{

			width: 600px;
			height: 200px;

			&.donate{
				background: @color-main;
				color: white;
				height: 250px;
				width: 450px;

				
				.caption{
					margin-bottom: 0!important;
					font-size: 1.2em;
				}
				.subcaption{
					text-align: center;
					font-size: .8em;
				}

				.wndcontent, .buttons{
					background: inherit;
				}

				.buttons{
					.close{
						color: white;

						&:hover{
							color: white;
						}
					}
					.save{
						background: white;
						color: #00a4ffd6;
						border-radius: 3px;
					}
				}
				input{
					background: inherit;
					color: white;
				}
			}
		}
	}

	&.loadimages{

		._close{
			right: 40px;
		}

		.wndinner{
			width: 100%;
			height: 100%;
			max-height: none;
			
		}

		.wndcontent{
			bottom: 66px;
			top: 0;
			overflow-y: scroll;
			padding: 0; 
		}
	}
}

/*t*/ @media only screen and (max-width: 768px){
#embeding{

	.pg{
		
		padding : 0;
		padding-top : 8 * @rhythm;
		.imagesWrapper{
			.uploadWrapper, .donateWrapper{
				padding-top: 8 * @rhythm;
			}
			.upload{
				
				.subtitle{
					display: none;
				}
			}
		}

		.donateWrapper{

			.transaction{

				.coinsWrapper{

					.sender{
						display: none;
					}
	
					.chevron-right{
						&.left, &.center{
							display: none;
						}
					}
	
					.receiver{
						margin-right: 25px;
					}
				}

			}

			.subscription{
				justify-content: center;

				.sender{
					display: none;
				}
			}



		}
	}
	
}	
.wnd{
	&.embeding{
		.wndcontent{
			overflow-y: hidden;
			padding-left: @rhythm;
			padding-right: @rhythm;
		}
		
	}

	
}
}