#donate {
  padding: 1em;
}
#donate .subcaption {
  text-align: center;
}
#donate .subcaption span {
  font-size: 0.9em;
}
#donate .caption {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
#donate .caption span {
  font-weight: 700;
}
#donate .transaction {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 2em;
}
#donate .transaction .coinsWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 19px;
  height: 38px;
}
#donate .transaction .coinsWrapper .sender,
#donate .transaction .coinsWrapper .receiver {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(var(--text-on-bg-shadow-color));
}
#donate .transaction .coinsWrapper .sender {
  border-right: 0;
}
#donate .transaction .coinsWrapper .receiver {
  border-left: 0;
  line-height: 34px;
}
#donate .transaction .coinsWrapper .receiver input {
  width: 58%;
  margin-left: auto;
  border: 0;
  text-align: left;
  padding: 0;
  padding-right: 5px;
  height: 34px;
  line-height: 34px;
  color: rgb(var(--text-on-bg-shadow-color));
  background: transparent;
}
#donate .transaction .coinsWrapper .receiver .text {
  margin-right: 14px;
}
#donate .transaction .coinsWrapper .chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 25px;
  height: 42px;
  border: 2px solid transparent;
  border-radius: 100px;
}
#donate .transaction .coinsWrapper .chevron-right.left {
  left: 5px;
}
#donate .transaction .coinsWrapper .chevron-right.center {
  left: 12px;
}
#donate .transaction .coinsWrapper .chevron-right.right {
  left: 19px;
}
#donate .transaction .coinsWrapper .chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 26.5px;
  height: 26.5px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 3px;
  top: 4px;
}
#donate .buttonWrapper {
  margin-top: 2em;
  text-align: center;
}
#donate .buttonWrapper button {
  background: rgb(var(--text-on-bg-shadow-color));
  color: rgb(var(--color-bg-ac-bright));
  border-color: rgb(var(--text-on-bg-shadow-color));
  min-width: 250px;
  border-radius: 16px;
  font-size: 0.8em;
}
#donate .subscription {
  text-align: center;
}
#donate .subscription span {
  font-size: 0.7em;
  opacity: 0.7;
}
#donate .heartwrapper {
  position: absolute;
  color: #ed1f1f;
  bottom: 1em;
  right: 1em;
}
#windowsContainer .wnd.donationWindow .wndinner {
  height: 350px;
  width: 450px;
}
#windowsContainer .wnd.donationWindow .wndinner .wndcontent {
  background: rgb(var(--color-bg-ac-bright));
  color: rgb(var(--text-on-bg-shadow-color));
}
