<div id="<%-module.map.id%>">

	<div class="disscussionsCaption mobileonly">
		<div class="pwrapper"><span>Live chat</span></div>
	</div>

	<div class="discussionsWrapper">
		<div class="pwrapper">
			<div class="list">
			</div>

			<div class="empty">
				<span>You haven't any discussions</span>
			</div>
		</div>
		
	</div>

	<div class="gotoDisscussion">
	</div>

	<div class="chatWrapper">
	</div>

	<div class="load">
		<div class="ltable table">
			<div class="lcell">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>
	</div>
</div>