#wallet {
  min-height: 600px;
  padding-bottom: 4em;
  position: relative;
}
#wallet .caption {
  padding: 1em;
  padding-top: 2em;
}
#wallet .caption span {
  font-size: 1.4em;
  color: rgb(var(--color-txt-gray-dark));
  font-weight: 100;
}
#wallet .copyaddress {
  cursor: pointer;
}
#wallet .toblockexplorer {
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-3));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 30px;
  text-align: center;
}
#wallet .toblockexplorer:hover {
  color: rgb(var(--color-txt-ac));
}
#wallet .withloading .nlpart {
  display: inline-block;
}
#wallet .withloading .lpart {
  display: none;
}
#wallet .withloading.loading {
  cursor: default!important;
}
#wallet .withloading.loading .nlpart {
  display: none;
}
#wallet .withloading.loading .lpart {
  display: inline-block;
}
#wallet .circularprogress {
  overflow: hidden;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#wallet .circularprogress .circularprogressWrapper {
  padding: 1em;
  text-align: center;
}
#wallet .circularprogress .circularprogressWrapper canvas {
  margin: 0 auto;
}
#wallet .panel {
  overflow: hidden;
}
#wallet .panel .item {
  float: right;
  margin-left: 0.5em;
  text-align: center;
}
#wallet .panel .item button {
  min-width: 180px;
}
#wallet .slide {
  margin-top: 1em;
  padding-top: 1em;
  color: rgb(var(--text-color));
}
#wallet .slide .required {
  color: rgb(var(--color-bad));
}
#wallet .slide .subcaptionWrapperTable {
  width: auto;
  margin-bottom: 1em;
}
#wallet .slide .subcaptionWrapperTable > div {
  vertical-align: middle;
}
#wallet .slide .subcaptionWrapperTable .panel {
  overflow: hidden;
}
#wallet .slide .subcaptionWrapperTable .panel .item {
  margin-right: 2em;
  float: right;
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .slide .subcaptionWrapperTable .panel .item:hover {
  color: rgb(var(--color-txt-gray));
}
#wallet .slide .subcaptionWrapperTableCnt {
  padding: 1em 2em;
}
#wallet .slide .subcaption span {
  font-weight: 700;
}
#wallet .slide .bottomPanel {
  margin-top: 2em;
  padding: 1em 2em;
  overflow: hidden;
}
#wallet .slide .bottomPanel > div {
  float: left;
}
#wallet .slide .bottomPanel > div button {
  height: 37px;
  line-height: 35px;
  padding: 0;
  min-width: 280px;
}
#wallet .slide .closeAdditional {
  padding: 0.5em;
  text-align: center;
  padding-bottom: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .slide .closeAdditional:hover {
  color: rgb(var(--color-txt-ac));
}
#wallet .slide .closeAdditional span {
  font-size: 0.8em;
  text-decoration: underline;
}
#wallet .slide .linksubcaption {
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;
  padding-left: 0.5em;
}
#wallet .slide .linksubcaption.res {
  color: rgb(var(--color-txt-ac));
}
#wallet .slide ._stepclose {
  display: none;
}
#wallet .slide ._stepback {
  display: none;
}
#wallet .slide ._subcaptionlevel {
  padding-left: 0.5em;
  color: rgb(var(--color-txt-ac));
}
#wallet .slide:nth-child(1) {
  padding-top: 0;
  margin-top: 0;
}
#wallet .total {
  background: rgb(var(--background-secondary-theme));
  padding: 1em;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}
#wallet .total .tttlforerror {
  position: absolute;
  font-size: 0.8em;
  font-weight: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--background-secondary-theme), 0.95);
  display: none;
}
#wallet .total .tttlforerror.active {
  display: block;
}
#wallet .total .tttlforerror .table > div {
  vertical-align: middle;
  text-align: center;
  color: rgb(var(--neutral-grad-4));
}
#wallet .total .totalItem {
  padding: 0 1em;
  padding-bottom: 0.5em;
  float: left;
  width: 33%;
}
#wallet .total .totalItem .canvasWrapper {
  width: 100%;
  position: relative;
}
#wallet .total .totalItem .canvasWrapper canvas {
  width: 100%;
  height: 100%;
}
#wallet .total .totalItem .canvasWrapper .infoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#wallet .total .totalItem .canvasWrapper .infoWrapperTable > div {
  vertical-align: middle;
  text-align: center;
  padding: 1.5em;
}
#wallet .total .balance .balanceWrapper {
  font-size: 1.6em;
  color: rgb(var(--color-txt-gray));
}
#wallet .total .balance .balanceWrapper .table {
  margin: 0 auto;
}
#wallet .total .summary {
  margin-top: 0.5em;
}
#wallet .total .summary .line {
  width: 100%;
  height: 2px;
}
#wallet .total .summary .line > div {
  float: left;
  height: 100%;
}
#wallet .total .summary .line .positive {
  background: rgb(var(--color-good));
}
#wallet .total .summary .line .negative {
  background: rgb(var(--color-bad));
}
#wallet .total .summary .numbers > div {
  width: 50%;
  float: left;
  height: 100%;
}
#wallet .total .summary .numbers > div span {
  font-size: 0.8em;
}
#wallet .total .summary .numbers .positive {
  color: rgb(var(--color-good));
}
#wallet .total .summary .numbers .negative {
  color: rgb(var(--color-bad));
  text-align: right;
}
#wallet .total .label {
  padding: 0.5em 0;
}
#wallet .total .label span {
  font-size: 0.7em;
  font-weight: 700;
}
#wallet .htls,
#wallet .crowdfunding,
#wallet .deposit,
#wallet .send {
  display: none;
  border: 1px solid rgb(var(--color-medium-theme));
  border-radius: 6px;
  padding-bottom: 2em;
}
#wallet .htls .linkForDepositReady,
#wallet .crowdfunding .linkForDepositReady,
#wallet .deposit .linkForDepositReady,
#wallet .send .linkForDepositReady,
#wallet .htls .linkForDeposit,
#wallet .crowdfunding .linkForDeposit,
#wallet .deposit .linkForDeposit,
#wallet .send .linkForDeposit,
#wallet .htls .addressForDeposit,
#wallet .crowdfunding .addressForDeposit,
#wallet .deposit .addressForDeposit,
#wallet .send .addressForDeposit,
#wallet .htls .action,
#wallet .crowdfunding .action,
#wallet .deposit .action,
#wallet .send .action {
  margin-top: 1em;
  padding: 1em 1.5em;
}
#wallet .htls .info,
#wallet .crowdfunding .info,
#wallet .deposit .info,
#wallet .send .info {
  padding: 0 0.5em;
}
#wallet .htls .info b,
#wallet .crowdfunding .info b,
#wallet .deposit .info b,
#wallet .send .info b {
  color: rgb(var(--color-good));
}
#wallet .htls .info .infotable > div,
#wallet .crowdfunding .info .infotable > div,
#wallet .deposit .info .infotable > div,
#wallet .send .info .infotable > div {
  vertical-align: middle;
  padding: 0.5em;
}
#wallet .htls .info .infotable > div.label,
#wallet .crowdfunding .info .infotable > div.label,
#wallet .deposit .info .infotable > div.label,
#wallet .send .info .infotable > div.label {
  width: 120px;
  padding-left: 0;
}
#wallet .htls .info .infotable > div b,
#wallet .crowdfunding .info .infotable > div b,
#wallet .deposit .info .infotable > div b,
#wallet .send .info .infotable > div b {
  font-size: 0.9em;
}
#wallet .htls .linkForDepositReady,
#wallet .crowdfunding .linkForDepositReady,
#wallet .deposit .linkForDepositReady,
#wallet .send .linkForDepositReady,
#wallet .htls .linkForDeposit,
#wallet .crowdfunding .linkForDeposit,
#wallet .deposit .linkForDeposit,
#wallet .send .linkForDeposit {
  margin-top: 0;
  border-top: 1px solid rgb(var(--color-medium-theme));
}
#wallet .htls .linkparams,
#wallet .crowdfunding .linkparams,
#wallet .deposit .linkparams,
#wallet .send .linkparams {
  padding: 1em 0;
}
#wallet .htls button,
#wallet .crowdfunding button,
#wallet .deposit button,
#wallet .send button {
  max-width: 310px;
  width: 100%;
  height: 37px;
  line-height: 35px;
  padding: 0;
}
#wallet .htls .labelWrapper,
#wallet .crowdfunding .labelWrapper,
#wallet .deposit .labelWrapper,
#wallet .send .labelWrapper {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: rgb(var(--color-txt-ac));
}
#wallet .htls .labelWrapper.abs,
#wallet .crowdfunding .labelWrapper.abs,
#wallet .deposit .labelWrapper.abs,
#wallet .send .labelWrapper.abs {
  padding-bottom: 1.5em;
}
#wallet .htls .cashWrapper,
#wallet .crowdfunding .cashWrapper,
#wallet .deposit .cashWrapper,
#wallet .send .cashWrapper {
  width: 100%;
  height: 100%;
}
#wallet .htls textarea,
#wallet .crowdfunding textarea,
#wallet .deposit textarea,
#wallet .send textarea,
#wallet .htls input,
#wallet .crowdfunding input,
#wallet .deposit input,
#wallet .send input {
  width: 100%;
}
#wallet .htls .inputWrapper .vc_valuecustom,
#wallet .crowdfunding .inputWrapper .vc_valuecustom,
#wallet .deposit .inputWrapper .vc_valuecustom,
#wallet .send .inputWrapper .vc_valuecustom,
#wallet .htls .inputWrapper input,
#wallet .crowdfunding .inputWrapper input,
#wallet .deposit .inputWrapper input,
#wallet .send .inputWrapper input {
  width: 100%;
}
#wallet .htls .row > div,
#wallet .crowdfunding .row > div,
#wallet .deposit .row > div,
#wallet .send .row > div {
  padding: 0.5em;
  vertical-align: middle;
}
#wallet .htls .row > div.changer,
#wallet .crowdfunding .row > div.changer,
#wallet .deposit .row > div.changer,
#wallet .send .row > div.changer {
  text-align: center;
  width: 50px;
}
#wallet .htls .row > div.changer .change,
#wallet .crowdfunding .row > div.changer .change,
#wallet .deposit .row > div.changer .change,
#wallet .send .row > div.changer .change {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .htls .row > div.changer .change:hover,
#wallet .crowdfunding .row > div.changer .change:hover,
#wallet .deposit .row > div.changer .change:hover,
#wallet .send .row > div.changer .change:hover {
  color: rgb(var(--color-txt-ac));
}
#wallet .htls .row > div.address,
#wallet .crowdfunding .row > div.address,
#wallet .deposit .row > div.address,
#wallet .send .row > div.address {
  width: 50%;
}
#wallet .htls .row > div.label,
#wallet .crowdfunding .row > div.label,
#wallet .deposit .row > div.label,
#wallet .send .row > div.label {
  width: 20%;
}
#wallet .htls .row > div.label span,
#wallet .crowdfunding .row > div.label span,
#wallet .deposit .row > div.label span,
#wallet .send .row > div.label span {
  font-size: 0.8em;
}
#wallet .htls .notvalidaddress,
#wallet .crowdfunding .notvalidaddress,
#wallet .deposit .notvalidaddress,
#wallet .send .notvalidaddress {
  color: rgb(var(--color-bad));
}
#wallet .crowdfunding {
  border-radius: 0;
  border: 2px solid rgb(var(--color-txt-ac));
}
#wallet .crowdfunding[view="showListcount"] .action {
  display: none;
}
#wallet .crowdfunding[view="olddeal"] .action,
#wallet .crowdfunding[view="newdeal"] .action {
  display: none;
}
#wallet .crowdfunding[view="olddeal"] .todeal i,
#wallet .crowdfunding[view="newdeal"] .todeal i {
  display: none;
}
#wallet .crowdfunding .listcountWrapper {
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .crowdfunding .listcountWrapper:hover {
  color: rgb(var(--color-txt-gray));
}
#wallet .crowdfunding .listcr {
  padding: 2em;
}
#wallet .crowdfunding .listcr .item > div {
  vertical-align: middle;
  padding: 0.5em;
}
#wallet .crowdfunding .listcr .item > div.amount {
  padding-left: 0;
  width: 100px;
}
#wallet .crowdfunding .listcr .item > div.address {
  width: 270px;
}
#wallet .crowdfunding .listcr .item > div.update {
  width: 50px;
}
#wallet .crowdfunding .listcr .item > div.remove {
  width: 50px;
}
#wallet .crowdfunding .listcr .item > div span {
  font-size: 0.8em;
}
#wallet .crowdfunding .listcr .item > div .removecr,
#wallet .crowdfunding .listcr .item > div .updatecr {
  color: rgb(var(--color-txt-gray));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .crowdfunding .listcr .item > div .updatecr:hover {
  color: rgb(var(--color-txt-ac));
}
#wallet .crowdfunding .listcr .item > div .removecr:hover {
  color: rgb(var(--color-bad));
}
#wallet .crowdfunding .listcr .header .item {
  font-weight: 700;
}
#wallet .crowdfunding .statustable > div {
  vertical-align: middle;
}
#wallet .crowdfunding .statustable .todeal {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .crowdfunding .statustable .todeal:hover {
  color: rgb(var(--color-good));
}
#wallet .crowdfunding .statustable .segment.ended .segmenttable > div.iconWrapper .iended {
  display: block;
}
#wallet .crowdfunding .statustable .segment.ended .segmenttable > div.iconWrapper .iwaiting {
  display: none;
}
#wallet .crowdfunding .statustable .segment.bad .segmenttable .linebg .line {
  background: rgb(var(--color-bad));
}
#wallet .crowdfunding .statustable .segmenttable > div {
  vertical-align: middle;
  overflow: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#wallet .crowdfunding .statustable .segmenttable > div.labelWrapper {
  width: 60%;
}
#wallet .crowdfunding .statustable .segmenttable > div.iconWrapper {
  width: 26px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#wallet .crowdfunding .statustable .segmenttable > div.iconWrapper .iended {
  display: none;
}
#wallet .crowdfunding .statustable .segmenttable > div.iconWrapper .finish {
  color: rgb(var(--color-good));
}
#wallet .crowdfunding .statustable .segmenttable > div.iconWrapper .finishbad {
  color: rgb(var(--color-bad));
}
#wallet .crowdfunding .statustable .segmenttable .linebg {
  width: 100%;
  height: 2px;
  background: rgb(var(--neutral-grad-2));
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
#wallet .crowdfunding .statustable .segmenttable .linebg .line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgb(var(--color-txt-ac));
}
#wallet .crowdfunding .pocstatus .current {
  display: none;
}
#wallet .crowdfunding .copyaddress1,
#wallet .crowdfunding .copyaddress2 {
  cursor: pointer;
}
#wallet .crowdfunding .crdeal {
  padding: 0 2em;
}
#wallet .crowdfunding .crdeal .statustable .segmenttable > div.labelWrapper {
  display: none;
}
#wallet .crowdfunding .crdeal .pocstatus .current {
  padding: 1em;
  display: block;
  color: rgb(var(--color-txt-ac));
  text-align: center;
}
#wallet .crowdfunding .crdeal .reactivate {
  margin: 0 auto;
  margin-top: 1em;
  width: 150px;
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-main-bg-color));
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgb(var(--color-bg-ac));
  font-size: 0.8em;
}
#wallet .crowdfunding .crdeal .reactivate:hover {
  background: rgb(var(--background-total-theme));
  color: rgb(var(--color-txt-ac));
}
#wallet .crowdfunding .infosteptable .infostepcaption {
  padding: 0.5em 0;
}
#wallet .crowdfunding .infosteptable .infostepcaption span {
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(var(--color-txt-ac));
}
#wallet .crowdfunding .infosteptable .infostep {
  margin-top: 0.5em;
  height: auto;
}
#wallet .crowdfunding .infosteptable .infostep > div {
  vertical-align: middle;
  padding: 0.5em 0;
}
#wallet .crowdfunding .infosteptable .infostep > div.left {
  width: 70%;
}
#wallet .crowdfunding .infosteptable .label {
  padding: 0.5em 0;
}
#wallet .crowdfunding .infosteptable .label span {
  color: rgb(var(--neutral-grad-2));
  font-size: 0.8em;
}
#wallet .crowdfunding .infowrapper > div {
  padding: 1em;
}
#wallet .crowdfunding .infowrapper > div.infostepqrcell {
  width: 250px;
}
#wallet .crowdfunding .infowrapper > div.infostepqrcell .infostepcaption {
  text-align: center;
}
#wallet .crowdfunding .infowrapper > div.infostepqrcell .qrcodewrapper {
  text-align: center;
}
#wallet .crowdfunding .infowrapper > div:nth-child(1) {
  padding-left: 0;
}
#wallet .crowdfunding .infowrapper > div:nth-last-child(1) {
  padding-right: 0;
}
#wallet .crowdfunding .steptext {
  padding: 1em 0;
}
#wallet .crowdfunding .steptext span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-ac));
}
#wallet .buypkoin {
  background: rgb(var(--background-total-theme));
  padding: 1.5em 0;
  border-radius: 6px;
  border-top: 1px solid rgba(var(--color-medium-theme), 0.3);
  border-right: 1px solid rgba(var(--color-medium-theme), 0.3);
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#wallet .buypkoin .ways {
  display: flex;
  align-items: flex-start;
}
#wallet .buypkoin .ways > div {
  flex-shrink: 1;
  flex-basis: 0;
  flex-grow: 1;
}
#wallet .buypkoin .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}
#wallet .buypkoin .row.one {
  display: block;
  padding: 1em;
  margin-bottom: 1.5em;
}
#wallet .buypkoin .row.one .wrp {
  padding: 2em 1em;
  text-align: left;
  border-radius: 5px;
  border: 1px dashed rgba(var(--color-medium-theme), 0.7);
  background: rgb(var(--color-shadow-var));
}
#wallet .buypkoin .row.one .flxbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wallet .buypkoin .row.one .flxbtn div {
  margin-right: 1em;
}
#wallet .buypkoin .row.one .flxbtn span {
  color: rgb(var(--text-on-bg-shadow-color));
  font-size: 0.8em;
}
#wallet .buypkoin .row .button {
  min-width: 220px;
}
#wallet .buypkoin .row .button.ghost {
  min-width: 0;
}
#wallet .buypkoin .row > div {
  padding: 0.5em 1em;
  text-align: center;
  min-width: 60px;
}
#wallet .buypkoin .row > div .clogo {
  height: 24px;
}
#wallet .buypkoin .row > div img {
  width: 18px;
  height: 18px;
}
#wallet .buypkoin .row > div img.wh {
  height: 8px;
  width: auto;
}
#wallet .buypkoin .row > div img.wh2 {
  height: 18px;
  width: auto;
}
#wallet .buypkoin .row > div img.wh3 {
  height: 22px;
  width: auto;
}
#wallet .buypkoin .row > div .label {
  padding: 0.5em 0;
  font-size: 0.8em;
  font-weight: 500;
}
#wallet .deposit {
  border: 0;
  background: rgb(var(--background-main));
}
#wallet .deposit .qrcoderesult .imageqr {
  width: 225px;
  height: 225px;
  margin: 0 auto;
}
#wallet .deposit .depositaddress .adrwrapper {
  padding: 2em;
}
#wallet .deposit .depositaddress .adrwrapper .adr {
  text-align: center;
  font-size: 2em;
  color: rgb(var(--color-txt-gray-dark));
  font-weight: 700;
}
#wallet .deposit .actionbody textarea {
  padding: 1em;
}
#wallet .deposit .actionbody button {
  width: 100%;
  min-width: 0;
}
#wallet .addresses .addressesGroupCaption {
  padding: 1em 2em;
}
#wallet .addresses .addressesGroupCaption span {
  font-size: 0.8em;
}
#wallet .addresses .adressesTable {
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
}
#wallet .addresses .adressesTable > div {
  vertical-align: top;
  padding: 1.5em 0.5em;
}
#wallet .addresses .adressesTable > div.name {
  padding-left: 2em;
  font-weight: 500;
}
#wallet .addresses .adressesTable > div.name .alabel {
  font-weight: 300;
  font-size: 0.8em;
  color: rgb(var(--color-txt-ac));
}
#wallet .addresses .adressesTable > div.balance {
  width: 25%;
  font-weight: 700;
}
#wallet .addresses .adressesTable > div.percent {
  font-weight: 700;
  width: 100px;
}
#wallet .addresses .adressesTable > div.panel {
  padding-right: 2em;
  width: 110px;
}
#wallet .addresses .adressesTable > div:nth-last-child(1) {
  padding-right: 2em;
  text-align: right;
}
#wallet .addresses .adressesTable > div span {
  font-size: 0.9em;
}
#wallet .addresses .captionTable > div {
  padding: 1em 0.5em;
}
#wallet .addresses .captionTable > div span {
  font-weight: 700;
  font-size: 0.8em;
}
#wallet .actionstep ._stepclose {
  display: block;
}
#wallet .actionstep ._stepback {
  display: block;
  width: 60px;
  padding-left: 0;
  padding-right: 0;
}
#wallet .actionstep ._stepback .back {
  background: rgb(var(--background-main));
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: rgb(var(--color-txt-gray-dark));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  line-height: 44px;
  font-size: 0.8em;
}
#wallet .actionstep ._stepback .back:hover {
  color: rgb(var(--color-txt-ac));
}
#wallet .actionstep .deposit {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-medium-theme), 0.7);
  background: rgb(var(--background-total-theme));
  padding: 1.5em 0;
}
#wallet .actionstep .deposit .changer,
#wallet .actionstep .deposit .recievecoins {
  display: none;
}
#wallet .actionstep .deposit ._stepback {
  display: table-cell;
}
#wallet .actionstep .send {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-medium-theme), 0.7);
  background: rgb(var(--background-total-theme));
  padding: 1.5em 0;
}
#wallet .actionstep .send .actionbody {
  background: rgb(var(--background-main));
  border-bottom: 1px solid rgba(var(--color-medium-theme), 0.7);
}
#wallet .actionstep .send .actionbody button {
  width: 100%;
}
#wallet .actionstep .send .changerremove,
#wallet .actionstep .send .sendcoins {
  display: none;
}
#wallet .actionstep .send ._stepback {
  display: table-cell;
}
#wallet .actionstep .htls {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-medium-theme), 0.7);
  background: rgb(var(--background-total-theme));
  padding: 1.5em 0;
}
#wallet .actionstep .htls .actionbody {
  background: rgb(var(--background-main));
  border-bottom: 1px solid rgba(var(--color-medium-theme), 0.7);
}
#wallet .actionstep .htls .actionbody button {
  width: 100%;
}
#wallet .actionstep .htls .changerremove,
#wallet .actionstep .htls .sendcoins {
  display: none;
}
#wallet .actionstep .htls ._stepback {
  display: table-cell;
}
#wallet .actionstep .animation .htls,
#wallet .actionstep .animation .send,
#wallet .actionstep .animation .deposit {
  border: 1px solid transparent;
}
#wallet .walletempvalue {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
#wallet .walletempvalue span {
  font-size: 0.8em;
}
#wallet .walletdfvalue {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
#wallet .walletdfvalue span {
  font-size: 0.8em;
  font-weight: 700;
}
#wallet .walletuservalue {
  position: relative;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
#wallet .walletuservalue > div {
  vertical-align: middle;
}
#wallet .walletuservalue > div.namecell {
  padding-left: 0.6em;
  font-weight: 700;
  font-size: 0.8em;
}
#wallet .walletuservalue > div.iconcell {
  width: 28px;
}
#wallet .walletuservalue > div.iconcell img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
#wallet.simple ._stepback {
  display: none!important;
}
#wallet.loading .ntf {
  display: none;
}
#wallet.api ._stepback {
  display: none!important;
}
#wallet.api ._stepclose {
  display: none!important;
}
#wallet.api .actionbody {
  border-bottom: 0!important;
}
#wallet.api .actionstep .send {
  padding-bottom: 0!important;
}
.walletwindow .wndinner {
  width: 100%;
  max-width: 550px;
  height: 80%;
  max-height: 640px;
}
.walletwindow #wallet {
  padding-bottom: 0;
  min-height: none;
}
.walletwindow #wallet .workstation {
  display: none;
}
.walletwindow #wallet .caption {
  padding-left: 0;
}
.walletwindow #wallet .mobiledevice {
  display: block;
}
.walletwindow #wallet .slide {
  margin-top: 1em;
  padding-top: 1em;
}
.walletwindow #wallet .slide .subcaptionWrapperTable {
  width: auto;
  margin-bottom: 1em;
}
.walletwindow #wallet .slide .subcaptionWrapperTable > div {
  vertical-align: middle;
}
.walletwindow #wallet .slide .subcaptionWrapperTable .panel {
  overflow: hidden;
}
.walletwindow #wallet .slide .subcaptionWrapperTable .panel .item {
  margin-right: 2em;
  float: right;
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.walletwindow #wallet .slide .subcaptionWrapperTable .panel .item:hover {
  color: rgb(var(--color-txt-gray));
}
.walletwindow #wallet .slide .subcaptionWrapperTableCnt {
  padding: 0.5em;
}
.walletwindow #wallet .slide .subcaption span {
  font-weight: 700;
  color: rgb(var(--color-txt-gray-dark));
}
.walletwindow #wallet .slide .bottomPanel {
  margin-top: 2em;
  padding: 0.5em;
}
.walletwindow #wallet .slide .bottomPanel > div {
  float: left;
  width: 100%;
}
.walletwindow #wallet .slide .bottomPanel > div button {
  width: 100%;
  height: 37px;
  line-height: 35px;
  padding: 0;
  min-width: 280px;
}
.walletwindow #wallet .slide .closeAdditional {
  padding: 0.5em;
  text-align: center;
  padding-bottom: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.walletwindow #wallet .slide .closeAdditional:hover {
  color: rgb(var(--color-txt-gray));
}
.walletwindow #wallet .slide .closeAdditional span {
  font-size: 0.8em;
  text-decoration: underline;
}
.walletwindow #wallet .slide .linksubcaption {
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;
  padding-left: 0.5em;
}
.walletwindow #wallet .slide .linksubcaption.res {
  color: rgb(var(--color-txt-gray));
}
.walletwindow #wallet .slide ._stepclose {
  display: none;
}
.walletwindow #wallet .slide ._stepback {
  display: none;
}
.walletwindow #wallet .slide ._subcaptionlevel {
  padding-left: 0.5em;
  color: rgb(var(--color-txt-ac));
}
.walletwindow #wallet .slide:nth-child(1) {
  padding-top: 0;
  margin-top: 0;
}
.walletwindow #wallet .total {
  padding: 0;
  overflow: hidden;
}
.walletwindow #wallet .total .totalItem {
  padding: 0 1em;
  padding-bottom: 0.5em;
  float: left;
  width: 100%;
}
.walletwindow #wallet .total .totalItem .canvasWrapper {
  width: 100%;
  position: relative;
}
.walletwindow #wallet .total .totalItem .canvasWrapper canvas {
  width: 100%;
  height: 100%;
}
.walletwindow #wallet .total .totalItem .canvasWrapper .infoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.walletwindow #wallet .total .totalItem .canvasWrapper .infoWrapperTable > div {
  vertical-align: middle;
  text-align: center;
  padding: 1.5em;
}
.walletwindow #wallet .htls,
.walletwindow #wallet .crowdfunding,
.walletwindow #wallet .deposit,
.walletwindow #wallet .send {
  border: 1px solid rgb(var(--color-medium-theme));
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.walletwindow #wallet .htls .linkForDepositReady,
.walletwindow #wallet .crowdfunding .linkForDepositReady,
.walletwindow #wallet .deposit .linkForDepositReady,
.walletwindow #wallet .send .linkForDepositReady,
.walletwindow #wallet .htls .linkForDeposit,
.walletwindow #wallet .crowdfunding .linkForDeposit,
.walletwindow #wallet .deposit .linkForDeposit,
.walletwindow #wallet .send .linkForDeposit,
.walletwindow #wallet .htls .addressForDeposit,
.walletwindow #wallet .crowdfunding .addressForDeposit,
.walletwindow #wallet .deposit .addressForDeposit,
.walletwindow #wallet .send .addressForDeposit,
.walletwindow #wallet .htls .action,
.walletwindow #wallet .crowdfunding .action,
.walletwindow #wallet .deposit .action,
.walletwindow #wallet .send .action {
  margin-top: 0.5em;
  padding: 0.5em 0;
}
.walletwindow #wallet .htls .linkparams,
.walletwindow #wallet .crowdfunding .linkparams,
.walletwindow #wallet .deposit .linkparams,
.walletwindow #wallet .send .linkparams {
  padding: 1em 0;
}
.walletwindow #wallet .htls .linkparams .value,
.walletwindow #wallet .crowdfunding .linkparams .value,
.walletwindow #wallet .deposit .linkparams .value,
.walletwindow #wallet .send .linkparams .value {
  font-size: 0.9em;
}
.walletwindow #wallet .htls button,
.walletwindow #wallet .crowdfunding button,
.walletwindow #wallet .deposit button,
.walletwindow #wallet .send button {
  min-width: 0;
  width: 100%;
}
.walletwindow #wallet .htls .row,
.walletwindow #wallet .crowdfunding .row,
.walletwindow #wallet .deposit .row,
.walletwindow #wallet .send .row {
  display: block;
}
.walletwindow #wallet .htls .row > div,
.walletwindow #wallet .crowdfunding .row > div,
.walletwindow #wallet .deposit .row > div,
.walletwindow #wallet .send .row > div {
  display: block;
  width: 100%;
}
.walletwindow #wallet .htls .row > div.changer,
.walletwindow #wallet .crowdfunding .row > div.changer,
.walletwindow #wallet .deposit .row > div.changer,
.walletwindow #wallet .send .row > div.changer {
  display: none;
}
.walletwindow #wallet .htls .row > div.address,
.walletwindow #wallet .crowdfunding .row > div.address,
.walletwindow #wallet .deposit .row > div.address,
.walletwindow #wallet .send .row > div.address {
  width: 100%;
}
.walletwindow #wallet .htls .row > div.label,
.walletwindow #wallet .crowdfunding .row > div.label,
.walletwindow #wallet .deposit .row > div.label,
.walletwindow #wallet .send .row > div.label {
  width: 100%;
}
.walletwindow #wallet .buypkoin {
  padding: 0.5em;
}
.walletwindow #wallet .buypkoin .ways {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.walletwindow #wallet .buypkoin .ways > div {
  flex-shrink: 1;
  flex-basis: content;
  flex-grow: 1;
  padding-bottom: 3em;
}
.walletwindow #wallet .buypkoin .row {
  padding: 0;
}
.walletwindow #wallet .buypkoin .row .button {
  min-width: 310px;
}
.walletwindow #wallet .buypkoin .row.flx {
  justify-content: center;
}
.walletwindow #wallet .buypkoin .row.flx > div {
  width: 12.5%;
  padding: 0.5em 0.5em;
  text-align: center;
}
.walletwindow #wallet .buypkoin .row.forfiats {
  justify-content: center;
}
.walletwindow #wallet .buypkoin .row.forfiats > div {
  width: 25%;
}
.walletwindow #wallet .buypkoin .row.one {
  display: block;
  padding: 0.5em 0;
  margin-bottom: 1.5em;
}
.walletwindow #wallet .buypkoin .row.one .wrp {
  padding: 2em 1em;
}
.walletwindow #wallet .buypkoin .row.one .flxbtn {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.walletwindow #wallet .buypkoin .row.one .flxbtn div {
  margin-right: 0;
}
.walletwindow #wallet .buypkoin .row.one .flxbtnlbk {
  margin-top: 1em;
}
.walletwindow #wallet .buypkoin .row.table {
  display: block;
  text-align: center;
}
.walletwindow #wallet .buypkoin .row.table > div {
  display: block;
}
.walletwindow #wallet .buypkoin .row.table .reciever {
  margin: 0 auto;
}
.walletwindow #wallet .crowdfunding {
  border: 0;
  background: rgb(var(--background-main));
}
.walletwindow #wallet .deposit {
  border: 0;
  background: rgb(var(--background-main));
}
.walletwindow #wallet .deposit .qrcoderesult .imageqr {
  width: 225px;
  height: 225px;
  margin: 0 auto;
}
.walletwindow #wallet .deposit .depositaddress .adrwrapper {
  padding: 1em 0;
}
.walletwindow #wallet .deposit .depositaddress .adrwrapper .adr {
  font-size: 0.9em;
}
.walletwindow #wallet .deposit .actionbody textarea {
  padding: 0.5em;
  height: 150px;
}
.walletwindow #wallet .deposit .actionbody button {
  width: 100%;
  min-width: 0;
}
.walletwindow #wallet .addresses .addressesGroupCaption {
  padding: 0.5em;
}
.walletwindow #wallet .addresses .adressesTable {
  padding: 0 0.5em;
}
.walletwindow #wallet .addresses .adressesTable > div {
  vertical-align: top;
  padding: 1.5em 0;
}
.walletwindow #wallet .addresses .adressesTable > div.name {
  padding-left: 0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.walletwindow #wallet .addresses .adressesTable > div.panel {
  display: none;
}
.walletwindow #wallet .addresses .adressesTable > div.balance {
  padding-left: 1em;
  width: 31%;
  font-weight: 700;
}
.walletwindow #wallet .addresses .adressesTable > div.percent {
  font-weight: 700;
  width: 22%;
}
.walletwindow #wallet .addresses .adressesTable > div:nth-last-child(1) {
  padding-right: 0;
}
/*t*/
@media only screen and (max-width: 768px) {
  #wallet {
    min-height: none;
  }
  #wallet .slide {
    margin-top: 1em;
    padding-top: 1em;
  }
  #wallet .slide .subcaptionWrapperTable {
    width: auto;
    margin-bottom: 1em;
  }
  #wallet .slide .subcaptionWrapperTable > div {
    vertical-align: middle;
  }
  #wallet .slide .subcaptionWrapperTable .panel {
    overflow: hidden;
  }
  #wallet .slide .subcaptionWrapperTable .panel .item {
    margin-right: 2em;
    float: right;
    cursor: pointer;
    color: rgb(var(--color-txt-ac));
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #wallet .slide .subcaptionWrapperTable .panel .item:hover {
    color: rgb(var(--color-txt-gray));
  }
  #wallet .slide .subcaptionWrapperTableCnt {
    padding: 0.5em;
  }
  #wallet .slide .subcaption span {
    font-weight: 700;
    color: rgb(var(--text-color));
  }
  #wallet .slide .bottomPanel {
    margin-top: 2em;
    padding: 0.5em;
  }
  #wallet .slide .bottomPanel > div {
    float: left;
    width: 100%;
  }
  #wallet .slide .bottomPanel > div button {
    width: 100%;
    height: 37px;
    line-height: 35px;
    padding: 0;
    min-width: 280px;
  }
  #wallet .slide .closeAdditional {
    padding: 0.5em;
    text-align: center;
    padding-bottom: 1em;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #wallet .slide .closeAdditional:hover {
    color: rgb(var(--color-txt-ac));
  }
  #wallet .slide .closeAdditional span {
    font-size: 0.8em;
    text-decoration: underline;
  }
  #wallet .slide .linksubcaption {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 3em;
    padding-left: 0.5em;
  }
  #wallet .slide .linksubcaption.res {
    color: rgb(var(--color-txt-ac));
  }
  #wallet .slide ._stepclose {
    display: none;
  }
  #wallet .slide ._stepback {
    display: none;
  }
  #wallet .slide ._subcaptionlevel {
    padding-left: 0.5em;
    color: rgb(var(--color-txt-ac));
  }
  #wallet .slide:nth-child(1) {
    padding-top: 0;
    margin-top: 0;
  }
  #wallet .total {
    background: rgb(var(--background-secondary-theme));
    padding: 0;
    overflow: hidden;
  }
  #wallet .total .totalItem {
    padding: 0 1em;
    padding-bottom: 0.5em;
    float: left;
    width: 100%;
  }
  #wallet .total .totalItem .canvasWrapper {
    width: 100%;
    position: relative;
  }
  #wallet .total .totalItem .canvasWrapper canvas {
    width: 100%;
    height: 100%;
  }
  #wallet .total .totalItem .canvasWrapper .infoWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #wallet .total .totalItem .canvasWrapper .infoWrapperTable > div {
    vertical-align: middle;
    text-align: center;
    padding: 1.5em;
  }
  #wallet .buypkoin {
    padding: 0.5em;
  }
  #wallet .buypkoin .ways {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #wallet .buypkoin .ways > div {
    flex-shrink: 1;
    flex-basis: content;
    flex-grow: 1;
    padding-bottom: 3em;
  }
  #wallet .buypkoin .row {
    padding: 0;
  }
  #wallet .buypkoin .row .button {
    min-width: 310px;
  }
  #wallet .buypkoin .row.flx {
    justify-content: center;
  }
  #wallet .buypkoin .row.flx > div {
    width: 12.5%;
    padding: 0.5em 0.5em;
    text-align: center;
  }
  #wallet .buypkoin .row.forfiats {
    justify-content: center;
  }
  #wallet .buypkoin .row.forfiats > div {
    width: 25%;
  }
  #wallet .buypkoin .row.one {
    display: block;
    padding: 0.5em 0;
    margin-bottom: 1.5em;
  }
  #wallet .buypkoin .row.one .wrp {
    padding: 2em 1em;
  }
  #wallet .buypkoin .row.one .flxbtn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  #wallet .buypkoin .row.one .flxbtn div {
    margin-right: 0;
  }
  #wallet .buypkoin .row.one .flxbtnlbk {
    margin-top: 1em;
  }
  #wallet .buypkoin .row.table {
    display: block;
    text-align: center;
  }
  #wallet .buypkoin .row.table > div {
    display: block;
  }
  #wallet .buypkoin .row.table .reciever {
    margin: 0 auto;
  }
  #wallet .htls,
  #wallet .crowdfunding,
  #wallet .deposit,
  #wallet .send {
    border: 0;
  }
  #wallet .htls .linkForDepositReady,
  #wallet .crowdfunding .linkForDepositReady,
  #wallet .deposit .linkForDepositReady,
  #wallet .send .linkForDepositReady,
  #wallet .htls .linkForDeposit,
  #wallet .crowdfunding .linkForDeposit,
  #wallet .deposit .linkForDeposit,
  #wallet .send .linkForDeposit,
  #wallet .htls .addressForDeposit,
  #wallet .crowdfunding .addressForDeposit,
  #wallet .deposit .addressForDeposit,
  #wallet .send .addressForDeposit,
  #wallet .htls .action,
  #wallet .crowdfunding .action,
  #wallet .deposit .action,
  #wallet .send .action {
    margin-top: 0.5em;
    padding: 0.5em 0;
  }
  #wallet .htls .linkparams,
  #wallet .crowdfunding .linkparams,
  #wallet .deposit .linkparams,
  #wallet .send .linkparams {
    padding: 1em 0;
  }
  #wallet .htls .linkparams .value,
  #wallet .crowdfunding .linkparams .value,
  #wallet .deposit .linkparams .value,
  #wallet .send .linkparams .value {
    font-size: 0.9em;
  }
  #wallet .htls button,
  #wallet .crowdfunding button,
  #wallet .deposit button,
  #wallet .send button {
    min-width: 0;
    width: 100%;
    max-width: none!important;
  }
  #wallet .htls .row,
  #wallet .crowdfunding .row,
  #wallet .deposit .row,
  #wallet .send .row {
    display: block;
  }
  #wallet .htls .row > div,
  #wallet .crowdfunding .row > div,
  #wallet .deposit .row > div,
  #wallet .send .row > div {
    display: block;
    width: 100%;
  }
  #wallet .htls .row > div.changer,
  #wallet .crowdfunding .row > div.changer,
  #wallet .deposit .row > div.changer,
  #wallet .send .row > div.changer {
    display: none;
  }
  #wallet .htls .row > div.address,
  #wallet .crowdfunding .row > div.address,
  #wallet .deposit .row > div.address,
  #wallet .send .row > div.address {
    width: 100%;
  }
  #wallet .htls .row > div.label,
  #wallet .crowdfunding .row > div.label,
  #wallet .deposit .row > div.label,
  #wallet .send .row > div.label {
    width: 100%;
  }
  #wallet .crowdfunding {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #wallet .deposit {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #wallet .deposit .qrcoderesult .imageqr {
    width: 225px;
    height: 225px;
    margin: 0 auto;
  }
  #wallet .deposit .depositaddress .adrwrapper {
    padding: 1em 0;
  }
  #wallet .deposit .depositaddress .adrwrapper .adr {
    font-size: 0.9em;
  }
  #wallet .deposit .actionbody textarea {
    padding: 0.5em;
    height: 150px;
  }
  #wallet .deposit .actionbody button {
    width: 100%;
    min-width: 0;
  }
  #wallet .addresses .addressesGroupCaption {
    padding: 0.5em;
  }
  #wallet .addresses .adressesTable {
    border-bottom: 1px solid rgb(var(--color-medium-theme));
    padding: 0 0.5em;
  }
  #wallet .addresses .adressesTable > div {
    vertical-align: top;
    padding: 1.5em 0;
  }
  #wallet .addresses .adressesTable > div.name {
    padding-left: 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #wallet .addresses .adressesTable > div.panel {
    display: none;
  }
  #wallet .addresses .adressesTable > div.balance {
    padding-left: 1em;
    width: 31%;
    font-weight: 700;
  }
  #wallet .addresses .adressesTable > div.percent {
    font-weight: 700;
    width: 22%;
  }
  #wallet .addresses .adressesTable > div a {
    display: none;
  }
  #wallet .addresses .adressesTable > div:nth-last-child(1) {
    padding-right: 0;
  }
  .walletwindow .wndinner {
    max-height: none;
  }
  .walletwindow .wndcontent {
    padding-top: 0;
    padding: 0;
  }
  .walletwindow #wallet .caption {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
