@import "../../css/__cssvar";

#wallet{
	min-height: 600px;
	padding-bottom: 8 * @rhythm;
	position: relative;

	.caption{
		padding : 2 * @rhythm;
		padding-top: 4 * @rhythm;
		span{
			font-size: 1.4em;
			color : rgb(var(--color-txt-gray-dark));
			font-weight: 100;
		}
	}

	.copyaddress{
		cursor: pointer;
	}

	.toblockexplorer{
		font-size: 0.8em;
		color : rgb(var(--neutral-grad-3));
		.transition(0.3s);
		cursor: pointer;
		width: 30px;
		text-align: center;

		&:hover{
			color : rgb(var(--color-txt-ac));
		}
	}

	.withloading{
		.nlpart{
			display: inline-block;
		}

		.lpart{
			display: none;
		}

		&.loading{
			cursor: default!important;
			.nlpart{
				display: none;
			}
	
			.lpart{
				display: inline-block;
			}
		}
	}

	.circularprogress{
		overflow: hidden;
		height: 0px;
		position: absolute;
		left : 0;
		right : 0;
		top : 0;
		

		.circularprogressWrapper{
			padding : 2 * @rhythm;
			text-align: center;
			canvas{
				margin : 0 auto;
			}
		}		
	}

	.panel{
		overflow: hidden;
		.item{
			float: right;
			margin-left: @rhythm;
			text-align: center;

			button{
				min-width: 180px;
			}
			
		}
	}

	.slide{
		margin-top: 2 * @rhythm;
		padding-top : 2 * @rhythm;
		color: rgb(var(--text-color));

		.required{
			color : rgb(var(--color-bad));
		}

		.subcaptionWrapperTable{
			width: auto;
			margin-bottom: 2 * @rhythm;
			>div{
				vertical-align: middle;
			}

			.panel{
				overflow : hidden;

				.item{
					margin-right : 4 * @rhythm;
					float: right;
					cursor: pointer;
					color : rgb(var(--color-txt-ac));
					.transition(0.3s);

					&:hover{
						color : rgb(var(--color-txt-gray));
					}
				}
			}
		}

		.subcaptionWrapperTableCnt{
			padding : 2 * @rhythm 4 * @rhythm;
		}

		.subcaption{
			span{
				font-weight : 700;
			}
		}

		.bottomPanel{
			margin-top: 4 * @rhythm;
			padding : 2 * @rhythm 4 * @rhythm;
			overflow : hidden;

			>div{
				float: left;

				button{
					height: 37px;
					line-height: 35px;
					padding : 0;
					min-width: 280px;
				}
			}
		}

		.closeAdditional{
			padding : @rhythm;
			text-align: center;
			padding-bottom: 2 * @rhythm;
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				color : rgb(var(--color-txt-ac));
			}

			span{
				font-size: 0.8em;
				text-decoration: underline;
			}
		}

		.linksubcaption{
			font-weight: 700;
			font-size: 0.8em;
			text-align: center;
			margin-bottom : 4 * @rhythm;
			margin-top : 6 * @rhythm;
			padding-left : @rhythm;

			&.res{
				color : rgb(var(--color-txt-ac));
			}
			
		}

		._stepclose{
			display: none;
		}

		._stepback{
			display: none;
		}

		._subcaptionlevel{
			padding-left : @rhythm;
			color : rgb(var(--color-txt-ac));
		}

		&:nth-child(1){
			padding-top : 0;
			margin-top : 0;
		}
	}


	/////

	.total{
		background: rgb(var(--background-secondary-theme));
		padding : 2 * @rhythm;
		padding-bottom : 0;
		overflow : hidden;
		position: relative;

		.tttlforerror{
			position: absolute;
			font-size: 0.8em;
			font-weight: 100;
			left : 0;
			right: 0;
			top : 0;
			bottom : 0;
			background: rgba(var(--background-secondary-theme), 0.95);
			display: none;

			&.active{
				display: block;
			}

			.table{
				>div{
					vertical-align: middle;
					text-align: center;
					color : rgb(var(--neutral-grad-4));
				}
			}
		}

		.totalItem{
			padding :0 2 * @rhythm;
			padding-bottom: @rhythm;
			float: left;
			width: 33%;

			.canvasWrapper{
				width: 100%;
				position: relative;

				canvas{
					width: 100%;
					height: 100%;
				}

				.infoWrapper{
					position : absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;

				}

				.infoWrapperTable{
					>div{
						vertical-align: middle;
						text-align: center;
						padding : 3 * @rhythm;
					}
				}
			}

		}

		.balance{
			.balanceWrapper{
				font-size: 1.6em;
				color : rgb(var(--color-txt-gray));

				.table{
					margin : 0 auto;
				}
			}
		}

		.summary{
			margin-top: @rhythm;
			.line{
				width: 100%;
				height: 2px;

				>div{
					float: left;
					height: 100%;
				}

				.positive{
					background: rgb(var(--color-good));
				}

				.negative{
					background: rgb(var(--color-bad));
				}
			}

			.numbers{
				>div{
					width: 50%;
					float: left;
					height: 100%;

					span{
						font-size: 0.8em;
					}
				}

				.positive{
					color: rgb(var(--color-good));
				}

				.negative{
					color: rgb(var(--color-bad));
					text-align: right;
				}
			}
		}

		.label{
			padding : @rhythm 0;

			span{
				font-size: 0.7em;
				font-weight: 700;
			}
		}


	}

	.htls,
	.crowdfunding,
	.deposit,
	.send{
		display: none;
		border : 1px solid rgb(var(--color-medium-theme));
		border-radius: 6px;
		padding-bottom: 4 * @rhythm;

		.linkForDepositReady,
		.linkForDeposit,
		.addressForDeposit,
		.action{
			margin-top: 2 * @rhythm;
			padding :  2 * @rhythm 3 * @rhythm;
		}

		.info{
			padding : 0  @rhythm;

			b{
				color : rgb(var(--color-good));
			}

			.infotable{

				>div{
					vertical-align: middle;
					padding : @rhythm;

					&.label{
						width: 120px;
						padding-left : 0;
					}

					b{
						font-size: 0.9em;
					}
				}
			}
		}

		.linkForDepositReady,
		.linkForDeposit{
			margin-top: 0;
			border-top : 1px solid rgb(var(--color-medium-theme));
		}

		.linkparams{
			padding : 2 * @rhythm 0;
		}

		button{
			max-width : 310px;
			width: 100%;
			height: 37px;
			line-height: 35px;
			padding : 0;
		}

		.labelWrapper{
			font-size: 0.8em;
			margin-top : @rhythm;
			margin-bottom : @rhythm;
			color : rgb(var(--color-txt-ac));

			&.abs{
				padding-bottom : 3 * @rhythm;
			}
		}

		.cashWrapper{
			width: 100%;
			height: 100%;
		}

		textarea,
		input{
			width: 100%;
		}

		.inputWrapper{
			.vc_valuecustom,
			input{
				width: 100%;
			}
		}

		.row{
			>div{
				padding : @rhythm;
				vertical-align: middle;

				&.changer{
					text-align: center;
					width: 50px;

					.change{
						cursor: pointer;
						.transition(0.3s);

						&:hover{
							color : rgb(var(--color-txt-ac));
						}
					}
				}

				&.address{
					width: 50%;
				}

				&.source{

				}

				&.label{
					width: 20%;

					span{
						font-size : 0.8em;
					}
				}
			}
		}

		.notvalidaddress{
			color : rgb(var(--color-bad));
		}
	}

	.crowdfunding{
		border-radius: 0;
		border : 2px solid rgb(var(--color-txt-ac));

		&[view="showListcount"]{
			.action{
				display: none;
			}
		}

		&[view="olddeal"],
		&[view="newdeal"]{
			.action{
				display: none;
			}

			.todeal{
				i{
					display: none;
				}
			}
		}

		

		.listcountWrapper{
			font-size: 0.8em;
			font-weight: 700;
			cursor: pointer;
			color : rgb(var(--color-txt-ac));

			.transition(0.3s);

			&:hover{
				color : rgb(var(--color-txt-gray))
			}
		}

		.listcr{
			padding : 4 * @rhythm;

			.item{
				>div{
					vertical-align: middle;
					padding : @rhythm;

					&.amount{
						padding-left: 0;
						width: 100px;
					}

					&.address{
						
						width: 270px;
					}

					&.update{
						width: 50px;
					}

					&.remove{
						width: 50px;
					}

					span{
						font-size: 0.8em;
					}

					.removecr,
					.updatecr{
						color : rgb(var(--color-txt-gray));
						cursor: pointer;
						.transition(0.3s);
					}
					.updatecr{
						&:hover{
							color : rgb(var(--color-txt-ac));
						}
					}
					.removecr{
						&:hover{
							color : rgb(var(--color-bad));
						}
					}
				}	
			}

			.header{
				.item{
					font-weight: 700;
				}
			}
		}

		.statustable{
			>div{
				vertical-align: middle;
			}

			.todeal{
				cursor: pointer;
				.transition(0.3s);

				&:hover{
					color : rgb(var(--color-good));
				}
			}

			.segment{

				&.ended{
					.segmenttable{
						>div{
							
							&.iconWrapper{
								
								.iended{
									display: block;
								}

								.iwaiting{
									display: none;
								}
							}
						}
					}
				}

				&.bad{
					.segmenttable{
						.linebg{
							
							.line{
								background: rgb(var(--color-bad));
							}
						}
					}
				}
				
			}

			.segmenttable{
				>div{
					vertical-align: middle;
					overflow: hidden;
					.transition(0.3s);

					&.labelWrapper{
						width: 60%;
					}

					&.iconWrapper{
						width: 26px;
						text-align: center;
						color : rgb(var(--neutral-grad-2));

						.iended{
							display: none;
						}
						.finish{
							color : rgb(var(--color-good));
						}

						.finishbad{
							color : rgb(var(--color-bad));
						}
					}
				}

				.linebg{
					width: 100%;
					height: 2px;
					background:  rgb(var(--neutral-grad-2));
					border-radius: 2px;
					overflow: hidden;
					position: relative;

					.line{
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						.transition(0.3s);
						background: rgb(var(--color-txt-ac));
					}
				}
			}
		}

		.pocstatus{
			.current{
				display: none;
			}
		}
		.copyaddress1,
		.copyaddress2{
			cursor: pointer;
		}
		.crdeal{
			padding : 0 4 * @rhythm;

			.statustable{
				.segmenttable{
					>div{
						&.labelWrapper{
							display: none;
						}
					}
				}
			}

			.pocstatus{
				.current{
					padding : 2 * @rhythm;
					display: block;
					color : rgb(var(--color-txt-ac));
					text-align: center;
				}
			}

			.reactivate{
				margin : 0 auto;
				margin-top : 2 * @rhythm;
				width: 150px;
				background: rgb(var(--color-bg-ac));
				color : rgb(var(--text-on-main-bg-color));
				text-align: center;
				padding : @rhythm;
				cursor: pointer;
				.transition(0.3s);
				border : 1px solid rgb(var(--color-bg-ac));
				font-size : 0.8em;

				&:hover{
					background : rgb(var(--background-total-theme));
					color : rgb(var(--color-txt-ac));
				}
			}

		}

		.infosteptable{
			.infostepcaption{
				padding : @rhythm 0 ;

				span{
					font-size: 0.8em;
					font-weight: 700;
					color : rgb(var(--color-txt-ac));
				}
			}

			.infostep{
				margin-top : @rhythm;
				height: auto;
				>div{
					vertical-align: middle;
					padding : @rhythm 0;

					&.left{
						width: 70%;
					}
				}
			}
			.label{
				padding : @rhythm 0;
				span{
					color : rgb(var(--neutral-grad-2));
					font-size: 0.8em;
				}
			}

			
		}

		.infowrapper{
			>div{
				padding : 2 * @rhythm;
				&.infostepqrcell{
					width: 250px;

					.infostepcaption{
						text-align: center;
					}

					.qrcodewrapper{
						text-align: center;
					}
				}

				&:nth-child(1){
					padding-left: 0;
				}

				&:nth-last-child(1){
					padding-right: 0;
				}
			}
		}

		.steptext{
			padding : 2 * @rhythm 0 ;
			span{
				font-size: 0.8em;
				color : rgb(var(--color-txt-ac));
			}
			
		}
	}

	.buypkoin{
		background: rgb(var(--background-total-theme));
		padding : 3 * @rhythm 0;
		border-radius: 6px;
		border-top : 1px solid rgba(var(--color-medium-theme), 0.3);
		border-right : 1px solid rgba(var(--color-medium-theme), 0.3);
		.shadowSmaller();

		.ways{
			display : flex;
			align-items: flex-start;

			>div{
				flex-shrink: 1;
  				flex-basis: 0;
				flex-grow: 1;
			}

			
		}

		.row{
			display : flex;
			flex-wrap : wrap;
			padding : 0 2 * @rhythm;

			&.one{
				display: block;
				padding : 2 * @rhythm;
				margin-bottom: 3 * @rhythm;

				.wrp{
					padding : 4 * @rhythm 2 * @rhythm;
					text-align: left;
					border-radius: 5px;
					border : 1px dashed rgba(var(--color-medium-theme), 0.7);
					background: rgb(var(--color-shadow-var));
				}

				.flxbtn{
					display: flex;
					justify-content: center;
					align-items: center;

					div{
						margin-right: 2 * @rhythm;
					}

					span{
						color : rgb(var(--text-on-bg-shadow-color));
						font-size: 0.8em;
					}
				}
			}

			.button{
				min-width: 220px;

				&.ghost{
					min-width: 0;
				}
			}

			>div{
				
				padding : @rhythm 2 * @rhythm;
				text-align: center;
				min-width: 60px;
				
				.clogo{
					height: 24px;
				}

				img{
					width: 18px;
					height: 18px;

					&.wh{
						height: 8px;
						width: auto;
					}

					&.wh2{
						height: 18px;
						width: auto;
					}

					&.wh3{
						height: 22px;
						width: auto;
					}
				}

				.label{
					padding : @rhythm 0;
					font-size: 0.8em;
					font-weight: 500;
				}


			}
		}

	}

	.deposit{
		border : 0;
		background: rgb(var(--background-main));

		.qrcoderesult{
			.imageqr{
				width: 225px;
				height: 225px;
				margin : 0 auto;
			}
		}

		.depositaddress{
			.adrwrapper{
				padding : 4 * @rhythm;

				.adr{
					text-align: center;
					font-size: 2em;
					color : rgb(var(--color-txt-gray-dark));
					font-weight : 700;
				}
			}
		}

		.actionbody{
		
			textarea{
				padding : 2 * @rhythm;
			}

			button{
				width: 100%;
				min-width : 0;
			}

			
		}
	}

	.addresses{

		.addressesGroupCaption{
			padding : 2 * @rhythm 4 * @rhythm;
		
			span{
				font-size: 0.8em;
			}
		}

		.adressesTable{
			border-bottom: 1px solid rgb(var(--neutral-grad-2));

			>div{
				vertical-align: top;
				padding : 3 *@rhythm @rhythm;

				&.name{
					padding-left: 4 * @rhythm;
					font-weight: 500;

					.alabel{
						font-weight: 300;
						font-size: 0.8em;
						color : rgb(var(--color-txt-ac));
					}
				}

				&.balance{
					width: 25%;
					font-weight: 700;
				}

				&.percent{
					font-weight: 700;
					width: 100px;
				}

				&.panel{
					padding-right: 4 * @rhythm;
					width: 110px;
				}

				&:nth-last-child(1){
					padding-right: 4 * @rhythm;
					text-align: right;
				}

				span{
					font-size: 0.9em;
				}
			}
		}

		.captionTable{
			>div{
				padding : 2 *@rhythm @rhythm;
				span{
					font-weight: 700;
					font-size : 0.8em;
				}
			}
		}

		
	}

	/////

	.actionstep{

		._stepclose{
			display: block;
		}

		._stepback{
			display: block;
			width: 60px;
			padding-left: 0;
			padding-right: 0;

			.back{
				background: rgb(var(--background-main));
				border-radius: 50%;
				width: 44px;
				height: 44px;
				cursor: pointer;
				color : rgb(var(--color-txt-gray-dark));
				.transition(0.3s);
				text-align: center;
				line-height: 44px;
				font-size: 0.8em;

				&:hover{
					color : rgb(var(--color-txt-ac));
				}
			}
		}

		.deposit{
			border-radius: 6px;
			border : 1px solid rgba(var(--color-medium-theme), 0.7);
			background: rgb(var(--background-total-theme));
			padding : 3 * @rhythm 0;

			.changer,
			.recievecoins{
				display: none;
			}

			._stepback{
				display: table-cell;
			}
		}

		.send{
			border-radius: 6px;
			border : 1px solid rgba(var(--color-medium-theme), 0.7);
			background:  rgb(var(--background-total-theme));
			padding : 3 * @rhythm 0;

			.actionbody {
				background: rgb(var(--background-main));
				border-bottom : 1px solid rgba(var(--color-medium-theme), 0.7);

				button{
					width: 100%;
				}
			}

			.changerremove,
			.sendcoins{
				display: none;
			}

			._stepback{
				display: table-cell;
			}
		}


		.htls{
			border-radius: 6px;
			border : 1px solid rgba(var(--color-medium-theme), 0.7);
			background:  rgb(var(--background-total-theme));
			padding : 3 * @rhythm 0;

			.actionbody {
				background: rgb(var(--background-main));
				border-bottom : 1px solid rgba(var(--color-medium-theme), 0.7);

				button{
					width: 100%;
				}
			}

			
			.changerremove,
			.sendcoins{
				display: none;
			}

			._stepback{
				display: table-cell;
			}
		}

		.animation{

			.htls,
			.send,
			.deposit{
				border : 1px solid transparent;
			}
			
		}
	}

	/////

	.walletempvalue{
		padding-bottom:  0.5 * @rhythm;
		padding-top: 0.5 * @rhythm;

		span{
			font-size: 0.8em;
		}
	}
	
	.walletdfvalue{
		padding-bottom:  0.5 * @rhythm;
		padding-top: 0.5 * @rhythm;

		span{
			font-size: 0.8em;
			font-weight: 700;
		}
	}

	.walletuservalue{
		position: relative;
		padding-bottom: 0.5 * @rhythm;
		padding-top: 0.5 * @rhythm;

		>div{
			vertical-align: middle;

			&.namecell{
				padding-left: 1.2 * @rhythm;
				font-weight: 700;
				font-size: 0.8em;
			}

			&.iconcell{
				width: 28px;

				img{
					width: 28px;
					height: 28px;
					border-radius: 50%;
				}
			}
		}
	}

	&.simple{
		._stepback{
			display: none!important;
		}
	}

	&.loading{
        .ntf{
            display: none;
        }
    }

	&.api{
		._stepback{
			display: none!important;
		}

		._stepclose {
			display: none!important;
		}

		.actionbody{
			border-bottom: 0!important;
		}

		.actionstep .send{
			padding-bottom : 0!important;
		}
	}
}


.walletwindow{

	.wndinner{
		width: 100%;
		max-width: 550px;
		height: 80%;
		max-height: 640px;
	}

	#wallet{
		padding-bottom: 0;
		min-height: none;

		.workstation{
			display: none;
		}

		.caption{
			padding-left: 0;
		}

		.mobiledevice{
			display: block;
		}
	
		
		.slide{
			margin-top: 2 * @rhythm;
			padding-top : 2 * @rhythm;

			.subcaptionWrapperTable{
				width: auto;
				margin-bottom: 2 * @rhythm;
				>div{
					vertical-align: middle;
				}
	
				.panel{
					overflow : hidden;
	
					.item{
						margin-right : 4 * @rhythm;
						float: right;
						cursor: pointer;
						color : rgb(var(--color-txt-ac));
						.transition(0.3s);
	
						&:hover{
							color : rgb(var(--color-txt-gray));
						}
					}
				}
			}
	
			.subcaptionWrapperTableCnt{
				padding : @rhythm;
			}
	
			.subcaption{
				span{
					font-weight : 700;
					color: rgb(var(--color-txt-gray-dark));
				}
			}
	
			.bottomPanel{
				margin-top: 4 * @rhythm;
				padding : @rhythm;
	
				>div{
					float: left;
					width: 100%;
	
					button{
						width: 100%;
						height: 37px;
						line-height: 35px;
						padding : 0;
						min-width: 280px;
					}
				}
			}
	
			.closeAdditional{
				padding : @rhythm;
				text-align: center;
				padding-bottom: 2 * @rhythm;
				cursor: pointer;
				.transition(0.3s);
	
				&:hover{
					color : rgb(var(--color-txt-gray));
				}
	
				span{
					font-size: 0.8em;
					text-decoration: underline;
				}
			}
	
			.linksubcaption{
				font-weight: 700;
				font-size: 0.8em;
				text-align: center;
				margin-bottom : 4 * @rhythm;
				margin-top : 6 * @rhythm;
				padding-left : @rhythm;
	
				&.res{
					color : rgb(var(--color-txt-gray));
				}
				
			}
	
			._stepclose{
				display: none;
			}
	
			._stepback{
				display: none;
			}
	
			._subcaptionlevel{
				padding-left : @rhythm;
				color : rgb(var(--color-txt-ac));
			}
	
			&:nth-child(1){
				padding-top : 0;
				margin-top : 0;
			}
		}
	
	
		.total{
			padding : 0;
			overflow : hidden;
	
			.totalItem{
				padding : 0 2 * @rhythm;
				padding-bottom: @rhythm;
				float: left;
				width: 100%;
	
				.canvasWrapper{
					width: 100%;
					position: relative;
	
					canvas{
						width: 100%;
						height: 100%;
					}
	
					.infoWrapper{
						position : absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
	
					}
	
					.infoWrapperTable{
						>div{
							vertical-align: middle;
							text-align: center;
							padding : 3 * @rhythm;
						}
					}
				}
	
			}
		}
		
		.htls,
		.crowdfunding,
		.deposit,
		.send{
	
			border : 1px solid rgb(var(--color-medium-theme));
			border-left : 0;
			border-right : 0;
			border-radius: 0;
	
			.linkForDepositReady,
			.linkForDeposit,
			.addressForDeposit,
			.action{
				margin-top: @rhythm;
				padding :  @rhythm 0;
			}
	
			.linkparams{
				padding : 2 * @rhythm 0;
	
				.value{
					font-size: 0.9em;
				}
	
	
			}
	
			button{
				min-width : 0;
				width: 100%;
			}
	
			.row{
				display: block;
	
				>div{
					display: block;
					width: 100%;
	
					&.changer{
						display: none;
	
					}
	
					&.address{
						width: 100%;
					}
	
					&.source{
	
					}
	
					&.label{
						width: 100%;
					}
				}
			}
		}

		.buypkoin{
			padding : @rhythm;
	
			.ways{
				display : flex;
				align-items: flex-start;
				flex-wrap: wrap;
	
				>div{
					flex-shrink: 1;
					  flex-basis: content;
					flex-grow: 1;
					padding-bottom: 6 * @rhythm;
				}
			}
			
			.row{
				padding : 0;
	
				.button{
					min-width: 310px;
				}
	
				&.flx{
					justify-content: center;
					>div{
						width: 12.5%;
						padding : @rhythm @rhythm;
						text-align: center;
					}
				}
	
				&.forfiats{
					justify-content: center;
	
					>div{
						width: 25%;
					}
				}
	
				&.one{
					display: block;
					padding : @rhythm 0;
					margin-bottom: 3 * @rhythm;
	
					.wrp{
						padding : 4 * @rhythm 2 * @rhythm;
					}
	
					.flxbtn{
						flex-direction: column;
						text-align: center;
						justify-content: center;
	
						div{
							margin-right: 0;
						}
					}
	
					.flxbtnlbk{
						margin-top : 2 * @rhythm;
					}
				}
	
				&.table{
					display: block;
					text-align: center;
	
					>div{
						display: block;
					}
	
					.reciever{
						margin : 0 auto;
					}
				}
				
			}
	
		}
	
		.crowdfunding{
			border : 0;
			background: rgb(var(--background-main));
		}
	
		.deposit{
			border : 0;
			background:  rgb(var(--background-main));
	
			
	
			.qrcoderesult{
				.imageqr{
					width: 225px;
					height: 225px;
					margin : 0 auto;
				}
			}
	
			.depositaddress{
				.adrwrapper{
					padding : 2 * @rhythm 0;
	
					.adr{
						font-size: 0.9em;
					}
				}
			}
	
			.actionbody{
			
				textarea{
					padding : @rhythm;
					height: 150px;
				}
	
				button{
					width: 100%;
					min-width : 0;
				}
	
				
			}
		}
	
		.addresses{
	
	
			.addressesGroupCaption{
				padding : @rhythm;
			
			}
	
			.adressesTable{
				padding : 0 @rhythm;
	
				>div{
					vertical-align: top;
					padding : 3 * @rhythm 0;
	
					&.name{
						padding-left: 0;
						font-weight: 500;
						overflow: hidden;
						text-overflow: ellipsis;
	
						
					}
	
					&.panel{
						display: none;
					}
	
	
					&.balance{
						padding-left: 2 * @rhythm;
						width: 31%;
						font-weight: 700;
					}
	
					&.percent{
						font-weight: 700;
						width: 22%;
					}
	
					
	
					&:nth-last-child(1){
						padding-right: 0;
					}
				}
			}
	
			
		}
	
		
	}
}

/*t*/ @media only screen and (max-width: 768px){
#wallet{
	min-height: none;

	
	.slide{
		margin-top: 2 * @rhythm;
		padding-top : 2 * @rhythm;

		

		.subcaptionWrapperTable{
			width: auto;
			margin-bottom: 2 * @rhythm;
			>div{
				vertical-align: middle;
			}

			.panel{
				overflow : hidden;

				.item{
					margin-right : 4 * @rhythm;
					float: right;
					cursor: pointer;
					color : rgb(var(--color-txt-ac));
					.transition(0.3s);

					&:hover{
						color :  rgb(var(--color-txt-gray));
					}
				}
			}
		}

		.subcaptionWrapperTableCnt{
			padding : @rhythm;
		}

		.subcaption{
			span{
				font-weight : 700;
				color: rgb(var(--text-color));
			}
		}

		.bottomPanel{
			margin-top: 4 * @rhythm;
			padding : @rhythm;

			>div{
				float: left;
				width: 100%;

				button{
					width: 100%;
					height: 37px;
					line-height: 35px;
					padding : 0;
					min-width: 280px;
				}
			}
		}

		.closeAdditional{
			padding : @rhythm;
			text-align: center;
			padding-bottom: 2 * @rhythm;
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				color : rgb(var(--color-txt-ac));
			}

			span{
				font-size: 0.8em;
				text-decoration: underline;
			}
		}

		.linksubcaption{
			font-weight: 700;
			font-size: 0.8em;
			text-align: center;
			margin-bottom : 4 * @rhythm;
			margin-top : 6 * @rhythm;
			padding-left : @rhythm;

			&.res{
				color : rgb(var(--color-txt-ac));
			}
			
		}

		._stepclose{
			display: none;
		}

		._stepback{
			display: none;
		}

		._subcaptionlevel{
			padding-left : @rhythm;
			color : rgb(var(--color-txt-ac));
		}

		&:nth-child(1){
			padding-top : 0;
			margin-top : 0;
		}
	}


	.total{
		
		background: rgb(var(--background-secondary-theme));
		padding : 0;
		overflow : hidden;

		.totalItem{
			padding : 0 2 * @rhythm;
			padding-bottom: @rhythm;
			float: left;
			width: 100%;



			.canvasWrapper{
				width: 100%;
				position: relative;

				canvas{
					width: 100%;
					height: 100%;
				}

				.infoWrapper{
					position : absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;

				}

				.infoWrapperTable{
					>div{
						vertical-align: middle;
						text-align: center;
						padding : 3 * @rhythm;
					}
				}
			}

		}

	}

	.buypkoin{
		padding : @rhythm;

		.ways{
			display : flex;
			align-items: flex-start;
			flex-wrap: wrap;

			>div{
				flex-shrink: 1;
  				flex-basis: content;
				flex-grow: 1;
				padding-bottom: 6 * @rhythm;
			}
		}
		
		.row{
			padding : 0;

			.button{
				min-width: 310px;
			}

			&.flx{
				justify-content: center;
				>div{
					width: 12.5%;
					padding : @rhythm @rhythm;
					text-align: center;
				}
			}

			&.forfiats{
				justify-content: center;

				>div{
					width: 25%;
				}
			}

			&.one{
				display: block;
				padding : @rhythm 0;
				margin-bottom: 3 * @rhythm;

				.wrp{
					padding : 4 * @rhythm 2 * @rhythm;
				}

				.flxbtn{
					flex-direction: column;
					text-align: center;
					justify-content: center;

					div{
						margin-right: 0;
					}
				}

				.flxbtnlbk{
					margin-top : 2 * @rhythm;
				}
			}

			&.table{
				display: block;
				text-align: center;

				>div{
					display: block;
				}

				.reciever{
					margin : 0 auto;
				}
			}
			
		}

	}

	.htls,
	.crowdfunding,
	.deposit,
	.send{

		border :0;

		.linkForDepositReady,
		.linkForDeposit,
		.addressForDeposit,
		.action{
			margin-top: @rhythm;
			padding :  @rhythm 0;
		}

		.linkparams{
			padding : 2 * @rhythm 0;

			.value{
				font-size: 0.9em;
			}


		}

		button{
			min-width : 0;
			width: 100%;
			max-width: none!important;
		}

		.row{
			display: block;

			>div{
				display: block;
				width: 100%;

				&.changer{
					display: none;

				}

				&.address{
					width: 100%;
				}

				&.label{
					width: 100%;
				}
			}
		}
	}

	.crowdfunding{
		border : 0;
		background: rgb(var(--background-secondary-theme));
	}

	.deposit{
		border : 0;
		background: rgb(var(--background-secondary-theme));

		

		.qrcoderesult{
			.imageqr{
				width: 225px;
				height: 225px;
				margin : 0 auto;
			}
		}

		.depositaddress{
			.adrwrapper{
				padding : 2 * @rhythm 0;

				.adr{
					font-size: 0.9em;
				}
			}
		}

		.actionbody{
		
			textarea{
				padding : @rhythm;
				height: 150px;
			}

			button{
				width: 100%;
				min-width : 0;
			}

			
		}
	}

	.addresses{
		.addressesGroupCaption{
			padding : @rhythm;
		}

		.adressesTable{
			border-bottom: 1px solid rgb(var(--color-medium-theme));
			padding : 0 @rhythm;

			>div{
				vertical-align: top;
				padding : 3 * @rhythm 0;

				&.name{
					padding-left: 0;
					font-weight: 500;
					overflow: hidden;
					text-overflow: ellipsis;

					
				}

				&.panel{
					display: none;
				}


				&.balance{
					padding-left: 2 * @rhythm;
					width: 31%;
					font-weight: 700;
				}

				&.percent{
					font-weight: 700;
					width: 22%;
				}

				a{
					display: none;
				}

				&:nth-last-child(1){
					padding-right: 0;
				}
			}
		}

		
	}

	
}

.walletwindow{
	.wndinner{
		max-height: none;
	}

	.wndcontent{
		padding-top : 0;
		padding : 0;
	}
	#wallet{
		.caption{
			padding-left: @rhythm;
			padding-right: @rhythm;
		}
		
	}

}
}