#pkview .approveMnemonic,
#pkview .qrCode {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#pkview .approveMnemonic canvas,
#pkview .qrCode canvas {
  align-self: center;
}
#pkview .approveMnemonic .approveMnemonicNote,
#pkview .qrCode .approveMnemonicNote {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
#pkview .approveMnemonic .shuffledMnemonicWrapper,
#pkview .qrCode .shuffledMnemonicWrapper,
#pkview .approveMnemonic .randomWordsWrapper,
#pkview .qrCode .randomWordsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 20px;
  justify-content: start;
  align-content: start;
}
#pkview .approveMnemonic .shuffledMnemonicWrapper .shuffledMnemonicItem,
#pkview .qrCode .shuffledMnemonicWrapper .shuffledMnemonicItem,
#pkview .approveMnemonic .randomWordsWrapper .shuffledMnemonicItem,
#pkview .qrCode .randomWordsWrapper .shuffledMnemonicItem {
  width: 32%;
  height: 40px;
  background: #0992DF;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
#pkview .approveMnemonic .shuffledMnemonicWrapper .shuffledMnemonicItem:hover,
#pkview .qrCode .shuffledMnemonicWrapper .shuffledMnemonicItem:hover,
#pkview .approveMnemonic .randomWordsWrapper .shuffledMnemonicItem:hover,
#pkview .qrCode .randomWordsWrapper .shuffledMnemonicItem:hover {
  cursor: pointer;
  background: #112035;
  color: #fff;
}
#pkview .approveMnemonic .randomWordsWrapper,
#pkview .qrCode .randomWordsWrapper {
  height: 62px;
  padding: 10px;
  margin-bottom: 2em;
  border: 1px dashed #3c4146;
  border-radius: 8px;
}
#pkview .approveMnemonic .approveMnemonicButtons,
#pkview .qrCode .approveMnemonicButtons {
  display: flex;
  justify-content: space-between;
}
#pkview .approveMnemonic .submitButton:disabled,
#pkview .qrCode .submitButton:disabled,
#pkview .approveMnemonic .submitButton [disabled],
#pkview .qrCode .submitButton [disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
#pkview .approveMnemonic .hide,
#pkview .qrCode .hide {
  background: #555770 !important;
  color: #555770 !important;
  pointer-events: none;
  text-indent: -9999px;
}
#pkview .buttonWrapper {
  padding: 1em;
  text-align: center;
}
#pkview .next {
  padding: 2em;
  text-align: center;
}
#pkview .next button {
  border-radius: 30px;
  min-width: 140px;
}
#pkview .key button {
  text-decoration: none;
}
#pkview .key .usericon {
  background: transparent;
}
#pkview .key .number {
  border: 1px solid rgb(var(--neutral-grad-2));
}
#pkview .key .subcaption {
  font-size: 1em;
  color: rgb(var(--neutral-grad-4));
  text-align: center;
  font-weight: 400;
  padding-top: 2em;
}
#pkview .key .subcaption .bad {
  font-weight: 700;
  color: rgb(var(--color-txt-orange));
}
#pkview .key .pklabel {
  text-align: center;
  font-size: 0.8em;
  color: rgb(var(--color-txt-ac));
  margin-bottom: 0.5em;
}
#pkview .key .mnemonicKey {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  min-height: 130px;
  contain: strict;
}
#pkview .key .mnemonicKeyTable {
  height: auto;
  display: block;
}
#pkview .key .mnemonicKeyTable > div {
  display: block;
  vertical-align: top;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
#pkview .key .mnemonicKeyTable > div.iconWrapper {
  padding: 15px;
  width: 286px;
  margin: 0 auto;
}
#pkview .key .mnemonicKeyTable > div.mobiledevice {
  display: none;
}
#pkview .key .mnemonicKeyCell {
  margin-top: 2em;
}
#pkview .key .qrcode {
  margin: 0 auto;
}
#pkview .key .panel .item {
  padding-top: 0.5em;
}
#pkview .key .panel .item.preloader {
  padding-top: 0.25em;
}
#pkview .dontshowagain {
  position: fixed;
  bottom: -10%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  text-align: center;
  padding: 1em;
  border-radius: 50px;
  background: rgb(var(--color-bg-ac-bright));
  color: rgb(var(--text-on-bg-ac-color));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
  z-index: 5000;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.9em;
}
#pkview .dontshowagain.active {
  bottom: 2%;
  display: block;
  opacity: 1;
}
#pkview .dontshowagain.active:hover {
  opacity: 0.8;
}
.wnd.pkviewwnd .wndinner {
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: transparent;
  box-shadow: none;
}
.wnd.pkviewwnd .wndinner .wndcontent {
  background: transparent;
}
.wnd.pkviewwnd .wndcontent {
  overflow-y: auto;
}
.wnd.pkviewwnd #pkview {
  height: 100%;
}
.wnd.pkviewwnd #pkview .work {
  height: 100%;
}
.wnd.pkviewwnd #pkview .abswndwrapper {
  height: 100%;
}
.wnd.pkviewwnd #pkview .abswndwrapper .tablewrapper {
  height: 100%;
}
.wnd.pkviewwnd #pkview .abswndwrapper .tablewrapper > div {
  vertical-align: middle;
}
.wnd.pkviewwnd #pkview .key {
  padding: 2em;
  background: rgb(var(--background-secondary-theme));
  color: rgb(var(--text-color));
  border-radius: 12px;
}
.wnd.pkviewwnd #pkview .work {
  max-width: 1024px;
}
/*t*/
@media only screen and (max-width: 768px) {
  .wnd.pkviewwnd #pkview .approveMnemonic {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .wnd.pkviewwnd #pkview .keywrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .wnd.pkviewwnd #pkview .key {
    padding: 0.5em;
  }
  .wnd.pkviewwnd #pkview .mnemonicKey {
    height: 90px;
  }
  .wnd.pkviewwnd #pkview .mnemonicKeyTable > div.iconWrapper {
    padding: 0;
    width: 100%;
  }
  .wnd.pkviewwnd #pkview .mnemonicKeyTable > div.iconWrapper img {
    margin: 0 auto;
  }
}
