<div id="<%-module.map.id%>">
	<div class="layout">

		<div class="imagepart">
			<div class="img" image="img/bgwelcome3.jpg"></div>
		</div>

		<div class="contentpart">

			<div class="wrp">

				<div class="logowrapper">
					<img src="img/logo20.svg">
				</div>

				<div class="caption">
					Bastyon of Free Speech
				</div>

				<div class="features">
					<div class="feature">Read Content <b>Banned</b> by Big Tech</div>
					<div class="feature">Chat <b>privately</b> with friends - no SIM card</div>
				</div>

				<div class="invitation">

				</div>

				<div class="signinpart">
					<a elementsid="hrefregistration" href="registration">
						<button class="button orange rounded sin"><%=e('createnew')%></button>
					</a>
				</div>

				<div class="existing">
					<a elementsid="hrefauthorization" href="authorization"><%=e('id0')%></a>
				</div>
			</div>
			
		</div>
	</div>

	<div class="topbotder">

	</div>

	<div class="navbottom">
		<div>
			<a elementsid="https://<%-app.options.url%>/blockexplorer/" href="https://<%-app.options.url%>/blockexplorer/">Block Explorer</a>
			<span>&middot;</span>
			<a elementsid="help?page=faq" href="help?page=faq">F.A.Q.</a>
			<span>&middot;</span>
			<a elementsid="hrefuserpage" href="userpage">MENU</a>

			<% if(!app.curation()) {%>
				<span>&middot;</span>
				<a elementsid="help?page=roadmap" href="help?page=roadmap">Roadmap</a>
				<span>&middot;</span>
				<a elementsid="help?page=guides" href="help?page=guides">Node&nbsp;Setup</a>s
				<span>&middot;</span>
				<a elementsid="help?page=applications" href="help?page=applications">Applications</a>
			<% } %>
		</div>
	
	</div>

</div>