<div id="<%-module.map.id%>">
	<div class="layout">

		<div class="imagepart">
			<div class="img" image="img/bgwelcome.jpg"></div>
		</div>

		<div class="contentpart">

			<div class="wrp">

				<div class="logowrapper">
					<img src="img/logo20.svg">
				</div>

				<div class="caption">
					First fully decentralized social network
				</div>

				<div class="features">
					<div class="feature">Read content that is banned by Big Tech</div>
					<div class="feature">Chat privately with friends - no SIM card</div>
				</div>

				<div class="invitation">

				</div>

				<div class="signinpart">
					<a href="registration">
						<button class="button orange rounded sin"><%=e('signin')%></button>
					</a>
				</div>

				<div class="existing">
					<a href="authorization"><%=e('id0')%></a>
				</div>
			</div>
			
		</div>
	</div>

	<div class="topbotder">

	</div>

	<div class="navbottom">
		<div>
			<a href="https://<%-app.options.url%>/blockexplorer/">Block Explorer</a>
			<span>&middot;</span>
			<a href="help?page=faq">F.A.Q.</a>

			<% if(!app.curation()) {%>
			<span>&middot;</span>
			<a href="help?page=roadmap">Roadmap</a>
			<span>&middot;</span>
			<a href="help?page=node">Node&nbsp;Setup</a>
			<span>&middot;</span>
			<a href="help?page=pkoin" data-anchor="pocketcoin">PKOIN</a>
			<span>&middot;</span>
			<a href="help?page=applications">Applications</a>
			<% } %>
		</div>
	
	</div>

</div>