#socialshare2 {
  padding: 1em 0;
}
#socialshare2 .includeRefWrapper {
  padding-top: 0.5em;
  padding-left: 1em;
}
#socialshare2 .flexWrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
#socialshare2 .flexWrapper .button {
  border-radius: 6px;
  background: rgb(var(--background-secondary-theme));
  text-align: center;
  padding: 1em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#socialshare2 .flexWrapper .button:hover {
  opacity: 0.5;
}
#socialshare2 .flexWrapper .button i {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
#socialshare2 .flexWrapper .button span {
  white-space: nowrap;
  display: block;
  font-size: 0.8em;
}
#socialshare2 .flexWrapper > div {
  flex-grow: 1;
  padding: 0.5em;
  width: 100%;
}
#socialshare2 .flexWrapper > div:nth-last-child(1),
#socialshare2 .flexWrapper > div:nth-last-child(2) {
  width: 50%;
}
#socialshare2 .flexWrapper .forrepost .icon {
  padding-left: 0.5em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
  cursor: pointer;
  border-radius: 40%;
}
#socialshare2 iframe {
  outline: none;
  border: 0;
  width: 100%!important;
}
#socialshare2 .footer {
  text-align: center;
  padding: 0.5em 2em;
}
#socialshare2 .footer span {
  font-size: 0.8em;
}
#socialshare2 .wrk {
  padding: 0 1em;
}
#socialshare2 .tbl > div {
  vertical-align: middle;
}
#socialshare2 .sharebuttons {
  max-width: 520px;
}
#socialshare2 .embeddingWrapperCnt {
  padding-bottom: 1em;
  padding-top: 1em;
  /*.preview{
			display: none;
		}*/
}
#socialshare2 .embeddingWrapperCnt .buttons {
  text-align: center;
}
#socialshare2 .caption {
  font-size: 1.7em;
  font-weight: 500;
}
#socialshare2 .subcaption {
  padding: 1em 0;
  text-align: center;
}
#socialshare2 .subcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#socialshare2 .embeddingSettings {
  padding: 0.5em 0;
}
#socialshare2 .preview {
  position: relative;
}
#socialshare2 .preview .spacer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#socialshare2 .previewWrapper {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid rgb(var(--neutral-grad-0));
  margin-top: 0.5em;
}
#socialshare2 .embedding {
  padding: 1em 0;
  display: none;
}
#socialshare2 .embedding .code {
  background: rgb(var(--background-secondary-theme));
  width: 100%;
  border: 0;
  outline: o;
  height: auto;
  font-size: 0.9em;
  padding: 1em;
  word-break: break-all;
  opacity: 0.8;
}
#socialshare2 .showedcode .embedding {
  display: block;
}
#socialshare2.smallcaption .caption {
  font-size: 1.5em;
  font-weight: 500;
}
#socialshare2 .hidemore {
  display: none;
}
#socialshare2 .socialshareaction {
  cursor: pointer;
}
#socialshare2 .socialsharebtn {
  width: 38px;
  height: 38px;
  background: transparent;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  padding: 0;
  border: 0;
  font-size: 0.8em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: #0a0c17;
}
#socialshare2 .socialsharebtn img {
  width: 18px;
}
#socialshare2 .socialsharebtn:hover {
  opacity: 0.8;
}
#socialshare2 .sharebuttonsTable {
  width: auto;
  display: block;
}
#socialshare2 .sharebuttonsTable .gcaption {
  border-bottom: 1px solid #b2abac;
  text-align: center;
}
#socialshare2 .sharebuttonsTable .gcaption span {
  font-size: 0.8em;
}
#socialshare2 .sharebuttonsTable .gcontent {
  overflow: hidden;
  padding: 0.5em 0;
  padding-bottom: 0;
}
#socialshare2 .sharebuttonsTable .socialWrapper {
  width: 20%;
  float: left;
  padding: 0.5em 0;
}
#socialshare2 .sharebuttonsTable .buttonWrapper {
  text-align: center;
}
#socialshare2 .sharebuttonsTable .labelWrapper {
  text-align: center;
}
#socialshare2 .sharebuttonsTable .labelWrapper span {
  font-size: 0.8em;
  font-weight: 500;
}
#socialshare2 .backwrapper,
#socialshare2 .embeddingWrapperCnt,
#socialshare2 .sharewrapper {
  display: none;
}
#socialshare2 .backwrapper {
  padding: 1em;
  position: sticky;
  top: 0;
  background: rgb(var(--background-total-theme));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#socialshare2 .backwrapper:hover {
  opacity: 0.5;
}
#socialshare2 .backwrapper span {
  font-size: 0.9em;
}
#socialshare2 .backwrapper i {
  font-size: 0.9em;
  width: 22px;
}
#socialshare2[show='share'] .sharewrapper {
  display: block;
}
#socialshare2[show='embeding'] .embeddingWrapperCnt {
  display: block;
}
#socialshare2[show] .backwrapper {
  display: block;
}
#socialshare2[show] .directWrapper {
  display: none;
}
.wnd.sharingwindow2 .wndinner {
  width: auto;
  max-width: 370px;
}
.wnd.sharingwindow2 .wndinner .wndheader {
  display: none;
}
.wnd.sharingwindow2 .wndinner .wndcontent {
  top: 0;
  bottom: 0;
  max-height: 642px;
  padding: 0;
}
.wnd.sharingwindow2 .wndinner > div.buttons {
  display: none;
}
