<div class="arttags">
    <% if(!tags.length) {%>

        <div>
            <button class="button medium ghost nopadding ">Категории и тэги <i class="fas fa-plus"></i></button>
        </div>
        
    <% } else { 
        
        var bycategories = app.platform.sdk.categories.fromTags(tags, language)
        
        %>

        <div class="tags canmark hideOnFullVideo unselectablemobile">

            <div class="editicon">
                <i class="fas fa-pencil-alt"></i>
            </div>

            <% _.each(bycategories.categories, function(category){ %>

                <div class="category">
                    <span>@<%-category.name%></span><% if(category.new) {%>&nbsp;<span class="newlabel">New!</span><% } %> 
                </div>

            <% }) %>

            <% _.each(bycategories.tags, function(tag){ 
                
                var additional = app.platform.sdk.tags.findadditional(tag)
                
                %>

                <div class="tag">
                    <span>#<%-tag%></span><% if(additional && additional.new) {%>&nbsp;<span class="newlabel">New!</span><% } %>
                </div>

            <% }) %>

           
        </div>
            

    <% } %>
</div>