#electronnav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
}
#electronnav > div {
  display: flex;
  flex-direction: column;
}
#electronnav > div.top {
  justify-content: flex-start;
}
#electronnav > div.medium {
  justify-content: center;
}
#electronnav > div.bottom {
  justify-content: flex-end;
}
#electronnav .item {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  color: rgba(4, 23, 38, 0.75);
  cursor: pointer;
}
#electronnav .item i {
  font-size: 0.8em;
}
#electronnav .item:hover {
  color: #041726;
}
