.wndnewcollection.wnd .wndcontent {
  padding-top: 0;
}
.wndnewcollection.wnd .wndinner {
  max-width: 540px;
  max-height: 90vh;
}
.wndnewcollection.wnd #newcollection .container {
  border-radius: 12px;
  background: initial;
  padding: 0.5em;
  margin-bottom: 1em;
}
.wndnewcollection.wnd #newcollection .content {
  margin-top: 1em;
}
