<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pip" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PictureInPicture</name>
    <js-module name="PictureInPicture" src="www/PictureInPicture.js">
        <clobbers target="PictureInPicture" />
    </js-module>
    <platform name="android">
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PictureInPicture">
                <param name="android-package" value="cordova.plugin.pip.PictureInPicture" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PictureInPicture.java" target-dir="src/cordova/plugin/pip" />
    </platform>
</plugin>