<div class="resultsTable">
  <div class="tableRow tableHeader">
    <div class="tableCell nameCell">
      <div><%- e('videoServerName') %></div>
    </div>
    <div class="tableCell reachableCell">
      <div><%- e('videoServerReachable') %></div>
    </div>
    <div class="tableCell videosCell">
      <div><%- e('videoServerVideo') %></div>
    </div>
  </div>
  <% Object.keys(serversObject)
    .sort((a,b) => serversWithErrors.indexOf(b) - serversWithErrors.indexOf(a))
    .map(server => { 
      const info = serversObject[server] || {}; 
  %>
  <div class="tableRow">
    <div class="tableCell nameCell">
      <% if (serversWithErrors.includes(server)) { %>
        <div class="failedServerName">
          <i class="fas fa-times fosIcon"></i><%- server %>
        </div>
      <% } else { %>
        <div class="goodServerName">
          <i class="fas fa-check fosIcon"></i><%- server %>
        </div>
      <% }%>
    </div>
    <div class="tableCell reachableCell">
      <div>
        <%- info.reachability.reachable ? 'Success' : info.reachability.error %>
      </div>
    </div>
    <div class="tableCell videosCell">
      <% if (info.videos) { %>
      <div><%- info.videos.gotVideos ? 'Success' : info.videos.error %></div>
      <% } else { %>
      <div>–</div>
      <% } %>
    </div>
  </div>
  <% }) %>
</div>
