<div id="<%-module.map.id%>"> 
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1><%= e('MainBoard') %>   
                        <%= e('MainBoard1') %></h1>

                        <img class="main-board__image" src="img/about/gif-img.gif">

            </div>
        </section>

        
        <section class="main-board grey" id="first-description">
            <div class="main-wrapper main-wrapperst2">
                <div class="main-board__left-block_2">
                    
                    
                    <div>
                        <%= e('MainBoard2') %>
                    </div>
                    <div><%= e('MainBoard3') %> </div>
                    <div><%= e('MainBoard4') %> </div>
                    <div><%= e('MainBoard5') %></div>
                    <div><%= e('MainBoard55') %></div>
                    
                </div>

                <div class="downloads">
                    <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US" class="main-board__button-link">
                        <i class="fab fa-android"></i>
                        <div>
                            <div><%= e('MainBoard6') %></div>
                            <div class="main-board__button-link_bold"><%= e('MainBoard7') %></div>
                        </div>
                    </a>
                     <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21" class="main-board__button-link">
                        <i class="fas fa-desktop"></i>
                        <div>
                            <div><%= e('MainBoard8') %></div>
                            <div class="main-board__button-link_bold">Windows</div>
                        </div>
                     </a>
                </div>
            </div>
        </section>

        <section class="works theme_<%- theme %>" id="works-link">
            <div class="main-wrapper">
                <h2><span><%= e('works') %></span></h2>
                <div>
                    <div class="works__container">
                        <!-- <h3>We Believe in Freedom</h3> -->
                        <div class="text">
                            <p>
                            <%= e('works1') %></p>

                            <p><%= e('works2') %></p>

                            <p><%= e('works3') %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="darkbg" id="works-link">
            <div class="main-wrapper">
                
                
                    <div class="dark__container">

                        <img class="image" src="img/about/pexels-amine-msiouri-2246258.resized.jpg">
                        
                        <div class="text">
                            <h2><%= e('works4') %></h2>
                            <div>
                                <i class="fas fa-check"></i>
                                <p>                    
                                    <%= e('works5') %>
                                </p> 
                            </div>
                            <div>
                                <i class="fas fa-check"></i>
                                <p>
                                    <%= e('works6') %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-check"></i>
                                <p><%= e('works7') %> </p>
                            </div>
                        </div>                       
                        
                    </div>
            </div>
        </section>


        <section class="services" id="services-link">
            <div class="main-wrapper">
                <h2><span><%= e('aboutServices') %></span></h2>
                <div class="services__block-item">
                    <div class="services__item">
                        <div class="box-icon">
                            <img src=" img/about/NOCENSORSHIP1.png" alt="">                            
                        </div>
                        <h3><%= e('aboutServices1') %></h2>
                        <p>
                            <%= e('aboutServices2') %> <b><%= e('aboutServices3') %> </b> 
                        </p>                        
                    </div>

                    <div class="services__item">
                        <div class="box-icon">
                            <img src=" img/about/NOCENSORSHIP2.png" alt="">
                        </div>
                        <h3><%= e('aboutServices4') %></h2>
                        <p>
                            <%= e('aboutServices5') %> <b><%= e('aboutServices6') %>  </b> 
                        </p>
                    </div>

                    <div class="services__item">
                        <div class="box-icon">
                            <img src=" img/about/NOCENSORSHIP3.png" alt="">
                        </div>
                        <h3><%= e('aboutServices7') %></h2>
                        <p>
                            <%= e('aboutServices8') %> <b><%= e('aboutServices9') %></b> <!-- <%= e('aboutServices10') %> -->
                        </p>
                        
                    </div>

                    <div class="services__item">
                        <div class="box-icon">
                            <img src="img/about/NOCENSORSHIP4.png" alt="">
                        </div>
                        <h3><%= e('aboutServices11') %></h2>
                        <p>
                            <b><!-- <%= e('aboutServices12') %> --></b> <%= e('aboutServices13') %> 
                        </p>
                    </div>

                    <div class="services__item">
                        <div class="box-icon">
                            <img src="img/about/NOCENSORSHIP5.png" alt="">
                        </div>
                        <h3><%= e('aboutServices14') %> </h2>
                        <p>
                           <%= e('aboutServices15') %> <b><%= e('aboutServices16') %></b>   <%= e('aboutServices17') %>
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>

                    <div class="services__item">
                        <div class="box-icon">
                            <img src=" img/about/NOCENSORSHIP6.png" alt="">
                            <!-- <i class="fas fa-heart"></i> -->
                        </div>
                        <h3><%= e('aboutServices18') %></h2>
                        <p>
                            <%= e('aboutServices19') %> <b><%= e('aboutServices20') %></b>  <%= e('aboutServices21') %>
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="new-block">
            <div class="main-wrapper">
                <h2><%= e('aboutNewBlock') %></h2>
                <div>
                    <div>
                        <h3><%= e('aboutNewBlock1') %></h3>
                        <p><%= e('aboutNewBlock2') %></p>
                    </div>
                    <!--<div>
                        <h3><%= e('aboutNewBlock3') %></h3>
                        <p><%= e('aboutNewBlock4') %></p>
                    </div>-->
                    <div>
                        <h3><%= e('aboutNewBlock5') %></h3>
                        <p><%= e('aboutNewBlock6') %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

       
      

        <section class="videos">
            <h3>Shorts by Bastyon Users</h3>
            <div class="main-wrapper">
                <div class="video1">
                    <iframe width="320" height="180" src="https://bastyon.com/embedVideo.php?embed=true&host=pocketnetpeertube6.nohost.me&id=16784175-275a-4c11-aad5-6a45cc479217" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="video1">
                    <iframe width="320" height="180" src="https://bastyon.com/embedVideo.php?embed=true&host=pocketnetpeertube5.nohost.me&id=c9232428-2e52-4b82-b3b1-57a775d059ca" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <div class="video1">
                    <iframe width="320" height="180" src="https://bastyon.com/embedVideo.php?embed=true&host=pocketnetpeertube1.nohost.me&id=72e6bdcd-5aa7-424f-aa09-24eba4a322d4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                
            </div>
            
        </section>


    
       
    </main>
</div>