<div class="ucaptcha">
    <div class="subcaption">Please enter the words in the picture to receive Pocketcoin</div>



    <div class="captchaImageWrapper">
        <div class="captchaImage">
            <%=captcha.img%>
        </div>
    </div>
    <div class="inputWrapper">
        <input type="text" class="ucaptchainput" placeholder="Enter words">
    </div>

    <div class="addContainer">
        <button class="addCaptcha disabled">Next</button>
    </div>

    <div class="redoContainer">
        <button class="redo ghost">Refresh</button>
    </div>
</div>