<div class="moneyfail">
    <div class="subcaption">
        <%=e('e13114')%> <%=e('e13115')%> <b><a elementsid="mailto:support@<%- app.meta.url %>" href="mailto:support@<%- app.meta.url %>">support@<%- app.meta.url %></a></b> <%=e('e13116')%>
    </div>

    <div class="addressWrapper">
        <span><%-user.address.value.toString('hex')%></span>
    </div>

    <div class="balanceWrapper">
        <span class="balance"></span>
    </div>

    <div class="subc">
        <button elementsid="filluser_check" class="check"><%=e('e13117')%></button>
    </div>

    <div class="subc">
        <button class="tryagain ghost">Try again</button>
    </div>
</div>