#anothersite .caption {
  font-size: 1.4em;
  margin-top: 3em;
  width: 60%;
}
#anothersite .disc {
  font-size: 0.9em;
  color: rgb(var(--neutral-grad-3));
}
#anothersite .linkWrapper {
  word-wrap: break-word;
  padding: 2em 0;
}
#anothersite a {
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
.wnd.anothersite .wndcontent {
  overflow-y: auto;
}
.wnd.anothersite .wndinner {
  max-width: 450px;
  max-height: 500px;
}
/*t*/
@media only screen and (max-width: 768px) {
  #anothersite {
    padding: 0 1em;
  }
  #anothersite .caption {
    font-size: 1.2em;
    margin-bottom: 2em;
    width: 90%;
  }
  #anothersite .disc {
    margin-top: 4em;
  }
}
