#channel .emptychannel {
  text-align: center;
}
#channel .channel {
  background: rgb(var(--background-total-theme));
  padding: 0 0.5em;
}
#channel .channel .userinfo {
  padding: 0.5em 0;
  display: flex;
}
#channel .channel .userinfo .name {
  font-size: 1.75em;
  font-weight: 700;
  padding-bottom: 0.5em;
}
#channel .channel .userinfo .adr {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  display: inline-block;
}
#channel .channel .userinfo .nameinfo {
  padding-left: 1em;
  flex-grow: 2;
}
#channel .channel .userinfo .openprofilebuttonwrapper {
  padding-bottom: 1em;
}
#channel .channel .userinfo .openprofilebutton {
  min-width: 200px;
}
#channel .channel .userinfo .additional {
  margin-top: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid rgb(var(--neutral-grad-0));
}
#channel .channel .panel {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
#channel .channel .panel .usermenuitem {
  padding: 0.5em 0;
  cursor: pointer;
  white-space: nowrap;
}
#channel .channel .panel > div i {
  text-align: center;
  width: 30px;
  font-size: 0.8em;
}
#channel .channel .usericon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
#channel .channel .usericon.letter {
  font-size: 1.5em;
}
#channel .channel .action {
  padding: 1em;
  text-align: center;
}
.wnd #channel {
  padding-bottom: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
