

<div id="<%-module.map.id%>">
	<div class="channel">

		<% if(author) { %>

		<% 
			var name = app.platform.api.name(author.address) 
			var letter = name ? name[0] : '';
		%>

		<div class="work">
			<div class="userinfo">
				<div class="icon">

					<% var src = deep(author, 'data.image')  %>

					<div class="usericon" image="<%-src || '*'%>">

						<% if(!src && letter) {%>

							<span class="letter">
								<%-letter.toUpperCase()%>
							</span>

						<% } else if (!src) { %>

							<i class="far fa-user"></i>

						<% } %>

					</div>
				</div>

				<div class="name">
					<span class="adr"><%-name || author.address%></span>
				</div>
			</div>

			<% if(typeof reports != 'undefined') {%>
				<div class="panel">
					<% _.each(reports, function(report){ %> 
					
					
						<div class="usermenuitem" menuitem="<%-report.id%>">
						
					
							<% if(report.href) {
								
								var h = report.href; if(typeof h == 'function') h = h() %>
							<% } %>
					
								<%=report.icon%> 
								<span class="name"><%-report.name%></span>
								<span class="count">
									<% if(report.count && report.count() > 0) {%>
										<%-report.count()%>
									<% } %>
								</span>
					
							<% if(report.href) {%>
							<% } %>
					
						</div>
						
					<% }) %>
				</div>
			<% } %>
		
		</div>

		<% } else { %> 
		
			<div class="emptychannel">
				<%= e('zeron') %>
			</div>
			
		<% } %>
	</div>
</div>