<div id="<%-module.map.id%>">
	<div class="layout">

		<div class="imagepart">
			<div class="img" image="img/bgwelcome3.jpg"></div>
		</div>

		<div class="contentpart">

			<div class="wrp">

				<div class="subcaption">
					<%=e('bastyonhelperTitle1')%>
				</div>

				<div class="logowrapper">
					<img src="img/logo20.svg">
				</div>

				<div class="caption">
					<%=e('bastyonhelperTitle2')%>
				</div>

				<div class="features">
					<div class="feature"><%=e('bastyonhelperSubtitle1')%> <b>Bastyon</b></div>
					<div class="feature"><%=e('bastyonhelperSubtitle2')%></div>
				</div>

				<div class="invitation">

				</div>

				<div class="signinpart">
					<div elementsid="bastyonlink" class="link"  id="bastyonlink">
						<a elementsid="https://bastyon.com/<%-href%>" href="https://bastyon.com/<%-href%>">
							<button class="button orange rounded sin">
								bastyon.com
							</button>
						</a>
					</div>
				</div>
			</div>
			
		</div>

	</div>

	<iframe 
		id="iframe" 
		src="https://bastyon.com/bastyon-helper.html"
		class="iframe"
	>
	</iframe>

</div>