#leftpanel > div .wrp {
  padding-bottom: 10px;
}
#leftpanel .closecategoriesContainer {
  text-align: right;
  font-size: 0.8em;
}
#leftpanel .closecategoriesContainer button {
  padding-right: 1em;
  text-decoration: none;
}
#leftpanel .sections {
  background: rgba(240, 240, 240, 0.3);
}
#leftpanel .sections > div {
  padding: 0.5em 0;
  width: 50%;
  vertical-align: middle;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
#leftpanel .sections > div span {
  font-size: 0.8em;
}
#leftpanel .sections > div:hover,
#leftpanel .sections > div.active {
  background: #00a4ff;
  color: #fff;
}
#leftpanel .tcaption {
  color: #8E90A6;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
#leftpanel .currentsearch {
  color: #b2abac;
}
#leftpanel .currentsearch .tcaption {
  padding: 1em;
  padding-top: 1em;
  padding-left: 0;
  margin-bottom: 0.5em;
}
#leftpanel .currentsearch .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .currentsearch .searchcnt span {
  font-size: 0.8em;
  color: #ff4800;
}
#leftpanel .currentsearch .goback {
  padding: 1em 0;
}
#leftpanel .subtop {
  color: #b2abac;
}
#leftpanel .subtop .tcaption {
  padding: 1em;
  padding-top: 1em;
  padding-left: 0;
  margin-bottom: 0.5em;
}
#leftpanel .subtop .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .subtop .searchcnt span {
  font-size: 0.8em;
  color: #ff4800;
}
#leftpanel .subtop .topnavigation {
  padding: 1em 0;
}
#leftpanel .subtop .topnavigation button {
  width: 110px;
}
#leftpanel .subtop .toplabel {
  padding-top: 1em;
}
#leftpanel .subtop .toplabel .topactualback a {
  font-size: 0.8em;
  text-decoration: underline;
}
#leftpanel .subtop .vc_inputWrapper {
  width: 130px;
}
#leftpanel .subtop .vc_iconWrapper {
  width: auto;
}
#leftpanel .subtop .vc_iconWrapper .vc_iconSpinWrapper {
  width: 22px;
}
#leftpanel .vc_valuecustom {
  font-size: 1.5em;
  font-weight: 100;
  cursor: pointer;
  background: transparent;
  width: auto;
  height: auto;
}
#leftpanel .vc_valuecustom .vc_inputWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_iconWrapper {
  font-size: 0.6em;
}
#leftpanel .vc_valuecustom .vc_selectInput,
#leftpanel .vc_valuecustom .vc_iconWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_selectInput {
  background: #011621;
  max-height: 500px;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value {
  padding-left: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8em;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value:hover {
  color: #00a4ff;
  background: transparent;
}
#leftpanel .vc_valuecustom input[disabled] {
  cursor: pointer;
  color: #00a4ff;
}
#leftpanel .vc_valuecustom input {
  padding-left: 0;
}
/*t*/
@media only screen and (max-width: 768px) {
  #leftpanel {
    padding-left: 1em;
  }
  #leftpanel > div {
    font-size: 1.3em;
  }
  #leftpanel .subtop .topnavigation button {
    width: 135px;
  }
  #leftpanel .vc_valuecustom .vc_selectInput {
    background: transparent;
  }
}
