#leftpanel {
  padding-right: 16px;
  color: rgb(var(--text-on-main-bg-color));
}
#leftpanel > div .wrp {
  padding-bottom: 10px;
}
#leftpanel .menu .menupanel .tabs .tab {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel {
  position: relative;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel.active {
  color: rgb(var(--color-txt-ac));
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel.active:after {
  position: absolute;
  content: '';
  left: -1em;
  top: 0;
  bottom: 0;
  width: 3px;
  background: rgb(var(--color-bg-ac));
  border-radius: 3px;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel .text {
  font-size: 0.9em;
  font-weight: 500;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel i {
  width: 30px;
  text-align: center;
}
#leftpanel .closecategoriesContainer {
  text-align: right;
  font-size: 1em;
}
#leftpanel .closecategoriesContainer button {
  padding: 0;
  text-decoration: none;
}
#leftpanel .best {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  border-top: 1px solid rgb(var(--background-secondary-theme));
  border-bottom: 1px solid rgb(var(--background-secondary-theme));
  margin-top: 1em;
}
#leftpanel .best.on .fire {
  color: #F41A4D;
}
#leftpanel .best.on .toggle {
  color: #076C34;
}
#leftpanel .best.on .toggle i {
  transform: none;
}
#leftpanel .best .bestLabel {
  display: flex;
  align-items: center;
}
#leftpanel .best .toggle {
  font-size: 1.3em;
}
#leftpanel .best .fire i {
  text-align: center;
  width: 30px;
}
#leftpanel .best .toggle {
  margin-right: 0.25em;
  cursor: pointer;
}
#leftpanel .best .toggle i {
  transform: scaleX(-1);
}
#leftpanel .tcaption {
  color: rgb(var(--neutral-grad-3));
  font-size: 1.2em;
  font-weight: 600;
}
#leftpanel .currentsearch {
  color: rgb(var(--neutral-grad-4));
}
#leftpanel .currentsearch .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .currentsearch .searchcnt span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-orange));
}
#leftpanel .currentsearch .goback {
  padding: 1em 0;
}
#leftpanel .subtop .sub {
  padding: 1em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid rgb(var(--background-secondary-theme));
  border-bottom: 1px solid rgb(var(--background-secondary-theme));
}
#leftpanel .subtop .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .subtop .searchcnt span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-orange));
}
#leftpanel .subtop .topnavigation button {
  width: 100%;
  white-space: nowrap;
}
#leftpanel .subtop .toplabel .topactualback {
  text-align: center;
}
#leftpanel .subtop .toplabel .topactualback a {
  padding: 0.5em;
  font-size: 0.8em;
  text-decoration: underline;
}
#leftpanel .subtop .vc_inputWrapper {
  width: 130px;
}
#leftpanel .subtop .vc_iconWrapper {
  width: auto;
}
#leftpanel .subtop .vc_iconWrapper .vc_iconSpinWrapper {
  width: 22px;
}
#leftpanel .rightbottomnav a,
#leftpanel .rightbottomnav span {
  font-size: 0.8em;
}
#leftpanel .rightbottomnav a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#leftpanel .rightbottomnav a:hover {
  color: rgb(var(--color-txt-ac));
}
#leftpanel .rightbottomnav .rightbottomlinks {
  padding-top: 0.5em;
}
#leftpanel .rightbottomnav .copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}
#leftpanel .rightbottomnav .copyright .copy_logo {
  width: 14px;
  height: 14px;
}
#leftpanel .rightbottomnav .copyright img {
  opacity: 0.5;
}
#leftpanel .rightbottomnav .copyright .copyright_text {
  margin-left: 0.5em;
}
#leftpanel .vc_valuecustom {
  font-size: 1.5em;
  font-weight: 100;
  cursor: pointer;
  background: transparent;
  width: auto;
  height: auto;
}
#leftpanel .vc_valuecustom .vc_inputWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_iconWrapper {
  font-size: 0.6em;
}
#leftpanel .vc_valuecustom .vc_selectInput,
#leftpanel .vc_valuecustom .vc_iconWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_selectInput {
  background: rgb(var(--background-main));
  max-height: 500px;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value {
  padding-left: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8em;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value:hover {
  color: rgb(var(--color-txt-ac));
  background: transparent;
}
#leftpanel .vc_valuecustom input[disabled] {
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
}
#leftpanel .vc_valuecustom input {
  padding-left: 0;
}
/*t*/
@media only screen and (max-width: 768px) {
  #leftpanel {
    padding-left: 1em;
    padding-bottom: 3em;
  }
  #leftpanel > div {
    font-size: 1em;
  }
  #leftpanel .rightbottomnav {
    margin-bottom: 7em;
  }
  #leftpanel .subtop .topnavigation button {
    width: 135px;
  }
  #leftpanel .vc_valuecustom .vc_selectInput {
    background: transparent;
  }
}
