#leftpanel {
  padding-right: 16px;
}
#leftpanel > div .wrp {
  padding-bottom: 10px;
}
#leftpanel .menu {
  margin-top: 1em;
}
#leftpanel .menu .menupanel .tabs .tab {
  position: relative;
  right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel {
  padding-left: 13px;
  border-left: 3px solid transparent;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel.active {
  border-left: 3px solid #00A4FF;
  color: #00A4FF;
}
#leftpanel .menu .menupanel .tabs .tab .pcenterLabel .text {
  padding-left: 0.5em;
}
#leftpanel .closecategoriesContainer {
  text-align: right;
  font-size: 1em;
}
#leftpanel .closecategoriesContainer button {
  padding: 0;
  text-decoration: none;
}
#leftpanel .best {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  border-top: 1px solid #E3E4EB;
  border-bottom: 1px solid #E3E4EB;
  margin-top: 1em;
}
#leftpanel .best.on .fire {
  color: #F41A4D;
}
#leftpanel .best.on .toggle {
  color: #076C34;
}
#leftpanel .best.on .toggle i {
  transform: none;
}
#leftpanel .best .bestLabel {
  display: flex;
  align-items: center;
}
#leftpanel .best .fire,
#leftpanel .best .toggle {
  font-size: 1.5em;
}
#leftpanel .best .text {
  margin-left: 0.5em;
}
#leftpanel .best .toggle {
  margin-left: 0.5em;
  cursor: pointer;
}
#leftpanel .best .toggle i {
  transform: scaleX(-1);
}
#leftpanel .sections {
  background: rgba(240, 240, 240, 0.3);
}
#leftpanel .sections > div {
  padding: 0.5em 0;
  width: 50%;
  vertical-align: middle;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
#leftpanel .sections > div span {
  font-size: 0.8em;
}
#leftpanel .sections > div:hover,
#leftpanel .sections > div.active {
  background: #00a4ff;
  color: #fff;
}
#leftpanel .tcaption {
  color: #8E90A6;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
#leftpanel .currentsearch {
  color: #b2abac;
}
#leftpanel .currentsearch .tcaption {
  padding: 1em;
  padding-top: 1em;
  padding-left: 0;
  margin-bottom: 0.5em;
}
#leftpanel .currentsearch .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .currentsearch .searchcnt span {
  font-size: 0.8em;
  color: #ff4800;
}
#leftpanel .currentsearch .goback {
  padding: 1em 0;
}
#leftpanel .subtop {
  color: #b2abac;
}
#leftpanel .subtop .tcaption {
  padding: 1em;
  padding-top: 1em;
  padding-left: 0;
  margin-bottom: 0.5em;
}
#leftpanel .subtop .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#leftpanel .subtop .searchcnt span {
  font-size: 0.8em;
  color: #ff4800;
}
#leftpanel .subtop .topnavigation {
  padding: 1em 0;
}
#leftpanel .subtop .topnavigation button {
  width: 110px;
}
#leftpanel .subtop .toplabel {
  padding-top: 1em;
}
#leftpanel .subtop .toplabel .topactualback a {
  font-size: 0.8em;
  text-decoration: underline;
}
#leftpanel .subtop .vc_inputWrapper {
  width: 130px;
}
#leftpanel .subtop .vc_iconWrapper {
  width: auto;
}
#leftpanel .subtop .vc_iconWrapper .vc_iconSpinWrapper {
  width: 22px;
}
#leftpanel .rightbottomnav a,
#leftpanel .rightbottomnav span {
  font-size: 0.8em;
}
#leftpanel .rightbottomnav a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#leftpanel .rightbottomnav a:hover {
  color: #00a4ff;
}
#leftpanel .rightbottomnav .rightbottomlinks {
  padding-top: 0.5em;
}
#leftpanel .rightbottomnav .copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}
#leftpanel .rightbottomnav .copyright .copy_logo {
  width: 14px;
  height: 14px;
}
#leftpanel .rightbottomnav .copyright img {
  opacity: 0.5;
}
#leftpanel .rightbottomnav .copyright .copyright_text {
  margin-left: 0.5em;
}
#leftpanel .vc_valuecustom {
  font-size: 1.5em;
  font-weight: 100;
  cursor: pointer;
  background: transparent;
  width: auto;
  height: auto;
}
#leftpanel .vc_valuecustom .vc_inputWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_iconWrapper {
  font-size: 0.6em;
}
#leftpanel .vc_valuecustom .vc_selectInput,
#leftpanel .vc_valuecustom .vc_iconWrapper {
  border: 0;
}
#leftpanel .vc_valuecustom .vc_selectInput {
  background: #011621;
  max-height: 500px;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value {
  padding-left: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8em;
}
#leftpanel .vc_valuecustom .vc_selectInput .vc_value:hover {
  color: #00a4ff;
  background: transparent;
}
#leftpanel .vc_valuecustom input[disabled] {
  cursor: pointer;
  color: #00a4ff;
}
#leftpanel .vc_valuecustom input {
  padding-left: 0;
}
/*t*/
@media only screen and (max-width: 768px) {
  #leftpanel {
    padding-left: 1em;
    padding-bottom: 3em;
  }
  #leftpanel > div {
    font-size: 1em;
  }
  #leftpanel .rightbottomnav {
    margin-bottom: 7em;
  }
  #leftpanel .subtop .topnavigation button {
    width: 135px;
  }
  #leftpanel .vc_valuecustom .vc_selectInput {
    background: transparent;
  }
}
html.stblack #leftpanel .best {
  border-top: 1px solid rgba(227, 228, 235, 0.1);
  border-bottom: 1px solid rgba(227, 228, 235, 0.1);
}
