<div id="<%-module.map.id%>">
  <header><h1>Test API Calls</h1></header>
  <main>
    <section class="queryStringSection">
      <header><h2>Link</h2></header>
      <main>
        <input placeholder="Link" id="testQueryInput" class="testQueryInput" />
      </main>
    </section>
    <section class="headersSection">
      <header><h2>Headers</h2></header>
      <main class="headerswrapper">
        <div class="headersContainer"></div>
        <button class="addTestHeader">
          <i class="fas fa-plus"></i>Add header
        </button>
      </main>
    </section>
	<section>
		<button class="sendRequest"><i class="fas fa-paper-plane"></i>Send</button>
	</section>
    <section class="responseSection">
      <header><h2>Response</h2></header>
      <main class="responseOutput"></main>
    </section>
  </main>
</div>
