#actions .caption {
  margin-top: 1em;
  margin-bottom: 1em;
}
#actions .caption span {
  font-size: 2em;
  font-weight: 100;
}
#actions .subcaption {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
#actions .subcaption span {
  font-size: 0.9em;
  font-weight: 700;
}
#actions .subcaption i {
  opacity: 0.6;
  font-size: 0.8em;
}
#actions .account {
  border-top: 0.5em solid rgba(var(--neutral-grad-1), 0.2);
  margin-bottom: 1.5em;
}
#actions .state .actions .action {
  margin-top: 0.5em;
  border-radius: 0.5em;
  border: 1px solid rgba(var(--neutral-grad-1), 0.2);
  background: rgba(var(--neutral-grad-0), 0.3);
  padding: 0.5em;
  width: 80%;
  max-width: 480px;
}
#actions .state .actions .inputsOutputs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#actions .state .actions .inputsOutputs .inputs {
  margin-bottom: 0.5em;
}
#actions .state .actions .inputs,
#actions .state .actions .outputs {
  font-size: 0.8em;
}
#actions .state .actions .type span {
  font-size: 0.8em;
  font-weight: 700;
}
#actions .state .actions .transaction span {
  font-size: 0.8em;
  text-decoration: underline;
}
#actions .state .actions .actionStatusRow {
  display: flex;
}
#actions .state .actions .actionStatusRow > div {
  margin-right: 0.5em;
}
#actions .state .actions .actionStatusRow > div i {
  opacity: 0.6;
  font-size: 0.8em;
  color: rgb(var(--color-good));
}
#actions .state .actions .actionStatusRow > div span {
  font-size: 0.9em;
}
#actions .state .actions .actionStatusRow .rejected {
  color: rgb(var(--color-bad));
}
#actions .state .actions .actionStatusRow .completed {
  color: rgb(var(--color-good));
}
#actions .state .statusRow {
  display: flex;
}
#actions .state .statusRow > div {
  margin-right: 0.5em;
}
#actions .state .statusRow > div i {
  opacity: 0.6;
  font-size: 0.8em;
  color: rgb(var(--color-good));
}
#actions .state .statusRow > div span {
  font-weight: 700;
  font-size: 0.9em;
}
#actions .state .balance {
  display: flex;
}
#actions .state .balance > div {
  margin-right: 0.5em;
}
#actions .state .balance > div i {
  opacity: 0.6;
  font-size: 0.8em;
}
#actions .state .balance > div span {
  font-size: 0.9em;
}
