<% 

var me = null;

if(user.address.value)
	me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))

	var _class='';
	var address = u.address;
	var src =  deep(app, 'platform.sdk.usersl.storage.'+address + '.image');

	var name = deep(app, 'platform.sdk.usersl.storage.'+address + '.name');
	var letter = name ? name[0] : ''; 
	var r = deep(app, 'platform.sdk.usersl.storage.'+address + '.reputation');
	var message = filterXSS(u.message, {
		stripIgnoreTag : true,
		whiteList: {
			img : []
		}
	})	

%>
	<div class="wrk">

		<div class="post <%-_class%>" address="<%-address%>">
			<div class="addressTable table" address="<%-address%>">
				<div class="iconWrapper">
				
					<a href="<%-app.platform.api.authorlink(address)%>">
						<div class="icon">

							<div class="usericon" image="<%-src || '*'%>">

								<% if(!src && letter) {%>

									<span class="letter">
										<%-letter.toUpperCase()%>
									</span>
			
								<% } else if (!src) { %>
			
									<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
			
								<% } %>
							</div>
						</div>
					</a>
				</div>

				<div class="label">
					<a href="<%-app.platform.api.authorlink(address)%>">

						<div class="top">
							<div class="name">
								<%- name %>							
							</div>		

							<% if (r) {%>
								<div class="reputation">
									<%- Number(r).toFixed(0)  %>
								</div>
							<% } %>

						</div>


					</a>			

				</div>

			</div>

			<div class="postContentWrapper">

				<% if(u.images && u.images.length){%>
					<div class="imagesWrapper w2">
						<div class="image imageOpen imagePostOpen active" data-image="<%-u.images[0] %>" i="<%-u.images[0] %>" image="*" ></div>
					</div>
			
				<% } %>
	
	
				
				<% if(u.caption){%>
	
					<div class="postcontent">
						<div class="cap">
							<b>
								<%- u.caption %>							
							</b>
						</div>		
					</div>
				<% } %>
	
				<% if(message){%>
	
					<div class="postcontent">
						<div class="message">
							<%= message %>							
						</div>		
					</div>
				<% } %>
	
				<div class="infoWrapper">
					<div class="dateWrapper">
						<div class="date">
							<%-app.reltime(Number(u.time))%>
						</div>
					</div>
	
					<div class="actionsWrapper">
						<div class="scoreSum">
							<i class="far fa-star"></i>
							<span>
								<%- (u.score / u.scnt).toFixed(1) %>							
							</span>
						</div>
						<div class="scoreCnt">
							<i class="far fa-user"></i>
							<span>
								<%- u.scnt %>							
							</span>
						</div>
						<div class="comments">
							<i class="far fa-comment">
							</i>
							<span>
								<%- u.comments %>							
							</span>
						</div>
					</div>
	
				</div>
			</div>

		</div>
	</div>
