#author .rightchatspacer {
  height: 100%;
}
#author .curationWrapper {
  padding: 6em;
  text-align: center;
}
#author .authorlentawrapper {
  padding-top: 0.5em;
}
#author.curation .startchat {
  padding-left: 0.5em;
}
#author .mobileinfo {
  display: none;
}
#author .mobileinfo .item.name {
  display: none;
}
#author .copyaddress {
  cursor: pointer;
  text-overflow: ellipsis;
}
#author .newsharewrapper {
  padding-bottom: 0;
  border-radius: 12px;
  background: rgb(var(--background-total-theme));
  margin-top: 0.5em;
}
#author .authorlentawrappermain {
  position: relative;
}
#author .authorlentawrappermain .authorsearchicon {
  position: absolute;
  left: 100%;
  top: 0;
  padding-top: 0.5em;
}
#author .authorlentawrappermain .authorsearchicon .icon {
  padding: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--neutral-grad-3));
}
#author .authorlentawrappermain .authorsearchicon .icon:hover {
  color: rgb(var(--color-txt-ac));
}
#author .authorlentawrappermain .authorsearchwrapper {
  background: rgb(var(--background-total-theme));
  padding: 0.25em 0.5em;
  padding-right: 0;
  display: none;
  border-right: 3px;
  margin-top: 0.5em;
  border-radius: 12px;
}
#author .authorlentawrappermain .authorsearchwrapper .search .searchPanel {
  background: transparent;
  border: 0;
  display: none;
}
#author .authorlentawrappermain .authorsearchwrapper .search .searchInput .searchInputIcon .sminput {
  padding: 1em;
  padding-left: 1em;
  background: transparent;
  border: 0;
}
#author .authorlentawrappermain.searchactive .authorsearchwrapper {
  display: block;
}
#author .authorlentawrappermain.searchactive .newsharewrapper {
  display: none;
}
#author .authorlentawrappermain.searchactive .authorsearchicon .icon i:before {
  content: '\f00d';
}
#author .postauwrapper .postauarrows {
  background: rgb(var(--background-total-theme));
  padding: 0 3em;
  padding-right: 2.5em;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#author .postauwrapper .postauarrows.topwr {
  border-bottom: 1px solid rgb(var(--color-medium-theme));
  opacity: 1;
}
#author .postauwrapper .postauarrows.active {
  opacity: 1;
}
#author .postauwrapper .arrowstable {
  height: 100%;
}
#author .postauwrapper .arrowstable > div {
  padding: 1.5em 0;
  vertical-align: middle;
}
#author .postauwrapper .arrowaucenter {
  text-align: center;
}
#author .postauwrapper .arrowauwrapper {
  width: 60px;
  text-align: center;
}
#author .postauwrapper .arrowauwrapperback {
  width: 60px;
}
#author .postauwrapper .arrowaucenter {
  width: 120px;
}
#author .postauwrapper .arrowau {
  cursor: pointer;
  height: 100%;
}
#author .postauwrapper .arrowau:hover {
  color: rgb(var(--color-txt-ac));
}
#author .postauwrapper .backtoshares {
  cursor: pointer;
  height: 100%;
  color: rgb(var(--neutral-grad-2));
}
#author .postauwrapper .backtoshares:hover {
  color: rgb(var(--color-txt-ac));
}
#author .postauwrapper .arrowaucenter {
  font-weight: 700;
  font-size: 0.8em;
}
#author .postauwrapper .postcnt #post .share .cntswrk {
  padding-right: 3.5em;
  margin-left: 5em;
}
#author .postauwrapper .postcnt #post .share .iconWrapper {
  width: 5em;
  padding-left: 2em;
}
#author .postauwrapper .postcnt #post #post .cntswrk {
  padding-right: 3.5em;
}
#author .postauwrapper .postcnt #post #post .share .cntswrk {
  margin-left: 4.5em;
}
#author .postauwrapper .postcnt #post #post .share .iconWrapper {
  width: 4.5em;
  padding-left: 2em;
}
#author .postauwrapper .postcnt #comments .caption {
  padding-right: 3.5em;
  padding-left: 2.5em;
}
#author .postauwrapper .postcnt #comments .answer,
#author .postauwrapper .postcnt #comments .post {
  padding-right: 4em;
  padding-left: 1em;
}
#author .postauwrapper .postcnt #comments .list .comment .commentPaddingWrapper {
  padding-right: 4.5em;
  padding-left: 1em;
}
#author .lentacell {
  margin-right: 150px;
  margin-left: 240px;
  min-height: 800px;
}
#author .lentacell .cnt {
  margin: 0 auto;
  max-width: 760px;
}
#author .authorinfo {
  font-size: 0.9em;
  margin-bottom: 3.5em;
}
#author .authorinfo .itemtable > div.icon {
  width: 30px;
  padding-top: 0.5em;
  text-align: center;
  opacity: 0.6;
  font-size: 0.8em;
}
#author .authorinfo .itemtable > div.label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5em;
}
#author .authorinfo .itemtable > div.label a {
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
#author .authorinfo .itemtable > div .showmoreabout {
  margin-top: 1em;
  font-size: 0.8em;
  text-decoration: underline;
  color: rgb(var(--color-txt-ac));
  cursor: pointer;
}
#author .authorinfo .itemtable > div .showmoreabout:hover {
  color: rgb(var(--neutral-grad-2));
}
#author .authorinfo .item {
  margin-bottom: 1em;
}
#author .authorinfo .postcnt {
  cursor: pointer;
}
#author .authorinfo .postcnt .label {
  text-transform: capitalize;
  text-decoration: underline;
}
#author .authorinfo .name {
  font-size: 1.2em;
  font-weight: 500;
}
#author .authorinfo .site {
  text-decoration: underline;
  color: rgb(var(--color-txt-ac));
}
#author .authorinfo .showmoreinabout {
  display: none;
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
}
#author .lentaWrapper .authorinfo {
  padding: 0.5em;
}
#author .leftpanelcell {
  float: left;
  width: 240px;
  padding: 2.5em 0;
  padding-left: 0.5em;
  padding-right: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#author .lentaWrapper {
  min-height: 700px;
}
#author .mainpanelcell {
  float: right;
  width: 350px;
  padding-top: 10px;
}
#author .panel {
  border-radius: 3px;
}
#author .work.mwork {
  padding: 0!important;
  overflow: hidden;
}
#author .work .work {
  width: 100%!important;
}
#author .mworkwrapper {
  background: rgb(var(--background-main));
}
#author .bgCaption {
  background: rgb(var(--color-shadow-var));
  color: rgb(var(--text-on-bg-shadow-color));
  height: 180px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}
#author .bgCaption .adr {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  display: inline-block;
}
#author .bgCaption .changeaccount {
  width: 30px;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  font-size: 0.5em;
  display: none;
}
#author .bgCaption .changeaccount:hover {
  opacity: 1;
}
#author .bgCaption .create {
  min-width: 250px;
}
#author .bgCaption .funf {
  cursor: pointer;
  opacity: 0.4;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#author .bgCaption .funf:hover {
  opacity: 1;
}
#author .bgCaption .blockingWrapper {
  display: none;
}
#author .bgCaption.blocking {
  background: #290318;
}
#author .bgCaption.blocking .subscribebuttonstop {
  display: none;
}
#author .bgCaption.blocking .blockingWrapper {
  display: inline;
}
#author .bgCaption .subscribebuttonstop .unsubscribe {
  display: none;
}
#author .bgCaption .subscribebuttonstop .startchat {
  white-space: nowrap;
}
#author .bgCaption .subscribebuttonstop .fa-comments {
  font-size: 0.35em;
}
#author .bgCaption .subscribebuttonstop .notificationturn {
  display: none;
  cursor: pointer;
}
#author .bgCaption .subscribebuttonstop .notificationturn i {
  width: 38px;
  text-align: center;
  font-size: 0.6em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#author .bgCaption .subscribebuttonstop .notificationturn.turnon i:before {
  content: '\f0f3';
}
#author .bgCaption .subscribebuttonstop.following .startchat {
  display: inline;
}
#author .bgCaption .subscribebuttonstop.following .unsubscribe {
  display: inline;
}
#author .bgCaption .subscribebuttonstop.following .notificationturn {
  display: inline;
}
#author .bgCaption .subscribebuttonstop.following .subscribe {
  display: none;
}
#author .bgCaption .telements {
  overflow: hidden;
}
#author .bgCaption .telements .telement {
  float: left;
  margin-right: 1em;
}
#author .bgCaption .telements .telement.sbscr {
  padding-right: 2em;
}
#author .bgCaption .usermenu {
  overflow: hidden;
}
#author .bgCaption .usermenu .usermenuitem {
  float: left;
  margin-right: 1em;
  font-size: 0.8em;
  font-weight: 500;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#author .bgCaption .usermenu .usermenuitem:hover {
  border-bottom: 2px solid rgb(var(--text-on-bg-shadow-color));
}
#author .bgCaption .usermenu .usermenuitem.active {
  border-bottom: 2px solid rgb(var(--text-on-bg-shadow-color));
}
#author .bgCaption .usermenu .usermenuitem:nth-child(1) {
  padding-left: 0;
}
#author .bgCaption .cellforimage {
  width: 95px;
}
#author .bgCaption .cellforimage .usericon {
  width: 75px;
  height: 75px;
  line-height: 73px;
  font-size: 1.5em;
}
#author .bgCaption .cellforimage .usericon.active {
  cursor: pointer;
}
#author .bgCaption .cellforimage .usericon .plissingCnt {
  left: 45px;
}
#author .bgCaption .infoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
#author .bgCaption .imagiconWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
#author .bgCaption .imagiconWrapper .imagejdenticon {
  position: absolute;
  left: -60px;
  right: 0;
  top: -100px;
  bottom: 0;
  z-index: 0;
  opacity: 0.1;
}
#author .bgCaption .work {
  position: relative;
  overflow: hidden;
}
#author .fxd {
  top: 75px;
  z-index: 10;
}
#author .fxd.dfxd {
  position: fixed;
}
#author .contents {
  background: rgb(var(--background-total-theme));
  padding: 1em 2em;
}
#author .contents .cgroup {
  padding-top: 1em;
  padding-bottom: 1em;
}
#author .contents .ccaption {
  font-weight: 100;
  margin-bottom: 1em;
}
#author .contents .ccaption span {
  font-size: 2em;
}
#author .contents .gcontents .citemtable > div {
  vertical-align: middle;
  overflow: hidden;
  padding: 0.5em 0;
}
#author .contents .gcontents .citemtable > div.cscorecell {
  width: 150px;
  text-align: right;
  padding-right: 1em;
}
#author .contents .gcontents .score,
#author .contents .gcontents .cname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#author .contents .gcontents .cname span {
  font-size: 1.1em;
  font-weight: 100;
}
#author .contents .gcontents .score {
  color: rgb(var(--color-txt-gray));
}
#author .contents .gcontents .citem.selected .cname span {
  font-weight: 700;
}
#author .contents .gcontents .citem.selected .score {
  font-weight: 700;
  color: rgb(var(--color-star-yellow));
}
#author .contents .chidden {
  display: none;
}
#author .contents .captiontable {
  width: auto;
}
#author .contents .captiontable .captionicon {
  width: 30px;
  text-align: center;
  display: none;
}
#author .contents .cgroup.hasmore .captiontable {
  cursor: pointer;
}
#author .contents .cgroup.hasmore .captionicon {
  display: table-cell;
}
#author .contents .cgroup.hasmore.showedmore .captionicon i:before {
  content: '\f078';
}
#author .contents .cgroup.hasmore.showedmore .dots {
  display: none;
}
#author .contents .cgroup.hasmore.showedmore .chidden {
  display: block;
}
#author.preshell .bgCaption .cellforimage .usericon {
  background: rgba(var(--background-secondary-theme), 0.3);
}
html.mobileview #author .lentacell {
  margin-right: 0;
  margin-left: 0;
}
html.mobileview #author .bgCaption .adr {
  max-width: none;
  display: block;
}
html.mobileview #author .bgCaption .middotwrapper {
  display: none;
}
html.mobileview #author .leftpanelcell {
  display: none;
}
html.mobileview #author .authorlentawrappermain {
  position: relative;
}
html.mobileview #author .authorlentawrappermain .authorsearchicon {
  display: none;
}
html.mobileview #author .authorlentawrappermain .authorsearchwrapper {
  padding: 0 0.5em;
}
html.mobileview #author .authorlentawrappermain .authorsearchwrapper .search .searchPanel {
  display: table-cell;
}
html.mobileview #author .authorlentawrappermain .authorsearchwrapper .search .searchPanel .searchPanelWrapper > div[event=clear] {
  display: block;
}
html.mobileview #author .authorlentawrappermain .authorsearchwrapper .search .searchInput .searchInputIcon .sminput {
  background: transparent;
  padding-left: 0.5em;
}
@media only screen and (max-width: 1024px) {
  #author .bgCaption .caption {
    justify-content: center;
  }
  #author .mobileinfo {
    display: block;
  }
  #author .lentacell {
    margin-right: 44px;
    margin-left: 0;
  }
  #author .newsharewrapper {
    display: none;
  }
  #author .leftpanelcell {
    display: none;
  }
  #author .lentacell {
    margin-right: 44px;
    margin-left: 0;
  }
  #author .work.mwork {
    width: 90%;
  }
  #author .bgCaption {
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
    padding-bottom: 2em;
    background: #051b48;
  }
  #author .bgCaption .cwrapper {
    display: block;
  }
  #author .bgCaption .cwrapper > div {
    display: block;
  }
  #author .bgCaption .cwrapper .cellforimage {
    margin: 0 auto;
  }
  #author .bgCaption .work {
    padding-right: 0;
  }
  #author .bgCaption .telements .telement {
    width: 100%;
    margin-right: 0;
  }
  #author .bgCaption .telements .telement.sbscr {
    display: none;
    padding-left: 1em;
    padding-right: 0;
  }
  #author .bgCaption .tips {
    margin-top: 0.5em;
  }
  #author .bgCaption .caption {
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 1em;
  }
  #author .bgCaption .caption .adr {
    font-size: 1em;
  }
  #author .bgCaption .usermenu {
    width: 100%;
    display: flex!important;
    flex-wrap: nowrap;
  }
  #author .bgCaption .usermenu .usermenuitem {
    flex-grow: 1;
    width: auto;
    float: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-bottom: 1em;
    font-size: 0.8em;
    border-bottom: 2px solid rgba(var(--color-txt-gray), 0.5);
  }
  #author .bgCaption .usermenu .usermenuitem.active {
    border-bottom: 2px solid rgba(var(--color-txt-gray), 0.8);
  }
  #author .bgCaption .cellforimage {
    width: 100px;
    padding-top: 2em;
  }
  #author .bgCaption .cellforimage .usericon {
    width: 100px;
    height: 100px;
    line-height: 98px;
  }
  #author .bgCaption .infoWrapper {
    position: static;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    z-index: 1;
  }
  #author .bgCaption .infoWrapper .work {
    padding: 0 0.5em;
  }
  #author .bgCaption .work {
    position: relative;
    overflow: hidden;
  }
  #author .authorinfo .showmoreinabout {
    display: inline;
  }
  #author .authorinfo .additionalinfo.hasabout {
    display: none;
  }
  #author .authorinfo.displayedall .showmoreinabout {
    display: none;
  }
  #author .authorinfo.displayedall .additionalinfo.hasabout {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #author .bgCaption {
    padding-top: 0;
  }
  #author .bgCaption .caption {
    text-align: left!important;
    padding-left: 0.5em;
  }
  #author .bgCaption .changeaccount {
    display: block;
  }
  #author .bgCaption .infoWrapper,
  #author .lentacell .cnt {
    max-width: 640px;
    margin: 0 auto;
  }
  #author .newsharewrapper {
    display: none;
  }
  html.allcontent #author .bgCaption {
    padding-top: 44px;
  }
  #author .work.mwork {
    width: 100%;
  }
  #author .lentaWrapper .authorinfo {
    padding: 1em;
  }
  #author .copyaddress {
    font-size: 1em;
    font-weight: 700;
  }
  #author .subscribewrapperphones .subscribebuttons button {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  #author .bgCaption .caption .subscribe {
    font-size: 1.4em;
    border-bottom: 1px solid #ff4800;
    opacity: 1;
  }
  #author .bgCaption .cwrapper > div {
    vertical-align: top;
    padding-top: 1em;
  }
  #author .lentaWrapper {
    min-height: 0;
  }
  #author .lentacell {
    margin-right: 0;
    margin-left: 0;
  }
  #author .leftpanelcell {
    float: none;
    display: none;
    width: 100%;
    padding: 1em;
  }
  #author .leftpanelcell .authorinfo .itemtable > div {
    vertical-align: middle;
  }
  #author .leftpanelcell .authorinfo .itemtable > div.icon {
    width: 30px;
  }
  #author .leftpanelcell .authorinfo .item:nth-last-child(1) {
    margin-bottom: 0;
  }
  #author .mainpanelcell {
    display: none;
  }
  #author .work.mwork {
    padding: 0!important;
    overflow: hidden;
  }
  #author .work .work {
    width: 100%!important;
  }
  #author .fxd {
    position: fixed;
  }
}
