@import "../../css/__cssvar";

#author{

	#lenta{
		.shares{
			.share{					
				#post{
					.share{
						.work{
							border-left : @rhythm solid @color-black3;
						}
					}

					#post{
						.share{
							.work{
								border-left : 0;
							}
						}
					}
				}
			}
		}
	}

	.mobileinfo{
		display: none;
	}

	.copyaddress{
		cursor: pointer;
		text-overflow: ellipsis;
	}
	
	.authorlentawrappermain{
		position: relative;

		.authorsearchicon{
			position: absolute;
			left: 100%;
			top : 0;
			padding-top : @rhythm;

			.icon{
				padding : 4 * @rhythm;
				cursor: pointer;
				.transition(0.3s);

				&:hover{
					color : @color-main;
				}

			}
		}

		.authorsearchwrapper{
			background: #F8F8F8;
			padding : 3 * @rhythm 2 * @rhythm;
			padding-right: 0;
			display: none;

			.search{
				.searchPanel{
					background: transparent;
					border : 0;
					display: none;
				}
				.searchInput{
					.searchInputIcon{
						.sminput{
							padding : 2 * @rhythm;
							padding-left: 3 * @rhythm;
							background: transparent; 
							border : 0;
						}
					}
				}
			}
		}

		&.searchactive{
			.authorsearchwrapper{
				display: block;
			}

			.authorsearchicon{
			
				.icon{
					
					i{
						&:before{
							content : '\f00d'
						}
					}
	
				}
			}
		}
	}	

	.postauwrapper{

		
		
		.postauarrows{
			background: #fff;
			padding : 0 6 * @rhythm;
			padding-right: 5 * @rhythm;
			
			
			&.topwr{
				border-bottom : 1px solid @color-gray-slight;
				opacity: 1;
			}

			opacity: 0;
			.transition(0.3s);

			&.active{
				opacity: 1;
			}
		}

		.arrowstable{
			height : 100%;
			>div{
				padding : 3 * @rhythm 0;
				vertical-align: middle;
			}
			
			
		}

		.arrowaucenter{
			text-align: center;	
		}
		.arrowauwrapper{
			width : 60px;
			text-align: center;
		}
		.arrowauwrapperback{
			width : 60px;
		}

		.arrowaucenter{
			width : 120px;
		}

		.arrowau{
			cursor : pointer;
			height: 100%;

			&:hover{
				color : @color-main;
			}
		}

		.backtoshares{
			cursor : pointer;
			height: 100%;
			color : @color-gray-slight;

			&:hover{
				color : @color-main;
			}
		}

		.arrowaucenter{
			font-weight: 700;
			font-size: 0.8em;
		}

		.postcnt{
			#post{
				.share{
					.cntswrk{
						padding-right: 7 * @rhythm;
						margin-left: 10 * @rhythm;
					}

					.iconWrapper{
						width: 10 * @rhythm;
						padding-left: 4 * @rhythm;
					}
				}

				#post{
					.cntswrk{
						padding-right: 7 * @rhythm;
					}

					.share{
						.cntswrk{
							margin-left: 9 * @rhythm;
						}
	
						.iconWrapper{
							width: 9 * @rhythm;
							padding-left: 4 * @rhythm;
						}
					}
				}
			}

			#comments{

				.caption{
					padding-right: 7 * @rhythm;
					padding-left: 5 * @rhythm;
				}

				.answer, 
				.post{
					padding-right: 8 * @rhythm;
					padding-left: 2 * @rhythm;
				}

				.list{
					.comment{
						.commentPaddingWrapper{
							padding-right: 9 * @rhythm;
							padding-left: 2 * @rhythm;
						}
					}
				}

			} 
			

		}
	}

	.lentacell{
		margin-right: 150px;
		margin-left: 240px;
		min-height: 400px;

		.zero{
		}
	}

	.authorinfo{
		font-size: 0.9em;
		margin-bottom: 7 * @rhythm;
		.itemtable{
			>div{

				&.icon{
					width : 30px;
					padding-top: @rhythm;
					text-align: center;
					opacity: 0.6;
					font-size: 0.8em;
				}

				&.label{
					overflow: hidden;
					text-overflow: ellipsis;
					padding-right: @rhythm;	

					a{
						color : @color-main;
						text-decoration: underline;
					}					
				}

				.showmoreabout{
					margin-top : 2 * @rhythm;
					font-size: 0.8em;
					text-decoration: underline;
					color : @color-main;
					cursor: pointer;

					&:hover{
						color : @color-gray;
					}
				}

				.aboutwrapper{
				}
			}

			
		}

		.item{
			margin-bottom: 2 * @rhythm;
		}

		.postcnt{
			cursor: pointer;
			
			.label{
				text-transform: capitalize;
				text-decoration: underline;
			}
		}

		.name{
			font-size: 1.2em;
			font-weight: 500;
		}

		.site{
			text-decoration: underline;
			color : @color-main;
		}
	}

	.lentaWrapper{
		.authorinfo{
			padding : @rhythm;
		}
	}

	.leftpanelcell{
		float: left;
		width : 240px;
		padding : 5 * @rhythm 0;
		padding-left: @rhythm;
		padding-right: 3 * @rhythm;
		overflow: hidden;
		text-overflow: ellipsis;
		
	}

	.lentaWrapper{
		min-height: 700px;
	}

	.mainpanelcell{
		float: right;
		width : 350px;
		padding-top : 10px;
	}

	.panel{
		border-radius:3px;
	}
	.work{
		&.mwork{
			padding : 0!important;
			overflow: hidden;
		}

		.work{
			width: 100%!important;
		}
	}
	.mworkwrapper{
		background: #F1F1F1;
	}
	.subscribewrapperphones{
		background: #20232A;
		padding : @rhythm;
		padding-top : 0;

		.subscribebuttons{
			width: 100%;

			.item{
				&.prv{
					width: 47px;
				}
			}

			button{
				padding-bottom : @rhythm / 2;
				padding-top : @rhythm / 2;
				width: 100%;

				&.subscribe{
				}
			}
		}
	}
	.bgCaption{
		background: #20232A;
		color : #fff;
		height: 180px;
		position: relative;
		margin-bottom : 0;

		
		.adr{
			max-width: 500px;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: bottom;
			display: inline-block;
		}
		.create{
			min-width: 250px;
		}


		.tips{
		}

		.funf{
			cursor : pointer;
			opacity : 0.4;

			.transition(0.3s);

			&:hover{
				opacity : 1;
			}
		}

		.blockingWrapper{
			display : none;
		}

		&.blocking{
			background: rgb(41, 3, 24);	

			.subscribebuttonstop{
				display: none;
			}

			.blockingWrapper{
				display: inline;
			}
		}

		.subscribebuttonstop{
			.unsubscribe{
				display : none;
			}

			.notificationturn{
				display: none;
				cursor: pointer;

				i{
					width: 38px;
					text-align: center;
					font-size: 0.6em;
					color : fade(@color-gray-slight, 30);
					.transition(0.3s);
				}

				&.turnon{
					i{
						&:before{
							content : '\f0f3';
						}
					}
				}

				&:hover{
					i{
						color : fade(@color-gray-slight, 80);
					}
					
				}
			}

			&.following{
				.unsubscribe{
					display : inline;
				}

				.notificationturn{
					display: inline;
				}

				.subscribe{
					display : none;
				}
			}
		}

		.telements{
			overflow: hidden;
			.telement{
				float: left;
				margin-right : 2 * @rhythm;

				&.sbscr{
					padding-right: 4 * @rhythm;
				}
			}
		}

		.usermenu{

			overflow: hidden;
			
			.usermenuitem{
				float: left;
				margin-right : 2 * @rhythm;
				font-size: 0.8em;
				font-weight: 500;
				padding : @rhythm;
				border-bottom: 2px solid transparent;
				cursor: pointer;
				.transition(0.3s);

				&:hover{
					border-bottom: 2px solid @color-raspberry;
				}

				&.active{
					border-bottom: 2px solid @color-raspberry;
				}

				&:nth-child(1){
					padding-left: 0;
				}
			}
		}

		.cellforimage{
			width: 95px;

			.usericon{
				width: 75px;
				height: 75px;
				line-height: 73px;
				color : #fff;
				font-size: 1.5em;

				
			}
		}


		.infoWrapper{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}

		.imagiconWrapper{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;

			.imagejdenticon{
				position: absolute;
				left: -60px;
				right: 0;
				top: -100px;
				bottom: 0;
				z-index: 0;
				opacity: 0.1;
			}
		}

		.work{
			position: relative;
			overflow: hidden;
		}
	}

	.share{
		.work{
			
		}
	}

	.fxd{
		top : 75px;
		z-index: 10;

		&.dfxd{
			position: fixed;
		}
	}

	.contents
	{
		background: #fff;
		padding: 2 * @rhythm 4 * @rhythm;
		

		.cgroup{
			padding-top : 2 * @rhythm;
			padding-bottom : 2 * @rhythm;
		}

		.ccaption{
			font-weight: 100;
			margin-bottom : 2 * @rhythm;

			span{
				font-size: 2em;
			}
		}

		.gcontents{

			

			
			.citemtable{

				
				>div{
					vertical-align: middle;
					overflow: hidden;
					padding : @rhythm 0;

					&.cscorecell{
						width : 150px;
						text-align: right;
						padding-right: 2 * @rhythm;
					}
				}
			}

			.score,
			.cname{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.cname{
				span{
					font-size: 1.1em;
					font-weight: 100;
				}
			}

			.score{
				color : @color-gray-light;
			}

			.citem{
				&.selected{
					.cname{
						span{
							font-weight: 700;
						}
					}

					.score{
						font-weight: 700;
						color : #FFAE00;
					}
				}		
				
				&:hover{
					.score{
						color : #FFAE00;
					}
				}
			}
		}

		.chidden{
			display: none;
		}

		.captiontable{
			width : auto;

			.captionicon{
				width : 30px;
				text-align: center;
				display : none;
			}
		}

		.cgroup{
			&.hasmore{

				.captiontable{
					cursor: pointer;
				}

				.captionicon{
					display : table-cell;
				}


				&.showedmore{
					.captionicon{
						i{
							&:before{
								content : '\f078'
							}
						}
					}	

					.dots{
						display : none;
					}

					.chidden{
						display : block;
					}
				}
			}
		}
		
	}

}

#author.preshell{
	.bgCaption{
		.cellforimage{
			.usericon{
				background: fade(#ebebeb, 0.02);
			}
		}
	}

	
}

html.stblack{
	#author{

		#lenta{
			.shares{
				.share{					
					#post{
						.share{
							.work{
								border-left : @rhythm solid @color-black3;
							}
						}
	
						#post{
							.share{
								.work{
									border-left : 0;
								}
							}
						}
					}
				}
			}
		}
	
	
		.authorlentawrappermain{
			
	
			.authorsearchicon{
			
	
				.icon{
	
					&:hover{
						color : @color-bright;
					}
	
				}
			}
	
			.authorsearchwrapper{
				background: @color-black3;
	
				.search{
					.searchPanel{
						background: transparent;
					}
					.searchInput{
						.searchInputIcon{
							.sminput{
								background: transparent; 
							}
						}
					}
				}
			}
	
			
		}	
	
		.postauwrapper{
	
			
			.postauarrows{
				background: @color-black3;
				
				
				&.topwr{
					border-bottom : 1px solid @color-main;
				}
	
			}
	
	
			.arrowau{
	
				&:hover{
					color : @color-main;
				}
			}
	
			.backtoshares{
				color : @color-main;
	
				&:hover{
					color : @color-bright;
				}
			}
	
			
	
		}
	
		
	
		.authorinfo{
		
			.itemtable{
				>div{
					
					
					
					&.label{
	
						a{
							color : @color-bright;
						}					
					}
	
					.showmoreabout{
						
						color : @color-main;
	
						&:hover{
							color : @color-bright;
						}
					}
	
				}
			}
	
	
			.site{
				color : @color-bright;
			}
		}
	
		.mworkwrapper{
			background: @color-black5;
		}
		.subscribewrapperphones{
			background: #20232A;			
		}
		.bgCaption{
			background: fade(@color-bright, 15);
			color : fade(@color-gray-slight, 70);
	
			&.blocking{
				background: rgb(41, 3, 24);	
			}
	
			.subscribebuttonstop{
				
	
				.notificationturn{
				
	
					i{
						color : fade(@color-gray-slight, 30);
					}
	
	
					&:hover{
						i{
							color : fade(@color-gray-slight, 80);
						}
						
					}
				}
	
			}
	
			
	
			.usermenu{
				color : @color-gray-mlight;
				overflow: hidden;
				
				.usermenuitem{
					
					&:hover{
						border-bottom: 2px solid @color-contrast;
					}
	
					&.active{
						border-bottom: 2px solid @color-contrast;
					}
	
					&:nth-child(1){
						padding-left: 0;
					}
				}
			}
	
			.cellforimage{
	
				.usericon{
					color : @color-gray-mlight;
					
				}
			}
	
	
		}
	
	
		.contents
		{
			.ccaption{
				color : @color-contrast;
			}
	
			.gcontents{
	
				.score{
					color : @color-gray;
				}
	
				.citem{
					&.selected{
	
						.score{
							color : #FFAE00;
						}
					}		
					
					&:hover{
						.score{
							color : #FFAE00;
						}
					}
				}
			}
	
	
			
		}
	
	}	
}
@media only screen and (max-width: 1024px) {
	#author{

		.leftpanelcell{
			display: none;
		}
		.lentacell{
			margin-right: 44px;
			margin-left: 0;
		}

		.work.mwork{
			width: 90%;
		}
	}
}

html.tablet{
	#author{

		.leftpanelcell{
			display: none;
		}
		.lentacell{
			margin-right: 44px;
			margin-left: 0;
		}

		.work.mwork{
			width: 90%;
		}

		.bgCaption{
			margin-bottom : 0;
			margin-top : 0;
			height: auto;
			padding-bottom: 4 * @rhythm;
			background: #263045;
			
			.cwrapper{
				display: block;

				>div{
					display: block;
				}

				.cellforimage{
					margin : 0 auto;
				}
			}

			.work{
				padding-right: 0;
			}

			.telements{
				.telement{

					width: 100%;
					margin-right: 0;

					&.sbscr{
						display: none;
						padding-left : 2 * @rhythm;
						padding-right: 0;
					}
				}
			}

			.tips{
				margin-top : @rhythm;
			}

			.caption{
				font-size: 1.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				padding-left :  0;
				padding-right: 0;
				white-space: nowrap;
				margin-top : 0;	
				margin-bottom: 2 * @rhythm;

				.adr{
					font-size: 1em;
				}

			}
			

			.usermenu{
				width: 100%;
				.usermenuitem{
					width: 20%;
					margin-right : 0;
					padding-left: 0;
					padding-right : 0;
					text-align: center;
					padding-bottom: 2 * @rhythm;
					font-size: 0.8em;
					border-bottom: 2px solid @color-gray;

					&:hover{
						border-bottom: 2px solid @color-raspberry;
					}
	
					&.active{
						border-bottom: 2px solid @color-raspberry;
					}

				}
			}

			.cellforimage{
				width: 100px;
				padding-top : 4 * @rhythm;

				.usericon{
					width: 100px;
					height: 100px;
					line-height: 98px;
				}
			}


			.infoWrapper{
				position: static;
				left: 0;
				right: 0;
				top: 20px;
				bottom: 0;
				z-index: 1;
				.work{
					padding :  0 @rhythm;
				}
			}

			
			.work{
				position: relative;
				overflow: hidden;
			}
		}
	}
}
/*t*/ @media only screen and (max-width: 768px){
	#content{

		#lenta{
			.shares{
				.share{					
					#post{
						.share{
							.work{
								border-left : 0.5 * @rhythm solid @color-black3;
							}
						}
	
						#post{
							.share{
								.work{
									border-left : 0;
								}
							}
						}
					}
				}
			}
		}

		#author{

			.lentacell{
				margin-right: 0;
			}
	
			.work.mwork{
				width: 100%;
			}

			.authorlentawrappermain{
				position: relative;
		
				.authorsearchicon{
					display: none;
				}
		
			}

			.authorlentawrappermain{
				
		

				.authorsearchwrapper{
					padding : 0 @rhythm;
					.search{
						.searchPanel{
							display: table-cell;
	
							.searchPanelWrapper>div[event=clear]{
								display: block;
							}
						}
						.searchInput{
							.searchInputIcon{
								.sminput{
									background: transparent; 
									padding-left: @rhythm;
								}
							}
						}

					}
				}
		
				
			}

			.lentaWrapper{
				.authorinfo{
					padding: 2 * @rhythm;
				}
			}

			.copyaddress{
				font-size: 1em;
				font-weight: 700;
			}

			.subscribewrapperphones{
				
				.subscribebuttons{
					
					button{
						padding-bottom : @rhythm;
						padding-top : @rhythm;
						
					}
				}
			}

			.bgCaption .cwrapper>div {
			    vertical-align: top;
			    padding-top : 2 * @rhythm;
			}

			.lentaWrapper{
				min-height: 0;
			}
		
		
			.lentacell{
				margin-right: 0;
				margin-left: 0;
			}

			.leftpanelcell{
				float: none;
				display : none;
				width : 100%;
				padding : 2 * @rhythm;

				.authorinfo{
					
					.itemtable{
						>div{
							vertical-align: middle;

							&.icon{
								width : 30px;
							}
						}
					}

					.item{
						&:nth-last-child(1){
							margin-bottom: 0;
						}
					}

					
				}
			}

			.mainpanelcell{
				display: none;
			}

		
			.work{
				&.mwork{
					padding : 0!important;
					overflow: hidden;
				}

				.work{
					width: 100%!important;
				}
			}
			.mworkwrapper{
				background: #F1F1F1;
			}

			.bgCaption{
				margin-bottom : 0;
				margin-top : 0;
				height: auto;
				padding-bottom: 4 * @rhythm;
				background: #263045;
				
				.cwrapper{
					display: block;

					>div{
						display: block;
					}

					.cellforimage{
						margin : 0 auto;
					}
				}

				.work{
					padding-right: 0;
				}

				.telements{
					.telement{

						width: 100%;
						margin-right: 0;

						&.sbscr{
							display: none;
							padding-left : 2 * @rhythm;
							padding-right: 0;
						}
					}
				}

				.tips{
					margin-top : @rhythm;
				}

				.caption{
					font-size: 1.1em;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					padding-left :  0;
					padding-right: 0;
					white-space: nowrap;
					margin-top : 0;	
					margin-bottom: 2 * @rhythm;

					.adr{
						font-size: 1em;
					}

				}
				

				.usermenu{
					width: 100%;
					.usermenuitem{
						width: 20%;
						margin-right : 0;
						padding-left: 0;
						padding-right : 0;
						padding-bottom: 2 * @rhythm;
						text-align: center;
						font-size: 0.8em;

						border-bottom: 2px solid @color-gray;

						&:hover{
							border-bottom: 2px solid @color-raspberry;
						}
		
						&.active{
							border-bottom: 2px solid @color-raspberry;
						}
					}
				}

				.cellforimage{
					width: 100px;

					.usericon{
						width: 100px;
						height: 100px;
						line-height: 98px;
					}
				}


				.infoWrapper{
					position: static;
					left: 0;
					right: 0;
					top: 20px;
					bottom: 0;
					z-index: 1;
					.work{
						padding :  0 @rhythm;
					}
				}

				.infoWrapper{
					
					.mobileinfo{
						display: block;
					}
				}

				.authorinfo{
					padding : @rhythm;
					margin-bottom: 0;

					.postcnt,
					.foraddress,	
					.date,
					.name{
						display: none;
					}
				}

				
				.work{
					position: relative;
					overflow: hidden;
				}
			}

			.share{
				.work{
					
				}
			}

			.fxd{
				position: fixed;
			}

		}
	}

	html.stblack{
		#content{

			#author{
	
				.mworkwrapper{
					background: fade(@color-bright,40);
				}
	
			}
		}
	}
		
}

@media only screen and (max-width: 640px){
	#content #author .bgCaption .caption{
		text-align: left;
		padding-left: 4.5 * @rhythm;
	}
}