#usersettings {
  min-height: 600px;
  background: rgb(var(--background-secondary-theme));
  padding-bottom: 4em;
}
#usersettings .mwork {
  padding: 0 4em;
}
#usersettings .mwork.wh {
  background: rgb(var(--background-secondary-theme));
}
#usersettings .tokenResult {
  display: inline-block;
  font-size: 30px;
  padding: 5px;
  margin-left: 0.5em;
}
#usersettings .tokenResult.success {
  color: rgb(var(--color-good));
}
#usersettings .tokenResult.failed {
  color: rgb(var(--color-bad));
}
#usersettings .tokenResult i {
  font-size: 0.8em;
}
#usersettings .downloadedvideos {
  border-top: 0.5em solid rgb(var(--color-medium-theme));
  margin-top: 1em;
}
#usersettings .downloadedvideos .cntpart {
  padding: 2em 0;
}
#usersettings .cacheContent {
  margin-top: 1em;
}
#usersettings .cacheContent .panel {
  padding: 2em 0;
}
#usersettings .cacheContent .pending {
  padding: 1em 0;
}
#usersettings .cacheContent .pending i {
  width: 44px;
  text-align: center;
}
#usersettings .cacheContent .pending i,
#usersettings .cacheContent .pending span {
  font-size: 0.9em;
}
#usersettings .cacheContent .empty {
  padding: 2em 0;
}
#usersettings .cacheContent .empty span {
  font-size: 0.9em;
}
#usersettings .caption {
  max-width: 700px;
  padding-top: 1em;
  font-size: 2em;
  font-weight: 100;
}
#usersettings .pInputsTable > div {
  vertical-align: middle;
}
#usersettings .settingsGroup {
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  padding-bottom: 2em;
}
#usersettings .groupHeader .parameter > div {
  vertical-align: middle;
  color: #00a4ff;
  padding: 1em 0;
}
#usersettings .groupHeader .parameter > div.pName {
  vertical-align: middle;
  vertical-align: top;
}
#usersettings .groupHeader .parameter > div .pInput {
  font-weight: 700;
  font-size: 0.8em;
}
#usersettings .groupHeader .parameter > div .iWrapper {
  display: table;
  font-size: 0.8em;
}
#usersettings .groupHeader .parameter > div .iWrapper i {
  display: table-cell;
  vertical-align: middle;
}
#usersettings .parameter {
  max-width: 600px;
}
#usersettings .parameter .picker select {
  height: auto;
}
#usersettings .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
#usersettings .parameter .pName {
  vertical-align: top;
  padding-top: 1em;
  padding-right: 0.5em;
  width: 190px;
}
#usersettings .parameter .pName .downloads {
  padding-bottom: 1em;
}
#usersettings .parameter .pName .pNameW {
  padding-top: 0.165em;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}
#usersettings .parameter .pName .unit {
  font-weight: 700;
  color: rgb(var(--color-txt-ac));
}
#usersettings .parameter .pName .require {
  color: rgb(var(--color-bad));
}
#usersettings .parameter .pInput {
  position: relative;
  vertical-align: top;
}
#usersettings .parameter .pInput .echo {
  padding: 0.5em;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#usersettings .parameter .pInput .vm_valuesmulti {
  padding-top: 0.25em;
}
#usersettings .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
#usersettings .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: rgb(var(--neutral-grad-1));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#usersettings .parameter .panel .clear:hover {
  color: rgb(var(--color-txt-ac));
}
#usersettings .parameter select,
#usersettings .parameter textarea,
#usersettings .parameter input {
  width: 100%;
  /*padding: @rhythm;*/
}
#usersettings .parameter .error select,
#usersettings .parameter .error textarea,
#usersettings .parameter .error input {
  border: 1px solid rgb(var(--color-bad));
}
#usersettings .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
#usersettings .parameter .vc_valuecustom {
  width: 100%;
}
#usersettings .parameter .vc_valuecustom input {
  border: 0;
}
#usersettings .settingsGroup {
  margin-bottom: 2 0.5em;
}
#usersettings .settingsGroup .groupCaption {
  padding: 1.5em 0;
  font-size: 1.2em;
  color: rgb(var(--color-txt-gray-dark));
}
#usersettings .theme .pInput {
  overflow: hidden;
}
#usersettings .theme .pInput > div {
  float: left;
  margin-right: 0.5em;
}
#usersettings .theme .pInput > div .themeicon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid rgb(var(--neutral-grad-2));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  position: relative;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#usersettings .theme .pInput > div .themeicon:hover {
  border: 2px solid rgb(var(--color-txt-gray-dark));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#usersettings .theme .pInput > div .thbadge {
  color: rgb(var(--color-good));
  display: none;
  bottom: -4px;
  right: -2px;
  position: absolute;
}
#usersettings .theme .pInput > div.active .themeicon {
  border: 2px solid rgb(var(--color-txt-ac));
}
#usersettings .theme .pInput > div.active .thbadge {
  display: block;
}
#usersettings .theme .pInput > div[theme="white"] .themeicon {
  background: #fafafa;
}
#usersettings .theme .pInput > div[theme="black"] .themeicon {
  background: #141523;
}
#usersettings .theme .pInput > div[theme="gray"] .themeicon {
  background: #1e1d1a;
}
#usersettings .uiscale .pInput {
  display: flex;
}
#usersettings .uiscale .pInput .uiscalewrapper {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
  margin-right: 0;
  padding: 0 10px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  cursor: pointer;
  /** White theme */
  background: rgb(var(--neutral-grad-1));
  color: rgb(var(--neutral-grad-4));
  border-color: rgb(var(--neutral-grad-3));
}
#usersettings .uiscale .pInput .uiscalewrapper.active {
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-bg-ac-color));
}
#usersettings .uiscale .pInput .uiscalewrapper:first-child {
  border-radius: 5px 0 0 5px;
  padding-left: 16px;
  border-left: 0;
}
#usersettings .uiscale .pInput .uiscalewrapper:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 16px;
  border-right: 0;
}
#usersettings.unathorized .settingsGroup.notifications {
  display: none;
}
/*t*/
@media only screen and (max-width: 768px) {
  #usersettings {
    background: rgb(var(--background-total-theme));
  }
  #usersettings .mwork {
    padding: 0 1em;
  }
  #usersettings .mwork.wh {
    background: rgb(var(--background-secondary-theme));
  }
  #usersettings .parameter {
    max-width: none;
  }
  #usersettings .parameter > div.pName {
    width: auto;
  }
  #usersettings .parameter > div.pName .downloads {
    padding-bottom: 1em;
  }
  #usersettings .parameter > div.pCheckbox {
    width: 40px;
  }
  #usersettings .checkbox + label:before {
    border-radius: 50%;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: '';
    font-size: 1.2em;
    text-align: center;
  }
  #usersettings .checkbox:checked + label:before {
    content: '\f00c';
  }
}
