#usersettings {
  min-height: 600px;
  background: #F7F7F7;
  padding-bottom: 4em;
}
#usersettings .mwork {
  padding: 0 4em;
}
#usersettings .mwork.gk {
  border-top: 1px solid #d0c9ca;
  border-bottom: 1px solid #d0c9ca;
}
#usersettings .mwork.wh {
  background: #FAFAFA;
}
#usersettings .tokenResult {
  display: inline-block;
  font-size: 30px;
  padding: 5px;
  margin-left: 0.5em;
}
#usersettings .tokenResult.success {
  color: #076C34;
}
#usersettings .tokenResult.failed {
  color: #F41A4D;
}
#usersettings .tokenResult i {
  font-size: 0.8em;
}
#usersettings .cacheContent {
  border-top: 0.5em solid #fff;
  margin-top: 1em;
}
#usersettings .cacheContent .panel {
  padding: 2em 0;
}
#usersettings .cacheContent .pending {
  padding: 1em 0;
}
#usersettings .cacheContent .pending i {
  width: 44px;
  text-align: center;
}
#usersettings .cacheContent .pending i,
#usersettings .cacheContent .pending span {
  font-size: 0.9em;
}
#usersettings .cacheContent .empty {
  padding: 2em 0;
}
#usersettings .cacheContent .empty span {
  font-size: 0.9em;
}
#usersettings .caption {
  max-width: 700px;
  padding-top: 1em;
  font-size: 2em;
  font-weight: 100;
}
#usersettings .pInputsTable > div {
  vertical-align: middle;
}
#usersettings .settingsGroup:nth-child(1) .mwork.gk {
  border-top: 0;
}
#usersettings .groupHeader .parameter > div {
  vertical-align: middle;
  color: #00a4ff;
  padding: 1em 0;
}
#usersettings .groupHeader .parameter > div.pName {
  vertical-align: middle;
  vertical-align: top;
}
#usersettings .groupHeader .parameter > div .pInput {
  font-weight: 700;
  font-size: 0.8em;
}
#usersettings .groupHeader .parameter > div .iWrapper {
  display: table;
  font-size: 0.8em;
}
#usersettings .groupHeader .parameter > div .iWrapper i {
  display: table-cell;
  vertical-align: middle;
}
#usersettings .parameter {
  max-width: 600px;
}
#usersettings .parameter .picker select {
  height: auto;
}
#usersettings .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
#usersettings .parameter .pName {
  vertical-align: top;
  padding-top: 1em;
  padding-right: 0.5em;
  width: 190px;
}
#usersettings .parameter .pName .downloads {
  padding-bottom: 1em;
}
#usersettings .parameter .pName .pNameW {
  padding-top: 0.5em / 3;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}
#usersettings .parameter .pName .unit {
  font-weight: 700;
  color: #00A3F7;
}
#usersettings .parameter .pName .require {
  color: #F41A4D;
}
#usersettings .parameter .pInput {
  position: relative;
  vertical-align: top;
}
#usersettings .parameter .pInput .echo {
  padding: 0.5em;
  color: #ff6e84;
  font-weight: 700;
}
#usersettings .parameter .pInput .vm_valuesmulti {
  padding-top: 0.5em / 2;
}
#usersettings .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
#usersettings .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: #e4ddde;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#usersettings .parameter .panel .clear:hover {
  color: #00a4ff;
}
#usersettings .parameter select,
#usersettings .parameter textarea,
#usersettings .parameter input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #d0c9ca;
  border-radius: 2px;
}
#usersettings .parameter select.error,
#usersettings .parameter textarea.error,
#usersettings .parameter input.error {
  border: 1px solid #F41A4D;
}
#usersettings .parameter .error select,
#usersettings .parameter .error textarea,
#usersettings .parameter .error input {
  border: 1px solid #F41A4D;
}
#usersettings .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
#usersettings .parameter .vc_valuecustom {
  width: 100%;
}
#usersettings .parameter .vc_valuecustom input {
  border: 0;
}
#usersettings .parameter .vc_valuecustom .vc_textInput,
#usersettings .parameter .vc_valuecustom_multibig .vc_textInput {
  background: #fff;
}
#usersettings .parameter .vmt_valuesmultitree,
#usersettings .parameter .vm_value {
  padding: 0;
}
#usersettings .parameter .vmt_valuesmultitree .checkbox + label:before,
#usersettings .parameter .vm_value .checkbox + label:before {
  font-size: 1.6em;
  line-height: 19px;
}
#usersettings .settingsGroup {
  margin-bottom: 2 0.5em;
}
#usersettings .settingsGroup .groupCaption {
  padding: 1.5em 0;
  font-size: 1.2em;
  color: #00a4ff;
}
#usersettings .theme .pInput {
  overflow: hidden;
}
#usersettings .theme .pInput > div {
  float: left;
  margin-right: 0.5em;
}
#usersettings .theme .pInput > div .themeicon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #3c4146;
  box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#usersettings .theme .pInput > div .themeicon:hover {
  border: 2px solid #00a4ff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}
#usersettings .theme .pInput > div .thbadge {
  color: #076C34;
  display: none;
  bottom: -4px;
  right: -2px;
  position: absolute;
}
#usersettings .theme .pInput > div.active .themeicon {
  border: 2px solid #00a4ff;
}
#usersettings .theme .pInput > div.active .thbadge {
  display: block;
}
#usersettings .theme .pInput > div[theme="white"] .themeicon {
  background: #fafafa;
}
#usersettings .theme .pInput > div[theme="black"] .themeicon {
  background: #030f1b;
}
#usersettings.unathorized .settingsGroup.notifications {
  display: none;
}
html.stblack #usersettings {
  background: transparent;
}
html.stblack #usersettings .cacheContent {
  border-top: 0.5em solid #0e1c2b;
  background: #112035;
}
html.stblack #usersettings .mwork.gk {
  border-top: 1px solid rgba(0, 164, 255, 0.5);
  border-bottom: 1px solid rgba(0, 164, 255, 0.5);
  background: #112035;
}
html.stblack #usersettings .mwork.wh {
  background: transparent;
}
html.stblack #usersettings .groupHeader .parameter > div {
  color: #00a4ff;
}
html.stblack #usersettings .parameter .pName .unit {
  color: #00A3F7;
}
html.stblack #usersettings .parameter .pName .require {
  color: #F41A4D;
}
html.stblack #usersettings .parameter .pInput .echo {
  color: #ff6e84;
}
html.stblack #usersettings .parameter .panel .clear {
  color: rgba(0, 164, 255, 0.5);
}
html.stblack #usersettings .parameter .panel .clear:hover {
  color: #00a4ff;
}
html.stblack #usersettings .parameter select,
html.stblack #usersettings .parameter textarea,
html.stblack #usersettings .parameter input {
  border: 1px solid rgba(0, 164, 255, 0.5);
  border-radius: 2px;
}
html.stblack #usersettings .parameter select.error,
html.stblack #usersettings .parameter textarea.error,
html.stblack #usersettings .parameter input.error {
  border: 1px solid #F41A4D;
}
html.stblack #usersettings .parameter .error select,
html.stblack #usersettings .parameter .error textarea,
html.stblack #usersettings .parameter .error input {
  border: 1px solid #F41A4D;
}
html.stblack #usersettings .parameter .vc_valuecustom .vc_textInput,
html.stblack #usersettings .parameter .vc_valuecustom_multibig .vc_textInput {
  background: #0a0c17;
}
html.stblack #usersettings .settingsGroup .groupCaption {
  color: #00a4ff;
}
/*t*/
@media only screen and (max-width: 768px) {
  #usersettings {
    background: #fff;
  }
  #usersettings .caption span {
    color: #010E30;
    font-weight: 100;
  }
  #usersettings .mwork {
    padding: 0 1em;
  }
  #usersettings .mwork.wh {
    background: #FAFAFA;
  }
  #usersettings .parameter {
    max-width: none;
  }
  #usersettings .parameter > div.pName {
    width: auto;
  }
  #usersettings .parameter > div.pName .downloads {
    padding-bottom: 1em;
  }
  #usersettings .parameter > div.pCheckbox {
    width: 40px;
  }
  #usersettings .checkbox + label:before {
    border-radius: 50%;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: '';
    font-size: 1.2em;
    text-align: center;
  }
  #usersettings .checkbox:checked + label:before {
    content: '\f00c';
  }
  html.stblack #usersettings {
    background: #0a0c17;
  }
  html.stblack #usersettings .caption span {
    color: #ff6e84;
    font-weight: 100;
  }
  html.stblack #usersettings .mwork.wh {
    background: #0a0c17;
  }
}
