#bastyon_iphone .caption {
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  max-width: 250px;
}
#bastyon_iphone .caption span {
  font-size: 2em;
  font-weight: 700;
}
#bastyon_iphone .instruction {
  margin: 0 auto;
  margin-top: 4em;
  padding-bottom: 5em;
  text-align: center;
  max-width: 250px;
}
#bastyon_iphone .instruction span {
  line-height: 25px;
}
#bastyon_iphone .instruction img {
  width: 25px;
}
#bastyon_iphone .instruction path {
  fill: blue;
}
#bastyon_iphone .logowrapper {
  margin-top: 4em;
  margin-bottom: 4em;
}
#bastyon_iphone .logowrapper img {
  display: block;
  width: 170px;
  margin: 0 auto;
}
#bastyon_iphone .notisonWrapper {
  margin-top: 4em;
}
#bastyon_iphone .notisonWrapper .notios {
  margin: 0 auto;
  text-align: center;
  max-width: 250px;
}
#bastyon_iphone .notisonWrapper .gotoapplicationsWrapper {
  margin-top: 2em;
  text-align: center;
}
