<div id="<%-module.map.id%>" class="preshell">
    <div class="postWrapper active">
        <div elementsid="share" class="opensharepost" style="display: block;">
            <div class="sharecnt">
                <div class="work">
                    <div class="shareTable  post  truerepost">
                        <div class="iconWrapper">
                            <div class="icon">
                                <div class="usericon usericonsbsa another" >
                                </div>
                            </div>
                        </div>
                        <div class="cntswrk hideOnFullVideo formeta">
                            <div class="metawrapper">
                                <div class="meta">
                                    <div class="metatable table">
                                        <div class="metadata">
                                            <div class="author">
                                                <div class="authorTable table">
                                                    <div class="authorCell">
                                                        <div class="textline" style="width:77px">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="metapanel">


                                        </div>






                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="cntswrk">
                            <div class="paddingWrapper hideOnFullVideo">
                                <div class="sharecaption canmark">
                                    <div class="textline" style="width:47%">
                                    </div>
                                </div>
                            </div>
                            <div class="paddingWrapper hideOnFullVideo">
                                <div class="message canmark">
                                    <div class="textline light" style="width:100%;height: 90px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="repostWrapper"></div>



                        <div class="cntswrk">
                            <div class="paddingWrapper">



                                <div class="tags canmark hideOnFullVideo">

                                    <div class="textline colored" style="width:72%;">
                                    </div>

                                </div>


                                <div class="panel">
                                    <div elementsid="forstars" class="item forstars" style="display: block;">

                                        <div class="itemwr table unselectable">
                                            <div class="starswr">
                                                <div elementsid="starsLikeAction" class="stars likeAction ">

                                                    <div class="textline yellow" style="width:150px;">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div elementsid="sharesocial" class="item sharesocial right unselectable">
                                        <div class="itemwr table">
                                            <div class="iconwr">
                                               
                                                    <div class="textline contrast" style="width:20px; margin-left: auto;">
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wholikes" style="display: block;"></div>

                            </div>

                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>
</div>