<div class="recomandationsbgwrapper">

    <div class="recoCaption">
        <span>
            Other videos
        </span>
    </div>
    <div>

        <% if(videos && videos.length > 0) { 
            _.each(videos, function(video) { %>

                <% if(video && video.data && video.data.thumbnail) { %>

                    <div class="recoVideoDiv" data-txid="<%- video.txid %>">

                        <div class="videoThumbnail" image="<%- video.data.thumbnail %>"></div>

                        <div class="videoInfos">

                            <div class="title"><span><%= video.c %></span></div>

                            <div>
                                <div class="user">
                                    
                                    <span><%= video.userprofile.name %></span>
                                    
                                    <% if(video.userprofile.reputation && !app.curation()) {%><sup class="spsp"><%-compressedNumber(video.userprofile.reputation, 1)%></sup><% } %>
                                
                                </div>

                                <div class="infos">

                                    <span class="views"><%= video.data.views %> <%- pluralform(video.data.views,[e('countview'), e('countviews')]) %></span>
                                    <i class="fas fa-circle viewDateSep"></i>
                                    <span class="date"><%- app.reltime(new Date(video.time)) %></span>

                                </div>
                            </div>

                        </div>

                    </div>

                <% } %>

            <% })
        } %>
    </div>
</div>