<div id="video">
	<div class="caption bright">
		<%- title%>
	</div>

	<div class="container">

	</div>

	<% if(!state) {%>
		<div class="buttonWrapper">
			<a elementsid="hrefregistration" href="registration"><button class=""><%=e('e13199')%></button></a>
		</div>

		<!--<div class="fixedbtn fdot">
			<div class="wrapper all btn">
			
					<button class="offerGood joinbeta">JOIN BETA</button>
				
			</div>
		</div>-->
	<% } else {%>

		<div class="buttonWrapper">
			<a elementsid="hrefindex" href="index" noblank='true'><button><%=e('e13200')%></button></a>
		</div>

	<% } %>

	<div class="description">
		
	</div>
	
	
	
</div>