<div class="joinbetawrapper">
	<div class="caption">

		<%=e('e13201')%>

	</div>

	<div class="text">
		<%=e('e13202')%>
	</div>

	<div class="inputs table">

		<div class="inputcell forname">

			<div class="inputWrapper">
				<input elementsid="inputfirstname" class="name" type="text" placeholder="First Name">
			</div>

		</div>

		<div class="inputcell">

			<div class="inputWrapper">
				<input elementsid="inputemail" class="email" type="email" autocomplete="on" placeholder="Email">
			</div>

		</div>
	</div>


</div>