#dust {
  padding: 2em 0;
}
#dust .subcaption span {
  font-size: 2em;
  font-weight: 100;
  color: rgb(var(--color-txt-gray-dark));
}
#dust .parameters {
  padding: 2em 0;
  position: relative;
}
#dust .parameters .loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(var(--background-total-theme));
}
#dust .parameters .loader .loaderTable {
  width: 100%;
  height: 100%;
}
#dust .parameters .loader .loaderTable > div {
  vertical-align: middle;
  text-align: center;
}
#dust .parameters button {
  width: 200px;
  border: 0;
  font-weight: 100;
}
#dust .parameters input {
  width: 80%;
  border: 0;
  padding: 1em;
  font-size: 1.3em;
  background: rgb(var(--background-secondary-theme));
  font-weight: 100;
}
#dust .row.labels {
  margin-top: 2em;
}
#dust .row > div {
  padding: 0.5em 0;
}
#dust .row > div.sendcoins {
  padding-top: 2em;
}
#dust .labelWrapper {
  font-weight: 700;
}
#dust .send {
  width: 200px;
}
