<div id="<%-module.map.id%>">

	<div class="upbuttonwrapper">
	</div>


	<div class="work mwork adj">
		<div class="mainpanelcell">
			<div class="cnt fxd">
				<div class="panel">
				</div>
			</div>
		</div>
		<div class="lentacell">

			<div class="cnt">

				<% 

					var h = 'hidden'

					if(state && !parameters().r) {

						h = ''
						
					} 



				%>

					<div class="bgCaption sec <%-h%>">
						
									
										
									<div class="share">
										
									</div>
										
									
								
					</div>

				<div class="lentaWrapper">
				</div>

			</div>
		</div>
	</div>
	
	<!--<div class="addbutton">
		<i class="fas fa-signature"></i>
	</div>-->
	
</div>