#lenta {
  /*i.boostedlabel{
		width: 30px;
		text-align: right;
	}*/
  /*
		.loader{
			display: block;
		}
	}*/
  /*.authorCell a,
	.sbtnxs,
	.spsp{
		display: inline-block;
	}*/
}
#lenta .boosted {
  min-height: 100px;
}
#lenta .shareinlenta {
  min-height: 400px;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#lenta .shareinlenta .sharecnt {
  display: none;
}
#lenta .shareinlenta.rendered {
  opacity: 1;
  min-height: 0;
}
#lenta .shareinlenta.rendered .sharecnt {
  display: block;
}
#lenta .optimizationTip {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  border-radius: 6px;
}
#lenta .optimizationTip > div {
  padding: 1em;
  text-align: center;
  opacity: 0.8;
  max-width: 80%;
  border-radius: 12px;
  background: rgb(var(--background-secondary-theme));
  border: 1px solid rgb(var(--neutral-grad-1));
}
#lenta .optimizationTip .icon {
  opacity: 0.5;
  margin-top: 0.5em;
}
#lenta.destroying {
  display: none;
}
#lenta.openapi .loadmore {
  display: none!important;
}
#lenta.rebuilding {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3;
}
#lenta .work {
  padding-right: 0;
}
#lenta .mlwr {
  position: relative;
}
#lenta .searchInfo {
  background: rgb(var(--background-total-theme));
  padding: 1em 0;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
  border-radius: 12px;
}
#lenta .searchInfo .searchcaption span {
  font-size: 1em;
  color: rgb(var(--neutral-grad-3));
}
#lenta .searchInfo .cancelsearch {
  margin-top: 1em;
}
#lenta .searchInfo .value span {
  font-weight: 700;
  color: rgb(var(--neutral-grad-4));
  font-size: 2em;
}
#lenta .loader {
  /*background: rgb(var(--background-total-theme));*/
  padding: 3em 0;
  display: none;
  border-radius: 12px;
  height: 111px;
  contain: strict;
}
#lenta .loader.loading {
  display: block;
}
#lenta.sharesEnded .loader {
  display: none!important;
}
#lenta .panel {
  overflow: hidden;
}
#lenta .video-js .vjs-volume-control {
  display: none;
}
#lenta .video-js.vjs-is-audio .vjs-control-bar .vjs-volume-control {
  display: inherit;
}
#lenta .fullScreenVideo .video-js .vjs-volume-control {
  display: inherit;
}
#lenta .circularprogress {
  overflow: hidden;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#lenta .circularprogress .circularprogressWrapper {
  padding: 1em;
  text-align: center;
}
#lenta .circularprogress .circularprogressWrapper canvas {
  margin: 0 auto;
}
#lenta .share .sharecnt .removeDescription {
  display: none;
  padding-bottom: 1.5em;
  color: rgb(var(--neutral-grad-1));
}
#lenta .share .sharecnt.deleted .cntscontent,
#lenta .share .sharecnt.deleted .repostWrapper,
#lenta .share .sharecnt.deleted .commentsWrapperHb,
#lenta .share .sharecnt.deleted .metapanel,
#lenta .share .sharecnt.deleted .sys {
  display: none!important;
}
#lenta .share .sharecnt.deleted .removeDescription {
  display: block;
}
#lenta .share.fromsub {
  border: 1px solid #000;
}
#lenta .tosubscribeshares {
  margin-bottom: 0.5em;
  border-radius: 12px;
  background: rgb(var(--background-total-theme));
  padding: 2em;
  text-align: center;
}
#lenta .tosubscribeshares .tosubscribesharesWrapper {
  max-width: 460px;
  margin: 0 auto;
}
#lenta .tosubscribeshares .tosubscribeshares_buttonWrapper {
  margin-top: 2em;
}
#lenta .share {
  margin-bottom: 0.5em;
  padding-bottom: 0;
  border-radius: 12px;
}
#lenta .share .shareSpacer {
  display: none;
  height: 400px;
  padding: 0 2em;
}
#lenta .share .images {
  max-width: 590px;
}
#lenta .share .sharecaption,
#lenta .share .textPreview {
  max-width: 590px;
}
#lenta .share .message {
  max-width: 590px;
}
#lenta .share .verticalVideo {
  max-width: 350px;
}
#lenta .share .squareVideo {
  max-width: 450px;
}
#lenta .share .debuginfo {
  display: none!important;
}
#lenta .share.fullScreenVideo .squareVideo,
#lenta .share.fullScreenVideo .verticalVideo {
  max-width: none;
}
#lenta .shares {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#lenta .shares .authorgroup {
  display: flex;
  flex-direction: column;
}
#lenta .shares .authorgroup.blocking {
  display: none;
}
#lenta .shares .work {
  padding-left: 0;
}
#lenta .shares .ss {
  padding: 1em;
}
#lenta .shares .ss span {
  font-size: 2em;
}
#lenta .shares .showmorebyauthor {
  text-align: center;
  padding: 1em;
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 0.6em;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: underline;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#lenta .shares .showmorebyauthor.active {
  opacity: 1;
}
#lenta .subc {
  margin-top: 1em;
}
#lenta .subc button {
  min-width: 220px;
}
#lenta .zero,
#lenta .ended {
  display: none;
  padding: 4em 0;
  padding-bottom: 4em;
  color: rgb(var(--neutral-grad-4));
  text-align: center;
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
}
#lenta .zero .tou,
#lenta .ended .tou {
  padding: 2em 0;
  color: rgb(var(--color-txt-ac));
}
#lenta .seemore,
#lenta .loadprev,
#lenta .loadmore {
  background: rgb(var(--background-total-theme));
  padding: 1em 0;
  text-align: center;
}
#lenta .seemore button,
#lenta .loadprev button,
#lenta .loadmore button {
  border-radius: 30px;
  width: 350px;
  max-width: 90%;
}
#lenta .loadmore {
  display: none;
}
#lenta .loadprev {
  display: none;
  margin-bottom: 0.5em;
}
#lenta.showLoadmore {
  display: none;
}
#lenta.showprev .loadprev {
  display: block;
}
#lenta.loading .loadmore {
  display: none;
}
#lenta.sharesZero .zero {
  display: block;
}
#lenta.sharesZero .loadmore {
  display: none;
}
#lenta.sharesZero .loader {
  display: none;
}
#lenta .networkErrorMessage {
  border-radius: 12px;
  background: rgb(var(--background-total-theme));
  display: none;
  padding: 3em;
  text-align: center;
}
#lenta .networkErrorMessage i {
  font-size: 2em;
  opacity: 0.5;
}
#lenta.networkError .networkErrorMessage {
  display: block;
}
#lenta.networkError .loadmore {
  display: none;
}
#lenta.networkError .loader {
  display: none!important;
}
#lenta .seemore {
  display: none;
}
#lenta.sharesEnded .ended {
  display: block;
}
#lenta.sharesEnded .seemore {
  display: block;
}
#lenta.sharesEnded .loadmore {
  display: none;
}
.commentRegisterDiv .commentRegister {
  background-color: rgb(var(--background-total-theme));
  padding: 1em 1em 2em 1em;
  color: rgb(var(--text-color));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#lenta.mainvideo .zero,
#lenta.mainvideo .seemore,
#lenta.mainvideo .loadprev,
#lenta.mainvideo .loadmore,
#lenta.mainvideo .ended {
  background: transparent;
}
#lenta.mainvideo .loader {
  background: transparent;
}
#lenta.mainvideo .share {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
  border-radius: 6px;
}
#lenta.mainvideo .share .sharecaption {
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#lenta.mainvideo .share .work {
  overflow: inherit;
}
#lenta.mainvideo .share .tags {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#lenta.mainvideo .share .tags .tag {
  float: none;
  display: inline;
  margin-right: 0;
}
#lenta.mainvideo .share.hidden {
  display: block!important;
}
#lenta.mainvideo .share .sharecaption {
  white-space: inherit;
  padding-right: 1em;
}
#lenta.mainvideo .share .sharecaption div {
  font-size: 1em;
  font-weight: 500;
}
#lenta.mainvideo .share .sharecaption span {
  font-weight: 700;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#lenta.mainvideo .share .meta {
  padding-top: 0.5em;
  margin-bottom: 0;
}
#lenta.mainvideo .share .commentsWrapperHb {
  display: none;
}
#lenta.mainvideo .share .hideOnFullVideo {
  display: none;
}
#lenta.mainvideo .share .videoviews {
  display: none;
}
#lenta.mainvideo .share .showMore {
  display: none;
}
#lenta.mainvideo .share .iconWrapper {
  padding: 0;
  z-index: 12;
  width: 22px!important;
}
#lenta.mainvideo .share .iconWrapper .icon {
  width: auto;
  height: 22px!important;
}
#lenta.mainvideo .share .iconWrapper .icon .usericon {
  width: 22px!important;
  height: 22px!important;
  line-height: 22px!important;
  font-size: 1.2em;
}
#lenta.mainvideo .share .forurl {
  height: 200px;
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}
#lenta.mainvideo .share .forurl.verticalVideo {
  height: 530px;
}
#lenta.mainvideo .share .url {
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#lenta.mainvideo .share .url .videoWrapper {
  height: 100%;
}
#lenta.mainvideo .share .url .videoWrapper .js-player {
  height: 100%;
}
#lenta.mainvideo .share .urlcnt {
  display: none;
}
#lenta.mainvideo .share .panel {
  display: none;
}
#lenta.mainvideo .share .tags > div span {
  opacity: 0.7;
  text-decoration: none;
}
#lenta.mainvideo .share .shareTable {
  padding-top: 0;
  padding-bottom: 0;
}
#lenta.mainvideo .share .shareTable .authorTable {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
#lenta.mainvideo .share .shareTable .authorTable > div.authorCell {
  padding-left: 0.5em;
  padding-right: 0;
  opacity: 0.7;
}
#lenta.mainvideo .share .shareTable .authorTable > div a {
  font-size: 0.9em;
}
#lenta.mainvideo .share .shareTable .authorTable > div.datetime {
  padding-left: 0.5em;
  opacity: 0.7;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}
#lenta.mainvideo .share .shareTable .authorTable > div.datetime span {
  color: rgb(var(--text-color));
}
#lenta.mainvideo .share .shareTable .authorTable > div span {
  font-size: 0.9em;
  font-weight: 400;
}
#lenta.mainvideo .share .shareTable .metatable > div.metapanel {
  width: 40px;
  color: rgb(var(--text-color));
}
#lenta.mainvideo .share .shareTable .metatable > div.metapanel .metapanelitem {
  opacity: 1;
}
#lenta.mainvideo .share .cntswrk {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#lenta.mainvideo .shares .spsp {
  font-weight: 400;
}
#lenta.mainvideo .shares .authorgroup {
  float: left;
  width: 33.3333%;
}
#lenta.mainvideo .shares .authorgroup .share {
  padding: 15px;
}
#lenta.mainvideo .shares .authorgroup .anothercntswrk {
  height: 100px;
}
#lenta.mainvideo .shares .authorgroup:nth-child(3n + 1) {
  clear: left;
}
#lenta.mainvideo .shares .showmorebyauthor {
  display: none;
}
#lenta.horizontal {
  display: flex;
  flex-grow: 1;
}
#lenta.horizontal .mlwr {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
#lenta.horizontal .mlwr .ended {
  padding: 0.5em;
}
#lenta.horizontal .share {
  flex-grow: 1;
  width: 300px;
  margin: 0;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
#lenta.horizontal .share:nth-last-child(1) {
  margin-right: 0;
}
#lenta.horizontal .shares {
  display: flex!important;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-direction: row;
}
#lenta.horizontal .loader,
#lenta.horizontal .ended {
  display: none!important;
}
#lenta.horizontal.mainvideo .share .forurl.verticalVideo {
  height: 200px;
}
#lenta.horizontal.mainvideo .share .formeta {
  padding-top: 0;
}
#lenta.horizontal.compact .shareSpacer {
  height: 180px;
}
#lenta.horizontal.compact .share {
  width: 230px;
}
#lenta.horizontal.compact .share .jsPlayerPreview {
  border-radius: 18px;
}
#lenta.horizontal.compact .share .tags {
  display: none;
}
#lenta.horizontal.compact .share .iconWrapper {
  float: none;
}
#lenta.horizontal.compact .share .shareTable {
  position: relative;
}
#lenta.horizontal.compact .share .shareTable .authorTable > div.datetime {
  display: none;
}
#lenta.horizontal.compact .share .shareTable .authorTable > div.authorCell {
  display: none;
}
#lenta.horizontal.compact .share .shareTable .metatable > div.metapanel .metapanelitem {
  position: absolute;
  right: 1px;
  font-size: 0.7em;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .cntswrk {
  order: 2;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .formeta {
  width: 22px;
  min-width: 22px;
  order: 1;
  margin-right: 0.5em;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .meta {
  margin-bottom: 0;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .authorTable {
  display: block;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .paddingWrapper {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.25em;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .sharecaption {
  max-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  max-width: 200px;
  padding-top: 0.25em;
  padding-right: 1.25em;
  font-size: 0.85em !important;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .sharecaption span {
  display: inline;
  font-size: 1em;
}
#lenta.horizontal.compact .share .shareTable .anothercntswrk .sharecaption .adr {
  font-weight: 700;
}
#lenta.horizontal.compact.mainvideo .share .shareTable {
  height: 180px;
  padding-top: 0;
}
#lenta.horizontal.compact.mainvideo .share .forurl {
  height: 140px;
}
#lenta.horizontal.compact.mainvideo .share .forurl.verticalVideo {
  height: 140px;
}
@media only screen and (max-width: 768px) {
  #lenta .share .images {
    max-width: none;
  }
  #lenta .share .showMore {
    text-align: center;
  }
  #lenta .openoriginallabel {
    display: none;
  }
  #lenta .searchInfo {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
  }
  #lenta .fullScreenVideo .videoWrapper .js-player .video-js .vjs-volume-control {
    display: none;
  }
}
/*t*/
@media only screen and (max-width: 768px) {
  #lenta.horizontal.compact {
    /*.share_common .jsPlayerPreview .wpl{
					opacity: 1;
				}*/
  }
  #lenta.horizontal.compact.mainvideo .shares .formeta {
    margin-left: 0.25em;
  }
  #lenta .loadprev.fxdp {
    position: fixed;
    left: 0;
    top: 110px;
    z-index: 10;
    right: 0;
    background: transparent!important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    will-change: transform;
    -webkit-backface-visibility: hidden;
  }
  #lenta .loadprev.fxdp button {
    width: 260px;
  }
  html.scrollmodedown #lenta .loadprev.fxdp {
    transform: translateY(-220px);
  }
}
@media only screen and (max-width: 1180px) {
  #lenta.mainvideo .shares .authorgroup {
    width: 50%;
  }
}
/*t*/
@media only screen and (max-width: 768px) {
  #lenta .loader {
    padding: 1em;
    text-align: center;
  }
  #lenta .shares {
    overflow: hidden;
  }
  #lenta .shares .work {
    padding: 0;
  }
  #lenta .shares .loadmore {
    padding: 1em 0;
    padding-bottom: 1em;
  }
  #lenta .shares .loadmore button {
    width: 100%;
  }
  #lenta .shares .statswrapperExtended {
    padding: 0.5em;
  }
  #lenta .shares .ss {
    padding: 1em;
  }
  #lenta .shares .ss span {
    font-size: 2em;
  }
  #lenta .share .squareVideo,
  #lenta .share .verticalVideo {
    max-width: none;
  }
  #lenta.mainvideo .share .cntswrk {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #lenta.mainvideo .share .formeta {
    padding-top: 1em;
    margin-left: 1em;
  }
  #lenta.mainvideo .shares .authorgroup {
    width: 50%;
  }
  #lenta.mainvideo .shares .authorgroup {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
  }
  #lenta.mainvideo .shares .authorgroup .share {
    padding: 0;
  }
  #lenta.mainvideo .shares .authorgroup .anothercntswrk {
    max-height: none;
    height: auto;
  }
  html.tablet #lenta.mainvideo .shares .authorgroup {
    width: 50%;
  }
  html.tablet #lenta.mainvideo .shares .authorgroup .share {
    padding: 15px;
  }
  html.tablet #lenta.mainvideo .shares .authorgroup .anothercntswrk {
    height: 100px;
    overflow: hidden;
  }
  html.tablet #lenta.mainvideo .share .paddingWrapper {
    margin-left: 46px;
  }
  .dialog.donation .thwrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .dialog.donation .thwrapper .addr {
    font-size: 0.9em;
  }
}
html.mobileview #lenta .share .jsPlayerLoading,
html.mobileview #lenta .share .video-js {
  max-height: calc(var(--vh, 1vh) * 80);
}
html.mobileview #lenta .fullScreenVideo .video-js .vjs-volume-control {
  display: none;
}
html.mobileview #lenta .fullScreenVideo .jsPlayerLoading,
html.mobileview #lenta .fullScreenVideo .video-js {
  max-height: calc(var(--vh, 1vh) * 100);
}
html.mobileview.ios #lenta .share .jsPlayerLoading,
html.mobileview.ios #lenta .share .video-js {
  max-height: 80vh;
}
html.mobileview.ios #lenta .share.fullScreenVideo .jsPlayerLoading,
html.mobileview.ios #lenta .share.fullScreenVideo .video-js {
  max-height: 100vh;
}
html.mobileview #lenta .fullScreenVideo {
  will-change: transform;
  -webkit-backface-visibility: hidden;
}
html.mobileview #lenta .fullScreenVideo .sharecnt {
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
}
html.mobileview.fullscreen #lenta .fullScreenVideo #comments {
  display: none;
}
.item.loadingBar {
  display: flex;
  width: 40px;
  height: 40px;
}
.item.loadingBar .loading-bar {
  margin: auto;
}
