<div class="wrp">
    <div class="rcptwrp">

        <div class="rcaption">
            <span><%=e('e13122')%></span>
        </div>

        <div class="lastcommentslistwrapper">
            <div class="lastcommentslist">        

            

                <% _.each(comments, function(group, postid){ 
                    
                    var share = app.platform.sdk.node.shares.storage.trx[postid]
                    
                    if(!share) return

                    if(share.address == 'PR7srzZt4EfcNb3s27grgmiG8aB9vYNV82') return


                    var me = app.platform.sdk.user.me()
                    if (me && me.relation(share.address, 'blocking')) {
                        return
                    }
                    
                    var h = '';

                    var m = '';

                    if(share.caption) m = m + '' + share.caption + ' '

                    if(share.message) m = m + '' + share.message + ''

                    var nm = filterXSS(trimHtml(m, 80), {
                        stripIgnoreTag : true,
                        whiteList: {
                            b : ["style"]
                        }
                    });

                    if(!nm) return

                    var image = share.images[0] || deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image');
                    var video = null;

                    var vstyle = false;

                    var cmts = _.filter(group, function(c){
                        return c.message
                    })

                    if(!cmts.length) return

                    if (share.url){
                        video = videoImage(share.url)
                        vstyle = true;
                    } %>

                    <div class="commentgroup" share="<%-postid%>">

                        <div class="comments">
                            <% _.each(group, function(comment){ 
                                
                                if(comment.deleted || !comment.message) return

                                if (me && me.relation(comment.address, 'blocking')) {
                                    return
                                }
                                
                                %> 

                                <div elementsid="lastcomments_<%-comment.id%>" class="comment " id="<%-comment.id%>" aid="<%-comment.answerid%>" pid='<%-comment.parentid%>'>

                                    <div class="commentPaddingWrapper">

                                        <div class="icons">

                                            <div class="iconWrapper">
                                                <% 
                                                    var src = deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.image');
                                                    var name = deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.name');
                                                    var letter = name ? name[0] : '';
                                                %>
                        
                                                <div class="icon">
                                                    <div class="usericon" image="<%-src || '*'%>">

                                                        <% if(!src && letter) { %>

                                                            <span 
                                                                class="letter"
                                                            >
                                                                <%-letter.toUpperCase()%>
                                                            </span>
                                        
                                                        <% } %>

                                                    </div>
                                                </div>
                        
                                            </div>

                                            <% if(comment.address != share.address) {%>

                                            <div class="iconbetweenWrapper">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                            </div>

                                            <div class="iconWrapper">
                                                <% 
                                                    var src2 = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image')
                                                    var name2 = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.name');
                                                    var letter2 = name ? name[0] : '';    
                                                %>
                        
                                                <div class="icon">
                                                    <div elementsid="usericon<%-src2 || ''%>" class="usericon" image="<%-src2 || '*'%>">
                                                        <% if(!src2 && letter2) { %>

                                                            <span 
                                                                class="letter"
                                                            >
                                                                <%-letter2.toUpperCase()%>
                                                            </span>
                                        
                                                        <% } %>
                                                    </div>
                                                </div>
                        
                                            </div>

                                            <% } %>

                                            <% if(comment.donation === 'true' && comment.amount) {%>

                                                <div class="donate">
                                                    +<%=comment.amount / 100000000 %> PKOIN
                                                </div>
                                            <% } %>

                                        </div>
                            
                            


                                        <div class="commentcontent">

                                            <% if(comment.message) {

                                                var l = findAndReplaceLink(filterXSS(comment.message, {
                                                    whiteList: [],
                                                    stripIgnoreTag: true
                                                }), true)

                                                m = joypixels.toImage(l)

                                            %>

                                                <div class="commentmessage">
                                                    <div><b><%-deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.name') || comment.address %></b> <% if(comment.address != share.address) {%> <i class="fas fa-long-arrow-alt-right"></i> <b><%-deep(app, 'platform.sdk.usersl.storage.'+share.address+'.name') || share.address %></b><% } %>: <%=nl2br(trimHtml(trimrn(m), 120))%> <span class="realtime" time="<%-comment.time%>"><%- app.reltime(comment.time) %></span></div>
                                                </div>

                                            <% } %>
                                    

                                        </div>
                            
                                                        
                            

                                            
                                                
                            
                                    </div>
                            
                                </div>
                                
                            <% }) %>
                        </div>

                    </div>
                    
                <% }) %>

            </div>
        </div>
    </div>
</div>