
<div class="rcptwrp">
		<div class="rcaptiontable table">
			<div class="rcaptionWrapper">
				<div class="rcaption">
					<span>Last comments (5)</span>
				</div>
			</div>

		</div>
	</div>
	

	<div class="lastcommentslistwrapper">
		<div class="lastcommentslist">        

		

<% _.each(comments, function(group, postid){ 
    
    var share = app.platform.sdk.node.shares.storage.trx[postid]
    
    var h = '';

    var m = '';

    if(share.caption) m = m + '' + share.caption + ' '

    if(share.message) m = m + '' + share.message + ''

    var nm = filterXSS(trimHtml(m, 40), {
        stripIgnoreTag : true,
        whiteList: {
            b : ["style"]
        }
    });

    //nm = share.renders.xssmessage(nm)


    var image = share.images[0] || deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image');
    var video = null;

    var vstyle = false;

    if (share.url){
        video = videoImage(share.url)
        vstyle = true;
    } %>

    <div class="commentgroup" share="<%-postid%>">

        <div class="sharepreview">
            <div class="shareprwrapper table">

            <% if(video || image){ %>

                <div class="tcell forimage">
                    <div class="img" image="<%-(video || image)%>">

                    <% if(vstyle){ %>
                        <div class="vstyle">
                        <i class="fas fa-play"></i>
                        </div>
                    <% } %>

                    </div>
                </div>

            <% } %>

                <div class="tcell fortext">
                    <div class="sharecaption">
                        <span><%= nm %></span>
                    </div>

                 

                </div>


            </div>
        </div>

        <div class="comments">
            <% _.each(group, function(comment){ %> 

                <div class="comment " id="<%-comment.id%>" aid="<%-comment.answerid%>" pid='<%-comment.parentid%>'>

                    <div class="commentPaddingWrapper">
            
                        <div class="commentWrapper table">
            
                            <div class="iconWrapper">
                                    <% var src = deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.image')  %>
            
                                    <div class="icon">
                                        <div class="usericon" image="<%-src || ''%>">
                                            <% if(!src) {%>
                                                <svg width="30" height="30" data-jdenticon-value="<%-comment.address%>"></svg>
                                            <% } %>
                                        </div>
                                    </div>
            
                            </div>
            
                            <div class="commentBody">
            
                                <div class="metatable table">

                                    <div class="author">
                                        <b><%-deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.name') || comment.address %></b> 
                                    </div>          
                                    
                                    <div class="datecell">
                                        <span><%- convertDate(dateToStr(comment.time)) %></span>
                                    </div>
                                    
                                </div>
            
                                <div class="cbodyWrapper">
            
                                    <div class="commentcontenttable table">
                                        <div class="commentcontent">
            
                                            <% if(comment.message) {
            
                                                var l = findAndReplaceLink(filterXSS(comment.message, {
                                                    whiteList: [],
                                                    stripIgnoreTag: true
                                                }), true)
            
            
                                                
            
                                                m = emojione.toImage(l)

                                            %>
            
                                                <div class="commentmessage">
                                                    <div><%=nl2br(trimHtml(trimrn(m), 120))%></div>
                                                </div>
            
                                            <% } %>
                                    
            
                                        </div>
            
                                        
                                    </div>                                                
            
                                </div>

                                <% 	if(comment.images.length) {
                                    
                                        var image = comment.images[0]
                                    %>
                                    <div class="imagescellwrapper">
                            
                                        <div class="commentimages">
                                            <div class="imagesContainer">
                        
                                                <div class="imagesWrapper">
                                                    <img src="<%-image%>">
                                                </div>
                        
                                            </div>
                                        </div>                                        
                                    
                                    </div>

                                <% } %>
            
                                
                            </div>
            
                        </div>
            
                    </div>
            
                </div>
                
            <% }) %>
        </div>

    </div>
    
<% }) %>

    </div>
</div>