#tagcloud {
  font-weight: 500;
  color: rgb(var(--text-on-main-bg-color));
  overflow: hidden;
}
#tagcloud .tcaptionwrapper {
  padding: 1em;
  padding-top: 1em;
  padding-left: 0;
  border-top: 1px solid rgb(var(--color-medium-theme));
}
#tagcloud .tcaptionwrapper span {
  font-size: 0.8em;
  font-weight: 600;
}
#tagcloud .tcaptionwrapper i {
  font-size: 0.6em;
}
#tagcloud .tcaptiontable {
  width: auto;
}
#tagcloud .tcaptiontable > div.tcaption {
  padding-right: 1em;
}
#tagcloud .tcaptiontable > div.ticon {
  cursor: pointer;
  width: 33px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#tagcloud .tcaptiontable > div.mlab {
  opacity: 0.5;
  width: 33px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#tagcloud .tcaptiontable > div.mlab span {
  font-weight: 100;
  font-size: 0.8em;
}
#tagcloud .tcaptiontable > div.cleartags {
  display: none;
}
#tagcloud .tcaptiontable > div.cleartags.showed {
  display: table-cell;
}
#tagcloud .tag {
  font-size: 0.9em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#tagcloud .tag > div {
  vertical-align: middle;
  padding-left: 0;
}
#tagcloud .tag > div.tagvalue {
  padding: 4px 8px;
  padding-top: 2px;
  width: auto;
  border: 1px solid rgb(var(--color-medium-theme));
  margin: 4px 4px 0 0;
  border-radius: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  white-space: nowrap;
}
#tagcloud .tag > div.tagvalue span,
#tagcloud .tag > div.tagvalue i {
  font-size: 0.8em;
}
#tagcloud .tag > div.iconWrapper i {
  font-size: 0.6em;
}
#tagcloud .tag > div.tagvalue {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#tagcloud .tag > div.tagcount {
  width: 90px;
  text-align: right;
  font-weight: 700;
}
#tagcloud .tag > div.tagsearch,
#tagcloud .tag > div.tagcheck {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  text-align: center;
  width: 44px;
  cursor: pointer;
  opacity: 0.2;
}
#tagcloud .tag > div.tagsearch i,
#tagcloud .tag > div.tagcheck i {
  font-size: 0.8em;
}
#tagcloud .tag > div.tagsearch {
  width: 33px;
  opacity: 0;
}
#tagcloud .ta .tg {
  display: inline-block;
}
#tagcloud .ta .tg.hdn {
  display: none;
}
#tagcloud.showedalltags .showalltags {
  display: none;
}
#tagcloud.showedalltags .hidealltags {
  display: block;
}
#tagcloud.showedalltags .ta .tg {
  display: inline-block;
}
#tagcloud.showedalltags .ta .tg.hdn {
  display: inline-block;
}
#tagcloud .tg .selected {
  display: none;
}
#tagcloud .tg.selected {
  color: rgb(var(--color-txt-orange));
}
#tagcloud .tg.selected .unselected {
  display: none;
}
#tagcloud .tg.selected .selected {
  display: inline-block;
}
#tagcloud .tg.selected .tag > div {
  border: 1px solid rgb(var(--color-txt-orange));
}
#tagcloud .tg.selected .tag > div.tagcheck {
  opacity: 1;
}
#tagcloud .tg.fixed {
  opacity: 0.5;
  pointer-events: none;
}
#tagcloud .hidealltags,
#tagcloud .showalltags {
  padding: 1em;
  padding-bottom: 2em;
  padding-left: 0;
  cursor: pointer;
  color: rgba(var(--color-txt-gray), 0.7);
  border-bottom: 1px solid rgba(var(--color-medium-theme), 0.5);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#tagcloud .hidealltags span,
#tagcloud .showalltags span,
#tagcloud .hidealltags i,
#tagcloud .showalltags i {
  font-size: 0.8em;
}
#tagcloud .hidealltags .text,
#tagcloud .showalltags .text {
  margin-left: 0.5em;
}
#tagcloud .showalltags {
  display: block;
}
#tagcloud .hidealltags {
  display: none;
}
@media (pointer: fine) {
  #tagcloud .tcaptiontable > div.ticon:hover i {
    color: rgb(var(--color-txt-ac));
  }
  #tagcloud .tcaptiontable > div.mlab:hover {
    opacity: 1;
    color: rgb(var(--color-bad));
  }
  #tagcloud .tcaptiontable > div.mlab:hover .tagvalue {
    border: 1px solid rgb(var(--color-bad));
  }
  #tagcloud .tag > div.tagvalue:hover {
    color: rgb(var(--color-txt-ac));
    border: 1px solid rgb(var(--color-txt-ac));
  }
  #tagcloud .tag > div.tagsearch:hover,
  #tagcloud .tag > div.tagcheck:hover {
    color: rgb(var(--color-txt-ac));
  }
  #tagcloud .tag > div.tagsearch:hover .tagvalue,
  #tagcloud .tag > div.tagcheck:hover .tagvalue {
    border: 1px solid rgb(var(--color-txt-ac));
  }
  #tagcloud .tag:hover .tagvalue > div.tagcheck,
  #tagcloud .tag:hover .tagvalue > div.tagsearch {
    opacity: 1;
  }
  #tagcloud .hidealltags:hover,
  #tagcloud .showalltags:hover {
    color: rgb(var(--color-txt-ac));
  }
}
@media only screen and (max-width: 768px) {
  #tagcloud .tcaptionwrapper {
    border-top: 0;
  }
  #tagcloud .tcaptiontable > div.mlab span {
    font-size: 1em;
  }
  #tagcloud .tag {
    font-size: 1em;
  }
  #tagcloud .tag > div.tagvalue {
    padding-top: 4px;
    margin: 4px 4px 0 0;
  }
  #tagcloud .tag > div.tagvalue span,
  #tagcloud .tag > div.tagvalue i {
    font-size: 1em;
  }
  #tagcloud .tag > div.iconWrapper i {
    font-size: 0.8em;
  }
  #tagcloud .tag > div.tagsearch i,
  #tagcloud .tag > div.tagcheck i {
    font-size: 1em;
  }
  #tagcloud .hidealltags,
  #tagcloud .showalltags {
    border-bottom: 0;
  }
  #tagcloud .hidealltags span,
  #tagcloud .showalltags span,
  #tagcloud .hidealltags i,
  #tagcloud .showalltags i {
    font-size: 1em;
  }
}
