#toppanel {
  display: none;
  width: 100%;
  height: 45px;
  background: rgb(var(--background-secondary-theme));
  white-space: nowrap;
}
#toppanel .rightchatspacer {
  height: 100%;
}
#toppanel .work {
  width: 95%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
  padding-right: 0;
}
#toppanel .panelitems {
  height: 100%;
}
#toppanel .panelitems .panelItemsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#toppanel .panelitems .panelitem {
  width: 120px;
  font-size: 0.8em;
  line-height: 45px;
  float: left;
  color: rgb(var(--neutral-grad-3));
}
#toppanel .panelitems .panelitem.icon {
  width: 44px;
  text-align: center;
}
#toppanel .panelitems .panelitem.right {
  margin-right: 0;
  float: right;
  text-align: right;
}
#toppanel .panelitems .panelitem .vc_textInput.table {
  line-height: 36px;
}
#toppanel .filtersbuttonwrapper {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
}
#toppanel .filtersbuttonwrapper button {
  width: 100%;
}
#toppanel .vc_valuecustom {
  width: 100%;
  height: 55px;
}
#toppanel .vc_valuecustom .vc_inputWrapper {
  padding-left: 1em;
}
#toppanel .vc_valuecustom .vc_iconWrapper {
  width: 48px;
  padding-right: 0;
}
#toppanel .vc_valuecustom .vc_textInput {
  border: 0;
  background: transparent;
  border-radius: 0;
}
#toppanel .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#toppanel .vc_valuecustom .vc_textInput .vc_inputWrapper input {
  opacity: 1!important;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 55px;
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 0.5em;
}
#toppanel .vc_valuecustom .vc_textInput .vc_inputWrapper input[disabled="disabled"] {
  opacity: 1;
}
#toppanel .vc_valuecustom .vc_textInput .vc_iconWrapper {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0;
  color: rgb(var(--text-color));
}
#toppanel .vc_valuecustom.opened .vc_textInput .vc_inputWrapper {
  border: 0;
}
#toppanel .vc_valuecustom.opened .vc_textInput .vc_inputWrapper input {
  border-bottom-left-radius: 0;
}
#toppanel .vc_valuecustom.opened .vc_textInput .vc_iconWrapper {
  border-bottom-right-radius: 0;
}
#toppanel .vc_valuecustom.opened .vc_selectInput_bg_mobile {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--color-shadow-base), 0.1);
}
#toppanel .vc_valuecustom.opened .vc_selectInput {
  position: fixed;
  top: 55px;
}
#toppanel .vc_valuecustom .vc_selectInput {
  border: 0;
  max-height: 400px;
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#toppanel .vc_valuecustom .vc_selectInput .vc_value {
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
}
@media only screen and (max-width: 768px) {
  #toppanel .work {
    width: 100%;
    padding-right: 1.5em;
  }
  #toppanel .panelitems .panelitemCenter {
    margin-left: 0;
    margin-right: 0;
  }
  html.allcontent #toppanel {
    display: none;
  }
  #toppanel {
    display: block;
    height: 55px;
  }
  #toppanel .work {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
