<div id="<%-module.map.id%>">
  <section class="result-section hidden activeOnRolled">
    <header class="upload-header activeOnRolled">
      <div class="logo-container">
        <img src="img/logo201.png" />
      </div>
      <div><span><%- e('streamLinks') %></span></div>
    </header>

    <section class="main-content-section">
      <div class="upload-field-container">
        <label for="result-video-rtmp"><%- e('linkRTMP') %>:</label>
        <input
          type="text"
          class="result-video-rtmp result-video-info copyStreamInfo"
          id="result-video-rtmp"
          readonly
          linkType="result-video-rtmp"
        />

        <span class="type-error-field name-type-error"></span>
      </div>
      <div class="upload-field-container">
        <label for="result-video-streamKey"><%- e('linkStreamKey') %>:</label>

        <input
          type="text"
          class="result-video-streamKey result-video-info copyStreamInfo"
          id="result-video-streamKey"
          linkType="result-video-streamKey"
          readonly
        />

        <span class="type-error-field name-type-error"></span>
      </div>

      <div
        class="stream-warning-section tooltip"
        title="<%- e('streamSettingsWarn') %>"
      >
        <i class="fas fa-question-circle"></i>
        <%- e('capitalWarning') %>
      </div>

      <div class="closewindow">
        <button class="button medium closewindowaction"><%- e('close') %></button>
      </div>
    </section>
  </section>

  <section class="preloader-section hidden">
    <div class="sLoader">
      <div class="prwrapper">
        <div class="prwrappermiddle">
          <div><%- e('streamCreating') %></div>
          <div class="preloader5"><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
  </section>
</div>
