<div id="<%-module.map.id%>" class="<% if(ed.minimize) {%> minimize <% } %>">
	<div class="work">

		

		<div class="osparts">

			<div class="devparts" >
				<div class="caption"><%= e('downloadMobileApp') %> </div>
	
				<div class="flbx">
	
					<div class="extraos" id="android"></div>
						
							<div class="os">
								<a elementsid="https://play.google.com/store/apps/details?id=pocketnet.app" href="https://play.google.com/store/apps/details?id=pocketnet.app">
									<div class="stepTable">
										<div class="numberWr">
											<div class="icon">
												<i class="fab fa-android"></i>
											</div>
										</div>
	
										<div class="stepContent">
											
											<div class="subcaption">
												Android
											</div>
	
	
											<div class="panel">
												<div class="item">
													
														<button elementsid="installbastyonforandroid" class="button ghost"><%-app.meta.fullname%> for Android</button>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
					</div>
				</div>
	
			</div>

			<div class="caption"><%= e('downloadDesctApp') %> </div>

			<div class="flbxDskt" >
					<div class="one-column">
						<a href="https://github.com/pocketnetteam/pocketnet.gui/releases/download/v0.4.112/PocketnetSetup.exe">Windows</a>
					</div>

					<div class="one-column">
						<a href="https://github.com/pocketnetteam/pocketnet.gui/releases/download/v0.4.112/Pocketnet.AppImage">Linux</a>
					</div>

					<div class="one-column">
						<a href="https://github.com/pocketnetteam/pocketnet.gui/releases/download/v0.4.112/PocketnetSetup.dmg">MacOS</a>
					</div>
			</div>
			
			

		</div>

		
	</div>

</div>