<div id="<%-module.map.id%>" class="<% if(ed.minimize) {%> minimize <% } %>">

	<div class="osparts">

		<div class="caption">Download <%-app.meta.fullname%> for desktop</div>
		
		<div class="flbx">

			<div class="currentos"></div>
			<div class="extraos" id="windows"></div>	
			<div class="extraos" id="macos"></div>
			<div class="extraos" id="linux"></div>

		</div>

	</div>

	<div class="devparts">
		<div class="caption">Install Mobile Application</div>

		<div class="flbx">

			<div class="extraos" id="android"></div>
				
					<div class="os">
						<a href="https://play.google.com/store/apps/details?id=pocketnet.app">
							<div class="stepTable">
								<div class="numberWr">
									<div class="icon">
										<i class="fab fa-android"></i>
									</div>
								</div>

								<div class="stepContent">
									
									<div class="subcaption">
										Android
									</div>


									<div class="panel">
										<div class="item">
											
												<button class="button ghost"><%-app.meta.fullname%> for Android</button>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
			</div>
		</div>

	</div>

</div>