<div id="<%-module.map.id%>" class="<% if(ed.minimize) {%> minimize <% } %> <% if(typeof re != 'undefined' && re) {%> re <% } %>">
	
	<div class="disclaimerWrapper">
		<div class="text">
			<span><%- e('appsdisclaimer') %></span>
		</div>
	</div>

	<div class="fortaBanner">
		<div class="fortaBannerInner">
			<div class="fortaBannerImage">
				<img src="img/forta_chat_banner.png">
			</div>
			<div class="fortaBannerContent">
				<div class="fortaBannerTitle">
					<span>Forta Chat</span>
				</div>
				<div class="fortaBannerText">
					<span><%- e('fortaBannerDesc') %></span>
				</div>
				<div class="fortaBannerButtons">
					<div>
						<button class="downloadOsStyle fortaDownloadApk"><%- e('downloadapk') %></button>
					</div>
					<div>
						<a href="https://forta.chat" target="_blank">
							<button class="downloadOsStyleAlt fortaVisitSite"><%- e('fortaVisitSite') %></button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mainWrapper">
		<div class="mainos"></div>
	</div>
	
	
	<div class="work">

		<div class="oss">

		</div>
	</div>

</div>