<% if(!last) {%>
    <div elementsid="applications_downloadOs" class="os downloadOs">
        <div class="stepTable">
            <div class="numberWr">
                <div class="icon">
                    <%= os.icon %>
                </div>
            </div>

            <div class="stepContent">
                
                <div class="subcaption">
                    <%- os.text.name %>
                </div>


                <div class="panel">
                    <div class="item">
                        <button elementsid="download<%- os.text.name %>" class=" ghost"><%- os.text.label %> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>