    <% _.each(oss, function(os){ %> 
        
        <div osid="<%-os.id%>" class="os">

            <% if(os.image) {%> 
                <div class="osimage">
                    <img src="img/<%- os.image %>">
                </div>
            <% } %>

            <div class="icon">
                <%= os.icon %>
            </div>

            <div class="data">
                <div class="subcaption">
                    <span><%- os.text.name %></span>
                </div>

                <div class="label">
                    <span><%- os.text.label %></span>
                </div>

                <div class="downloadcaption">
                    <span><%- os.text.download %></span>
                </div>

                <div class="buttonWrapper">
                    <% if(os.href) {%>
                        
                        <a href="<%-os.href%>">
                            <button elementsid="download<%- os.text.name %>" class="downloadOsStyle"><%- e('download') %></button>
                        </a>
                       
                    <% } else { %> 
                        <button elementsid="download<%- os.text.name %>" class=" downloadOs downloadOsStyle"><%- e('download') %></button>
                    <% } %>
                    
                </div>
            </div>
            
        </div>
        
    <% }) %>