<div id="<%-module.map.id%>">
    
    <main>

        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1><%= e('aboutMainBoard') %></h1> 
                    
                    <h3><%= e('aboutMainBoard1') %></h3>
                </div>
                <div class="img-main-block">
                    <img src="img/about/VS-11.png" alt="">
                </div>                
            </div>
        </section>

        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <%= e('aboutTwitterMainDescriptionText1') %> <br>
                        <%= e('aboutTwitterMainDescriptionText2') %>
                    </div>  
                    <div class="text">
                        <%= e('aboutTwitterMainDescriptionText3') %>                        
                        <div class="extra-text">
                            <%= e('aboutTwitterMainDescriptionText4') %>                 
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="text-point">
                        <div class="one-text-point">
                        <i class="fas fa-check"></i>
                        <%= e('aboutTwitterMainDescriptionText5') %> 
                        </div>
                        <div class="one-text-point">
                        <i class="fas fa-check"></i>
                        <%= e('aboutTwitterMainDescriptionText6') %>
                        </div>
                        <div class="one-text-point"> 
                        <i class="fas fa-check"></i>
                        <%= e('aboutTwitterMainDescriptionText7') %>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="description-three-column">
            <div class="main-wrapper">
                <div class="one-column">
                    <p>
                        <%= e('aboutTwitterThreeColumn1') %>
                    </p>    
                    <p>
                        <%= e('aboutTwitterThreeColumn2') %>
                    </p>
                    
                </div>  
                <div class="one-column">
                    <p>
                        <%= e('aboutTwitterThreeColumn3') %>
                    </p>
                    <p>
                        <%= e('aboutTwitterThreeColumn4') %>
                    </p>
                </div> 
                <div class="one-column">
                    <P>
                        <%= e('aboutTwitterThreeColumn5') %>
                    </P>                   
                </div>             
            </div>            
        </section>
        <section class="table"> 
            <div class="main-wrapper">
                
                <table>
                    <tr>
                        <th style="border:none"></th>
                        <th><%= e('aboutTitterTable1') %> </th>
                        <th><%= e('aboutTitterTable2') %></th>
                    </tr>
                    <!-- <tr>
                        <td colspan="2" class="table-center"><%= e('aboutTitterTable3') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutTitterTable3') %></td>
                        <td><%= e('aboutTitterTable4') %></td>
                        <td><%= e('aboutTitterTable5') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2">
                            <%= e('aboutTitterTable6') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable6') %></td>
                        <td><%= e('aboutTitterTable7') %></td>
                        <td><%= e('aboutTitterTable8') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2">
                            <%= e('aboutTitterTable9') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable9') %></td>
                        <td><%= e('aboutTitterTable10') %></td>
                        <td><%= e('aboutTitterTable11') %> </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable12') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable12') %></td>
                        <td><%= e('aboutTitterTable13') %></td>
                        <td><%= e('aboutTitterTable14') %></td>
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable15') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable15')%></td>
                        <td><%= e('aboutTitterTable16') %></td>
                        <td><%= e('aboutTitterTable17') %></td>
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable18') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable18') %></td>
                        <td><%= e('aboutTitterTable19') %></td>
                        <td><%= e('aboutTitterTable20') %></td>
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable21') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable21') %></td>
                        <td><%= e('aboutTitterTable22')%></td>
                        <td><%= e('aboutTitterTable23') %></td>
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable24') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable24') %></td>
                        <td><%= e('aboutTitterTable25') %></td>
                        <td><%= e('aboutTitterTable26') %></td>
                    </tr> 
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable27') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable27') %></td>
                        <td><%= e('aboutTitterTable28') %></td>
                        <td><%= e('aboutTitterTable29') %></td>
                    </tr>
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable30') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable30') %></td>
                        <td><%= e('aboutTitterTable31') %></td>
                        <td><%= e('aboutTitterTable32') %></td>
                    </tr>
                    <!-- <tr>
                        <td class="table-center" colspan="2"><%= e('aboutTitterTable33') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutTitterTable33') %></td>
                        <td><%= e('aboutTitterTable34') %></td>
                        <td><%= e('aboutTitterTable35') %></td>
                    </tr>
                     
                </table> 
            </div>           
        </section>


        <!-- <section class="banned-acc">
            <div class="main-wrapper">
                <div class="content">
                    <h2>                        
                        <%= e('aboutTitterBannedAcc1') %>

                    </h2>
                    <div class="table">

                        <h4>
                            <%= e('aboutTitterBannedAcc2') %>
                            
                        </h4>
                        <p><%= e('aboutTitterBannedAcc3') %><a href="https://en.wikipedia.org/wiki/Twitter_suspensions">
                            <%= e('aboutTitterBannedAcc4') %>
                                
                            </a></p>
                        <table>
                            <tr>
                                
                                <th><%= e('aboutTitterBannedAcc5') %></th>
                                <th><%= e('aboutTitterBannedAcc6') %></th>
                                <th><%= e('aboutTitterBannedAcc7') %></th>
                                <th><%= e('aboutTitterBannedAcc8') %></th>
                                <th><%= e('aboutTitterBannedAcc9') %></th>
                                <th><%= e('aboutTitterBannedAcc10') %></th>
                            </tr>
                            
                            <tr>
                                <td ><%= e('aboutTitterBannedAcc11') %></td>
                                <td><%= e('aboutTitterBannedAcc12') %></td>
                                <td><%= e('aboutTitterBannedAcc13') %></td>
                                <td><%= e('aboutTitterBannedAcc14') %></td>
                                <td><%= e('aboutTitterBannedAcc15') %></td>
                                <td></td>
                                
                            </tr> 
                            
                            
                     
                        </table>                         
                    </div>
                </div>
            </div>
        </section> -->
        <section class="h3-section">
            <div class="main-wrapper">
                <h3><%= e('aboutTitterH3Section1') %></h3>
                <div>
                    <div>
                        <h4><%= e('aboutTitterH3Section2') %></h4>
                        <p><%= e('aboutTitterH3Section3') %>
                        </p>
                    </div>
                    <div>
                        <h4><%= e('aboutTitterH3Section4') %></h4>
                        <p><%= e('aboutTitterH3Section5') %></p>
                    </div>
                </div>
            </div>          
        </section>
        <section class="img-and-text">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutTitterImgAndText1') %>
                        </h2>
                        <p>
                            <b> 
                                <%= e('aboutTitterImgAndText2') %> 
                            </b> 
                        </p>
                        <p>
                            <%= e('aboutTitterImgAndText3') %>
                        </p>
                        <p>
                            <%= e('aboutTitterImgAndText4') %>
                        </p>
                        <p>
                            <%= e('aboutTitterImgAndText5') %>
                        </p>
                    </div>
                    <div class="img">
                         <img src="img/about/freedom.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutTitterImgAndText6') %>
                        </h2>
                        <p>
                            <%= e('aboutTitterImgAndText7') %>
                        </p>                        
                    </div>
                    <div class="img">
                         <img src="img/about/CENSORSHIP.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutTitterImgAndText8') %>
                        </h2>
                        
                          
                        <ol>
                            <li><%= e('aboutTitterImgAndText9') %></li>
                            <li><%= e('aboutTitterImgAndText10') %></li>
                            <li><%= e('aboutTitterImgAndText11') %></li>
                            <li><%= e('aboutTitterImgAndText12') %></li>
                            <li><%= e('aboutTitterImgAndText13') %></li>
                            <li><%= e('aboutTitterImgAndText14') %></li>
                        </ol>
                    </div>
                    <div class="img">
                         <img src="img/about/personal-info.jpg" alt="">
                    </div>
                </div>
                
            </div>
         </section>
        
        
        <section class="main-board-3 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2><%= e('aboutTitterMainBoard31') %></h2>
                    <h3><%= e('aboutTitterMainBoard32') %></h3>
                    <p><%= e('aboutTitterMainBoard33') %><b> PKOIN.</b></p>
                    <p><%= e('aboutTitterMainBoard34') %></p>
                    <p><%= e('aboutTitterMainBoard35') %>
                    </p>
                    <p><%= e('aboutTitterMainBoard36') %></p>
                    <p><%= e('aboutTitterMainBoard37') %></p>
                    
               
            </div>
        </section>

       
       
       
    </main>   


</div>
