<div id="<%-module.map.id%>">
    <header>
        <div class="main-wrapper">            
            <nav class="main-menu">
                <ul>
                    <li><a href="https://bastyon.com/">Home</a></li>
                    <li><a href="#services-link">Services</a></li>
                    <li><a href="#works-link">How it works</a></li>
                    <li><a href="#team-link">Team</a></li>
                    <li><a href="#blog-link">Our blog</a></li>
                    <li><a href="#contact-link">Contact</a></li>
                </ul> 
            </nav>
        </div>
    </header>
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>Bastyon, The best alternative to Twitter. Leave behind the bans and suspensions.</h1>
                    <h3>Free, private and secure social network</h3>                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        Some people ask us: <br>
                        "Why should I use Bastyon?"
                    </div>  
                    <div class="text">
                        The real question is:
                        <div class="extra-text">
                            "Why should you use Twitter?!"
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="text-point">
                        <div class="one-text-point"> - TWITTER IS ACTING LIKE A DICTATORSHIP GOVERNMENT</div>
                        <div class="one-text-point"> - Yes, we know that this is a strong statement.</div>
                        <div class="one-text-point"> - But unfortunately, this is what has been happening on Twitter.</div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="description-three-column">
            <div class="main-wrapper">
                <div class="one-column">
                    <p>
                        Many, way too many accounts have been banned in the past few years.
                        Some of them without any reason.
                    </p>    
                    <p>
                        Others just because they were from a specific political side (conservative)
                    </p>
                    
                </div>  
                <div class="one-column">
                    <p>
                        Here below you can find a short list of accounts that have been banned or suspended by Twitter, along with the reason.
                    </p>
                    <P>
                        You can make your own considerations: you can easily realize how Twitter has been banning people for several unspecified reasons, for simply saying that the leader of Talibans was pro-sharia, for supporting the "Occupy" movement without breaking any policy.
                    </P>
                       
                </div> 
                <div class="one-column">
                    <P>
                        This is the kind of censorship that we do not want on Bastyon,
                        and this is the type of limitations people should be fight against.
                    </P>                   
                </div>             
            </div>
            
        </section>

        <section class="banned-acc">
            <div class="main-wrapper">
                <div class="content">
                    <h2>                        
                        Building a community on Twitter is
                        like building a home on a land you don't own.
                    </h2>
                    <div class="table">

                        <h4>
                            Click here to see the list of the accounts banned by Twitter in 2019
                        </h4>
                        <p>Source: <a href="https://en.wikipedia.org/wiki/Twitter_suspensions">Wikipedia</a></p>
                        <table>
                            <tr>
                                
                                <th>Individual/account</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Reason for suspension</th>
                                <th>Followers at the time of suspension</th>
                            </tr>
                            
                            <tr>
                                <td >“Darren Mills” </td>
                                <td>Russian-linked account </td>
                                <td>43285</td>
                                <td>Permanent</td>
                                <td>Unmasked as a fictitious person operated by a Russian troll factory.</td>
                                <td></td>
                                
                            </tr> 
                            
                            
                     
                        </table>                         
                    </div>
                </div>
            </div>
        </section>
        <section class="h3-section">
            <div class="main-wrapper">
                <h3>Why Bastyon?</h3>
                <div>
                    <div>
                        <h4>NO GOVERNMENT CONTROL</h4>
                        <p>Bastyon runs on a network of nodes that no government can block or limit. Even if the main website Bastyon.com is made unaccessible or compromised, the platform still runs normally. A government cannot impose its censorship or limitations on Bastyon.
                        </p>
                    </div>
                    <div>
                        <h4>PRIVATE AND SECURE</h4>
                        <p>Bastyon does not collect any personal information. No IP Address, no email, no phone number. We believe in real privacy protection and data security.</p>
                    </div>
                </div>
            </div>          
        </section>
        <section class="img-and-text">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                         <h2>
                            NO CENSORSHIP
                        </h2>
                        <p>
                            <b> 
                                Bastyon will not censor your posts and videos. Not even admins can block your account and ban you. 
                            </b> 
                        </p>
                        <p>
                            Unlike Twitter, Bastyon does not apply a dictatorship-like method to remove content and users. There is a loooong list of people that have been banned, temporarily or permanently, by Twitter for shallow reasons or for no apparent reason at all.
                        </p>
                        <p>
                            On Bastyon bans are simply impossible: it is based on the blockchain and no one has the power to cancel a block from it. Every post will always remain there.
                            Even if an admin or a user wants to ban your posts, he will never be able to do so.
                        </p>
                        <p>
                            Censorship is banned by the technology itself.
                            Even if one day Bastyon's creators want to shut down the platform, the posts will always be there and the social network can be re-created again from the same point it was left.
                        </p>
                    </div>
                    <div class="img">
                         <img src="img/aboutTwitter/freedom.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            NO COMPANY BEHIND BASTYON
                        </h2>
                        <p>
                            Unlike Twitter and the main Social Networks, there is no company behind Bastyon. It is an open source project. This means that there is no company that can control the contents posted on Bastyon. No bans, no censorship.
                        </p>                        
                    </div>
                    <div class="img">
                         <img src="img/aboutTwitter/NO-COMPANY-BEHIND-BASTYON.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            Unlike Twitter...
                        </h2>
                        <p>
                            <p>
                                1. You will never be blocked or banned for simply supporting your ideas, religions, movements without hurting other people.
                            </p>
                            <p>2. No one can block your account or remove your posts</p>
                            <p>3. Privacy is complete and guaranteed</p>
                            <p>4. Access is always possible from any country and region of the world</p>
                            <p>5. Chat sessions are entirely private and encrypted and not even Bastyon can access them. Not even with a court warrant.</p>
                            <p>6. Your posts can be longer</p>                            
                        </p>
                        
                    </div>
                    <div class="img">
                         <img src="img/aboutTwitter/Unlike-Facebook.jpg" alt="">
                    </div>
                </div>
                
            </div>
         </section>
        <!-- <section class="main-board-2 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2>Bastyon - the best alternative to YouTube</h2>
                    <p>Your personal data is not sold to external companies</p>
                    <p>No one can block your account or remove your videos and subscribers</p>
                    <p>Privacy is complete and guaranteed
                    </p>
                    <p>Access is always possible from any country and region of the world. For you to post videos and for your subscribers to watch them.</p>
                    <p>Bastyon will not remove your subscribers, videos and money!</p>
                    <p>You will never get DEMONETIZED. You can talk about everything, freedom of speech is real.</p>
                    <p>You will get pay WAY MORE to post your videos!</p>
               
            </div>
        </section>  -->
        <section class="table"> 
            <div class="main-wrapper">
                
                <table>
                    <tr>
                        
                        <th>TWITTER </th>
                        <th>BASTYON</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">Personal privacy</td>
                    </tr>
                    <tr>
                        <td class="right">Nah </td>
                        <td>Completely protected. No tracking of IP, websites visits, email address, phone number.</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Chat Encryption</td>
                    </tr>
                    <tr>
                        <td class="right">None</td>
                        <td>Yes. 1 to 1 chats are entirely encrypted without any possibility for Bastyon to decrypt the messages. No "master key" available (unlike WhatsApp), no way to monitor users' messages.</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Availability</td>
                    </tr>
                    <tr>
                        <td>Some countries block or limit access to Twitter. Some countries actively monitor what users write on Facebook. 
                        </td>
                        <td>Always, in every country, even without the need of a VPN.</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Account risks blocks and bans </td>
                    </tr>
                    <tr>
                        <td class="right">YES, for many reasons. Blasphemy, Religion, Politics, Science... Even Trump's account is blocked. Hundreds of famous people have been banned, too. </td>
                        <td>No. No one, not even Bastyon admins can block or ban accounts.</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Reporting posts</td>
                    </tr>
                    <tr>
                        <td>YYES, Twitter's algorithms analyze the posts and remove or block them automatically. In addition Twitter can remove posts and ban users at its sole discretion. 
                        They have a dictatorship-like management. Many people got banned just because of their political views (some were considered "potentially dangerous" based on alleged rumors). </td>
                        <td>YES, only users with a high reputation can report post and a post is made "invisible" on the feed page (but remains available on the user's profile page) only if several tens of high reputation users report it (reports can be made only for racism, hate speech and pornography)
                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Posts limitations</td>
                    </tr>
                    <tr>
                        <td class="right">280 characters</td>
                        <td>Variable, approx 2000 characters</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Hashtags to classify posts</td>
                    </tr>
                    <tr>
                        <td class="right">YES</td>
                        <td>YES</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Video posts</td>
                    </tr>
                    <tr>
                        <td class="right">YES</td>
                        <td>YES, and highly rewarded. Up to 1,000 $ for 15,000 views + 1,250 "5 stars" reactions</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">Dictatoriship bans</td>
                    </tr>
                    <tr>
                        <td class="right">Way too many!</td>
                        <td>NO!</td>
                        
                    </tr>
                     
                </table> 
            </div>           
        </section>
        <section class="main-board-3 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2>And there's more!
                    Bastyon pays you.</h2>
                    <h3>You can earn money with Bastyon. </h3>
                    <p>Bastyon uses its own Cryptocurrency: <b>PKOIN.</b></p>
                    <p>Each time your posts and videos receive comments and likes, you get PKOIN.</p>
                    <p>Each time one of your videos gets 15,000 views + 1,250 reactions, you get 1,000 $ in PKOIN (you can convert them in USD!). THIS IS A LIMITED TIME OFFER!!!
                    </p>
                    <p>Each time someone joins Bastyon with your referral link, you get PKOIN.</p>
                    <p>Contact us to learn more and to activate your account as “CREATOR” so that you can post unlimited videos and get paid!</p>
                    
               
            </div>
        </section>




        


        <section class="open">

            <div class="main-wrapper">
                
                <div class="content">
                    
                    <div class="discover">
                        <h2>Discover Bastyon</h2>
                        <p>You can use Bastyon from your browser or dowload the mobile and desktop app.</p>

                        <div class="one-item">

                            <div>
                                <a href="https://bastyon.com/">
                                    <img src="img/aboutTwitter/LOGO bastyon.png" alt="">
                                    <p>Official Website</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-windows"></i>
                                <p>Windows</p>
                                </a>
                            </div>                            

                            <div>
                                <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                                <i class="fab fa-google-play"></i>
                                <p>Android</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/">
                                <i class="fab fa-github"></i>
                                <p>MacOS</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-linux"></i>
                                <p>Linux/ Ubuntu</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-apple"></i>
                                <p>Source Code</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="discover">

                        <h2>Contact us</h2>
                        <p>Send us a message if you need help or if you are a content creator, blogger, influencer and would like to unlock your bonus and verify your profile!</p>

                        <div class="one-item">

                            <div class="text">
                                <p>email:<a href="mailto:support@pocketnet.app">support@pocketnet.app</a></p>
                                <p>Twitter:<a href="https://twitter.com/OfficialBastyon">@OfficialBastyon</a></p>
                                <!-- <a href="https://bastyon.com/">
                                <img src="img/aboutTwitter/LOGO bastyon.png" alt="">
                                <p>Official Website</p>
                                </a> -->
                            </div>

                        
                    </div>

                </div>



            </div>
            
        </section>

        
       
       
    </main>
   <!--  <footer>
        <div class="main-wrapper">
            <img src="img/aboutTwitter/footer-logo.png">
            <div class="social-cont">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p>Misma 2019 All Rights Reserved Papa</p>
        </div>
    </footer> -->
</div>
