<% _.each(users, function(author){ 
    
    
    var name = app.platform.api.name(author.address) 
    var letter = name ? name[0] : '';


    var about = filterXSS(clearScripts((findAndReplaceLink(author.about, true))));

    var _d = author.regdate
    var  d = null;

    if (_d) {
        d = new Date();
        d.setTime(_d * 1000);	
    }

    %>

    <div class="userinfo">

        <a elementsid="shareaddresslink" href="<%-app.platform.api.authorlink(author.address)%>">

            <div class="icon">
                <% var src = deep(author, 'image')  %>
                <div class="usericon" image="<%-src || '*'%>">

                    <% if(!src && letter) {%>

                        <span class="letter">
                            <%-letter.toUpperCase()%>
                        </span>

                    <% } else if (!src) { %>

                        <i class="far fa-user"></i>

                    <% } %>

                </div>
            </div>

            <div class="nameinfo">

                <div class="name">
                    <span class="adr"><%-(name || author.address)%></span>
                </div>

                <% if(ed.openprofilebutton && !app.curation()) { %>

                    <a href="<%-app.platform.api.authorlink(author.address)%>">

                        <div class="openprofilebuttonwrapper">
                            <button class="button openprofilebutton">
                                <%= e('gotoProfile2') %>
                            </button>
                        </div>

                    </a>

                <% } %>

                
                <% if(ed.followbutton && !app.curation()) { %>


                    <div class="subscribeWrapper">

                        <% if(author.following) { %>

                            <button class="unsubscribeButton">
                                <%=e('unfollow') %>
                            </button>

                        <% } else { %>

                            <button class="subscribeButton">
                                <%=e('follow') %>
                            </button>
                            
                        <% } %>

                    </div>

                <% } %>

                <div class="panel">
                    <% _.each(reports, function(report){ %> 
                    
                    
                        <div class="usermenuitem" menuitem="<%-report.id%>">
                        
                                <span class="rname"><%-report.name%></span>
                                <%=report.icon%> 
                                <span class="count">
                                    <% if(report.count) {%>
                                        <%-report.count(author) || 0%>
                                    <% } %>
                                </span>
                    
                            
                        </div>
                        
                    <% }) %>
                </div>

            </div>

        </a>

        
    </div>

<% }) %>