#videoCabinet {
  min-height: 600px;
  background: transparent;
  padding-bottom: 4em;
}
#videoCabinet .videosWrapper {
  display: flex;
  flex-direction: column;
}
#videoCabinet .preloaderwr {
  padding: 1em;
}
#videoCabinet .videoErrorBody {
  margin-top: 1em;
}
#videoCabinet .buttonwrapper {
  margin-top: 1.5em;
}
#videoCabinet .buttonwrapper button {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
#videoCabinet .singleVideoSection {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 1em 0;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  font-size: 1.1em;
}
#videoCabinet .singleVideoSection > div {
  padding: 0 1em;
}
#videoCabinet .singleVideoSection > div:nth-last-child(1) {
  padding-right: 0;
}
#videoCabinet .singleVideoSection > div:nth-child(1) {
  padding-left: 0;
}
#videoCabinet .alreadyPostedVideo {
  position: relative;
  opacity: 0.5;
}
#videoCabinet .videoName {
  flex-grow: 1;
  position: relative;
  padding-left: 0.5em;
  width: 25%;
}
#videoCabinet .videoTextContainer {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
  white-space: nowrap;
  margin: 0;
}
#videoCabinet .videoDescriptionText {
  white-space: normal;
  font-size: 0.9em;
  position: relative;
  line-height: 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#videoCabinet .videoDescriptionTextFull {
  font-size: 0.9em;
  line-height: 20px;
  white-space: normal;
  position: relative;
}
#videoCabinet .transcodingPreloader {
  color: rgba(var(--text-color), 0.5);
}
#videoCabinet .emptyDescription {
  border-radius: 5px;
  color: rgb(var(--color-txt-gray-dark));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#videoCabinet .videoNameDate {
  color: rgb(var(--color-txt-gray-dark));
  font-size: 0.8em;
  font-weight: bold;
  min-width: 120px;
}
#videoCabinet .videoNameDate i {
  width: 20px;
}
#videoCabinet .menuActivator {
  cursor: pointer;
  color: rgba(var(--text-color), 0.5);
}
#videoCabinet .menuActivator:hover {
  color: rgba(var(--text-color));
}
#videoCabinet .videoNameText {
  font-weight: bold;
  margin-bottom: 0.5em;
}
#videoCabinet .postingStatusWrapper {
  min-width: 100px;
  width: 15%;
  font-size: 0.8em;
}
#videoCabinet .postingStatusWrapper button {
  padding: 0;
}
#videoCabinet .videoStatsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#videoCabinet .videoStatsContainer > div {
  white-space: nowrap;
}
#videoCabinet .videoStatsWrapper {
  font-size: 0.8em;
  min-width: 60px;
  width: 17%;
}
#videoCabinet .videoStatsWrapper p {
  margin: 0;
}
#videoCabinet .videoStatsWrapper i {
  width: 20px;
}
#videoCabinet .videoStatsWrapper .singleStat {
  color: rgba(var(--color-txt-gray-dark), 0.6);
  margin-right: 0.5em;
  cursor: pointer;
}
#videoCabinet .videoStatsWrapper .starIcon {
  color: rgb(var(--color-star-yellow));
}
#videoCabinet .videoPostLinkinWindow,
#videoCabinet .videoPostLink {
  cursor: pointer;
}
#videoCabinet .videoPostLinkinWindow i,
#videoCabinet .videoPostLink i {
  width: 20px;
}
#videoCabinet .videoPostLinkinWindow:hover,
#videoCabinet .videoPostLink:hover {
  color: rgb(var(--color-good));
  text-decoration: underline;
}
#videoCabinet .videoAvatar {
  width: 150px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
#videoCabinet .videoAvatar .videoDuration {
  position: absolute;
  font-size: 0.7em;
  color: rgb(var(--text-on-bg-shadow-color));
  background-color: rgba(var(--color-shadow-base), 0.7);
  border-bottom-left-radius: 5px;
  bottom: 0;
  padding: 0.5em;
}
#videoCabinet .moduleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#videoCabinet .statsdiv {
  padding-bottom: 1em;
}
#videoCabinet .cabinetName {
  max-width: 700px;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#videoCabinet .ghostButton {
  background-color: transparent;
  color: rgba(var(--color-txt-gray-dark), 0.4);
  border: none;
}
#videoCabinet .ghostButton:hover {
  color: rgb(var(--color-txt-gray-dark));
}
#videoCabinet .removeVideo {
  color: rgb(var(--color-bad));
}
#videoCabinet .reputation {
  overflow: hidden;
}
#videoCabinet .reputation > div {
  float: left;
  width: 25%;
}
#videoCabinet .reputation > div.connectionFailed {
  width: 100%;
}
#videoCabinet .reputation > div:nth-last-child(1) .metricablockwrapper {
  padding-right: 0;
}
#videoCabinet .reputation > div.levelsblock {
  width: 75%;
}
#videoCabinet .reputation .longReputationBlock {
  width: 50%;
}
#videoCabinet .blockswrapper {
  overflow: hidden;
}
#videoCabinet .blockswrapper .wait {
  padding-bottom: 0.5em;
}
#videoCabinet .blockswrapper .wait .waitCnt {
  background: rgb(var(--background-secondary-theme));
  color: rgb(var(--neutral-grad-3));
  height: 250px;
}
#videoCabinet .blockswrapper .wait .waitCnt .table {
  height: 100%;
}
#videoCabinet .blockswrapper .wait .waitCnt .table > div {
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
}
#videoCabinet .blockswrapper .wait .waitCnt .label {
  margin-bottom: 1em;
}
#videoCabinet .blockswrapper .wait .waitCnt button {
  font-weight: 100;
  padding: 1em 2em;
  width: 270px;
}
#videoCabinet .blockswrapper .metricablockwrapper {
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}
#videoCabinet .blockswrapper .metricablock {
  color: rgb(var(--neutral-grad-3));
  cursor: pointer;
}
#videoCabinet .blockswrapper .metricablock .blockContentWrapper {
  padding: 0.5em;
  background: rgb(var(--background-secondary-theme));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#videoCabinet .blockswrapper .metricablock .blockContentWrapper.forchart {
  background: transparent;
}
#videoCabinet .blockswrapper .metricablock .blockContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#videoCabinet .blockswrapper .metricablock .vidgetIconWrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  font-weight: 200;
}
#videoCabinet .blockswrapper .metricablock .vidgetNameWrapper span {
  font-size: 0.8em;
}
#videoCabinet .blockswrapper .metricablock .vidgetNameWrapperTable > div {
  vertical-align: middle;
}
#videoCabinet .blockswrapper .metricablock .vidgetNameWrapperTable > div.cellright {
  text-align: right;
}
#videoCabinet .blockswrapper .metricablock .vidgetcaption {
  font-size: 0.6em;
  font-weight: 700;
}
#videoCabinet .blockswrapper .metricablock .preloaderGift {
  display: none;
}
#videoCabinet .blockswrapper .metricablock .preloaderGift .preloader5 span {
  vertical-align: bottom;
}
#videoCabinet .blockswrapper .metricablock.bad .vidgetIconWrapper .vidgetIcon {
  color: rgb(var(--color-bad));
}
#videoCabinet .blockswrapper .metricablock .vidgetAboutWrapper {
  position: absolute;
  left: 215px;
  height: 210px;
  top: 0;
  color: rgba(var(--neutral-grad-2), 95);
  padding: 1em;
  width: 2000px;
  z-index: 10;
  color: rgb(var(--text-color));
  display: none;
  z-index: 100;
}
#videoCabinet .blockswrapper .metricablock:hover .vidgetIconWrapper .vidgetIcon {
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#videoCabinet .videoControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}
#videoCabinet .uploadVideo {
  font-size: 1em;
  margin-top: 2em;
  padding-right: 0;
  font-weight: normal;
}
#videoCabinet .uploadVideo .fas {
  margin-right: 0.25em;
}
#videoCabinet .videoSearchWrapper {
  position: relative;
  max-width: 550px;
  min-width: 270px;
}
#videoCabinet .videoSearchInput {
  border-radius: 35px;
  width: 100%;
  background-color: rgb(var(--background-secondary-theme));
  border-color: transparent;
  color: rgb(var(--neutral-grad-2));
  padding-left: 1em;
}
#videoCabinet .videoSearchButton {
  position: absolute;
  right: 10px;
  top: 2px;
  color: rgb(var(--neutral-grad-2));
}
#videoCabinet .metricsContainer .metricsContainerHeader {
  font-size: 0.8em;
  min-height: 36px;
}
#videoCabinet .metricsContainer .metricsMain .metricSection {
  font-size: 1.5em;
  font-weight: 200;
}
#videoCabinet .metricsContainer .metricsMain .metricSection i {
  font-size: 0.5em;
  color: rgb(var(--neutral-grad-3));
}
#videoCabinet .metricsContainer .metricsMain .metricSection i.fa-star {
  color: rgb(var(--color-star-yellow));
}
#videoCabinet .metricsContainer .metricsMain .metricSection .fa-exclamation-circle,
#videoCabinet .metricsContainer .metricsMain .metricSection .errorLoading {
  font-size: 0.8em;
}
#videoCabinet .metricsContainer .progressBar {
  margin: 2em 0;
  height: 1px;
  background-color: rgb(var(--neutral-grad-1));
}
#videoCabinet .sortSelectWrapper {
  position: relative;
  margin-left: 1em;
}
#videoCabinet .sortSelectWrapper:hover .selectBorderCaption,
#videoCabinet .sortSelectWrapper:hover .selectIcon {
  color: rgb(var(--color-txt-gray-dark));
}
#videoCabinet .videoSortWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#videoCabinet .videoSortWrapper .videoSelect {
  background-color: transparent;
  padding: 1.25em 0 0.5em 1em;
  border: none;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  font-weight: bold;
  font-size: 0.8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  position: relative;
  color: rgb(var(--neutral-grad-2));
}
#videoCabinet .videoSortWrapper .videoSelect:hover {
  color: rgb(var(--neutral-grad-4));
  border-bottom: 1px solid rgb(var(--neutral-grad-4));
}
#videoCabinet .selectBorderCaption {
  position: absolute;
  font-size: 0.55em;
  font-weight: bold;
  color: rgb(var(--neutral-grad-2));
}
#videoCabinet .selectIcon {
  position: absolute;
  font-size: 0.55em;
  font-weight: bold;
  color: rgb(var(--neutral-grad-2));
  top: 1.84em;
}
#videoCabinet .showAllDescriptionButton {
  padding: 0;
}
.handleVideoMenu .menuitem {
  display: flex;
}
.editPreview {
  position: relative;
}
.editPreview .inputMenuWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.editVideoDialog .dialogheader {
  padding: 1em 0;
  padding-top: 0;
}
.editVideoDialog .dialogheader span {
  font-weight: 700;
}
.editVideoDialog .videoNameInput,
.editVideoDialog .videoDescriptionInput {
  border-radius: 3px;
  width: 80%;
  border: none;
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
.editVideoDialog .videoDescriptionInput {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding: 0.5em;
  min-height: 110px;
}
.editVideoDialog .videoNameWrapper,
.editVideoDialog .videoDescriptionWrapper {
  margin-bottom: 1em;
}
/*
.wndcontent {
    #videoCabinet {
        position: relative;

        .cabinetHeaderWrapper {
            position: absolute;

            top: 0;
        }

        .videoContainer {
            position: absolute;
            top: 120px;
            width: 100%;
        }
    }
}*/
html.mobileview #videoCabinet .videoSearchWrapper {
  max-width: none;
}
@media only screen and (max-width: 768px) {
  #videoCabinet {
    background: rgb(var(--background-total-theme));
  }
  #videoCabinet .caption span {
    color: rgb(var(--color-txt-gray-dark));
    font-weight: 100;
  }
  #videoCabinet .ustatecontent .metricablockwrapper {
    width: 50%;
  }
  #videoCabinet .videoAvatar {
    height: 150px;
  }
  #videoCabinet .videosWrapper > div.work:nth-last-child(1) .singleVideoSection {
    border-bottom: 0;
  }
  #videoCabinet .singleVideoSection {
    flex-wrap: wrap;
  }
  #videoCabinet .singleVideoSection > div {
    width: 100%;
    padding: 0.5em 0;
  }
  #videoCabinet .singleVideoSection > div.videoName {
    order: -1;
  }
  #videoCabinet .singleVideoSection > div.postingStatusWrapper {
    width: 75%;
    font-size: 1em;
  }
  #videoCabinet .singleVideoSection > div.removeButtonWrapper {
    width: 25%;
    text-align: right;
  }
  #videoCabinet .singleVideoSection .videoTextContainer {
    max-width: none;
  }
  #videoCabinet .statsdiv .reputation {
    width: 100%;
  }
  #videoCabinet .statsdiv .reputation > div {
    width: 100%;
    margin-bottom: 0.5em;
  }
  #videoCabinet .statsdiv .reputation > div .metricablockwrapper {
    padding: 0;
  }
  #videoCabinet .statsdiv .metricablock .blockContentWrapper {
    padding: 0.5em 1em;
  }
  #videoCabinet .statsdiv .levelsblock .metricablockwrapper {
    float: right;
    width: 100%;
  }
  #videoCabinet .caption {
    font-size: 1.4em;
  }
  #videoCabinet .mwork {
    padding: 0;
    padding-bottom: 2em;
  }
  #videoCabinet .metrica > div.label {
    padding-left: 0;
  }
  #videoCabinet .videoControls {
    flex-direction: column;
    align-items: flex-start;
  }
  #videoCabinet .uploadVideo {
    margin-left: 0;
    margin-top: 0.5em;
  }
  #videoCabinet .videoControlItem {
    margin-top: 1em;
    width: 100%;
    font-size: 1.2em;
  }
  #videoCabinet .videoSortWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  #videoCabinet .sortSelectWrapper {
    margin-left: 0;
    width: 100%;
    margin-top: 1em;
  }
  #videoCabinet .videoSelect {
    width: 100%;
  }
  #videoCabinet .videoContainer {
    padding: 0;
  }
  #videoCabinet .videoContainer.videoErrorContainer {
    padding: 0.5em;
  }
  #videoCabinet .videoContainer .work {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #videoCabinet .statsSection {
    padding: 0 1em 0.5em;
  }
  #videoCabinet .moduleHeader {
    padding: 0 1em;
  }
  #videoCabinet .postingStatusWrapper {
    min-width: 10px;
  }
  #videoCabinet .videoStatsWrapper {
    min-width: 20px;
  }
  #videoCabinet .videoStatsWrapper .singleStat {
    margin-right: 0;
  }
  #videoCabinet .videoTextContainer {
    white-space: normal;
  }
  .editVideoDialog .videoNameInput,
  .editVideoDialog .videoDescriptionInput {
    width: 100%;
  }
  .wnd.videoCabinet .wndcontent {
    padding-top: 0;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet {
    position: relative;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .cabinetHeaderWrapper {
    position: relative;
    top: 0;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoContainer {
    position: relative;
    top: 0px;
    width: 100%;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoControlsWrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgb(var(--background-total-theme));
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoControls {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoControls .videoSearchWrapper {
    margin-top: 0;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoControls .videoSortWrapper {
    flex-direction: row;
    margin-top: 0;
  }
  .wnd.videoCabinet .wndcontent #videoCabinet .videoControls .sortSelectWrapper {
    margin-top: 0.5em;
  }
}
