@import "../../css/__cssvar";

#videoCabinet {
    min-height: 600px;
    background: #F7F7F7;
    padding-bottom: 8 * @rhythm;

    .videosWrapper {
        display: flex;
        flex-direction: column;
    }

    .singleVideoSection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: @rhythm * 2 @rhythm * 4;

        border-bottom: 1px solid @color-gray-border;

        &:hover {
            background-color: fade(@color-gray-light, 15);
        }
    }

    .videoName {
        width: 25%;

        font-size: 0.9em;
    }

    .videoTextContainer {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 200px;
        white-space: nowrap;

        margin: 0;
    }

    .videoNameDate {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
            width: 20px;
        }
    }

    .videoNameText {
        font-weight: bold;

        margin-bottom: @rhythm;
    }

    .postingStatusWrapper {
        min-width: 100px;
        width: 15%;

        font-size: 0.8em;
    }

    .videoStatsWrapper {
        p {
            margin: 0;
        }

        i {
            width: 20px;
        }

        .statNumber {
            font-weight: bold;
        }

        .singleStat {
            color: rgba(0, 0, 0, 0.5);

            &:hover {
                text-decoration: underline;
                color: #000000;
                cursor: pointer;
            }
        }

        font-size: 0.8em;


        min-width: 50px;
        width: 10%;
    }

    .videoPostLink {
        i {
            width: 20px;
        }

        &:hover {
            color: @color-good;
            text-decoration: underline;
        }
    }

    .videoAvatar {
        width: 100px;
        height: 60px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;

        .videoDuration {
            position: absolute;

            font-size: 0.7em;
            font-weight: bold;
            color: #fff;

            background-color: rgba(0, 0, 0, 0.5);

            bottom: 0;

            padding: @rhythm;
        }
    }

    .moduleHeader {
        padding: 0 8 * @rhythm;
    }

    .cabinetName {
        max-width: 700px;
        padding-top: 1em;
        font-size: 2em;
        font-weight: 100;
    }

    .ghostButton {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.5);
        border: none;

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }

    .removeVideo {
        color: @color-bad;
    }

    .reputation {
        overflow: hidden;

        >div {
            float: left;
            width: 33%;
            min-width: 241px;

            &.connectionFailed {
                width: 100%;
            }

            &.reputationblock {
                .metricablock {

                    /*.blockContentWrapper {
                        background: @color-black2;
                        color : #fff;
                    }

                    .vidgetIconWrapper{
            
                        .vidgetIcon{
                            color : #fff;
                        }
                    }
        
            
                    .vidgetAboutWrapper{
                        color : #fff;
                    }*/

                }
            }



            &.levelsblock {
                width: 75%;
            }
        }

        .longReputationBlock {
            width: 50%;
        }
    }

    .blockswrapper {

        overflow: hidden;

        .wait {
            padding-bottom: @rhythm;

            .waitCnt {
                background: fade(@color-gray-light, 15);
                color: @color-gray;
                height: 250px;

                .table {
                    height: 100%;

                    >div {
                        vertical-align: middle;
                        text-align: center;
                        font-size: 1.2em;
                        font-weight: 100;
                    }
                }

                .label {
                    margin-bottom: 2 * @rhythm;
                }

                button {
                    font-weight: 100;
                    padding: 2 * @rhythm 4 * @rhythm;
                    width: 270px;
                }
            }
        }

        .metricablockwrapper {
            width: 100%;
            float: left;
            padding-bottom: @rhythm;
            padding-right: @rhythm;
        }

        .metricablock {
            color: @color-gray;
            cursor: pointer;

            .blockWrapper {
                position: relative;
                width: 100%;
                padding-bottom: 30%;
            }

            .blockContentWrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0.5em;
                background: fade(@color-gray-light, 15);
                .transition(0.3s);


                &.forchart {
                    background: transparent;
                }
            }


            .blockContent {
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .vidgetIconWrapper {
                flex-grow: 1;
                position: relative;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                font-size: 2em;
                font-weight: 200;
            }

            .vidgetNameWrapper {
                span {
                    font-size: 0.8em;
                }
            }

            .vidgetNameWrapperTable {
                >div {
                    vertical-align: middle;

                    &.cellright {
                        text-align: right;
                    }
                }
            }

            .vidgetcaption {
                font-size: 0.6em;
                font-weight: 700;
            }

            .preloaderGift {
                display: none;

                .preloader5 span {
                    vertical-align: bottom;
                }
            }



            &.bad {
                .vidgetIconWrapper {
                    .vidgetIcon {
                        color: fade(@color-bad, 95);
                    }
                }
            }

            .vidgetAboutWrapper {
                position: absolute;
                left: 215px;
                height: 210px;
                top: 0;
                color: fade(@color-gray, 95);
                padding: 1em;
                width: 2000px;
                z-index: 10;
                color: #000;
                display: none;
                z-index: 100;
            }

            &:hover {
                .vidgetIconWrapper {
                    .vidgetIcon {
                        .shadowSmall();
                    }
                }
            }
        }

    }

    .ustatecontent {
        .metricablockwrapper {
            width: 25%;
        }
    }

    .ustatecontentrep {

        .reputation {
            overflow: hidden;

            >div {
                float: left;
                width: 25%;

                &.connectionFailed {
                    width: 100%;
                }

                &.reputationblock {
                    .metricablock {

                        /*.blockContentWrapper {
							background: @color-black2;
							color : #fff;
						}

						.vidgetIconWrapper{
				
							.vidgetIcon{
								color : #fff;
							}
						}
			
				
						.vidgetAboutWrapper{
							color : #fff;
						}*/

                    }
                }



                &.levelsblock {
                    width: 75%;
                }
            }
        }


        .levelsblock {
            .metricablockwrapper {
                float: right;
                width: 33.33333%;
            }
        }

        .level {

            .chart {
                position: absolute;
                left: @rhythm;
                right: @rhythm;
                bottom: 2 * @rhythm;
            }


            .repchart {
                .repchartTable {
                    height: auto;

                    >div {
                        vertical-align: middle;

                        &.pointCell {
                            width: 10px;


                        }

                        &.lineCell {}
                    }
                }

                .point {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 3px solid @color-gray-light;
                }

                .lineBg {
                    position: relative;
                    background: @color-gray-light;
                    height: 1px;

                    .line {
                        background: @color-main;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 0%;
                    }
                }
            }

            &[state="next"] {
                opacity: 0.6;
            }

            &[state="current"] {
                .repchart {
                    .point {
                        &.start {
                            border-color: @color-main;
                        }
                    }
                }
            }

            &[state="completed"] {

                .repchart {
                    .point {
                        border-color: @color-main;
                    }

                    .lineBg {

                        .line {
                            width: 100%;
                            background: @color-main;
                        }
                    }
                }

                .metricablock {

                    .blockContentWrapper {
                        background: @color-bright;
                        color: #fff;
                    }

                    .vidgetIconWrapper {
                        .vidgetIcon {
                            color: fade(#fff, 70);
                        }
                    }

                    .reputationCount {
                        color: #fff;
                    }


                    .vidgetAboutWrapper {
                        color: #fff;
                    }

                }

            }

            .valued {
                display: none;
            }



            &.waitgift {
                .metricablock {

                    .reputationCount {
                        display: none;
                    }

                    .valued {
                        display: block;
                    }



                    .preloaderGift {
                        display: block;
                    }

                    .valuewrappe {
                        display: none;
                    }


                    .vidgetIconWrapper {
                        .vidgetIcon {
                            .value {
                                opacity: 0.5;
                            }
                        }
                    }



                }
            }
        }

    }

    .statsSection {
        padding: 0 8 * @rhythm 4 * @rhythm;
    }

    .videoContainer {
        padding: 0 8 * @rhythm;
    }

    .circular {
        height: 100px;
        width: 100px;

        position: absolute;
        transform: scale(1.5);

        .inner {
            position: absolute;
            z-index: 6;
            top: 50%;
            left: 50%;
            height: 96px;
            width: 96px;
            margin: -48px 0 0 -48px;
            background: rgb(238, 236, 236);
            border-radius: 100%;

        }

        .number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;

            font-weight: 200;
            font-size: 0.8em;

            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-between;
        }

        .bar {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(238, 236, 236);
            -webkit-border-radius: 100%;
            clip: rect(0px, 100px, 100px, 50px);
        }

    }

    .circle {
        .bar {
            .progress {
                position: absolute;
                height: 100%;
                width: 100%;
                -webkit-border-radius: 100%;
                clip: rect(0px, 50px, 100px, 0px);
                background: @color-good;
            }
        }


        .left {
            .progress {
                z-index: 1;
                transform: rotate(180deg);
            }
        }

        .right {
            transform: rotate(180deg);
            z-index: 3;

            .progress {
                transform: rotate(90deg);
            }
        }
    }

    .videoControls {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .uploadVideo {
        margin-left: 2 * @rhythm;

        .fas {
            margin-right: @rhythm / 2;
        }
    }

    .videoSearchWrapper {
        position: relative;

        max-width: 550px;

        width: 40%;
    }

    .videoSearchInput {
        border-radius: 15px;

        width: 100%;
    }

    .videoSearchButton {
        position: absolute;
        right: 0;
    }

    .transcodingPreloader {
        background-color: rgba(0, 0, 0, 0.8);

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .metricsContainer {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .metricsContainerHeader {
            font-size: 0.8em;
        }

        .metricsMain {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .metricSection {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                font-size: 2em;
                font-weight: 200;
            }
        }

        .progressBar {
            margin: @rhythm * 4 0;

            height: 1px;

            background-color: @color-gray-light;


        }
    }

    .sortSelectWrapper {
        position: relative;

        margin-left: @rhythm * 2;

        &:hover {

            .selectBorderCaption,
            .selectIcon {
                color: black;
            }
        }
    }

    .videoSortWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .videoSelect {
            background-color: transparent;

            padding: @rhythm * 2.5 0 @rhythm @rhythm * 2;

            border: none;
            border-bottom: 1px solid @color-gray-border;

            font-weight: bold;
            font-size: 0.8em;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background: none;

            cursor: pointer;

            position: relative;

            color: rgba(0, 0, 0, 0.5);

            &:hover {
                color: black;
                border-bottom: 1px solid black;
            }
        }
    }

    .selectBorderCaption {
        position: absolute;

        font-size: 0.55em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
    }

    .selectIcon {
        position: absolute;

        font-size: 0.55em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);

        top: 1.84em;
    }
}

html.stblack {
    #usersettings {
        background: transparent;
    }
}

@media only screen and (max-width: 768px) {
    #videoCabinet {
        background: #fff;

        .caption {

            span {
                color: #010E30;
                font-weight: 100;
            }
        }

        .ustatecontent {
            .metricablockwrapper {
                width: 50%;
            }
        }

        .ustatecontentrep {

            .reputation {

                width: 100%;

                >div {
                    width: 100%;

                    &.levelsblock {
                        width: 100%;
                    }
                }
            }

            .levelsblock {
                .metricablockwrapper {
                    float: right;
                    width: 100%;
                }
            }
        }

        .caption {
            font-size: 1.4em;
        }

        .mwork {
            padding: 0;
            padding-bottom: 4 * @rhythm;
        }

        .metrica {

            >div {
                &.label {
                    padding-left: 0;
                }
            }

        }
    }

    html.stblack {
        #videoCabinet {

            background: @color-black;

            .caption {

                span {
                    color: @color-contrast;
                    font-weight: 100;
                }
            }

            .mwork {

                &.wh {
                    background: @color-black;
                }
            }

        }
    }
}