#aboutHome h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
}
#aboutHome h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(var(--color-h2-aboutcc));
  text-align: center;
  text-transform: uppercase;
}
#aboutHome h2 > span {
  position: relative;
}
#aboutHome h3 {
  font-size: 24px;
  font-weight: 600;
}
#aboutHome .services {
  padding: 60px 0;
}
#aboutHome .sitename {
  cursor: pointer;
}
#aboutHome .sitename .label {
  font-weight: 700;
  overflow: hidden;
}
#aboutHome .sitename .label > div {
  float: left;
}
#aboutHome .sitename .label > div.lang {
  font-weight: 100;
  padding-left: 0.5em;
}
#aboutHome .sitename .label > div.lang i {
  opacity: 0.4;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#aboutHome .sitename .label > div.lang.hover i {
  opacity: 0.8;
}
#aboutHome .sitename .icon {
  padding-left: 0;
}
#aboutHome .sitename .menutoppanel {
  display: none;
}
#aboutHome .sitename .menutoppanel > div {
  vertical-align: middle;
}
#aboutHome .sitename .menutoppanel .pcenterCell {
  padding-left: 0.5em;
  padding-right: 1.5em;
}
#aboutHome .sitename .menutoppanel .pcenterLabel {
  font-size: 0.9em;
}
#aboutHome .sitename .menutoppanel .pcenterLabel.active {
  color: #00a4ff;
  border-bottom: 1px solid #00a4ff;
}
#aboutHome .sitename.lentamenu .menutoppanel {
  display: table-cell;
}
#aboutHome .sitename.lentamenu hwq .label {
  display: none;
}
#aboutHome .works {
  padding: 30px;
  background: url(../../img/about/bg-home-section.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
#aboutHome .works.theme_black {
  background: rgb(var(--background-main));
}
#aboutHome .works > .main-wrapper {
  position: relative;
  z-index: 2;
}
#aboutHome .works > .main-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
#aboutHome .works > .main-wrapper > div .works__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#aboutHome .works > .main-wrapper > div .works__container > .text {
  display: flex;
  width: 100%;
  font-size: 120%;
  margin-right: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row !important;
}
#aboutHome .works > .main-wrapper > div .works__container > .text > p {
  margin: 20px 0;
  width: 250px;
}
#aboutHome .works > .main-wrapper > div > .image {
  width: 40%;
  height: auto;
  margin-left: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 250px;
}
#aboutHome .works > .main-wrapper > div > .image > img {
  width: 100%;
}
#aboutHome .works h2 > span {
  font-weight: 400;
}
#aboutHome .videos {
  background: #262626;
  padding: 30px 0 60px 0;
}
#aboutHome .videos h3 {
  text-align: center;
  color: #fff;
  padding: 0 0;
}
#aboutHome .videos .main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}
#aboutHome .videos .main-wrapper .video1 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#aboutHome .open {
  width: 100%;
}
#aboutHome .open > .main-wrapper {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#aboutHome .open > .main-wrapper .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#aboutHome .open > .main-wrapper .content .discover {
  padding: 0 20px;
  width: 400px;
}
#aboutHome .open > .main-wrapper .content .discover h2 {
  text-align: center;
  font-size: 1.5em;
}
#aboutHome .open > .main-wrapper .content .discover p {
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
  height: 60px;
}
#aboutHome .open > .main-wrapper .content .discover .one-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 ;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > .text {
  width: 100%;
  flex-direction: column;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > .text > p {
  padding: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div {
  width: 40px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div:first-child {
  margin-left: 0;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div > a > img {
  width: 25px;
  height: 35px;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div > a > p {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
#aboutHome .open > .main-wrapper .content .discover .one-item > div > a > i {
  color: rgb(var(--color-cc-blue));
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
#aboutHome .darkbg {
  padding: 0;
  background: #000622;
  position: relative;
}
#aboutHome .darkbg > .main-wrapper {
  position: relative;
  padding: 50px 0;
}
#aboutHome .darkbg > .main-wrapper > .dark__container {
  display: flex;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
#aboutHome .darkbg > .main-wrapper > .dark__container > img {
  width: 500px;
  border-radius: 10px;
}
#aboutHome .darkbg > .main-wrapper > .dark__container > .text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 45px;
}
#aboutHome .darkbg > .main-wrapper > .dark__container > .text > p {
  margin: 10px 0;
  text-align: left;
}
#aboutHome .darkbg > .main-wrapper > .dark__container > .text > p > i {
  margin-right: 5px;
}
#aboutHome .darkbg > .main-wrapper > .dark__container > .text > h2 {
  text-align: left;
  color: #fff;
}
#aboutHome .team {
  padding: 60px 0;
}
#aboutHome .blog {
  padding: 60px 0;
  background: url(../../img/about/andreas-brun-14IbodW7owU-unsplash.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#aboutHome .blog::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-cc-form));
  z-index: 1;
}
#aboutHome .blog > .main-wrapper {
  position: relative;
  z-index: 2;
  text-align: center;
}
#aboutHome .blog h2 {
  color: #FFFFFF;
}
#aboutHome .blog h2 > span::after {
  background: #FFFFFF;
}
#aboutHome .blog .button {
  margin-top: 30px;
}
#aboutHome .contact {
  padding: 60px 0;
}
#aboutHome .contact .map {
  margin-top: 30px;
}
#aboutHome footer {
  padding: 60px 0;
}
#aboutHome footer > .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutHome .main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
#aboutHome .main-board {
  z-index: 9;
  height: 500px;
  background-position: center center;
  background-size: cover;
  position: relative;
  position: reletive;
  padding: 50px 0 ;
}
#aboutHome .main-board > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}
#aboutHome .main-board h1 {
  color: #023174;
  position: relative;
  margin-bottom: 35px;
  margin: auto 0;
  font-weight: 600;
  width: 50%;
}
#aboutHome .main-board h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
  text-transform: capitalize;
  margin-bottom: 35px;
  width: 70%;
}
#aboutHome .main-wrapperst2 {
  flex-direction: column;
}
#aboutHome .main-wrapperst2 .downloads {
  display: flex;
}
#aboutHome #first-description {
  height: auto;
}
#aboutHome .main-board__left-block {
  width: 100%;
  display: flex;
}
#aboutHome .main-board__left-block > div {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 30px;
}
#aboutHome .main-board__left-block > div:last-of-type {
  display: flex;
}
#aboutHome .main-board__left-block_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#aboutHome .main-board__left-block_2 > div {
  padding: 30px 15px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  width: 200px;
}
#aboutHome .grey {
  background: rgb(var(--color-medium-theme));
  padding: 70px 0;
}
#aboutHome .new-block {
  background: rgb(var(--background-main));
  padding: 30px 0;
}
#aboutHome .new-block .main-wrapper h2 {
  margin-bottom: 30px;
  height: 40px;
}
#aboutHome .new-block .main-wrapper div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: top;
}
#aboutHome .new-block .main-wrapper div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}
#aboutHome .new-block .main-wrapper div div h3 {
  height: 50px;
  margin-bottom: 20px;
  font-size: 1.3em;
  text-align: center;
}
#aboutHome .new-block .main-wrapper div div p {
  margin-bottom: 20px;
}
@media screen and (max-width: 450px) {
  #aboutHome .new-block .main-wrapper h2 {
    margin-bottom: 30px;
    height: 40px;
    font-size: 1.4em;
  }
}
#aboutHome .main-board__image {
  margin: auto;
  width: 30%;
  border-radius: 10px;
}
#aboutHome .main-board__button-link {
  display: flex;
  align-items: center;
  width: 165px;
  height: 50px;
  border: 1px solid rgb(var(--color-cc-blue));
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  text-decoration: none;
  color: rgb(var(--color-cc-blue));
  font-size: 12px;
  transition-duration: 0.3s;
}
#aboutHome .main-board__button-link:first-of-type {
  margin-right: 20px;
}
#aboutHome .main-board__button-link > i {
  margin-left: 20px;
  margin-right: 15px;
  font-size: 30px;
  color: rgb(var(--color-cc-blue));
  width: 26px;
  transition-duration: 0.3s;
}
#aboutHome .main-board__button-link:hover {
  background: rgb(var(--color-cc-blue));
  color: #FFFFFF;
}
#aboutHome .main-board__button-link:hover > i {
  color: #FFFFFF;
}
#aboutHome .main-board__button-link_bold {
  font-size: 14px;
  font-weight: 600;
}
#aboutHome .services__block-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
#aboutHome .services__item {
  padding: 30px;
  flex: 0 0 32%;
  text-align: center;
  transition-duration: 0.3s;
  border-radius: 5px;
}
#aboutHome .services__item > h3 {
  margin: 23px 0;
  text-align: center;
}
#aboutHome .services__item > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  color: #666666;
  text-align: left;
}
#aboutHome .services__item > a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #161c35;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  border: 1px solid #161c35;
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutHome .services__item > a:hover {
  background: #161c35;
  color: #FFFFFF;
}
#aboutHome .services__item .box-icon {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  transition-duration: 0.3s;
}
#aboutHome .services__item .box-icon > img {
  width: 150px;
  border-radius: 10px;
}
#aboutHome .team-container {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#aboutHome .team-container__item {
  flex: 0 0 255px;
  display: flex;
  flex-direction: column;
}
#aboutHome .team-container__item > figure {
  position: relative;
  height: 260px;
  overflow: hidden;
}
#aboutHome .team-container__item > figure > figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(22, 28, 53, 0);
  display: flex;
  justify-content: center;
  transition-duration: 0.1s;
}
#aboutHome .team-container__item > figure > figcaption > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  margin: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
  transition-duration: 0.5s;
}
#aboutHome .team-container__item > figure > figcaption > a:nth-child(1) {
  transform: translateY(50px);
}
#aboutHome .team-container__item > figure > figcaption > a:nth-child(2) {
  transform: translateY(90px);
}
#aboutHome .team-container__item > figure > figcaption > a:nth-child(3) {
  transform: translateY(130px);
}
#aboutHome .team-container__item > figure > figcaption > a:hover {
  color: #00d5c3;
  background: white;
}
#aboutHome .team-container__item > figure > img {
  transition-duration: 1s;
}
#aboutHome .team-container__item > figure:hover > img {
  transform: scale3d(1.1, 1.1, 1);
}
#aboutHome .team-container__item > figure:hover > figcaption {
  background: rgba(22, 28, 53, 0.7);
}
#aboutHome .team-container__item > figure:hover > figcaption > a {
  transform: translateY(0px);
}
#aboutHome .team-container__item-footer {
  box-shadow: 4px 4px 18px 0px #cccccc;
  padding: 20px;
}
#aboutHome .team-container__item-footer > span {
  display: block;
  font-size: 12px;
  color: #666666;
  font-weight: 300;
}
#aboutHome .team-container__item-footer > h3 {
  display: block;
  color: #666666;
}
#aboutHome .blog-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#aboutHome .blog-container__item {
  height: 275px;
  flex: 0 0 49%;
  display: flex;
  background: #FFFFFF;
  margin-bottom: 22px;
  text-decoration: none;
}
#aboutHome .blog-container__item:hover > .blog-container__image {
  filter: grayscale(0);
}
#aboutHome .blog-container__item:hover > .blog-container__item-text-container > p {
  text-decoration: underline;
}
#aboutHome .block-image1 {
  background: url(../../img/about/6-850x850.jpg);
}
#aboutHome .block-image2 {
  background: url(../../img/about/5-850x850.jpg);
}
#aboutHome .block-image3 {
  background: url(../../img/about/2-850x850.jpg);
}
#aboutHome .block-image4 {
  background: url(../../img/about/1-850x850.jpg);
}
#aboutHome .blog-container__image {
  flex: 0 0 50%;
  height: 100%;
  transition-duration: 0.3s;
  position: relative;
  background-position: center center;
  background-size: cover;
  filter: grayscale(0.9);
}
#aboutHome .blog-container__image::after {
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #eee;
  border-bottom: 15px solid transparent;
  border-right-color: #fff;
  right: 0;
  margin-top: -15px;
  top: 50%;
  content: '';
}
#aboutHome .blog-container__item-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#aboutHome .blog-container__item-text-container > span {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}
#aboutHome .blog-container__item-text-container > p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #161c35;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}
#aboutHome .button {
  padding: 10px 30px;
  border: 1px solid #00d5c3;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  display: inline-block;
  color: #00d5c3;
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutHome .button:hover {
  background: #00d5c3;
  color: #FFFFFF;
}
#aboutHome .form {
  height: 200px;
  background: url(../../img/about/bg.jpg) no-repeat;
  background-position: 50% -50px;
  background-size: cover;
  position: relative;
}
#aboutHome .form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-cc-form));
  z-index: 1;
}
#aboutHome .form > .main-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#aboutHome .form input[type="email"] {
  background: transparent;
  border: 1px solid #00d5c3;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  width: 450px;
}
#aboutHome .form input[type="email"]:focus {
  border: 1px solid rgb(var(--color-menu-2));
  outline: none;
}
#aboutHome .form button {
  background: #00d5c3;
  border: 1px solid #00d5c3;
  color: #FFFFFF;
  font-size: 22px;
  width: 100px;
  transition-duration: 0.3s;
}
#aboutHome .form button:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #00d5c3;
  cursor: pointer;
}
#aboutHome .form form {
  display: flex;
  justify-content: center;
}
#aboutHome .form input::-webkit-input-placeholder {
  color: #cccccc;
}
#aboutHome .form__main-text {
  color: #00d5c3;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}
#aboutHome .form__main-text > span {
  color: white;
  font-weight: 600;
}
#aboutHome .social-cont {
  margin: 20px 0;
}
#aboutHome .social-cont > a {
  color: #161c35;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  position: relative;
  width: 20px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
}
#aboutHome .social-cont > a::before {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid #161c35;
  transform: rotate(45deg);
  position: absolute;
  left: -3px;
  top: -5px;
  transition-duration: 0.3s;
  z-index: -1;
}
#aboutHome .social-cont > a:hover {
  color: #FFFFFF;
}
#aboutHome .social-cont > a:hover::before {
  background: #161c35;
}
@media (max-width: 1100px) {
  #aboutHome .team-container {
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  #aboutHome .team-container__item {
    margin-right: 10px;
  }
  #aboutHome .team-container__item:last-of-type {
    margin-right: 0;
  }
}
#aboutHome .dark__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
#aboutHome .dark__container > img {
  width: 60%;
  margin-top: 15px;
}
#aboutHome .dark__container > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#aboutHome .dark__container > .text div {
  display: flex;
  margin: 10px 0;
  align-items: start;
}
#aboutHome .dark__container > .text div > i {
  margin-right: 10px;
  font-size: 2em;
}
#aboutHome .dark__container > .text div > p {
  text-align: left;
  margin: 0;
  font-size: 1.5em;
}
#aboutHome .dark__container > .text > h2 {
  text-align: center;
}
@media (max-width: 980px) {
  #aboutHome .works > .main-wrapper {
    padding: 15px;
  }
  #aboutHome .works > .main-wrapper > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHome .works__container {
    flex-grow: 1;
  }
  #aboutHome .blog-container__item-text-container {
    padding: 20px;
  }
  #aboutHome .dark__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
  }
  #aboutHome .dark__container > img {
    width: 70%;
  }
  #aboutHome .dark__container > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #aboutHome .dark__container > .text > p {
    margin: 10px 0;
  }
  #aboutHome .dark__container > .text > p > i {
    margin-right: 5px;
  }
  #aboutHome .dark__container > .text > h2 {
    text-align: center;
  }
}
@media (max-width: 920px) {
  #aboutHome .main-board__left-block {
    width: 450px;
    width: auto;
  }
  #aboutHome .main-board__left-block h1 {
    width: 100%;
  }
  #aboutHome .main-board__left-block > div {
    width: 100%;
  }
  #aboutHome .main-board__left-block > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #aboutHome .main-board {
    height: auto;
    padding: 30px 0;
    background: #fff;
  }
  #aboutHome .main-board > .main-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  #aboutHome .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutHome .services__item > p {
    flex-shrink: 1;
    overflow: hidden;
  }
  #aboutHome .services {
    padding: 30px 0;
  }
  #aboutHome .works {
    padding: 30px 30px;
  }
  #aboutHome .team {
    padding: 30px 0;
  }
  #aboutHome .blog {
    padding: 30px 0;
  }
  #aboutHome .contact {
    padding: 30px 0;
  }
  #aboutHome footer {
    padding: 30px 0;
  }
}
@media (max-width: 780px) {
  #aboutHome .services__block-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHome .services__item {
    flex-basis: 320px;
    margin: 10px;
  }
  #aboutHome .blog-container {
    flex-wrap: wrap;
  }
  #aboutHome .blog-container__item {
    flex-basis: 100%;
  }
  #aboutHome .main-board__left-block_2 {
    padding: 30px 15px;
    width: 100%;
  }
  #aboutHome .main-board__left-block_2 div {
    width: 100%;
    flex-direction: column;
  }
  #aboutHome .grey {
    background: rgb(var(--color-medium-theme));
  }
}
@media (max-width: 720px) {
  #aboutHome header {
    height: auto;
  }
  #aboutHome header > .main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHome .main-menu {
    margin: 10px 0;
  }
  #aboutHome .logo {
    margin: 5px 0;
  }
}
#aboutHome .dark__conteiner {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  #aboutHome h1 {
    font-size: 36px;
    line-height: unset;
  }
  #aboutHome .main-board__left-block {
    width: 100%;
  }
  #aboutHome .works__container .text {
    width: 100%;
  }
  #aboutHome .works__container .text p {
    width: 100%;
  }
}
@media (max-width: 580px) {
  #aboutHome .form input[type="email"] {
    width: 80%;
  }
}
@media (max-width: 510px) {
  #aboutHome .main-menu {
    margin: 0;
  }
  #aboutHome .main-menu > ul {
    text-align: center;
  }
  #aboutHome .main-menu > ul > li {
    padding-bottom: 22px;
  }
  #aboutHome .blog-container__item-text-container {
    padding: 5px;
  }
  #aboutHome .dark__conteiner {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  #aboutHome .main-board .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block h1 {
    width: 100%;
    color: #fff;
    font-weight: 600;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block img {
    display: none;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block > div:last-of-type {
    flex-wrap: wrap;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block_2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  #aboutHome .main-board .main-wrapper .main-board__left-block_2 > div {
    width: 50%;
    flex-direction: column;
    padding: 15px;
    text-align: left;
  }
  #aboutHome .main-board .main-wrapper .downloads {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 100%;
    padding-left: 30px;
  }
  #aboutHome .main-board .main-wrapper .downloads .main-board__button-link {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px !important;
  }
  #aboutHome .main-board:first-child {
    background: url(../../img/about/bg-img.jpg) no-repeat;
    background-size: cover;
  }
  #aboutHome .open .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutHome .open .main-wrapper > .content {
    width: 100%;
  }
  #aboutHome .open .main-wrapper > .content > .discover {
    width: 100%;
    padding: 15px;
  }
  #aboutHome .open .main-wrapper > .content > .discover > h2 {
    font-size: 1.5em;
  }
  #aboutHome .open .main-wrapper > .content > .discover > p {
    font-size: 1em;
  }
  #aboutHome .open .main-wrapper > .content > .discover > .one-item {
    width: 100%;
    min-width: 100%;
    justify-content: center;
    margin: 0;
  }
  #aboutHome .open .main-wrapper > .content > .discover > .one-item > div {
    width: 100px;
    margin: 10px;
  }
  #aboutHome .open .main-wrapper > .content > .discover > .one-item > div > p {
    font-size: 1em;
  }
  #aboutHome .open .main-wrapper > .content > .discover > .one-item > div > a > p {
    font-size: 1em;
  }
  #aboutHome .open .main-wrapper > .content > .discover > .text p {
    font-size: 1em;
  }
  #aboutHome .works .main-wrapper div .works__container .text {
    flex-wrap: wrap;
  }
  #aboutHome .works .main-wrapper div .works__container .text p {
    width: 100%;
  }
  #aboutHome .darkbg .main-wrapper {
    padding: 0 15px;
    width: 100%;
  }
  #aboutHome .darkbg .main-wrapper .dark__container {
    width: 100%;
  }
  #aboutHome .darkbg .main-wrapper .dark__container img {
    width: 100%;
  }
  #aboutHome .darkbg .main-wrapper .dark__container .text {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
  #aboutHome .darkbg .main-wrapper .dark__container .text h2 {
    text-align: left;
  }
}
@media (max-width: 450px) {
  #aboutHome .viseos {
    width: 100%;
  }
  #aboutHome .viseos .main-wrapper {
    width: 100% !important;
    justify-content: normal;
    flex-wrap: wrap;
  }
}
#aboutHome .works .main-wrapper div .works__container .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
