@import "../../css/__cssvar";

#uploadpeertube{
    width: 100%;

    .upload-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .type-error-field {
        color: #0a0c17;
    }

    .error-message {
        color: @color-bad;
    }

    .logo-container {
        img {
            width: 1em;
        }

        margin-right: 0.5em;
    }

    .upload-field-container {
       color: black;

       .upload-peertube-label {
           text-decoration: underline;

           transition: color 0.1s ease-in 0.1s;

           &:hover {
               color: @color-contrast;
           }
       }
    }

    .upload-field-container:not(:first-child){
        margin-top: @rhythm * 3;
    }

    label {
        cursor: pointer;
    }

    .bold-font {
        font-weight: bold;
    }

    .upload-video-name {
        border-width: 0;

        border-bottom-width: 1px;
    }

    .upload-progress-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;


        margin-top: @rhythm * 4;
    }

    .barWrapper {
        min-width: 50px;
        width: 80%;
    }

    .upload-progress-bar {
        height: 1px;
        width: 100%;

        background-color: green;
    }

    .disabledInput {
        color: @color-gray-mlight;
    }

    .upload-type-separator {
        color: @color-gray-mlight;
        font-weight: bold;

        position: relative;

        margin-top: @rhythm * 3;
        margin-bottom: @rhythm * 3;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;

            top: -15px;
            left: 10px;

            background-color: @color-gray-mlight;
        }

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;

            bottom: -15px;
            left: 10px;

            background-color: @color-gray-mlight;
        }
    }

    .import-video-link {
        width: 250px;

        border-width: 0px;
        border-bottom-width: 1px;
    }

    .upload-field-container.video-title-container {
        margin-top: @rhythm * 2;
    }

    .controlButton {
        cursor: pointer;

        &:hover {
            color: @color-contrast;
        }
    }

    .cancelButton {
        margin-left: @rhythm * 2;
    }

    .uploadButton {
        margin-top: @rhythm * 4;
    }

    .upload-input {
        border-color: @color-contrast;
    }
}

#uploadpeertube.rolledUp {
    margin: auto;

    > :not(.activeOnRolled) {
        display: none;
    }
    
    .main-upload-fields {
        > :not(.activeOnRolled) {
            display: none;
        }

        .upload-progress-container.activeOnRolled {
            margin: 0;

            > :not(.activeOnRolled) {
                display: none;
            }
        }
    }

    .upload-header {
        font-size: 0.8em;
    }
}


.wnd.uploadpeertube {
    .wndinner {
        width: 50%;
        height: 100%;

        max-height: 420px;

        overflow: hidden;

        .wndcontent {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;

            overflow: hidden;
        }
    }
}

.wnd.uploadpeertube.hiddenState {
    .wndinner {
        width: 100%;
        height: 100%;

        max-width: 250px;

        .wndcontent {
            padding: 0 20px;
        }
    }
}