<div class="caption">
	<div class="captionTable table">
		<div class="captionPreview">
			
		</div>

		<div class="captionPanel">
			<div class="items table">
				
				<div class="item bottom">
					<div class="cact"><i class="fas fa-angle-down"></i></div>
				</div>

				<div class="item top">
					<div class="cact"><i class="fas fa-angle-up"></i></div>
				</div>
				<% if(ed.close) {%>
					<div class="item close">
						<div class="cact"><span><%=e('hide').toUpperCase()%></span></div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</div>