<div id="<%-module.map.id%>" class="<% if(ed.fromtop) {%> fromtop <% } %>">


	<div class="captionfwrapper">
		<div class="captionCnt">
		</div>
	</div>

	<div class="loaderWrapper">
		<div class="preloader5">
		    <span></span>
		    <span></span>
		    <span></span>
		</div>
	</div>

	<div class="showall hidden">
		<span>SHOW PREVIOUS COMMENTS</span> <span class="ccounts"></span>
	</div>

	<% if(ed.fromtop) {%>
		<div class="post">
		</div>
		
	<% } %>

	<div class="list">
	</div>

	<% if(!ed.fromtop) {%>
		<div class="post">
		</div>
	<% } %>
	

</div>