<%
var commentpanel = function(comment, _class){  
	
	var lockedaccount = app.platform.sdk.user.reputationBlockedNotMe(comment.address)
	
	
	%>
	<div class="commentpanel">

		<div class="items">

			<% if(!comment.deleted && !lockedaccount) { 
				
				
				%> 
				<div class="item upvoteCommentWrapper">

					<div elementsid="comments_upvoteComment" class="upvoteComment scoreUp  <% if(comment.myScore && comment.myScore > 0) {%> ratedScore <% } %>"  score="scoreUp">
						<div class="upvoteCommentTable">
							<div class="upvoteCommentCell">
								<i class="fas fa-thumbs-up"></i>
							</div>

							<div class="upvoteCommentCell">
								<span class="commentScore">
									<%- comment.scoreUp ? compressedNumber(comment.scoreUp, 1) : '' %>
								</span>
							</div>
						</div>
					</div>

				</div>

				<div class="item upvoteCommentWrapper">

					<div class="upvoteComment scoreDown <% if(comment.myScore && comment.myScore < 0) {%> ratedScore <% } %>" score="scoreDown">
						<div class="upvoteCommentTable">
							<div class="upvoteCommentCell">
								<i class="fas fa-thumbs-down fa-flip-horizontal"></i>
							</div>

							<div class="upvoteCommentCell">
								<span class="commentScore">
									<%- comment.scoreDown ? compressedNumber(comment.scoreDown, 1) : '' %>
								</span>
							</div>
						</div>
					</div>
				</div>
			<% } %>

			

			<% if(_class == 'firstcomment') {

				var h = 'hidden';

				if(comment.children > 0) h = ''

			%>

				<div elementsid="comments_replies" class="item replies <%-h%>">
					<div class="cact">
						<div class="iconlabelWrapper">
							<div class="label">
								<span><%=e('e13037')%> (<label class="repliescount"><%- comment.children %></label>)</span>
							</div>
							<div class="icon">
								<i class="fas fa-angle-down"></i>
							</div>
						</div>
					</div>
				</div>

			<% } %> 


			<% if((!state || mestate.reputation >= -50) && !comment.deleted && !lockedaccount && !ed.cantsend) { %> 
				<div elementsid="comments_reply" class="item reply">
					<div class="cact">
						<div class="label">
							<span><%=e('reply')%></span>
						</div>
					</div>
				</div>
			<% } %>

			

			
		</div>

	</div>
<% } %>

<%
var commentf = function(comment){  
	var me = app.platform.sdk.user.me()

	var lockedaccount = app.platform.sdk.user.reputationBlockedNotMe(comment.address)

	var hiddenComment = !comment.my(app) && app.platform.sdk.user.hiddenComment(comment) && !(comment.deleted || lockedaccount)

	var hiddenComments = app.platform.sdk.comments.blocked[comment.address]

	var blockedbyme = showedall && me && me.relation(comment.address, 'blocking')

	var m = '' %> 

	<div class="comment <% if(hiddenComment || hiddenComments || blockedbyme) {%> hiddenComment <% } %> <% if(comment.my(app)) {%> mycomment <% } %>  <% if(comment.deleted || lockedaccount) {%> deleted <% } %> <% if(comment.myScore > 0 || comment.myScore < 0) {%> rated <% } %> <% if(comment.temp) {%> temptransaction <% } %> <% if(Number(comment.timeUpd) === Number(comment.time)) {%> commentnotedited <% } %> <%-newcomments%> <%- _class %>" id="<%-comment.id%>" aid="<%-comment.answerid%>" pid='<%-comment.parentid%>'>


		

		<div class="commentPaddingWrapper">

			<div class="commentWrapper">

				<div class="iconWrapper">
					<% if(!app.curation()) {%><a elementsid="<%-app.platform.api.authorlink(comment.address)%>" href="<%-app.platform.api.authorlink(comment.address)%>"><% } %>
						<% 
							var src = deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.image');
							var name = deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.name');
							var letter = name ? name[0] : '';  
						%>

						<div class="icon">
							<% if(comment.donation === 'true' && comment.amount) {%>
								<div class="donatedbefore"></div>
							<% } %>
							<div  ban=".gif" class="usericon <% if(comment.donation === 'true' && comment.amount) {%> donated <% } %>" image="<%-src || '*'%>">

								<% if(!src && letter) { %>

									<span class="letter cancopy">
										<%-letter.toUpperCase()%>
									</span>
				
								<% } %>

								<% if(app.platform.ui.markUser) {%>

									<%= app.platform.ui.markUser(comment.address)%>

								<% } %>

							</div>
							
						</div>
					<% if(!app.curation()) {%></a><% } %>
				

				</div>

				<div class="commentBody">

					<div class="metatable">
						<div class="author">

							<% if(!app.curation()) {%><a elementsid="<%-app.platform.api.authorlink(comment.address)%>" href="<%-app.platform.api.authorlink(comment.address)%>"><% } %>
							
							<span class="adr"><%-deep(app, 'platform.sdk.usersl.storage.'+comment.address+'.name') || comment.address %></span> <% if(!app.curation()) {%></a><% } %> &middot;
							
							<span class="date realtime" time="<%-comment.time%>"><%- app.reltime(comment.time) %></span>

							<% if(Number(comment.timeUpd) > Number(comment.time) && !comment.deleted) {%>

								&middot; <span class="edited"><i class="fas fa-pen-alt"></i></span>

							<% } %>

							<% if(comment.donation === 'true' && comment.amount) {%>
								<div class="donateSum">
									<i class="fas fa-plus-circle"></i> <%=comment.amount / 100000000 %> PKOIN
								</div>
							<% } %>
						</div>
						
						<div class="panelWrapper">
							<% if(!comment.deleted) {%>

								<div elementsid="comments_panel" class="panel">
									<i class="fas fa-ellipsis-h"></i>
								</div>

								<div class="temppanel">
									<div class="preloader5"><img src="./img/three-dots.svg"/></div>
								</div>

							<% } %>
						</div>

					</div>

					<div class="cbodyWrapper">

						<div class="commentcontenttable">

							
								<% if(hiddenComment || hiddenComments || blockedbyme) { %> 
									
									<div class="commentmessage hiddenCommentLabel">

										<div>
											<% if(hiddenComment) {%><%=e('hiddenCommentLabel')%><% } %>
											<% if(!hiddenComment && hiddenComments) {%><%=e('hiddenCommentsLabel')%><% } %>
											<% if(!hiddenComment && !hiddenComments && blockedbyme) {%><%=e('blockedbymeHiddenCommentLabel')%><% } %>
										</div>

										<div>
											<button class="ghost"><%=e('showhiddenComment')%></button>
										</div>
										
									</div>
									
								<% } %>

								<% if(comment.deleted) {%>

									<div class="commentmessage">
										<div><%=e('e13033')%></div>
									</div>

								<% } %>

								<% if(lockedaccount) {%>

									<div class="commentmessage">
										<div><%=e('lockedaccountacomment')%></div>
									</div>
						
								<% } %>

								<% if(comment.message && !comment.deleted && !lockedaccount) {

									var l = findAndReplaceLink(filterXSS(comment.message, {
										whiteList: [],
										stripIgnoreTag: true
									}), true)


									if(comment.answerid){
										l = app.platform.sdk.users.replacePattern(l, replaceName, {
											comment : comment.answerid
										})
									}

									else
									{
										l = app.platform.sdk.users.replacePattern(l, replaceNameNoComment)
									}

									m = app.actions.emoji(l)

								%>

									<div class="commentmessage">
										<%=nl2br(trimrn(m))%>
									</div>

								<% } %>

								<% 								
								
								if(comment.images.length && !comment.deleted && !lockedaccount) {
									var additionall = 0;
									var icClass = '';
					
									if (comment.images.length + additionall == 1) icClass = 'one';
									if (comment.images.length + additionall == 2) icClass = 'two';
									if (comment.images.length + additionall == 2) icClass = 'three';
									if (comment.images.length + additionall == 4) icClass = 'four';
									if (comment.images.length + additionall > 4) icClass = 'more';
									
									 %>
					 
									<div class="commentimages">
										<div class="imagesContainer <%-icClass%>">
											<% _.each(comment.images, function(image){ %>
					
												<div class="imagesWrapper">
													<div elementsid="comments_imageCommentOpen" class="image imageCommentOpen" image="<%-image || '*'%>" i="<%-image%>">
													</div>
												</div>
					
											<% }) %>
					
										</div>
									</div>
					
							<% } %>
								

						</div>



						<% commentpanel(comment, _class) %>
					</div>
					
					<div class="edit">
					</div>

					<% if(_class == 'firstcomment') {%>

						<% if(comment.children > 0) {%>
							<div class="repliesloaderWrapper hidden">
								<div class="preloader5"><img src="./img/three-dots.svg"/></div>
							</div>
						<% } %>

						<div class="answers">
						</div>

					<% } %>

					
				</div>

			</div>

		</div>

		<% if(_class == 'firstcomment') {%>
			<div class="answer" for="<%-comment.id%>">
			</div>
		<% } %>
	</div>
	
<% } %>

<% if(!pid && comments.length > 2 && typeof sort != 'undefined' && sort) {%>

	<div class="comments-operations">
		<div class="operations-wrapper">
			<div class="refresh-comments" pid="refresh-comments">
				<div class="icon-wrapper">
					<i class="fa fa-sync-alt" aria-hidden="true"></i>
				</div>
			</div>
			<%= sort.input() %>
		</div>
	</div>

<% } %>

<div>
<% _.each(comments, function(comment){ 

	commentf(comment) 

}) %>
</div>

<% if(needtoshow) {%>

	<div class="showmorecomments">
		<span><%=e('comments_next')%> (<%-needtoshow%>)</span>
	</div>

<% } %>