<%

var m = [];

var all = {
	edit : {
		icon : '<i class="fas fa-pencil-alt"></i>',
		text : e('editcomment'),
		class : 'edit'
	},

	remove : {
		icon : '<i class="far fa-times-circle"></i>',
		text : e('remove'),
		class : 'remove'
	},
	share : {
		icon : '<i class="fas fa-share-alt"></i>',
		text : e('share'),
		class : 'socialshare'
	},

	block : {
		icon : '<i class="fas fa-user-slash"></i>',
		text : e('blockuser'),
		class : 'block'
	},

	waiting : {
		icon : '<i class="fas fa-spinner fa-spin"></i>',
		text : e('actionWaitConf'),
		class : 'waiting'
	}

}	
	


	if(address == caddress){

		console.log('txid', txid, app.platform.sdk.node.transactions.findTemp(txid), app.platform.sdk.node.transactions.temp)

		if(!app.platform.sdk.node.transactions.findTemp(txid)){
			m.push('edit')
			m.push('remove')
			m.push('share')
		}
		else{
			m.push('waiting')
		}

	}
	else{
		m.push('block')
		m.push('share')
	}

	


%>

<div class="commentmenu">

	<% _.each(m, function(m){ var mo = all[m] %>

	<div elementsid="comments_menuitem_<%-mo.class||''%>" class="menuitem <%-mo.class||''%> table">
		
		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>

	</div>
		
	<% }) %>

</div>