<%

var m = [];

var all = {
	edit : {
		icon : '<i class="fas fa-pencil-alt"></i>',
		text : e('editcomment'),
		class : 'edit'
	},

	remove : {
		icon : '<i class="far fa-times-circle"></i>',
		text : e('remove'),
		class : 'remove'
	},
	share : {
		icon : '<i class="fas fa-share-alt"></i>',
		text : e('share'),
		class : 'socialshare'
	},
	complain : {
		icon : '<i class="fas fa-ban"></i>',
		text : e('reportuser'),
		class : 'complain'
	},

	block : {
		icon : '<i class="fas fa-user-slash"></i>',
		text : e('blockuser'),
		class : 'block'
	},

	unblock : {
		icon : '<i class="fas fa-user-check"></i>',
		text : e('unblockuser'),
		class : 'unblock'
	},

	waiting : {
		icon : '<i class="fas fa-spinner fa-spin"></i>',
		text : e('actionWaitConf'),
		class : 'waiting'
	}

}	
	
console.log('comment!', comment)


	if(address == caddress){

		if(!comment.temp && !comment.relay){
			
			if((typeof app.platform.sdk.user.myaccauntdeleted == 'undefined' || !app.platform.sdk.user.myaccauntdeleted())){
				m.push('edit')
				m.push('remove')
			}

			m.push('share')
		}
		else{
			m.push('waiting')
		}

	}
	else{
		m.push('share')

		if((typeof app.platform.sdk.user.myaccauntdeleted == 'undefined' || !app.platform.sdk.user.myaccauntdeleted())){

			var me = app.platform.sdk.user.me()

			if (me && me.relation(caddress, 'blocking')) {
				m.push('unblock')
			} else {
				m.push('block')
			}

			m.push('complain')
		}

	}
	


%>

<div class="commentmenu">

	<% _.each(m, function(m){ var mo = all[m] %>

	<div elementsid="comments_menuitem_<%-mo.class||''%>" class="menuitem <%-mo.class||''%> table">
		
		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>

	</div>
		
	<% }) %>

</div>