<% dplace = e('e13038');


if(isMobile()) dplace = e('e13039')

%>

<div class="postbody" answer="<%- answer %>" edit="<%- edit %>">
	<div class="posttable ">

		<% if(state) {%>

		<div class="iconWrapper">

			<%

				var src = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.image') || ''
				
				var name = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex')) +'.name') || '';

				var letter = name ? name[0] : ''

				if(!src){
					src = deep(app, 'platform.sdk.user.storage.me.image') || ''
				}
			%>	
			
			<div class="icon">
				<div class="usericon usericonsbsa another"  ban=".gif" image="<%-src || '*'%>">
					<% if(!src && letter) {%>

						<span class="letter">
							<%-letter.toUpperCase()%>
						</span>

					<% } else if (!src) { %>

						<i class="far fa-user"></i>

					<% } %>
				</div>
			</div>

		</div>

		<% } %>

		<% if(edit) {%>
			<div class="closeWrapper">
				<div elementsid="comments_closeEdit" class="closeEdit">

					<div class="icon">
						<i class="far fa-times-circle"></i>
					</div>

					
				</div>
			</div>

		<% } %>

		<% 
			
		
		if(!state || !user.validate() || _.isEmpty(mestate) || (mestate.reputation >= -50)) { %> 
 
			<div class="lcpp">
				<div class="txt">

					<textarea elementsid="leaveCommentPreview" class="leaveCommentPreview" placeholder="<%- placeholder || dplace %>"></textarea>

					<div class="leaveComment" placeholder="<%- placeholder || dplace %>"></div>

					<div elementsid="comments_embedimages" class="embedimages">
						<i class="fas fa-image"></i>
					</div>

					<% if(!isMobile() && !isTablet()) { %> 
						<div elementsid="comments_embedEmojiPrivew" class="embedEmojiPrivew">
						</div>
					<% } %>

				</div>

				<div class="limits">
					
				</div>

				<div class="newcommentdonate"></div>

				<div class="newcommentimages"></div>

				
				
			</div>

			<div class="postCellWrapper">
				<div class="cpostWrapper">
					<div elementsid="postaction" class="postaction">

						<div class="preloaderWrapper">
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>

						<div class="icon">
							<i class="fas fa-paper-plane"></i>
						</div>
					</div>
				</div>
			</div>

		<% } else { %> 
			<div class="reputationFailCell">
				<%=e('e13040')%>
			</div>
		<% } %>

	</div>

	<% if(answer) {%>

		<div elementsid="comments_closeAnswer" class="closeAnswer">
			<i class="far fa-times-circle"></i>
		</div>

	<% } %>

</div>