<% dplace = 'Tell Pocketpeople what you think';


if(isMobile()) dplace = 'Speak up'

 %>

<div class="postbody" answer="<%- answer %>" edit="<%- edit %>">
	<div class="posttable table">
		<div class="iconWrapper">

			<%

				var src = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.image') || ''  

			%>
			
			<div class="icon">
				<div class="usericon usericonsbsa another" image="<%-src || ''%>">
					<% if(!src) {%>
						<svg width="30" height="30" data-jdenticon-value="<%-share.address%>"></svg>
					<% } %>
				</div>
			</div>

		</div>

		<% if(edit) {%>
			<div class="closeWrapper">
				<div class="closeEdit">

					<div class="icon">
						<i class="far fa-times-circle"></i>
					</div>

					
				</div>
			</div>

		<% } %>

		<% if(mestate.reputation >= -50) { %> 
 
			<div class="lcpp">
				<div class="txt">

					<textarea class="leaveCommentPreview" placeholder="<%- placeholder || dplace %>"></textarea>

					<div class="leaveComment" placeholder="<%- placeholder || dplace %>"></div>
				</div>

				
			</div>

			<div class="postCellWrapper">
				<div class="cpostWrapper">
					<div class="postaction">

						<div class="preloaderWrapper">
							<div class="preloader5">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>

						<div class="icon">
							<i class="far fa-paper-plane"></i>
						</div>
					</div>
				</div>
			</div>

		<% } else { %> 
			<div class="reputationFailCell">
				You do not have commenting priviliges
			</div>
		<% } %>

	</div>

	<% if(answer) {%>

	<div class="closeAnswer">
		<i class="far fa-times-circle"></i>
	</div>

	<% } %>

</div>