<% dplace = e('e13038');


if(isMobile()) dplace = e('e13039')

 %>

<div class="postbody" answer="<%- answer %>" edit="<%- edit %>">
	<div class="posttable table">

		<% if(state) {%>

		<div class="iconWrapper">

			<%

				var src = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.image') || ''  

				if(!src){
					src = deep(app, 'platform.sdk.user.storage.me.image') || ''
				}
			%>	
			
			<div class="icon">
				<div class="usericon usericonsbsa another" image="<%-src || ''%>">
					<% if(!src) {%>
						<i class="far fa-user"></i>
					<% } %>
				</div>
			</div>

		</div>

		<% } %>

		<% if(edit) {%>
			<div class="closeWrapper">
				<div class="closeEdit">

					<div class="icon">
						<i class="far fa-times-circle"></i>
					</div>

					
				</div>
			</div>

		<% } %>

		<% if(!state || mestate.reputation >= -50) { %> 
 
			<div class="lcpp">
				<div class="txt">

					<textarea class="leaveCommentPreview" placeholder="<%- placeholder || dplace %>"></textarea>

					<div class="leaveComment" placeholder="<%- placeholder || dplace %>"></div>

					<div class="embedimages">
						<i class="fas fa-camera"></i>
					</div>

					<div class="embedEmojiPrivew">
					</div>

				</div>

				<div class="limits">
					
				</div>

				<div class="newcommentimages"></div>

				
				
			</div>

			<div class="postCellWrapper">
				<div class="cpostWrapper">
					<div class="postaction">

						<div class="preloaderWrapper">
							<div class="preloader5">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>

						<div class="icon">
							<i class="far fa-paper-plane"></i>
						</div>
					</div>
				</div>
			</div>

		<% } else { %> 
			<div class="reputationFailCell">
				<%=e('e13040')%>
			</div>
		<% } %>

	</div>

	<% if(answer) {%>

	<div class="closeAnswer">
		<i class="far fa-times-circle"></i>
	</div>

	<% } %>

</div>