#welcome {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgb(var(--background-total-theme));
}
#welcome .topbotder {
  position: absolute;
  top: 65px;
  width: 100%;
  left: 0;
  height: 1px;
  border-top: 1px solid rgb(var(--neutral-grad-0));
}
#welcome .navbottom {
  position: absolute;
  padding: 1em 2em;
  bottom: 0;
  right: 0;
}
#welcome .navbottom div {
  font-size: 0.8em;
}
#welcome .layout {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
#welcome .layout .imagepart {
  width: 39%;
  height: 100%;
}
#welcome .layout .imagepart .img {
  height: 100%;
  width: 100%;
}
#welcome .layout .contentpart {
  flex-grow: 1;
  padding: 2em;
  padding-left: 3.5em;
  position: relative;
}
#welcome .layout .contentpart .invitationcontent {
  padding: 1em 0;
}
#welcome .layout .contentpart .invitationcontent .cancelinvite {
  opacity: 0.4;
  cursor: pointer;
}
#welcome .layout .contentpart .invitationcontent .cancelinvite:hover {
  opacity: 0.7;
}
#welcome .layout .contentpart .logowrapper {
  padding: 1.5em 0;
}
#welcome .layout .contentpart .logowrapper img {
  width: 30px;
  height: 30px;
}
#welcome .layout .contentpart .features .feature {
  font-size: 1.5em;
}
#welcome .layout .contentpart .caption {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 0.5em;
}
#welcome .layout .contentpart .wrp {
  max-width: 85%;
}
#welcome .layout .contentpart .signinpart {
  padding: 1.5em 0;
  padding-top: 2.5em;
}
#welcome .layout .contentpart .signinpart .sin {
  width: 250px;
  border-radius: 30px;
}
#welcome .layout .contentpart .existing {
  color: #00a4ff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9em;
}
/*t*/
@media only screen and (max-width: 768px) {
  #welcome {
    position: static;
    padding-bottom: 3em;
  }
  #welcome .topbotder {
    display: none;
  }
  #welcome .navbottom {
    position: static;
    text-align: center;
    padding-top: 4em;
  }
  #welcome .navbottom div {
    font-size: 1em;
  }
  #welcome .navbottom a {
    display: block;
    padding-top: 0.5em;
  }
  #welcome .navbottom span {
    display: none;
  }
  #welcome .layout {
    flex-direction: column-reverse;
  }
  #welcome .layout .imagepart {
    width: 100%;
    height: 300px;
  }
  #welcome .layout .contentpart {
    width: 100%;
    padding: 1em;
    padding-top: 3em;
  }
  #welcome .layout .contentpart .logowrapper {
    padding: 1.5em 0;
  }
  #welcome .layout .contentpart .logowrapper img {
    width: 30px;
    height: 30px;
  }
  #welcome .layout .contentpart .features .feature {
    font-size: 1.2em;
  }
  #welcome .layout .contentpart .existing {
    padding-bottom: 2em;
  }
  #welcome .layout .contentpart .caption {
    font-size: 2.5em;
    padding-bottom: 0.5em;
  }
  #welcome .layout .contentpart .wrp {
    max-width: 100%;
  }
  #welcome .layout .contentpart .signinpart {
    padding: 1.5em 0;
    padding-top: 2.5em;
  }
}
