@import "../../css/__cssvar";

#authorization{	
	.work{
		padding-top: 4 * @rhythm!important;
		padding-bottom : 4 * @rhythm!important;
	}
	.maket{

		&.leftPart{
			background: #F7F7F9;
		}
	}
	.caption{
		font-size: 4.1em;
		font-weight: 100;
		margin-bottom : @rhythm!important;
	}

	button{
		min-width: 350px;

		&.toRegistration{
			min-width: 190px;
		}
	}

	.inputTable{

		>div{
			vertical-align: middle;

			.upload .fileUploader, .upload .fileUploader .elContent{
				position: relative;
			}

			&.fileUploaderWrapper{
				width: 190px;

				text-align: center;

				.fileUploader{
					
				}

				>div{
					color : @color-main;
					font-size: 0.8em;
				}
			}


		}

		&.stay{
			width: auto;
		}

		.staylabel{
			font-size: 0.8em;
		}
	}
	
	.sitelogin{
		.form{
			margin-top: 3 * @rhythm;
			.item{
				margin-bottom: 2 * @rhythm;
			
				width: 100%;

				&.e{
					margin-top: 4 * @rhythm;
				}

				.label{
					width: 100%;
					font-size: 0.9em;
					color: @color-main;
					font-weight: 700;
				}

				input{
					margin : 0 auto;
					padding: 2 * @rhythm;
					width: 100%;
					font-size: 1.5em;
					font-weight: 100;
					background: #fff;
					color : @color-main;
					border : 1px solid transparent;
					.transition(0.4s);
					

					&:focus{
						border : 1px solid @color-gray-light;
						background: #fff;
						color : @color-black2;
					}
				}

				.validationFail{

					color: @color-bad;
					margin-left: @rhythm;
					padding: 1.5 * @rhythm @rhythm;
				}
			}
		}

		
	}

	

}

.betasign{
	.btn1wr{
		display: none!important;
	}
}

html.stblack{
	#authorization{	
		
		.maket{
	
			&.leftPart{
				background: @color-black4;
			}
		}
		
	
		.inputTable{
	
			>div{
	
				&.fileUploaderWrapper{
	
					>div{
						color : @color-main;
					}
				}
	
	
			}
	
		}
		
		.sitelogin{
			.form{
				.item{
					
					.label{
						color: @color-main;
					}
	
					input{
					
						background: @color-black;
						color : @color-main;
						border : 1px solid transparent;
						
	
						&:focus{
							border : 1px solid @color-main;
							background: @color-black;
							color : @color-main;
						}
					}
	
					.validationFail{
						color: @color-bad;
					}
				}
			}
	
			
		}
	
		
	
	}
	
}

@media only screen and (max-width: 640px) {
	#authorization{	
		padding-bottom : 6 * @rhythm;
		.work{
			padding-top: 2 * @rhythm!important;
			padding-bottom : 2 * @rhythm!important;
			padding-left : @rhythm!important;
			padding-right: @rhythm!important;
		}
		.maket{

			&.leftPart{
				background: #F7F7F9;
			}
		}
		.caption{
			font-size: 2.1em;
		}

		button{
			width: 100%;
			min-width: 0;

			&.toRegistration{
				min-width: 0;
			}
		}

		
		.inputTable{


			>div{

				&.fileUploaderWrapper{
					width: 50%;
				}
			}

			&.typeactive{
				>div{
					&.fileUploaderWrapper{
						display: none;
					}
				}
			}
		}
	}
}