#authorization .mnemonicInputWrapper {
  display: flex;
  align-items: baseline;
}
#authorization .inputWrapperKey {
  display: flex;
  align-items: center;
}
#authorization .icon i {
  color: rgb(var(--color-txt-ac));
}
#authorization #registration .caption {
  display: none;
}
#authorization #registration .work {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
#authorization #registration .mWrapper {
  margin-top: 0;
}
#authorization #registration .mWrapper #test {
  width: 100%;
}
#authorization #registration .mWrapper #test .userPanel {
  padding-top: 0;
}
#authorization .work {
  padding-top: 2em;
  padding-bottom: 2em;
}
#authorization .maket.leftPart {
  background: rgb(var(--background-secondary-theme));
}
#authorization .caption {
  font-size: 4.1em;
  font-weight: 100;
  margin-bottom: 0.5em;
}
#authorization button {
  min-width: 350px;
}
#authorization button.toRegistration {
  min-width: 190px;
}
#authorization .inputTable > div {
  vertical-align: middle;
}
#authorization .inputTable > div .upload .fileUploader,
#authorization .inputTable > div .upload .fileUploader .elContent {
  position: relative;
}
#authorization .inputTable > div.actionButtonsWrapper {
  width: 80px;
  display: none;
  text-align: center;
}
#authorization .inputTable > div.actionButtonsWrapper .icon {
  font-size: 1.2em;
  height: 100%;
  line-height: 76px;
}
#authorization .inputTable > div.actionButtonsWrapper > div {
  color: rgb(var(--color-txt-ac));
  font-size: 0.8em;
}
#authorization .inputTable.stay {
  width: auto;
}
#authorization .inputTable .staylabel {
  font-size: 0.8em;
}
#authorization .sitelogin .form {
  margin-top: 1.5em;
}
#authorization .sitelogin .form .item {
  margin-bottom: 1em;
  width: 100%;
}
#authorization .sitelogin .form .item.e {
  margin-top: 2em;
}
#authorization .sitelogin .form .item .label {
  width: 100%;
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#authorization .sitelogin .form .item input {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  font-size: 1.5em;
  font-weight: 100;
  background: rgb(var(--background-total-theme));
  color: rgb(var(--color-txt-ac));
  border: 1px solid #3c4146;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#authorization .sitelogin .form .item input:focus {
  border: 1px solid rgb(var(--neutral-grad-1));
  background: rgb(var(--background-total-theme));
  color: rgb(var(--text-color));
}
#authorization .sitelogin .form .item .mnemonicItem {
  margin-bottom: 0.3em;
  width: 16%;
  font-size: 1.4em;
  padding: 0.5em;
  border-color: transparent;
  background-color: rgb(var(--neutral-grad-0));
}
#authorization .sitelogin .form .item .validationFail {
  color: rgb(var(--color-bad));
  margin-left: 0.5em;
  padding: 0.75em 0.5em;
}
#authorization .lptable {
  height: auto;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#authorization .lptable > div {
  vertical-align: middle;
}
#authorization.fastregistration .formv {
  display: block;
}
#authorization.fastregistration .formh {
  display: none;
}
#authorization.fastregistration .sitelogin .item {
  margin-top: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#authorization.fastregistration.signinshow .formh {
  display: block;
}
#authorization.fastregistration.signinshow .formv {
  display: none;
}
#authorization.fastregistration.signinshow .sitelogin .item {
  animation: 0.3s ease-out forwards mpt;
}
#authorization.fastregistration .leftPart .work {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
#authorization.fastregistration .leftPart .sitelogin .form .item.e {
  margin-top: 0;
}
#authorization.fastregistration .showformh {
  background: transparent;
  border: 0;
  color: rgb(var(--color-txt-ac));
}
@keyframes mpt {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 1.5em;
  }
}
.betasign .btn1wr {
  display: none!important;
}
.wnd.authwindow .wndinner {
  width: 400px;
  height: 90%;
  max-height: 600px;
  background: rgb(var(--background-total-theme));
  border-radius: 6px;
}
.wnd.authwindow .wndinner .wndcontent {
  padding: 0;
}
.wnd.authwindow #authorization #mnemonicInput {
  display: flex;
}
.wnd.authwindow #authorization .topCaption {
  padding-top: 1em;
  padding-bottom: 1em;
}
.wnd.authwindow #authorization .caption {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
}
.wnd.authwindow #authorization .work {
  padding-top: 0;
  padding-bottom: 0;
}
.wnd.authwindow #authorization .leftPart {
  display: none;
}
.wnd.authwindow #authorization #registration .mWrapper .panelWrapper {
  padding-bottom: 1em;
}
/*t*/
@media only screen and (max-width: 768px) {
  #authorization {
    padding-bottom: 3em;
    /*.maket{

			&.leftPart{
				background: #F7F7F9;
			}
		}*/
  }
  #authorization .uploadFile {
    width: 16px;
    margin-top: 10px;
  }
  #authorization .mnemonicInputWrapper {
    flex-direction: column;
    align-items: center;
  }
  #authorization .inputWrapperKey {
    flex-direction: column;
  }
  #authorization #mnemonicInput {
    width: 90%;
  }
  #authorization #mnemonicInput .mnemonicItem {
    margin-bottom: 0.3em;
    width: 49%;
    font-size: 1em;
    padding: 5px !important;
    border-color: transparent;
    border-radius: 6px;
    background-color: rgb(var(--neutral-grad-0));
  }
  #authorization #mnemonicInput .mnemonicItem:focus {
    border-color: rgb(var(--neutral-grad-1));
  }
  #authorization .work {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #authorization .mpad {
    padding-left: 1em;
    padding-right: 1em;
  }
  #authorization .caption {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }
  #authorization .caption.cpt2 {
    font-size: 2em;
  }
  #authorization button {
    width: 100%;
    min-width: 0;
  }
  #authorization button.toRegistration {
    min-width: 0;
  }
  #authorization .formh {
    text-align: center;
  }
  #authorization .keytable {
    display: block;
    position: relative;
  }
  #authorization .keytable > div {
    display: block;
  }
  #authorization .keytable > div.actionButtonsWrapper {
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
  #authorization .keytable > div.actionButtonsWrapper .label {
    display: none;
  }
  #authorization .keytable > div.actionButtonsWrapper .uploadFile,
  #authorization .keytable > div.actionButtonsWrapper .showPassword {
    height: 100%;
  }
  #authorization .keytable > div input {
    border-radius: 3px;
    padding-right: 80px !important;
  }
  #authorization .keytable > div input[type="file"] {
    padding: 0 !important;
  }
  .wnd.authwindow #authorization .topCaption {
    padding-left: 1em;
    margin-top: 0;
    padding-right: 1em;
  }
  .wnd.authwindow #authorization #registration {
    padding-top: 1.5em;
  }
  .wnd.authwindow #authorization .work {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .wnd.authwindow #authorization .label {
    text-align: center;
  }
  .wnd.authwindow #authorization button {
    width: 100%;
  }
  .wnd.authwindow #authorization button.toRegistration {
    min-width: 190px;
  }
}
.errorClass {
  border-color: red !important;
}
.loginValue {
  display: none;
}
