#imagegallery {
  position: relative;
  height: 640px;
  height: 100%;
}
#imagegallery .share {
  position: absolute;
  right: 66px;
  top: calc(0.5em + var(--app-margin-top));
  backdrop-filter: blur(2px) grayscale(30%);
  z-index: 150;
  border-radius: 50%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--text-on-bg-ac-color));
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(var(--color-shadow-base), 0.714), 0 0 3px rgba(var(--color-shadow-base), 0.519);
}
@media (pointer: hover) {
  #imagegallery .share:hover {
    background: rgba(var(--background-total-theme), 0.2);
    box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  }
}
#imagegallery .imagePreloader {
  position: absolute;
  width: 100px;
  text-align: center;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
#imagegallery.loading .imagePreloader {
  display: block;
}
#imagegallery.loading .imagesWrapper {
  opacity: 0;
}
#imagegallery .imagesWrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
#imagegallery .imagesWrapper .imagesAbsWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#imagegallery .imagesWrapper .imagesTableWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imagegallery .panel {
  position: absolute;
  left: 0.5em;
  top: calc(0.5em + var(--app-margin-top));
  height: 40px;
}
#imagegallery .panel .items {
  height: 100%;
  margin: 0 auto;
}
#imagegallery .panel .items .item {
  height: 100%;
  float: right;
}
#imagegallery .panel .items .item.left {
  float: left;
}
#imagegallery .panel .imageNavigation > div {
  float: left;
  height: 100%;
  font-size: 1.4em;
  padding: 0.5em;
}
#imagegallery .panel .imageNavigation > div.number {
  font-size: 1.3em;
  font-weight: 700;
}
#imagegallery .panel .imageNavigation > div.arrow {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (pointer: hover) {
  #imagegallery .panel .imageNavigation > div.arrow:hover {
    color: rgb(var(--color-good));
  }
}
#imagegallery .panel .imageNavigation > div:nth-last-child(1) {
  padding-right: 0;
}
#imagegallery .noImages {
  text-align: center;
  font-weight: 700;
  color: rgba(var(--text-on-bg-shadow-color), 0.5);
}
#imagegallery .images {
  table-layout: fixed;
}
#imagegallery .images > div {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#imagegallery .images .image {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#imagegallery .images .image .imgWrapper {
  margin: 0 auto;
  position: relative;
  will-change: transform;
}
#imagegallery .images .image img {
  display: block;
  margin: 0 auto;
}
#imagegallery .images .image img.cropper-hidden {
  display: block!important;
}
#imagegallery .images .image img {
  border-radius: 3px;
  opacity: 0;
}
.wnd.imageGallery {
  contain: strict;
}
.wnd.imageGallery .wndback {
  background: rgb(var(--color-shadow-base));
}
.wnd.imageGallery .wndcontent {
  padding: 0;
}
.wnd.imageGallery .wndinner {
  width: 100%;
  height: 100%;
}
.wnd #imagegallery {
  height: 100%;
}
.wnd #imagegallery .image {
  max-width: 1024px;
  max-height: 768px;
}
/*t*/
@media only screen and (max-width: 768px) {
  #imagegallery .panel {
    padding-right: 0.75em;
    bottom: auto;
    height: auto;
    padding: 0;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    top: calc(0.5 * 0.5em + var(--app-margin-top));
  }
  #imagegallery .panel .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imagegallery .panel .imageNavigation > div:nth-last-child(1) {
    padding-right: 0.5em;
  }
  #imagegallery .share {
    left: 0.5em;
    right: auto;
    top: calc(0.5em + var(--app-margin-top));
  }
  .wnd.imageGallery .wndcontent {
    padding: 0;
  }
}
