#imagegallery {
  position: relative;
  height: 640px;
  height: 100%;
}
#imagegallery .imagePreloader {
  position: absolute;
  width: 100px;
  text-align: center;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
#imagegallery.loading .imagePreloader {
  display: block;
}
#imagegallery.loading .imagesWrapper {
  opacity: 0;
}
#imagegallery .imagesWrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
#imagegallery .imagesWrapper .imagesAbsWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#imagegallery .imagesWrapper .imagesTableWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#imagegallery .panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}
#imagegallery .panel .items {
  height: 100%;
  margin: 0 auto;
}
#imagegallery .panel .items .item {
  height: 100%;
  float: right;
}
#imagegallery .panel .items .item.left {
  float: left;
}
#imagegallery .panel .imageNavigation > div {
  float: left;
  height: 100%;
  font-size: 1.4em;
  padding: 0.5em;
}
#imagegallery .panel .imageNavigation > div.number {
  font-size: 1.3em;
  font-weight: 700;
}
#imagegallery .panel .imageNavigation > div.arrow {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#imagegallery .panel .imageNavigation > div.arrow:hover {
  color: rgb(var(--color-good));
}
#imagegallery .panel .imageNavigation > div:nth-last-child(1) {
  padding-right: 0;
}
#imagegallery .noImages {
  text-align: center;
  font-weight: 700;
  color: rgba(var(--text-on-bg-shadow-color), 0.5);
}
#imagegallery .images {
  table-layout: fixed;
}
#imagegallery .images > div {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#imagegallery .images .image {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#imagegallery .images .image .imgWrapper {
  margin: 0 auto;
  position: relative;
  will-change: transform;
}
#imagegallery .images .image img {
  display: block;
  margin: 0 auto;
}
#imagegallery .images .image img.cropper-hidden {
  display: block!important;
}
#imagegallery .images .image img {
  border-radius: 3px;
  opacity: 0;
}
.wnd.imageGallery {
  contain: strict;
}
.wnd.imageGallery .wndback {
  background: rgb(var(--color-shadow-base));
}
.wnd.imageGallery .wndcontent {
  padding: 1em;
}
.wnd.imageGallery .wndinner {
  width: 100%;
  height: 100%;
}
.wnd #imagegallery {
  height: 100%;
}
.wnd #imagegallery .image {
  max-width: 1024px;
  max-height: 768px;
}
/*t*/
@media only screen and (max-width: 768px) {
  #imagegallery .panel {
    padding-right: 0.75em;
    bottom: 0.5em;
  }
  .wnd.imageGallery .wndcontent {
    padding: 0;
  }
}
