@import "../../css/__cssvar";

#imagegallery{
	position: relative;
	height: 640px;
	height: 100%;

	.imagePreloader{
		position: absolute;
		width: 100px;
		text-align: center;
		height: 50px;
		left: 0;
		right: 0;
		top : 0;
		bottom: 0;
		margin : auto;
		display: none;
	}

	&.loading{
		.imagePreloader{
			display: block;
		}

		.imagesWrapper{
			opacity: 0;
		}
	}

	.imagesWrapper{
		overflow: hidden;
		height: 100%;
		width: 100%;
		padding-bottom: 0;

		.imagesAbsWrapper{
			width: 100%;
			height: 100%;
			position: relative;
		}

		.imagesTableWrapper{
			position: absolute;
			left: 0;
		
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.panel{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 40px;

		.items{
			height: 100%;
			margin : 0 auto;

			.item{
				height: 100%;
				float: right;

				&.left{
					float: left;
				}
			}
		}

		
		.imageNavigation{
			>div{
				float: left;
				height: 100%;
				font-size: 1.4em;
				padding : @rhythm;

				&.number{
					font-size: 1.3em;
					font-weight: 700;
				}

				&.arrow{
					cursor: pointer;
					.transition(0.3s);

					&:hover{
						color : rgb(var(--color-good));
					}
				}

				&:nth-last-child(1){
					padding-right: 0;
				}
			}
		}
	}

	.noImages{
		text-align: center;
		font-weight: 700;
		color : rgba(var(--text-on-bg-shadow-color), 0.5);
	}

	.images{
		table-layout: fixed;
		>div{
			vertical-align: middle;
			width: 100%;
			height: 100%;
		}

		.image{
			margin : 0 auto;
			height: 100%;
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;

			.imgWrapper{
				margin : 0 auto;
				position: relative;
				will-change: transform;
			}

			
			img{				
				display: block;
				margin : 0 auto;
				&.cropper-hidden{
					display: block!important;
				}
			}

			img{
				border-radius: 3px;
				opacity: 0;
			}
		}
		
	}

	
}

.wnd{

	&.imageGallery{
		contain: strict;

		.wndback{
			background: rgb(var(--color-shadow-base));
		}
		.wndcontent{
			padding : 2 * @rhythm;
		}

		.wndinner{
			width: 100%;
			height: 100%;
		}
	}
	
	#imagegallery{
		height: 100%;

		.image{
			max-width: 1024px;
			max-height: 768px;
		}
	}
}


/*t*/ @media only screen and (max-width: 768px){
	#imagegallery{
		.panel{
			padding-right: 1.5 * @rhythm;
			bottom: @rhythm;
		}

		
	}

	.wnd{
		&.imageGallery{
			.wndcontent{
				padding : 0;
			}
		}
	}
}
