#home {
  padding: 1em 0.5em;
  padding-top: 2em;
}
#home .chapter {
  margin-bottom: 2.5em;
}
#home .caption {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#home .caption span {
  font-size: 1.5em;
  font-weight: 700;
}
#home .searchWrapper {
  padding: 0.5em 0;
  margin-top: 1em;
}
#home .applicationSearch {
  background: rgb(var(--neutral-grad-0));
  border-radius: 18px;
}
#home .applicationSearch input {
  background: transparent;
  border: 0;
  line-height: 44px;
  padding: 0;
}
#home .applicationSearch .searchPanel {
  background: transparent;
  border: 0;
}
#home .applicationsList {
  margin-top: 1em;
  padding: 0.5em;
}
#home .applicationsList .list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 7em;
}
#home .applicationsList .application {
  position: relative;
  padding: 0.5em 0;
}
#home .applicationsList .application .icon {
  margin: 0 auto;
  border-radius: 12px;
  width: 3em;
  height: 3em;
}
#home .applicationsList .application .name {
  text-align: center;
  margin-top: 0.5em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home .applicationsList .application .badge {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: rgb(var(--neutral-grad-1));
}
#home .applicationsList .application .badge[num="0"] {
  display: none;
}
#home .applicationsList .application.installed .badge {
  background: rgb(var(--color-bg-orange));
  width: 0.5em;
  height: 0.5em;
  top: 0.5em;
  right: 0.5em;
}
#home .applicationsList .application.installing .icon {
  border-radius: 12px;
  background: rgb(var(--neutral-grad-0));
}
#home .applicationsList .application.installing .badge {
  background: rgb(var(--color-good));
}
