#bestposts {
  background: #fff;
  border-radius: 12px;
  margin-top: 1em;
}
#bestposts .rcptwrp {
  background: #fff;
  border-radius: 12px;
  position: relative;
}
#bestposts .tcaptionwrapper {
  display: flex;
  align-items: center;
}
#bestposts .tcaptionwrapper .vc_valuecustom {
  width: 75px;
  font-size: 0.8em;
  font-weight: 500;
}
#bestposts .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_iconWrapper,
#bestposts .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#bestposts .tcaption {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  font-weight: 100;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
}
#bestposts .tcaption .authors {
  font-weight: 700;
}
#bestposts .tcaption .rating {
  color: #555770;
}
#bestposts .caption {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 1em;
}
#bestposts .loaderWrapper {
  display: none;
  padding: 1em;
  text-align: center;
}
#bestposts.loading .loaderWrapper {
  display: block;
}
#bestposts .subscribe,
#bestposts .unsubscribe {
  position: relative;
}
#bestposts .subscribe .fa-plus,
#bestposts .unsubscribe .fa-plus {
  position: absolute;
  top: 3px;
  left: 14px;
  font-size: 0.5em;
}
#bestposts .subscribe {
  color: #b2abac;
}
#bestposts .unsubscribe {
  color: #076C34;
}
#bestposts .posts {
  padding-bottom: 0.5em;
}
#bestposts .posts .post {
  padding: 1em;
}
#bestposts .posts .post .imageWrapper {
  margin-top: 0.5em;
}
#bestposts .posts .post .imageWrapper img {
  border-radius: 8px;
  max-width: 100%;
}
#bestposts .posts .post .postcontent {
  margin-top: 0.5em;
  word-break: break-word;
}
#bestposts .posts .post .postcontent .message {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  line-clamp: 15;
  -webkit-box-orient: vertical;
}
#bestposts .posts .post .infoWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #C7C8D9;
  margin-top: 1em;
}
#bestposts .posts .post .infoWrapper .actionsWrapper {
  display: flex;
  justify-content: flex-end;
}
#bestposts .posts .post .infoWrapper .actionsWrapper > div {
  padding-left: 0.75em;
}
#bestposts .posts .post .addressTable {
  cursor: pointer;
}
#bestposts .posts .post .addressTable > div {
  vertical-align: middle;
}
#bestposts .posts .post .addressTable > div.iconWrapper {
  width: 24px;
  text-align: center;
}
#bestposts .posts .post .addressTable > div.iconWrapper .usericon {
  height: 24px;
  width: 100%;
}
#bestposts .posts .post .addressTable > div.iconWrapper .usericon .letter {
  position: relative;
  font-size: 1em;
  top: -10px;
}
#bestposts .posts .post .addressTable > div.label {
  padding-left: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#bestposts .posts .post .addressTable > div.label .cur {
  color: #00a4ff;
}
#bestposts .posts .post .addressTable > div.label .top {
  display: flex;
}
#bestposts .posts .post .addressTable > div.label .top .name {
  font-weight: 700;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#bestposts .posts .post .addressTable > div.label .top .reputation {
  font-size: 0.9em;
  margin-left: 0.5em;
  font-weight: 700;
  color: #00a4ff;
}
#bestposts .posts .post .addressTable > div.label .light {
  font-size: 0.7em;
  color: #3c4146;
}
#bestposts .posts .post .addressTable > div.extra {
  width: 20px;
  text-align: right;
}
#bestposts .posts .post .blockingWrapper {
  display: none;
}
#bestposts .posts .post.userblocking .subscribebuttonstop {
  display: none;
}
#bestposts .posts .post.userblocking .blockingWrapper {
  display: inline;
}
#bestposts .posts .post .subscribebuttonstop .unsubscribe {
  display: none;
}
#bestposts .posts .post .subscribebuttonstop.following .unsubscribe {
  display: inline;
}
#bestposts .posts .post .subscribebuttonstop.following .notificationturn {
  display: inline;
}
#bestposts .posts .post .subscribebuttonstop.following .subscribe {
  display: none;
}
html.stblack #bestposts {
  background: #0a0c17;
}
/*t*/
@media only screen and (max-width: 768px) {
  #userslist {
    padding: 1em;
  }
  #userslist .users .addressTable > div.extra {
    width: 60px;
  }
}
