<% 

_.each(messages, function(message){ 

	var mine = '';
	var temp = '';
	var imagePreloader = '';
	var read = 'read';



	var n = deep(app, 'platform.sdk.usersl.storage.'+message.f+'.name') || message.f

	var src = deep(app, 'platform.sdk.usersl.storage.' + message.f + '.image')



	var imageExist = (message.AttachmentName && message.AttachmentPreview && message.AttachmentPreview!= 'pdf');

	if (app.platform.sdk.address.pnet().address == message.f) mine = 'mine';

	if (!src && !n && !mine) return;


	if (message.temp) {
	
		temp = 'temp sending';

		if (message.result){
			temp = 'temp ' + message.result;
		}
	}

	if (imageExist) imagePreloader = 'imagePreloader'

	if (message.Read && message.Read != "0") read='read';

%>

	<div class="chatmessage <%-read%> <%-mine%> <%-temp%> <%-imagePreloader%>" id="<%-message.tm + message.f%>">
		<div class="iconWrapper">
			<div class="icon">
				<a href="author?address=<%-message.f%>">
					<div class="usericon" image="<%-src || ''%>">

						<% if(!src) {%>
							<svg width="35" height="35" data-jdenticon-value="<%-message.f%>"></svg>
						<% } %>
						
					</div>
				</a>

				
			</div>
		</div>
		<div class="textWrapper">
			<div class="textWrapperTable table">
				<% if(!mine) {%>
					<div class="tiph">
						<div class="hvci">
							<div class="hvti">
							</div>
						</div>
					</div>

				<% } else {%>

					<div class="status">
						<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						<div class="preloaderStep">
							<div class="preloader5">
							    <span></span>
							    <span></span>
							    <span></span>
							</div>
						</div>
					</div>

				<% } %>
				<div class="textWrapper">

					<% if(message.decrypted && (message.decrypted.Message || message.decrypted.AttachmentName)) {%>

						<% if(message.decrypted.Message) {%>

							<div class="text">



								<%=filterXSS(clearScripts(donottrustLink(findAndReplaceLink(message.decrypted.Message, true))))%>
							</div>

						<% } %>

						<% if(message.decrypted.AttachmentName) {%>

							<div class="text">
								<div class="attachment">
									<div class="attachmentName">
										<span class="likelink"><%- message.decrypted.AttachmentName %> </span>

										<% if(message.decrypted.AttachmentPreview == 'pdf') {%>

											<i class="fa fa-file-pdf-o" aria-hidden="true"></i>

										<% } %>
									</div>

									<% if(imageExist) {%>

										<div class="attachmentPreview">
											<img src="<%-message.decrypted.AttachmentPreview%>">
										</div>

									<% } %>
								</div>
							</div>

						<% } %>

					<% } else {%>

						<div class="text">

							<div>

								<b>

								<% if(!mine) {%>
									<span class="name"><a href="author?address=<%-message.f%>"><%-n%>:</a></span>
								<% } else { %>
									<span class="name">You:</span>
								<% } %>

								</b>

							</div>

							<div>

								<%=filterXSS(emojione.toImage(clearScripts(donottrustLink(findAndReplaceLink(message.m, true)))))%>

							</div>
				
						</div>

					<% } %>

					<div class="time">
						
						<%-app.platform.convertUTCSS(message.tm)%>
					</div>
				</div>

				<% if(mine) {%>
					<div class="tiph">
						<div class="hvci">
							<div class="hvti">
							</div>
						</div>
					</div>

				<% } else {%>

					<div class="status">
						<i class="fa fa-exclamation-circle" aria-hidden="true"></i>

						<div class="preloaderStep">
							<div class="preloader5">
							    <span></span>
							    <span></span>
							    <span></span>
							</div>
						</div>
					</div>

				<% } %>
			</div>
		</div>

	</div>
	
<% })%>