#main {
  background: rgb(var(--background-main));
  min-height: 1200px;
}
#main.wshar .bgCaption {
  display: none;
}
#main .menuwrapper {
  margin-bottom: 0.5em;
  display: none;
  height: 77px;
  contain: strict;
}
#main .menuwrapper [fmode] {
  display: none;
}
#main .menuwrapper[fmode="settings"] [fmode="settings"] {
  display: block;
}
#main .menuwrapper[fmode="filters"] [fmode="filters"] {
  display: block;
}
#main .menuwrapper .panelitems {
  height: 100%;
  padding-right: 0.5em;
}
#main .menuwrapper .panelitems .panelItemsWrapper {
  display: flex;
  align-items: center;
}
#main .menuwrapper .panelitems .panelitem.icon {
  min-width: 44px;
  text-align: center;
}
#main .menuwrapper .panelitems .panelitem.btnlight {
  color: rgb(var(--neutral-grad-3));
  padding: 0.5em 1em;
}
#main .menuwrapper .panelitems .panelitem.btn {
  white-space: nowrap;
  padding: 0.5em 1em;
  border: 1px solid rgb(var(--neutral-grad-1));
  background: rgb(var(--neutral-grad-1));
  color: rgb(var(--neutral-grad-3));
  border-radius: 20px;
}
#main .menuwrapper .panelitems .panelitem.btn.active {
  background: rgb(var(--color-txt-orange));
  color: rgb(var(--text-on-bg-ac-color));
  border: 1px solid rgb(var(--color-txt-orange));
}
#main .menuwrapper .panelitems .panelitem.btn.trans {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-top: 0.75em;
}
#main .menuwrapper .panelitems .panelitem.btn span {
  display: inline-block;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
#main .menuwrapper .panelitems .panelitem.btn i {
  vertical-align: middle;
}
#main .menuwrapper .panelitems .panelitem.nfl {
  flex-grow: 2;
  line-height: 77px;
  color: rgb(var(--neutral-grad-3));
  margin-right: 1em;
}
#main .menuwrapper .panelitems .panelitem.nfl .vc_value {
  line-height: 44px;
}
#main .menuwrapper .panelitems .panelitem.nfl .vc_textInput.table {
  line-height: 36px;
}
#main .menuwrapper .panelitems .panelitem.modes {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#main .menuwrapper .panelitems .panelitem.modes::-webkit-scrollbar {
  display: none!important;
}
#main .menuwrapper .panelitems .selectwrapper {
  margin-left: 0.5em;
  min-width: 44px;
  text-align: center;
  opacity: 0.5;
}
#main .menuwrapper .panelitems .selectwrapper i {
  font-size: 0.8em;
}
#main .menuwrapper .panelitems .mode {
  scroll-snap-align: center;
  font-weight: 700;
  margin-right: 1em;
  opacity: 0.5;
  font-size: 1.15em;
}
#main .menuwrapper .panelitems .mode.active {
  opacity: 1;
  color: rgb(var(--text-color));
}
#main .menuwrapper .panelitems .mode:nth-last-child(1) {
  margin-right: 0;
}
#main .menuwrapper .filtersbuttonwrapper {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
}
#main .menuwrapper .filtersbuttonwrapper button {
  width: 100%;
}
#main .topvideosWrapper {
  display: block;
  background: rgb(var(--background-total-theme));
  margin-bottom: 0.5em;
  min-height: 160px;
  position: relative;
  border-radius: 12px;
}
#main .topvideosWrapper.hasshares {
  display: block;
  min-height: 160px;
}
#main .topvideosWrapper .horizontalLentaWrapper {
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0;
}
#main .topvideosWrapper .horizontalLentacaption {
  padding: 1em 0;
  padding-bottom: 0.5em;
}
#main .topvideosWrapper .horizontalLentacaption span {
  font-weight: 700;
  font-size: 0.8em;
}
#main .topvideosWrapper #lenta.mainvideo .shares .authorgroup .share {
  padding: 0;
}
#main .topvideosWrapper .durationWrapper,
#main .topvideosWrapper .statswrapper {
  top: 6px;
  bottom: auto!important;
}
#main.videomain {
  background: rgb(var(--background-main));
}
#main.videomain .addbutton {
  display: none!important;
}
#main .seemore,
#main .loadprev,
#main .loadmore {
  border-radius: 12px;
}
#main .addbutton {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgb(var(--background-main));
  color: rgb(var(--neutral-grad-3));
  padding: 1em;
  text-align: center;
  cursor: pointer;
  display: none;
  opacity: 0;
  z-index: 30;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main .addbutton span,
#main .addbutton i {
  font-size: 0.8em;
}
#main .addbutton.scrollactive {
  display: block;
  opacity: 0.8;
}
#main .addbutton:hover {
  opacity: 1;
}
#main #share {
  min-height: 130px;
}
#main .leftpanelcell {
  float: left;
  width: 242px;
  padding-right: 0.5em;
}
#main .leftpanelsvicell {
  width: 242px;
  padding-right: 0.5em;
}
#main .mainpanelsvicell,
#main .mainpanelcell {
  width: 256px;
  float: right;
}
#main .lentacell {
  margin-right: 256px;
  margin-left: 242px;
}
#main .lentacell {
  padding-top: 10px;
  min-height: 3000px;
  padding-bottom: 1000px;
}
#main .lentacell .cf_spacer,
#main .lentacell .bgCaption {
  margin-bottom: 0.5em;
}
#main .lentacell .cnt {
  max-width: 720px;
  margin: 0 auto;
}
#main .lentacellsvi {
  margin-right: 0;
  padding-top: 0.5em;
}
#main.videomain .mainpanelsvicell,
#main.videomain .mainpanelcell {
  display: none;
}
#main.videomain .loadprev {
  display: none!important;
  width: 100%;
  padding-left: 1em;
}
#main.videomain .loadprev button {
  background: rgb(var(--neutral-grad-1));
  border-color: rgb(var(--neutral-grad-1));
  color: rgb(var(--text-color));
  width: 450px;
}
#main.videomain .loadprev button:hover {
  background: rgb(var(--neutral-grad-1));
  border-color: rgb(var(--neutral-grad-1));
  color: rgb(var(--color-txt-ac));
}
#main.videomain .lentacell {
  margin-right: 0;
  margin-left: 212px;
}
#main.videomain .lentacell .cnt {
  max-width: none;
}
#main.videomain .bgCaption {
  display: none;
}
#main.videomain .leftpanelcell {
  width: 212px;
}
#main.videomain .leftpanelsvicell {
  width: 102px;
}
#main .maincntwrapper {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main .opensvi {
  display: none;
}
#main .opensvi .backtolenta {
  opacity: 0;
}
#main .opensvi .leftpanelsvicell {
  display: none;
}
#main .upbackbuttonwrapper {
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#main .upbuttonwrapper {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#main .upbuttonwrapper {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main.opensvishowed {
  min-height: 990px;
}
#main.opensvishowed .upbackbuttonwrapper {
  opacity: 1;
}
#main.opensvishowed .leftpanelcell {
  opacity: 0;
}
#main.opensvishowed .opensvi {
  display: block;
}
#main.opensvishowed .opensvi .backtolenta {
  opacity: 1;
}
#main.opensvishowed .maincntwrapper {
  position: fixed;
  transform: translateX(-100%);
}
#main.opensvishowed .upbuttonwrapper {
  display: none;
  opacity: 0;
}
#main .renderposthere #post {
  background: transparent;
}
#main .renderposthere #post .postWrapper {
  margin: 0;
}
#main.onepost .lentacell {
  margin-right: 0;
}
#main .fxd {
  padding-top: 10px;
}
#main .fxdsmall {
  top: 75px;
}
#main .panel {
  border-radius: 12px;
}
#main .work.mwork {
  padding: 0!important;
}
#main .work .work {
  width: 100%!important;
}
#main .caption {
  font-size: 3.3em;
}
#main #comments .caption {
  font-size: 1em;
}
#main .bgCaption {
  height: auto;
  padding-bottom: 0;
  border-radius: 12px;
}
#main .bgCaption.sec {
  color: rgb(var(--text-color));
  background: rgb(var(--background-total-theme));
}
#main .bgCaption.cf_caption {
  padding: 0;
  margin-bottom: 0;
}
#main .bgCaption.cf_caption #share.unfocus .attachements {
  display: none!important;
}
#main .bgCaption.cf_caption #share.unfocus .draggablepart .draggablewrapper > div.draggablemarkerwrapper {
  display: none;
}
#main .bgCaption.cf_caption #share.unfocus .absolutetxwrapper {
  height: 56px;
}
#main .bgCaption.cf_caption #share.unfocus .absolutetxwrapper .txtwrapper {
  height: 100%;
}
#main .bgCaption.cf_caption #share.unfocus .txtwrapper > div {
  padding: 0 1em;
  vertical-align: middle;
}
#main .bgCaption.cf_caption #share.unfocus .txtwrapper > div.iconWrapper {
  padding: 0;
}
#main .bgCaption.cf_caption #share.unfocus .txt {
  margin-bottom: 0;
}
#main .bgCaption.cf_caption #share.unfocus .txt .emojionearea {
  border-radius: 50px;
  border: 1px solid rgb(var(--neutral-grad-1));
}
#main .bgCaption.cf_caption #share.unfocus .txt .emojionearea .emojionearea-button {
  top: 8px;
  right: 8px;
}
#main .bgCaption.cf_caption #share.unfocus .txt .emojionearea-editor {
  border-radius: 50px;
  min-height: 38px;
  height: 38px;
  padding-left: 1em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 36px;
}
#main .bgCaption.cf_caption #share.unfocus .txt .emojionearea,
#main .bgCaption.cf_caption #share.unfocus .txt .emojionearea.form-control {
  box-shadow: none;
}
#main .bgCaption.cf_caption #share.unfocus .tgs {
  display: none;
}
#main .bgCaption.cf_caption #share.unfocus .postlineWrapper {
  display: none;
}
#main .bgCaption.cf_caption #share.unfocus .error {
  display: none;
}
#main .fxdsmall,
#main .fxd {
  z-index: 10;
  position: fixed;
}
#main .fxd {
  position: relative;
}
#main .fxd.dfxd {
  top: 75px;
  position: fixed;
}
#main .smallpanell .iconWrapper {
  border: 1px solid rgb(var(--neutral-grad-1));
  background: rgb(var(--background-total-theme));
  color: rgb(var(--neutral-grad-4));
  cursor: pointer;
  height: 44px;
  width: 44px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#main .smallpanell .itemName {
  display: none;
  height: 44px;
  line-height: 42px;
  background: rgb(var(--background-total-theme));
  border-radius: 22px;
  padding: 0 1em;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8em;
}
#main .smallpanell .item {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.5em;
  height: 44px;
}
#main .smallpanell .item.active .iconWrapper,
#main .smallpanell .item:hover .iconWrapper {
  color: rgb(var(--color-txt-ac));
  border-color: rgb(var(--color-txt-ac));
}
#main .smallpanell .item:hover .iconWrapper {
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#main .smallpanell .item:hover .itemName {
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#main .smallpanell:hover .itemName {
  border: 1px solid rgb(var(--color-txt-ac));
  opacity: 1;
  display: block;
  padding-left: 54px;
}
.addcategorydialog {
  z-index: 1500;
}
html.testpocketnet #main.testpocketnetbg {
  background-image: url(../../img/testbg.png);
  background-position: center center;
}
html.mobileview #main .lentacell .cnt {
  max-width: none;
}
html.mobileview #main .bgCaption {
  display: none;
}
@media only screen and (max-width: 1280px) {
  #main .addbutton {
    display: none!important;
  }
  #main .addbutton.active {
    display: none!important;
  }
  #main .leftpanelcell {
    width: 202px;
  }
  #main .leftpanelsvicell {
    width: 202px;
  }
  #main .mainpanelsvicell,
  #main .mainpanelcell {
    width: 236px;
  }
  #main .lentacell {
    margin-right: 236px;
    margin-left: 202px;
  }
}
@media only screen and (max-width: 1024px) {
  #main:not(.videomain) .mainpanelcell {
    display: none;
  }
  #main:not(.videomain) .lentacell {
    margin-right: 0;
  }
}
/*t*/
@media only screen and (max-width: 768px) {
  #main .menuwrapper .panelitems,
  #main .topvideosWrapper .wrpcn,
  #main .lentacell .lentaWrapper {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
  }
  #main .menuwrapper {
    background: rgb(var(--background-total-theme));
    display: block;
  }
  #main .topvideosWrapper {
    border-radius: 0px;
  }
  #main .mainpanelcell {
    display: block;
  }
  #main .leftpanelcell {
    font-size: 1.1em;
    float: none;
    width: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    border-radius: 0;
    /**
			
			border-radius: 10px;
			top : 4 * @rhythm;
			bottom : 4 * @rhythm;*/
    right: -100%;
    z-index: 201;
    background: rgb(var(--background-total-theme));
    color: rgb(var(--text-color));
    padding-top: 0;
    overflow-y: scroll;
    padding-bottom: 90px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid rgba(--neutral-grad-1, 0.3);
    box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    contain: strict;
    will-change: transform;
    padding-right: 0;
    overscroll-behavior: none;
  }
  #main .leftpanelcell #tagcloud,
  #main .leftpanelcell #categories {
    color: rgb(var(--text-color));
  }
  #main.leftshowed .leftpanelcell {
    transform: translateX(-100%);
  }
  #main .lentacell {
    margin-right: 0;
    margin-left: 0;
  }
  #main.videomain .lentacell {
    margin-left: 0;
  }
  #main.videomain .leftpanelcell {
    width: auto;
  }
  #main .addbutton {
    display: none!important;
  }
  #main .addbutton.active {
    display: none!important;
  }
  #main .topvideosWrapper {
    margin-bottom: 0.5em;
    height: 195px;
    content-visibility: auto;
    contain-intrinsic-size: 195px;
    contain: strict;
  }
  #main .topvideosWrapper.hasshares {
    display: block;
  }
  #main .topvideosWrapper .horizontalLentaWrapper {
    padding: 0.5em 0;
    padding-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  #main .topvideosWrapper .horizontalLentacaption {
    display: none;
    padding: 1em;
  }
  #main .topvideosWrapper .horizontalLentacaption span {
    font-size: 1em;
  }
  #main {
    min-height: 0;
  }
  #main .bgCaption {
    display: none;
  }
  #main .work.mwork {
    padding: 0!important;
  }
  #main .work .work {
    width: 100%!important;
  }
  #main #share {
    max-width: 750px;
  }
}
@media only screen and (max-width: 768px) {
  #main .fxdsmall {
    width: 100%;
    position: static;
    top: 0;
  }
  #main .maincntwrapperOvf {
    overflow: hidden;
    width: 100%;
  }
  #main .lentacell {
    padding-top: 0;
    padding-bottom: 90px;
  }
  #main .fxd {
    padding-top: 0;
  }
  #main .panel {
    border-radius: 12px;
  }
}
html.mobileview #main .opensvi .leftpanelsvicell {
  display: none;
}
