#searchusers .usersWrapper {
  display: flex;
  align-items: center;
}
#searchusers .usersWrapper .userinfo {
  margin-top: 0.5em;
  width: 180px;
  min-width: 180px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  border: 1px solid rgb(var(--neutral-grad-0));
  background: rgba(var(--neutral-grad-0), 0.1);
  text-align: center;
}
#searchusers .usersWrapper .userinfo .icon .usericon {
  margin: 0.5em auto;
}
#searchusers .usersWrapper .userinfo .nameinfo {
  margin-top: 0.5em;
}
#searchusers .usersWrapper .userinfo .nameinfo .name {
  font-weight: 700;
  margin-bottom: 0.5em;
}
#searchusers .usersWrapper .userinfo .nameinfo .additional {
  font-size: 0.9em;
}
#searchusers .usersWrapper .userinfo .panel {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
#searchusers .usersWrapper .userinfo .panel .usermenuitem {
  padding: 0.25em 0;
  cursor: pointer;
  white-space: nowrap;
}
#searchusers .usersWrapper .userinfo .panel > div span {
  font-size: 0.9em;
}
#searchusers .usersWrapper .userinfo .panel > div i {
  text-align: center;
  width: 30px;
  font-size: 0.8em;
}
