<div id="<%-module.map.id%>">

	
	
	<% if(typeof inauth == 'undefined' || !inauth) {%>

		<div class="work">
			<div class="caption">
				<% if (state) {%>
					
					<%=e('createnewcontinue')%>
				<% } else { %> 
					<%=e('createnew')%>
				<% } %>
				
			</div>
		</div>

	<% } %>
	
	<div class="mWrapper">
		<div class="work">
			<div class="stepsWrapper">
				<div class="stepsWrapperLine">
					<% _.each(steps, function(step){ %> 

					<div class="step" step="<%-step.id%>">
						<div class="stepBody">
							
						</div>
					</div>

					<% }) %>
				</div>
			</div>

			<div class="panelWrapper">
			
			</div>

		</div>

		<div class="upanelloader">
			<div class="t table">
				<div class="t cell">
					<div class="preloader5"><img src="./img/three-dots.svg"/></div>
				</div>
			</div>
			
		</div>

	</div>

	<div class="hidden hiddenqrcode"></div>




	<% if (!state) {%>
		<div class="">
			<div class="hasaccount">
				<!--<a elementsid="hrefauthorization" href="authorization">-->
					<button class="button ghost gotohasaccount"><%=e('id0')%></button>
				<!--</a>-->
			</div>
		</div>

	<% } %>
</div>