<div id="<%-module.map.id%>">

	<% if (!state) {%>
		<div class="mobiledevice">
			<div class="hasaccount ">
				<div>
					<a href="authorization">
						<%=e('id0')%>
					</a>
				</div>
			</div>

			<div class="separators ">
				<hr class="separator"/>
				<span><%=e('or')%></span>
				<hr class="separator"/>
			</div>

			<div class="createNewAccountLabel ">
				<%=e('e13025')%>
				<i class="fas fa-chevron-down"></i>
			</div>

		</div>

	<% } %>
	
	<% if(typeof inauth == 'undefined' || !inauth) {%>

		<div class="work">
			<div class="caption">
				<% if (state) {%>
					
					<%=e('createnewcontinue')%>
				<% } else { %> 
					<%=e('createnew')%>
				<% } %>
				
			</div>
		</div>

	<% } %>
	
	<div class="mWrapper">
		<div class="work">
			<div class="stepsWrapper">
				<div class="stepsWrapperLine">
					<% _.each(steps, function(step){ %> 

					<div class="step" step="<%-step.id%>">
						<div class="stepBody">
							
						</div>
					</div>

					<% }) %>
				</div>
			</div>

			<div class="panelWrapper">
			
			</div>

		</div>

		<div class="upanelloader">
			<div class="t table">
				<div class="t cell">
					<div class="preloader5"><span></span><span></span><span></span></div>
				</div>
			</div>
			
		</div>

	</div>

	<div class="hidden hiddenqrcode"></div>
</div>