#activities .container {
  min-height: 70vh;
  background: rgb(var(--background-main));
  padding: 0.5em;
  padding-top: 0;
}
#activities .container .subcaption {
  display: block;
  font-size: 2em;
  font-weight: 100;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(var(--background-total-theme));
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  z-index: 1;
}
#activities .container .filters {
  margin-top: 1em;
  display: flex;
  margin: 0 0;
  padding: 0 0 1em;
  flex-wrap: wrap;
}
#activities .container .filters .tab {
  font-weight: 500;
  cursor: pointer;
  font-size: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  white-space: nowrap;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#activities .container .filters .tab.active {
  color: #2F80ED;
  position: relative;
}
#activities .container .filters .tab.active::after {
  position: absolute;
  content: ' ';
  bottom: -0.5em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
}
#activities .container .content {
  margin-top: 25px;
}
#activities .container .content .empty {
  padding: 4em 0;
  padding-bottom: 4em;
  color: rgb(var(--neutral-grad-4));
  text-align: center;
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
}
#activities .container .period {
  margin: 1em 0;
  background: rgb(var(--neutral-grad-1));
  padding: 1em 0.5em;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
#activities .container .period .title {
  padding-left: 1em;
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}
#activities .container .comment {
  padding: 0.5em 0;
  margin-bottom: 0.125em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  display: flex;
  flex-wrap: nowrap;
  background: transparent;
  transition: 0.3s ease all;
  align-items: flex-start;
  cursor: pointer;
}
#activities .container .comment .img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
@media (pointer: fine) {
  #activities .container .comment:hover {
    border-radius: 12px;
    background: rgb(var(--neutral-grad-1));
  }
}
#activities .container .comment .description {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
#activities .container .comment .description div:not(:first-child) {
  margin-top: 0.5em;
}
#activities .container .comment .icon {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#activities .container .comment .icon i.fa-thumbs-up {
  color: rgb(var(--color-bg-ac-bright));
}
#activities .container .comment .icon i.fa-thumbs-down {
  color: rgb(var(--color-bad));
}
#activities .container .comment .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s all ease;
}
#activities .container .comment .avatar a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#activities .container .comment .avatar img {
  height: 100%;
  width: 100%;
}
#activities .container .comment .avatar.multy {
  overflow: hidden;
  border-radius: 50%;
  height: 48px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: none;
  width: 48px;
  min-width: 48px;
}
#activities .container .comment .avatar.multy img,
#activities .container .comment .avatar.multy div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
#activities .container .comment .donateSum {
  margin: auto 0;
  max-height: 28px;
  display: inline;
  border-radius: 25px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(var(--text-on-bg-ac-color));
  margin-left: auto;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  background: linear-gradient(-45deg, #4FACFE, #09D5DF, #4FACFE, #09D5DF);
  background-size: 400% 400%;
}
#activities .container .comment .boostSum {
  max-height: 28px;
  display: inline;
  border-radius: 25px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(var(--text-on-bg-ac-color));
  margin-left: auto;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  background: linear-gradient(-45deg, #F83600, #F9D423);
  background-size: 400% 400%;
}
#activities .container .comment .message {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;
  color: rgb(var(--neutral-grad-3));
}
#activities .container .comment .images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
#activities .container .comment .images img {
  max-width: 35px;
  max-height: 35px;
  background: rgb(var(--neutral-grad-1));
  border-radius: 5px;
}
#activities .container .comment .date {
  color: rgb(var(--neutral-grad-2));
}
#activities .container .comment .stars {
  display: flex;
}
#activities .container .comment .stars i {
  width: 20px;
  color: rgb(var(--color-star-yellow));
  margin-right: 7px;
}
#activities .container .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#activities .container .videos .video {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  margin-bottom: 0.5em;
  border-bottom: solid rgb(var(--neutral-grad-1)) 1px;
  cursor: pointer;
}
#activities .container .videos .video .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 72px;
  min-width: 110px;
  max-width: 110px;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  background: #000;
}
#activities .container .videos .video .image .img {
  width: 110px;
  height: 62px;
}
#activities .container .videos .video .blocked {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgb(var(--neutral-grad-2));
  color: rgb(var(--neutral-grad-1));
}
#activities .container .videos .video .blocked i {
  font-size: 32px;
  color: rgb(var(--neutral-grad-1));
  margin-bottom: 5px;
}
#activities .container .videos .video .blocked span {
  font-size: 12px;
}
#activities .container .videos .video .info {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  width: 67%;
}
#activities .container .videos .video .info > div {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}
#activities .container .videos .video .info .name {
  max-width: 100%;
  font-weight: bold;
  white-space: nowrap;
}
#activities .container .videos .video .info .second,
#activities .container .videos .video .info .third,
#activities .container .videos .video .info .date {
  display: flex;
  color: rgb(var(--neutral-grad-2));
  align-items: center;
}
#activities .container .videos .video .info .second > div,
#activities .container .videos .video .info .third > div,
#activities .container .videos .video .info .date > div {
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
  font-weight: 400;
}
#activities .container .videos .video .info .second i,
#activities .container .videos .video .info .third i,
#activities .container .videos .video .info .date i {
  margin-right: 8px;
}
#activities .container .videos .video .info .date {
  margin-top: 0.5em;
  margin-bottom: 0;
}
#activities .container .videos .video .info .third {
  margin-top: 0.5em;
  font-size: 0.8em;
}
.wndactivities.wnd .wndcontent {
  padding-top: 0;
}
.wndactivities.wnd .wndinner {
  max-width: 540px;
  max-height: 90vh;
}
.wndactivities.wnd #activities .container {
  border-radius: 12px;
  background: initial;
  padding: 0.5em;
  margin-bottom: 1em;
}
.wndactivities.wnd #activities .content {
  margin-top: 1em;
}
/*t*/
@media only screen and (max-width: 768px) {
  #activities .container {
    /*.filters {
				display: flex;
				touch-action: manipulation;
				overflow-x: auto;
				scrollbar-width: none;
				-ms-overflow-style: none;
				scroll-behavior: smooth;
				flex-wrap: nowrap;
	
				&::-webkit-scrollbar {
					display: none !important;
				}
	
				.tab {
					font-weight: 500;
					cursor: pointer;
					margin-right: 2 * @rhythm;
					transition: all .3s ease;
	
					&.active {
						color: #2F80ED;
						position: relative;
	
					}
	
				}
			}*/
  }
}
