.container {
  min-height: 70vh;
  border-radius: 6px;
  background: rgb(var(--background-main));
  padding: 1em 4em 2em;
  margin-bottom: 2em;
}
.container .title {
  display: block;
  margin-top: 25px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}
.container .filters {
  display: flex;
  margin: 0 -4em;
  padding: 0 4em 12px;
  border-bottom: solid #E3E4EB 1px;
}
.container .filters .tab {
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin-right: 24px;
  transition: all 0.3s ease;
}
.container .filters .tab.active {
  color: #2F80ED;
  position: relative;
}
.container .filters .tab.active::after {
  position: absolute;
  content: ' ';
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
}
.container .content {
  margin-top: 25px;
}
.container .period {
  margin: 36px 0;
  font-weight: 600;
  line-height: 20px;
}
.container .comment {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #E3E4EB;
  display: flex;
  flex-wrap: nowrap;
}
.container .comment .description {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}
.container .comment .description .head {
  line-height: 20px;
}
.container .comment .description div:not(:first-child) {
  margin-top: 8px;
}
.container .comment .description i {
  font-size: 16px;
  line-height: 20px;
}
.container .comment .description i.fa-thumbs-up {
  margin: 8px 0;
  color: rgb(var(--color-bg-ac-bright));
}
.container .comment .description i.fa-thumbs-down {
  margin: 8px 0;
  color: rgb(var(--color-txt-red));
}
.container .comment .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background: rgb(var(--neutral-grad-0));
  color: rgb(var(--color-txt-gray-dark));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
  border-radius: 50%;
  height: 48px;
  min-width: 48px;
  line-height: 3em;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}
.container .comment .avatar img {
  height: 100%;
  width: 100%;
}
.container .comment .message {
  color: rgb(var(--neutral-grad-3));
}
.container .comment .date {
  color: rgb(var(--neutral-grad-2));
}
.container .comment .stars {
  display: flex;
}
.container .comment .stars i {
  width: 20px;
  color: rgb(var(--color-star-yellow));
  margin-right: 7px;
}
.normalizedmobile .container {
  min-height: 70vh;
  border-radius: 6px;
  background: initial;
  padding: 1em 2em 2em;
  margin-bottom: 2em;
}
.normalizedmobile .title {
  display: block;
  margin-top: 25px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
.normalizedmobile .filters {
  display: flex;
  margin: 0 -2em;
  padding: 0 2em 12px;
  border-bottom: solid #E3E4EB 1px;
  overflow: auto;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
.normalizedmobile .filters::-webkit-scrollbar {
  display: none !important;
  /*chrome*/
}
.normalizedmobile .filters .tab {
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 24px;
  transition: all 0.3s ease;
}
.normalizedmobile .filters .tab.active {
  color: #2F80ED;
  position: relative;
}
.normalizedmobile .filters .tab.active::after {
  position: absolute;
  content: ' ';
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
}
.normalizedmobile .content {
  margin-top: 25px;
}
.normalizedmobile .comment {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #E3E4EB;
  display: flex;
  flex-wrap: nowrap;
}
.normalizedmobile .comment .description {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}
.normalizedmobile .comment .description div:not(:first-child) {
  margin-top: 8px;
}
.normalizedmobile .comment .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background: rgb(var(--neutral-grad-0));
  color: rgb(var(--color-txt-gray-dark));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
  border-radius: 50%;
  height: 48px;
  min-width: 48px;
  line-height: 3em;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}
.normalizedmobile .comment .avatar img {
  height: 100%;
  width: 100%;
}
.normalizedmobile .comment .message {
  color: rgb(var(--neutral-grad-3));
}
.normalizedmobile .comment .date {
  color: rgb(var(--neutral-grad-2));
}
.normalizedmobile .comment .stars {
  display: flex;
}
.normalizedmobile .comment .stars i {
  width: 20px;
  color: rgb(var(--color-star-yellow));
  margin-right: 7px;
}
