/*
html[theme="black"]{
  #activities {
    .container {
      background: rgb(var(--background-secondary-theme));

      .period {
        background: rgb(var(--background-total-theme));
      }

      .empty {
        background: rgb(var(--background-hidden-layer));
      }

      .comment, .filters {
        border-bottom: 1px solid rgb(var(--background-total-theme));
      }
      .comment {
        @media (pointer: fine) {
          &:hover {
            background: rgb(var(--background-total-theme));
          }

        }
      }
    }
  }
}*/
#activities .container {
  min-height: 70vh;
  border-radius: 6px;
  background: rgb(var(--background-main));
  padding: 0em 4em 2em;
  margin-bottom: 2em;
}
#activities .container .subcaption {
  display: block;
  padding-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#activities .container .filters {
  display: flex;
  margin: 0 0;
  padding: 0 0 1em;
  border-bottom: solid rgb(var(--neutral-grad-1)) 1px;
  touch-action: manipulation;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}
#activities .container .filters::-webkit-scrollbar {
  display: none !important;
}
#activities .container .filters .tab {
  font-weight: 500;
  cursor: pointer;
  font-size: 1em;
  line-height: 20px;
  margin-right: 24px;
  transition: all 0.3s ease;
}
#activities .container .filters .tab.active {
  color: #2F80ED;
  position: relative;
}
#activities .container .filters .tab.active::after {
  position: absolute;
  content: ' ';
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
}
#activities .container .content {
  margin-top: 25px;
}
#activities .container .content .empty {
  padding: 4em 0;
  padding-bottom: 4em;
  color: rgb(var(--neutral-grad-4));
  text-align: center;
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
}
#activities .container .period {
  margin: 36px 0;
  background: rgb(var(--neutral-grad-1));
  min-height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#activities .container .period .title {
  padding-left: 1em;
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}
#activities .container .comment {
  padding: 0.5em;
  margin-bottom: 0.125em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  display: flex;
  flex-wrap: nowrap;
  background: transparent;
  transition: 0.3s ease all;
  align-items: flex-start;
  cursor: pointer;
}
@media (pointer: fine) {
  #activities .container .comment:hover {
    border-radius: 12px;
    background: rgb(var(--neutral-grad-1));
  }
}
#activities .container .comment .description {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
#activities .container .comment .description div:not(:first-child) {
  margin-top: 0.5em;
}
#activities .container .comment .icon {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}
#activities .container .comment .icon i.fa-thumbs-up {
  color: rgb(var(--color-bg-ac-bright));
}
#activities .container .comment .icon i.fa-thumbs-down {
  color: rgb(var(--color-bad));
}
#activities .container .comment .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s all ease;
}
#activities .container .comment .avatar a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#activities .container .comment .avatar img {
  height: 100%;
  width: 100%;
}
#activities .container .comment .avatar.multy {
  overflow: hidden;
  border-radius: 50%;
  height: 48px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: none;
  width: 48px;
  min-width: 48px;
}
#activities .container .comment .avatar.multy img,
#activities .container .comment .avatar.multy div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
#activities .container .comment .donateSum {
  margin: auto 0;
  max-height: 28px;
  display: inline;
  border-radius: 25px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(var(--text-on-bg-ac-color));
  margin-left: auto;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  background: linear-gradient(-45deg, #4FACFE, #09D5DF, #4FACFE, #09D5DF);
  background-size: 400% 400%;
}
#activities .container .comment .boostSum {
  max-height: 28px;
  display: inline;
  border-radius: 25px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(var(--text-on-bg-ac-color));
  margin-left: auto;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  background: linear-gradient(-45deg, #F83600, #F9D423);
  background-size: 400% 400%;
}
#activities .container .comment .message {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;
  color: rgb(var(--neutral-grad-3));
}
#activities .container .comment .images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
#activities .container .comment .images img {
  max-width: 35px;
  max-height: 35px;
  background: rgb(var(--neutral-grad-1));
  border-radius: 5px;
}
#activities .container .comment .date {
  color: rgb(var(--neutral-grad-2));
}
#activities .container .comment .stars {
  display: flex;
}
#activities .container .comment .stars i {
  width: 20px;
  color: rgb(var(--color-star-yellow));
  margin-right: 7px;
}
#activities .container .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#activities .container .videos .video {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid rgb(var(--neutral-grad-1)) 1px;
  cursor: pointer;
}
#activities .container .videos .video .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 120px;
  min-width: 150px;
  max-width: 150px;
  overflow: hidden;
  border-radius: 12px;
  height: 100%;
}
#activities .container .videos .video .image img {
  width: 100%;
  min-height: 100%;
}
#activities .container .videos .video .blocked {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgb(var(--neutral-grad-2));
  color: rgb(var(--neutral-grad-1));
}
#activities .container .videos .video .blocked i {
  font-size: 32px;
  color: rgb(var(--neutral-grad-1));
  margin-bottom: 5px;
}
#activities .container .videos .video .blocked span {
  font-size: 12px;
}
#activities .container .videos .video .info {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
#activities .container .videos .video .info span {
  margin: 0 8px;
  font-size: 30px;
}
#activities .container .videos .video .info > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
#activities .container .videos .video .info .name {
  max-width: 100%;
  font-weight: bold;
}
#activities .container .videos .video .info .second,
#activities .container .videos .video .info .third {
  display: flex;
  color: rgb(var(--neutral-grad-2));
  align-items: center;
}
#activities .container .videos .video .info .second > div,
#activities .container .videos .video .info .third > div {
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  font-weight: 400;
  font-size: 14px;
}
#activities .container .videos .video .info .second i,
#activities .container .videos .video .info .third i {
  margin-right: 8px;
}
.wndactivities.wnd #activities .container {
  border-radius: 6px;
  background: initial;
  padding: 1em;
  margin-bottom: 2em;
}
.wndactivities.wnd #activities .filters {
  display: flex;
  margin: 0 0;
  padding: 0 0 12px;
  border-bottom: solid rgb(var(--neutral-grad-1)) 1px;
  overflow: auto;
}
.wndactivities.wnd #activities .filters .tab {
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 24px;
  transition: all 0.3s ease;
}
.wndactivities.wnd #activities .filters .tab.active {
  color: #2F80ED;
  position: relative;
}
.wndactivities.wnd #activities .filters .tab.active::after {
  position: absolute;
  content: ' ';
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
}
.wndactivities.wnd #activities .content {
  margin-top: 25px;
}
.wndactivities.wnd #activities .comment {
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  border-radius: 0;
  display: flex;
  flex-wrap: nowrap;
}
.wndactivities.wnd #activities .comment .description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.wndactivities.wnd #activities .comment .description div:not(:first-child) {
  margin-top: 0.5em;
}
.wndactivities.wnd #activities .comment .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  background: rgb(var(--neutral-grad-0));
  color: rgb(var(--color-txt-gray-dark));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  line-height: 3em;
  font-size: 1em;
  position: relative;
}
.wndactivities.wnd #activities .comment .avatar img {
  height: 100%;
  width: 100%;
}
.wndactivities.wnd #activities .comment .message {
  color: rgb(var(--neutral-grad-3));
}
.wndactivities.wnd #activities .comment .date {
  color: rgb(var(--neutral-grad-2));
}
.wndactivities.wnd #activities .comment .stars {
  display: flex;
}
.wndactivities.wnd #activities .comment .stars i {
  width: 20px;
  color: rgb(var(--color-star-yellow));
  margin-right: 7px;
}
.wndactivities.wnd #activities .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wndactivities.wnd #activities .videos .video {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 110px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid rgb(var(--neutral-grad-1)) 1px;
}
.wndactivities.wnd #activities .videos .video .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 110px;
  min-width: 120px;
  max-width: 120px;
  overflow: hidden;
  border-radius: 12px;
  height: 100%;
}
.wndactivities.wnd #activities .videos .video .image img {
  width: 100%;
  min-height: 100%;
}
.wndactivities.wnd #activities .videos .video .blocked {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(var(--neutral-grad-2));
  color: rgb(var(--neutral-grad-1));
  text-align: center;
}
.wndactivities.wnd #activities .videos .video .blocked i {
  font-size: 26px;
  color: rgb(var(--neutral-grad-1));
  margin-bottom: 5px;
}
.wndactivities.wnd #activities .videos .video .blocked span {
  font-size: 10px;
}
.wndactivities.wnd #activities .videos .video .info {
  margin: 0 0.5em;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.wndactivities.wnd #activities .videos .video .info span {
  margin: 0 8px;
  font-size: 30px;
}
.wndactivities.wnd #activities .videos .video .info > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
.wndactivities.wnd #activities .videos .video .info .name {
  max-width: 100%;
  font-weight: bold;
}
.wndactivities.wnd #activities .videos .video .info .second,
.wndactivities.wnd #activities .videos .video .info .third {
  display: flex;
  color: rgb(var(--neutral-grad-2));
  align-items: center;
}
.wndactivities.wnd #activities .videos .video .info .second > div,
.wndactivities.wnd #activities .videos .video .info .third > div {
  margin-right: 8px;
}
.wndactivities.wnd #activities .videos .video .info .second i,
.wndactivities.wnd #activities .videos .video .info .third i {
  margin-right: 8px;
}
