@import "../../css/__cssvar";

#addaccount{	
	.work{
		padding-top: 4 * @rhythm!important;
		padding-bottom : 4 * @rhythm!important;
	}
	.maket{

		&.leftPart{
			background: rgb(var(--background-main));
		}
	}
	.caption{
		font-size: 4.1em;
		font-weight: 100;
		margin-bottom : @rhythm!important;
	}

	button{
		min-width: 350px;

		&.toRegistration{
			min-width: 190px;
		}
	}

	.inputTable{

		>div{
			vertical-align: middle;

			.upload .fileUploader, .upload .fileUploader .elContent{
				position: relative;
			}

			&.actionButtonsWrapper{
				width: 120px;

				text-align: center;

				.fileUploader{
					.inputWrapper input {
						&::-webkit-file-upload-button {
							display: none;
						}
					}
				}

				>div{
					color : rgb(var(--color-txt-ac));
					font-size: 0.8em;
				}
			}


		}

	}
	
	.sitelogin{
		.form{
			margin-top: 3 * @rhythm;
			.item{
				margin-bottom: 2 * @rhythm;
			
				width: 100%;

				&.e{
					margin-top: 4 * @rhythm;
				}

				.label{
					width: 100%;
					font-size: 0.9em;
					color : rgb(var(--color-txt-ac));
					font-weight: 700;
				}

				input{
					margin : 0 auto;
					padding: 2 * @rhythm;
					width: 100%;
					font-size: 1.5em;
					font-weight: 100;
					background: rgb(var(--background-total-theme));
					color : rgb(var(--color-txt-ac));
					border : 1px solid transparent;
					.transition(0.4s);
					

					&:focus{
						border : 1px solid rgb(var(--neutral-grad-1));
						background: rgb(var(--background-total-theme));
						color : rgb(var(--text-color));
					}
				}

				.validationFail{

					color: rgb(var(--color-bad));
					margin-left: @rhythm;
					padding: 1.5 * @rhythm @rhythm;
				}
			}
		}
		
	}


}

.wnd.addaccountwnd{
	.wndinner{
        width : 100%;
        height: 100%;
        max-width: 570px;
		max-height: 450px;
    }

	.wndcontent {
		padding : 0;
	}

	#addaccount{	

		.work{
			padding-top: 2 * @rhythm!important;
			padding-bottom : 2 * @rhythm!important;
		}

		.caption{
			font-size: 2.1em;
		}
	
		.inputTable{
	
			>div{
				vertical-align: middle;
	
				.upload .fileUploader, .upload .fileUploader .elContent{
					position: relative;
				}

				&.actionButtonsWrapper{
					width: 120px;
	
					text-align: center;
	
					.fileUploader{
						
					}
	
					>div{
						color : rgb(var(--color-txt-ac));
						font-size: 0.8em;
					}
				}
	
	
			}
	
		}
	}
}

/*t*/ @media only screen and (max-width: 768px){
	#addaccount{	
		
		.work{
			padding-top: 2 * @rhythm!important;
			padding-bottom : 2 * @rhythm!important;
			padding-left : @rhythm!important;
			padding-right: @rhythm!important;
		}
		
		.caption{
			font-size: 2.1em;
		}

		button{
			width: 100%;
			min-width: 0;

			&.toRegistration{
				min-width: 0;
			}
		}

		
		.inputTable{


			>div{

				&.actionButtonsWrapper{
					width: 50%;
				}
			}
		}
	}
}