#addaccount .work {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
#addaccount .maket.leftPart {
  background: rgb(var(--background-main));
}
#addaccount .caption {
  font-size: 4.1em;
  font-weight: 100;
  margin-bottom: 0.5em !important;
}
#addaccount button {
  min-width: 350px;
}
#addaccount button.toRegistration {
  min-width: 190px;
}
#addaccount .inputTable > div {
  vertical-align: middle;
}
#addaccount .inputTable > div .upload .fileUploader,
#addaccount .inputTable > div .upload .fileUploader .elContent {
  position: relative;
}
#addaccount .inputTable > div.actionButtonsWrapper {
  width: 120px;
  text-align: center;
}
#addaccount .inputTable > div.actionButtonsWrapper .fileUploader .inputWrapper input::-webkit-file-upload-button {
  display: none;
}
#addaccount .inputTable > div.actionButtonsWrapper > div {
  color: rgb(var(--color-txt-ac));
  font-size: 0.8em;
}
#addaccount .sitelogin .form {
  margin-top: 1.5em;
}
#addaccount .sitelogin .form .item {
  margin-bottom: 1em;
  width: 100%;
}
#addaccount .sitelogin .form .item.e {
  margin-top: 2em;
}
#addaccount .sitelogin .form .item .label {
  width: 100%;
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#addaccount .sitelogin .form .item input {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  font-size: 1.5em;
  font-weight: 100;
  background: rgb(var(--background-total-theme));
  color: rgb(var(--color-txt-ac));
  border: 1px solid transparent;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#addaccount .sitelogin .form .item input:focus {
  border: 1px solid rgb(var(--neutral-grad-1));
  background: rgb(var(--background-total-theme));
  color: rgb(var(--text-color));
}
#addaccount .sitelogin .form .item .validationFail {
  color: rgb(var(--color-bad));
  margin-left: 0.5em;
  padding: 0.75em 0.5em;
}
.wnd.addaccountwnd .wndinner {
  width: 100%;
  height: 100%;
  max-width: 570px;
  max-height: 450px;
}
.wnd.addaccountwnd .wndcontent {
  padding: 0;
}
.wnd.addaccountwnd #addaccount .work {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.wnd.addaccountwnd #addaccount .caption {
  font-size: 2.1em;
}
.wnd.addaccountwnd #addaccount .inputTable > div {
  vertical-align: middle;
}
.wnd.addaccountwnd #addaccount .inputTable > div .upload .fileUploader,
.wnd.addaccountwnd #addaccount .inputTable > div .upload .fileUploader .elContent {
  position: relative;
}
.wnd.addaccountwnd #addaccount .inputTable > div.actionButtonsWrapper {
  width: 120px;
  text-align: center;
}
.wnd.addaccountwnd #addaccount .inputTable > div.actionButtonsWrapper > div {
  color: rgb(var(--color-txt-ac));
  font-size: 0.8em;
}
/*t*/
@media only screen and (max-width: 768px) {
  #addaccount .work {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
  #addaccount .caption {
    font-size: 2.1em;
  }
  #addaccount button {
    width: 100%;
    min-width: 0;
  }
  #addaccount button.toRegistration {
    min-width: 0;
  }
  #addaccount .inputTable > div.actionButtonsWrapper {
    width: 50%;
  }
}
