@import "../../css/__cssvar";

#postscores{

    .work{
        width: 100%;
        padding : 0 2 * @rhythm;
    }

    .caption{
        text-align: left;
        color : @color-gray2;
        margin-bottom: @rhythm;
        span{
            font-size: 1.3em;
            font-weight: 100;
        }
        
    }

    .subcaption{
        padding : 2 * @rhythm;
        border-bottom : 1px solid @color-gray-slight;
        span{
            font-size: 0.9em;
            color : @color-gray-mlight;
        }
        
    }

    .youstars{
        background: #f1f1f1;
        padding : 2 * @rhythm;
        padding-bottom: 2 * @rhythm;

        .youstarsTable{
            height: auto;
            >div{
                vertical-align: middle;
                width : 40%;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.forstarsWrapper{
                    width : 60%;
                }
            }
        }
    }

    .itemwr{
        width : auto;
        margin-left: auto;

        >diV{
            vertical-align: middle;

            &.starswr{
                width: 150px;
            }
        }

        .stars{
            height: 40px;
            line-height: 40px;
            text-align: center;
            color : @color-bright;
            cursor: pointer;

            i{

            }
            

            &.active,
            &:hover{
                
            }
        }
    }

    .authorTable{
        width : auto;

        >div{
            vertical-align: middle;
            padding-left: 2 * @rhythm;
            
            &.iconWrapper{
                width : 45px;
                padding-left : 0;
            };
        }
    }

    .userscore{
        color : #FFAE00;
    }

    .details{
        .detailsWrapper{
            padding-bottom : @rhythm;
            border-bottom : 1px solid @color-gray-mlight;
        }
        .bystars{
            i{
                color : #FFAE00;
            }
            .ratingrow{
                >div{
                    vertical-align: middle;
                    padding : @rhythm 0;

                    &.label{
                        width : 70px
                    }

                    &.pecent{
                        width : 55px;
                        text-align: right;
                    }
                }
            }
        }

        .linebg{
            width: 100%;
            position: relative;
            height: 3px;

            .line{
                .transition(0.3s);
                position: absolute;
                left : 0;
                top : 0;
                bottom : 0;
                background: #FFAE00;
            }
        }
    }

    #userslist{
        padding : 0;
        padding-top : @rhythm;
        background: #fafafa;

        .users .user{
            margin-bottom: 0;

            .addressTable>div.extra{
                width: 70px;
            }
        }

        .caption{
            padding : @rhythm 2 * @rhythm;
            padding-bottom: 2 * @rhythm;
            font-size: 1em;
            border-bottom : 1px solid @color-gray-slight;
            margin-bottom: 0;

            span{
                font-size: 0.9em;
                color : @color-gray-mlight;
            }
        }

        .wrk{
            padding : 0 2 * @rhythm;
        }

        .empty{
            color : @color-gray-mlight;
            text-align: center;
            background: #fafafa;
            padding : 4 * @rhythm;
            padding-bottom : 6 * @rhythm;
        }
    }
}


.postscoreswnd.wnd{
    .wndinner{
        max-width: 370px;
        max-height: 610px;
    }

    .wndcontent{
        overflow: hidden;
        padding : 0;
    }

    #postscores{
        position: absolute;
        left : 0;
        right: 0;
        top : 0;
        bottom : 0;

        .fordetailsusers{
            position: absolute;
            left : 0;
            right : 0;
            bottom: 0;
            overflow-y: scroll;
            top: 110px;
        }

        .youstars{
            position: absolute;
            left : 0;
            right : 0;
            top: 0;
            height: 110px;
        }
    }
    
}

html.stblack{
    #postscores{

       
    
        .caption{
            color : @color-bright;
        }
    
        .subcaption{
            color : @color-main;
        }
    
        .youstars{
            background: @color-black4;
        }
    
        .itemwr{
           
            .stars{
                color : @color-bright;
            }
        }
    
    
        .details{
            .detailsWrapper{
                border-bottom : 1px solid @color-gray2;
            }
           
            .linebg{
               
                .line{
                    background: #FFAE00;
                }
            }
        }
    
        #userslist{
            background: @color-black4;
    
            .caption{
                color : @color-main;
            }
    
    
            .empty{
                color : @color-gray-mlight;
                background: @color-black4;
            }
        }
    }
    
   
}