#postscores .work {
  width: 100%;
}
#postscores .ratingrowWrapper {
  width: 100%;
}
#postscores .caption {
  text-align: left;
  color: rgb(var(--neutral-grad-3));
}
#postscores .caption span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}
#postscores .subcaption {
  padding: 1em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
}
#postscores .subcaption span {
  font-size: 0.9em;
  color: rgb(var(--neutral-grad-2));
}
#postscores .youstars {
  padding: 1em;
  padding-bottom: 1em;
}
#postscores .youstars .youstarsTable {
  height: auto;
}
#postscores .youstars .youstarsTable > div {
  vertical-align: middle;
  width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#postscores .youstars .youstarsTable > div.forstarsWrapper {
  width: 60%;
}
#postscores .itemwr {
  justify-content: center;
}
#postscores .authorTable {
  width: auto;
}
#postscores .authorTable > div {
  vertical-align: middle;
  padding-left: 1em;
}
#postscores .authorTable > div.iconWrapper {
  width: 45px;
  padding-left: 0;
}
#postscores .userscore {
  color: #FFAE00;
}
#postscores .details {
  margin-top: 1em;
}
#postscores .details .detailsWrapper {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
}
#postscores .details .bystars {
  margin-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid rgb(var(--background-main));
  margin: 0 1em;
}
#postscores .details .bystars i {
  color: rgb(var(--color-star-yellow));
}
#postscores .details .bystars .ratingrow > div {
  vertical-align: middle;
  padding: 0.5em 0;
}
#postscores .details .bystars .ratingrow > div.label {
  width: 20PX;
  color: rgb(var(--neutral-grad-4));
}
#postscores .details .bystars .ratingrow > div.pecent {
  width: 55px;
  padding-left: 10px;
}
#postscores .details .linebg {
  width: 100%;
  position: relative;
  height: 8px;
}
#postscores .details .linebg .line {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  border-radius: 100px;
  left: 0;
  top: 0;
  bottom: 0;
}
#postscores .details .linebg .line-filled {
  background: rgb(var(--color-bg-orange));
}
#postscores .details .linebg .line-empty {
  background: rgb(var(--background-main));
}
#postscores #userslist {
  padding: 0;
  background: rgb(var(--background-total-theme));
}
#postscores #userslist .users .user {
  margin-bottom: 0;
}
#postscores #userslist .users .user .addressTable > div.extra {
  width: 70px;
}
#postscores #userslist .caption {
  padding: 0.5em 1em;
  font-size: 1em;
  border-bottom: 1px solid rgb(var(--neutral-grad-1));
  margin-bottom: 0;
}
#postscores #userslist .caption span {
  font-style: default;
  font-size: 0.9em;
  color: rgb(var(--neutral-grad-4));
}
#postscores #userslist .wrk {
  padding: 0 1em;
}
#postscores #userslist .empty {
  color: rgb(var(--neutral-grad-3));
  text-align: center;
  background: rgb(var(--background-secondary-theme));
  padding: 2em;
  padding-bottom: 3em;
}
#postscores .fordetailsusers .rating {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  font-family: Nunito Sans;
}
#postscores .fordetailsusers .totalLikes {
  font-size: 14px;
  text-align: center;
  color: rgb(var(--neutral-grad-4));
}
.postscoreswnd.wnd {
  z-index: 2005;
}
.postscoreswnd.wnd .wndinner {
  max-width: 370px;
  max-height: 610px;
}
.postscoreswnd.wnd .wndcontent {
  padding: 0;
}
.postscoreswnd.wnd #postscores .youstars {
  background: rgb(var(--neutral-grad-0));
  border-bottom: 1px solid rgb(var(--color-bg-orange));
}
@media only screen and (max-width: 768px) {
  #postscores .youstars .youstarsTable > div {
    display: none;
  }
  #postscores .youstars .youstarsTable > div.forstarsWrapper {
    width: 100%;
    display: table-cell;
  }
  #postscores #userslist {
    padding-bottom: 2em;
  }
}
