#aboutFacebook img {
  border-radius: 10px;
}
#aboutFacebook h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
}
#aboutFacebook h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(var(--color-h2-aboutcc));
  text-align: center;
  text-transform: uppercase;
}
#aboutFacebook h2 > span {
  position: relative;
}
#aboutFacebook h3 {
  font-size: 24px;
  font-weight: 600;
}
#aboutFacebook .services {
  padding: 60px 0;
}
#aboutFacebook .works {
  padding: 30px;
  height: 600px;
  background: url(../../img/about/bg-bastion-section1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#aboutFacebook .works > .main-wrapper {
  position: relative;
  z-index: 2;
}
#aboutFacebook .works > .main-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
#aboutFacebook .works > .main-wrapper > div .works__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .works > .main-wrapper > div .works__container > .text {
  display: flex;
  width: 100%;
  font-size: 120%;
  margin-right: 20px;
  justify-content: space-around;
}
#aboutFacebook .works > .main-wrapper > div .works__container > .text > p {
  margin: 20px 0;
  color: rgb(var(--color-black));
  width: 250px;
}
#aboutFacebook .works > .main-wrapper > div > .image {
  width: 40%;
  height: auto;
  margin-left: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 250px;
}
#aboutFacebook .works > .main-wrapper > div > .image > img {
  width: 100%;
}
#aboutFacebook .works h2 > span {
  font-weight: 400;
}
#aboutFacebook .videos {
  background: rgb(var(--color-cc-videos));
  padding: 80px 0;
}
#aboutFacebook .videos .main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}
#aboutFacebook .videos .main-wrapper .video1 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#aboutFacebook .open {
  width: 100%;
}
#aboutFacebook .open > .main-wrapper {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#aboutFacebook .open > .main-wrapper .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#aboutFacebook .open > .main-wrapper .content .discover {
  width: 400px;
}
#aboutFacebook .open > .main-wrapper .content .discover h2 {
  text-align: center;
  font-size: 1.5em;
}
#aboutFacebook .open > .main-wrapper .content .discover p {
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
  height: 60px;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > .text {
  width: 100%;
  flex-direction: column;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > .text > p {
  padding: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div {
  width: 40px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div:first-child {
  margin-left: 0;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div > a > img {
  width: 25px;
  height: 25px;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div > a > p {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
#aboutFacebook .open > .main-wrapper .content .discover .one-item > div > a > i {
  color: rgb(var(--color-cc-blue));
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
#aboutFacebook .darkbg {
  padding: 30px 0;
  position: relative;
}
#aboutFacebook .darkbg > .main-wrapper {
  position: relative;
  padding: 50px 0;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > img {
  width: 500px;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 45px;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text > p {
  margin: 10px 0;
  text-align: left;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text > p > i {
  margin-right: 5px;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text > h2 {
  text-align: left;
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text ol {
  margin: 10px 0;
}
#aboutFacebook .darkbg > .main-wrapper > .dark__container > .text ol li {
  margin: 10px 0;
}
#aboutFacebook .team {
  padding: 60px 0;
}
#aboutFacebook .blog {
  padding: 60px 0;
  background: url(../../img/about/andreas-brun-14IbodW7owU-unsplash.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#aboutFacebook .blog::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-cc-form));
  z-index: 1;
}
#aboutFacebook .blog > .main-wrapper {
  position: relative;
  z-index: 2;
  text-align: center;
}
#aboutFacebook .blog h2 {
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .blog h2 > span::after {
  background: rgb(var(--color-cc-white));
}
#aboutFacebook .blog .button {
  margin-top: 30px;
}
#aboutFacebook .contact {
  padding: 60px 0;
}
#aboutFacebook .contact .map {
  margin-top: 30px;
}
#aboutFacebook footer {
  padding: 60px 0;
}
#aboutFacebook footer > .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutFacebook .main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
#aboutFacebook header {
  background-color: rgb(var(--color-cc-grey));
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}
#aboutFacebook header > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#aboutFacebook .main-menu {
  margin-left: auto;
}
#aboutFacebook .main-menu > ul > li {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(var(--color-black));
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
#aboutFacebook .main-menu > ul > li > a {
  text-decoration: none;
  color: inherit;
}
#aboutFacebook .main-menu > ul > li:last-child {
  margin-right: 0;
}
#aboutFacebook .main-menu > ul > li::after {
  content: '';
  width: 10%;
  height: 3px;
  background: rgb(var(--color-cc-menu));
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
  transition-duration: 0.3s;
}
#aboutFacebook .main-menu > ul > li:hover::after {
  opacity: 1;
  width: 100%;
}
#aboutFacebook .main-board {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 0 ;
}
#aboutFacebook .main-board > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}
#aboutFacebook .main-board h1 {
  color: rgb(var(--color-fb));
  padding: 0;
  position: relative;
  margin-bottom: 35px;
  margin: auto 0;
  font-weight: 600;
  width: 50%;
}
#aboutFacebook .main-board h2 {
  position: relative;
  color: rgb(var(--color-cc-white));
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 35px;
  width: 70%;
}
#aboutFacebook .img-main-block {
  width: 50%;
}
#aboutFacebook .img-main-block img {
  width: 500px;
}
#aboutFacebook .main-board__left-block {
  width: 50%;
  display: block;
}
#aboutFacebook .main-board__left-block h3 {
  margin-top: 30px;
  color: rgb(var(--color-cc-dark));
}
#aboutFacebook .main-board__left-block h1 {
  width: 90%;
}
#aboutFacebook .main-board__left-block > div {
  color: rgb(var(--color-cc-white));
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 30px;
}
#aboutFacebook .main-board__left-block > div:last-of-type {
  display: flex;
}
#aboutFacebook .main-board__left-block_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#aboutFacebook .main-board__left-block_2 > div {
  color: rgb(var(--color-black));
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  width: 45%;
}
#aboutFacebook .main-board__left-block_2 > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#aboutFacebook .main-board__left-block_2 > div:last-child > a {
  color: rgb(var(--color-black));
}
#aboutFacebook .main-board__left-block_2 > div:last-child > a:hover {
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .grey {
  background: rgb(var(--color-cc-grey));
  padding: 70px 0;
}
#aboutFacebook .main-board__image {
  margin: auto;
  width: 30%;
  border-radius: 10px;
}
#aboutFacebook .main-board__button-link {
  display: flex;
  align-items: center;
  width: 165px;
  height: 50px;
  border: 1px solid rgb(var(--color-cc-blue));
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  text-decoration: none;
  color: rgb(var(--color-cc-white));
  font-size: 12px;
  transition-duration: 0.3s;
}
#aboutFacebook .main-board__button-link:first-of-type {
  margin-right: 20px;
}
#aboutFacebook .main-board__button-link > i {
  margin-left: 20px;
  margin-right: 15px;
  font-size: 30px;
  color: rgb(var(--color-cc-blue));
  width: 26px;
  transition-duration: 0.3s;
}
#aboutFacebook .main-board__button-link:hover {
  background: rgb(var(--color-cc-blue));
}
#aboutFacebook .main-board__button-link:hover > i {
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .main-board__button-link_bold {
  font-size: 14px;
  font-weight: 600;
}
#aboutFacebook .main-description {
  background: rgb(var(--color-cc-videos));
  color: rgb(var(--color-cc-white));
  padding: 50px 15px;
}
#aboutFacebook .main-description .main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#aboutFacebook .main-description .main-wrapper .row {
  padding: 0 15px;
}
#aboutFacebook .main-description .main-wrapper .row .text {
  width: 90%;
  font-size: 1.5em;
  margin-top: 40px;
}
#aboutFacebook .main-description .main-wrapper .row .text .extra-text {
  font-size: 2.1em;
  font-weight: 700;
  margin-top: 10px;
}
#aboutFacebook .main-description .main-wrapper .row .text .author {
  text-align: right;
  width: 100%;
  font-size: 1em;
  margin-top: 40px;
}
#aboutFacebook .main-description .main-wrapper .row .text-point {
  width: 450px;
  font-size: 1.5em;
  margin-top: 40px;
}
#aboutFacebook .main-description .main-wrapper .row .text-point .one-text-point {
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  #aboutFacebook .main-description {
    padding: 0;
    width: 100%;
  }
  #aboutFacebook .main-description .main-wrapper {
    padding: 20px 15px;
  }
  #aboutFacebook .main-description .main-wrapper .row {
    position: relative;
    width: 100%;
  }
  #aboutFacebook .main-description .main-wrapper .row .text {
    width: 100%;
  }
  #aboutFacebook .main-description .main-wrapper .row .text .extra-text {
    font-size: 1.5em;
  }
  #aboutFacebook .main-description .main-wrapper .row .text-point {
    width: 100%;
  }
  #aboutFacebook .main-description .main-wrapper .row .text-point .one-text-point {
    text-transform: capitalize;
  }
}
#aboutFacebook .description-three-column {
  background: rgb(var(--color-txt-gray));
}
#aboutFacebook .description-three-column .main-wrapper {
  padding: 60px 0;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#aboutFacebook .description-three-column .main-wrapper .one-column {
  width: 250px;
  margin-bottom: 40px;
  padding: 0 15px;
}
#aboutFacebook .description-three-column .main-wrapper .one-column p {
  margin-bottom: 20px;
}
#aboutFacebook .h3-section .main-wrapper {
  width: 100%;
}
#aboutFacebook .h3-section .main-wrapper h3 {
  font-size: 2.2em;
  padding: 50px;
  text-align: center;
}
#aboutFacebook .h3-section .main-wrapper div {
  display: flex;
  justify-content: space-around;
}
#aboutFacebook .h3-section .main-wrapper div div {
  display: block;
  width: 30%;
}
#aboutFacebook .h3-section .main-wrapper div div h4 {
  font-size: 1.8em;
  margin-bottom: 20px;
  height: 60px;
}
@media (max-width: 450px) {
  #aboutFacebook .h3-section {
    width: 100%;
  }
  #aboutFacebook .h3-section .main-wrapper {
    padding: 20px 15px;
  }
  #aboutFacebook .h3-section .main-wrapper h3 {
    font-size: 1.5em !important;
    padding: 15px 0 !important;
    font-weight: 800;
  }
  #aboutFacebook .h3-section .main-wrapper div {
    flex-direction: column;
  }
  #aboutFacebook .h3-section .main-wrapper div div {
    width: 100%;
  }
  #aboutFacebook .h3-section .main-wrapper div div h4 {
    height: 100%;
    font-weight: 800;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
    text-transform: uppercase;
  }
  #aboutFacebook .h3-section .main-wrapper .h4 {
    font-size: 1em;
    height: 0px;
    padding-bottom: 80px;
  }
}
#aboutFacebook .img-and-text .main-wrapper .row {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#aboutFacebook .img-and-text .main-wrapper .row:nth-child(even) {
  flex-direction: row-reverse;
}
#aboutFacebook .img-and-text .main-wrapper .row .text {
  width: 400px;
}
#aboutFacebook .img-and-text .main-wrapper .row .text h2 {
  margin-bottom: 30px;
  text-align: left;
  font-weight: 800;
}
#aboutFacebook .img-and-text .main-wrapper .row .text p {
  margin-bottom: 15px;
}
#aboutFacebook .img-and-text .main-wrapper .row .text ol {
  margin: 10px 0;
  padding: 0 20px;
}
#aboutFacebook .img-and-text .main-wrapper .row .text ol li {
  margin: 10px 0;
}
#aboutFacebook .img-and-text .main-wrapper .row .img img {
  width: 300px;
}
@media (max-width: 450px) {
  #aboutFacebook .img-and-text {
    width: 100%;
  }
  #aboutFacebook .img-and-text .main-wrapper {
    padding: 20px;
  }
  #aboutFacebook .img-and-text .main-wrapper .row .text p {
    font-size: 1.2em;
  }
}
#aboutFacebook .main-board-2 {
  background: url(../../img/about/Unlike-YouTube.png) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  position: reletive;
  padding: 50px 0;
}
#aboutFacebook .main-board-2 > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 0;
}
#aboutFacebook .main-board-2 > .main-wrapper .main-board__left-block {
  display: block;
  padding-left: 15px;
  width: 40%;
}
#aboutFacebook .main-board-2 > .main-wrapper .main-board__left-block h2 {
  color: rgb(var(--color-cc-dark));
  margin-bottom: 35px !important;
  margin: auto 0;
  font-weight: 600;
  text-align: left;
}
#aboutFacebook .main-board-2 > .main-wrapper .main-board__left-block p {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}
@media (max-width: 450px) {
  #aboutFacebook .main-board-2 {
    background: url(../../img/about/bastyon-alternative.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    position: reletive;
    padding: 50px 0;
    color: rgb(var(--color-cc-white));
  }
  #aboutFacebook .main-board-2 .main-wrapper .main-board__left-block {
    width: 100%;
    padding: 15px;
  }
  #aboutFacebook .main-board-2 .main-wrapper .main-board__left-block h2 {
    color: rgb(var(--color-cc-white));
  }
  #aboutFacebook .main-board-2 .main-wrapper .main-board__left-block h3 {
    color: rgb(var(--color-cc-white));
  }
}
#aboutFacebook .table {
  padding: 50px 0;
}
#aboutFacebook .table .main-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#aboutFacebook .table .main-wrapper table {
  width: 70%;
}
#aboutFacebook .table .main-wrapper table tr {
  border: 1px solid rgb(var(--color-txt-gray));
  text-align: left;
  padding: 8px;
}
#aboutFacebook .table .main-wrapper table tr td {
  width: 30%;
  border: 1px solid rgb(var(--color-txt-gray));
  padding: 30px;
  font-size: 0.9em;
  font-weight: 500;
}
#aboutFacebook .table .main-wrapper table tr .center {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  border: none;
}
#aboutFacebook .table .main-wrapper table tr .right {
  text-align: right;
}
#aboutFacebook .table .main-wrapper table tr .bold {
  font-weight: 700;
}
#aboutFacebook .table .main-wrapper table th {
  border: 1px solid rgb(var(--color-txt-gray));
  text-align: center;
  padding: 30px;
}
@media (max-width: 450px) {
  #aboutFacebook .table .main-wrapper table {
    width: 90%;
  }
  #aboutFacebook .table .main-wrapper table tr {
    border: 1px solid rgb(var(--color-txt-gray));
    text-align: left;
    padding: 8px;
  }
  #aboutFacebook .table .main-wrapper table tr td {
    width: 30%;
    border: 1px solid rgb(var(--color-txt-gray));
    padding: 10px;
    font-size: 0.8em;
    font-weight: 500;
  }
  #aboutFacebook .table .main-wrapper table tr .center {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    border: none;
  }
  #aboutFacebook .table .main-wrapper table tr .right {
    text-align: right;
  }
  #aboutFacebook .table .main-wrapper table th {
    border: 1px solid rgb(var(--color-txt-gray));
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
  }
}
#aboutFacebook .main-board-3 {
  background: url(../../img/about/money-block.png) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  position: reletive;
  padding: 50px 0;
}
#aboutFacebook .main-board-3 > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 0;
}
#aboutFacebook .main-board-3 > .main-wrapper .main-board__left-block {
  display: block;
  padding-left: 15px;
  width: 40%;
}
#aboutFacebook .main-board-3 > .main-wrapper .main-board__left-block h2 {
  margin-bottom: 35px !important;
  margin: auto 0;
  font-weight: 600;
  text-align: left;
}
#aboutFacebook .main-board-3 > .main-wrapper .main-board__left-block h3 {
  margin-bottom: 35px !important;
  margin: auto 0;
  font-weight: 600;
  text-align: left;
}
#aboutFacebook .main-board-3 > .main-wrapper .main-board__left-block p {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}
@media (max-width: 450px) {
  #aboutFacebook .main-board-3 {
    background: url(../../img/about/dark-bg-bastyon-pais.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    position: reletive;
    padding: 50px 0;
    color: rgb(var(--color-cc-white));
  }
  #aboutFacebook .main-board-3 .main-wrapper .main-board__left-block {
    width: 100%;
    padding: 15px;
  }
  #aboutFacebook .main-board-3 .main-wrapper .main-board__left-block h2 {
    color: rgb(var(--color-cc-white));
  }
  #aboutFacebook .main-board-3 .main-wrapper .main-board__left-block h3 {
    color: rgb(var(--color-cc-white));
  }
}
#aboutFacebook .services__block-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
#aboutFacebook .services__item {
  padding: 30px;
  flex: 0 0 32%;
  text-align: center;
  transition-duration: 0.3s;
  border-radius: 5px;
}
#aboutFacebook .services__item:hover {
  box-shadow: 0 5px 25px 0 rgba(var(--color-services-item));
}
#aboutFacebook .services__item > h3 {
  margin: 23px 0;
  color: rgb(var(--color-cc-dark-blue-cc));
  text-align: center;
}
#aboutFacebook .services__item > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  color: rgb(var(--color-cc-dark-grey));
  text-align: left;
}
#aboutFacebook .services__item > a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: rgb(var(--color-cc-dark-blue-cc));
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  border: 1px solid rgb(var(--color-cc-dark-blue-cc));
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutFacebook .services__item > a:hover {
  background: rgb(var(--color-cc-dark-blue-cc));
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .services__item .box-icon {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  transition-duration: 0.3s;
}
#aboutFacebook .services__item .box-icon > img {
  width: 150px;
  border-radius: 10px;
}
#aboutFacebook .team-container {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#aboutFacebook .team-container__item {
  flex: 0 0 255px;
  display: flex;
  flex-direction: column;
}
#aboutFacebook .team-container__item > figure {
  position: relative;
  height: 260px;
  overflow: hidden;
}
#aboutFacebook .team-container__item > figure > figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--color-cc-dark-blue-ccc));
  display: flex;
  justify-content: center;
  transition-duration: 0.1s;
}
#aboutFacebook .team-container__item > figure > figcaption > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(var(--color-cc-white));
  margin: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  color: rgb(var(--color-cc-white));
  line-height: 30px;
  text-align: center;
  transition-duration: 0.5s;
}
#aboutFacebook .team-container__item > figure > figcaption > a:nth-child(1) {
  transform: translateY(50px);
}
#aboutFacebook .team-container__item > figure > figcaption > a:nth-child(2) {
  transform: translateY(90px);
}
#aboutFacebook .team-container__item > figure > figcaption > a:nth-child(3) {
  transform: translateY(130px);
}
#aboutFacebook .team-container__item > figure > figcaption > a:hover {
  color: rgb(var(--color-cc-menu));
  background: rgb(var(--color-cc-white));
}
#aboutFacebook .team-container__item > figure > img {
  transition-duration: 1s;
}
#aboutFacebook .team-container__item > figure:hover > img {
  transform: scale3d(1.1, 1.1, 1);
}
#aboutFacebook .team-container__item > figure:hover > figcaption {
  background: rgba(var(--color-cc-dark-blue-ccc));
}
#aboutFacebook .team-container__item > figure:hover > figcaption > a {
  transform: translateY(0px);
}
#aboutFacebook .team-container__item-footer {
  box-shadow: 4px 4px 18px 0px rgba(var(--color-cc-team-container));
  padding: 20px;
}
#aboutFacebook .team-container__item-footer > span {
  display: block;
  font-size: 12px;
  color: rgb(var(--color-cc-dark-grey));
  font-weight: 300;
}
#aboutFacebook .team-container__item-footer > h3 {
  display: block;
  color: rgb(var(--color-cc-dark-grey));
}
#aboutFacebook .blog-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#aboutFacebook .blog-container__item {
  height: 275px;
  flex: 0 0 49%;
  display: flex;
  background: rgb(var(--color-cc-white));
  margin-bottom: 22px;
  text-decoration: none;
}
#aboutFacebook .blog-container__item:hover > .blog-container__image {
  filter: grayscale(0);
}
#aboutFacebook .blog-container__item:hover > .blog-container__item-text-container > p {
  text-decoration: underline;
}
#aboutFacebook .block-image1 {
  background: url(../../img/about/6-850x850.jpg);
}
#aboutFacebook .block-image2 {
  background: url(../../img/about/5-850x850.jpg);
}
#aboutFacebook .block-image3 {
  background: url(../../img/about/2-850x850.jpg);
}
#aboutFacebook .block-image4 {
  background: url(../../img/about/1-850x850.jpg);
}
#aboutFacebook .blog-container__image {
  flex: 0 0 50%;
  height: 100%;
  transition-duration: 0.3s;
  position: relative;
  background-position: center center;
  background-size: cover;
  filter: grayscale(0.9);
}
#aboutFacebook .blog-container__image::after {
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid rgb(var(--color-cc-bc));
  border-bottom: 15px solid transparent;
  border-right-color: rgb(var(--color-cc-white));
  right: 0;
  margin-top: -15px;
  top: 50%;
  content: '';
}
#aboutFacebook .blog-container__item-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#aboutFacebook .blog-container__item-text-container > span {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(var(--color-cc-bc-span));
  text-align: center;
}
#aboutFacebook .blog-container__item-text-container > p {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(var(--color-cc-bc-p));
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}
#aboutFacebook .button {
  padding: 10px 30px;
  border: 1px solid rgb(var(--color-cc-menu));
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  display: inline-block;
  color: rgb(var(--color-cc-menu));
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutFacebook .button:hover {
  background: rgb(var(--color-cc-menu));
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .form {
  height: 200px;
  background: url(../../img/about/bg.jpg) no-repeat;
  background-position: 50% -50px;
  background-size: cover;
  position: relative;
}
#aboutFacebook .form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-cc-form));
  z-index: 1;
}
#aboutFacebook .form > .main-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#aboutFacebook .form input[type="email"] {
  background: transparent;
  border: 1px solid rgb(var(--color-cc-menu));
  color: rgb(var(--color-cc-white));
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  width: 450px;
}
#aboutFacebook .form input[type="email"]:focus {
  border: 1px solid rgb(var(--color-menu-2));
  outline: none;
}
#aboutFacebook .form button {
  background: rgb(var(--color-cc-menu));
  border: 1px solid rgb(var(--color-cc-menu));
  color: rgb(var(--color-cc-white));
  font-size: 22px;
  width: 100px;
  transition-duration: 0.3s;
}
#aboutFacebook .form button:hover {
  background: rgb(var(--color-cc-white));
  border: 1px solid rgb(var(--color-cc-white));
  color: rgb(var(--color-cc-menu));
  cursor: pointer;
}
#aboutFacebook .form form {
  display: flex;
  justify-content: center;
}
#aboutFacebook .form input::-webkit-input-placeholder {
  color: rgb(var(--color-cc-team-container));
}
#aboutFacebook .form__main-text {
  color: rgb(var(--color-cc-menu));
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}
#aboutFacebook .form__main-text > span {
  color: rgb(var(--color-cc-white));
  font-weight: 600;
}
#aboutFacebook .social-cont {
  margin: 20px 0;
}
#aboutFacebook .social-cont > a {
  color: rgb(var(--color-cc-bc-p));
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  position: relative;
  width: 20px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
}
#aboutFacebook .social-cont > a::before {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid rgb(var(--color-cc-bc-p));
  transform: rotate(45deg);
  position: absolute;
  left: -3px;
  top: -5px;
  transition-duration: 0.3s;
  z-index: -1;
}
#aboutFacebook .social-cont > a:hover {
  color: #FFFFFF;
}
#aboutFacebook .social-cont > a:hover::before {
  background: rgb(var(--color-cc-bc-p));
}
@media (max-width: 1100px) {
  #aboutFacebook .team-container {
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  #aboutFacebook .team-container__item {
    margin-right: 10px;
  }
  #aboutFacebook .team-container__item:last-of-type {
    margin-right: 0;
  }
}
#aboutFacebook .dark__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--color-cc-white));
}
#aboutFacebook .dark__container > img {
  width: 60%;
}
#aboutFacebook .dark__container > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#aboutFacebook .dark__container > .text > p {
  margin: 10px 0;
}
#aboutFacebook .dark__container > .text > p > i {
  margin-right: 5px;
}
#aboutFacebook .dark__container > .text > h2 {
  text-align: center;
}
@media (max-width: 980px) {
  #aboutFacebook .works > .main-wrapper {
    padding: 15px;
  }
  #aboutFacebook .works > .main-wrapper > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutFacebook .works__container {
    flex-grow: 1;
  }
  #aboutFacebook .blog-container__item-text-container {
    padding: 20px;
  }
  #aboutFacebook .dark__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(var(--color-cc-white));
  }
  #aboutFacebook .dark__container > img {
    width: 70%;
  }
  #aboutFacebook .dark__container > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #aboutFacebook .dark__container > .text > p {
    margin: 10px 0;
  }
  #aboutFacebook .dark__container > .text > p > i {
    margin-right: 5px;
  }
  #aboutFacebook .dark__container > .text > h2 {
    text-align: center;
  }
}
@media (max-width: 920px) {
  #aboutFacebook .main-board__left-block {
    width: 450px;
    width: auto;
  }
  #aboutFacebook .main-board__left-block h1 {
    width: 100%;
  }
  #aboutFacebook .main-board__left-block > div {
    width: 100%;
  }
  #aboutFacebook .main-board__left-block > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #aboutFacebook .main-board {
    height: auto;
    padding: 30px 0;
    background: rgb(var(--color-cc-white));
  }
  #aboutFacebook .main-board > .main-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  #aboutFacebook .services__item {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutFacebook .services__item > p {
    flex-shrink: 1;
    overflow: hidden;
  }
  #aboutFacebook .services {
    padding: 30px 0;
  }
  #aboutFacebook .works {
    padding: 30px 30px;
  }
  #aboutFacebook .team {
    padding: 30px 0;
  }
  #aboutFacebook .blog {
    padding: 30px 0;
  }
  #aboutFacebook .contact {
    padding: 30px 0;
  }
  #aboutFacebook footer {
    padding: 30px 0;
  }
}
@media (max-width: 780px) {
  #aboutFacebook .services__block-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutFacebook .services__item {
    flex-basis: 320px;
    margin: 10px;
  }
  #aboutFacebook .blog-container {
    flex-wrap: wrap;
  }
  #aboutFacebook .blog-container__item {
    flex-basis: 100%;
  }
  #aboutFacebook .main-board__left-block_2 {
    padding: 30px 15px;
    width: 100%;
  }
  #aboutFacebook .main-board__left-block_2 div {
    width: 100%;
    flex-direction: column;
  }
  #aboutFacebook .grey {
    background: rgb(var(--color-cc-grey));
  }
}
@media (max-width: 720px) {
  #aboutFacebook header {
    height: auto;
  }
  #aboutFacebook header > .main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutFacebook .main-menu {
    margin: 10px 0;
  }
  #aboutFacebook .logo {
    margin: 5px 0;
  }
}
#aboutFacebook .dark__conteiner {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  #aboutFacebook h1 {
    font-size: 36px;
    line-height: unset;
  }
  #aboutFacebook .main-board h1 {
    padding: 8px 0 0 18px;
  }
  #aboutFacebook .main-board__left-block {
    width: 100%;
  }
  #aboutFacebook .works__container .text {
    width: 100%;
  }
  #aboutFacebook .works__container .text p {
    width: 100%;
  }
}
@media (max-width: 580px) {
  #aboutFacebook .form input[type="email"] {
    width: 80%;
  }
}
@media (max-width: 510px) {
  #aboutFacebook .main-menu {
    margin: 0;
  }
  #aboutFacebook .main-menu > ul {
    text-align: center;
  }
  #aboutFacebook .main-menu > ul > li {
    padding-bottom: 22px;
  }
  #aboutFacebook .blog-container__item-text-container {
    padding: 5px;
  }
  #aboutFacebook .dark__conteiner {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  #aboutFacebook .main-board .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block {
    width: 100%;
    height: 370px;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block h1 {
    width: 100%;
    color: rgb(var(--color-cc-white));
    font-weight: 600;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block h3 {
    padding-left: 18px;
    margin-top: 30px;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block > div:last-of-type {
    flex-wrap: wrap;
  }
  #aboutFacebook .main-board .main-wrapper .img-main-block {
    width: 100%;
  }
  #aboutFacebook .main-board .main-wrapper .img-main-block img {
    width: 100%;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block_2 {
    width: 100%;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__left-block_2 > div {
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
  #aboutFacebook .main-board .main-wrapper .main-board__button-link:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #aboutFacebook .main-board:first-child {
    background: url(../../img/about/bastyon-youtube-main1.jpg) no-repeat;
    background-size: cover;
  }
  #aboutFacebook .open .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutFacebook .open .main-wrapper > .content {
    width: 100%;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover {
    width: 100%;
    padding: 15px;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > h2 {
    font-size: 1.5em;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > p {
    font-size: 1em;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > .one-item {
    width: 100%;
    min-width: 100%;
    justify-content: center;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > .one-item > div {
    width: 100px;
    margin: 10px;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > .one-item > div > p {
    font-size: 1em;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > .one-item > div > a > p {
    font-size: 1em;
  }
  #aboutFacebook .open .main-wrapper > .content > .discover > .text p {
    font-size: 1em;
  }
  #aboutFacebook .works .main-wrapper div .works__container .text {
    flex-wrap: wrap;
  }
  #aboutFacebook .works .main-wrapper div .works__container .text p {
    width: 100%;
  }
  #aboutFacebook .darkbg .main-wrapper {
    padding: 15px;
    width: 100%;
  }
  #aboutFacebook .darkbg .main-wrapper .dark__container {
    width: 100%;
  }
  #aboutFacebook .darkbg .main-wrapper .dark__container img {
    width: 100%;
  }
  #aboutFacebook .darkbg .main-wrapper .dark__container .text {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
  #aboutFacebook .darkbg .main-wrapper .dark__container .text h2 {
    text-align: left;
  }
}
@media (max-width: 450px) {
  #aboutFacebook .viseos {
    width: 100%;
  }
  #aboutFacebook .viseos .main-wrapper {
    width: 100% !important;
    justify-content: normal;
    flex-wrap: wrap;
  }
}
