#bnavigation {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: calc(var(--app-margin-bottom));
  height: calc(var(--app-margin-bottom, 0) + 60px + 0.5em);
  z-index: 200;
  contain: strict;
}
#bnavigation .fakem {
  color: rgb(var(--text-on-bg-ac-color));
  text-shadow: 0px 0px 2px rgba(var(--color-shadow-base), 0.714), 0 0 3px rgba(var(--color-shadow-base), 0.519);
  text-align: center;
  padding-top: 20px;
}
#bnavigation .nmenu {
  background: rgb(var(--background-total-theme));
  border-top: 1px solid rgb(var(--background-secondary-theme));
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#bnavigation .items {
  height: 60px;
  display: flex;
  align-items: center;
}
#bnavigation .items .item {
  width: 33.3%;
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
}
#bnavigation .items .item a {
  display: block;
}
#bnavigation .items .item i {
  font-size: 0.9em;
}
#bnavigation .items .icon {
  width: 20px;
  margin: 0 auto;
}
#bnavigation .items .iconWrapper {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  line-height: calc(60px - 0.5em);
  margin: 0 auto;
  position: relative;
  color: rgb(var(--color-txt-gray-dark), 0.7);
  text-align: center;
}
#bnavigation .items .iconWrapper .label {
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1em;
  text-align: center;
  opacity: 0.7;
}
#bnavigation .items .iconWrapper .pnetsymb {
  font-size: 1.7em;
  font-weight: 500;
}
#bnavigation .items .iconWrapper.reg,
#bnavigation .items .iconWrapper.shr {
  font-size: 1.7em;
  color: #0026ff;
}
#bnavigation .items .iconWrapper.reg.disabled,
#bnavigation .items .iconWrapper.shr.disabled {
  color: rgb(var(--neutral-grad-2), 0.5);
}
#bnavigation .linkButtonWrapper {
  height: 100%;
  display: block;
}
#bnavigation .upbuttonWrapper {
  height: 100%;
  display: none;
}
#bnavigation.scrolled .linkButtonWrapper {
  display: none;
}
#bnavigation.scrolled .upbuttonWrapper {
  display: block;
}
.html .iphone #bnavigation {
  padding-bottom: 30px;
  height: 90px;
}
#bnavigation.curationmode {
  right: auto;
  width: 80px;
}
#bnavigation.curationmode .nmenu {
  background: transparent;
  width: 70px;
  left: 0.5em;
}
#bnavigation.curationmode .nmenu .items {
  width: 60px;
}
#bnavigation.curationmode .nmenu .item {
  overflow: visible;
}
#bnavigation.curationmode .nmenu .item > div {
  width: 60px;
  border-radius: 50%;
  background: rgba(var(--background-total-theme), 0.95) rgba(255, 255, 255, 0.95);
  border: 1px solid rgb(var(--background-total-theme));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#bnavigation.curationmode .nmenu .item .label {
  display: none!important;
}
html.mobileview #bnavigation {
  display: block;
}
