
<div id="<%-module.map.id%>">

  <% if(monetizationOpportunity) { %> 
    <div class="monetizationOpportunity">
      
    </div>
  <% } %>

  <div class="work">
    <div class="earnings">
      <div class="top">
        <div class="caption">
          <%= e('earnings') %>
        </div>
        <div class="form"></div>
      </div>

      <div class="content">
        <div class="preloaderWrapper">
          <div class="preloader5"><img src="./img/three-dots.svg"/></div>
        </div>
      </div>
    </div>
  </div>

</div>