<% if(!monetization) {%>
    <div class="monetizationEnablePreview">
        <div class="work">
            <div class="monetizationCaption">
                <span>Monetization</span>
            </div>

            <div class="monetizationText">
                <span>Easdfasdf ad fd sdf sfg sfg</span>
            </div>

            <div class="monetizationAction">
                <button class="button orange monetizationEnable">Enable monetization</button>
            </div>
        </div>
    </div>
<% } else { %> 
    <div class="monetization">
        <div class="work">

        </div>
    </div>
<% }%>
