<div class="totalItem" item="<%-item.id%>">

	<div class="metricablockwrapper">
		<div class="metricablock">
			<div class="blockWrapper">
				<div class="blockContentWrapper">
					<div class="blockContent">
						<div class="vidgetNameWrapper">

							<div class="vidgetNameWrapperTable table">
								<div class="cellleft"><span>
										<%-item.label%>
									</span>
								</div>
							</div>
						</div>

						<div class="vidgetIconWrapper">
							<div class="vidgetIcon">
								<div class="table">
									<div>
										<div class="unspentWrapper repv">
												<span class="value">
													<%= app.platform.mp.coinwithsmall(item.balance) %>
												</span>
		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	

	<% var t = (item, 'move.positive.summary') || 0 + deep(item, 'move.negative.summary') || 0 %>

	<% if(t > 0) {%>

		<div class="summary">
			<div class="line">
				<div class="positive" style="width : <%-(deep(item, 'move.positive.summary') || 0) / (t) * 100%>%">
				</div>

				<div class="negative" style="width : <%-(deep(item, 'move.negative.summary') || 0) / (t) * 100%>%">

				</div>
			</div>

			<div class="numbers">
				<div class="positive">
					<span>+<%-(deep(item, 'move.positive.summary') || 0)%></span>
				</div>

				<div class="negative">
					<span><%-(deep(item, 'move.negative.summary'))%></span>
				</div>
			</div>
		</div>
	<% } %>
	
</div>