@import "../../css/__cssvar";

#navigation{
	display: none;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	z-index: 200;
	background: fade(#fff, 95);

	.nmenu{
		height: 100%;
	}

	.items{
		.item{
			vertical-align: middle;
			text-align: center;
			overflow : hidden;

			i{
				
				font-size: 0.9em;
			}
		}

		.icon{
			width: 20px;
			margin : 0 auto;
		}

		.iconWrapper{
			border-radius: 50%;
			height: 100%;
			width: 100%;
			line-height: 50px;
			margin : 0 auto;
			
			color : fade(#000,70);
			text-align: center;

			.pnetsymb{
				font-size: 1.7em;
				font-weight: 500;
			}


			&.shr{
				font-size: 1.7em;
				color : @color-bright;

				&.active{
					color : @color-gray-light;
				}
			}

		}
	}

	.linkButtonWrapper{
		display: block;
	}

	.upbuttonWrapper{
		display: none;
	}

	&.scrolled{
		.linkButtonWrapper{
			display: none;
		}
	
		.upbuttonWrapper{
			display: block;
		}
	}

}


@media only screen and (max-width: 768px) {
	#navigation{
		display: block;

	}
}