<div class="cacheContent">

    <div class="mwork">

        <div class="caption">
            <span>
                <%-e('captiontempactions')%> 
            </span>
        </div>

    </div>

    <% if(temp.length) {%>

        <div class="pending">
            <div class="mwork">
                <span><%-e('labeltempactions')%>: <%- temp.length %></span>
            </div>
            <div class="mwork">
                <% _.each(temp, function(action) { 
                    
                    %>

                    <div class="tx">
                        <div class="txid copyvalue"><span><b><%-e('object_' + action.object.type)%></b>.<%-action.transaction ? action.transaction : ' ' + e(action.currentState)%></span></div>
                        <div class="date">
                            <span class="realtime" time="<%-action.added%>"><%- app.reltime(action.added) %></span>
                        </div>

                    </div>

                <% }) %>
            </div>


        </div>


    
    <% } else { %> 
    
        <div class="empty">
            <div class="mwork">
                <span><%=e('labeltempactionszero')%></span>
            </div>
        </div>
        
    <% } %>
    <div class="mwork">
        <div class="cachePanel">
            <!--<div class="clearLocalStorage">
                <span><%=e('clearLocal')%></span>
            </div>-->

            <div class="clearLocalActions">
                <span><%=e('clearLocalActions')%></span>
                
            </div>

            
        </div>
    </div>


</div>