<%
// Check if current user is a group from user data
var isGroup = typeof user != 'undefined' && typeof user.isGroup != 'undefined' && user.isGroup
%>
<div id="<%-module.map.id%>" class="<% if(!state) {%> unathorized <% } %>">
	<div class="mwork">
		<div class="caption">
			<span><%=e('rsettings')%></span>
		</div>
	</div>
	
	<div class="options">
	</div>

	<% if(state) {%>

		<div class="downloadedvideoscontentWrapper">

		</div>

		
		
		<% if((typeof app.platform.sdk.user.myaccauntdeleted == 'undefined' || !app.platform.sdk.user.myaccauntdeleted())) {%>
			<div class="cache">
				
			</div>
			<div class="removeAccauntWrapper">
				<div class="mwork">
					<div class="removeAccount">
						<span>
							<% if(isGroup) { %>
								<%- e('removegroup') %>
							<% } else { %>
								<%- e('removeaccount') %>
							<% } %>
						</span>
					</div>
				</div>
			</div>
		<% } %>


	<% } %>
		
	<div class="diagnostics"></div>

</div>