<% _.each(composed, function(group){ %>
	<div class="settingsGroup <% if(group.class) {%> <%- group.class %> <% } %>">

		<div class="mwork gk">
			<div class="groupCaption"><%-group.name%></div>
		</div>
		<div class="mwork wh">
			<div class="groupOptions">

				<% _.each(group.options, function(parameter){

					if(parameter.id == 'enablePeertube' && !parameter.value) return

					%>

					<div class="parameterMaketWrapper <%-parameter.pid%>" parameter="<%-parameter.id%>">
						<div class="parameter table <%-parameter.type%>">

							<div class="pName">
								<div class="pNameW">
									<%= parameter.name %><%
										var unit = deep(parameter, 'format.Unit');
										if(unit) { %>, <span class="unit"><%-unit%></span>

									<%	} %><% if(parameter.type == 'valuesmulti'){%>: <%} %>

									<% if(parameter.require){ %>

										<span class="require">*</span>

									<% } %>
								</div>
							</div>

							<% if(parameter.type == 'boolean'){ %>

								<div class="pInput pCheckbox">
									<%= parameter.input({
										init : true
									}) %>
								</div>

							<% } %>

							<% if(parameter.type != 'boolean'){ %>

								<div class="pInput">
									<%= parameter.input({
										init : true
									}) %>
								</div>

							<% } %>


						</div>
					</div>

				<% }) %>

			</div>
		</div>

	</div>

<% }) %>

<div class="settingsGroup">

	<div class="mwork gk">
		<div class="groupCaption"><%=e('e13190')%></div>
	</div>
	<div class="mwork wh">
		<div class="groupOptions">


			<div class="parameterMaketWrapper theme" parameter="theme">
				<div class="parameter table theme">

					<div class="pName">
						<div class="pNameW">
							<%=e('e13191')%>
						</div>
					</div>

					<div class="pInput">
						<% _.each(themes, function(th, index){



							%>
							<div elementsid="themewrapper" class="themewrapper <% if(index == currentTheme){ %> active <% } %>" theme="<%-index%>">
								<div class="themeicon">
									<div class="thbadge">
											<i class="fas fa-check-circle"></i>
									</div>
								</div>
							</div>
						<% }) %>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>

<% if(typeof _Electron !== 'undefined') { %>
	<div class="settingsGroup">

	<div class="mwork gk">
		<div class="groupCaption"><%=e('uiScaleSetting')%></div>
	</div>
	<div class="mwork wh">
		<div class="groupOptions">


			<div class="parameterMaketWrapper uiscale" parameter="uiscale">
				<div class="parameter table uiscale">

					<div class="pName">
						<div class="pNameW">
							<%=e('uiScaleSettingTitle')%>
						</div>
					</div>

					<div class="pInput">
						<% _.each(uiScales, function(th, index){ %>
						<div elementsid="uiscalewrapper" class="uiscalewrapper <% if(index == currentUiScale){ %> active <% } %>" scale="<%-index%>">
							<span><%-th.scale%>%</span>
						</div>
						<% }) %>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>
<% } %>
