<% _.each(composed, function(group){ %>
	<div class="settingsGroup">

		<div class="mwork gk">
			<div class="groupCaption"><%-group.name%></div>
		</div>
		<div class="mwork wh">
			<div class="groupOptions">

				<% _.each(group.options, function(parameter){ %>

					<div class="parameterMaketWrapper <%-parameter.pid%>" parameter="<%-parameter.id%>">
						<div class="parameter table <%-parameter.type%>">

							<div class="pName">
								<div class="pNameW">
									<%= parameter.name %><% 
										var unit = deep(parameter, 'format.Unit');
										if(unit) { %>, <span class="unit"><%-unit%></span>

									<%	} %><% if(parameter.type == 'valuesmulti'){%>: <%} %>
									
									<% if(parameter.require){ %>

										<span class="require">*</span>

									<% } %>
								</div>
							</div>
							
							<% if(parameter.type == 'boolean'){ %>

								<div class="pInput pCheckbox">
									<%= parameter.input({
										init : true
										
									}) %>
								</div>

							<% } %>

							<% if(parameter.type != 'boolean'){ %>

								<div class="pInput">
									<%= parameter.input({
										init : true
										
									}) %>
								</div>

							<% } %>


						</div>
					</div>

				<% }) %>

			</div>
		</div>

	</div>

<% }) %>

<div class="settingsGroup">

	<div class="mwork gk">
		<div class="groupCaption">Pocketnet theme</div>
	</div>
	<div class="mwork wh">
		<div class="groupOptions">


			<div class="parameterMaketWrapper theme" parameter="theme">
				<div class="parameter table theme">

					<div class="pName">
						<div class="pNameW">
							Set Theme
						</div>
					</div>

					<div class="pInput">
						<% _.each(themes, function(th, index){ 
							
							
							
							%>
							<div class="themewrapper <% if(index == current){ %> active <% } %>" theme="<%-index%>">
								<div class="themeicon">
									<div class="thbadge">
											<i class="fas fa-check-circle"></i>
									</div>
								</div>
							</div>
						<% }) %>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>