#nodecontrol .testnetwork {
  padding: 2em;
  text-align: center;
}
#nodecontrol .testnetwork span {
  font-size: 0.9em;
}
#nodecontrol .maincaption {
  display: none;
}
#nodecontrol .nodelanding {
  margin-bottom: 1.5em;
  border-radius: 10px;
  background: rgb(var(--color-shadow-base));
  color: rgb(var(--text-on-bg-shadow-color));
  text-align: center;
  padding: 2.5em;
}
#nodecontrol .nodelanding .buttonWrapper {
  padding: 1em 0;
}
#nodecontrol .electronfornode {
  padding-top: 2em;
  padding-bottom: 2em;
}
#nodecontrol .electronfornode .title {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
#nodecontrol .electronfornode .title span {
  font-size: 2em;
}
#nodecontrol .caption {
  padding: 2em 0;
  padding-top: 1.5em;
}
#nodecontrol .caption span {
  font-weight: 100;
  font-size: 2.5em;
}
#nodecontrol .nodedummy {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: rgb(var(--neutral-grad-3));
  background: rgb(var(--neutral-grad-1), 0.2);
}
#nodecontrol .nodedummy .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#nodecontrol .nodedummy i {
  font-size: 0.9em;
}
#nodecontrol .fsubcaption {
  padding: 2em;
  padding-top: 2.5em;
}
#nodecontrol .fsubcaption span {
  font-weight: 100;
  font-size: 1.7em;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .ssubcaption {
  padding: 0.5em 0;
}
#nodecontrol .ssubcaption span {
  font-weight: 700;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .stacking .canstacking .good {
  color: rgb(var(--color-good));
}
#nodecontrol .stacking .canstacking .bad {
  color: rgb(var(--color-bad));
}
#nodecontrol .stacking .canstacking .gray {
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .stacking .copyaddress {
  cursor: pointer;
}
#nodecontrol .stacking .copyaddress:hover {
  color: rgb(var(--color-txt-ac));
}
#nodecontrol .systemreq {
  padding: 0.5em;
  padding-top: 0;
  border-radius: 5px;
  border: 1px solid rgb(var(--neutral-grad-1));
}
#nodecontrol .systemreq .scaption {
  padding: 0.5em 0;
}
#nodecontrol .systemreq .scaption span {
  font-size: 0.9em;
  font-weight: 700;
}
#nodecontrol .systemreq .req {
  padding: 1em 0;
}
#nodecontrol .systemreq .req div {
  font-size: 0.8em;
}
#nodecontrol .staterowTable,
#nodecontrol .settingTable {
  width: auto;
}
#nodecontrol .staterowTable > div,
#nodecontrol .settingTable > div {
  padding: 0.5em 0;
}
#nodecontrol .staterowTable .label,
#nodecontrol .settingTable .label {
  width: 160px;
}
#nodecontrol .staterowTable .icon,
#nodecontrol .settingTable .icon {
  padding-left: 0.5em;
  color: rgb(var(--neutral-grad-2));
}
#nodecontrol .staterowTable .icon i,
#nodecontrol .settingTable .icon i {
  font-size: 0.8em;
}
#nodecontrol .staterowTable .icon i.good,
#nodecontrol .settingTable .icon i.good {
  color: rgb(var(--color-good));
}
#nodecontrol .staterowTable .todefaultcert,
#nodecontrol .settingTable .todefaultcert {
  padding-left: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .staterowTable .todefaultcert span,
#nodecontrol .settingTable .todefaultcert span {
  font-size: 0.8em;
}
#nodecontrol .staterowTable .todefaultcert:hover,
#nodecontrol .settingTable .todefaultcert:hover {
  color: rgb(var(--color-txt-ac));
}
#nodecontrol .setting .settingTable .label span {
  font-size: 0.9em;
}
#nodecontrol .setting .settingTable .value {
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .setting .settingTable .value[fss],
#nodecontrol .setting .settingTable .value[sys] {
  text-decoration: underline;
  color: rgb(var(--neutral-grad-3));
  cursor: pointer;
}
#nodecontrol .setting .settingTable .value span {
  font-size: 0.9em;
}
#nodecontrol .setting .settingTable .clearfirebase {
  cursor: pointer;
}
#nodecontrol .setting.systempath .value {
  color: rgb(var(--neutral-grad-2));
}
#nodecontrol .manage {
  border-radius: 10px;
  background: rgb(var(--neutral-grad-1), 0.2);
}
#nodecontrol .managepanel {
  padding: 2em;
}
#nodecontrol .nodecontentstate i {
  width: 20px;
  font-size: 0.9em;
}
#nodecontrol .nodecontentstate .good {
  color: rgb(var(--color-good));
}
#nodecontrol .nodecontentstate .bad {
  color: rgb(var(--color-bad));
}
#nodecontrol .nodecontentstate .gray {
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .nodecontentstate .nodestateheightprogress {
  width: 30em;
  height: 0.1em;
  background: rgb(var(--neutral-grad-3));
}
#nodecontrol .nodecontentstate .nodestateheightprogress .nodestateheightprogressinner {
  background: rgb(var(--color-bg-ac));
  display: block;
  height: 100%;
}
#nodecontrol .nodecontentstate .nodestateheightprogress .nodestateheightprogressinner.fork {
  background: rgb(var(--color-bg-orange));
}
#nodecontrol .nodecontentstate .syncLeft {
  float: right;
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .notfound {
  text-align: center;
  padding: 2em 0;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .notfound.install {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#nodecontrol .notfound.install:hover {
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .notfound.loading .stopInstall {
  display: inline-block;
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
}
#nodecontrol .notfound.loading .preloader5 {
  margin: 1em;
}
#nodecontrol .notfound .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#nodecontrol .nodecontentmanage {
  position: relative;
}
#nodecontrol .nodecontentmanage.lock .felock {
  display: block;
}
#nodecontrol .nodecontentmanage .felock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  background: rgb(var(--background-total-theme));
  display: none;
}
#nodecontrol .nodecontentmanage .felockcnt {
  text-align: center;
  padding: 2em 0;
  cursor: pointer;
  color: rgb(var(--neutral-grad-3));
}
#nodecontrol .nodecontentmanage .felockcnt .text {
  padding: 0.5em 0;
  font-size: 0.9em;
}
#nodecontrol .nodecontentmanage .felockcnt i {
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
}
#nodecontrol .nodecontentmanage .value.balance {
  font-weight: 400;
}
#nodecontrol .nodecontentmanage .installProgressBox {
  display: inline-block;
  width: 90%;
  margin: 0em 0.5em;
  vertical-align: bottom;
}
#nodecontrol .nodecontentmanage .installProgressBox .title {
  font-size: 13px;
  text-align: right;
}
#nodecontrol .nodecontentmanage .installProgressBox .installProgress {
  width: 100%;
  height: 3px;
  background-color: rgb(var(--neutral-grad-1));
  border-radius: 2px;
  margin: 0.3em 0.5em 0em 0em;
}
#nodecontrol .nodecontentmanage .installProgressBox .installProgress .installProgressInner {
  height: 3px;
  background-color: rgb(var(--color-bg-ac));
  border-radius: 2px;
}
#nodecontrol .nodecontentmanage .toDefaultPath {
  cursor: pointer;
  text-decoration: underline;
}
#nodecontrol .nodecontentmanage .toDefaultPath:hover {
  color: rgb(var(--color-bad));
}
#nodecontrol .nodecontentmanage .toDefaultPath i {
  font-size: 0.8em;
}
#nodecontrol .nodecontentmanage .update .noupdatenode {
  color: rgb(var(--neutral-grad-2));
}
.addressdialog input {
  width: 100%;
}
.addressdialog textarea {
  width: 100%;
  height: 120px;
  max-height: 230px;
}
