<div id="<%-module.map.id%>" class="<%- ed.preview ? 'preview' : ''%>">
	
	<div class="caption">
		<span><%=caption%></span> <span>(<%=addresses.length%>)</span>
	</div>
	
	<% if(addresses.length) {%>

		<div class="users">
		</div>
		<div class="loaderWrapper">
			<div class="loader">
				<div class="preloader5"><img src="./img/three-dots.svg"/></div>
			</div>
		</div>

		<% if(ed.preview) {%>
			<div class="showmoreWrapper">
				<button class="button ghost showmore"><%-e('e13021')%></button>
			</div>
		<% } %>

	<% } else { %> 

		<div class="empty">
			<%=empty%>
		</div>

	<% } %>
</div>