<%

var me = psdk.userInfo.getmy() 

var telements = function(address){ %>

	<% if(me && !user.isItMe(address)) {
		
		var _class=''
		
		%>

		<% if (me && me.relation(address, 'subscribes')){ _class="following" } %>

		<% if (me && me.relation(address, 'blocking')){ _class="blocking" }	%>

		
		<span class="subscribebuttonstop <%-_class%>">

			<span elementsid="unsubscribe" class="unsubscribe funf"><%=e('youarefollowing')%> <i class="far fa-check-circle"></i></span>	

			<% if (me){ 
				
				var r = me.relation(address, 'subscribes') 

			%>

				<span elementsid="notificationturn" class="notificationturn <% if(r && (r.private == 'true' || r.private == 1 || r.private === true)) {%> turnon <% } %>">&middot; <i class="far fa-bell-slash"></i></span>
			
			<% } %>

			<span elementsid="subscribe" class="subscribe funf">
				<button><%=e('follow')%></button>
			</span>	

		</span>

		<span class="blockingWrapper">

			<span elementsid="unblocking" class="unblocking funf"><%=e('unblock')%></span>	

		</span>
					
				
	<% } %>
	
<% }

_.each(addresses, function(address){ 

	var _class=''

	if (me && me.relation(address, 'blocking')){ _class="userblocking" }
	
	var sUserInfo = psdk.userInfo.getShortForm(address) 

%>
	<div class="wrk">

		<div class="user <%-_class%>" address="<%-address%>">
			<div class="addressTable table" address="<%-address%>">
				<div class="iconWrapper">
					<% if(!app.mobileview) {%>
					<a elementsid="<%-app.platform.api.authorlink(address)%>" href="<%-app.platform.api.authorlink(address)%>">
					<% } %>
						<div class="icon" profile="<%-address%>">

							<% 

								var src = sUserInfo.image;  
								var name = sUserInfo.name;
								var letter = sUserInfo.letter; 

							%>

							<div class="usericon" ban=".gif" contain="none" image="<%-src || '*'%>">

								<% if(!src && letter) {%>

									<span class="letter">
										<%-letter.toUpperCase()%>
									</span>
			
								<% } else if (!letter) { %>
									<i class="far fa-user"></i>
								<% } %>
								<%= app.platform.ui.markUser(address)%>
							</div>
						</div>
					<% if(!app.mobileview) {%>
					</a>
					<% } %>
				</div>

				<div class="label">
					<% if(!app.mobileview) {%>
					<a elementsid="userlistauthorlink" href="<%-app.platform.api.authorlink(address)%>">
					<% } %>

						<div class="name" profile="<%-address%>">						
							<%- app.platform.api.clearname(sUserInfo.name, true) %>							
						</div>

						<% if (sUserInfo.reputation && (sUserInfo.reputation > 1 || sUserInfo.reputation < -1)) {%>

							<div class="light" profile="<%-address%>">						
								Reputation: <span class="reputation"> <%- Number(sUserInfo.reputation).toFixed(0)  %> </span>						
							</div>

						<% } %>

					<% if(!app.mobileview) {%>
					</a>
					<% } %>			

				</div>

				<div class="extra">

					<% if(typeof extra != 'undefined' && extra) {%>
						<%= extra(address) %>
					<% } else { %> 

						<% telements(address) %>	

					<% } %>

					

				</div>
			</div>
		</div>
	</div>
	
<% }) %>