<% 

var me = null;

if(user.address.value)
	me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))

var telements = function(address){ %>

	<% if(me && !user.isItMe(address)) {
		
		var _class=''
		
		%>

		<% if (me && me.relation(address, 'subscribes')){ _class="following" } %>

		<% if (me && me.relation(address, 'blocking')){ _class="blocking" }	%>

		
		<span class="subscribebuttonstop <%-_class%>">

			<span elementsid="unsubscribe" class="unsubscribe funf">&middot; You are Following <i class="far fa-check-circle"></i></span>	

			<% if (me){ 
				
				var r = me.relation(address, 'subscribes') 
				
			%>

				<span elementsid="notificationturn" class="notificationturn <% if(r && (r.private == 'true' || r.private === true)) {%> turnon <% } %>">&middot; <i class="far fa-bell-slash"></i></span>
			
			<% } %>

			<span elementsid="subscribe" class="subscribe funf">
				<button>Follow</button>
			</span>	

		</span>

		<span class="blockingWrapper">

			<span elementsid="unblocking" class="unblocking funf"><%=e('unblock')%></span>	

		</span>
					
				
	<% } %>
	
<% }

_.each(addresses, function(address){ 

	var _class=''

	if (me && me.relation(address, 'blocking')){ _class="userblocking" }

%>
	<div class="wrk">

		<div class="user <%-_class%>" address="<%-address%>">
			<div class="addressTable table" address="<%-address%>">
				<div class="iconWrapper">
					
					<a elementsid="<%-app.platform.api.authorlink(address)%>" href="<%-app.platform.api.authorlink(address)%>">
						<div class="icon">

							<% 

								var src = deep(app, 'platform.sdk.usersl.storage.'+address+'.image');  
								var name = deep(app, 'platform.sdk.usersl.storage.'+address+'.name');
								var letter = name ? name[0] : ''; 

							%>

							<div class="usericon" image="<%-src || '*'%>">

								<% if(!src && letter) {%>

									<span class="letter">
										<%-letter.toUpperCase()%>
									</span>
			
								<% } else if (!src) { %>
			
									<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
			
								<% } %>
							</div>
						</div>
					</a>
				</div>

				<div class="label">
					<a elementsid="userlistauthorlink" href="<%-app.platform.api.authorlink(address)%>">

						<div class="name">						
							<%- app.platform.api.name(address) || address %>							
						</div>

						<% var r = deep(app, 'platform.sdk.users.storage.'+address+'.reputation'); %>

						<% if (r) {%>

							<div class="light">						
								Reputation: <span class="reputation"> <%- Number(r).toFixed(0)  %> </span>						
							</div>

						<% } %>

					</a>			

				</div>

				<div class="extra">

					<% if(typeof extra != 'undefined' && extra) {%>
						<%= extra(address) %>
					<% } else { %> 

						<% telements(address) %>	

					<% } %>

					

				</div>
			</div>
		</div>
	</div>
	
<% }) %>