<div id="<%-module.map.id%>">
	

		<% if(deep(result, 'users.data.length')) {%> 
		<div class="work">
			<div class="section users" view="list">
				<div class="sectionname">
					<div class="n">
						<span><%=e('users')%>/</span>
					</div>

					<div class="showmore">
						<span class="showmorelabel"><%=e('e13021')%> (<%-result.users.count%>)</span>
						<span class="hidelabel"><%=e('hide')%></span>
					</div>
				</div>
				<div class="sectioncnt">

					<div class="tableview tcaption">
						<div class="pictureWrapper"></div>
						<div class="nameWrapper"><span><%=e('user')%></span></div>
						<div class="aboutWrapper"><span><%=e('about')%></span></div>
						<div class="postsCountWrapper"><span><%=e('postscount')%></span></div>
					</div>

					<div class="userslistwrapper">
						<div class="userslist" style="width : 10000px">
						

						</div>

						<div class="uleft arrow" arrow="left">
							<i class="fas fa-angle-left"></i>
						</div>
						<div class="uright arrow" arrow="right">
							<i class="fas fa-angle-right"></i>
						</div>

						<div class="nextpage">
							<button><%=e('e13156')%></button>
						</div>

					</div>

				</div>

				
			</div>
		</div>

		<% } %>

		<% if(deep(result, 'posts.data.length')) {%> 
			<div class="fposts">
				<div class="work ">
					<div class="section posts">
						<div class="sectionname">
							<div class="n">
								<span><%=e('posts')%>/</span>
							</div>
							<div class="showmore">
								<span class="showmorelabel"><%-result.posts.count%></span>
							</div>
						</div>

						<div class="sectioncnt">
							<div class="lentasearch">
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>

		<% if(!deep(result, 'posts.data.length') && !deep(result, 'users.data.length')) {%>

		<div class="work">
			<div class="empty">

				<% if(value) {%>

					<%=e('e13157')%> "<%- value %>" <%=e('e13158')%>

				<% } %>

				<% if(!value) {%>

					<%=e('e13159')%>

				<% } %>
			</div>
		</div>

		<% } %>


	
</div>