<div id="<%-module.map.id%>">
	

		<% if(deep(result, 'users.data.length')) {%> 
		<div class="work">
			<div class="section users" view="list">
				<div class="sectionname">
					<div class="n">
						<span>Users/</span>
					</div>

					<div class="showmore">
						<span class="showmorelabel">Show More (<%-result.users.count%>)</span>
						<span class="hidelabel">Hide</span>
					</div>
				</div>
				<div class="sectioncnt">

					<div class="tableview tcaption">
						<div class="pictureWrapper"></div>
						<div class="nameWrapper"><span>User</span></div>
						<div class="aboutWrapper"><span>About</span></div>
						<div class="postsCountWrapper"><span>Posts count</span></div>
					</div>

					<div class="userslistwrapper">
						<div class="userslist" style="width : 10000px">
						

						</div>

						<div class="uleft arrow" arrow="left">
							<i class="fas fa-angle-left"></i>
						</div>
						<div class="uright arrow" arrow="right">
							<i class="fas fa-angle-right"></i>
						</div>

						<div class="nextpage">
							<button>Next Results</button>
						</div>

					</div>

				</div>

				
			</div>
		</div>

		<% } %>

		<% if(deep(result, 'posts.data.length')) {%> 
			<div class="fposts">
				<div class="work ">
					<div class="section posts">
						<div class="sectionname">
							<div class="n">
								<span>Posts/</span>
							</div>
							<div class="showmore">
								<span class="showmorelabel"><%-result.posts.count%></span>
							</div>
						</div>

						<div class="sectioncnt">
							<div class="lentasearch">
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>

		<% if(!deep(result, 'posts.data.length') && !deep(result, 'users.data.length')) {%>

		<div class="work">
			<div class="empty">

				<% if(value) {%>

					Search by "<%- value %>" hasn't any results

				<% } %>

				<% if(!value) {%>

					The search phrase is empty

				<% } %>
			</div>
		</div>

		<% } %>


	
</div>