<% _.each(users, function(user){ console.log(user) %>
	<div class="user">
		<div class="pictureWrapper">
			
			<% var src = user.i  %>
			
			<div class="icon">
				<div class="usericon" image="<%-src || ''%>">
					<% if(!src) {%>
						<svg width="30" height="30" data-jdenticon-value="<%-user.address%>"></svg>
					<% } %>
				</div>
			</div>

		</div>
		<div class="nameWrapper">
			<div class="name">
				<span><%-decodeURIComponent(user.name || user.address) %></span>
			</div>
		</div>
	</div>
<% }) %>