<% _.each(users, function(user){ 
	
	var name = app.platform.api.clearname(decodeURIComponent(user.name))
	
	%>
	<div class="user">

		<a href="<%-(user.name.toLowerCase())%>">

			<div class="tableview">

				<div class="pictureWrapper">
					
					<% var src = user.i  %>
					
					<div class="icon">
						<div class="usericon" image="<%-src || ''%>">
							<% if(!src) {%>
								<svg width="30" height="30" data-jdenticon-value="<%-user.address%>"></svg>
							<% } %>
						</div>
					</div>

				</div>
				<div class="nameWrapper">
					<div class="name">
						<span><%-name %></span>
					</div>
				</div>

				<div class="aboutWrapper"><span><%- decodeURIComponent(user.a || '') %></span></div>
				<div class="postsCountWrapper"><%- user.postcnt || 0 %></div>

			</div>

		</a>
	</div>
<% }) %>