<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-photo-library" version="3.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Photo Library</name>
    <engines>
      <engine name="cordova-ios" version=">=6.2.0" />
      <engine name="cordova-android" version=">=14.0.0" />
    </engines>
    <js-module src="www/PhotoLibrary.js" name="PhotoLibrary">
      <clobbers target="cordova.plugins.photoLibrary" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhotoLibrary" >
                <param name="android-package" value="com.terikon.cordova.photolibrary.PhotoLibrary"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
        </config-file>
        <source-file src="src/android/PhotoLibrary.java" target-dir="src/com/terikon/cordova/photolibrary" />
        <source-file src="src/android/PhotoLibraryService.java" target-dir="src/com/terikon/cordova/photolibrary" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhotoLibrary">
                <param name="ios-package" value="PhotoLibrary" />
            </feature>
        </config-file>
        <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" "/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
        </config-file>
        <!-- The app shows its own "manage selected photos" banner in limited mode -->
        <config-file target="*-Info.plist" parent="PHPhotoLibraryPreventAutomaticLimitedAccessAlert">
            <true/>
        </config-file>
        <framework src="Photos.framework" />
        <source-file src="src/ios/PhotoLibrary.swift" />
    </platform>
</plugin>
