#requestpermission .caption {
  margin-top: 1em;
}
#requestpermission .caption span {
  font-size: 1.5em;
}
#requestpermission .permissionForm {
  padding-top: 2em;
  padding-bottom: 2em;
}
#requestpermission .permissionDescription span {
  font-size: 0.9em;
  opacity: 0.7;
}
#requestpermission .panel {
  margin-top: 4em;
}
#requestpermission .applicationInfo {
  display: flex;
  align-items: center;
}
#requestpermission .applicationInfo .appicon {
  height: 22px;
  width: 22px;
}
#requestpermission .applicationInfo .appname {
  margin-left: 0.5em;
}
#requestpermission .wrapper {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#requestpermission .paymentForm .reciever {
  padding: 0.5em;
  border-radius: 12px;
  background: rgb(var(--background-secondary-theme));
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}
#requestpermission .paymentForm .reciever .userIcon {
  min-width: 44px;
}
#requestpermission .paymentForm .reciever .userName {
  flex-grow: 2;
  margin-left: 0.5em;
  padding-right: 1em;
}
#requestpermission .paymentForm .reciever .userName .adr {
  max-width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
#requestpermission .paymentForm .reciever .amount {
  margin-left: auto;
  padding-right: 0.5em;
}
#requestpermission .paymentForm .reciever .amount span {
  font-weight: 700;
  color: rgb(var(--color-good));
}
.wnd.requestpermissionWindow .wndinner {
  width: 480px;
  height: 80%;
}
