#page404 {
  padding-top: 3em;
}
#page404 .caption {
  font-size: 2em;
  font-weight: 100;
  color: rgb(var(var(--neutral-grad-4)));
}
#page404 .subcaption {
  font-size: 1.2em;
  color: rgb(var(var(--neutral-grad-4)));
  font-weight: 100;
}
#page404 .work {
  background: rgba(var(--neutral-grad-2), 0.5);
  height: 400px;
  text-align: center;
  border-radius: 12px;
}
#page404 .work .table > div {
  vertical-align: middle;
}
