#page404 {
  padding-top: 3em;
}
#page404 .caption {
  font-size: 2em;
  font-weight: 100;
  color: rgb(var(var(--neutral-grad-3)));
}
#page404 .subcaption {
  font-size: 1.2em;
  color: rgb(var(var(--neutral-grad-3)));
  font-weight: 100;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 1em;
}
#page404 .work {
  background: rgba(var(--neutral-grad-1), 0.5);
  height: 400px;
  text-align: center;
  border-radius: 12px;
}
#page404 .work .table > div {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  #page404 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
