#donations {
  padding: 1em 0;
  padding-bottom: 0;
}
#donations .work {
  max-width: 840px;
}
#donations .caption {
  font-size: 2em;
  padding-top: 0.5em;
  position: relative;
  text-align: center;
}
#donations .text {
  padding: 1.5em 0;
}
#donations .dsplit {
  padding: 2em;
  background: rgb(var(--background-secondary-theme));
  vertical-align: middle;
}
#donations .dsplit .donate {
  font-size: 2em;
}
#donations .dsplit .donate .label {
  cursor: pointer;
}
#donations .donate {
  text-align: center;
}
#donations .donate button {
  min-width: 280px;
}
#donations .donate .label {
  margin-top: 2em;
  color: #d0c9ca;
  font-size: 0.8em;
}
#donations .supporting {
  margin-top: 1.5em;
  background: rgb(var(--background-secondary-theme));
  padding: 3em 0;
  padding-bottom: 16.5em;
}
#donations .supporting .users {
  margin-top: 4em;
  overflow: hidden;
}
#donations .supporting .user {
  margin-bottom: 1em;
  width: 110px;
  float: left;
}
#donations .supporting .user .usericon {
  margin: 0 auto;
}
#donations .supporting .user .icon {
  padding-bottom: 0.5em;
}
#donations .supporting .user .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
#donations .supporting .user .name span {
  font-size: 0.8em;
}
#donations .ways {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .ways .waystable {
  padding: 2em 0;
}
#donations .ways .way {
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .ways .way:hover {
  color: rgb(var(--color-txt-orange));
  border-bottom: 1px solid --color-txt-orange;
}
#donations .ways .way > div {
  padding: 0.5em 0;
}
#donations .ways .way > div.icon {
  position: relative;
  width: 40px;
}
#donations .ways .way > div.icon .fa-check {
  display: none;
  position: absolute;
  left: 3px;
  top: 19px;
  font-size: 0.7em;
}
#donations .ways .way > div.name span {
  font-size: 1.4em;
}
#donations .ways .way.active {
  color: rgb(var(--color-txt-orange));
  border-bottom: 1px solid --color-txt-orange;
}
#donations .ways .way.active .icon {
  position: relative;
  width: 40px;
}
#donations .ways .way.active .icon .fa-check {
  display: block;
}
#donations .ways .back {
  margin-top: 2em;
}
#donations .ways .back span {
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .ways .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .supportForm {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#donations .supportForm .form {
  margin-top: 2em;
}
#donations .supportForm .subcaption {
  font-size: 1.5em !important;
}
#donations .supportForm .require {
  color: rgb(var(--color-bad));
}
#donations .supportForm .reqsnoska {
  font-size: 0.7em;
}
#donations .supportForm .upanelloader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  padding: 2em 2em;
  background: rgb(var(--background-secondary-theme));
}
#donations .supportForm .upanelloader .table > div {
  vertical-align: middle;
  text-align: center;
}
#donations .supportForm.loading .upanelloader {
  display: block;
}
#donations .supportForm .pgroupIconWrapper {
  margin-bottom: 3em;
}
#donations .supportForm .pgroupIconWrapper .pgroup {
  height: 100%;
  margin-bottom: 0;
}
#donations .supportForm .pgroupIconWrapper .upload .fileUploader,
#donations .supportForm .pgroupIconWrapper .upload .fileUploader .elContent {
  position: relative;
}
#donations .supportForm .pgroup {
  margin-bottom: 3em;
}
#donations .supportForm .uploadPhoto {
  height: 60px;
}
#donations .supportForm .uploadTable > div {
  vertical-align: middle;
}
#donations .supportForm .uploadTable > div.iconWrapper {
  width: 85px;
}
#donations .supportForm .uploadTable > div.iconWrapper .usericon {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
#donations .supportForm .uploadTable > div.label {
  font-weight: 700;
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
}
#donations .supportForm .referalMaketWrapper {
  margin-top: 0.5em;
}
#donations .supportForm .referalMaketWrapper > div {
  vertical-align: middle;
}
#donations .supportForm .referalMaketWrapper > div.refLabel {
  padding-top: 0.5em;
  padding-right: 0.5em;
  width: 140px;
}
#donations .supportForm .referalMaketWrapper > div.refLabel .span {
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div {
  vertical-align: middle;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div.refAv {
  width: 40px;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div.refAv .usericon {
  width: 40px;
  height: 40px;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div.refName {
  padding-left: 1em;
  padding-right: 1em;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div.refRemove {
  width: 30px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#donations .supportForm .referalMaketWrapper > div .refNameTable > div.refRemove:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .supportForm .parameter {
  width: 100%;
}
#donations .supportForm .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
#donations .supportForm .parameter .pName {
  vertical-align: top;
  padding-top: 1em;
  padding-right: 0.5em;
  width: 190px;
}
#donations .supportForm .parameter .pName .pNameW {
  padding-top: 0.5em / 3;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}
#donations .supportForm .parameter .pInput {
  position: relative;
  vertical-align: top;
}
#donations .supportForm .parameter .pInput .vm_valuesmulti {
  padding-top: 0.5em / 2;
}
#donations .supportForm .subcaption {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#donations .supportForm .upanel {
  margin-top: 1em;
  overflow: hidden;
}
#donations .supportForm .upanel > div {
  float: left;
  margin-right: 1em;
}
#donations .supportForm .upanel > div button {
  min-width: 170px;
}
#donations .supportForm .upanel > div .save {
  cursor: default;
  background: rgb(var(--neutral-grad-2));
  border-color: rgb(var(--neutral-grad-2));
  color: #fff;
}
#donations .supportForm .upanel > div.loadingToB {
  display: none;
}
#donations .supportForm .upanel > div.loadingToB .label {
  font-weight: 500;
  font-size: 0.85em;
  color: rgb(var(--color-bg-ac));
  padding-top: 0.5em;
}
#donations .supportForm .upanel > div.cancelwr {
  display: none;
}
#donations .supportForm .upanel.changes > div {
  float: left;
  margin-right: 1em;
}
#donations .supportForm .upanel.changes > div .save {
  cursor: pointer;
  background: rgb(var(--color-bg-ac));
  border-color: rgb(var(--color-bg-ac));
}
#donations .supportForm .upanel.changes > div .save:hover {
  background: rgb(var(--color-txt-gray-dark));
}
#donations .supportForm .upanel.changes > div.cancelwr {
  display: block;
}
#donations .supportForm .upanel.wait > div {
  display: none;
}
#donations .supportForm .upanel.wait > div.cancelwr {
  display: none;
}
#donations .supportForm .upanel.wait > div.loadingToB {
  display: block;
}
#donations .supportForm input,
#donations .supportForm textarea,
#donations .supportForm .text {
  padding: 0.5em;
}
#donations .supportForm .send {
  margin-top: 1.5em;
  margin-left: auto;
  display: flex;
  padding-left: 3em;
  padding-right: 3em;
}
#donations .thankyou {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .thankyou .text {
  padding: 2em 0;
}
#donations .thankyou .textor span {
  font-size: 0.8em;
}
#donations .thankyou a {
  color: rgb(var(--color-txt-ac));
}
#donations .thankyou .back {
  margin-top: 2em;
}
#donations .thankyou .back span {
  color: rgb(var(--color-txt-orange));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .thankyou .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .thankyou .sendinfo > div {
  vertical-align: middle;
  padding: 0.5em;
}
#donations .thankyou .sendinfo > div input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(var(--color-bg-ac));
}
#donations .thankyou .sendinfo > div button {
  width: 100%;
  border-radius: 20px;
}
#donations .thankyou .sendinfo > div.currency {
  font-weight: 700;
  width: 100px;
  padding-left: 0;
}
#donations .thankyou .sendinfo > div.sendwrapper {
  padding-right: 0;
}
#donations .thankyou .sendinfo > div.iconwrapper {
  width: 45px;
}
#donations .backnext {
  margin-top: 2em;
}
#donations .backnext > div {
  vertical-align: top;
}
#donations .backnext > div.nextwrapper {
  text-align: right;
}
#donations .backnext .next span {
  color: rgb(var(--color-txt-orange));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .backnext .next span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .address {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .address .back span {
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .address .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .address .subcaption {
  padding: 0.5em 0;
}
#donations .address .subcaption span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-ac));
}
#donations .address .subcaptionTable .right {
  text-align: right;
}
#donations .address .reactivate {
  margin: 0 auto;
  margin-top: 1em;
  width: 150px;
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-bg-ac-color));
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgb(var(--color-bg-ac));
  font-size: 0.8em;
}
#donations .address .reactivate:hover {
  background: rgb(var(--text-on-bg-ac-color));
  color: rgb(var(--color-bg-ac));
}
#donations .address .copyaddress {
  cursor: pointer;
}
#donations .address .status {
  padding: 1em 0;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
#donations .address .warning {
  margin: 1em 0;
  text-align: center;
}
#donations .address .addressline {
  background: rgb(var(--background-total-theme));
  padding: 3em 1.5em;
  text-align: center;
}
#donations .address .addressline b {
  white-space: pre-line;
  line-break: loose;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
#donations .address .qrcode {
  margin-top: 1em;
  text-align: center;
}
/*t*/
@media only screen and (max-width: 768px) {
  #donations {
    padding: 1em 0.5em;
  }
  #donations .caption {
    font-size: 2em;
  }
  #donations .splits {
    display: block;
  }
  #donations .splits > div {
    display: block;
  }
  #donations .splits > div.textsplit {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  #donations .splits > div.dsplit {
    padding: 4em 0.5em;
  }
  #donations .splits > div.dsplit .donate button {
    width: 100%;
  }
  #donations .supporting {
    margin-top: 2em;
    padding: 0.5em;
    padding-bottom: 7em;
  }
  #donations .supporting .users {
    margin-top: 4em;
  }
  #donations .supporting .user {
    width: 33%;
  }
  #donations .ways {
    padding: 1em 1em;
  }
  #donations .ways .waystable {
    padding: 2em 0;
  }
  #donations .ways .back {
    margin-top: 2em;
  }
  #donations .supportForm .parameter .pName {
    width: 85px;
  }
  #donations .dsplit,
  #donations .supportForm {
    padding: 0;
  }
  #donations .dsplit {
    margin-top: 2em;
  }
  #donations .thankyou {
    padding: 1em 1em;
  }
  #donations .thankyou .text {
    padding: 2em 0;
  }
  #donations .thankyou .sendinfo {
    overflow: hidden;
    display: block;
  }
  #donations .thankyou .sendinfo > div {
    display: block;
    padding: 0;
    float: left;
  }
  #donations .thankyou .sendinfo > div.currency {
    padding: 0.5em 0;
    width: 50%;
  }
  #donations .thankyou .sendinfo > div.amount {
    width: 50%;
  }
  #donations .thankyou .sendinfo > div.sendwrapper {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 80%;
  }
  #donations .thankyou .sendinfo > div.iconwrapper {
    width: 20%;
    margin-top: 1.2em;
  }
  #donations .thankyou .sendinfo > div.iconwrapper .icon {
    width: 45px;
    margin: 0 auto;
  }
  #donations .backnext {
    margin-top: 2em;
  }
  #donations .backnext > div {
    vertical-align: top;
  }
  #donations .backnext > div.nextwrapper {
    text-align: right;
  }
  #donations .address {
    padding: 1em 1em;
  }
  #donations .address .reactivate {
    width: 100%;
  }
  #donations .address .addressline span {
    font-size: 0.8em;
  }
}
