#donations {
  padding: 3em 0;
  padding-bottom: 0;
}
#donations .caption {
  font-size: 2em;
  padding-top: 1em;
  position: relative;
}
#donations .text {
  padding: 1.5em 0;
  max-width: 640px;
}
#donations .splits > div.textsplit {
  padding-right: 2em;
}
#donations .splits > div.dsplit {
  padding: 2em;
  background: rgb(var(--background-secondary-theme));
  vertical-align: middle;
}
#donations .donate {
  text-align: center;
}
#donations .donate button {
  min-width: 280px;
}
#donations .donate .label {
  margin-top: 2em;
  color: #d0c9ca;
  font-size: 0.8em;
}
#donations .supporting {
  margin-top: 1.5em;
  background: rgb(var(--background-secondary-theme));
  padding: 3em 0;
  padding-bottom: 16.5em;
}
#donations .supporting .users {
  margin-top: 4em;
  overflow: hidden;
}
#donations .supporting .user {
  margin-bottom: 1em;
  width: 110px;
  float: left;
}
#donations .supporting .user .usericon {
  margin: 0 auto;
}
#donations .supporting .user .icon {
  padding-bottom: 0.5em;
}
#donations .supporting .user .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
#donations .supporting .user .name span {
  font-size: 0.8em;
}
#donations .ways {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .ways .waystable {
  padding: 2em 0;
}
#donations .ways .way {
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .ways .way:hover {
  color: rgb(var(--color-txt-orange));
  border-bottom: 1px solid --color-txt-orange;
}
#donations .ways .way > div {
  padding: 0.5em 0;
}
#donations .ways .way > div.icon {
  width: 40px;
}
#donations .ways .way > div.name span {
  font-size: 1.4em;
}
#donations .ways .back {
  margin-top: 2em;
}
#donations .ways .back span {
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .ways .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .thankyou {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .thankyou .text {
  padding: 2em 0;
}
#donations .thankyou .textor span {
  font-size: 0.8em;
}
#donations .thankyou a {
  color: rgb(var(--color-txt-ac));
}
#donations .thankyou .back {
  margin-top: 2em;
}
#donations .thankyou .back span {
  color: rgb(var(--color-txt-orange));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .thankyou .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .thankyou .sendinfo > div {
  vertical-align: middle;
  padding: 0.5em;
}
#donations .thankyou .sendinfo > div input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(var(--color-bg-ac));
}
#donations .thankyou .sendinfo > div button {
  width: 100%;
  border-radius: 20px;
}
#donations .thankyou .sendinfo > div.currency {
  font-weight: 700;
  width: 100px;
  padding-left: 0;
}
#donations .thankyou .sendinfo > div.sendwrapper {
  padding-right: 0;
}
#donations .thankyou .sendinfo > div.iconwrapper {
  width: 45px;
}
#donations .backnext {
  margin-top: 2em;
}
#donations .backnext > div {
  vertical-align: top;
}
#donations .backnext > div.nextwrapper {
  text-align: right;
}
#donations .backnext .next span {
  color: rgb(var(--color-txt-orange));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .backnext .next span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .xmraddress .addressline {
  padding: 3em;
}
#donations .address {
  max-width: 640px;
  margin: 0 auto;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 4em;
}
#donations .address .back span {
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#donations .address .back span:hover {
  color: rgb(var(--color-txt-ac));
}
#donations .address .subcaption {
  padding: 0.5em 0;
}
#donations .address .subcaption span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-ac));
}
#donations .address .subcaptionTable .right {
  text-align: right;
}
#donations .address .reactivate {
  margin: 0 auto;
  margin-top: 1em;
  width: 150px;
  background: rgb(var(--color-bg-ac));
  color: rgb(var(--text-on-bg-ac-color));
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgb(var(--color-bg-ac));
  font-size: 0.8em;
}
#donations .address .reactivate:hover {
  background: rgb(var(--text-on-bg-ac-color));
  color: rgb(var(--color-bg-ac));
}
#donations .address .copyaddress {
  cursor: pointer;
}
#donations .address .status {
  padding: 1em 0;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
#donations .address .addressline {
  background: rgb(var(--background-total-theme));
  padding: 3em 0;
  text-align: center;
}
#donations .address .qrcode {
  margin-top: 1em;
  text-align: center;
}
/*t*/
@media only screen and (max-width: 768px) {
  #donations {
    padding: 1em 0.5em;
  }
  #donations .caption {
    font-size: 2em;
  }
  #donations .splits {
    display: block;
  }
  #donations .splits > div {
    display: block;
  }
  #donations .splits > div.textsplit {
    padding-right: 0;
  }
  #donations .splits > div.dsplit {
    padding: 4em 0.5em;
  }
  #donations .splits > div.dsplit .donate button {
    width: 100%;
  }
  #donations .supporting {
    margin-top: 1em;
    padding: 0.5em;
    padding-bottom: 7em;
  }
  #donations .supporting .users {
    margin-top: 4em;
  }
  #donations .supporting .user {
    width: 33%;
  }
  #donations .ways {
    padding: 1em 1em;
  }
  #donations .ways .waystable {
    padding: 2em 0;
  }
  #donations .ways .back {
    margin-top: 2em;
  }
  #donations .thankyou {
    padding: 1em 1em;
  }
  #donations .thankyou .text {
    padding: 2em 0;
  }
  #donations .thankyou .sendinfo {
    overflow: hidden;
    display: block;
  }
  #donations .thankyou .sendinfo > div {
    display: block;
    padding: 0;
    float: left;
  }
  #donations .thankyou .sendinfo > div.currency {
    padding: 0.5em 0;
    width: 50%;
  }
  #donations .thankyou .sendinfo > div.amount {
    width: 50%;
  }
  #donations .thankyou .sendinfo > div.sendwrapper {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 80%;
  }
  #donations .thankyou .sendinfo > div.iconwrapper {
    width: 20%;
    margin-top: 1.2em;
  }
  #donations .thankyou .sendinfo > div.iconwrapper .icon {
    width: 45px;
    margin: 0 auto;
  }
  #donations .backnext {
    margin-top: 2em;
  }
  #donations .backnext > div {
    vertical-align: top;
  }
  #donations .backnext > div.nextwrapper {
    text-align: right;
  }
  #donations .xmraddress .addressline {
    padding: 3em 0;
  }
  #donations .xmraddress .addressline div {
    font-size: 0.8em;
  }
  #donations .address {
    padding: 1em 1em;
  }
  #donations .address .reactivate {
    width: 100%;
  }
  #donations .address .addressline span {
    font-size: 0.8em;
  }
}
