#topusers .rcptwrp {
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
  position: relative;
}
#topusers .tcaptionwrapper {
  display: flex;
  align-items: center;
}
#topusers .tcaptionwrapper .vc_valuecustom {
  width: 75px;
  font-size: 0.8em;
  font-weight: 500;
}
#topusers .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_iconWrapper,
#topusers .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#topusers .tcaption {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  font-weight: 100;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(var(--color-medium-theme), 0.3);
}
#topusers .tcaption .authors {
  font-weight: 700;
}
#topusers .caption {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 1em;
}
#topusers .loaderWrapper {
  display: none;
  padding: 1em;
  text-align: center;
}
#topusers.loading .loaderWrapper {
  display: block;
}
#topusers .subscribebuttonstop .subscribe,
#topusers .subscribebuttonstop .unsubscribe {
  position: relative;
}
#topusers .subscribebuttonstop .subscribe .fa-plus,
#topusers .subscribebuttonstop .unsubscribe .fa-plus {
  position: absolute;
  top: 3px;
  left: 14px;
  font-size: 0.5em;
}
#topusers .subscribebuttonstop .subscribe {
  color: rgba(var(--neutral-grad-3), 0.4);
}
#topusers .subscribebuttonstop .unsubscribe {
  color: rgb(var(--color-good));
}
#topusers .users {
  padding-bottom: 0.5em;
}
#topusers .users .user {
  padding: 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
}
#topusers .users .user .addressTable {
  cursor: pointer;
}
#topusers .users .user .addressTable > div {
  vertical-align: middle;
}
#topusers .users .user .addressTable > div.iconWrapper {
  width: 50px;
  text-align: center;
}
#topusers .users .user .addressTable > div.iconWrapper .usericon {
  height: 40px;
  width: 40px;
}
#topusers .users .user .addressTable > div.iconWrapper .usericon .letter {
  position: relative;
  bottom: 3px;
}
#topusers .users .user .addressTable > div.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#topusers .users .user .addressTable > div.label .cur {
  color: rgb(var(--color-bg-ac-bright));
}
#topusers .users .user .addressTable > div.label .top {
  display: flex;
}
#topusers .users .user .addressTable > div.label .top .name {
  font-weight: 600;
  font-size: 0.9em;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#topusers .users .user .addressTable > div.label .top .reputation {
  position: relative;
  bottom: 2px;
  left: 3px;
  font-size: 0.6em;
  color: rgb(var(--color-txt-ac));
}
#topusers .users .user .addressTable > div.label .light {
  font-size: 0.7em;
  color: rgb(var(--color-medium-theme));
}
#topusers .users .user .addressTable > div.extra {
  width: 20px;
  text-align: right;
}
#topusers .users .user .blockingWrapper {
  display: none;
}
#topusers .users .user.userblocking .subscribebuttonstop {
  display: none;
}
#topusers .users .user.userblocking .blockingWrapper {
  display: inline;
}
#topusers .users .user .subscribebuttonstop .unsubscribe {
  display: none;
}
#topusers .users .user .subscribebuttonstop.following .unsubscribe {
  display: inline;
}
#topusers .users .user .subscribebuttonstop.following .notificationturn {
  display: inline;
}
#topusers .users .user .subscribebuttonstop.following .subscribe {
  display: none;
}
#topusers .users .user .modal {
  display: none;
  cursor: default;
  width: 308px;
  position: absolute;
  z-index: 9999;
  right: 180px;
  margin-top: 15px;
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
  box-shadow: 32px 32px 32px 32px rgb(var(--background-total-theme));
  padding: 1em 0.5em;
}
#topusers .users .user .modal .topInfo .addressTable {
  padding: 0.5em 1em;
}
#topusers .users .user .modal .topInfo .addressTable .iconWrapper {
  padding-right: 1em;
}
#topusers .users .user .modal .topInfo .addressTable .iconWrapper .usericon {
  height: 45px;
  width: 45px;
}
#topusers .users .user .modal .topInfo .addressTable .label {
  padding-left: 7px;
}
#topusers .users .user .modal .topInfo .addressTable .label .name {
  max-width: 300px!important;
}
#topusers .users .user .modal .topInfo .addressTable .label .reputation {
  font-size: 0.8em;
  color: #8E90A6;
}
#topusers .users .user .modal .topInfo .addressTable .label .reputation .value {
  color: rgb(var(--color-bg-ac-bright));
  font-weight: 700;
}
#topusers .users .user .modal .follow {
  display: flex;
  padding: 0.5em 1em;
}
#topusers .users .user .modal .follow .followers {
  padding-right: 1.5em;
}
#topusers .users .user .modal .follow .value {
  font-weight: 700;
}
#topusers .users .user .modal .subscribeWrapper {
  padding: 0.5em;
}
#topusers .users .user .modal .subscribeWrapper button {
  width: 100%;
  border-radius: 8px;
  padding: 8px 16px;
}
#topusers .users .user .modal .subscribeWrapper .unsubscribe {
  display: none;
  background: rgb(var(--color-good));
  border: 1px solid rgb(var(--color-good));
}
#topusers .users .user .modal .subscribeWrapper .unsubscribe:hover {
  color: rgb(var(--color-good));
  border: 1px solid rgb(var(--color-good));
  background: #fff;
}
#topusers .users .user .modal .subscribeWrapper.following .unsubscribe {
  display: block;
}
#topusers .users .user .modal .subscribeWrapper.following .subscribe {
  display: none;
}
#topusers .users .user .modal .aboutWrapper {
  padding: 0.5em 1em;
}
#topusers .users .user:hover .modal {
  display: block;
}
