#lastcomments {
  color: rgb(var(--color-txt-gray-dark));
  padding-left: 1em;
}
#lastcomments:hover .comment .commentmessage {
  opacity: 1;
}
#lastcomments .commentgroup:nth-last-child(1) {
  border-bottom: 0;
}
#lastcomments .commentgroup:hover .sharepreview {
  opacity: 1;
}
#lastcomments .sharecaption {
  overflow: hidden;
}
#lastcomments .sharepreview {
  padding: 0 0.5em;
  padding-left: 0;
  opacity: 0.7;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#lastcomments .comment {
  padding: 0 0.5em;
  padding-left: 0;
  padding-top: 1.5em;
  -moz-transition: color 0.9s;
  -o-transition: color 0.9s;
  -webkit-transition: color 0.9s;
  transition: color 0.9s;
  position: relative;
  cursor: pointer;
}
#lastcomments .comment .commentmessage {
  font-size: 0.8em;
  opacity: 0.7;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#lastcomments .comment .commentmessage > div {
  overflow: hidden;
  text-overflow: ellipsis;
}
#lastcomments .comment .commentmessage .realtime {
  opacity: 0.5;
}
#lastcomments .comment .icons {
  overflow: hidden;
  padding-bottom: 0.5em;
}
#lastcomments .comment .icons > div {
  float: left;
}
#lastcomments .comment .icons .donate {
  color: rgb(var(--color-good));
  margin-left: 0.5em;
  font-size: 0.7em;
  font-weight: 500;
}
#lastcomments .comment .realtime {
  white-space: nowrap;
}
#lastcomments .comment .iconWrapper .usericon {
  position: relative;
  width: 14px;
  height: 14px;
  line-height: 10px;
}
#lastcomments .comment .iconWrapper .usericon .letter {
  font-size: 0.6em;
}
#lastcomments .comment .iconbetweenWrapper {
  padding: 0 0.5em;
}
#lastcomments .comment .iconbetweenWrapper i {
  font-size: 0.6em;
  line-height: 14px;
  vertical-align: super;
}
#lastcomments .comment:nth-last-child(1) {
  border-bottom: 0;
}
#lastcomments .comment.newcommentsn,
#lastcomments .comment.newcomments {
  color: rgb(var(--color-txt-ac));
}
#lastcomments .comment.firstcomment {
  display: none;
}
#lastcomments .comment.firstcomment:nth-last-child(1),
#lastcomments .comment.firstcomment:nth-last-child(2),
#lastcomments .comment.firstcomment:nth-last-child(3),
#lastcomments .comment.firstcomment:nth-last-child(4),
#lastcomments .comment.firstcomment:nth-last-child(5) {
  display: block;
}
#lastcomments .comment .commentBody.editing .cbodyWrapper {
  display: none;
}
#lastcomments .comment .imagescellwrapper img {
  width: 30%;
}
#lastcomments .comment .tocommentno,
#lastcomments .comment .tocomment {
  cursor: pointer;
  color: rgb(var(--color-txt-ac));
}
#lastcomments .comment .author {
  font-size: 0.8em;
}
#lastcomments .comment .metatable {
  margin-top: 0.25em;
  height: auto;
}
#lastcomments .comment .metatable > div {
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: none;
}
#lastcomments .comment .metatable > div.datecell {
  width: 40%;
  text-align: right;
}
#lastcomments .comment .metatable > div.datecell span {
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-3));
}
#lastcomments .comment.showedreplies .replies .icon i:before {
  content: '\f106';
}
#lastcomments .comment:hover .metatable > div.panelWrapper .panel {
  opacity: 1;
}
#lastcomments .comment .commentimages .imagesContainer {
  overflow: hidden;
}
#lastcomments .comment .commentimages .imagesContainer > div {
  float: left;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  width: 80px;
  height: 80px;
}
#lastcomments .comment .commentimages .imagesContainer > div .image {
  width: 100%;
  height: 100%;
}
#lastcomments .commentWrapper {
  padding-bottom: 0.5em;
}
#lastcomments .commentWrapper > div {
  vertical-align: top;
}
#lastcomments .commentWrapper > div.iconWrapper {
  font-size: 0.8em;
  width: 45px;
}
#lastcomments .commentWrapper > div.iconWrapper .usericon {
  position: relative;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}
#lastcomments .commentWrapper > div.commentBody .cbodyWrapper {
  padding-bottom: 0.5em;
}
#lastcomments .commentWrapper > div .commentmessage a {
  color: rgb(var(--color-txt-ac));
  text-decoration: underline;
  white-space: nowrap;
}
#lastcomments .commentWrapper > div .commentmessage diV {
  overflow: hidden;
}
#lastcomments .commentWrapper > div .edited {
  padding-top: 0.5em;
}
#lastcomments .commentWrapper > div .edited i,
#lastcomments .commentWrapper > div .edited span {
  color: rgb(var(--neutral-grad-2));
  font-size: 0.8em;
}
#lastcomments .sharepreview .shareprwrapper > div {
  vertical-align: middle;
  padding: 0.5em 0.25em;
}
#lastcomments .sharepreview .shareprwrapper > div.forimage {
  width: 45px;
  padding-right: 0;
  padding-left: 0;
}
#lastcomments .sharepreview .shareprwrapper > div.forimage .img {
  margin: 0 auto;
}
#lastcomments .sharepreview .shareprwrapper > div.fortext {
  padding-left: 0;
}
#lastcomments .sharepreview .shareprwrapper > div.fortext span {
  font-size: 0.8em;
}
#lastcomments .sharepreview .shareprwrapper > div.extra div {
  font-size: 0.9em;
  float: right;
}
#lastcomments .sharepreview .shareprwrapper .img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}
#lastcomments .sharepreview .shareprwrapper .img .vstyle {
  position: absolute;
  left: 20px;
  top: 14px;
  font-size: 0.6em;
  color: rgb(var(--neutral-grad-1));
}
#lastcomments .rcaptiontable > div {
  vertical-align: middle;
}
#lastcomments .rcaptiontable > div.rpanelWrapper {
  width: 80px;
  overflow: hidden;
}
#lastcomments .rcaptiontable > div.rpanelWrapper .arrowWrapper {
  height: 40px;
  float: right;
  width: 40px;
}
#lastcomments .rcaptiontable > div.rpanelWrapper .arrow {
  display: none;
  width: 100%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#lastcomments .rcaptiontable > div.rpanelWrapper .arrow:hover {
  color: rgb(var(--neutral-grad-1));
}
#lastcomments .rcaptiontable > div.rpanelWrapper .arrow.active {
  display: block;
}
#lastcomments .rcaption {
  padding: 1em 0;
}
#lastcomments .rcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
/*t*/
@media only screen and (max-width: 768px) {
  #lastcomments > div {
    font-size: 1.2em;
  }
}
