<div class="address addressStatic">
	<div class="caption">
		<%- curobj.name %> <%=e('donation')%>
	</div>
	
	<div class="warning">
		<%=e('txtNotLinked')%>
	</div>

	<div class="subcaption">
		<div class="subcaptionTable table">
			<div class="s"><span><%=e('address')%>:</span></div>

			<div class="s right">
				<span elementsid="donations_copyaddress" class="copyaddress"><i class="far fa-copy"></i> <%=e('copy')%></span>
			</div>
		</div>
		 
	</div>

	<div class="addressline">
		<b><span class="aw"><%- address %></span></b>
	</div>


	<div class="backnext table">
		<div class="backwrapper">
			<div elementsid="donations_address_back" class="back">
				<span>
					<%=e('back')%>
				</span>
			</div>
		</div>

		<!-- <div class="nextwrapper">
			<div elementsid="donations_address_next" class="next">
				<span>
					<i class="far fa-check-circle"></i> <%=e('e13077')%>
				</span>
			</div>
		</div> -->

	</div>

</div>