<div id="<%-module.map.id%>">

	<div class="work hideprocess">
		<div class="splits table">
			<div class="textsplit">
				<div class="caption">
					Why are we asking for donations?
				</div>

				<div class="text">
					We have spent 14+ months in spare time from full time jobs bringing Pocketnet to people. In addition to time and effort, we have put in our own money to help launch the platform. Now we need the community to step up and help us with growth. 
				</div>

				<div class="caption">
					How will the funds be used?
				</div>

				<div class="text">
					Funds will be used to purchase advertising and hire some specific subject matter experts to make Pocketnet even more secure. Current development team will not get any of these donations. Wherever possible, we will post here how we used the funds. 
				</div>

				<div class="caption">
					What you will get for your donation besides knowing you supported freedom:
				</div>

				<div class="text">
					<div class="subtext">
						As a sign of our gratitude for donation, you will receive a gift in some amount of Pocketcoin
					</div>
					<div class="subtext">
						Also, when we build group chat, you will be a member of a special group of donors that will have direct access to Pocketnet team, even as the platform grows
					</div>
					<div class="subtext">
						Link to your Pocketnet profile will be listed below driving more people to your posts (unless you ask us to not do that)
					</div>
				</div>
			</div>
			<div class="dsplit">
				<div class="donate">
					<button class="orange">Support Decentralized Web Now</button>

					<div class="label">Bitcoin, Litecoin, Monero</div>
				</div>
			</div>
		</div>
	</div>

	<div class="supporting hideprocess">
		<div class="work">
			<div class="caption bright">
				Pocketnet members who donated to support Pocketnet
			</div>

			<div class="users">
				<% _.each(donated, function(address){ %>

					<div class="user">
						<a href="author?address=<%-address%>&report=shares">
							<div class="pictureWrapper">
								
								<% var src = deep(app, 'platform.sdk.usersl.storage.' + address+'.image')  %>
								
								<div class="icon">
									<div class="usericon" image="<%-src || ''%>">
										<% if(!src) {%>
											<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
										<% } %>
									</div>
								</div>

							</div>
							<div class="nameWrapper">
								<div class="name">
									<span><%-deep(app, 'platform.sdk.usersl.storage.'+address+'.name') || address %></span>
								</div>
							</div>
						</a>
					</div>


				<% }) %>
			</div>
		</div>
	</div>	

	<div class="process">
		<div class="work">
			<div class="step"></div>
		</div>
	</div>

</div>



 
