<div id="<%-module.map.id%>">

	<% if(!window.cordova) {%>

		<div class="work hideprocess">
			<div class="splits table">
				<div class="textsplit">
					<div class="caption">
						<%=e('e13078')%>
					</div>

					<div class="text">
						<%=e('e13079')%>
					</div>

					<div class="caption">
						<%=e('e13080')%>
					</div>

					<div class="text">
						<%=e('e13081')%>
					</div>

					<div class="caption">
						<%=e('e13082')%>
					</div>

					<div class="text">
						<div class="subtext">
							<%=e('e13083')%>
						</div>
						<div class="subtext">
							<%=e('e13084')%>
						</div>
						<div class="subtext">
							<%=e('e13085')%>
						</div>
					</div>
				</div>
				<div class="dsplit">
					<div elementsid="donations_donate" class="donate">
						<button class="orange"><%=e('e13086')%></button>

						<div class="label"><%=e('e13087')%></div>
					</div>
				</div>
			</div>
		</div>

	<% } %>

	<div class="supporting hideprocess">
		<div class="work">
			<div class="caption bright">
				<%=e('e13088')%>
			</div>

			<div class="users">
				<% _.each(donated, function(address){ %>

					<div class="user">
						<a elementsid="author?address=<%-address%>&report=shares" href="author?address=<%-address%>&report=shares">
							<div class="pictureWrapper">
								
								<% 
									var src = deep(app, 'platform.sdk.usersl.storage.' + address+'.image');  
									var name = 	deep(app, 'platform.sdk.usersl.storage.' + address+'.name');
									var letter = name ? name[0] : '';
								%>
								
								<div class="icon">
									<div class="usericon" image="<%-src || '*'%>">

										<% if(!src && letter) { %>

											<span 
												class="letter"
											>
												<%-letter.toUpperCase()%>
											</span>
						
										<% } else if (!src) { %>
						
											<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
						
										<% } %>
									</div>
								</div>

							</div>
							<div class="nameWrapper">
								<div class="name">
									<span><%-deep(app, 'platform.sdk.usersl.storage.'+address+'.name') || address %></span>
								</div>
							</div>
						</a>
					</div>


				<% }) %>
			</div>
		</div>
	</div>	

	<div class="process">
		<div class="work">
			<div class="step"></div>
		</div>
	</div>

</div>



 
