<div class="caption">
	<%=e('supportFormTitle')%>
</div>
<div class="text form">
	<% _.each(supportOptions, function(parameter){ %>

		<div class="parameterMaketWrapper <%-parameter.pid%>" parameter="<%-parameter.id%>">
			<div class="parameter table">
	
				<div class="pName">
					<div class="pNameW">
						<%= parameter.name %><% 
							var unit = deep(parameter, 'format.Unit');
	
							if(unit) { %>, <span class="unit"><%-unit%></span>
	
						<%	} %><% if(parameter.type == 'valuesmulti'){%>: <%} %>
						
						<% if(parameter.require){ %>
	
							<span class="require">*</span>
							
	
						<% } %>
	
						
					</div>
	
					
	
				</div>
	
				<div class="pInput">
					<%= parameter.input({
						init : true
					}) %>
				</div>
	
	
	
				
	
			</div>
	
	
			<% if(parameter.id == 'name') { %>
				<div class="errorname">
					<span></span>
				</div>
			<% } %>
			
		</div>
	
	<% }) %>
</div>
<button elementsid="formsend" class="button send">
	<%=e('send')%>
</button>
