<div class="thankyou">

	<div class="caption">
		<%=e('thankyou')%>
	</div>

	<div class="text">
		<%=e('e13089')%>
	</div>

	<div class="sendinfo table">

		<div class="currency">
			<%- curobj.name %>
		</div>
		<div class="amount">
			<%= parameters.amount.input() %>
		</div>
		<div class="sendwrapper">
			<button elementsid="donations_send" class="send"><%=e('e13090')%></button>
		</div>
		<div class="iconwrapper">
			<div class="icon">
				<% 

					var sUserInfo = psdk.userInfo.getShortForm()

					var src = sUserInfo.image;
					var name = sUserInfo.name;
					var letter = sUserInfo.letter;

				%>

					<div class="usericon" image="<%-src || '*'%>">

						<% if(!src && letter) { %>

							<span 
								class="letter"
							>
								<%-letter.toUpperCase()%>
							</span>
		
						<% } else if (!src) { %>
		
							<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
		
						<% } %>

					
						
					</div>

				

				
			</div>
		</div>
	</div>

	<div class="text textor">
		<span>
			<%=e('e13091')%> <a elementsid="mailto:<%- window.project_config.support %>" href="mailto:<%- window.project_config.support %>"><%- window.project_config.support %></a> <%=e('e13092')%> 
		</span>
	</div>

	<div elementsid="donations_back" class="back">
		<span>
			<% if(second) {%>

				<%=e('back')%>

			<% } else { %> 

				<%=e('finish')%>

			<% } %>
			
		</span>
	</div>
</div>