<div class="thankyou">

	<div class="caption">
		<%=e('thankyou')%>
	</div>

	<div class="text">
		<%=e('e13089')%>
	</div>

	<div class="sendinfo table">

		<div class="currency">
			<%- curobj.name %>
		</div>
		<div class="amount">
			<%= parameters.amount.input() %>
		</div>
		<div class="sendwrapper">
			<button elementsid="donations_send" class="send"><%=e('e13090')%></button>
		</div>
		<div class="iconwrapper">
			<div class="icon">
				<% 



					var src = deep(app, 'platform.sdk.usersl.storage.'+ app.platform.sdk.address.pnet().address +'.image');
					var name = deep(app, 'platform.sdk.usersl.storage.'+ app.platform.sdk.address.pnet().address +'.name');
					var letter = name ? name[0] : '';

				%>

					<div class="usericon" image="<%-src || '*'%>">

						<% if(!src && letter) { %>

							<span 
								class="letter"
							>
								<%-letter.toUpperCase()%>
							</span>
		
						<% } else if (!src) { %>
		
							<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>
		
						<% } %>

					
						
					</div>

				

				
			</div>
		</div>
	</div>

	<div class="text textor">
		<span>
			<%=e('e13091')%> <a elementsid="mailto:support@<%- app.meta.url %>" href="mailto:support@<%- app.meta.url %>">support@<%- app.meta.url %></a> <%=e('e13092')%> 
		</span>
	</div>

	<div elementsid="donations_back" class="back">
		<span>
			<% if(second) {%>

				<%=e('back')%>

			<% } else { %> 

				<%=e('finish')%>

			<% } %>
			
		</span>
	</div>
</div>