<div class="address xmraddress">
	<div class="caption">
		<%- curobj.name %> <%=e('donation')%>
	</div>

	<div class="subcaption">
		<div class="subcaptionTable table">
			<div class="s"><span><%=e('address')%>:</span></div>

			<div class="s right">
				<span elementsid="xmraddress_copyaddress" class="copyaddress"><i class="far fa-copy"></i> <%=e('copy')%></span>
			</div>
		</div>
		 
	</div>

	<div class="addressline">
		
		<div class="aw"><div>48DEktxAVBz2dHf7yrKyhhJJbeXjRyH8R64wfr7LyUyEegNk8Z</div><div>UaezLHGL6SZKFuhq8j7NVLWbZCFamyqM5oNZ93LzMq9B3</div></div>
		
	</div>


	<div class="qrcode">
		<div class="subcaption">
			<span><%=e('e13076')%> <% curobj.name %></span>
		</div>

		<div class="qr">
			<img src="img/monero.png">
		</div>
	</div>

	<div class="backnext table">
		<div class="backwrapper">
			<div elementsid="xmraddress_back" class="back">
				<span>
					<%=e('back')%>
				</span>
			</div>
		</div>

		<div class="nextwrapper">
			<div elementsid="xmraddress_next" class="next">
				<span>
					<i class="far fa-check-circle"></i> <%=e('e13077')%>
				</span>
			</div>
		</div>

	</div>

</div>