<div class="address xmraddress">
	<div class="caption">
		<%- curobj.name %> donation
	</div>

	<div class="subcaption">
		<div class="subcaptionTable table">
			<div class="s"><span>Address:</span></div>

			<div class="s right">
				<span class="copyaddress"><i class="far fa-copy"></i> Copy</span>
			</div>
		</div>
		 
	</div>

	<div class="addressline">
		
		<div class="aw"><div>48DEktxAVBz2dHf7yrKyhhJJbeXjRyH8R64wfr7LyUyEegNk8Z</div><div>UaezLHGL6SZKFuhq8j7NVLWbZCFamyqM5oNZ93LzMq9B3</div></div>
		
	</div>


	<div class="qrcode">
		<div class="subcaption">
			<span>Scan this code to send <% curobj.name %></span>
		</div>

		<div class="qr">
			<img src="img/monero.png">
		</div>
	</div>

	<div class="backnext table">
		<div class="backwrapper">
			<div class="back">
				<span>
					Back
				</span>
			</div>
		</div>

		<div class="nextwrapper">
			<div class="next">
				<span>
					<i class="far fa-check-circle"></i> Add your profile to Donors List
				</span>
			</div>
		</div>

	</div>

</div>