<div class="list">
    <% 
    
    var sorted = _.sortBy(applications, function(ins){
        if(ins.installing) return 1
        if(ins.installed) return 2
    })
    
    _.each(sorted, function(ins){ %> 

        <% if(ins.installed) {%>
            <div class="application installed" application="<%- application.manifest.id %>">
                <div class="icon" image="<%-application.icon%>">
                </div>
                <div class="name">
                    <span><%- application.manifest.name %></span>
                </div>
                <div class="badge" num="0">
                </div>
            </div>
        <% } %>

        <% if(ins.installing) {%>
            <div class="application installing" application="<%- ins.application.id %>">
                <div class="icon">
                </div>
                <div class="name">
                    <span><%- ins.application.name %></span>
                </div>
                <div class="badge installing">
                </div>
            </div>
        <% } %>

        <% if(!ins.installing && !ins.installed) {%>
            <div class="application" application="<%- application.manifest.id %>">
                <div class="icon" image="<%-application.icon%>">
                </div>
                <div class="name">
                    <span><%- application.manifest.name %></span>
                </div>
            </div>
        <% } %>
    <% }) %>
</div>