<div id="<%-module.map.id%>">

	<div class="rightchatspacer">
		<div class="work adj">

			<div class="applications chapter">
				<div class="caption">
					<span>Applications</span>
				</div>

				<div class="searchWrapper">
					<div class="applicationSearch"></div>
				</div>

				<div class="applicationsList">
					
				</div>
			</div>

			<!--<div class="subscribes chapter">
				<div class="caption">
					<span>Subscribes</span>
				</div>
			</div>

			<div class="footer chapter">

			</div>-->
		</div>
	</div>

</div>