<div class="currentsearch">
    <div class="wrp">
        <div class="rcptwrp">
            <div class="tcaption">
                <span><%=e('e13157')%></span>
            </div>
            <div class="searchcnt">
                <span><%- value %></span> 
            </div>	

            <div class="goback">
                <a elementsid="backlink" href="<%-backlink%>">
                    <button class="button small"><i class="fas fa-caret-left"></i> <%=e('back')%></button>
                </a>
            </div>
        </div>
    </div>
</div>