<div class="rightbottomlinks">

    <% if(!app.television) {%>

        <% 
        
        var dapp = _.find(app.developapps, (da) => {
            return da.id == 'barteron.pocketnet.app'
        })
        
        
        if (!isMobile() && dapp) {%>
            <div class="dapp">
                <button class="button small orange"><%= e('Barteron') %></button>
            </div>
        <% } %>

        <% if (!window.cordova && typeof _Electron == 'undefined' && !isMobile()) {%>
            <div class="downloadapplication">
                <button class="button small"><%= e('e13120') %></button>
            </div>

        <% } %>

        <% if (!window.cordova && !isMobile()) {%>
            <div class="donations">
                <button class="button small good"><%= e('donate') %></button>
            </div>
        <% } %>

        

    <% } %>

    <% if(!app.television) {%>
    <div>

        

            <span class="likelink blockexplorer"><%= e('e13182') %></span>
            <span>&middot;</span>
            <a elementsid="fordevelopers" href="devapplications"><%= e('fordevelopers') %></a>
            <span>&middot;</span>
            <% if(!app.cutversion) {%>
            <a elementsid="aboutlink" href="about"><%= e('aboutus') %></a>
            <span>&middot;</span>
            <a elementsid="about?id=about-faq" href="about?id=about-faq">F.A.Q.</a>
            <span>&middot;</span>
            <% } %>
            <a elementsid="help?page=applications" href="applications"><%= e('e14106') %></a>

        

        <% if(!app.cutversion) {%>
            <span>&middot;</span>
            <a elementsid="help" href="help"><%= e('e14100') %></a>
            <span>&middot;</span>
            <a elementsid="boost" href="boost"><%= e('boost') %></a>
            <span>&middot;</span>
            <a elementsid="howtobuy" href="howtobuy"><%= e('howToBuy') %></a>
        <% } %>
    </div>

    <% } %>

    <% var year = new Date().getFullYear() %>

    <div class="copyright">
        <div class="app-logo"></div>
        <span class="text">
            <div class="app-name"><%-app.meta.fullname%></div>
            <% if (window.packageversion) { %>
                <div class="app-version"><%-window.packageversion%></div>
            <% } %>
            <% if (window.builtfromsha) { %>
                <div class="app-builtfrom"><%-window.builtfromsha%></div>
            <% } %>
            <div class="app-update-available"><%= e('updateNotifier_availableSilent') %> <i class="fas fa-arrow-circle-up"></i></div>
            <div class="app-years">2019 &mdash; <%-year%></div>
        </span>
    </div>
</div>
