<div class="rightbottomlinks">

    

    <div>

        <a elementsid="https://<%-app.options.url%>/blockexplorer/" href="https://<%-app.options.url%>/blockexplorer/"><%= e('e13182') %></a>
        <span>&middot;</span>
        <% if(!app.cutversion) {%>
        <a elementsid="aboutlink" href="about"><%= e('aboutus') %></a>
        <span>&middot;</span>
        <a elementsid="about?id=about-faq" href="about?id=about-faq">F.A.Q.</a>
        <span>&middot;</span>
        <% } %>
        <a elementsid="help?page=applications" href="applications"><%= e('e14106') %></a>

        <% if(!app.cutversion) {%>
            <span>&middot;</span>
            <a elementsid="help" href="help"><%= e('e14100') %></a>
            <span>&middot;</span>
            <a elementsid="boost" href="boost"><%= e('boost') %></a>
            <span>&middot;</span>
            <a elementsid="howtobuy" href="howtobuy"><%= e('howToBuy') %></a>
        <% } %>
    </div>

    <% var year = new Date().getFullYear() %>

    <div class="copyright">
        <div class="app-logo"></div>
        <span class="text">
            <div class="app-name"><%-app.meta.fullname%></div>
            <% if (window.packageversion) { %>
                <div class="app-version"><%-window.packageversion%></div>
            <% } %>
            <% if (window.builtfromsha) { %>
                <div class="app-builtfrom"><%-window.builtfromsha%></div>
            <% } %>
            <div class="app-years">2019 &mdash; <%-year%></div>
        </span>
    </div>
</div>