<div class="rightbottomlinks">

    <% if (!window.cordova && typeof _Electron == 'undefined' && !isMobile()) {%>
        <div class="downloadapplication">
            <button class="button small"><%= e('e13120') %></button>
        </div>
        <div class="donations">
            <button class="button small good"><%= e('donate') %></button>
        </div>
    <% } %>

    <div>

        <a elementsid="https://<%-app.options.url%>/blockexplorer/" href="https://<%-app.options.url%>/blockexplorer/"><%= e('e13182') %></a>
        <span>&middot;</span>
        <% if(!app.cutversion) {%>
        <a elementsid="aboutlink" href="about"><%= e('aboutus') %></a>
        <span>&middot;</span>
        <a elementsid="about?id=about-faq" href="about?id=about-faq">F.A.Q.</a>
        <span>&middot;</span>
        <% } %>
        <a elementsid="help?page=applications" href="applications"><%= e('e14106') %></a>

        <% if(!app.cutversion) {%>
            <span>&middot;</span>
            <a elementsid="help" href="help"><%= e('e14100') %></a>
            <span>&middot;</span>
            <a elementsid="boost" href="boost">Boost</a>
        <% } %>
    </div>

    <% var year = new Date().getFullYear() %>

    <div class="copyright">
        <img class="copy_logo" src="img/logogray.png" alt="logo">
        <span class="copyright_text"><%-app.meta.fullname%> <% if(window.packageversion) {%> <%-window.packageversion%><% } %>, 2019&mdash;<%-year%></span>
    </div>
</div>