<div id="<%-module.map.id%>">

	<div class="best">
		<span class="bestLabel">
			<span class="fire">
				<i class="fab fa-gripfire"></i>
			</span>
			<span class="text">
				<%=e('bestFirst')%>
			</span>
		</span>
		<span class="toggle">
			<i class="fa fa-toggle-on"></i>
		</span>
	</div>
	<div class="mobiledevice">
		<div class="closecategoriesContainer">
			<button class="button closecategories ghost">
				Close <i class="fas fa-filter"></i>
			</button>
		</div>
	</div>

	<div class="catscnt">	
	</div>
	
	<div class="tagscnt">	
	</div>

	<div class="currentsearchcnt">
	</div>

	<div class="subtop">
	</div>

</div>