<%

var r = parameters(app.nav.current.completeHref, true).r;
var video = parameters(app.nav.current.completeHref, true).video;
var read = parameters(app.nav.current.completeHref, true).read;

%>

<div class="menupanel">
    <div class="panelitemCenter">
        <div class="tabs">

            <div class="tab">
                <span class="pcenterLabel fresh <% if(!r && !video && !read && pathname=='index') {%> active <% } %> ">
                    <a href="index" handler="true"><i class="far fa-calendar"></i><span class="text"><%=e('e13136')%> </span><span class="lentaunseen" key="common"></span></a>
                </span>

            </div>

            <% if(state) { %>
            <div class="tab">
                <span class="pcenterLabel <% if(r == 'sub' && pathname=='index') {%> active <% } %>">
                    <a href="index?r=sub"  handler="true"><i class="far fa-heart"></i><span class="text"><%=e('e13137')%> </span> <span class="lentaunseen " key="sub"></span></a>
                </span>

            </div>
            <% } %>


            <div class="tab">
                <span class="pcenterLabel <% if(video && pathname=='index') {%> active <% } %>">
                    <a href="index?video=1"  handler="true"><i class="far fa-play-circle"></i><span class="text"><%=e('video')%> </span><span class="lentaunseen" key="video"></span></a>
                </span>
            </div>

            <div class="tab">
                <span class="pcenterLabel <% if(read && pathname=='index') {%> active <% } %>">
                    <a href="index?read=1"  handler="true"><i class="far fa-sticky-note"></i><span class="text"><%=e('longreads')%> </span><span class="lentaunseen" key="article"></span></a>
                </span>
            </div>

            <% const isElectron = (typeof _Electron !== 'undefined' && !!window.electron); %>
            <% const isSaveSupported = (window.cordova || isElectron && !isios()); %>

            <% if(isSaveSupported) {%>
                <div class="tab">
                    <span class="pcenterLabel <% if(r == 'saved' && pathname=='index') {%> active <% } %>">
                        <a href="index?r=saved"  handler="true"><i class="fas fa-cloud-download-alt"></i><span class="text"><%=e('downloaded')%></span></a>
                    </span>
                </div>
            <% } %>

            <div class="tab">
                <span class="pcenterLabel toppost <% if(!video && r == 'recommended' && pathname=='index') {%> active <% } %>">
                    <a href="index?r=recommended"  handler="true"><i class="far fa-star"></i><span class="text"><%=e('e13138')%></span></a>
                </span>
            </div>




        </div>
    </div>
</div>
