<div class="sub">
    <div class="wrp">
        <div class="rcptwrp">
            <div class="tcaption">
                <span><%=e("Top Posts Over")%></span>
            </div>

            <div class="topparameters">
                <% _.each(ps, function(parameter){ %> 
                
                    <div class="pInput">
                        <%= parameter.input({
                            init : true
                        }) %>
                    </div>

                <% }) %>
            </div>

            <div class="topnavigation">

                <a elementsid="?page=<%-Number(page) + 1%>" href="?page=<%-Number(page) + 1%>" handler="true">
                    <button class="button small">
                        <i class="fas fa-caret-left"></i> <%=e("topprevious")%>
                    </button>
                </a>

                <% if(page > 0) {%>
                    <a elementsid="?page=<%-Number(page) - 1%>" href="?page=<%-Number(page) - 1%>" handler="true"> 
                        <button class="button small">
                            <%=e("topnext")%> <i class="fas fa-caret-right"></i>
                        </button>
                    </a>
                <% } %>
            </div>

            <div class="toplabel">

                    <!--<div class="label">test</div>-->
                    <div class="topactualback">
                    <% if(page > 0) {%>
                        <a elementsid="?page=0" href="?page=0" handler="true"> 
                        <%=e("topactual")%>
                        </a>
                    <% } %>
                </div>
            </div>

            <!--<div class="goback">
                <a elementsid="hrefindex" href="index">
                    <button class="button small"><i class="fas fa-caret-left"></i> <%=e('back')%></button>
                </a>
            </div>-->
        </div>
    </div>
</div>