<div class="sub">
    <div class="wrp">
        <div class="rcptwrp">
            <div class="tcaption">
                <span><%=e('e13138')%></span>
            </div>

            <!--<div class="topparameters">
                <% _.each(ps, function(parameter){ %> 
                
                    <div class="pInput">
                        <%= parameter.input({
                            init : true
                        }) %>
                    </div>

                <% }) %>
            </div>

            <!--<div class="topnavigation">

                <a href="?page=<%-Number(page) + 1%>" handler="true">
                    <button class="button small">
                        <i class="fas fa-caret-left"></i> Previous
                    </button>
                </a>

                <% if(page > 0) {%>
                    <a href="?page=<%-Number(page) - 1%>" handler="true"> 
                        <button class="button small">
                            Next <i class="fas fa-caret-right"></i>
                        </button>
                    </a>
                <% } %>
            </div>

            <div class="goback">
                <a href="index">
                    <button class="button small"><i class="fas fa-caret-left"></i> <%=e('back')%></button>
                </a>
            </div>-->
        </div>
    </div>
</div>