#aboutus {
  padding-bottom: 5em;
}
#aboutus .caption {
  margin-top: 3em;
  font-size: 1.6em;
  color: #3c4146;
}
#aboutus .text {
  color: #0e1c2b;
  max-width: 700px;
  margin-top: 5em;
  margin-bottom: 5em;
}
#aboutus .text p {
  margin-top: 2em;
}
#aboutus .text p a {
  color: #00a4ff;
}
#aboutus .text p.sign {
  margin-top: 3em;
  margin-bottom: 2em;
  color: #00a4ff;
  font-weight: 500;
}
#aboutus .text p.address {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
}
#aboutus .slide {
  padding: 4em 0;
}
#aboutus .slide .caption {
  font-weight: 700;
  color: #2B2D30;
  font-size: 2.3em;
}
#aboutus .slide .thesis {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#aboutus .slide.team .slidecaption {
  color: #2B2D30;
  font-weight: 700;
  font-size: 1.6em;
}
#aboutus .slide.team .teamCnt {
  margin-top: 2em;
  max-width: 900px;
}
#aboutus .slide.team .person {
  padding: 2em;
  padding-left: 0;
  border-bottom: 1px dashed #00a4ff;
}
#aboutus .slide.team .person > div {
  vertical-align: top;
}
#aboutus .slide.team .person .photo {
  width: 120px;
}
#aboutus .slide.team .person .personphoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#aboutus .slide.team .person .name {
  font-weight: 700;
  font-size: 1.4em;
}
#aboutus .slide.team .person .name span {
  border-bottom: 6px solid #00a4ff;
}
#aboutus .slide.team .person .about {
  margin-top: 2em;
}
#aboutus .slide.team .person .about p {
  color: #3c4146;
}
#aboutus .slide.team .person:nth-last-child(1) {
  border-bottom: 0;
}
/*t*/
@media only screen and (max-width: 768px) {
  #aboutus .slide {
    padding: 2em 0;
  }
  #aboutus .slide .caption {
    font-size: 1.7em;
  }
  #aboutus .slide.team .caption {
    text-align: center;
  }
  #aboutus .slide.team .teamCnt {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 900px;
  }
  #aboutus .slide.team .person {
    padding: 1em;
    display: block;
  }
  #aboutus .slide.team .person > div {
    display: block;
  }
  #aboutus .slide.team .person .photo {
    margin: 0 auto;
    width: 90px;
    text-align: center;
  }
  #aboutus .slide.team .person .personphoto {
    width: 80px;
    height: 80px;
  }
  #aboutus .slide.team .person .name {
    text-align: center;
    font-size: 1.3em;
  }
  #aboutus .slide.team .person .name span {
    border-bottom: 6px solid #00a4ff;
  }
  #aboutus .slide.team .person .about {
    margin-top: 1.5em;
  }
}
