#mobilesearch .searchWrapper {
  display: flex;
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: var(--app-margin-top);
  right: 0;
  align-items: center;
  background: rgb(var(--background-secondary-theme));
  padding-right: 1em;
  padding-left: 1em;
}
#mobilesearch .searchIcon {
  width: 44px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#mobilesearch .inputWrapper {
  flex-grow: 2;
}
#mobilesearch .inputWrapper input {
  width: 100%;
  height: 65px;
  line-height: 65px;
  border: none;
  background: transparent;
}
#mobilesearch .resultsWrapper .results > div {
  padding: 1em 1em;
}
#mobilesearch .resultsWrapper .empty {
  padding: 1em;
  text-align: center;
}
#mobilesearch .cancelWrapper {
  padding: 1em 0;
  margin-right: 1em;
}
#mobilesearch .cancelWrapper span {
  color: rgb(var(--color-txt-ac));
  font-size: 0.9em;
}
.wnd.mobsearch ._close {
  display: none!important;
}
