#userslist {
  padding: 2.5em;
  background: rgb(var(--background-total-theme));
}
#userslist .caption {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 1em;
}
#userslist .loaderWrapper {
  display: none;
  padding: 1em;
  text-align: center;
}
#userslist.loading .loaderWrapper {
  display: block;
}
#userslist .users .user {
  padding: 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#userslist .users .user .addressTable {
  cursor: pointer;
}
#userslist .users .user .addressTable > div {
  vertical-align: middle;
}
#userslist .users .user .addressTable > div.iconWrapper {
  width: 45px;
  text-align: center;
}
#userslist .users .user .addressTable > div.label {
  padding-left: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#userslist .users .user .addressTable > div.label .cur {
  color: rgb(var(--color-txt-ac));
}
#userslist .users .user .addressTable > div.label .name {
  font-size: 1.2em;
}
#userslist .users .user .addressTable > div.label .light {
  font-size: 0.8em;
  color: rgb(var(--color-txt-gray-dark));
}
#userslist .users .user .addressTable > div.label .light .reputation {
  font-weight: bold;
  color: rgb(var(--color-txt-ac));
}
#userslist .users .user .addressTable > div.extra {
  width: 200px;
  padding-left: 1em;
  text-align: right;
}
#userslist .users .user .blockingWrapper {
  display: none;
}
#userslist .users .user .subscribebuttonstop i {
  color: rgb(var(--color-good));
}
#userslist .users .user .subscribebuttonstop button {
  font-size: 0.9em;
  font-weight: 100;
  padding: 0.5em 2em;
}
#userslist .users .user .subscribebuttonstop .unsubscribe {
  color: rgb(var(--neutral-grad-4));
}
#userslist .users .user .subscribebuttonstop .notificationturn {
  display: none;
}
#userslist .users .user .subscribebuttonstop .notificationturn i {
  width: 20px;
  text-align: center;
}
#userslist .users .user .subscribebuttonstop .notificationturn.turnon i:before {
  content: '\f0f3';
}
#userslist .users .user.userblocking .subscribebuttonstop {
  display: none;
}
#userslist .users .user.userblocking .blockingWrapper {
  display: inline;
}
#userslist .users .user .subscribebuttonstop .unsubscribe {
  display: none;
}
#userslist .users .user .subscribebuttonstop.following .unsubscribe {
  display: inline;
}
#userslist .users .user .subscribebuttonstop.following .notificationturn {
  display: inline;
}
#userslist .users .user .subscribebuttonstop.following .subscribe {
  display: none;
}
/*t*/
@media only screen and (max-width: 768px) {
  #userslist {
    padding: 1em;
  }
  #userslist .users .addressTable > div.extra {
    width: 60px;
  }
}
