@import "../../css/__cssvar";

#panel{

	.rightbottomnav {
		padding: 2 * @rhythm;
		color: fade(@color-white, 30);


		a,
		span{
			font-size: 0.8em;
		}

		a{
			.transition(0.3s);

			&:hover{
				color : @color-main;
			}
		}

		.rightbottomlinks {
			padding-top: @rhythm;
		}

		.copyright {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 4 * @rhythm;

			.copy_logo {
				width: 14px;
				height: 14px;
			}

			img{
				opacity: 0.5;
			}

			.copyright_text {
				margin-left: @rhythm;
			}
		}
	}

	padding-left: @rhythm;
	
	#chat{
		height: 550px;
	}

	>div{

		.wrp{
			padding-bottom : 10px;
		}
	
	}

	.discussiondummy{
		color : @color-main;
		padding : 2 * @rhythm;

		a{
			font-size: 0.8em;
		}
	}

	.recommendationscnt{
		
		.recommendations{
			margin-bottom : 10px;
			background: #FAFAFA;
		}

		.rcaptiontable{
			>div{
				vertical-align: middle;
				&.rpanelWrapper{
					width : 80px;
					overflow: hidden;

					.arrowWrapper{
						height: 40px;	
						float: right;
						width: 40px;
					}
					.arrow{
						display: none;
						width: 100%;
						text-align: center;
						line-height: 40px;
						cursor: pointer;
						.transition(0.3s);

						&:hover{
							color : @color-main;
						}

						&.active{
							display: block;
						}
					}
				}
			}
		}

		.rcaption{
			padding-left : @rhythm;
			

			span{
				font-weight: 100;
			}
		}

		.userslist{
			padding : 2 * @rhythm @rhythm;
			white-space: nowrap;
			overflow: hidden;
			.transition(0.3s, margin);
		}
		

		.tableview{
			&.tcaption{
				display: none;
			}
			
		}
		.userslistwrapper{
			overflow : hidden;
			position: relative;
			.nextpage{
				display: none;
			}
			.arrow{
				border-radius: 50%;
				line-height: 32px;
				width: 33px;
				height: 33px;
				text-align: center;
				font-size: 0.8em;
				color : @color-gray-light;
				.transition(0.3s);
				cursor: pointer;
				border : 1px solid transparent;
				top : 7px;
				background: #fff;

				.label{
					display: none;
				}

				&:hover{
					color : @color-main;
					border-color: @color-main;
				}
			}

			.uleft{
				position: absolute;
				left: -60px;

				&.active{
					left: 0;
				}
			}

			.uright{
				position: absolute;
				right: -60px;

				&.active{
					right: 0;
				}
			}

		}

		.user{
			width: 75px;
			float: left;

			.usericon{
				margin : 0 auto;
				opacity: 0;
				.transition(0.3s, opacity);
				
				&.active{
					opacity: 1;
				}
			}

			.icon{
				padding-bottom: @rhythm;
			}

			.name{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align: center;
				span{
					font-size: 0.8em;
				}
			}

			.postsCountWrapper,
			.aboutWrapper{
				display: none;
			}
		}



	}


	#discussions{
		.disscussionsCaption {
			margin-bottom: 0;

			.pwrapper{
				background: #fff;
			}
		}
		.discussionsWrapper{
			
			max-height: 250px;

			.pwrapper{
				background: #fff;
			}
		}

		.chatWrapper{

			.load{
				left: 0;
			}
		}

		.load{
			left: 0px;
		}

		.gotoDisscussion{
			background: @color-gray2;
			color : #fff;
			padding : @rhythm;

			&.has{
				display: block;
			}
		}
		
	}


	.sections{
		background: #F0F0F0;
	
		>div{
			padding : @rhythm  0;
			width: 50%;
			vertical-align: middle;
			cursor: pointer;
			.transition(0.3s);
			text-align: center;

			span{
				font-size: 0.8em;
			}

			&:hover,
			&.active{
				background: @color-add;
				color : #fff;
			}
		}
	}


}

/*t*/ @media only screen and (max-width: 768px){
	#panel{
		padding-left: 0;
	}
}