#applications .oss {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 156px auto 156px auto 156px;
  /*grid-auto-rows: minmax(500px, auto);*/
  grid-gap: 1.5em;
}
#applications .oss .os {
  text-align: center;
  padding: 2em;
  border-radius: 10px;
  background: rgba(var(--background-secondary-theme));
  height: 600px;
  grid-column: span 1;
  grid-row: span 2;
}
#applications .oss .os .downloadcaption,
#applications .oss .os .label {
  display: none;
}
#applications .oss .os:nth-child(2) {
  grid-column: 2;
  grid-row: 2 / span 2;
}
#applications .oss .os[osid='android'] .osimage {
  left: 30%;
}
#applications .oss .os[osid='macos'] .osimage {
  left: -40%;
  bottom: -30%;
}
#applications .oss .os[osid='macos'] .osimage img {
  width: 130%;
}
#applications .oss .os[osid='windows'] .osimage {
  left: -40%;
  bottom: -14%;
}
#applications .oss .os[osid='windows'] .osimage img {
  width: 95%;
}
#applications .oss .os[osid='linux'] .osimage {
  left: 0;
  bottom: -10%;
}
#applications .oss .os[osid='linux'] .osimage img {
  width: 90%;
}
#applications .os {
  overflow: hidden;
  position: relative;
}
#applications .os .subcaption {
  font-size: 2em;
  font-weight: 100;
}
#applications .os .label {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.5em;
  max-width: 450px;
}
#applications .os .downloadcaption {
  max-width: 640px;
  font-size: 1.3em;
  margin-bottom: 2em;
}
#applications .os .buttonWrapper {
  margin-top: 1em;
}
#applications .os .buttonWrapper > div {
  margin-bottom: 1em;
}
#applications .os .data {
  position: absolute;
  left: 0;
  top: 2em;
  right: 0;
}
#applications .os .icon {
  position: absolute;
  opacity: 0.5;
  color: rgb(var(--color-txt-gray-dark));
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
}
#applications .os .downloadOsStyle {
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.2em;
  font-weight: 100;
  background: rgb(var(--background-main-contrast));
  color: rgb(var(--background-main));
  border-color: rgb(var(--background-main-contrast));
}
#applications .os .downloadOsStyle:hover {
  background: rgb(var(--color-bg-orange));
  border-color: rgb(var(--color-bg-orange));
}
#applications .os .osimage {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
}
#applications .os .osimage img {
  border-radius: 50%;
  height: 20%;
}
#applications .mainWrapper {
  background: rgb(var(--color-shadow-base));
}
#applications .mainos .os {
  height: 450px;
  color: rgb(var(--text-on-bg-shadow-color));
}
#applications .mainos .os .osimage {
  left: auto;
  right: -10%;
  bottom: -15%;
  width: auto;
}
#applications .mainos .os .osimage img {
  width: 500px;
}
#applications .mainos .os .data {
  left: 10%;
  top: 10%;
}
#applications .mainos .os .icon {
  color: rgb(var(--text-on-bg-shadow-color));
}
#applications .mainos .os .subcaption {
  display: none;
}
#applications .mainos .os .downloadOsStyle {
  background: rgb(var(--color-bg-orange));
  color: rgb(var(--text-on-bg-ac-color));
  border-color: rgb(var(--color-bg-orange));
}
#applications .mainos .os .downloadOsStyle:hover {
  background: rgb(var(--color-bg-orange));
  border-color: rgb(var(--color-bg-orange));
}
/*t*/
@media only screen and (max-width: 768px) {
  #applications .oss {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
  #applications .oss .os {
    height: 600px;
    grid-column: span 1;
    grid-row: span 2;
  }
  #applications .oss .os:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }
  #applications .oss .os[osid='android'] .osimage,
  #applications .oss .os[osid='macos'] .osimage,
  #applications .oss .os[osid='windows'] .osimage,
  #applications .oss .os[osid='linux'] .osimage {
    left: 0;
    bottom: -10%;
  }
  #applications .oss .os[osid='android'] .osimage img,
  #applications .oss .os[osid='macos'] .osimage img,
  #applications .oss .os[osid='windows'] .osimage img,
  #applications .oss .os[osid='linux'] .osimage img {
    width: 90%;
  }
  #applications .mainos .os {
    height: 750px;
  }
  #applications .mainos .os .osimage {
    left: 0;
    right: 0;
    bottom: -5%;
    width: 100%;
    text-align: center;
  }
  #applications .mainos .os .osimage img {
    width: 95%;
  }
  #applications .mainos .os .data {
    left: 10%;
    top: 10%;
  }
  #applications .mainos .os .subcaption {
    display: none;
  }
}
#applications .oss{margin-top:2em;display:grid;grid-template-columns:1fr 1fr;grid-template-rows:156px auto 156px auto 156px;grid-gap:1.5em}#applications .oss .os{text-align:center;padding:2em;border-radius:10px;background:rgba(228,221,222,0.2);height:600px;grid-column:span 1;grid-row:span 2}#applications .oss .os .downloadcaption,#applications .oss .os .label{display:none}#applications .oss .os:nth-child(2){grid-column:2;grid-row:2 span 2}#applications .oss .os[osid='android'] .osimage{left:30%}#applications .oss .os[osid='macos'] .osimage{left:-40%;bottom:-30%}#applications .oss .os[osid='macos'] .osimage img{width:130%}#applications .oss .os[osid='windows'] .osimage{left:-40%;bottom:-14%}#applications .oss .os[osid='windows'] .osimage img{width:95%}#applications .oss .os[osid='linux'] .osimage{left:0;bottom:-10%}#applications .oss .os[osid='linux'] .osimage img{width:90%}#applications .os{overflow:hidden;position:relative}#applications .os .subcaption{font-size:2em;font-weight:100}#applications .os .label{font-size:3em;font-weight:700;margin-bottom:.5em;max-width:450px}#applications .os .downloadcaption{max-width:640px;font-size:1.3em;margin-bottom:2em}#applications .os .buttonWrapper{margin-top:1em}#applications .os .buttonWrapper>div{margin-bottom:1em}#applications .os .data{position:absolute;left:0;top:2em;right:0}#applications .os .icon{position:absolute;opacity:.5;color:#0e1c2b;bottom:.5em;left:0;right:0;text-align:center}#applications .os .downloadOsStyle{border-radius:30px;padding-left:2em;padding-right:2em;font-size:1.2em;font-weight:100;background:#0a0c17;color:#fff;border-color:#0a0c17}#applications .os .downloadOsStyle:hover{background:#112035;border-color:#112035}#applications .os .osimage{position:absolute;left:0;bottom:1em;width:100%}#applications .os .osimage img{border-radius:50%;height:20%}#applications .mainWrapper{background:#0e1c2b}#applications .mainos .os{height:450px;color:#fff}#applications .mainos .os .osimage{left:auto;right:-10%;bottom:-15%;width:auto}#applications .mainos .os .osimage img{width:500px}#applications .mainos .os .data{left:10%;top:10%}#applications .mainos .os .icon{color:#fff}#applications .mainos .os .subcaption{display:none}#applications .mainos .os .downloadOsStyle{background:#ff4800;color:#fff;border-color:#ff4800}#applications .mainos .os .downloadOsStyle:hover{background:#ff4800;border-color:#ff4800}@media only screen and (max-width:768px){#applications .oss{grid-template-columns:1fr;grid-template-rows:auto auto auto auto auto}#applications .oss .os{height:600px;grid-column:span 1;grid-row:span 2}#applications .oss .os:nth-child(2){grid-column:span 1;grid-row:span 2}#applications .oss .os[osid='android'] .osimage,#applications .oss .os[osid='macos'] .osimage,#applications .oss .os[osid='windows'] .osimage,#applications .oss .os[osid='linux'] .osimage{left:0;bottom:-10%}#applications .oss .os[osid='android'] .osimage img,#applications .oss .os[osid='macos'] .osimage img,#applications .oss .os[osid='windows'] .osimage img,#applications .oss .os[osid='linux'] .osimage img{width:90%}#applications .mainos .os{height:750px;color:#fff}#applications .mainos .os .osimage{left:0;right:0;bottom:-5%;width:100%;text-align:center}#applications .mainos .os .osimage img{width:95%}#applications .mainos .os .data{left:10%;top:10%}#applications .mainos .os .icon{color:#fff}#applications .mainos .os .subcaption{display:none}#applications .mainos .os .downloadOsStyle{background:#ff4800;color:#fff;border-color:#ff4800}#applications .mainos .os .downloadOsStyle:hover{background:#ff4800;border-color:#ff4800}}
