@import "../../css/__cssvar";

#categories{

    color : @color-dark-mlight;

    .pocketcaption{
        /*.transition(0.3s);*/
        span{
            margin-right: 0;
            /*.transition(0.3s);*/
        }

        &:hover{

            color : @color-bright;
            
            span{
                
                margin-right: 20px;
            }
        }
    }

    .tcaptiontable{
        display : flex;
        justify-content: space-between;
        width : auto;

        .tcaption{
            padding-right: 2 * @rhythm;
        }

        .buttons{
            display: flex;
            padding-right: @rhythm;
            font-size: 0.8em;
            padding: @rhythm @rhythm * 2;

            >div{
                display: inline-block;

                &.ticon{
                    cursor: pointer;
                    text-align: center;
                    /*.transition(0.3s);*/

                    i{
                        font-size: 1em;
                    }
    
                }
    
                &.mlab{
                    opacity: 0.5;
                    padding-left: @rhythm * 2;
                    cursor: pointer;
                    /*.transition(0.3s);*/
    
                    span{
                        font-weight: 100;
                        font-size: 0.8em;
                    }
    
                    &:hover{
                        opacity: 1;
                        color : @color-bad;
                    }
                }

                &.addcategory{
                    &:hover{
                        color: @color-main;
                    }
                }
    
                &.clearcategories{
                    display: none;
    
                    &.showed{
                        display: table-cell;
                    }
                }
            }

            
        }
    }
    
    .tcaptionwrapper{
       
        padding-top : 2 * @rhythm;
        margin-bottom: @rhythm;
        border-top: 1px solid #E3E4EB;

        span{
            font-size : 0.8em;
            font-weight: 600;
        }

        i{
            font-size : 0.8em;
        }
    }

    .cat{
        /*.transition(0.3s);*/
        .cattable{
            width: 100%;
            


            >div{
                padding : @rhythm 2 * @rhythm;
                padding-left: 0;

                &.catvalue{
                    padding-right: 0;

                    i{
                        width: 17px;

                        &.fa-star{
                            color:#FFAE00
                        }
                    }

                    .catname{
                        margin-left: 13px;
                        font-size: 0.8em;
                    }
                }

                &.iconWrapper{
                    width : 2 * @rhythm;

                    i{
                        font-size: 0.6em;
                    }
                }

                &.catcount{
                    width : 90px;
                    text-align: right;
                    font-weight: 700;
                }

                &.catvalue{
                    /*.transition(0.3s);*/
                    cursor: pointer;
                    width: 80%;
                    &:hover{
                        color : @color-main;
                    }
                }

                &.catedit,
                &.catcheck{
                    /*.transition(0.3s);*/
                    padding : 0;
                    text-align: center;
                    width : 33px;
                    cursor: pointer;
                    opacity: 0.2;
                    i{
                        font-size: 0.8em;
                    }

                    
                    &:hover{
                        color : @color-main;
                    }
                }
                

                &.catedit{
                    width : 33px;
                    opacity: 0;
                }

                &.minus{
                    opacity: 0;
                    font-size: 0.8em;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    color: #555770;
    
                    i{
                        top: 0;
                        left: 0;
                    }
                }

                &.catedit{
                    position: relative;
                    right: 10px;

                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }

        &:hover{
            .cattable{
                >div{
                    &.catedit,
                    &.catcheck{
                        opacity: 1;
                    }

                    &.catedit,
                    &.minus{
                        opacity: 0.5;

                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }

    .tg{

        .selected{
            display: none;
        }
        &.selected{
            color : @color-blue-mlight;

            &.added{
                font-weight: 700;
            }

            .unselected{
                display: none;
            }

            .selected{
                display: inline-block;
            }

            .cat{
                .cattable{
                    >div{
                        &.catcheck{
                            opacity: 1;
                        }
                    }

                }
            }
        }

    }

    .ta{
        .tg{
            display: block;

            &.hdn{
                display: none;
            }

                   
        
            &.excluded{
                
                .catvalue{
                    color : #555770;
                    opacity: 0.5;
                    pointer-events: none;

                }

                .minus {
                    color: @color-bad;
                    opacity: 1!important;
                }
            }
        }
    }

    &.showedallcats{

        .showallcats{
            display: none;
        }
    
        .hideallcats{
            display: block;
        }

        .ta{
            .tg{
                display: block;
    
                &.hdn{
                    display: block;
                }
            }
        }

    }

    .hideallcats,
    .showallcats{
        padding : 2 * @rhythm;
        padding-left: 0;
        cursor: pointer;
        color : #8E90A6;

        /*.transition(0.3s);*/

        &:hover{
            opacity: 1;
            color : @color-main;
        }

        span, i{
            font-weight: 600;
            font-size: 0.8em;
        }

        .text{
            margin-left: @rhythm;
        }
    }

    .showallcats{
        display: block;
    }

    .hideallcats{
        display: none;
    }

}

.addcategorydialog{

    .removeWrapper{
        position: absolute;
        bottom : 2 * @rhythm;
        right: 0;
    }

    .header{
        padding-left: @rhythm;
    }

    .btn1{
            background: transparent;
            border-color: transparent;
            color : @color-gray;
            text-decoration: underline;
    
            &:hover{
                color : @color-main;
            }
    }

    .fieldwrapper,
    .namewrapper{
        padding : @rhythm 0;

        .label{
            padding : 0.5 * @rhythm 0;
            padding-left: @rhythm;
            span{
                font-size: 0.8em;
            }
        }

        .inputWrapper{
           
        }
    }

    .namewrapper{
        .inputWrapper{
            input{
                width: 100%;
                border : 0;
                .shadowSmall();
            }
        }
    }
}

html.stblack{
    #categories{
       
        .cat{
            color : #b2abac;
            &:hover{
                color : @color-main;
            }
        }
    
    
    
        .hideallcats,
        .showallcats{
    
            &:hover{
                color : @color-main;
            }
        }
    
    }   
    
    .addcategorydialog{

     
        .btn1{
            color : @color-gray-mlight;
    
            &:hover{
                color : @color-main;
            }
        }
    
        .fieldwrapper,
        .namewrapper{
            padding : @rhythm 0;
    
            .label{
                padding : 0.5 * @rhythm 0;
                padding-left: @rhythm;
                span{
                    font-size: 0.8em;
                }
            }
    
            .inputWrapper{
               
            }
        }
    
        input{
            background: @color-black3;
        }
    }

}


@media only screen and (max-width: 768px){

    #categories{

        .cat{
            .cattable{
                .catedit, .minus{
                    opacity: 1!important;
                }
            }
        }
    
    }

}