<div id="<%-module.map.id%>">

	<div class="work">

		<div class="cCaption">
			<span>Pocketnet Connection</span>
		</div>	
		
	</div>

	<div class="connection">

		<div class="proxypart empty">

			<div class="work">
				<div class="nodesCaptionTable table">
					<div class="ccell">
						<div class="nodesCaption">
							Pocketnet Proxy
						</div>	
					</div>
				</div>
			</div>

			<div class="proxyconnect">
				<div class="work">
					<div class="proxyselectwrapper">
						<div class="proxyselecttable table">
							<% if(ele) {%>

								<div class="usingwrapper">
									<div class="using usingproxy">
										<i class="far fa-circle"></i>
									</div>
								</div>

							<% } %>


							<div class="logswrapper">
								<a href="proxylogs">
									<div class="logs">
										<i class="fas fa-receipt"></i>
									</div>
								</a>
							</div>

							<div class="currentwr openproxielist">
								<span class="current"></span>
							</div>

							<div class="selector openproxielist">
								<i class="fas fa-chevron-down"></i>
							</div>
						</div>
					</div>
					
				</div>
			</div>


		</div>

		<div class="nodespart">

			<div class="work">
				<div class="nodesCaptionTable table">
					<div class="ccell">
						<div class="nodesCaption">
							Pocketnet Nodes
						</div>	
					</div>

					<% if(state) {%>
		
					<div class="ccell foradd">
						<div class="addnewNode">
							<span>
								<i class="fas fa-plus"></i> Add node
							</span>
						</div>
					</div>

					<% } %>
				</div>


			</div>

			<div class="tablecaption">
				<div class="work">
					<div class="node table caption">
						<div class="use"><i class="fas fa-circle"></i></div>
						<div class="hostport">Address</div>
						<div class="ws">ws</div>
						<div class="name">Name</div>
						<!--<div class="addedBy">Added by</div>-->
						<div class="status">Status</div>
						<div class="panel">
						
						</div>

					</div>

				</div>
			</div>

			<div class="list">
				
			</div>

			<div class="emptylist">
				<div class="work">
					<div class="table">
						<div class="cell">
							Nodes not found
						</div>
					</div>
					
				</div>
			</div>

			<div class="loading">
				<div class="work">
					<div class="preloaderwrapper">
						<div class="preloader5"><span></span><span></span><span></span></div>
					</div>
				</div>
			</div>

		</div>
		
	</div>

	<div class="preloaderabs">
		<div class="table">
			<div>
				<div class="preloaderwrapper">
					<div class="preloader5"><span></span><span></span><span></span></div>
				</div>
			</div>
		</div>
	</div>
</div>