
<div class="calc">
    <div class="calcCaption">
					
        <span>Staking Calculator - calculate how much you earn by putting Pocketcoin (PKOIN) into a node.</span>
    </div>
    
    
    <div class="numbers">
        <div class="inputWrapper ihave">
            <div>
                <span>I have</span>
                <span class="amredits" contenteditable="true"><%= app.platform.mp.coin(amount) %></span> 
                <span>PKOIN</span>
            </div>
        </div>
    
    
        <div class="totalNumbers inputWrapper">
    
        
            <div class="totalRow">
                <div class="label"><span>6 Months</span></div>
                <div class="value"><span class="blv" item="6m">0</span></div>
                <div class="value"><span class="cur">PKOIN</span></div>
            </div>
    
            <div class="totalRow">
                <div class="label"><span>1 Year</span></div>
                <div class="value"><span class="blv" item="1y">0</span></div>
                <div class="value"><span class="cur">PKOIN</span></div>
            </div>
        </div>
    
    
    </div>
</div>
