<div id="<%-module.map.id%>"> 
    <div class="container">
      <div class="header">
        <h2 class="header__title yellow">
          Help support decentralization, fight corporate censorship and earn Pocketcoin at the same time. 
        </h2>
        <p class="header__subtitle">
          What is Pocketcoin? Pocketcoin is a cryptocurrency that powers the decentralized social platform Bastyon.com. It is used to reward content creators, to boost posts and comments, to pay for ads and to unlock special features on Bastyon. 
        </p>
        <p class="header__subtitle">
          What is a  node?  A node is a computer owned by any user of Bastyon that supports the network and earns Pocketcoin. Your computer can be one of those nodes, assuming you have at least 50 GB of free SSD space and a decent internet connection.  <br><br> Your node will verify all of the activities that happen on the Bastyon network. In exchange for that, you will earn Pocketcoin. Node has to lock some Pocketcoin in it to earn more Pocketcoin. That is called staking in cryptocurency. 
        </p>
    </div>
   <!-- <div class="video">
        <div class="video__container">
            <h3>Lorem ipsum dolor sit amet.</h3>
            
            <iframe
                class="video__content"
                src="https://player.vimeo.com/video/456070820?title=0&byline=0&portrait=0"
                width="100%"
                height="100%"
                frameborder="0"
                title=""
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
            >
            </iframe>
        </div>
        
      </div>-->
      <div class="calcWrapper">

      </div>
    </div>

    <div class="actionWrapper">
      <span class="button medium start">
        Download Windows Desktop Node
      </span>
    </div>

    <div class="faqWrapper"></div>
    
    

</div>

