<div id="<%-module.map.id%>"> 

    <div class="container">
      <div class="header">
        <h2 class="header__title yellow">
          <%-e('easyNode_e2000') %>
          <span> <%-e('easyNode_e2000_1') %> </span>  
          <%-e('easyNode_e2000_2') %>      
        </h2>
        <p class="header__subtitle">
          <%-e('easyNode_e2001') %>
        </p>
        <p class="header__subtitle">
          <%-e('easyNode_e2002') %> 
          <span><%-e('easyNode_e2002_1') %></span>
          <%-e('easyNode_e2002_2') %>
          <span><%-e('easyNode_e2002_2_1') %></span>
          <%-e('easyNode_e2002_2_2') %>
        </p>
    </div>
   <!-- <div class="video">
        <div class="video__container">
            <h3>Lorem ipsum dolor sit amet.</h3>
            
            <iframe
                class="video__content"
                src="https://player.vimeo.com/video/456070820?title=0&byline=0&portrait=0"
                width="100%"
                height="100%"
                frameborder="0"
                title=""
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
            >
            </iframe>
        </div>
        
      </div>-->

     
    </div>

    <div class="sectioncnt">
      <div class="lenta">
        <div class="loader">
          <div class="work">
            <div class="preloader5"><img src="./img/three-dots.svg"/></div>
          </div>
        </div>
      </div>
    </div>

    <div class="calcWrapper">
    </div>

    <div class="actionWrapper">
      <span class="button medium start">
        <%-e('downloadNode') %>
      </span>
    </div>

    <div class="faqWrapper"></div>

    <div class="actionWrapper">
      <span class="button medium start">
        <%-e('downloadNode') %>
      </span>
    </div>
    

</div>

