#earnings .monetizationEnablePreview {
  text-align: center;
  padding: 2em;
  margin-bottom: 2em;
}
#earnings .monetizationEnablePreview .monetizationCaption span {
  font-size: 2em;
}
#earnings .monetizationEnablePreview .monetizationAction {
  margin-top: 1em;
}
#earnings .monetization {
  margin-top: 1em;
  margin-bottom: 2em;
}
#earnings .monetization .monetizationCaption {
  padding-left: 0.5em;
}
#earnings .monetization .monetizationCaption span {
  font-size: 2em;
}
#earnings .monetization .monetizationPanel .work {
  display: flex;
  align-items: center;
}
#earnings .monetization .disableMonetization {
  margin-left: auto;
  cursor: pointer;
}
#earnings .monetization .disableMonetization span {
  font-size: 0.8em;
  color: rgb(var(--neutral-grad-3));
}
#earnings .monetization .disableMonetization:hover span {
  color: rgb(var(--color-bad));
}
#earnings .monetization .year {
  padding-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#earnings .monetization .year span {
  font-size: 2em;
  font-weight: 700;
}
#earnings .monetization .year i {
  margin-bottom: 6px;
  width: 33px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#earnings .monetization .year i:hover {
  color: rgb(var(--neutral-grad-4));
}
#earnings .monetization .error,
#earnings .monetization .startof {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
  background: rgba(var(--background-main), 0.5);
}
#earnings .monetization .error {
  margin-left: 1em;
  margin-right: 1em;
}
#earnings .monetization .monetizationTable {
  position: relative;
}
#earnings .monetization .monetizationTable .tableCaption {
  border-bottom: 1px solid rgb(var(--neutral-grad-0));
  z-index: 2;
  position: sticky;
  top: calc(65px + var(--app-margin-top));
  left: 0;
  right: 0;
}
#earnings .monetization .monetizationTable .tableCaption > div span {
  font-size: 0.8em;
  font-weight: 700;
}
#earnings .monetization .monetizationTable .totalWrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#earnings .monetization .monetizationTable .tableTotal {
  border-top: 2px solid rgb(var(--neutral-grad-3));
}
#earnings .monetization .monetizationTable .tableTotal .reward span {
  font-weight: 700;
  color: rgb(var(--color-txt-ac-1));
}
#earnings .monetization .monetizationTable .postsTable .sharepreview {
  padding-top: 0;
  font-size: 1.1em;
}
#earnings .monetization .monetizationTable .beforeprogram {
  color: rgb(var(--neutral-grad-2));
}
#earnings .monetization .monetizationTable .postsTable,
#earnings .monetization .monetizationTable .weeks {
  display: none;
}
#earnings .monetization .monetizationTable .month.expanded .weeks {
  display: block;
}
#earnings .monetization .monetizationTable .week.expanded .postsTable {
  display: block;
}
#earnings .monetization .monetizationTable .expanded > div > div > i.expandicon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#earnings .monetization .monetizationTable .table {
  background: rgb(var(--background-total-theme));
}
#earnings .monetization .monetizationTable .table:nth-child(2n) {
  background: rgba(var(--neutral-grad-0), 0.3);
}
#earnings .monetization .monetizationTable .table.monthTable {
  border-bottom: 1px solid rgba(var(--neutral-grad-0), 0.3);
}
#earnings .monetization .monetizationTable .table.canexpand {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#earnings .monetization .monetizationTable .table.canexpand:hover {
  opacity: 0.8;
}
#earnings .monetization .monetizationTable .table.canexpand:hover > div i.expandicon {
  color: rgb(var(--neutral-grad-4));
}
#earnings .monetization .monetizationTable .table .period {
  width: 50%;
}
#earnings .monetization .monetizationTable .table .reward {
  width: 100px;
}
#earnings .monetization .monetizationTable .table > div {
  padding: 1em 0.5em;
  border-right: 1px solid rgb(var(--neutral-grad-0));
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#earnings .monetization .monetizationTable .table > div i {
  width: 33px;
  text-align: center;
  color: rgb(var(--neutral-grad-2));
}
#earnings .monetization .monetizationTable .table > div:nth-child(1) {
  text-align: left;
}
#earnings .monetization .monetizationTable .table > div:nth-last-child(1) {
  border-right: 0;
  text-align: right;
}
#earnings .monetization .monetizationTable .table .openpostsmonth,
#earnings .monetization .monetizationTable .table .openpostsweek {
  width: auto;
  cursor: pointer;
  font-size: 0.7em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#earnings .monetization .monetizationTable .table .openpostsmonth:hover,
#earnings .monetization .monetizationTable .table .openpostsweek:hover {
  color: rgb(var(--neutral-grad-4));
}
#earnings .earnings {
  background: rgb(var(--background-secondary-theme));
  min-height: 600px;
  overflow: hidden;
  position: relative;
  padding: 2em 1.5em;
}
#earnings .earnings .caption {
  max-width: 700px;
  font-size: 2em;
  font-weight: 100;
  padding: 0.5em;
}
#earnings .earnings .content {
  margin-top: 2em;
}
#earnings .earnings .content .tttlforerror {
  position: absolute;
  font-size: 0.8em;
  font-weight: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--background-secondary-theme), 0.95);
  display: none;
}
#earnings .earnings .content .tttlforerror.active {
  display: block;
}
#earnings .earnings .content .tttlforerror .table > div {
  vertical-align: middle;
  text-align: center;
  color: rgb(var(--neutral-grad-4));
}
#earnings .earnings .content .totalItem {
  padding: 0 1em;
  padding-bottom: 0.5em;
  float: left;
  width: 33%;
}
#earnings .earnings .content .totalItem .metricablockwrapper {
  width: 100%;
  float: left;
  padding-bottom: 0.1em;
  padding-right: 0.1em;
}
#earnings .earnings .content .totalItem .metricablock {
  color: #3c4146;
  cursor: pointer;
}
#earnings .earnings .content .totalItem .metricablock .blockWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
#earnings .earnings .content .totalItem .metricablock .blockContentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background: rgba(var(--neutral-grad-2), 0.2);
  color: rgb(var(--color-txt-gray-dark));
  border-radius: 12px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#earnings .earnings .content .totalItem .metricablock .blockContentWrapper.forchart {
  background: transparent;
}
#earnings .earnings .content .totalItem .metricablock .blockContent {
  position: relative;
  width: 100%;
  height: 100%;
}
#earnings .earnings .content .totalItem .metricablock .vidgetNameWrapper {
  position: absolute;
  left: 0.2em;
  top: 0.2em;
}
#earnings .earnings .content .totalItem .metricablock .vidgetNameWrapper span {
  font-size: 0.9em;
}
#earnings .earnings .content .totalItem .metricablock .vidgetNameWrapperTable > div {
  vertical-align: middle;
}
#earnings .earnings .content .totalItem .metricablock .vidgetNameWrapperTable > div.cellright {
  text-align: right;
}
#earnings .earnings .content .totalItem .metricablock .vidgetcaption {
  font-size: 0.6em;
  font-weight: 700;
}
#earnings .earnings .content .totalItem .metricablock .preloaderGift {
  display: none;
}
#earnings .earnings .content .totalItem .metricablock .preloaderGift .preloader5 span {
  vertical-align: bottom;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper {
  position: absolute;
  width: 66%;
  height: 66%;
  top: 50%;
  left: 50%;
  margin-left: -33%;
  margin-top: -33%;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon {
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: rgb(var(--color-txt-gray-dark));
  font-size: 1.5em;
  font-weight: 100;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .table > div {
  vertical-align: middle;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .small {
  font-size: 0.75em;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .repd {
  font-size: 0.8em;
}
#earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .repv {
  font-size: 1.1em;
}
#earnings .earnings .content .totalItem .metricablock.bad .vidgetIconWrapper .vidgetIcon {
  color: rgb(var(--color-bad));
}
#earnings .earnings .content .totalItem .metricablock .vidgetAboutWrapper {
  position: absolute;
  left: 215px;
  height: 210px;
  top: 0;
  color: rgba(var(--neutral-grad-2), 0.95);
  padding: 1em;
  width: 2000px;
  z-index: 10;
  color: #000;
  display: none;
  z-index: 100;
}
#earnings .earnings .content .totalItem .metricablock:hover .vidgetIconWrapper .vidgetIcon {
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#earnings .earnings .content .balance .balanceWrapper {
  font-size: 1.6em;
  color: rgb(var(--color-txt-gray));
}
#earnings .earnings .content .balance .balanceWrapper .table {
  margin: 0 auto;
}
#earnings .earnings .content .summary {
  margin-top: 0.5em;
}
#earnings .earnings .content .summary .line {
  width: 100%;
  height: 2px;
}
#earnings .earnings .content .summary .line > div {
  float: left;
  height: 100%;
}
#earnings .earnings .content .summary .line .positive {
  background: rgb(var(--color-good));
}
#earnings .earnings .content .summary .line .negative {
  background: rgb(var(--color-bad));
}
#earnings .earnings .content .summary .numbers > div {
  width: 50%;
  float: left;
  height: 100%;
}
#earnings .earnings .content .summary .numbers > div span {
  font-size: 0.8em;
}
#earnings .earnings .content .summary .numbers .positive {
  color: rgb(var(--color-good));
}
#earnings .earnings .content .summary .numbers .negative {
  color: rgb(var(--color-bad));
  text-align: right;
}
#earnings .earnings .content .label {
  padding: 0.5em 0;
}
#earnings .earnings .content .label span {
  font-size: 0.7em;
  font-weight: 700;
}
.wnd #earnings .monetization .monetizationTable .tableCaption {
  position: static;
}
.wnd #earnings .monetization .monetizationTable .totalWrapper {
  position: static;
}
/*t*/
@media only screen and (max-width: 1024px) {
  #earnings .earnings .content .totalItem .metricablock .vidgetIconWrapper .vidgetIcon .repv {
    font-size: 0.8em;
  }
}
/*t*/
@media only screen and (max-width: 768px) {
  #earnings {
    min-height: none;
  }
  #earnings .monetization .disableMonetization {
    margin-right: 0.5em;
  }
  #earnings .monetization .monetizationTable .table .period {
    width: 40%;
  }
  #earnings .monetization .monetizationTable .table .reward {
    width: 80px;
  }
  #earnings .earnings {
    background: rgb(var(--background-secondary-theme));
    padding: 0;
    overflow: hidden;
  }
  #earnings .earnings .content .totalItem {
    padding: 0 1em;
    padding-bottom: 0.5em;
    float: left;
    width: 100%;
  }
  #earnings .earnings .content .totalItem .metricablockwrapper {
    float: right;
  }
  #earnings .earnings .content .totalItem .metricablockwrapper .metricablock .vidgetIconWrapper .vidgetIcon .repv {
    font-size: 1.3em;
  }
  #earnings .buypkoin {
    padding: 0.5em;
  }
  #earnings .buypkoin .ways {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #earnings .buypkoin .ways > div {
    flex-shrink: 1;
    flex-basis: content;
    flex-grow: 1;
    padding-bottom: 3em;
  }
  #earnings .buypkoin .row {
    padding: 0;
  }
  #earnings .buypkoin .row .button {
    min-width: 310px;
  }
  #earnings .buypkoin .row.flx {
    justify-content: center;
  }
  #earnings .buypkoin .row.flx > div {
    width: 12.5%;
    padding: 0.5em 0.5em;
    text-align: center;
  }
  #earnings .buypkoin .row.forfiats {
    justify-content: center;
  }
  #earnings .buypkoin .row.forfiats > div {
    width: 25%;
  }
  #earnings .buypkoin .row.one {
    display: block;
    padding: 0.5em 0;
    margin-bottom: 1.5em;
  }
  #earnings .buypkoin .row.one .wrp {
    padding: 2em 1em;
  }
  #earnings .buypkoin .row.one .flxbtn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  #earnings .buypkoin .row.one .flxbtn div {
    margin-right: 0;
  }
  #earnings .buypkoin .row.one .flxbtnlbk {
    margin-top: 1em;
  }
  #earnings .buypkoin .row.table {
    display: block;
    text-align: center;
  }
  #earnings .buypkoin .row.table > div {
    display: block;
  }
  #earnings .buypkoin .row.table .reciever {
    margin: 0 auto;
  }
  #earnings .htls,
  #earnings .crowdfunding,
  #earnings .deposit,
  #earnings .send {
    border: 0;
  }
  #earnings .htls .linkForDepositReady,
  #earnings .crowdfunding .linkForDepositReady,
  #earnings .deposit .linkForDepositReady,
  #earnings .send .linkForDepositReady,
  #earnings .htls .linkForDeposit,
  #earnings .crowdfunding .linkForDeposit,
  #earnings .deposit .linkForDeposit,
  #earnings .send .linkForDeposit,
  #earnings .htls .addressForDeposit,
  #earnings .crowdfunding .addressForDeposit,
  #earnings .deposit .addressForDeposit,
  #earnings .send .addressForDeposit,
  #earnings .htls .action,
  #earnings .crowdfunding .action,
  #earnings .deposit .action,
  #earnings .send .action {
    margin-top: 0.5em;
    padding: 0.5em 0;
  }
  #earnings .htls .linkparams,
  #earnings .crowdfunding .linkparams,
  #earnings .deposit .linkparams,
  #earnings .send .linkparams {
    padding: 1em 0;
  }
  #earnings .htls .linkparams .value,
  #earnings .crowdfunding .linkparams .value,
  #earnings .deposit .linkparams .value,
  #earnings .send .linkparams .value {
    font-size: 0.9em;
  }
  #earnings .htls button,
  #earnings .crowdfunding button,
  #earnings .deposit button,
  #earnings .send button {
    min-width: 0;
    width: 100%;
    max-width: none!important;
  }
  #earnings .htls .row,
  #earnings .crowdfunding .row,
  #earnings .deposit .row,
  #earnings .send .row {
    display: block;
  }
  #earnings .htls .row > div,
  #earnings .crowdfunding .row > div,
  #earnings .deposit .row > div,
  #earnings .send .row > div {
    display: block;
    width: 100%;
  }
  #earnings .htls .row > div.changer,
  #earnings .crowdfunding .row > div.changer,
  #earnings .deposit .row > div.changer,
  #earnings .send .row > div.changer {
    display: none;
  }
  #earnings .htls .row > div.address,
  #earnings .crowdfunding .row > div.address,
  #earnings .deposit .row > div.address,
  #earnings .send .row > div.address {
    width: 100%;
  }
  #earnings .htls .row > div.label,
  #earnings .crowdfunding .row > div.label,
  #earnings .deposit .row > div.label,
  #earnings .send .row > div.label {
    width: 100%;
  }
  #earnings .crowdfunding {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #earnings .deposit {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #earnings .deposit .qrcoderesult .imageqr {
    width: 225px;
    height: 225px;
    margin: 0 auto;
  }
  #earnings .deposit .depositaddress .adrwrapper {
    padding: 1em 0;
  }
  #earnings .deposit .depositaddress .adrwrapper .adr {
    font-size: 0.9em;
  }
  #earnings .deposit .actionbody textarea {
    padding: 0.5em;
    height: 150px;
  }
  #earnings .deposit .actionbody button {
    width: 100%;
    min-width: 0;
  }
  #earnings .addresses .addressesGroupCaption {
    padding: 0.5em;
  }
  #earnings .addresses .adressesTable {
    border-bottom: 1px solid rgb(var(--color-medium-theme));
    padding: 0 0.5em;
  }
  #earnings .addresses .adressesTable > div {
    vertical-align: top;
    padding: 1.5em 0;
  }
  #earnings .addresses .adressesTable > div.name {
    padding-left: 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #earnings .addresses .adressesTable > div.panel {
    display: none;
  }
  #earnings .addresses .adressesTable > div.balance {
    padding-left: 1em;
    width: 31%;
    font-weight: 700;
  }
  #earnings .addresses .adressesTable > div.percent {
    font-weight: 700;
    width: 22%;
  }
  #earnings .addresses .adressesTable > div a {
    display: none;
  }
  #earnings .addresses .adressesTable > div:nth-last-child(1) {
    padding-right: 0;
  }
}
