#earnings .earnings {
  background: rgb(var(--background-secondary-theme));
  min-height: 600px;
  overflow: hidden;
  position: relative;
  padding: 2em 1.5em;
}
#earnings .earnings .caption {
  max-width: 700px;
  font-size: 2em;
  font-weight: 100;
  padding-left: 1.5em;
}
#earnings .earnings .content {
  margin-top: 1.5em;
}
#earnings .earnings .content .tttlforerror {
  position: absolute;
  font-size: 0.8em;
  font-weight: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--background-secondary-theme), 0.95);
  display: none;
}
#earnings .earnings .content .tttlforerror.active {
  display: block;
}
#earnings .earnings .content .tttlforerror .table > div {
  vertical-align: middle;
  text-align: center;
  color: rgb(var(--neutral-grad-4));
}
#earnings .earnings .content .totalItem {
  padding: 0 1em;
  padding-bottom: 0.5em;
  float: left;
  width: 33%;
}
#earnings .earnings .content .totalItem .canvasWrapper {
  width: 100%;
  position: relative;
}
#earnings .earnings .content .totalItem .canvasWrapper canvas {
  width: 100%;
  height: 100%;
}
#earnings .earnings .content .totalItem .canvasWrapper .infoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#earnings .earnings .content .totalItem .canvasWrapper .infoWrapperTable > div {
  vertical-align: middle;
  text-align: center;
  padding: 1.5em;
}
#earnings .earnings .content .balance .balanceWrapper {
  font-size: 1.6em;
  color: rgb(var(--color-txt-gray));
}
#earnings .earnings .content .balance .balanceWrapper .table {
  margin: 0 auto;
}
#earnings .earnings .content .summary {
  margin-top: 0.5em;
}
#earnings .earnings .content .summary .line {
  width: 100%;
  height: 2px;
}
#earnings .earnings .content .summary .line > div {
  float: left;
  height: 100%;
}
#earnings .earnings .content .summary .line .positive {
  background: rgb(var(--color-good));
}
#earnings .earnings .content .summary .line .negative {
  background: rgb(var(--color-bad));
}
#earnings .earnings .content .summary .numbers > div {
  width: 50%;
  float: left;
  height: 100%;
}
#earnings .earnings .content .summary .numbers > div span {
  font-size: 0.8em;
}
#earnings .earnings .content .summary .numbers .positive {
  color: rgb(var(--color-good));
}
#earnings .earnings .content .summary .numbers .negative {
  color: rgb(var(--color-bad));
  text-align: right;
}
#earnings .earnings .content .label {
  padding: 0.5em 0;
}
#earnings .earnings .content .label span {
  font-size: 0.7em;
  font-weight: 700;
}
/*t*/
@media only screen and (max-width: 768px) {
  #earnings {
    min-height: none;
  }
  #earnings .earnings {
    background: rgb(var(--background-secondary-theme));
    padding: 0;
    overflow: hidden;
  }
  #earnings .earnings .content .totalItem {
    padding: 0 1em;
    padding-bottom: 0.5em;
    float: left;
    width: 100%;
  }
  #earnings .earnings .content .totalItem .canvasWrapper {
    width: 100%;
    position: relative;
  }
  #earnings .earnings .content .totalItem .canvasWrapper canvas {
    width: 100%;
    height: 100%;
  }
  #earnings .earnings .content .totalItem .canvasWrapper .infoWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #earnings .earnings .content .totalItem .canvasWrapper .infoWrapperTable > div {
    vertical-align: middle;
    text-align: center;
    padding: 1.5em;
  }
  #earnings .buypkoin {
    padding: 0.5em;
  }
  #earnings .buypkoin .ways {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #earnings .buypkoin .ways > div {
    flex-shrink: 1;
    flex-basis: content;
    flex-grow: 1;
    padding-bottom: 3em;
  }
  #earnings .buypkoin .row {
    padding: 0;
  }
  #earnings .buypkoin .row .button {
    min-width: 310px;
  }
  #earnings .buypkoin .row.flx {
    justify-content: center;
  }
  #earnings .buypkoin .row.flx > div {
    width: 12.5%;
    padding: 0.5em 0.5em;
    text-align: center;
  }
  #earnings .buypkoin .row.forfiats {
    justify-content: center;
  }
  #earnings .buypkoin .row.forfiats > div {
    width: 25%;
  }
  #earnings .buypkoin .row.one {
    display: block;
    padding: 0.5em 0;
    margin-bottom: 1.5em;
  }
  #earnings .buypkoin .row.one .wrp {
    padding: 2em 1em;
  }
  #earnings .buypkoin .row.one .flxbtn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  #earnings .buypkoin .row.one .flxbtn div {
    margin-right: 0;
  }
  #earnings .buypkoin .row.one .flxbtnlbk {
    margin-top: 1em;
  }
  #earnings .buypkoin .row.table {
    display: block;
    text-align: center;
  }
  #earnings .buypkoin .row.table > div {
    display: block;
  }
  #earnings .buypkoin .row.table .reciever {
    margin: 0 auto;
  }
  #earnings .htls,
  #earnings .crowdfunding,
  #earnings .deposit,
  #earnings .send {
    border: 0;
  }
  #earnings .htls .linkForDepositReady,
  #earnings .crowdfunding .linkForDepositReady,
  #earnings .deposit .linkForDepositReady,
  #earnings .send .linkForDepositReady,
  #earnings .htls .linkForDeposit,
  #earnings .crowdfunding .linkForDeposit,
  #earnings .deposit .linkForDeposit,
  #earnings .send .linkForDeposit,
  #earnings .htls .addressForDeposit,
  #earnings .crowdfunding .addressForDeposit,
  #earnings .deposit .addressForDeposit,
  #earnings .send .addressForDeposit,
  #earnings .htls .action,
  #earnings .crowdfunding .action,
  #earnings .deposit .action,
  #earnings .send .action {
    margin-top: 0.5em;
    padding: 0.5em 0;
  }
  #earnings .htls .linkparams,
  #earnings .crowdfunding .linkparams,
  #earnings .deposit .linkparams,
  #earnings .send .linkparams {
    padding: 1em 0;
  }
  #earnings .htls .linkparams .value,
  #earnings .crowdfunding .linkparams .value,
  #earnings .deposit .linkparams .value,
  #earnings .send .linkparams .value {
    font-size: 0.9em;
  }
  #earnings .htls button,
  #earnings .crowdfunding button,
  #earnings .deposit button,
  #earnings .send button {
    min-width: 0;
    width: 100%;
    max-width: none!important;
  }
  #earnings .htls .row,
  #earnings .crowdfunding .row,
  #earnings .deposit .row,
  #earnings .send .row {
    display: block;
  }
  #earnings .htls .row > div,
  #earnings .crowdfunding .row > div,
  #earnings .deposit .row > div,
  #earnings .send .row > div {
    display: block;
    width: 100%;
  }
  #earnings .htls .row > div.changer,
  #earnings .crowdfunding .row > div.changer,
  #earnings .deposit .row > div.changer,
  #earnings .send .row > div.changer {
    display: none;
  }
  #earnings .htls .row > div.address,
  #earnings .crowdfunding .row > div.address,
  #earnings .deposit .row > div.address,
  #earnings .send .row > div.address {
    width: 100%;
  }
  #earnings .htls .row > div.label,
  #earnings .crowdfunding .row > div.label,
  #earnings .deposit .row > div.label,
  #earnings .send .row > div.label {
    width: 100%;
  }
  #earnings .crowdfunding {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #earnings .deposit {
    border: 0;
    background: rgb(var(--background-secondary-theme));
  }
  #earnings .deposit .qrcoderesult .imageqr {
    width: 225px;
    height: 225px;
    margin: 0 auto;
  }
  #earnings .deposit .depositaddress .adrwrapper {
    padding: 1em 0;
  }
  #earnings .deposit .depositaddress .adrwrapper .adr {
    font-size: 0.9em;
  }
  #earnings .deposit .actionbody textarea {
    padding: 0.5em;
    height: 150px;
  }
  #earnings .deposit .actionbody button {
    width: 100%;
    min-width: 0;
  }
  #earnings .addresses .addressesGroupCaption {
    padding: 0.5em;
  }
  #earnings .addresses .adressesTable {
    border-bottom: 1px solid rgb(var(--color-medium-theme));
    padding: 0 0.5em;
  }
  #earnings .addresses .adressesTable > div {
    vertical-align: top;
    padding: 1.5em 0;
  }
  #earnings .addresses .adressesTable > div.name {
    padding-left: 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #earnings .addresses .adressesTable > div.panel {
    display: none;
  }
  #earnings .addresses .adressesTable > div.balance {
    padding-left: 1em;
    width: 31%;
    font-weight: 700;
  }
  #earnings .addresses .adressesTable > div.percent {
    font-weight: 700;
    width: 22%;
  }
  #earnings .addresses .adressesTable > div a {
    display: none;
  }
  #earnings .addresses .adressesTable > div:nth-last-child(1) {
    padding-right: 0;
  }
}
