<div class="captionRow">
    <div class="back iconwrapper">
        <a href="home">
            <div class="icon">
                <i class="fas fa-chevron-left"></i>
            </div>
        </a>
    </div>
    <div class="caption">
        <span><%-application.manifest.name%></span>
    </div>
    <div class="settings iconwrapper">
        <div class="icon">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="iframewrapper">
    <iframe src="about:blank" sandbox="allow-scripts allow-same-origin"></iframe>
    <div class="loadingIcon">
        <div class="appicon" image="<%-application.icon%>">
        </div>
    </div>
</div>