<%

var m = [];

var all = {

	settings : {
		icon : '<i class="fas fa-cog"></i>',
		text : e('application_settings'),
		class : 'settings'
	},

	reviews : {
		icon : '<i class="fas fa-star"></i>',
		text : e('reviewsAndRatingsMenu'),
		class : 'reviews'
	},

	close : {
		icon : '<i class="fas fa-times"></i>',
		text : e('application_close'),
		class : 'close'
	}

}

if(application && application.manifest){
	m.push('settings')
	m.push('reviews')
}

m.push('close')

%>

<div class="sharepostmenu">

	<% 
    
    _.each(m, function(m){ 
        var mo = all[m] 
        
    %>

	<div class="menuitem <%-mo.class||''%> table">
		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>
	</div>
		
	<% }) %>

</div>