#staking .pcoin {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  opacity: 0.6;
}
#staking .pcoin span {
  font-size: 1.5em;
}
#staking .numbers .inputWrapper {
  padding: 1em;
}
#staking .numbers .amredits {
  background: #ffee00;
  padding: 0.25em 0.5em;
  border: 1px solid #ff0090;
  border-radius: 10px;
  outline: none;
}
#staking .numbers .ihave {
  font-weight: 700;
}
#staking .totalNumbers {
  background: rgba(178, 171, 172, 0.1);
  padding: 1.5em 0;
  overflow: hidden;
}
#staking .totalNumbers .totalRow {
  float: left;
  width: 50%;
}
#staking .totalNumbers .totalRow .label span {
  font-size: 0.8em;
  font-weight: 700;
}
#staking .totalNumbers .totalRow .value span {
  font-size: 2.2em;
  font-weight: 100;
}
#staking .totalNumbers .totalRow .value span.cur {
  font-weight: 300;
  font-size: 0.8em;
}
#staking .calculator {
  position: relative;
}
#staking .chwr {
  position: absolute;
  right: 0.5em;
  top: 1em;
}
#staking .rcptwrp {
  background: #fff;
  position: relative;
}
#staking .earnlabel {
  padding: 0.75em 1em;
  font-weight: 700;
  color: #ff4800;
  cursor: pointer;
}
#staking .earnlabel span {
  font-size: 0.8em;
}
#staking .calcCaption {
  padding: 0.75em 1em;
  font-weight: 700;
  color: #00A3F7;
}
#staking .calcCaption span {
  font-size: 0.8em;
}
#staking .buycoin {
  padding: 0 1em;
}
#staking .buycoin button {
  border-radius: 20px;
  background: #ff0090;
  border-color: #ff0090;
  font-size: 0.55em;
}
#staking .buycoin button:hover {
  color: #fff;
  background: #b70067;
  border-color: #b70067;
}
#staking .tcaptionwrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4ddde;
}
#staking .tcaptionwrapper .vc_valuecustom {
  width: 75px;
  font-size: 0.8em;
  font-weight: 500;
}
#staking .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_iconWrapper,
#staking .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#staking .tcaption {
  flex-grow: 2;
  font-weight: 100;
  padding: 1em;
}
#staking .tcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#staking .commoncaption {
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
#staking .lastpriceCnt {
  text-align: center;
  padding: 0.5em 1em;
  color: #0e1c2b;
  min-height: 140px;
}
#staking .lastpriceCnt .chart {
  width: 70px;
}
#staking .lastpriceCnt .lastprice {
  font-size: 3.5em;
  font-weight: 700;
}
#staking .lastpriceCnt .currency {
  flex-grow: 2;
  font-size: 0.8em;
  text-align: left;
}
#staking .lastpriceCnt .lastpriceWrapper {
  display: flex;
  align-items: baseline;
  /*justify-content : center;*/
}
#staking .lastpriceCnt .lastpriceWrapper.cb {
  padding-top: 1em;
  text-align: left;
}
#staking .lastpriceCnt .lastpriceWrapper.cb .change {
  padding-left: 0;
}
#staking .lastpriceCnt .lastpriceWrapper.bc .lastprice {
  font-size: 2em;
  font-weight: 700;
}
#staking .lastpriceCnt .change {
  flex-grow: 2;
  padding-left: 1em;
  word-break: keep-all;
  white-space: nowrap;
}
#staking .lastpriceCnt .change span {
  font-weight: 500;
  background: rgba(0, 0, 0, 0.2);
}
#staking .lastpriceCnt .change i {
  color: #000;
}
#staking .lastpriceCnt .change.bad span {
  background: rgba(244, 26, 77, 0.2);
}
#staking .lastpriceCnt .change.bad i {
  color: #F41A4D;
}
#staking .lastpriceCnt .change.good span {
  background: rgba(7, 108, 52, 0.2);
}
#staking .lastpriceCnt .change.good i {
  color: #076C34;
}
html.stblack #staking .lastpriceCnt {
  color: #e4ddde;
}
html.stblack #staking .lastpriceCnt .change span {
  background: rgba(0, 0, 0, 0.4);
}
html.stblack #staking .lastpriceCnt .change.bad span {
  background: rgba(244, 26, 77, 0.4);
}
html.stblack #staking .lastpriceCnt .change.good span {
  background: rgba(7, 108, 52, 0.4);
}
html.stblack #staking .rcptwrp {
  background: #0a0c17;
}
html.stblack #staking .tcaption {
  border-bottom: 1px solid rgba(74, 198, 249, 0.4);
}
@media only screen and (max-width: 768px) {
  #staking .pcoin span {
    font-size: 1.5em;
  }
  #staking .numbers .ihave {
    padding: 2em 1em;
  }
  #staking .totalNumbers .totalRow .label span {
    font-size: 1em;
  }
  #staking .totalNumbers .totalRow .value span {
    font-size: 2.2em;
  }
  #staking .totalNumbers .totalRow .value span.cur {
    font-size: 0.9em;
  }
  #staking .earnlabel {
    padding: 2em 1em;
  }
  #staking .earnlabel span {
    font-size: 0.9em;
  }
  #staking .calcCaption {
    padding: 2em 1em;
    padding-bottom: 1em;
  }
  #staking .calcCaption span {
    font-size: 0.9em;
  }
  #staking .buycoin button {
    font-size: 0.8em !important;
  }
  #staking .tcaptionwrapper {
    padding-right: 0.5em;
  }
  #staking .tcaptionwrapper .vc_valuecustom {
    font-size: 0.9em;
  }
  #staking .tcaption span {
    font-size: 0.9em;
  }
  #staking .commoncaption {
    font-size: 0.9em;
  }
  #staking .lastpriceCnt .lastprice {
    font-size: 3.5em;
  }
  #staking .lastpriceCnt .currency {
    font-size: 0.8em;
  }
}
