#staking .wrp.hide .tcaptionwrapper {
  display: none;
}
#staking .wrp.hide .change .percent {
  background: transparent!important;
}
#staking .wrp.hide .change.bad .percent {
  color: rgb(var(--color-bad));
}
#staking .wrp.hide .change.good .percent {
  color: rgb(var(--color-good));
}
#staking .wrp.hide .lastpriceCnt .logo,
#staking .wrp.hide .lastpriceCnt .caret {
  display: block;
}
#staking .wrp.hide .lastpriceCnt .chwr {
  right: 2.5em;
}
#staking .wrp.hide .lastpriceCnt .lastprice,
#staking .wrp.hide .lastpriceCnt .change .percent {
  font-size: 12px;
}
#staking .wrp.hide .lastpriceCnt .lastprice {
  margin-left: 0.5em;
}
#staking .wrp.hide .lastpriceCnts,
#staking .wrp.hide .buycoin,
#staking .wrp.hide .earnlabel,
#staking .wrp.hide .pcoin {
  display: none;
}
#staking .pcoin {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  opacity: 0.6;
}
#staking .pcoin span {
  font-size: 1.5em;
}
#staking .numbers .inputWrapper {
  padding: 1em;
}
#staking .numbers .amredits {
  background: rgb(var(--color-yellow));
  padding: 0.25em 0.5em;
  border: 1px solid #ff6e84;
  border-radius: 10px;
  outline: none;
}
#staking .numbers .ihave {
  font-weight: 700;
}
#staking .totalNumbers {
  background: rgba(var(--neutral-grad-4), 0.1);
  padding: 1.5em 0;
  overflow: hidden;
}
#staking .totalNumbers .totalRow {
  float: left;
  width: 50%;
}
#staking .totalNumbers .totalRow .label span {
  font-size: 0.8em;
  font-weight: 700;
}
#staking .totalNumbers .totalRow .value span {
  font-size: 2.2em;
  font-weight: 100;
}
#staking .totalNumbers .totalRow .value span.cur {
  font-weight: 300;
  font-size: 0.8em;
}
#staking .calculatordummy,
#staking .calculator {
  position: relative;
}
#staking .calculatordummy {
  min-height: 80px;
}
#staking .calculatordummy .calculatordummytext {
  padding: 1em;
}
#staking .calculatordummy .calculatordummytext span {
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(var(--color-bg-ac-2));
}
#staking .chwr {
  position: absolute;
  right: 0.5em;
  top: 2px;
}
#staking .rcptwrp {
  background: rgb(var(--background-total-theme));
  border-radius: 12px;
  position: relative;
}
#staking .earnlabel {
  padding: 0.75em 1em;
  padding-top: 0;
  font-weight: 700;
  color: rgb(var(--color-txt-orange));
  cursor: pointer;
}
#staking .earnlabel span {
  font-size: 0.8em;
}
#staking .calcCaption {
  padding: 0.75em 1em;
  font-weight: 700;
  color: rgb(var(--color-bg-ac-bright));
}
#staking .calcCaption span {
  font-size: 0.8em;
}
#staking .buycoin {
  padding: 0 1em;
  padding-bottom: 1em;
}
#staking .buycoin a {
  display: inline-block;
  opacity: 0.8;
  font-size: 0.8em;
  margin-right: 1em;
}
#staking .buycoin .buyButton {
  width: 100%;
  background: transparent;
  color: rgb(var(--text-color));
  border: 1px solid rgb(var(--neutral-grad-1));
}
#staking .tcaptionwrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--neutral-grad-1), 0.5);
}
#staking .tcaptionwrapper .vc_valuecustom {
  width: 75px;
  font-size: 0.8em;
  font-weight: 500;
}
#staking .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_iconWrapper,
#staking .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#staking .tcaption {
  flex-grow: 2;
  font-weight: 100;
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
#staking .tcaption .label {
  font-weight: 700;
  font-size: 12px;
}
#staking .tcaption .pkoin {
  margin-left: 0.5em;
  font-size: 12px;
  background: rgb(var(--background-secondary-theme));
  border-radius: 8px;
  padding: 2px 8px;
}
#staking .tcaption .pkoin span {
  color: rgb(var(--neutral-grad-3));
}
#staking .logo {
  width: 12px;
}
#staking .caret {
  padding: 12px 16px;
  font-weight: 200;
  font-size: 0.8em;
  cursor: pointer;
}
#staking .caret.caret-down {
  position: absolute;
  right: 0;
}
#staking .commoncaption {
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
#staking .change i {
  position: relative;
  bottom: 2px;
}
#staking .lastpriceCnt {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 16px;
  color: rgb(var(--color-txt-gray-dark));
}
#staking .lastpriceCnt .logo,
#staking .lastpriceCnt .caret {
  display: none;
}
#staking .lastpriceCnt .lastpriceWrapper {
  display: flex;
  align-items: center;
}
#staking .lastpriceCnt .chart {
  width: 70px;
}
#staking .lastpriceCnt .lastprice {
  font-size: 26px;
  font-weight: 700;
}
#staking .lastpriceCnt .change {
  flex-grow: 2;
  padding-left: 0.5em;
  word-break: keep-all;
  white-space: nowrap;
  width: 69px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#staking .lastpriceCnt .change i {
  font-size: 0.6em;
}
#staking .lastpriceCnt .change .percent {
  padding: 0.375em 0.5em;
  border-radius: 12px;
  color: rgb(var(--text-on-bg-ac-color));
  opacity: 0.5;
  position: relative;
  font-size: 0.9em;
}
#staking .lastpriceCnt .change .percent span {
  font-size: 0.9em;
}
#staking .lastpriceCnt .change.bad .percent {
  background: rgb(var(--color-bad));
}
#staking .lastpriceCnt .change.good .percent {
  background: rgb(var(--color-good));
}
#staking .lastpriceCnts {
  padding-top: 1em;
  padding-bottom: 1em;
}
#staking .lastpriceCnts .lastpriceCntSmall {
  padding: 0 1em;
}
#staking .lastpriceCnts .lastpriceCntSmall .lastpriceWrapper {
  display: flex;
  align-items: baseline;
}
#staking .lastpriceCnts .lastpriceCntSmall .lastprice {
  font-size: 14px;
  color: rgb(var(--color-bg-ac-1));
}
#staking .lastpriceCnts .lastpriceCntSmall .lastprice .currency {
  font-weight: 500;
}
#staking .lastpriceCnts .lastpriceCntSmall .change {
  flex-grow: 2;
  padding-left: 0.5em;
  word-break: keep-all;
  white-space: nowrap;
  width: 69px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#staking .lastpriceCnts .lastpriceCntSmall .change i {
  font-size: 0.8em;
}
#staking .lastpriceCnts .lastpriceCntSmall .change .percent {
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}
#staking .lastpriceCnts .lastpriceCntSmall .change.bad .percent {
  color: rgb(var(--color-bad));
}
#staking .lastpriceCnts .lastpriceCntSmall .change.good .percent {
  color: rgb(var(--color-good));
}
/*t*/
@media only screen and (max-width: 768px) {
  #staking .pcoin {
    display: none;
  }
  #staking .pcoin span {
    font-size: 1.5em;
  }
  #staking .numbers .ihave {
    padding: 2em 1em;
  }
  #staking .totalNumbers .totalRow .label span {
    font-size: 1em;
  }
  #staking .totalNumbers .totalRow .value span {
    font-size: 2.2em;
  }
  #staking .totalNumbers .totalRow .value span.cur {
    font-size: 0.9em;
  }
  #staking .earnlabel {
    padding: 2em 1em;
  }
  #staking .earnlabel span {
    font-size: 0.9em;
  }
  #staking .calcCaption {
    padding: 2em 1em;
    padding-bottom: 1em;
  }
  #staking .calcCaption span {
    font-size: 0.9em;
  }
  #staking .buycoin {
    padding-bottom: 0.5em;
  }
  #staking .buycoin button {
    font-size: 0.8em !important;
  }
  #staking .tcaptionwrapper {
    padding-right: 0.5em;
  }
  #staking .tcaptionwrapper .vc_valuecustom {
    font-size: 0.9em;
  }
  #staking .tcaption span {
    font-size: 0.9em;
  }
  #staking .commoncaption {
    font-size: 0.9em;
  }
}
