<div id="<%-module.map.id%>">
	<div class="top">
		<div class="topwidthWrapper">


			<div class="item back">

				<div class="icon">

						<% if(ed.share) {%>
							<i class="fas fa-times"></i>
						<% } else { %>
							<i class="fas fa-arrow-left"></i>	
						<% } %>

					
				</div>
			</div>

			<div class="item uic">
				<% 
					var src = deep(app, 'platform.sdk.user.storage.me.image');
					var name = deep(app, 'platform.sdk.user.storage.me.name');
					var letter = name ? name[0] : '';	
				%>
									
				<div class="icon">
					<a href="author?address=<%-user.address.value.toString('hex')%>">
						<div class="usericon" image="<%-src || ''%>">

							<% if(!src && letter) { %>

								<span 
									class="letter"
								>
									<%-letter.toUpperCase()%>
								</span>
	
							<% } else if (!src) { %>
	
								<svg width="30" height="30" data-jdenticon-value="<%-user.address.value.toString('hex')%>"></svg>
	
							<% } %>
						
						</div>
					</a>
				</div>
			</div>

			<div class="item username">
				<div class="label">
					<b class="adr"><%-deep(app, 'platform.sdk.user.storage.me.name') || user.address.value.toString('hex')%></b>
				</div>
			</div>

			<div class="item right ready">
				<div class="item">

					<% if(art.txid) {%>

						<div class="iWrapper table goto">
								
							<div class="label">
								Go To Article
							</div>

							<div class="icon">
								<i class="far fa-check-circle"></i>
							</div>
						</div>

					<% } else {%>

						<div class="iWrapper table add">
								
							<div class="label">

								<% if(ed.share) {%>
									Save
								<% } else { %>
									Publish	
								<% } %>

							 	
							</div>

							<div class="icon">
								<i class="fas fa-arrow-right"></i>
							</div>
						</div>

					<% } %>

					
				</div>
			</div>
		</div>
	</div>

	

	<div class="art">
		<div class="topwidthWrapper">
			<div class="widthWrapper">
				<div class="part">
					<input class="caption" contenteditable="true" placeholder="Caption" type="text">
				</div>
				<div class="part">
					<div class="tgsWrapperMain">
					</div>
				</div>

				<div class="content">
					<div class="edt">
						<%= app.platform.sdk.articles.echo(art) %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="apreloader">

		<div class="aprWrapper table">

			<div class="aprcell">

				<div class="apr table">
					<div class="rnds">
						<div class="preloader5"><img src="./img/three-dots.svg"/></div>
					</div>
					<div class="label">
						<%=e('e13017')%>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>