<div id="<%-module.map.id%>">

	<div class="wrapper">
		<div class="applicationInfo">
			<div class="appicon" image="<%-ed.application.icon%>">
			</div>
			<div class="appname" >
				<span><%- ed.application.manifest.name %></span>
			</div>
		</div>

		<div class="caption">
			<span><%- ed.application.manifest.name %> <%-e('permissions_ask')%></span> <span>&quot;<%-e(ed.meta.name)%>&quot;</span>
		</div>

		<div class="permissionForm">


			<% if(ed.permission == 'payment') { %> 

				<div class="paymentForm">
					<% _.each(ed.data.recievers, function(reciever) {
						
						var sUserInfo = psdk.userInfo.getShortForm(reciever.address)

						console.log('sUserInfo', sUserInfo, ed.data.recievers, reciever);

						if(!sUserInfo) return

						var src = sUserInfo.image;
						var name = sUserInfo.name;
						var letter = sUserInfo.letter;  
												
						%> 

						<div class="reciever">

							<% if(sUserInfo.name !== sUserInfo.address) { %>

								<div class="userIcon">

									<div class="icon">
			
										<div  ban=".gif" contain="none" class="usericon" <%=bgImagesClApplyTemplate(src)%>>
			
											<% if(!src && letter) { %>
			
												<span class="letter">
													<%-letter.toUpperCase()%>
												</span>
							
											<% } %>
			
											<% if(app.platform.ui.markUser) {%>
			
												<%= app.platform.ui.markUser(reciever.address)%>
			
											<% } %>
			
										</div>
										
									</div>

								</div>

							<% } %>

							<div class="userName">
								<span class="adr"><%-sUserInfo.name %></span>
							</div>

							<div class="amount">
								<span><%- app.platform.mp.coin(reciever.amount) %> PKOIN</span>
							</div>
						</div>
						
					<% }) %>
				</div>
				
			<% } %>

			<!--<div class="jsontemp">
				<div>
					<%- JSON.stringify(ed) %>
				</div>

				<div>
					<%- JSON.stringify(additional || {}) %>
				</div>
			</div>-->

			
		</div>

		<div class="permissionDescription">
			<span><%-e(ed.meta.description)%></span>
		</div>

		<div class="panel">
			<button class="button granted">
				<%-e('permissions_allow')%>
			</button>

			<% if(!ed.meta.uniq && !ed.noonce) {%>
				<button class="button once ghost">
					<%-e('permissions_allow_once')%>
				</button>
			<% } %>

			<button class="button forbid ghost">
				<%-e('permissions_forbid')%>
			</button>
		</div>
	</div>

</div>