#connection {
  position: relative;
}
#connection .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
#connection .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
#connection.loading .preloaderabs {
  display: block;
}
#connection .cCaption {
  padding: 2em 0;
}
#connection .cCaption span {
  font-weight: 100;
  font-size: 2em;
}
#connection .connection .nodesCaptionTable {
  margin-bottom: 2em;
}
#connection .connection .nodesCaptionTable > div.foradd {
  width: 150px;
  text-align: right;
  color: #b2abac;
  cursor: pointer;
}
#connection .connection .nodesCaptionTable > div.foradd:hover {
  color: #00a4ff;
}
#connection .connection .nodesCaptionTable > div.foradd span {
  font-size: 0.9em;
  font-weight: 200;
}
#connection .connection .nodesCaptionTable .nodesCaption {
  font-weight: 200;
  color: #00a4ff;
  font-size: 1.5em;
}
#connection .connection .proxypart {
  background: #00a4ff;
  color: #fff;
  padding-top: 2em;
  margin-bottom: 2em;
}
#connection .connection .proxypart .nodesCaptionTable {
  margin-bottom: 0;
}
#connection .connection .proxypart .nodesCaptionTable .nodesCaption {
  color: #fff;
}
#connection .connection .proxypart .proxyconnect {
  padding: 2em 0;
  padding-top: 0;
}
#connection .connection .proxypart .proxyconnect .proxyselectwrapper {
  background: transparent;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  margin-top: 1em;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable {
  cursor: pointer;
  color: #fff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable:hover {
  color: rgba(255, 255, 255, 0.8);
}
#connection .connection .proxypart .proxyconnect .proxyselecttable > div {
  padding: 0.5em 0;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable > div span {
  font-weight: 100;
  font-size: 2em;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable > div.selector {
  text-align: right;
  width: 80px;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable > div.logswrapper,
#connection .connection .proxypart .proxyconnect .proxyselecttable > div.usingwrapper {
  width: 50px;
  text-align: center;
}
#connection .connection .proxypart .proxyconnect .proxyselecttable > div.logswrapper .using,
#connection .connection .proxypart .proxyconnect .proxyselecttable > div.usingwrapper .using {
  font-size: 1.5em;
}
#connection .connection.useproxy .using i:before {
  content: '\f058';
}
#connection .connection.shownodes .nodespart {
  display: block;
}
#connection .connection .nodespart {
  display: none;
}
#connection .connection .nodespart .loading {
  display: none;
  text-align: center;
  padding: 3em;
}
#connection .connection .nodespart.loading .list,
#connection .connection .nodespart.loading .emptylist,
#connection .connection .nodespart.loading .tablecaption {
  display: none;
}
#connection .connection .nodespart.loading .loading {
  display: block;
}
#connection .connection .nodespart .tablecaption {
  background: #fafafa;
  padding: 2em 0;
}
#connection .connection .nodespart .nodewrapepr {
  border-bottom: 1px solid #e4ddde;
}
#connection .connection .nodespart .node.active {
  color: #076C34;
}
#connection .connection .nodespart .node.active > div.use {
  color: #076C34;
}
#connection .connection .nodespart .node.active > div.use i:before {
  content: '\f058';
}
#connection .connection .nodespart .node > div {
  vertical-align: middle;
  padding: 1.5em 1em;
}
#connection .connection .nodespart .node > div.use {
  width: 40px;
  text-align: left;
  color: #e4ddde;
}
#connection .connection .nodespart .node > div.connectnode {
  cursor: pointer;
  color: #076C34;
}
#connection .connection .nodespart .node > div.panel {
  width: 140px;
  padding: 1em;
  padding-left: 0;
}
#connection .connection .nodespart .node > div.panel .item {
  width: 40px;
  float: right;
  padding: 0.5em;
  color: #b2abac;
  margin-left: 4px;
  text-align: center;
}
#connection .connection .nodespart .node > div.panel .item.edit {
  cursor: pointer;
}
#connection .connection .nodespart .node > div.panel .item.edit:hover {
  color: #00a4ff;
}
#connection .connection .nodespart .node > div.panel .item.stable {
  color: #076C34;
}
#connection .connection .nodespart .node > div:nth-child(1) {
  padding-left: 0;
}
#connection .connection .nodespart .node > div:nth-last-child(1) {
  text-align: right;
  padding-right: 0;
}
#connection .connection .nodespart .emptylist {
  display: none;
  background: #fafafa;
  text-align: center;
  color: #b2abac;
}
#connection .connection .nodespart .emptylist .table {
  min-height: 150px;
}
#connection .connection .nodespart .emptylist .table > div {
  vertical-align: middle;
}
#connection .connection .nodespart.empty .tablecaption {
  display: none;
}
#connection .connection .nodespart.empty .list {
  display: none;
}
#connection .connection .nodespart.empty .emptylist {
  display: block;
}
.addproxywnd.wnd .wndinner,
.proxieslistwnd.wnd .wndinner,
.addnodewnd.wnd .wndinner {
  width: 450px;
  max-height: 500px;
}
.addproxywnd.wnd .wndcontent,
.proxieslistwnd.wnd .wndcontent,
.addnodewnd.wnd .wndcontent {
  top: 55px;
  bottom: 66px;
  padding: 0 1em;
}
.addproxywnd.wnd .wndinner > div.buttons .button.delete,
.proxieslistwnd.wnd .wndinner > div.buttons .button.delete,
.addnodewnd.wnd .wndinner > div.buttons .button.delete {
  float: left;
}
.proxieslist .preloaderabs,
.addnode .preloaderabs,
.addproxy .preloaderabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
.proxieslist .preloaderabs .table > div,
.addnode .preloaderabs .table > div,
.addproxy .preloaderabs .table > div {
  vertical-align: middle;
  text-align: center;
}
.proxieslist.loading .preloaderabs,
.addnode.loading .preloaderabs,
.addproxy.loading .preloaderabs {
  display: block;
}
.proxieslist .empty {
  display: none;
  height: 120px;
  color: #b2abac;
  text-align: center;
}
.proxieslist .empty .table > div {
  vertical-align: middle;
}
.proxieslist.empty .empty {
  display: block;
}
.proxieslist .proxy {
  border-bottom: 1px solid #e4ddde;
  cursor: pointer;
}
.proxieslist .proxy > div {
  padding: 0;
  vertical-align: middle;
}
.proxieslist .proxy > div.name i {
  width: 40px;
  display: none;
}
.proxieslist .proxy > div.name .dup {
  padding: 1em 0;
  color: #b2abac;
}
.proxieslist .proxy > div.panel {
  width: 44px;
}
.proxieslist .proxy > div.panel .item {
  float: right;
  padding: 1em 0;
  color: #b2abac;
}
.proxieslist .proxy > div.panel .item.edit {
  cursor: pointer;
}
.proxieslist .proxy > div.panel .item.edit:hover {
  color: #00a4ff;
}
.proxieslist .proxy.active {
  font-weight: 700;
  cursor: default;
  color: #076C34;
}
.proxieslist .proxy.active > div.name i {
  display: inline-block;
}
.proxieslist .proxy:hover {
  color: #076C34;
}
.proxieslist .proxy:nth-last-child(1) {
  border-bottom: 0px solid #e4ddde;
}
.addnode[saveto="proxy"] .parameterMaketWrapper.rpcuser,
.addnode[saveto="proxy"] .parameterMaketWrapper.rpcpwd {
  display: none;
}
.addproxy .parameter > div,
.addnode .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
.addproxy .parameter .pName,
.addnode .parameter .pName {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 30%;
}
.addproxy .parameter .pName .pNameW,
.addnode .parameter .pName .pNameW {
  font-size: 0.9em;
}
.addproxy .parameter .pName .clear,
.addnode .parameter .pName .clear {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #d0c9ca;
  cursor: pointer;
}
.addproxy .parameter .pName .clear:hover,
.addnode .parameter .pName .clear:hover {
  color: #00a4ff;
}
.addproxy .parameter .pInput,
.addnode .parameter .pInput {
  position: relative;
  vertical-align: top;
}
.addproxy .parameter .pInput .echo,
.addnode .parameter .pInput .echo {
  padding: 0.5em;
  color: #ff6e84;
  font-weight: 700;
}
.addproxy .parameter .pInput .vm_valuesmulti,
.addnode .parameter .pInput .vm_valuesmulti {
  padding-top: 0.25em;
}
.addproxy .parameter .pInput .vc_valuecustom,
.addnode .parameter .pInput .vc_valuecustom {
  width: 100%;
}
.addproxy .parameter .panel,
.addnode .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
.addproxy .parameter .panel .clear,
.addnode .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: #e4ddde;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.addproxy .parameter .panel .clear:hover,
.addnode .parameter .panel .clear:hover {
  color: #00a4ff;
}
.addproxy .parameter select,
.addnode .parameter select,
.addproxy .parameter textarea,
.addnode .parameter textarea,
.addproxy .parameter input,
.addnode .parameter input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #d0c9ca;
  border-radius: 2px;
}
.addproxy .parameter select.error,
.addnode .parameter select.error,
.addproxy .parameter textarea.error,
.addnode .parameter textarea.error,
.addproxy .parameter input.error,
.addnode .parameter input.error {
  border: 1px solid #F41A4D;
}
.addproxy .parameter .error select,
.addnode .parameter .error select,
.addproxy .parameter .error textarea,
.addnode .parameter .error textarea,
.addproxy .parameter .error input,
.addnode .parameter .error input {
  border: 1px solid #F41A4D;
}
.addproxy .parameter select,
.addnode .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
.addproxy .parameter .locationInputWrapper select,
.addnode .parameter .locationInputWrapper select {
  width: 100%;
}
.addproxy .parameter .vmt_valuesmultitree,
.addnode .parameter .vmt_valuesmultitree,
.addproxy .parameter .vm_value,
.addnode .parameter .vm_value {
  padding: 0;
}
.addproxy .parameter .vmt_valuesmultitree .checkbox + label:before,
.addnode .parameter .vmt_valuesmultitree .checkbox + label:before,
.addproxy .parameter .vm_value .checkbox + label:before,
.addnode .parameter .vm_value .checkbox + label:before {
  font-size: 1.6em;
  line-height: 19px;
}
.addproxy .parameter .hoursrange select,
.addnode .parameter .hoursrange select {
  width: 100%;
}
.addproxy .parameter.valuesmultitree .pName,
.addnode .parameter.valuesmultitree .pName {
  padding-top: 0.75em;
}
.addproxy .parameter.color > div,
.addnode .parameter.color > div {
  vertical-align: middle;
}
html.stblack #connection .preloaderabs {
  background: rgba(10, 12, 23, 0.8);
}
html.stblack #connection .connection .nodesCaptionTable > div.foradd {
  color: #00a4ff;
}
html.stblack #connection .connection .nodesCaptionTable > div.foradd:hover {
  color: #00A3F7;
}
html.stblack #connection .connection .nodesCaptionTable .nodesCaption {
  color: #00A3F7;
}
html.stblack #connection .connection .proxypart {
  background: rgba(0, 163, 247, 0.3);
  color: #b2abac;
}
html.stblack #connection .connection .proxypart .nodesCaptionTable .nodesCaption {
  color: #00a4ff;
}
html.stblack #connection .connection .proxypart .proxyconnect .proxyselectwrapper {
  border-bottom: 2px solid #00a4ff;
}
html.stblack #connection .connection .proxypart .proxyconnect .proxyselecttable {
  color: #b2abac;
}
html.stblack #connection .connection .proxypart .proxyconnect .proxyselecttable:hover {
  color: rgba(178, 171, 172, 0.8);
}
html.stblack #connection .connection .nodespart .tablecaption {
  background: #0e1c2b;
}
html.stblack #connection .connection .nodespart .nodewrapepr {
  border-bottom: 1px solid rgba(0, 164, 255, 0.5);
}
html.stblack #connection .connection .nodespart .node.active {
  color: #076C34;
}
html.stblack #connection .connection .nodespart .node.active > div.use {
  color: #076C34;
}
html.stblack #connection .connection .nodespart .node > div.use {
  color: rgba(0, 164, 255, 0.5);
}
html.stblack #connection .connection .nodespart .node > div.connectnode {
  color: #076C34;
}
html.stblack #connection .connection .nodespart .node > div.panel .item {
  color: rgba(0, 164, 255, 0.5);
}
html.stblack #connection .connection .nodespart .node > div.panel .item.edit:hover {
  color: #00a4ff;
}
html.stblack #connection .connection .nodespart .node > div.panel .item.stable {
  color: #076C34;
}
html.stblack #connection .connection .nodespart .emptylist {
  display: none;
  background: #0e1c2b;
  color: #3c4146;
}
html.stblack .proxieslist .preloaderabs,
html.stblack .addnode .preloaderabs,
html.stblack .addproxy .preloaderabs {
  background: rgba(14, 28, 43, 0.8);
}
html.stblack .proxieslist .empty {
  color: #b2abac;
}
html.stblack .proxieslist .proxy {
  border-bottom: 1px solid rgba(0, 164, 255, 0.5);
}
html.stblack .proxieslist .proxy > div.name .dup {
  color: rgba(0, 164, 255, 0.5);
}
html.stblack .proxieslist .proxy > div.panel .item {
  color: #b2abac;
}
html.stblack .proxieslist .proxy > div.panel .item.edit:hover {
  color: #00a4ff;
}
html.stblack .proxieslist .proxy.active {
  color: #076C34;
}
html.stblack .proxieslist .proxy:nth-last-child(1) {
  border-bottom: 0px solid rgba(0, 164, 255, 0.5);
}
html.stblack .addproxy .parameter .pName .clear,
html.stblack .addnode .parameter .pName .clear {
  color: #d0c9ca;
}
html.stblack .addproxy .parameter .pName .clear:hover,
html.stblack .addnode .parameter .pName .clear:hover {
  color: #00a4ff;
}
html.stblack .addproxy .parameter .pInput .echo,
html.stblack .addnode .parameter .pInput .echo {
  color: #ff6e84;
}
html.stblack .addproxy .parameter .panel .clear,
html.stblack .addnode .parameter .panel .clear {
  color: #e4ddde;
}
html.stblack .addproxy .parameter .panel .clear:hover,
html.stblack .addnode .parameter .panel .clear:hover {
  color: #00a4ff;
}
html.stblack .addproxy .parameter select,
html.stblack .addnode .parameter select,
html.stblack .addproxy .parameter textarea,
html.stblack .addnode .parameter textarea,
html.stblack .addproxy .parameter input,
html.stblack .addnode .parameter input {
  border: 1px solid #0a0c17;
}
html.stblack .addproxy .parameter select.error,
html.stblack .addnode .parameter select.error,
html.stblack .addproxy .parameter textarea.error,
html.stblack .addnode .parameter textarea.error,
html.stblack .addproxy .parameter input.error,
html.stblack .addnode .parameter input.error {
  border: 1px solid #F41A4D;
}
html.stblack .addproxy .parameter .error select,
html.stblack .addnode .parameter .error select,
html.stblack .addproxy .parameter .error textarea,
html.stblack .addnode .parameter .error textarea,
html.stblack .addproxy .parameter .error input,
html.stblack .addnode .parameter .error input {
  border: 1px solid #F41A4D;
}
/*t*/
@media only screen and (max-width: 768px) {
  #connection .work {
    padding: 0 0.5em !important;
  }
  #connection .cCaption {
    padding: 1em 0;
  }
  #connection .connection .nodesCaptionTable {
    margin-bottom: 2em;
  }
  #connection .connection .nodesCaptionTable > div.foradd {
    width: 150px;
    text-align: right;
    color: #b2abac;
    cursor: pointer;
  }
  #connection .connection .nodesCaptionTable > div.foradd:hover {
    color: #00a4ff;
  }
  #connection .connection .nodesCaptionTable > div.foradd span {
    font-size: 0.9em;
    font-weight: 200;
  }
  #connection .connection .nodesCaptionTable .nodesCaption {
    font-weight: 200;
    color: #00a4ff;
    font-size: 1.5em;
  }
  #connection .connection .proxypart {
    background: #00a4ff;
    color: #fff;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
  }
  #connection .connection .proxypart .proxyconnect {
    padding: 1.5em 0;
    padding-top: 0;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div {
    padding: 0.5em 0;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div span {
    font-weight: 100;
    font-size: 1.2em;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div.selector {
    text-align: right;
    width: 40px;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div .logs {
    text-align: left;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div.logswrapper,
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div.usingwrapper {
    width: 40px;
    text-align: center;
  }
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div.logswrapper .using,
  #connection .connection .proxypart .proxyconnect .proxyselecttable > div.usingwrapper .using {
    font-size: 1.2em;
  }
  #connection .connection .nodespart {
    display: none;
  }
  #connection .connection .nodespart .tablecaption {
    background: #fafafa;
    padding: 1em 0;
  }
  #connection .connection .nodespart .node > div {
    vertical-align: middle;
    padding: 1.5em 0.5em;
  }
  #connection .connection .nodespart .node > div.use {
    width: 40px;
    text-align: left;
    color: #e4ddde;
  }
  #connection .connection .nodespart .node > div.connectnode {
    cursor: pointer;
    color: #076C34;
  }
  #connection .connection .nodespart .node > div.status {
    display: none;
  }
  #connection .connection .nodespart .node > div.name {
    display: none;
  }
  #connection .connection .nodespart .node > div.ws {
    width: 90px;
  }
  #connection .connection .nodespart .node > div.panel {
    width: 90px;
    padding: 1em 0;
  }
  #connection .connection .nodespart .node > div:nth-child(1) {
    padding-left: 0;
  }
  #connection .connection .nodespart .node > div:nth-last-child(1) {
    text-align: right;
    padding-right: 0;
  }
}
