#footer {
  position: relative;
  width: 100%;
  height: 100%;
}
#footer .footer_logo {
  height: 20px;
}
#footer .fitem {
  margin-bottom: 0.5em;
}
#footer .footerCenterWrapper {
  width: 95%;
  max-width: 1480px;
  margin: 0 auto;
  height: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
}
#footer .ftcWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#footer .ftcWrapper .ye {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.8em;
}
#footer .localization {
  position: relative;
  padding-bottom: 1em;
}
#footer .localization i {
  width: 24px;
  text-align: center;
}
#footer .footerTable {
  width: 100%;
  height: 100%;
}
#footer .footerTable > div {
  vertical-align: top;
}
#footer .footerTable > div.logoCellWrapper {
  width: 350px;
}
#footer .footerTable > div .logoWrapper {
  overflow: hidden;
  text-transform: uppercase;
}
#footer .footerTable > div .logoWrapper > div {
  float: left;
}
#footer .footerTable > div .logoWrapper .label {
  padding-top: 2px;
  font-weight: 700;
  padding-left: 0.5em;
}
#footer .footerTable .footerContentTableWrapper {
  float: right;
  height: 100%;
}
#footer .footerTable .footerContentTableWrapper .footerContentTable {
  width: auto;
  height: 100%;
}
#footer .footerTable .footerContentTableWrapper .footerContentTable > div {
  vertical-align: top;
  padding: 0.5em 2.5em;
}
#footer .footerTable .footerContentTableWrapper .footerContentTable > div:nth-last-child(1) {
  padding-right: 0;
  text-align: right;
}
#footer .footerTable .footerContentTableWrapper .footerContentTable > div:nth-child(1) {
  padding-left: 0;
}
.nooverflow #footerWrapper {
  display: none!important;
}
/*t*/
@media only screen and (max-width: 768px) {
  #footer .footerCenterWrapper {
    width: 100%;
    max-width: none;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 10em;
  }
  #footer .footerTable {
    display: block;
    width: 100%;
    height: 100%;
  }
  #footer .footerTable > div {
    display: block;
  }
  #footer .footerTable > div.logoCellWrapper {
    width: 100%;
  }
  #footer .footerTable > div .socialWrapper {
    margin-top: 1em;
  }
  #footer .footerTable .footerContentTableWrapper {
    margin-top: 2em;
    float: right;
    height: 100%;
  }
  #footer .footerTable .footerContentTableWrapper .footerContentTable {
    width: 100%;
    height: 100%;
  }
  #footer .footerTable .footerContentTableWrapper .footerContentTable > div {
    padding: 0.5em;
  }
  #footer .footerTable .footerContentTableWrapper .footerContentTable > div:nth-last-child(1) {
    padding-right: 0;
    text-align: right;
  }
}
.nooverflow #footer {
  display: none;
}
