#captcha .captchaImageWrapper {
  text-align: center;
}
#captcha .subcaption,
#captcha .subsubcaption {
  margin: 0 auto;
  margin-top: 0.5em;
  font-weight: 700;
  text-align: center;
  max-width: 300px;
}
#captcha .inputWrapper {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 0.5em;
}
#captcha input {
  font-size: 1.4em;
  border: 0;
  border-bottom: 1px solid rgb(var(--neutral-grad-2));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
  width: 100%;
  background: transparent;
  text-align: center;
}
#captcha .addContainer {
  text-align: center;
}
#captcha .addContainer button {
  min-width: 300px;
}
#captcha .redoContainer {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#captcha button {
  min-width: 180px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#captcha button.next {
  color: rgb(var(--color-txt-ac));
}
.wnd.captchaWindow .wndinner {
  max-width: 450px;
  max-height: 550px;
}
