#recommendedusers {
  background: #fff;
  border-radius: 12px;
}
#recommendedusers .rcptwrp {
  background: #fff;
  border-radius: 12px;
  position: relative;
}
#recommendedusers .tcaptionwrapper {
  display: flex;
  align-items: center;
}
#recommendedusers .tcaptionwrapper .vc_valuecustom {
  width: 75px;
  font-size: 0.8em;
  font-weight: 500;
}
#recommendedusers .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_iconWrapper,
#recommendedusers .tcaptionwrapper .vc_valuecustom .vc_textInput .vc_inputWrapper {
  border: 0;
}
#recommendedusers .tcaption {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  font-weight: 100;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
}
#recommendedusers .tcaption .authors {
  font-weight: 700;
}
#recommendedusers .tcaption .rating {
  color: #555770;
}
#recommendedusers .caption {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 1em;
}
#recommendedusers .loaderWrapper {
  display: none;
  padding: 1em;
  text-align: center;
}
#recommendedusers.loading .loaderWrapper {
  display: block;
}
#recommendedusers .subscribe,
#recommendedusers .unsubscribe {
  position: relative;
}
#recommendedusers .subscribe .fa-plus,
#recommendedusers .unsubscribe .fa-plus {
  position: absolute;
  top: 3px;
  left: 14px;
  font-size: 0.5em;
}
#recommendedusers .subscribe {
  color: #b2abac;
}
#recommendedusers .unsubscribe {
  color: #076C34;
}
#recommendedusers .users {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
#recommendedusers .users .wrk {
  max-width: 188px;
  width: 100%;
}
#recommendedusers .users .wrk:nth-child(2n) {
  margin-left: 1em;
  margin-right: 1em;
}
#recommendedusers .users .user {
  padding: 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#recommendedusers .users .user .addressWrapper {
  cursor: pointer;
}
#recommendedusers .users .user .addressWrapper .iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 218px;
}
#recommendedusers .users .user .addressWrapper .iconWrapper a {
  width: 100%;
}
#recommendedusers .users .user .addressWrapper .iconWrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
#recommendedusers .users .user .addressWrapper .iconWrapper .icon img,
#recommendedusers .users .user .addressWrapper .iconWrapper .icon .letter {
  width: 100%;
}
#recommendedusers .users .user .addressWrapper .iconWrapper .icon .letter {
  font-size: 3.5em;
  text-align: center;
}
#recommendedusers .users .user .addressWrapper.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#recommendedusers .users .user .addressWrapper.label .cur {
  color: #00a4ff;
}
#recommendedusers .users .user .addressWrapper.label .top {
  display: flex;
}
#recommendedusers .users .user .addressWrapper.label .top .name {
  font-weight: 600;
  font-size: 0.9em;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#recommendedusers .users .user .addressWrapper.label .top .reputation {
  position: relative;
  bottom: 2px;
  left: 3px;
  font-size: 0.6em;
  color: #00a4ff;
}
#recommendedusers .users .user .addressWrapper.label .light {
  font-size: 0.7em;
  color: #3c4146;
}
#recommendedusers .users .user .addressWrapper.extra {
  width: 20px;
  text-align: right;
}
#recommendedusers .users .user .blockingWrapper {
  display: none;
}
#recommendedusers .users .user.userblocking .subscribebuttonstop {
  display: none;
}
#recommendedusers .users .user.userblocking .blockingWrapper {
  display: inline;
}
#recommendedusers .users .user .subscribebuttonstop .unsubscribe {
  display: none;
}
#recommendedusers .users .user .subscribebuttonstop.following .unsubscribe {
  display: inline;
}
#recommendedusers .users .user .subscribebuttonstop.following .notificationturn {
  display: inline;
}
#recommendedusers .users .user .subscribebuttonstop.following .subscribe {
  display: none;
}
html.stblack #recommendedusers {
  background: transparent;
}
html.stblack #recommendedusers .users .user .addressWrapper {
  cursor: pointer;
}
html.stblack #recommendedusers .users .user .addressWrapper > div.label .cur {
  color: #00a4ff;
}
html.stblack #recommendedusers .users .user .addressWrapper > div.label .light {
  color: #3c4146;
}
html.stblack #recommendedusers .users .user.blocking {
  background: #290318;
}
/*t*/
@media only screen and (max-width: 768px) {
  #userslist {
    padding: 1em;
  }
  #userslist .users .addressWrapper > div.extra {
    width: 60px;
  }
}
