<div id="<%-module.map.id%>">  
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        <%= e('aboutHowItWMainBoard') %>
                    </h1>
                    <h3>
                        <%= e('aboutHowItWMainBoard1') %>
                    </h3>
                    <h2>
                        <%= e('aboutHowItWMainBoard2') %>
                    </h2>
                </div>                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                           <%= e('aboutHowItWMD') %>
                        </div>
                        
                    </div>  
                    
                </div>
                
            </div>
        </section>        
        
        <section class="img-and-text">
            <div class="main-wrapper">
                
                <h2><%= e('aboutHowItWImgAndText') %></h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText1') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText2') %>
                        </p>  
                        <p>
                            <%= e('aboutHowItWImgAndText3') %> 
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText4') %> 
                        </p>      
                        <p>
                            <%= e('aboutHowItWImgAndText5') %>  
                        </p>   
                        <p>
                            <%= e('aboutHowItWImgAndText6') %>
                        </p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Blockchain-based.jpg" alt="">
                    </div>
                </div>

                <div class="line"></div>

                <div class="works" >
                    
                        <h2><span>
                            <%= e('aboutHowItWImgAndText7') %>
                        </span></h2>
                        <div>
                            <div class="works__container">
                                
                                <div class="text">
                                    <p>
                                        <%= e('aboutHowItWImgAndText8') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText9') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText10') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText11') %> 
                                    </p>

                                    <p>
                                        <%= e('aboutHowItWImgAndText12') %> <br> <%= e('aboutHowItWImgAndText13') %>
                                    </p>

                                    <p>
                                        <%= e('aboutHowItWImgAndText14') %> <br>

                                        <%= e('aboutHowItWImgAndText15') %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                </div>

                <div class="line"></div>

                <h2><%= e('aboutHowItWImgAndText16') %></h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText17') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText18') %>  
                        </p>  
                        <p>
                           <b><%= e('aboutHowItWImgAndText19') %> </b>
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText20') %> 
                        </p>      
                        <p>
                           <%= e('aboutHowItWImgAndText21') %> 
                        </p>   
                        <p>
                            <%= e('aboutHowItWImgAndText22') %>
                        </p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Censorship-resistant.jpg" alt="">
                    </div>
                </div>
                <h2><%= e('aboutHowItWImgAndText23') %> <br> 
                    <%= e('aboutHowItWImgAndText24') %></h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText25') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText26') %>  
                        </p>  
                        <p>
                            <%= e('aboutHowItWImgAndText27') %>
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText28') %> 
                        </p>      
                        <p>
                            <%= e('aboutHowItWImgAndText29') %>
                        </p>   
                        <p>
                            <%= e('aboutHowItWImgAndText30') %>
                        </p>
                        <p><b><%= e('aboutHowItWImgAndText31') %></b></p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Privacy-protection.jpg" alt="">
                    </div>
                </div>
                <h2>
                    <%= e('aboutHowItWImgAndText32') %><br>
                    <%= e('aboutHowItWImgAndText33') %>
                </h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText34') %>
                        </h4>
                        <p>
                           <%= e('aboutHowItWImgAndText35') %> <b>PKOIN.</b>   
                        </p>  
                        <p>
                          <%= e('aboutHowItWImgAndText36') %>
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText37') %>
                        </p>      
                        <p>
                            <%= e('aboutHowItWImgAndText38') %> 
                        </p>   
                        <p>
                           <%= e('aboutHowItWImgAndText39') %>
                        </p>
                            
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Bastyon-pays-you.jpg" alt="">
                    </div>
                </div>
                <p><%= e('aboutHowItWImgAndText40') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('aboutHowItWImgAndText41') %></a></div>
                <div class="line"></div>
                
                
            </div>
        </section>
        
        <section class="open">
            <div class="main-wrapper">                
                <div class="content">                    
                    <div class="discover">
                        <h2><%= e('aboutHowItWOpen') %></h2>
                        <p><%= e('aboutHowItWOpen1') %></p>
                        <div class="one-item">
                            <div>
                                <a href="https://bastyon.com/">
                                    <img src="img/aboutHIW/LOGO bastyon.png" alt="">
                                    <p><%= e('aboutHowItWOpen2') %></p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-windows"></i>
                                <p>Windows</p>
                                </a>
                            </div>                            

                            <div>
                                <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                                <i class="fab fa-google-play"></i>
                                <p>Android</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/">
                                <i class="fab fa-github"></i>
                                <p>MacOS</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-linux"></i>
                                <p>Linux/ Ubuntu</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-apple"></i>
                                <p><%= e('aboutHowItWOpen3') %></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="discover">
                        <h2><%= e('aboutHowItWOpen4') %></h2>
                        <p><%= e('aboutHowItWOpen5') %></p>

                        <div class="one-item">

                            <div class="text">
                                <p>email:<a href="mailto:support@pocketnet.app">support@pocketnet.app</a></p>
                                <p>Twitter:<a href="https://twitter.com/OfficialBastyon">@OfficialBastyon</a></p>
                            </div>                        
                    </div>
                </div>
            </div>            
        </section>

        
</div>
