<div id="<%-module.map.id%>">
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        HOW DOES BASTYON RESIST TO CENSORSHIP?
                    </h1>
                    <h3>
                        FREE, PRIVATE, SECURE AND WITHOUT GOVERNMENT CONTROL.
                    </h3>
                    <h2>
                        ENJOY THE FRESH AIR OF BASTYON.
                    </h2>
                </div>                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                           "Bastyon is the bitcoin of social networks."
                        </div>
                        
                    </div>  
                    
                </div>
                
            </div>
        </section>        
        
        <section class="img-and-text">
            <div class="main-wrapper">
                
                <h2>Blockchain based</h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            What is the blockchain?
                        </h4>
                        <p>
                            As Wikipedia mentions, “A blockchain is a growing list of records, called blocks, that are linked together using cryptography. 
                        </p>  
                        <p>
                            It’s also described as a “trustless and fully decentralized peer-to-peer immutable data storage” that is spread over a network of participants often referred to as nodes. Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data. 
                        </p>     
                        <p>
                            The timestamp proves that the transaction data existed when the block was published in order to get into its hash. 
                        </p>      
                        <p>
                            As blocks each contain information about the block previous to it, they form a chain, with each additional block reinforcing the ones before it. 
                        </p>   
                        <p>
                            Therefore, blockchains are resistant to modification of their data because once recorded, the data in any given block cannot be altered retroactively without altering all subsequent blocks.”
                        </p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Blockchain-based.jpg" alt="">
                    </div>
                </div>

                <div class="line"></div>

                <div class="works" >
                    
                        <h2><span>
                            So, how does the blockchain  protects from censorship?
                        </span></h2>
                        <div>
                            <div class="works__container">
                                
                                <div class="text">
                                    <p>
                                        From Bitcoins to Bastyon.
                                        <br>
                                        The blockchain is the technology behind all the cryptocurrencies. Bitcoins, Ethereum, Dogecoins and so on are all powered by the Blockchain.
                                        <br>
                                        The principle is simple: what happens on the blockchain, stays on the blockchain. Forever.
                                        <br>
                                        All the existing blocks of the blockchain are immutable and permanent. 
                                    </p>

                                    <p>
                                        Think about cryptocurrency: when you send some Bitcoins (or parts of it) to someone, the transaction is registered on the blockchain. <br> From that moment the transaction cannot be reverted, modified, changed, removed, suspended, edited in any of its parts. It is there and stays there forever. And you can explore the blocks on the blockchain to see all the transactions.
                                    </p>

                                    <p>
                                        Bastyon works EXACTLY the same way. Each post, each account, each video is recorded on the blockchain. And once there, it cannot be removed. <br>

                                        Indeed, Bastyon works on a fork of the original Bitcoin blockchain.
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                </div>

                <div class="line"></div>

                <h2>Censorship-resistant</h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            Not only the Blockchain.
                        </h4>
                        <p>
                            Bastyon is not ruled by any company.  
                        </p>  
                        <p>
                           <b>It is an open source project. </b>
                        </p>     
                        <p>
                            Since it runs on the blockchain, there is no way to apply censorship: each post, each video, each comment is a “block” on the “blockchain” and remains there, immutable, available to anyone. 
                        </p>      
                        <p>
                            In addition, even if a government wants to remove a post, it is technically impossible. 
                        </p>   
                        <p>
                            Likewise, since it runs on a network of nodes, there is no way to limit the access to Bastyon. Even in the event of a government blocking access to https://bastyon.com, you will always be able to access it using the mobile or desktop app, which connects directly to the nodes.
                        </p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Censorship-resistant.jpg" alt="">
                    </div>
                </div>
                <h2>Privacy protection, <br> for your security</h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            Bastyon does not know who you are.
                        </h4>
                        <p>
                            Bastyon DOES NOT collect any personal information.  
                        </p>  
                        <p>
                           1. You can register without providing email or phone numbers.
                        </p>     
                        <p>
                            2. Bastyon does not ask for your real name. 
                        </p>      
                        <p>
                            3. Bastyon does not collect IP addresses. 
                        </p>   
                        <p>
                            Bastyon will never know who you are, unless you explicitly share your personal data.
                        </p>
                        <p><b>If you don’t share your data, no one, no company, no government, can know who you are.</b></p>     
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Privacy-protection.jpg" alt="">
                    </div>
                </div>
                <h2>
                    And there's more!<br>
                    Bastyon pays you
                </h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            You can earn money with Bastyon.
                        </h4>
                        <p>
                            Bastyon uses its own Cryptocurrency: <b>PKOIN.</b>   
                        </p>  
                        <p>
                          Each time your posts receive comments and likes, you get PKOIN.
                        </p>     
                        <p>
                            Each time your video gets 15,000 views + 750 “5 stars” reactions, you get 1,000 $ in PKOIN (you can convert them in USD!). THIS IS A LIMITED TIME OFFER!!! 
                        </p>      
                        <p>
                            Each time someone joins Bastyon with your referral link, you get PKOIN. 
                        </p>   
                        <p>
                           Contact us to learn more and to activate your account as “CREATOR” so that you can post unlimited videos and get paid!
                        </p>
                            
                    </div>
                    <div class="img">
                         <img src="img/aboutHIW/Bastyon-pays-you.jpg" alt="">
                    </div>
                </div>
                <p>Next step: contact us to get your Bastyon account verified and to access the bonus program.</p>
                <div class="link"><a href="mailto:support@pocketnet.app">Contact Us Now </a></div>
                <div class="line"></div>
                
                
            </div>
        </section>
        
        <section class="open">
            <div class="main-wrapper">                
                <div class="content">                    
                    <div class="discover">
                        <h2>Discover Bastyon</h2>
                        <p>You can use Bastyon from your browser or dowload the mobile and desktop app.</p>
                        <div class="one-item">
                            <div>
                                <a href="https://bastyon.com/">
                                    <img src="img/aboutHIW/LOGO bastyon.png" alt="">
                                    <p>Official Website</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-windows"></i>
                                <p>Windows</p>
                                </a>
                            </div>                            

                            <div>
                                <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                                <i class="fab fa-google-play"></i>
                                <p>Android</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/">
                                <i class="fab fa-github"></i>
                                <p>MacOS</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-linux"></i>
                                <p>Linux/ Ubuntu</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-apple"></i>
                                <p>Source Code</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="discover">
                        <h2>Contact us</h2>
                        <p>Send us a message if you need help or if you are a content creator, blogger, influencer and would like to unlock your bonus and verify your profile!</p>

                        <div class="one-item">

                            <div class="text">
                                <p>email:<a href="mailto:support@pocketnet.app">support@pocketnet.app</a></p>
                                <p>Twitter:<a href="https://twitter.com/OfficialBastyon">@OfficialBastyon</a></p>
                            </div>                        
                    </div>
                </div>
            </div>            
        </section>

        
       
       
    </main>
   <!--  <footer>
        <div class="main-wrapper">
            <img src="img/aboutHIW/footer-logo.png">
            <div class="social-cont">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p>Misma 2019 All Rights Reserved Papa</p>
        </div>
    </footer> -->

</div>
