<div id="<%-module.map.id%>">  
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        <%= e('aboutHowItWMainBoard') %>
                    </h1>
                    <h3>
                        <%= e('aboutHowItWMainBoard1') %>
                    </h3>
                    <h2>
                        <%= e('aboutHowItWMainBoard2') %>
                    </h2>
                </div>
                <img src="img/about/Bastyon-war-on-speech.gif" alt="">                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                           <%= e('aboutHowItWMD') %>
                        </div>
                        
                    </div>  
                    
                </div>
                
            </div>
        </section>        
        
        <section class="img-and-text">
            <div class="main-wrapper">
                
                <h2><%= e('aboutHowItWImgAndText') %></h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText1') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText2') %>
                        </p>  
                        <p>
                            <%= e('aboutHowItWImgAndText3') %> 
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText4') %> 
                        </p>      
                        <p>
                            <%= e('aboutHowItWImgAndText5') %>  
                        </p>   
                        <p>
                            <%= e('aboutHowItWImgAndText6') %>
                        </p>     
                    </div>
                    <div class="img">
                         <img src="img/about/hiw1.jpg" alt="">
                    </div>
                </div>

                <div class="line"></div>

                <div class="works" >
                    
                        <h2><span>
                            <%= e('aboutHowItWImgAndText7') %>
                        </span></h2>
                        <div>
                            <div class="works__container">
                                
                                <div class="text">
                                    <p>
                                        <%= e('aboutHowItWImgAndText8') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText9') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText10') %>
                                        <br>
                                        <%= e('aboutHowItWImgAndText11') %> 
                                    </p>

                                    <p>
                                        <%= e('aboutHowItWImgAndText12') %> <br> <%= e('aboutHowItWImgAndText13') %>
                                    </p>

                                    <p>
                                        <%= e('aboutHowItWImgAndText14') %> <br>

                                        <%= e('aboutHowItWImgAndText15') %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                </div>

                <div class="line"></div>

                <h2><%= e('aboutHowItWImgAndText16') %></h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText17') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText18') %>  
                        </p>  
                        <p>
                           <b><%= e('aboutHowItWImgAndText19') %> </b>
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText20') %> 
                        </p>      
                        <!-- <p>
                           <%= e('aboutHowItWImgAndText21') %> 
                        </p>   
                        <p>
                            <%= e('aboutHowItWImgAndText22') %>
                        </p>   -->   
                    </div>
                    <div class="img">
                         <img src="img/about/Censorship-resistant1.jpg" alt="">
                    </div>
                </div>
                <h2><%= e('aboutHowItWImgAndText23') %> <br> 
                    <%= e('aboutHowItWImgAndText24') %></h2>
                <div class="row">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText25') %>
                        </h4>
                        <p>
                            <%= e('aboutHowItWImgAndText26') %>  
                        </p> 
                        <ol>
                            <li><%= e('aboutHowItWImgAndText27') %></li>
                            <li><%= e('aboutHowItWImgAndText28') %></li>
                            <li><%= e('aboutHowItWImgAndText29') %></li>
                            <li><%= e('aboutHowItWImgAndText291') %></li>
                        </ol> 
                          
                        <p>
                            <%= e('aboutHowItWImgAndText30') %>
                        </p>
                        <p><b><%= e('aboutHowItWImgAndText31') %></b></p>     
                    </div>
                    <div class="img">
                         <img src="img/about/Privacy-protection1.jpg" alt="">
                    </div>
                </div>
                <!-- <h2>
                    <%= e('aboutHowItWImgAndText32') %><br>
                    <%= e('aboutHowItWImgAndText33') %>
                </h2>
                <div class="row reverse">
                    <div class="text">
                        
                        <h4>
                            <%= e('aboutHowItWImgAndText34') %>
                        </h4>
                        <p>
                           <%= e('aboutHowItWImgAndText35') %> <b>PKOIN.</b>   
                        </p>  
                        <p>
                          <%= e('aboutHowItWImgAndText36') %>
                        </p>     
                        <p>
                            <%= e('aboutHowItWImgAndText37') %>
                        </p>      
                        <p>
                            <%= e('aboutHowItWImgAndText38') %> 
                        </p>   
                        <p>
                           <%= e('aboutHowItWImgAndText39') %>
                        </p>
                            
                    </div>
                    <div class="img">
                         <img src="img/about/Bastyon-pays-you.jpg" alt="">
                    </div> 
                </div>
                <p><%= e('aboutHowItWImgAndText40') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('aboutHowItWImgAndText41') %></a></div>
                <div class="line"></div>-->
                
                
            <div class="row">
                <div class="h3">
                    <h3>
                        <%= e('aboutHowItWImgAndText51') %> 
                    </h3>
                </div>
                <p>
                    <%= e('aboutHowItWImgAndText52') %> 
                </p>

               
                
            </div>
            </div>
        </section>

        <section class="table">
            <div class="main-wrapper">
                <table>
                    <tr>
                        <th class="noline"></th>                        
                        <th><%= e('HIVTable1') %> </th>
                        <th><%= e('HIVTable2') %></th>
                        <th><%= e('HIVTable3') %></th>
                    </tr>
                    <!-- <tr class="noline">
                        <td colspan="3" class="table-center"><%= e('HIVTable4') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('HIVTable4') %></td>
                        <td class=""><%= e('HIVTable5') %></td>
                        <td><%= e('HIVTable6') %></td>
                        <td><%= e('HIVTable7') %></td>
                        
                    </tr>
                    <!-- <tr class="noline">
                        <td colspan="3" class="table-center"><%= e('HIVTable8') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('HIVTable8') %></td>
                        <td class=""><%= e('HIVTable9') %></td>
                        <td><%= e('HIVTable10') %></td>
                        <td><%= e('HIVTable11') %></td>
                        
                    </tr>
                    <!-- <tr class="noline">
                        <td colspan="3" class="table-center"><%= e('HIVTable12') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('HIVTable12') %></td>
                        <td class=""><%= e('HIVTable13') %></td>
                        <td><%= e('HIVTable14') %></td>
                        <td><%= e('HIVTable15') %></td>
                        
                    </tr>
                    <!-- <tr class="noline">
                        <td colspan="3" class="table-center"><%= e('HIVTable16') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('HIVTable16') %></td>
                        <td class=""><%= e('HIVTable17') %></td>
                        <td><%= e('HIVTable18') %></td>
                        <td><%= e('HIVTable19') %></td>
                        
                    </tr>
                    <!-- <tr class="noline">
                        <td colspan="3" class="table-center"><%= e('HIVTable20') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('HIVTable20') %></td>
                        <td class=""><%= e('HIVTable21') %></td>
                        <td><%= e('HIVTable22') %></td>
                        <td><%= e('HIVTable23') %></td>
                        
                    </tr>
                </table>
                <p><%= e('HIVTable24') %></p> 
            </div>
        </section>
      
        
</div>
