/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@color-main: #00AACC;
@color-main-dark: desaturate(darken(@color-main, 30%), 80%);
@color-main-light: desaturate(lighten(@color-main, 50%), 50%);
@main-width : 1024px;

@color-second: #FF8010;

@color-gray-light: rgb(220, 220, 220);
@color-gray: rgb(140, 140, 140);
@color-gray-dark: rgb(22, 22, 22);

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #111;
    border-left: 1px solid #111;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: @color-gray-dark;
}
b{
    font-weight: 700;
}
body{
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
.body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.appContainer{

    background: rgba(0,0,0,0.96);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color:#fff;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    left: 100%;
    position: absolute;
    opacity: 0;
    overflow: auto;
    .transition(0.5s);

    .slContentContainer{
        margin: 0 auto;
        max-width: @main-width;
        width: 80%;
        height: 100%;
        position: relative;
    }
    .slContent{
        position: absolute;
        top: 0%; 
        height: 100%; 
        width: 100%;
        display: table;

        .finish{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 140%;
            color: @color-second;

            .endsurvey{
                .buttonBorder(@color-main, @color-main);
                .button;
                width: 250px;
                margin: 50px auto;
               
                font-size: 0.8em;
            }
        }
        .begin{
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            font-size: 120%;

            .caption{
                margin: 20px 10px;
                font-weight: 700;
                color: @color-second;
            }

            .text{
                margin: 20px 10px;
            }

            .go{
                .buttonBorder(@color-main, @color-main);
                .button;
                width: 250px;
                margin: 50px 10px;
                font-size: 0.8em;
            }
        }
        .prompt{
            height: 8%;
            width: 100%;
            float: left;
            text-align: center;
            color: @color-second;
            font-size: 115%;
        }
    }
    .question{
        font-size: 115%;
        font-weight: 700;
        height: 13%;
        width: 100%;
        float: left;
        text-align: center;
        padding: 0 20px;
    }
    .answers{
        height: 77%;
        width: 100%;
        float: left;
        display: table;


        .answer.select{
            
            display: table;
            height: 150px;
            float: left;
            padding: 20px;

            .answerContainer{
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 20px;
                border-radius: 2px;
                text-align: center;
                cursor: pointer;
                .transition(0.4s);
                .buttonBorder (fade(@color-main, 80), fade(@color-main, 70));
            }
            .answerContainer.answered{
                color: #fff;
                background-color: @color-main;
            }
        }
  
        .answer.input{
            width: 100%;
            display: table;
            height: 150px;
            float: left;
            padding: 20px;

            .answerContainer{
                height: 100%;
                border-radius: 2px;
                text-align: center;
            }
            input{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                text-align: center;
                background: rgba(0,0,0,0);
                border:0;
                font-size: 100px;
                color: @color-second;
            } 
            input:focus{
                outline: none;
                border:0;
            } 
        }

        .answer.textarea{
            width: 100%;
            display: table;
            height: 150px;
            float: left;
            padding: 20px;

            .answerContainer{
                height: 100%;
                text-align: center;
            }
            textarea{
                padding: 10px;
                border-radius: 2px;
                width: 100%;
                margin: 0 auto;
                height: 100%;
                background: rgba(0,0,0,1);
                color: @color-second;
                border:1px solid rgb(30,30,50);
                resize:none;
            } 
            textarea:focus{
                outline: none;
                border:1px solid rgb(30,30,50);
            } 
        }
    }

    &.seben{
        .answers{
            .answer.select{
                padding: 10px;

                .answerContainer{
                    padding: 0 10px;
                }
            }
        }

    }
}

.slide.active{
    left: 0%;
    opacity: 1;
}
.center{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.message{    
    .center();
    position: fixed;
    width: 500px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    z-index: 15;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 3px;
}

.listings{
    width: 100%;
    height: 100%;
    overflow: hidden;


    .qunav {
        text-align: center;
        position: absolute;
        width: 10%;
        height: 100%;
        cursor: pointer;
        i{
            font-size:30px;
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            margin: auto;
         }
    }
    .qunav:hover{
        background: rgba(0,0,0,0.4);
    }
    .bl{

        top: 0;
        left: 0;

    }
    .bn{

        top: 0;
        right: 12px;
    }
    .light{
        color: @color-second;
    }

}

.appFooter{

    background: rgba(0,0,0,0.96);
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    left: 0px;
    background: @color-gray-dark;
    color: #fff;
    font-size: 80%;  

    .container{
        width: 80%;
        height: 100%;
        max-width: @main-width;
        display: table;
        margin: 0 auto;
        position: relative;
    }
    .selection{
        font-weight: 700;
    }
    .obscure{
        color: @color-gray;

        a{
            color: @color-gray;
        }
    }
     .slLeft{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        text-align: left;    
    }
    .slRight{
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        position: relative;

    }
    .line{
            margin-top: 7px;
            width: 100%;
            display: table;

            div{
                float: left;
                padding-right: 10px;

                a i{
                    color: #FFF;
                }
            }
            div.right{
                text-align: right;
                float: right;
                padding-left: 10px;
            }
    }
}



.buttonBorder(@color, @color-second)
{
    border: 1px solid @color;
    color: @color;

    &:hover
    {
        border-color: @color-second;
        background: @color-second;
        color: #fff;
    }
}

.buttonBg(@color)
{
    background: fade(@color, 95%);
    color: #fff;
    border: 2px solid @color;

    &:hover
    {
        background: fade(@color, 80%);
    }
}

.button{
    -moz-transition: 0.3s ;
    -o-transition: 0.3s ;
    -webkit-transition: 0.3s;
    cursor: pointer;
    text-align: center;
    height: 43px;
    line-height: 43px;
}
.buttonMain{
    .buttonBorder(#fff, @color-main);
    .button;
}
.transition(@param)
{
    -moz-transition: @param ;
    -o-transition: @param ;
    -webkit-transition: @param ;
    transition: @param ;
}
/* progress */
@color-progress-main: rgb(25, 186, 55);
@color-progress-neutral: rgba(255,255,255,0.1);
@progress-height: 10px;

#progressBar.freeze{
    opacity: 0.0; 
    filter: alpha(opacity=0);
}
#progressBar{
    position: absolute;
    top:8px;
    left: 0;
    width: 100%;
    padding: 0px @progress-height;
    height: 3 * @progress-height;
    display: table;
    z-index: 500;

    .prContainer{
        height: 100%;
        margin-right: 2*(2+@progress-height);
    }
    .pbSteps{
        position: relative;
        float: left;
        height: 100%;

    }
    .complete{
        display: table;
    }
    .process{
        display: table;
    }

    .pbLineContainer{
        margin-top: @progress-height * 1.5 ;
        margin-left: @progress-height * 3;
        margin-right: @progress-height / 2;
        height: @progress-height/2;
        background: @color-progress-neutral;
        border-radius: @progress-height/2;
    }

    .pbLine{
        .transition(0.4s);
        width: 0%;
        height: 100%;
        background: @color-progress-main;
        border-radius: @progress-height/2;

    }
    .prFinish,
    .pbPerc{
        border: 1px solid @color-progress-neutral;
        margin-top: 5px;
        background: @color-progress-neutral;
        font-size: 10px;
        float: left;
        width: 2*(2+@progress-height);
        height: 2*(2+@progress-height);
        line-height: 2*(1+@progress-height); 
        border-radius: @progress-height+2;
        text-align: center;
        vertical-align: middle;
        color: #fff;
    }
    .prFinish{
        float: right;
        font-size: 24px;
        border: 0;
        background: transparent;
    }
    .prFinish.complete{
        color: rgb(25, 186, 55);
    }
    .pbText{
        position: absolute;
        top: 0%;
        height: 2 * @progress-height;
        width: 100%;
        padding-left: 2*@progress-height;
        left: 0;
        color: #fff;
    }
    .pbText div{
        font-size: @progress-height;

        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
    }
    .process .pbLine{
        background: @color-progress-main;
    }
    .complete .pbLine{
        background: @color-progress-main;
    }
    .complete .pbPerc{
        background: @color-progress-main;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }
    .process .pbPerc{
        border: 1px solid @color-progress-main;
    }
    .process.complete .pbPerc{
        background: @color-progress-main;
    }
    .complete .pbText{
        color: @color-progress-main;
    }
    .warning .pbPerc{
        background: rgb(244, 222, 0);
    }
    .warning .pbText{
        color: rgb(244, 222, 0);
    }
    .warning .pbLine{
        background: rgb(244, 222, 0);
    }
    .failed .pbPerc{
        background: rgb(235, 0, 40);
    }
    .failed .pbText{
        color: rgb(235, 0, 40);
    }
    .failed .pbLine{
        background: rgb(235, 0, 40);
    }
}

/* */

.mobile{

    .slide{
        .answers{
            font-size: 20px;

                .answer.select{
                    

                .answerContainer{
                   font-size: 18px;
                   padding: 10px;
                   .buttonBorder (@color-main, @color-main);
                   
                   &.answered{
                        color: #fff;
                        background-color: @color-main;
                    }
                }
                
                }

            .answer.input{
                    width: 100%;
                    display: table;
                    height: 150px;
                    float: left;
                    padding: 20px;

                    .answerContainer{
                        height: 100%;
                        border-radius: 2px;
                        text-align: center;
                    }
                    input{
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        text-align: center;
                        background: rgba(0,0,0,0);
                        border:0;
                        font-size: 40px;
                        color: @color-second;
                    } 
                    input:focus{
                        outline: none;
                        border:0;
                    } 
            }

            .answer.textarea{
                width: 100%;
                display: table;
                height: 250px;
                float: left;
                padding: 20px;

                .answerContainer{
                    height: 100%;
                    text-align: center;
                }
                textarea{
                    padding: 10px;
                    border-radius: 2px;
                    width: 100%;
                    margin: 0 auto;
                    height: 100%;
                    background: rgba(0,0,0,0.2);
                    color: @color-second;
                    border:0;
                    resize:none;
                    font-size:20px;
                } 
                textarea:focus{
                    outline: none;
                    border:0;
                } 
            }
        }
        &.seben{
            .answers{
                .answer.select{
                    width: 50%!important;
                }
            }

        }
    }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@media only screen and (max-width: 640px) {
    .slide{
        .question{
            height: auto;
            padding-bottom: 1em;
        }

        .slContent{
            top : 1em;
        }

        .slContent .begin .go{
            width: auto;
        }
    }
}