<% if(system && system.node) { %>
    <% if(!nc.hasbin || nc.lock) { %>
        <% if(!nc.lock) {%> 
            <% if(!nc.other) {%> 
                <% if(nc.hasapplication) {%>
                    <!--
                    <div class="nodelanding">
                        <div class="lcaption">
                            <span>How do I earn more Pocketcoin?</span>
                        </div>
                        <div class="buttonWrapper">
                            <button class="button orange medium learnmore">Learn more</button>
                        </div>
                    </div>
                    -->

                <% } %>
            <% } %>
        <% } %>
    <% } %>
<% } %>