<% if(images.length){ %>

	<% _.each(images, function(image){ %>

		<div class="imageContainer" value="<%-image.id%>">

			<% if(image.src || image.base64) { %>
				<div class="imageWrapper">
					<img src="<%- image.src || image.base64 %>" i="<%-image.src%>">
						

					<% if(image.loading) { %>
						<div class="spinnerWrapperCnt">
							<div class="spinnerWrapper table">
								<div class="spinnerContainer">
									<div class="previewSpinner">
										<div class="preloader5"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>
						</div>

					<% } %>

					
					<div class="imgpanel">
						<div class="item remove">
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>

						<% if(image.base64) {%>

							<div class="item edit">
								<i class="fas fa-edit"></i>
							</div>

						<% } %>
					</div>
				</div>
				
			<% } %>

		</div>
		
	<% }) %>

<% } %>

