<div id="<%-module.map.id%>">
	<div class="divide">

		<div class="leftPart">
			<div class="partContent">
				<div class="partContentSlide">
					<div class="caption">
						<%=e('e13098')%>
					</div>

					<div class="linkWrapper table">
						<div class="inputWrapper">
							<%= options.url.input() %>
						</div>
					</div>

					<div class="url">
					</div>


				</div>
			</div>
			<div class="partPreloader">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>

		<div class="rightPart">
			<div class="partContent">
				<div class="partContentSlide">
					<div class="caption">
						<%=e('e13099')%>
					</div>

					<div class="upload">
						
					</div>

					<div class="images">
					</div>
				</div>
			</div>
			<div class="partPreloader">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>
	</div>
</div>