<div class="reputationblock">
  <div class="blockswrapper">
    <div class="metricablockwrapper">
      <div class="metricablock">
        <div class="blockWrapper">
          <div class="blockContentWrapper">
            <div class="metricsContainer">
              <header class="metricsContainerHeader">
                <%- e(parameterName) %>
              </header>
              <main class="metricsMain">
                <section class="metricSection">
                  <!-- <div class="progressBar videoViewsBar"></div> -->
                  <span>
                    <%- value %> 
                    <!-- / <%- requiredValue %> -->
                  </span>
                </section>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
