<div class="blockswrapper">
  <div class="metricablockwrapper">
    <div class="metricablock">
      <div class="blockWrapper">
        <div class="blockContentWrapper">
          <div class="metricsContainer">
            <header class="metricsContainerHeader"><%- e('bonusProgram') %></header>
            <main>
              <section class="metricSection videoViewsSection">
                <header><%- e('bonusProgramViews') %></header>
                <div class="progressBar videoViewsBar"></div>
              </section>
              <section class="metricSection videoRatingsSection">
                <header><%- e('bonusProgramRatings') %></header>
                <div class="progressBar videoRatingsBar"></div>
              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
