<div class="reputationblock">
  <div class="blockswrapper">
    <div class="metricablockwrapper">
      <div class="metricablock">
        <div class="blockWrapper">
          <div class="blockContentWrapper">
            <div class="metricsContainer">
              <div class="metricsContainerHeader">
                <span><%= e(parameterName) %></span>
              </div>
              <main class="metricsMain">
                <section class="metricSection">
                  <span>
                    <%= value %> 
                  </span>
                </section>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
