<div class="editVideoForm">
  <div class="dialogheader">
    <span><%- e('editVideoDescription') %> </span>
  </div>
  <section class="videoNameWrapper">
    <input
      type="text"
      class="videoNameInput"
      placeholder="<%- e('enterVideoName') %>"
    />
  </section>
  <section class="videoDescriptionWrapper">
    <textarea
      class="videoDescriptionInput"
      placeholder="<%- e('enterVideoDescription') %>"
    ></textarea>
  </section>
  <section class="videoTagsWrapper">tags</section>
</div>
