<div id="<%-module.map.id%>">
  <header class="moduleHeader">
    <h1 class="cabinetName"><%- e('videoCabinet') %></h1>
  </header>
  <section class="statsSection">
    <div class="reputation">
      <div class="reputationblock quotaContainer">
        <div class="preloaderwr">
          <div class="preloader5"><span></span><span></span><span></span></div>
        </div>
      </div>
      <div class="reputationblock leaderBoardContainer">
        <div class="preloaderwr">
          <div class="preloader5"><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
  </section>
  <section class="videoContainer">
    <section class="videoControls">
      <div class="videoSearchWrapper">
        <input
          type="text"
          id="videoSearchInput"
          class="videoSearchInput"
          placeholder="<%- e('enterVideoName') %>"
        />
        <button class="videoSearchButton ghostButton">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="videoSortWrapper">
        <div class="sortTypeSelectWrapper">
          <select class="sortTypeSelect">
            <option value="name">Name</option>
            <option value="createdAt">Creation Date</option>
            <option value="duration">duration</option>
            <option value="views">views</option>
          </select>
        </div>

        <div class="sortDirectionSelectWrapper">
          <select class="sortDirectionSelect">
            <option value="">Asc</option>
            <option value="-">Desc</option>
          </select>
        </div>
      </div>
      <button
        class="uploadVideo videoActiveButton ghostButton"
        rendersElement="addVideo"
      >
        <i class="fas fa-video"></i><%- e('peertubeAddVideo') %>
      </button>
      <!-- <button
        class="startStream videoActiveButton"
        rendersElement="addStream"
      >
        <i class="fas fa-dot-circle"></i><%- e('peertubeAddStream') %>
      </button> -->
    </section>
    <section class="userVideos"></section>
  </section>
</div>
