<div class="reputation">
  <div class="reputationblock">
    <div class="blockswrapper">
      <div class="metricablockwrapper">
        <div class="metricablock">
          <div class="blockWrapper">
            <div class="blockContentWrapper">
              <div class="blockContent">
                <div class="vidgetNameWrapper">
                  <div class="vidgetNameWrapperTable table">
                    <div class="cellleft"><span><%=e('uploadQuota')%></span></div>
                    <div class="cellright">
                      <div class="reputationCount">
                        <span><b>10</b> <i class="far fa-star"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="vidgetIconWrapper">
                  <div class="vidgetIcon">
                    <div class="table">
                      <div>
                        <div class="unspentWrapper repv">
                          <span class="value"> 10 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
