<div class="blockswrapper">
  <div class="metricablockwrapper">
    <div class="metricablock">
      <div class="blockWrapper">
        <div class="blockContentWrapper">
          <div class="blockContent">
            <div class="vidgetNameWrapper">
              <div class="vidgetNameWrapperTable table">
                <div class="cellleft">
                  <span><%=e('uploadQuota')%></span>
                </div>
              </div>
            </div>

            <div class="vidgetIconWrapper">
              <div class="vidgetIcon">
                <div class="table">
                  <div>
                    <div class="unspentWrapper repv">
                      <span class="value"> 10 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
