<sectiion class="videosWrapper">
  <% videos.map((video) => { %>
  <div class="work">
    <div class="singleVideoSection" uuid="<%- video.uuid %>">
      <div
        class="videoAvatar"
        style="
          background-image: url('https://<%- video.server %><%-video.previewPath %>');
        "
      >
        <div class="videoDuration"><%- secInTime(video.duration) %></div>
      </div>
      <div class="videoItemPart videoName">
        <div class="videoTextContainer videoNameText"><%- video.name %></div>
        <div
          class="
            videoDescriptionText
            <%-
            video.description
            ?
            ''
            :
            'emptyDescription'
            %>
          "
          uuid="<%- video.uuid %>"
          host="<%- video.server %>"
        >
          <span class="descriptionContent"
            ><%- video.description ? (video.description.length >= 80 ?
            `${video.description.slice(0, 80)}...` : video.description) :
            e('emptyDescription') %></span
          >
          <button
            elementsid="showAllDescriptionButton"
            class="
              showAllDescriptionButton
              ghostButton
              <%-
              (video.description
              ||
              '').length
              >=
              80
              ?
              ''
              :
              'hidden'%>
            "
          >
            <%- e('showAllButton') %>
          </button>
        </div>
        <!-- <p class="videoTextContainer"><%- video.server %></p> -->
      </div>
      <div
        class="videoItemPart videoStatsWrapper"
        video="<%- `peertube://${deep(video, 'account.host') || video.server}/${video.uuid}` %>"
        host="<%- video.server %>"
        uuid="<%- video.uuid %>"
      >
        <div class="preloaderwr">
          <div class="preloader5"><img src="./img/three-dots.svg" /></div>
        </div>
      </div>
      <div class="videoItemPart">
        <div class="videoTextContainer videoNameDate">
          <span><%- app.reltime(new Date(video.createdAt)) %></span>
        </div>
      </div>
      <div
        class="videoItemPart postingStatusWrapper"
        video="<%- `peertube://${deep(video, 'account.host')}/${video.uuid}` %>"
        videoTranscoding="<%- (video.state.id !== 1) ? 'true' : 'false' %>"
      >
        <div class="preloaderwr transcodingPreloader">
          <i class="fas fa-sync fa-spin"></i> <%- e('transcodingShort') %>
        </div>
        <button
          elementsid="attachVideoToPost"
          class="<%- buttonCaption %> tooltip hidden ghostButton"
          title="<%- e(buttonCaption) %>"
          videoLink="<%- `peertube://${deep(video, 'account.host') || video.server}/${video.uuid}` %>"
          videoName="<%- video.name %>"
        >
          <i class="fas fa-signature"></i> <%- e(`${buttonCaption}Short`) %>
        </button>
      </div>
      <div class="videoItemPart removeButtonWrapper">
        <i
          elementsid="menuActivator"
          class="fas fa-ellipsis-h menuActivator"
          videoLink="<%- `peertube://${deep(video, 'account.host') || video.server}/${video.uuid}` %>"
          backupHost="<%- video.server %>"
        ></i>
      </div>
    </div>
  </div>
  <% }) %>
</sectiion>
