<div class="videoStatsContainer">
  <div class="singleStat tooltip" title="<%- e('totalStars') %>">
    <i class="fas fa-star starIcon"></i
    ><span class="statNumber"
      ><%- starsCount ? `${(starsCount / starsSum).toFixed(1)} (${starsSum})`
      : '-' %></span
    >
  </div>
  <div class="singleStat tooltip" title="<%- e('totalComments') %>">
    <i class="fas fa-comment"></i
    ><span class="statNumber"><%- compressedNumber(comments) %></span>
  </div>
  <div class="singleStat tooltip" title="<%- e('totalViews') %>">
    <i class="fas fa-eye"></i
    ><span class="statNumber"><%- compressedNumber(views) %></span>
  </div>
</div>
