<sectiion class="videosWrapper">
  <% videos.map((video) => { %>
  <div class="singleVideoSection">
    <div class="videoItemPart videoAvatar">
      <img
        src="<%- `https://${video.account.host}${video.previewPath}` %>"
        alt="Peertube Video"
        class="videoPreviewImage"
      />
    </div>
    <div class="videoItemPart videoName">
      <p><%- video.name %></p>
      <p><%- video.account.host %></p>
    </div>
    <div class="videoItemPart removeButtonWrapper">
      <button
        class="attachVideoToPost tooltip"
        title="<%- e('attachVideoToPost') %>"
        videoLink="<%- `peertube://${deep(video, 'account.host')}/${video.uuid}` %>"
      >
        <i class="fas fa-signature"></i>
      </button>
      <button
        class="removeVideo tooltip"
        title="<%- e('removeVideo') %>"
        videoLink="<%- `peertube://${deep(video, 'account.host')}/${video.uuid}` %>"
      >
        <i class="fas fa-times-circle"></i>
      </button>
    </div>
  </div>
  <% }) %>
</sectiion>
