<div class="videoStatsContainer">
  <p class="singleStat tooltip" title="<%- e('totalStars') %>">
    <i class="fas fa-star starIcon"></i
    ><span class="statNumber"
      ><%- starsCount ? `${(starsSum / starsCount).toFixed(1)} (${starsCount})`
      : '-' %></span
    >
  </p>
  <p class="singleStat tooltip" title="<%- e('totalComments') %>">
    <i class="fas fa-comment"></i
    ><span class="statNumber"><%- compressedNumber(comments) %></span>
  </p>
  <p class="singleStat tooltip" title="<%- e('totalViews') %>">
    <i class="fas fa-eye"></i
    ><span class="statNumber"><%- compressedNumber(views) %></span>
  </p>
</div>
