<div id="<%-module.map.id%>">
	
	<div class="maket topCaption">
		<div class="work">
			<div class="caption section">
				<%=e('addaccount')%>
			</div>
		</div>
	</div>

	<div class="maket leftPart">

		<div class="work">

	
			<div class="sitelogin section">
				<div class="label">
					<%=e('entermnimo')%>.
				</div>

				<div class="form">
			    	<div class="item">
						

						<div class="inputTable table keytable">

				    		<div>
				    			<div class="inputWrapperKey">
									<input elementsid="yourprivateloginkey" type="password" class="loginValue" value="" placeholder="Your Private Login Key" autocomplete="on"/>
								</div>
							</div>
							<div class="actionButtonsWrapper">
								<div elementsid="uploadqrcode" class="uploadFile">
									<div class="icon"><i class="fas fa-qrcode"></i></div>
									<div class="label"><%=e('loadqrcode')%></div>
								</div>
								<div elementsid="showpassword" class="showPassword hidden" tabindex="1000">
									<div class="icon"><i class="fas fa-eye"></i></div>
								</div>
							</div>
						</div>
						
						
					</div>

			        <div class="item e buttons">
			        	<button elementsid="addprivatekey" class="enter"><%=e('add')%></button>
			        </div>

			    </div>
			</div>

		</div>

	</div>

</div>