<div id="<%-module.map.id%>">
	
	<div class="maket topCaption">
		<div class="work">
			<div class="caption section">
				<%=e('addaccount')%>
			</div>
		</div>
	</div>

	<div class="maket leftPart">

		<div class="work">

	
			<div class="sitelogin section">
				<div class="label">
					<%=e('entermnimo')%>.
				</div>

				<div class="form">
			    	<div class="item">
						

						<div class="inputTable table keytable">

				    		<div>
				    			<div class="inputWrapperKey">
									<div id="mnemonicInput">
										<input autocomplete="off" id="mnemonicItem1" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem2" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem3" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem4" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem5" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem6" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem7" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem8" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem9" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem10" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem11" class="mnemonicItem" type="text">
										<input autocomplete="off" id="mnemonicItem12" class="mnemonicItem" type="text">
								   </div>
								   <div elementsid="uploadqrcode" class="uploadFile">
										<div class="icon">
											<i class="fas fa-qrcode"></i>
										</div>
										<div class="label"><%=e('loadqrcode')%></div>
								    </div>
								   <!-- <span id="autocomplete" >
									   <span id="autocompleteStart">
									   </span>
									   <span id="autocompleteEnd">
									   </span>
								   </span> -->
									<input elementsid="yourprivateloginkey" type="password" class="loginValue" value="" placeholder="Your Private Login Key" autocomplete="on"/>
								</div>
							</div>
							<div class="actionButtonsWrapper">
								<div elementsid="showpassword" class="showPassword hidden" tabindex="1000">
									<div class="icon"><i class="fas fa-eye"></i></div>
								</div>
							</div>
						</div>
						
						
					</div>

			        <div class="item e buttons">
			        	<button elementsid="addprivatekey" class="enter"><%=e('add')%></button>
			        </div>

			    </div>
			</div>

		</div>

	</div>

</div>