<div id="<%-module.map.id%>" class="unselectablemobile">
	<div class="work">
		<div class="abswndwrapper">
			<div class="tablewrapper table">
				<div class="tablecell">
					<div class="keywrapper">
					</div>
				</div>
			</div>
		</div>
	</div>

	<% if(ed.afterregistration) {%>
		<div class="next">
			<button class="button orange nextaction">
				<%=e('next')%>
			</button>
		</div>
	<% } %>

	<div elementsid="dontshowagain" class="dontshowagain">
		<div class="text"><i class="far fa-circle"></i> <%=e('e13142')%></div>
	</div>
</div>