
<div class="key">
    <div class="work">	


        <div class="stepContent">
            <div class="subcaption">

                <span class="bad"><%=e('e13143')%> </span> <%=e('rtip3')%>

                
            </div>

            <div class="mnemonicKeyTable table">

                    <div class="mnemonicKeyCell">

                        <div class="pklabel">
                            <%=e('privatekey')%>
                        </div>
                        
                        <div class="mnemonicKey">
                        
                        </div>

                        <div class="buttonWrapper">
                            <button elementsid="copycode" class="copy button orange rounded"><i class="fas fa-copy"></i> <%=e('copycode')%></button>
                        </div>
                        
                    </div>

                <!--<div class="iconWrapper">

                    <div class="pklabel hidden">
                        <%=e('privatekeyqr')%> 
                    </div>
                
                    <div class="qrcode unselectable hidden"></div>

                    <div class="buttonWrapper">
                        <button elementsid="saveqrcode" class="save ghost"><i class="fas fa-save"></i> <%=e('saveqrcode')%></button>
                    </div>

                </div>-->

                
            </div>

            <div class="hiddenMnemonicKey hidden">
                <%-mnemonicKey%>
            </div>

            <div class="hidden forform">
                <form id="loginform" autocomplete="on" action="signin.xxx" method='post'>

                    <input elementsid="hiddenname" autocomplete="username" value="user" type="text" name='username' class="hidden"/>
                    <input elementsid="inputloginkey" autocomplete="current-password" type="password" name='password' class="loginValue" placeholder="<%=e('e13024')%>" />
                              
                    <button type="submit" elementsid="buttonsignin" class="enter"><%=e('signin')%></button>

                </form>
            </div>

        </div>
    </div>

</div>
