
<div class="key">
    <div class="work">	


        <div class="stepContent">
            <div class="subcaption">

                <span class="bad"><%=e('e13143')%> </span> <%=e('rtip3')%>

                
            </div>

            <div class="mnemonicKeyTable table">

                    <div class="mnemonicKeyCell">

                        <div class="pklabel hidden">
                            <%=e('privatekey')%>
                        </div>
                        
                        <div class="mnemonicKey">
                        
                        </div>

                        <div class="buttonWrapper">
                            <button class="copy button"><i class="fas fa-copy"></i> <%=e('copycode')%></button>
                        </div>
                        
                    </div>

                <div class="iconWrapper">

                    <div class="pklabel">
                        <%=e('privatekeyqr')%> 
                    </div>
                
                    <div class="qrcode unselectable hidden"></div>

                    <div class="buttonWrapper">
                        <button class="save ghost"><i class="fas fa-save"></i> <%=e('saveqrcode')%></button>
                    </div>

                </div>

                
            </div>

            <div class="hiddenMnemonicKey hidden">
                <%-mnemonicKey%>
            </div>

           

        </div>
    </div>

</div>
