
<div class="key">
    <div class="work">	


        <div class="stepContent">
            <div class="subcaption">

                <span class="bad"><%=e('e13143')%> </span> <%=e('rtip3')%>

                
            </div>

            <div class="mnemonicKeyTable table">

                    <div class="mnemonicKeyCell">

                            <div class="pklabel">
                                Private Key:
                            </div>
                            
                            <div class="mnemonicKey">
                            
                            </div>
                            
                        </div>

                <div class="iconWrapper">
                
                    <div class="qrcode"></div>

                </div>

                

                <div class="item mobiledevice">
                    <button class="copy ghost"><i class="fas fa-copy"></i> <%=e('e13144')%></button>
                </div>
                
            </div>

            <div class="hiddenMnemonicKey hidden">
                <%-mnemonicKey%>
            </div>

            <div class="panel">

                <div class="item  workstation">
                    <button class="save ghost"><i class="fas fa-save"></i> <%=e('saveqrcode')%></button>
                </div>

                <div class="item workstation right">
                    <button class="copy ghost"><i class="fas fa-copy"></i> <%=e('e13144')%></button>
                </div>

                
            </div>

        </div>
    </div>

</div>
