<div id="<%-module.map.id%>">
    <div id="reader"></div>
    <div elementsid="uploadqrcode" class="uploadFile">
        <div class="icon">
            <i class="fas fa-qrcode"></i>
        </div>
        <div class="label"><%=e('loadqrcode')%></div>
    </div>
    <div class="loader">
        <div class="work">
            <div class="preloader5"><img src="./img/three-dots.svg"/></div>
        </div>
    </div>
    <div class="error">
       <h2><%=e('cameralocked')%></h2>
       <span><%=e('cameraunlocknote')%></span>
    </div>
</div>