<div>

    <% if(contents && contents.length > 0) {
        _.each(contents, function(content) {
            const postInfo = content.post;
            const videoInfo = content.info?.data || {};
            const userInfo = deep(app.platform.sdk.usersl.storage, postInfo.address);
            
            var h = app.platform.sdk.videos.historyget(postInfo.txid);
    %>

            <div class="recoVideoDiv" data-txid="<%- postInfo.txid %>">

                <div class="videoThumbnail <% if(!videoInfo.thumbnail) {%>dummy<% } %>" image="<%- videoInfo.thumbnail || '' %>">
                    <div class="durationWrapper">
                        <span><%- secInTime(videoInfo.duration) %></span>
                    </div>
                    <% if(h.percent && h.percent > 3) {%>
                        <div class="videoprogressbar">
                            <div class="videoprogress" style="width:<%-h.percent%>%"></div>
                        </div>
                    <% } %>
                </div>

                <div class="videoInfos">

                    <div class="title"><span><%= postInfo.renders.caption() %></span></div>

                    <div>
                        <div class="user">
                            
                            <span><%= userInfo.name %></span>
                            
                            <% if(userInfo.reputation && !app.curation()) {%><sup class="spsp"><%-compressedNumber(userInfo.reputation, 1)%></sup><% } %>
                        
                        </div>

                        <div class="infos">

                            <% if(typeof videoInfo.views != 'undefined') {%>
                                <span class="views"><%= videoInfo.views %> <%- pluralform(videoInfo.views,[e('countview'), e('countviews')]) %></span>
                            <% } else { %>
                                <span class="views dummy"></span>
                            <% } %>

                            <i class="fas fa-circle viewDateSep"></i>
                            <span class="date"><%- app.reltime(postInfo.time) %></span>

                        </div>
                    </div>

                </div>

            </div>


        <% })
    } else { %> 
      
    <% } %>
</div>