#transportsmanagement {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#transportsmanagement .wwork {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#transportsmanagement .caption {
  margin-bottom: 1em;
}
#transportsmanagement .caption span {
  font-size: 1.2em;
  font-weight: 700;
}
#transportsmanagement .subcaption {
  margin-bottom: 0.5em;
}
#transportsmanagement .subcaption span {
  font-size: 0.8em;
  font-weight: 700;
}
#transportsmanagement .state .empty {
  padding: 1em 0;
}
#transportsmanagement .state .empty span {
  font-size: 0.9em;
}
#transportsmanagement .state .proxyselection {
  background: rgb(var(--background-secondary-theme));
  border-radius: 12px;
  padding: 0.5em;
}
#transportsmanagement .state .proxyselection .select {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}
#transportsmanagement .state .disclaimer {
  margin-top: 1em;
}
#transportsmanagement .state .disclaimer span {
  font-size: 0.8em;
  color: rgb(var(--color-txt-orange));
}
#transportsmanagement .statsWrapper {
  padding: 1.5em 0;
}
#transportsmanagement .settingsWrapper {
  padding: 1.5em 0;
}
#transportsmanagement .stats {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
  display: grid;
  grid-gap: 0.25em;
  margin-top: 1em;
  grid-template-columns: repeat(2, 1fr);
}
#transportsmanagement .stats .stat {
  background: rgb(var(--background-secondary-theme));
  border-radius: 8px;
  padding: 0.5em;
}
#transportsmanagement .stats .stat .statcaption {
  margin-bottom: 0.5em;
}
#transportsmanagement .stats .stat .statcaption span {
  font-size: 0.8em;
}
#transportsmanagement .stats .stat .value span {
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 1.5em;
  font-weight: 300;
}
#transportsmanagement .stats .stat.failed .value span {
  color: rgb(var(--color-bad));
}
#transportsmanagement .notdirectProxy .stats {
  opacity: 0.5;
}
#transportsmanagement .haschanges {
  padding: 1em 0;
  padding-bottom: 2em;
}
#transportsmanagement .haschanges button {
  font-size: 0.8em;
}
#transportsmanagement .settingTable {
  width: auto;
}
#transportsmanagement .settingTable > div {
  padding: 0.5em 0;
}
#transportsmanagement .settingTable .label {
  width: 160px;
}
#transportsmanagement .settingTable .icon {
  cursor: pointer;
  padding-left: 0.5em;
  color: rgb(var(--neutral-grad-1));
}
#transportsmanagement .settingTable .icon i {
  font-size: 0.8em;
}
#transportsmanagement .settingTable .icon i.good {
  color: rgb(var(--color-good));
}
#transportsmanagement .settingTable .label span {
  font-size: 0.9em;
}
#transportsmanagement .settingTable .value {
  color: rgb(var(--neutral-grad-3));
}
#transportsmanagement .settingTable .value[fss],
#transportsmanagement .settingTable .value[sys] {
  text-decoration: underline;
  color: rgb(var(--neutral-grad-3));
  cursor: pointer;
}
#transportsmanagement .settingTable .value span {
  font-size: 0.9em;
}
.transportsmanagementwindow .wndinner {
  width: 100%;
  max-width: 350px;
  height: 80%;
  max-height: 440px;
}
.transportsmanagementwindow .wndcontent {
  padding: 0.5em;
}
