<% _.each(pack.addresses, function(address){ 

	var cur = ''
	var ncur = 'ncurrent'


	if(address == current){
		cur = 'current'
		ncur = ''
	}

%>
	<div class="wrk">
		<div elementsid="accounts_<%-ncur%>" class="addressTable table <%-cur%> <%-ncur%>" address="<%-address%>">
			<div class="iconWrapper">
				<div class="icon">

					<% 

						var src = deep(app, 'platform.sdk.usersl.storage.'+address+'.image');  
						var name = deep(app, 'platform.sdk.usersl.storage.'+address+'.name'); 
						var letter = name ? name[0] : '';
						
					%>

					<div class="usericon" ban=".gif" image="<%-src || '*'%>">

						<% if(!src && letter) { %>

							<span 
								class="letter"
							>
								<%-letter.toUpperCase()%>
							</span>

						<% } else if (!src) { %>

							<svg width="30" height="30" data-jdenticon-value="<%-address%>"></svg>

						<% } %>

					</div>
				</div>
			</div>

			<div class="label">

				<%- deep(app, 'platform.sdk.usersl.storage.'+address+'.name') || address %>

				<% if(cur) { %> 

					<span class="cur">(<%=e('acure')%>)</span>

				<% } else {%> 

					

				<% } %>

			</div>

			<div class="panel">
				<% if(!cur) {%>

					

					

					<div elementsid="accounts_remove" class="accounts_remove item remove">
						<i class="fas fa-times-circle"></i>
					</div>

					<div class="item goto">
						<a elementsid="authorlink" href="<%-app.platform.api.authorlink(address)%>">
							<i class="fas fa-user"></i>
						</a>
					</div>
					
				<% } else { %>
					<div elementsid="accounts_dumpkey" class="item dumpkey">
						<i class="fas fa-key"></i>
					</div>
				<% }%>
			</div>
		</div>
	</div>
	
<% }) %>