<div id="<%-module.map.id%>">

	<div class="alladdressespart">

		<div class="wrk">
			<div class="subcaption">
				<%=e('aaddedacc')%>
			</div>
		</div>

		<div class="addresses">
			
		</div>

		<div class="addNewWrapper">

			<div class="wrk">

				<div class="addressAddTable table add">
					<div class="iconWrapper">
						<i class="fas fa-plus"></i>
					</div>

					<div class="label">

						<%=e('aaddacc')%>

					</div>
				</div>
			</div>

		</div>

		<div class="wrk">
			<div class="toScheduler">
				<a href="scheduler"><%=e('ascheduler')%></a>
			</div>
		</div>

	</div>

	<div class="dumpaddresspart">
		<div class="wrk">
			<div class="subcaptionTable table">

				<div class="backWrapper">
					<div class="back">
						<i class="fas fa-chevron-left"></i>
					</div>
				</div>

				<div class="subcaption">
					Private Key
				</div>
			</div>
		</div>
		<div class="wrk dmp">
			<div class="dumpkey">
				
			</div>
		</div>
	</div>

</div>