<div id="<%-module.map.id%>">

	<div class="cwrapper">
		<div class="caption">
			<%=e('complain')%>
		</div>
		<% if(ess == 'post') {%>
			<div class="reasons">
				
			</div>

		<% } %>

		<% if(ess == 'user') {%>
			<div class="textreasons">
				<div class="subcaption">
					
				</div>
				<textarea class="reason" placeholder="Describe the reason for the complaint"></textarea>
			</div>

		<% } %>

		<div class="cbuttons">

			<div class="item">
				<button elementsid="complain_next" class="next disabled"><%=e('next')%></button>
			</div>

			<div class="item">
				<button elementsid="complain_cancel" class="cancel ghost"><%=e('ucancel')%></button>
			</div>

					
		</div>
	</div>
</div>