#downloadMedia {
  padding: 1em;
  position: relative;
  height: 100%;
  width: 100%;
}
#downloadMedia .cwrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
#downloadMedia .caption {
  font-size: 1.4em;
}
#downloadMedia .content {
  position: absolute;
  top: 55px;
}
#downloadMedia .cbuttons {
  overflow-y: hidden;
}
#downloadMedia .cbuttons > div {
  float: right;
}
#downloadMedia .cbuttons > div button {
  min-width: 140px;
}
.wnd.downloadMedia .wndinner {
  max-width: 550px;
  max-height: 250px;
}
.wnd.downloadMedia .wndcontent {
  top: 0;
  overflow: hidden;
}
.wnd.downloadMedia #downloadMedia .caption {
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  position: absolute;
}
.wnd.downloadMedia #downloadMedia .cbuttons {
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  position: absolute;
}
