<div id="<%-module.map.id%>">
	
		<div class="maket topCaption">
			<div class="work">
				<div class="caption section">
					<%=e('id0')%>
				</div>
			</div>
		</div>

		<div class="maket leftPart">

			<div class="work">

		
				<div class="sitelogin section">
					<div class="label">
						<%=e('id1')%>
					</div>

					<div class="form">
				    	<div class="item">
							

							<div class="inputTable table">

					    		<div>
					    			<div class="inputWrapperKey">
										<input type="password" class="loginValue" value="<%- (mnemonic) %>" placeholder="Your Private Login Key" autocomplete="on"/>
									</div>
								</div>
								<div class="fileUploaderWrapper">
									<div class="uploadFile">
										<div class="icon"><i class="fas fa-file-upload"></i></div>
										<div class="label"><%=e('loadqrcode')%></div>
									</div>
								</div>
							</div>
							
							
						</div>

						<div class="item">
							
							<div class="inputTable table stay">

					    		<div>
					    			<%= stay.input() %>
								</div>
								<div class="staylabel">
									<%=e('stay')%>
								</div>
							</div>

							
							
							
						</div>
						
				        <div class="item e buttons">
				        	<button class="enter"><%=e('signin')%></button>
				        </div>

				    </div>
				</div>

			</div>

		</div>

		<div class="maket rightPart">

			<div class="newCustomer section">

				<div class="work">

					<div class="caption">
						<%=e('orcreate')%>
					</div>


					<div class="createAccount buttons">

						<button class="good toRegistration"><%=e('createnew')%></button>
												
					</div>

				</div>
			</div>

		</div>

</div>