<% var p1 = function(){ %> 

	<div class="maket leftPart">

		<div class="work">

			<div class="lptable table">

				<div>
				
					<div class="sitelogin section">
						
						<div class="label formh">
							<%=e('id1')%>
						</div>
					
						<div class="form">

							<div class="formh">

								<form id="loginform" autocomplete="on">

									<div class="item">

										<div class="inputTable table keytable">

											<div>
												<div class="inputWrapperKey">
													
													<input elementsid="hiddenname" autocomplete="username" value="user" type="text" name='username' class="hidden"/>
													<input elementsid="inputloginkey" autocomplete="current-password" type="password" name='password' class="loginValue" placeholder="<%=e('e13024')%>" />

												</div>
											</div>

											<div class="actionButtonsWrapper">
												<div
													elementsid="uploadqrcode"
													class="uploadFile"
												>
													<div class="icon"><i class="fas fa-qrcode"></i></div>
													<div class="label"></div>
												</div>
												<div elementsid="showpassword" class="showPassword hidden" tabindex="1000">
													<div class="icon"><i class="fas fa-eye"></i></div>
												</div>
											</div>
										</div>
										
										
									</div>

									<div class="item e buttons mpad">
										<button type="submit" elementsid="buttonsignin" class="enter"><%=e('signin')%></button>
									</div>

								</form>

								<% if(fast) {%>
									<div class="item e buttons mpad">
										<button elementsid="showforwh" class="showformh ghost"><i class="fas fa-chevron-circle-left"></i> <%=e('e13025')%></button>
									</div>	
								<% } %>

								<div class="item mpad">
									
									<div class="inputTable table stay">

										<div>
											<%= stay.input() %>
										</div>
										<div class="staylabel">
											<%=e('stay')%>
										</div>
									</div>
									
								</div>

							</div>

							<div class="formv">

								<% if(fast) {%>
									<!--<div class="item e buttons ">
										<button class="showformh">Sign in</button>
									</div>	-->
								<% } %>

							</div>	
						

						</div>
					</div>

				</div>

			</div>

		</div>

	</div>	

<% } %>

<% var p2 = function(){ %> 

	<div class="maket rightPart formv">

		<div class="userpart section">

			<div class="work">

				<% if(!fast) {%> 
					<div class="caption cpt2">
						<%=e('orcreate')%>
					</div>
				<% } %>


				<div class="createAccount buttons mpad">
					

					<% if(!fast) {%> 
						<button elementsid="toregistration" class="good toRegistration"><%=e('createnew')%></button>
					<% } else { %>

						<div class="filluserform">

						</div>

					<% } %>
											
				</div>


			</div>
		</div>
		
	</div>


<% } %>

<div id="<%-module.map.id%>" class="<% if(fast){%> fastregistration <% } %>">

	<div class="maket topCaption">
		<div class="work">
			<div class="caption section">

				<% if(!fast) {%> 

					<%=e('id0')%> 
					
				<% } else { %> 
					
					<%=e('e13026')%>

				<% } %>

			</div>
		</div>
	</div>

	<div class="scrollmaketpart">
	
		<% p1() %>

		<% p2() %>

	</div>

</div>