#userpage .backtabletmenu {
  display: none;
  padding: 1em;
  position: sticky;
  top: 0;
  background: rgb(var(--background-total-theme));
  z-index: 2;
}
#userpage .backtabletmenu span {
  font-size: 0.9em;
}
#userpage .backtabletmenu i {
  font-size: 0.9em;
  width: 22px;
}
#userpage .bgCaptionSpacer {
  padding-bottom: 2em;
  padding-top: 1em;
  height: 1px;
}
#userpage .report .reportCnt > div {
  border-radius: 6px;
}
#userpage .fillUserWrapper {
  height: 400px;
  background: rgb(var(--background-secondary-theme));
}
#userpage .fillUserWrapper .caption {
  margin: 0 auto;
  margin-bottom: 3em;
  max-width: 450px;
}
#userpage .fillUserWrapper .caption span {
  font-weight: 100;
  font-size: 1.5em;
}
#userpage .fillUserWrapper .table {
  height: 100%;
}
#userpage .fillUserWrapper .table > div {
  vertical-align: middle;
  text-align: center;
}
#userpage .fillUserWrapper .table button {
  min-width: 270px;
  font-weight: 100;
  padding: 1em;
}
#userpage .bgCaption {
  background: rgb(var(--background-secondary-theme));
  color: rgb(var(--text-color));
  height: 160px;
  position: relative;
  margin-bottom: 2em;
  margin-top: 1em;
}
#userpage .bgCaption .rightchatspacer {
  height: 100%;
}
#userpage .bgCaption .adr {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  display: inline-block;
}
#userpage .bgCaption .create {
  min-width: 250px;
}
#userpage .bgCaption .tips .profile {
  padding-left: 3em;
  padding-right: 3em;
}
#userpage .bgCaption .cellforimage {
  width: 95px;
}
#userpage .bgCaption .cellforimage .usericon {
  width: 75px;
  height: 75px;
  line-height: 73px;
  font-size: 1.5em;
}
#userpage .bgCaption .cellforimage .usericon .letter {
  font-size: 1.5em;
}
#userpage .bgCaption .addressseparate {
  margin-top: 0.5em;
  font-size: 0.8em;
}
#userpage .bgCaption .copyaddress {
  width: 33px;
  cursor: pointer;
}
#userpage .bgCaption .captionWrapperFloat {
  overflow: hidden;
}
#userpage .bgCaption .captionWrapperFloat > div {
  float: left;
}
#userpage .bgCaption .captionWrapperFloat > div.caption {
  width: 60%;
}
#userpage .bgCaption .captionWrapperFloat > div.addressseparateWrapper {
  padding-top: 1em;
  width: 40%;
  text-align: right;
}
#userpage .bgCaption .infoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
#userpage .bgCaption .imagiconWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
#userpage .bgCaption .imagiconWrapper .imagejdenticon {
  position: absolute;
  left: -60px;
  right: 0;
  top: -100px;
  bottom: 0;
  z-index: 0;
  opacity: 0.1;
}
#userpage .bgCaption .work {
  position: relative;
  overflow: hidden;
  padding-right: 0;
}
#userpage .general {
  padding-top: 0.5em;
}
#userpage .profile {
  /*.infoWrapper{
			.email{
				color: @color-gray;
				font-size: 0.8em;
			}
		}*/
}
#userpage .profile .table > div {
  vertical-align: middle;
}
#userpage #nodecontrol .maincaption {
  display: block;
}
#userpage .maketsWrapper {
  overflow: hidden;
}
#userpage .maketsWrapper .maket.left {
  float: left;
  width: 150px;
}
#userpage .maketsWrapper .maket.right {
  padding-left: 1em;
  margin-left: 150px;
}
#userpage .maketsWrapper .contents {
  padding-top: 2em;
}
#userpage .maketsWrapper .contents .added {
  text-align: right;
}
#userpage .maketsWrapper .contents .add {
  margin-left: 1em;
  color: rgb(var(--color-bg-ac-bright));
}
#userpage .maketsWrapper .contents .additional {
  margin-top: 2em;
}
#userpage .maketsWrapper .contents .captionContents {
  font-size: 0.7em;
  padding-left: 0.25em;
  border-bottom: 1px solid rgb(var(--color-bg-ac-bright));
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#userpage .maketsWrapper .contents .reportCaption {
  font-weight: 700;
  cursor: pointer;
  line-height: 26px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  margin-top: 0.25em;
  color: rgb(var(--color-txt-gray-dark));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#userpage .maketsWrapper .contents .reportCaption:nth-child(1) {
  padding-top: 0.5em;
}
#userpage .maketsWrapper .contents .reportCaption.openReport.active {
  color: rgb(var(--color-bg-ac-bright));
}
#userpage .maketsWrapper .contents .reportCaption .addtoname {
  opacity: 0.5;
  font-weight: 500;
}
#userpage .maketsWrapper .contents .addmenu .reportCaption {
  font-weight: 400;
}
#userpage .maketsWrapper .contents .applicationupdatemodule {
  position: relative;
  text-align: center;
}
#userpage .maketsWrapper .contents .applicationupdatemodule .applicaitonversion {
  cursor: pointer;
}
#userpage .maketsWrapper .contents .applicationupdatemodule .updatingprogress {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(var(--background-total-theme), 0.1);
  text-align: center;
  padding: 1em;
}
#userpage .maketsWrapper .contents .applicationupdatemodule .updatingprogress .text {
  padding-top: 0.75em;
  color: rgb(var(--text-on-bg-ac-color));
  font-weight: 700;
  font-size: 0.9em;
}
#userpage .maketsWrapper .contents .applicationupdatemodule span {
  opacity: 0.5;
}
#userpage .maketsWrapper .contents .applicationupdatemodule button {
  margin-top: 1em;
  margin-bottom: 1em;
}
#userpage .maketsWrapper .contents .applicationupdatemodule button:hover {
  background: rgb(var(--color-bg-orange));
  color: rgb(var(--text-on-bg-ac-color));
}
#userpage .maketsWrapper .contents .applicationupdatemodule.updating .updatingprogress {
  display: block;
}
#userpage .maketsWrapper .contents > div.reportCaption {
  text-transform: uppercase;
  font-weight: 700;
}
#userpage .maketsWrapper .contents .group .groupContent {
  display: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#userpage .maketsWrapper .contents .group.active > div.groupContent {
  display: block;
}
#userpage .maketsWrapper .contents .group.active > div.groupNameTable .reportCaption {
  color: rgb(var(--color-bg-ac-bright));
}
#userpage .maketsWrapper .contents .group.active > div.groupNameTable .groupNamePanelWrapper {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#userpage .maketsWrapper .contents .group[level='0'] > div.groupNameTable .reportCaption {
  text-transform: uppercase;
  font-weight: 700;
}
#userpage .maketsWrapper .contents .group[level='0'] .groupContent .reportCaption {
  font-weight: 400;
  font-size: 0.8em;
  padding-left: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
#userpage .maketsWrapper .contents .group[level='1'] .groupContent .reportCaption {
  padding-left: 2em;
}
#userpage .maketsWrapper .contents .groupNameTable > div {
  vertical-align: middle;
}
#userpage .maketsWrapper .contents .groupNameTable .groupNamePanel {
  width: 26px;
}
#userpage .maketsWrapper .contents .groupNameTable .groupNamePanelWrapper {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  font-size: 0.8em;
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#userpage .maketsWrapper .contents .groupNameTable .groupNamePanelWrapper:hover {
  transform: rotate(180deg);
  -webkit-webkit-transform: rotate(180deg);
}
#userpage .maketsWrapper .report .work {
  width: 100%;
}
#userpage .maketsWrapper .report .preloaderWrapper {
  padding: 2em;
}
#userpage .maketsWrapper .report #test .work {
  padding: 0 2em;
}
#userpage .maketsWrapper .report #test .userPanel {
  padding: 2em 2em;
}
#userpage .maketsWrapper .report #test .caption {
  padding-top: 0.25em;
  padding-left: 0.5em;
}
#userpage .maketsWrapper .report #notifications {
  background: rgb(var(--background-secondary-theme));
  min-height: 600px;
}
#userpage .maketsWrapper .report #notifications .notification {
  padding-left: 0;
  padding-right: 0;
}
#userpage .tooltipPanel {
  margin-top: 0.5em;
  text-align: right;
}
#userpage .activitiesCnt {
  padding-top: 0.25em;
}
#userpage.validate .maketsWrapper .contents .reportCaption[rid="followers"],
#userpage.validate .maketsWrapper .contents .reportCaption[rid="following"],
#userpage.validate .maketsWrapper .contents .reportCaption[rid="notifications"],
#userpage.validate .maketsWrapper .contents .reportCaption[rid="ustate"],
#userpage.validate .maketsWrapper .contents .reportCaption[rid="wallet"],
#userpage.validate .maketsWrapper .contents .reportCaption[rid="accounts"] {
  opacity: 0.5;
}
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="followers"],
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="following"],
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="notifications"],
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="ustate"],
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="wallet"],
#userpage.unathorized .maketsWrapper .contents .reportCaption[rid="accounts"] {
  display: none;
}
#userpage .maketsWrapper .contents .reportCaption[rid="registration"] {
  margin-top: 0.5em;
  color: rgb(var(--color-txt-orange));
}
#userpage .maketsWrapper .contents .reportCaption[rid="authorization"] {
  margin-bottom: 2em;
}
.wnd.wnduserpage .wndcontent {
  padding-top: 0;
}
.wnd.wnduserpage .wndcontent .work {
  width: 100%!important;
  padding: 0!important;
}
.wnd.wnduserpage #userpage .bgCaptionWrapper {
  display: none;
}
.wnd.wnduserpage #userpage.reportshowed .backtabletmenu {
  display: block;
}
html.mobileview #userpage.reportshowed .contents {
  display: none;
}
html.mobileview #userpage .preloaderWrapper {
  padding: 2em;
  text-align: center;
}
html.mobileview #userpage .profile {
  display: none;
}
html.mobileview #userpage .activitiesWrapper {
  margin-top: 1em;
}
html.mobileview #userpage .activitiesWrapper .usermenu {
  display: none;
}
html.mobileview #userpage .activitiesWrapper .usercnt {
  padding-left: 0;
  margin-left: 0;
}
html.mobileview #userpage .bgCaption {
  display: none;
}
html.mobileview #userpage > div.work {
  padding: 0;
}
html.mobileview #userpage .maketsWrapper {
  overflow: inherit;
}
html.mobileview #userpage .maketsWrapper .maket.left {
  width: 100%;
  float: none;
  padding: 0 1em;
}
html.mobileview #userpage .maketsWrapper .maket.right {
  padding-left: 0;
  margin-left: 0;
  border: 0;
}
html.mobileview #userpage .maketsWrapper .maket .contents {
  padding-top: 0;
}
html.mobileview #userpage .maketsWrapper .report #test {
  padding: 0 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}
html.mobileview #userpage .maketsWrapper .report #test .userPanel {
  padding: 0;
}
html.mobileview #userpage .maketsWrapper .report #test .caption {
  padding-left: 0;
  padding-bottom: 1em;
}
html.mobileview #userpage .maketsWrapper .report #accounts {
  padding-top: 1em;
}
html.mobileview #userpage .maketsWrapper .report #accounts .subcaption {
  font-size: 2em;
}
html.mobileview #userpage .maketsWrapper .report #notifications {
  padding: 1em 0;
  background: rgb(var(--background-secondary-theme));
}
html.mobileview #userpage .maketsWrapper .report #wallet .mobiledevice .caption {
  display: none!important;
}
html.mobileview #userpage .maketsWrapper .contents {
  padding-top: 0;
}
html.mobileview #userpage .maketsWrapper .contents .contentsInner {
  padding-bottom: 3em;
}
html.mobileview #userpage .maketsWrapper .contents .contentmenu {
  padding-top: 2em;
}
html.mobileview #userpage .maketsWrapper .contents .reportCaption {
  padding-bottom: 0.5em;
}
html.mobileview #userpage .maketsWrapper .contents .reportCaption[rid="followers"] {
  margin-top: 0.5em;
  padding-top: 1em;
  border-top: 1px solid rgb(var(--color-medium-theme));
}
html.mobileview #userpage .maketsWrapper .contents .reportCaption[rid="following"] {
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(var(--color-medium-theme));
}
html.mobileview #userpage .maketsWrapper .contents .reportCaption[rid="registration"] {
  margin-top: 0.5em;
  color: rgb(var(--color-txt-orange));
}
html.mobileview #userpage .maketsWrapper .contents .reportCaption[rid="authorization"] {
  margin-bottom: 2em;
}
