<% _.each(comments, function(comment){ %> 

	<div class="comment" id="<%-comment.txid%>">
		<div class="commentWrapper table">

			<div class="iconWrapper">
			
				<div class="icon ">
					<div class="usericon another usericoncmt" address="PRxPgS9VJS3sNu5cpUinJ89rf7HHikMpwz">
						<i class="<%- app.platform.sdk.icons.fromKey(user.key.value.toString('hex')) %>"></i>
						<div class="uloader">
							<div class="preloader5"><span></span><span></span><span></span></div>
						</div>
					</div>
				</div>

			</div>
			<div class="commentBody">

				<div class="meta">
					<div class="author"><span>PRxPgS9VJS3sNu5cpUinJ89rf7HHikMpwz</span></div>
					<div class="date"><span><%- convertDate(dateToStr(comment.time)) %></span></div>
				</div>

				

				<% if(comment.message) {

					var m = clearScripts(donottrustLink(findAndReplaceLink(comment.message, true)))

				%>

					<div class="message">
						<%=nl2br(m)%>
					</div>

				<% } %>

				<% if(comment.url) {%>

					<div class="url">
						<span>
							<a href="<%-comment.url%>"><%-comment.url%></a>
						</span>
					</div>

				<% } %>

				<div class="sys">
					<div class="txid">
						<span><%-comment.txid%></span>
					</div>
					
				</div>

				<div class="panel">
					<div class="item">
						<div class="itemwr table">
							<div class="iconwr">
								<div class="icon commentLikeAction">
									<i class="far fa-heart"></i>
								</div>
							</div>

							<div class="count">
								<span>0</span>
							</div>
							
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

<% }) %>