<% 
var i = index || 0;

shares = _.filter(shares, function(s){
	if(s.address != 'PR7srzZt4EfcNb3s27grgmiG8aB9vYNV82'){
		return true
	}
})

var groupshares = group(shares, function(s){
	return s.address
})

var me = app.platform.sdk.user.me()

_.each(groupshares, function(gs, address){ %>

	<div class="authorgroup">

		<% _.each(gs, function(share, j){ 

			var h = '';

			if (j) h = 'hidden'

		%>
				<div class="share <%-h%> <% if(me && me.relation(share.address, 'blocking')) {%>blocking<% } %>" id="<%-share.txid%>" style="">
					<div class="shareSpacer">
						
					</div>
				</div>
			<% 

			i++;

		}) %>

		<% if(gs.length > 1) { %>

			<div class="showmorebyauthor">
				Show more posts (<%- gs.length - 1 %>) from <%-deep(app, 'platform.sdk.usersl.storage.'+address+'.name') || address %>
			</div>

		<% } %>

	</div>
	
<% }) %>

	