<div class="portion">

<% 
var i = index || 0;

shares = _.filter(shares, function(s){

	var name = deep(app, 'platform.sdk.usersl.storage.' + s.address + '.name') || ''
	
	
	name = name.toLowerCase().replace(/[^a-z]/g,'')

	if((name.indexOf('pocketnet') == -1 || s.address == 'PEj7QNjKdDPqE9kMDRboKoCtp8V6vZeZPd' || s.address == 'PJ3nv2jGyW2onqZVDKJf9TmfuLGpmkSK2X') ){
		return true
	}
})

var groupshares = group(shares, function(s){
	return s.address
})

if(typeof video != 'undefined' && video) groupshares = group(shares, function(s){
	return s.txid
})

var recommendeduserscnt = true;

var me = app.platform.sdk.user.me()

_.each(groupshares, function(gs, address){ 
	%>

	<div class="authorgroup <% if(me && me.relation(address, 'blocking')) {%>blocking<% } %>">

		<% _.each(gs, function(share, j){

			var h = '';

			if (j) h = 'hidden'

		%>
				<div class="share share_common <%-h%> <% if(me && me.relation(share.address, 'blocking')) {%>blocking<% } %> shareinlenta" id="<%-share.txid%>" style="">
					<div class="shareSpacer">
						
					</div>
				</div>
			<% 

			i++;

		}) %>

		<% if(gs.length > 1) { %>

			<div elementsid="lenta_showmorebyauthor" class="showmorebyauthor">
				<%=e('e13123')%> (<%- gs.length - 1 %>) <%=e('fromsh')%> <span class="adr"><%-deep(app, 'platform.sdk.usersl.storage.'+address+'.name') || address %></span>
			</div>

		<% } %>

	</div>

<% }) %>

</div>