<div id="<%-module.map.id%>">

	<div class="mlwr">

		<div class="loadprev"><button><span><%=e('lloadprev')%></span> <span class='countnew'></span></button></div>

		<div class="circularprogress">	
			<div class="circularprogressWrapper"></div>
		</div>

		<div class="shares">
			<div class="bspacer"></div>		
		</div>

		<div class="tspacer"></div>

		<div class="loadmore"><button><%=e('lloadmore')%></button></div>

		<% if(recommended == 'recommended') {%>	
			<div class="seemore">
				<a href="index">
					<button><%=e('lloadmore')%></button>
				</a>
			</div>
		<% } else { %> 

			<div class="ended"><%=e('lend')%></div>

		<% } %>

		

		

		<% if(author) {%>

			<div class="zero">
				
				<% if(!app.platform.sdk.address.pnet() || app.platform.sdk.address.pnet().address != author) {%>

					<%=e('zerop')%>

				<% } else { %>

					<% 
						var h = 'index';

						if(isMobile()){
							h = 'share'
						}
					%>

					<a href="<%-h%>?newshare=1">


						<div class="tou">



							<i class="fas fa-share"></i> <%=e('zeroy')%> 

						
						</div>
					</a>
				<% } %>		
					
			</div>

		<% } %>

		<% if(recommended) {%>

			<div class="zero">

			<% if(recommended == 'recommended') {%>	

				You have no recommendations
				
			<% } else { %> 

				You have no subscriptions

			<% } %>

			</div>

		<% } %>

		<div class="loader">
			<div class="work">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>

	</div>

</div>