<div id="<%-module.map.id%>" class="common_share_article_wrapper">

	<div class="mlwr">

		<div elementsid="lenta_loadprev" class="loadprev"><button><span><%=e('lloadprev')%></span></button></div>

		<div class="shares">
		</div>

		<% if(!app.curation()) {%>

			<% if(recommended == 'recommended') {%>	

			<% } else { %> 

				<% if(state) {%>

					<div class="ended">
						<a elementsid="index?r=recommended" href="index?r=recommended">
							<button style="border-radius: 50px;"><%=e('e13124')%></button>
						</a>
					</div>

				<% } %>

			<% } %>

		<% } %>

		<div class="zero">
			<%=e('zeron')%>	
		</div>

		<div class="networkErrorMessage">
			<div><i class="fas fa-wifi"></i></div>
			<div><button class="button ghost"><%=e('refresh')%></button></div>
		</div>	

		<div class="loading loader">
			<div class="work">
				<div class="preloader5"><img src="./img/three-dots.svg"/></div>
			</div>
		</div>

	</div>

</div>