<div id="<%-module.map.id%>">

	<div class="mlwr">

		<div elementsid="lenta_loadprev" class="loadprev"><button><span><%=e('lloadprev')%></span></button></div>

		<div class="circularprogress">	
			<div class="circularprogressWrapper"></div>
		</div>
	
		<div class="shares">
			<div class="bspacer"></div>		
		</div>

		<div class="tspacer"></div>

		<% if(!app.curation()) {%>

			<!--<div elementsid="lenta_loadmore" class="loadmore"><button><%=e('lloadmore')%></button></div>-->

			<% if(recommended == 'recommended') {%>	

			<% } else { %> 

				<% if(state) {%>

					<div class="ended">
						<a elementsid="index?r=recommended" href="index?r=recommended">
							<button style="border-radius: 50px;"><%=e('e13124')%></button>
						</a>
					</div>

				<% } %>

			<% } %>

		<% } %>

		<div class="zero">
			<%=e('zeron')%>	
		</div>

		<div class="networkErrorMessage">
			<i class="fas fa-wifi"></i>
		</div>	


		<div class="loader">
			<div class="work">
				<div class="preloader5"><img src="./img/three-dots.svg"/></div>
			</div>
		</div>

	</div>

</div>