<div class="leaveCommentBody">
	<div class="leavewrapper table">
		<div class="iconWrapper">
			
			<div class="icon">
				<div class="usericon">
					<svg width="30" height="30" data-jdenticon-value="<%-user.key.value.toString('hex')%>"></svg>
				</div>
			</div>

		</div>
		<div class="lcpp">
			<div class="txt">
				<textarea class="leaveComment" placeholder="Leave Comment"></textarea>
			</div>

			<div class="commentPanel table">
				
				<div class="panelWrapper">
					<div class="panel">
						<div class="item url" embeding="url">
							<i class="fas fa-external-link-alt"></i>
						</div>
						<div class="item images" embeding="images">
							<i class="fas fa-image"></i>
						</div>
					</div>
				</div>

				<div class="attachements">
					<div class="imagesWrapper att"></div>
					<div class="videoWrapper att"></div>
				</div>

				<div class="postWrapper">
					<div class="postWrapper">
						<button class="post">Leave Comment</button>
					</div>
					
				</div>
				

			</div>
		</div>

	</div>
	<div class="error"></div>

	<div class="cLoader">
		<div class="preloader5"><span></span><span></span><span></span></div>
	</div>
</div>