<%

var m = [];

var all = {

	edit : {
		icon : '<i class="fas fa-pencil-alt"></i>',
		text : e('editpost'),
		class : 'edit'
	},

	remove : {
		icon : '<i class="far fa-times-circle"></i>',
		text : e('removepost'),
		class : 'edit'
	},

	share : {
		icon : '<i class="fas fa-share-alt"></i>',
		text : e('share'),
		class : 'socialshare'
	},

	subscribe : {
		icon : '<i class="fas fa-users"></i>',
		text : e('sub'),
		class : 'subscribe'
	},

	unsubscribe : {
		icon : '<i class="fas fa-user-times"></i>',
		text : e('unsub'),
		class : 'unsubscribe'
	},

	complain : {
		icon : '<i class="fas fa-ban"></i>',
		text : e('reportpost'),
		class : 'complain'
	},

	donation : {
		icon : '<i class="fas fa-donate"></i>',
		text : e('donate'),
		class : 'donate'
	},

	block : {
		icon : '<i class="fas fa-user-slash"></i>',
		text : e('blockuser'),
		class : 'block'
	},

	htls : {
		icon : '<i class="fas fa-user-slash"></i>',
		text : 'htls',
		class : 'htls'
	}

}

m.push('share')


if(share){
	if(share.address && user.address.value){

		var my = (user.address.value && share.address == user.address.value.toString('hex'))
		var subscribed = '';
		var me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))


		if (my && (!share.time || share.time > (new Date()).addHours(-24) )){
			m.push('edit')
		}

		if(!my && me){

			m.push('donation')
			/*m.push('htls')*/

			if(isMobile()){
				if (!me.relation(share.address, 'subscribes')){
					m.push('subscribe')
				}
				else
				{
					m.push('unsubscribe')
				}
			}
			

			if(typeof mestate!= 'undefined' && mestate.reputation >= 20){
				m.push('complain')
			}

			m.push('block')
		}
	}
}




%>

<div class="sharepostmenu">

	<% _.each(m, function(m){ var mo = all[m] %>

	<div class="menuitem <%-mo.class||''%> table">
		
		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>

	</div>
		
	<% }) %>

</div>