<%

var m = [];

var all = {

	edit : {
		icon : '<i class="fas fa-pencil-alt"></i>',
		text : e('editpost'),
		class : 'edit'
	},

	opennewwindow : {
		icon : '<i class="fas fa-link"></i>',
		text : e('opennewwindow'),
		class : 'opennewwindow'
	},

	pin : {
		icon : '<i class="fas fa-thumbtack"></i>',
		text : e('pin'),
		class : 'pin'
	},

	unpin : {
		icon : '<i class="fas fa-unlink"></i>',
		text : e('unpin'),
		class : 'unpin'
	},

	remove : {
		icon : '<i class="far fa-times-circle"></i>',
		text : e('removepost'),
		class : 'remove'
	},

	downloadVideo : {
		icon : '<i class="fas fa-cloud-download-alt"></i>',
		text : e('downloadVideo'),
		class : 'downloadVideo'
	},

	deleteSavedVideo : {
		icon : '<i class="fas fa-bookmark"></i>',
		text : e('deleteSavedVideo'),
		class : 'deleteSavedVideo'
	},

	complain : {
		icon : '<i class="fas fa-ban"></i>',
		text : e('reportpost'),
		class : 'complain'
	},

	share : {
		icon : '<i class="fas fa-share-alt"></i>',
		text : e('share'),
		class : 'socialshare'
	},

	shareBareVideoLink : {
		icon : '<i class="fas fa-video"></i>',
		text : e('shareBareLink'),
		class : 'videoshare'
	},

	subscribe : {
		icon : '<i class="fas fa-users"></i>',
		text : e('sub'),
		class : 'subscribe'
	},

	unsubscribe : {
		icon : '<i class="fas fa-user-times"></i>',
		text : e('unsub'),
		class : 'unsubscribe'
	},



	donation : {
		icon : '<i class="fas fa-donate"></i>',
		text : e('donate'),
		class : 'donate'
	},

	block : {
		icon : '<i class="fas fa-user-slash"></i>',
		text : e('blockuser'),
		class : 'block'
	},

	startchat : {
		icon : '<i class="far fa-comment"></i>',
		text : e('startchat'),
		class : 'startchat'
	},

	htls : {
		icon : '<i class="fas fa-cubes"></i>',
		text : 'HTLC BUY TEST',
		class : 'htls'
	}

}




if(share){

	m.push('share')

	const isElectron = (typeof _Electron !== 'undefined');
	const isSaveSupported = (window.cordova || isElectron);

	if (share.itisvideo() && isSaveSupported) {

		m.push('shareBareVideoLink');

		if(app.platform.sdk.localshares.getShare(share.txid)){
			m.unshift('deleteSavedVideo');
		}
		else{
			m.unshift('downloadVideo');
		}

	}

	m.push('opennewwindow');

	if(share.address && user.address.value){

		var my = (user.address.value && share.address == user.address.value.toString('hex'))
		var subscribed = '';
		var me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))

		if (my){

			if (share.pin){

				m.push('unpin')

			} else {

				m.push('pin');

			}
		}

		if (my){
			m.push('remove')
		}


		if (my && (!share.time || share.time > (new Date()).addHours(-24) )){
			m.push('edit')
		}

		if(!my && me){

			if((typeof mestate!= 'undefined' && !mestate.trial) || window.cordova){
				m.push('complain')
			}

			if(app.platform.matrixchat.core){
				m.push('startchat')
			}

			/*m.push('donation')*/
			/*m.push('htls')*/

			if(isMobile()){
				if (!me.relation(share.address, 'subscribes')){
					m.push('subscribe')
				}
				else
				{
					m.push('unsubscribe')
				}
			}

			m.push('block')

		}
	}



}




%>

<div class="sharepostmenu">

	<% _.each(m, function(m){ var mo = all[m] %>

	<div elementsid="lenta_menuitem_<%-mo.class||''%>" class="menuitem <%-mo.class||''%> table">

		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>

	</div>

	<% }) %>

</div>
