<%

var c = share.renders.caption();
var m = share.renders.message();
var bigmessage = false

if(typeof ed == 'undefined') ed = {}

var reputation = 0

if(share.address){

	var my = (user.address.value && share.address == user.address.value.toString('hex'))
	var subscribed = '';

	reputation = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.reputation') || 0

	if(!my && user.address.value){

		var me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))
		if (me && me.relation(share.address, 'subscribes')){
			subscribed = 'subscribed'
		}
	}

var view = 'post';
var name = app.platform.api.name(share.address)
var emptywithrepost = share.isEmpty() && share.repost
var value = Number(share.score)


var metadisplay = function(){ %>

<div class="meta">
	<div class="metatable">
		<div class="metadata">

			<% if(!emptywithrepost) {%>

				<div class="author">

					<div class="authorTable">
                        <div class="iconWrapper">
                            <a elementsid="<%-app.platform.api.authorlink(share.address)%>" href="<%-app.platform.api.authorlink(share.address)%>">
        
        
                                <% 
									var src = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image');  
									var name = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.name');	
									var letter = name ? name[0] : '';

								%>
        
                                <div class="icon">
                                    <div elementsid="<%-src || 'usericon'%>"  ban=".gif" class="usericon usericonsbsa another" image="<%-src || '*'%>">
                                     
										<% if (!src && letter) {%>
											<span 
												class="letter"
											>
												<%-letter.toUpperCase()%>
											</span>
										<% } %>
			
										<% if(app.platform.ui.markUser) {%>

											<%= app.platform.ui.markUser(share.address)%>
		
										<% } %>

                                    </div>
                                </div>
                            </a>
                        </div>

						<div class="authorCell">
							<% if(!ed.horizontal) {%>
								<span class="adr"><%-name || share.address %></span><% if(reputation > 1 || reputation < -1) {%><sup class="spsp"><%-compressedNumber(reputation, 1)%></sup><% } %>

								
							<% } %>
						</div>		
						<% if(!ed.horizontal) {%>
							<div class="datetime">
								<% if(share.time) {%>
									<span  class="realtime" time="<%-share.time%>"><%- app.reltime(share.time) %></span>
								<% } else { %> 
									<span><%=e('e13019')%></span>
								<% } %>
							</div>
						<% } %>
						
					</div>
				</div>

			<% } %> 
		</div>
	</div>					
</div>
	
<% }

%>

<% var arranges = {
	
	cm : function(){ %> 

		<% if(c) {

			c = filterXSS(clearScripts(c))
		%>
			<div class="paddingWrapper">
				<div class="sharecaption canmark opensviurl" title="<%-nl2br(trimrn(c))%>">
					<div>
						<% if(ed.horizontal) {%><span class="adr"><%-name || share.address %>:</span><% } %>
						<span><%=app.actions.emoji(nl2br(trimrn(c)))%></span>
					</div>
				</div>
			</div>

		<% } %>
		
	<% },

	
	i : function(){ %> 
		
	<% },

	u : function(){	%> 
		<% if(share.url) {

			var h = '' %>

			<div class="url"></div>

		<% } %>
	<% },


} %>


	<div class="work unselectablemobile">
		<% 
			var info = app.platform.sdk.videos.storage[share.url || "undefined"] || {}
			var aspectRatio = deep(info, 'data.aspectRatio') || 0
		%>

		<div class="shareTable lighted <%-subscribed%> <%-view%> <% if(emptywithrepost) { %> emptywithrepost <% } else { %> truerepost <% } %>" address="<%-share.address%>" stxid="<%-share.txid%>">

			<div class="cntswrk forurl <%- (aspectRatio > 0.9) && (aspectRatio < 1.25) ? 'squareVideo' : ''%> <%- (aspectRatio < 0.9) && (aspectRatio > 0) ? 'verticalVideo' : ''%>">

				<% var a = ["u"] %>

				<% _.each(a, function(key, i){ %> 

					<% if(arranges[key]) arranges[key]() %>
							
				<% }) %>

			</div>

			<div class="anothercntswrk">

				<div class="cntswrk formeta">

					<div class="metawrapper"> 
						<% metadisplay() %> 
					</div> 

				</div>

				<div class="cntswrk">

					<% var a = ["i", "cm", "p"] %>

					<% _.each(a, function(key, i){ %> 

						<% if(arranges[key]) arranges[key]() %>
								
					<% }) %>

				</div>
				

			</div>
		</div>
		
	</div>


<% } %>