

<% if(!app.television && (typeof boosted == 'undefined' || !boosted)) {%>
	<div class="portion">
<% } %>

<% 
var i = index || 0;

shares = _.filter(shares, function(share){

var userInfo = psdk.userInfo.get(share.address) || {}


	var name = ((psdk.userInfo.get(share.address) || {}).name || "").toLowerCase().replace(/[^a-z]/g,'')
	
	if((name.indexOf('pocketnet') == -1 || share.address == 'PEj7QNjKdDPqE9kMDRboKoCtp8V6vZeZPd' || share.address == 'PJ3nv2jGyW2onqZVDKJf9TmfuLGpmkSK2X') ){
		return true
	}
})

var me = app.platform.sdk.user.me()

_.each(shares, function(share){

 %>
	<div class="share  share_common <% if(me && me.relation(share.address, 'blocking')) {%>blocking<% } %> shareinlenta" id="<%-share.txid%>">
		<div class="shareSpacer">
		</div>
	</div>
<% 

i++;

}) %>


<% if(!app.television && (typeof boosted == 'undefined' || !boosted)) {%>
</div>
<% } %>
