<% 
var i = index || 0;

shares = _.filter(shares, function(s){

	var name = deep(app, 'platform.sdk.usersl.storage.' + s.address + '.name') || ''
	
	name = name.toLowerCase().replace(/[^a-z]/g,'')

	if((name.indexOf('pocketnet') == -1 || s.address == 'PEj7QNjKdDPqE9kMDRboKoCtp8V6vZeZPd' || s.address == 'PJ3nv2jGyW2onqZVDKJf9TmfuLGpmkSK2X') ){
		return true
	}
})

var me = app.platform.sdk.user.me()

_.each(shares, function(share){

 %>
	<div class="share share_common <% if(me && me.relation(share.address, 'blocking')) {%>blocking<% } %> shareinlenta" id="<%-share.txid%>">
		<div class="shareSpacer">
			
		</div>
	</div>
<% 

i++;

}) %>