<%

var c = share.renders.caption();
var cc = share.renders.captionclear();

if(typeof ed == 'undefined') ed = {}

var thisrepost = (typeof repost != 'undefined' && repost)

if(share.address){

	var my = (user.address.value && share.address == user.address.value)
	var subscribed = '';

	if(!my && user.address.value){

		var me = app.platform.sdk.users.storage[user.address.value]

		if (me && me.relation(share.address, 'subscribes')){
			subscribed = 'subscribed'
		}
	}

var view = 'post';

if(share.settings.v == 'a'){
	view = 'article'
}

fromempty = false

var cview = view

if(share.itisvideo()) cview = 'video'

var bigmessage = false;
var name = app.platform.api.name(share.address)

var emptywithrepost = false


var value = Number(share.score)

var checkvisibility = app.platform.sdk.node.shares.checkvisibility(share)

var lockedaccount = app.platform.sdk.user.reputationBlockedNotMe(share.address)

var metadisplay = function(){ %>

	<div class="meta unselectablemobile <% checkvisibility ? 'checkvisibility' : '' %>">
		<div class="metatable">
			<div class="metadata">

				<div class="author">

					<div class="authorTable">
						<div class="authorCell">

							<a elementsid="shareaddresslink" href="<%-app.platform.api.authorlink(share.address)%>">
							<% var reputation = deep(app.platform.sdk.usersl.storage, share.address+'.reputation') || 0 %>
								<b><span class="adr"><%-name || share.address %></span></b><% if(reputation && !app.curation()) {%><sup class="spsp"><%-compressedNumber(reputation, 1)%></sup><% } %>
							</a>



							<% if((!state || !my) && (typeof repost == 'undefined' || !repost)) { %>

								<span elementsid="sbtnxs-follow" class="sbtnxs">
									&middot; <span class="subscribeLabel asubscribe"><%=e('sub')%></span><span class="subscribedLabel aunsubscribe"><%=e('subi')%></span>
								</span>

							<% } %>


						</div>

						<div class="sys unselectablemobile">
							<%if(share.pin){%><span class="pinnedLabel"><i class="fas fa-thumbtack"></i> <%=e('pinned').toLowerCase()%>,</span><%} else { if(share.repost) { %><span><i class="fas fa-share"></i> <%=e('reposted')%>, </span><% } }%><% if(share.downloadedDate) {%> <span class="fas fa-cloud-download-alt"></span> <span class="realtime editedLabel" time="<%-share.downloadedDate%>"><%- app.reltime(share.downloadedDate) %></span><% } else { %>
							<% if(share.time) {%><span  class="realtime " time="<%-share.time%>"><%- app.reltime(share.time) %></span><% } else { %><span><%=e('e13019')%></span><% } %><% if(share.edit == 'true') {%><span class="editedLabel">, <%=e('e13130').toLowerCase()%></span><% } %><% } %><% if(share.visibility()) {%><span class="visibilityLabel">, <%=e('sharevisibility_' + share.visibility()).toLowerCase()%></span><% } %>
						</div>


					</div>
				</div>

			</div>

			<% if((typeof preview == 'undefined' || !preview)) {%>

				<% if((typeof repost == 'undefined' || !repost)) { %>

					<div elementsid="lenta_metapanel" class="metapanel <%-share.txid%>">
						<% if(!checkvisibility && (typeof openapi == 'undefined' || !openapi)) {%>
							<div class="metapanelitem metmenu">
								<i class="fas fa-ellipsis-h"></i>
							</div>
						<% } else { %>
							<div class="metapanelitem">

							</div>
						<% } %>

					</div>


				<% } %>

				<% if(typeof repost != 'undefined' && !fromempty) { %>

					<div class="metapanel">
						<div class="metapanelitem openoriginal">
							<i class="fas fa-link"></i> <span class="openoriginallabel"><%= e('opennew') %></span>
						</div>
					</div>

				<% } %>

			<% } %>

		</div>
	</div>

<% }

%>

<%

var makecaption = function(){

	%>

		<% if(c) {

			c = findAndReplaceLink(filterXSS(clearScripts(c)), true)
		%>
			<div class="paddingWrapper">
				<div class="sharecaption canmark">
					<span><%=app.actions.emoji(nl2br(trimrn(c)))%></span>
				</div>
			</div>

	<% }

}

var makecaptionclear = function(){

	%>

		<% if(cc) {

			cc = findAndReplaceLink(filterXSS(clearScripts(cc)), true)


		%>
			<div class="paddingWrapper hideOnFullVideo">
				<div class="sharecaption canmark cancopy">
					<%=app.actions.emoji(nl2br(trimrn(cc)))%>
				</div>
			</div>

	<% }

}

var makearticle = function(){

	var edjs = new edjsHTML(null, app)

	%>

	<div class="article">
		<%=edjs.parse(share.message)%>
	</div>

	<%
}

var arranges = {

	cm : function(){



		makecaption()

		if (share.itisarticle()){
			return makearticle()
		}

		var m = share.renders.message();

		if(m) {

			var nm = m;

			if(typeof all == 'undefined' || !all){

				nm = trimHtml(m, 750);

				var nmbrar = nm.split("\n")
				var nmbrarl = nmbrar.length


				if (nmbrarl > 15){
					bigmessage = true;

					nm = _.first(nmbrar, 15).join('\n')
				}

				else{
					if (nm != m){
						bigmessage = true;
					}
				}


			}

			nm = findAndReplaceLink(share.renders.xssmessage(nm), true)

		%>
			<div class="paddingWrapper ">
				<div class="message canmark cancopy">
					<%=app.actions.emoji((clearScripts(((nm)))))%>
				</div>
			</div>

			<% if(bigmessage) {%>

				<div class="showMore">
					<button class="ghost">
						<%=e('showmore')%>
					</button>
				</div>

			<% } %>

		<% } %>

	<% },


	i : function(){ %>
		<% if(share.images.length) {

				var icClass = '';
				var additionall = 0;

				if (share.images.length + additionall == 1) icClass = 'one';
				if (share.images.length + additionall == 2) icClass = 'two';
				if (share.images.length + additionall == 2) icClass = 'three';
				if (share.images.length + additionall == 4) icClass = 'four';
				if (share.images.length + additionall > 4) icClass = 'more';

				if(share.settings.v != 'a' || share.images.length + additionall > 2){

					if(share.settings.v == 'a'){

						icClass = 'articleImages'

					%>

						<div class="imagecaption">
							<%=e('e13129')%>:
						</div>

					<% } else {

						if((thisrepost || isMobile() || (typeof openapi != 'undefined' && openapi)) && share.images.length + additionall > 1){
							icClass = 'owlcar owl-carousel noswipepnt'
						}

					} %>



					<div class="images shareImages hideOnFullVideo unselectable noswipepnt">
						<div class="imagesContainer <%-icClass%>">


							<% _.each(share.images, function(image){ %>

								<div class="imagesWrapper">
									<div elementsid="lenta_imageOpen" class="image imageOpen imagePostOpent" save="<% if(typeof nameFromScr != 'undefined') {%><%- nameFromScr(image) %><% } %>" image="<%-image || '*'%>" i="<%-image%>">
									</div>
								</div>

							<% }) %>



						</div>
					</div>

				<% } %>

		<% } %>
	<% },

	u : function(){	%>
		<% if(share.url) {


			var h = ''

			if(parseVideo(share.url).type && share.images.length){
				h = 'hiddenurl'
			}

			%>

			<div class="url <%-h%>">
			</div>

		<% } %>
	<% },


} %>

<div class="sharecnt <% if(share.deleted) { %> deleted <% } %>">

	<div class="work unselectablemobile">

		<div class="shareTable <%-subscribed%> <%-view%> truerepost" address="<%-share.address%>" stxid="<%-share.txid%>">



				<div class="iconWrapper">
					<a elementsid="shareiconprofilelink" href="<%-app.platform.api.authorlink(share.address)%>">

						<%
							var src = deep(app.platform.sdk.usersl.storage, share.address + '.image');
							var letter = name ? name[0] : '';

						%>

						<div class="icon">
							<div class="usericon usericonsbsa another" image="<%-src || '*'%>" ban=".gif">

								<% if(!src && letter) { %>

									<span class="letter">
										<%-letter.toUpperCase()%>
									</span>

								<% } else if (!src) { %>

									<svg width="30" height="30" data-jdenticon-value="<%-share.address%>"></svg>

								<% } %>

								<% if(app.platform.ui.markUser) {%>

									<%= app.platform.ui.markUser(share.address)%>

								<% } %>

							</div>
						</div>

					</a>

				</div>

			<% if(!emptywithrepost) { %>

			<% } %>

			<div class="cntswrk  formeta">

				<div class="metawrapper">
					<% metadisplay() %>
				</div>

			</div>

			<% if(!checkvisibility && !lockedaccount) {%>

				<div class="cntswrk cntscontent postcontent">


					<% var a = share.settings.a || share.default.a %>


					<% _.each(a, function(key, i){ %>

						<% if(arranges[key]) arranges[key]() %>

					<% }) %>

				</div>

			<% } else { %>
				<div class="cntswrk cntscontent postcontent">

					<div class="hiddenpost">

						<% if(!lockedaccount) {%>
							<div class="captionpreview">
								<% makecaptionclear() %>
							</div>

							<% if(checkvisibility == 'sub'){ %>

								<div class="hiddenlabeltext">
									<%=e('sharevisibilitylabel_sub_' + cview)%>
								</div>

							<% } %>

							<% if(checkvisibility == 'reg'){ %>

								<div class="hiddenlabeltext">
									<%=e('sharevisibilitylabel_reg_' + cview)%>
								</div>

							<% } %>

							<% if(!state) {%>

								<div class="hiddenlabelaction">
									<button elementsid="hrefregistration" class="orange small button toregistration"><%=e('signupmenu')%></button>
								</div>

							<% } %>

						<% } else { %>

							<div class="hiddenlabeltext">
								<%=e('lockedaccounta')%>
							</div>

						<% } %>


					</div>


				</div>

			<% } %>


			<div class="cntswrk removeDescription postcontent">
				<%=e('postRemoved')%>
			</div>

			<div class="repostWrapper cntscontent postcontent"></div>

			<% if(!emptywithrepost) {%>

				<div class="cntswrk cntscontent">
					<div class="paddingWrapper">

						<% if(share.tags && share.tags.length > 0) {

							var bycategories = app.platform.sdk.categories.fromTags(share.tags, share.lanuage)


							%>

							<div class="tags canmark hideOnFullVideo unselectablemobile">
								<% _.each(bycategories.categories, function(category){ %>

									<div class="category">
										<a elementsid="tagslink" href="index?sst=<%-category.tags.join(' ')%>">
											<span>@<%-category.name%></span><% if(category.new) {%>&nbsp;<span class="newlabel">New!</span><% } %>
										</a>
									</div>

								<% }) %>

								<% _.each(bycategories.tags, function(tag){

									var additional = app.platform.sdk.tags.findadditional(tag)

									%>

									<div class="tag">
										<a elementsid="tagslink2" href="index?sst=<%-tag%>">
											<span>#<%-tag%></span><% if(additional && additional.new) {%>&nbsp;<span class="newlabel">New!</span><% } %>
										</a>
									</div>

								<% }) %>
							</div>




						<% } %>

						<% if(share.hasexchangetag()) {%>
							<div class="pkoin_commerce_info">
								<span><%=e('pkoin_commerce_info')%></span>
							</div>
						<% } %>


						<% if(!share.temp &&   (typeof repost == 'undefined' || !repost || fromempty)) {%>
							<div class="panel sharepanel unselectablemobile">
								<div class="item forstars">

								</div>

								<% const isElectron = (typeof _Electron !== 'undefined' && !!window.electron); %>
								<% const isSaveSupported = (window.cordova || isElectron && !isios()); %>

								<% if(isSaveSupported && share.itisvideo()) {

									var status = app.platform.sdk.localshares.status(share.txid)

									%>

									<% if(!checkvisibility) {%>

									<div elementsid="lenta_shareSave" class="item shareSave" status="<%-status%>">

										<div class="itemwr table">

											<div class="iconwr">
												<div class="icon">
													<i class="fas fa-download cansave"></i>
													<i class="fas fa-spinner fa-spin saving"></i>
													<i class="fas fa-trash saved"></i>
												</div>
											</div>

										</div>

									</div>

									<% } %>

								<% } else { %>

								<% } %>

								<% if((typeof preview == 'undefined' || !preview) ) {%>

									<div class="item sharesocial unselectable">

										<div class="itemwr table">
											<div class="iconwr">
												<div class="icon">
													<i class="fas fa-share-alt"></i>
												</div>
											</div>
										</div>

									</div>

								<% } %>

								<% if(!my) {%>
									<div class="item pkoin right unselectedtable">
										<img src="img/pocketnet_logo_white.svg" alt="">
										<span class='workstation'>
											PKOIN
										</span>
									</div>
								<% } %>

							</div>


						<% } %>

						<% if(share.temp) {%>

							<div class="panel sharepanel unselectablemobile">
								<div class="item right">

									<div class="itemwr table tempPreloader">

										<div class="iconwr">
											<div class="preloader5"><img src="./img/three-dots.svg"/></div>
										</div>

										<div elementsid="lenta_forstars_count" class="count">
											<div class="label">

												<span><%=e('postWaitConf')%></span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>

						<% } %>




					</div>


				</div>

				<% if(typeof verticalVideo != 'undefined' && verticalVideo) {%>

					<% if(!emptywithrepost) {%>

						<% if(typeof repost == 'undefined' || !repost || fromempty) {%>
							<div class="cntswrk forcomments">
								<div class="paddingWrapper">
									<div class="commentsWrapperHb">

										<div class="commentsWrapper">
										</div>

									</div>
								</div>
							</div>
						<% } %>

					<% } %>

				<% } %>





			<% } %>

		</div>

		<div class="blockAuthor">
			<div class="blockCell">
				<div class="label"><%=e('e13131')%></div>
				<button class="button small unblockbutton">
					Unblock
				</button>
			</div>
		</div>

	</div>

	<div class="exitFull roundclosebutton unselectablemobile">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>

	<% if(typeof verticalVideo == 'undefined' || !verticalVideo) {%>

		<% if(!emptywithrepost) {%>

			<% if(typeof repost == 'undefined' || !repost || fromempty) {%>

				<div class="showmorelenta"></div>

				<div class="commentsWrapperHb">

					<div class="commentsWrapper">
					</div>

				</div>

			<% } %>

		<% } %>

	<% } %>

</div>

<% } %>
