<%

var c = share.renders.caption();
var m = share.renders.message();
var cc = share.renders.captionclear();
var bigmessage = false

if(typeof ed == 'undefined') ed = {}

if(share.address){

	var my = (user.address.value && share.address == user.address.value.toString('hex'))
	var subscribed = '';

	if(!my && user.address.value){

		var me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))
		if (me && me.relation(share.address, 'subscribes')){
			subscribed = 'subscribed'
		}
	}

var view = 'post';
var name = app.platform.api.name(share.address)

var cview = view

if(share.itisvideo()) cview = 'video'

var checkvisibility = app.platform.sdk.node.shares.checkvisibility(share)
var emptywithrepost = share.isEmpty() && share.repost
var value = Number(share.score)

var makecaptionclear = function(){

	%> 

		<% if(cc) {

			cc = filterXSS(clearScripts((findAndReplaceLink(cc))))


		%>
			<div class="">
				<div class="sharecaption canmark">
					<%=app.actions.emoji(nl2br(trimrn(cc)))%>
				</div>
			</div>

	<% } 

}

var metadisplay = function(){ %>

<div class="meta">
	<div class="metatable">
		<div class="metadata">

			<% if(!emptywithrepost) {%>

				<div class="author ">

					<div class="authorTable table">


                        <div class="iconWrapper">
                            
                            <a elementsid="<%-app.platform.api.authorlink(share.address)%>" href="<%-app.platform.api.authorlink(share.address)%>">
        
        
                                <% 
									var src = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image');
									var letter = name ? name[0] : '';

								%>
        
                                <div class="icon">
                                    <div class="usericon usericonsbsa another "  ban=".gif" elementsid="<%-src || 'userimg'%>" image="<%-src || '*'%>">
                                     
			
										<% if (!src && letter) {%>

											<span 
												class="letter"
											>
												<%-letter.toUpperCase()%>
											</span>
						
										<% } %>

										<% if(app.platform.ui.markUser) {%>

											<%= app.platform.ui.markUser(share.address)%>
		
										<% } %>

                                    </div>
                                </div>
        
                            </a>
        
                        </div>
            

						<div class="authorCell">
							<div>
								<a elementsid="<%-app.platform.api.authorlink(share.address)%>" href="<%-app.platform.api.authorlink(share.address)%>">
								<% var reputation = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.reputation') || 0; %>
									<span class="adr"><%-name || share.address %></span><% if(reputation > 1 || reputation < -1) {%><sup class="spsp"><%-compressedNumber(reputation, 1)%></sup><% } %>
								</a>

								<% if((!state || !my) && (typeof repost == 'undefined' || !repost)) { %> 

									<span class="sbtnxs">
										&middot; <span class="subscribeLabel asubscribe"><%=e('sub')%></span><span class="subscribedLabel aunsubscribe"><%=e('subi')%></span>
							
									</span>

								<% } %>
							</div>

							<div class="datetime">
								<% if(share.time) {%>
									<span  class="realtime" time="<%-share.time%>"><%- app.reltime(share.time) %></span>
								<% } else { %> 
									<span><%=e('e13019')%></span>
								<% } %>
							</div>
							
						</div>			
                        
                        
						
					</div>
				</div>

			<% } else { %> 
			
				<div class="repostCaption">
					<i class="fas fa-share"></i> 
					<a elementsid="<%-app.platform.api.authorlink(share.address)%>" href="<%-app.platform.api.authorlink(share.address)%>">
						<span class="adr"><%-name || share.address %></span>
					</a>
				</div>
				
			<% } %>
		
		</div>

		<% if(!checkvisibility && state && (typeof repost == 'undefined' || !repost)) { %>			

			<div class="metapanel">
				<div class="metapanelitem metmenu">
					<i class="fas fa-ellipsis-h"></i>
				</div>
			</div>

		<% } %>

		<% if(!checkvisibility && typeof repost != 'undefined' && repost && !fromempty) { %> 

			<div class="metapanel">
				<div class="metapanelitem">
					<a elementsid="<%-app.platform.api.authorlink(share.address)%>?s=<%-share.txid%>&mpost=true" href="<%-app.platform.api.authorlink(share.address)%>?s=<%-share.txid%>&mpost=true">
						<i class="fas fa-share"></i> 
					</a>
				</div>
			</div>
			
		<% } %>
		
	</div>					
</div>
	
<% }

%>

<% var arranges = {
	
	cm : function(){ %> 

		<% if(c) {

			c = filterXSS(clearScripts((findAndReplaceLink(c, true))))
		%>
			<div class="paddingWrapper piphidden">
				<div class="sharecaption canmark opensviurl lenta_opensviurl">
					<span>
						<%=app.actions.emoji(nl2br(trimrn(c)))%>
					</span>
				</div>
			</div>

		<% } %>

		<% if(m) {

            if(typeof tplvideo != 'undefined' && tplvideo) return

			m = (m)
			
			var nm = m;

			if(typeof all == 'undefined' || !all){

				nm = trimHtml(m, 750);

				if(nm != m){
					bigmessage = true;
				}
			}

			nm = share.renders.xssmessage(nm)

		%>
			<div class="paddingWrapper hideOnFullVideo piphidden">
				<div class="message canmark">

					<%=app.actions.emoji((clearScripts(((nm)))))%>

				</div>
			</div>

			<% if(bigmessage) {%>

				<div class="paddingWrapper showMorePW piphidden">
					<div elementsid="lenta_showmore" class="showMore">
						<div class="showmoretable table">
							<!-- <div class="linecell">
								<div class="line"></div>
							</div> -->
							<div class="buttoncell">
								<button>
									<%=e('showmore')%>
								</button>
							</div>
							<!-- <div class="linecell">
								<div class="line"></div>
							</div> -->
						</div>
						

					</div>
				</div>

			<% } %>

		<% } %>
		
	<% },

	
	i : function(){ %> 
		
	<% },

	u : function(){	%> 
		<% if(share.url) {

			var h = ''
			
			%>

			<div class="url">
			</div>

		<% } %>
	<% },


} %>


	<div class="work unselectablemobile">

		<% 

			var info = app.platform.sdk.videos.storage[share.url || "undefined"] || {}
			var aspectRatio = deep(info, 'data.aspectRatio') || 0

		%>

		<div class="shareTable  <%-subscribed%> <%-view%> <% if(emptywithrepost) { %> emptywithrepost <% } else { %> truerepost <% } %>" address="<%-share.address%>" stxid="<%-share.txid%>">

			<% if(!checkvisibility) {%>
				<div class="cntswrk forurl">

					<% var a = ["u"] %>

					<% _.each(a, function(key, i){ %> 

						<% if(arranges[key]) arranges[key]() %>
								
					<% }) %>

				</div>
				<% } else { %> 
					<div class="cntswrk cntscontent piphidden">
	
						<div class="hiddenpost">
	
	
	
							<div class="captionpreview">
								<% makecaptionclear() %>
							</div>
	
							<% if(checkvisibility == 'sub'){ %>
	
								<div class="hiddenlabeltext">
									<%=e('sharevisibilitylabel_sub_' + cview)%>
								</div>
	
								
	
							<% } %>
	
							<% if(checkvisibility == 'reg'){ %>
	
								<div class="hiddenlabeltext">
									<%=e('sharevisibilitylabel_reg_' + cview)%>
								</div>
	
	
							<% } %>
	
	
							<% if(!state) {%>

								<div class="hiddenlabelaction">
									<button elementsid="hrefregistration" class="orange small button toregistration"><%=e('signupmenu')%></button>
								</div>
	
							<% } %>
						</div>
						
		
					</div>
					
				<% } %>

			<div class="anothercntswrk piphidden">

				<div class="cntswrk formeta">

					<div class="metawrapper"> 
						<% metadisplay() %> 
					</div> 

				</div>

				<div class="cntswrk">

					<% var a = ["i", "cm", "p"] %>

					<% _.each(a, function(key, i){ %> 

						<% if(arranges[key]) arranges[key]() %>
								
					<% }) %>

				</div>

				<% if(!emptywithrepost) {%>

					<div class="cntswrk">
						<div class="paddingWrapper">
							
							<% if(share.tags && share.tags.length > 0) {

								var bycategories = app.platform.sdk.categories.fromTags(share.tags, share.lanuage)

								
								%>

								<div class="tags canmark ">

									
									<% _.each(bycategories.categories, function(category){ %>

										<div class="category">
											<a elementsid="index?sst=<%-category.tags.join(' ')%>" href="index?sst=<%-category.tags.join(' ')%>">
												<span><b>@<%-category.name%></b></span> 
											</a>
											<!--<% _.each(category.tags, function(tag){ %><span>#<%-tag%></span><% }) %><span>;</span>-->
									
										</div>

									<% }) %>

									<% _.each(bycategories.tags, function(tag){ %>

										<div class="tag">
											<a elementsid="index?sst=<%-tag%>" href="index?sst=<%-tag%>">
												<span>
													#<%-tag%>
												</span>
											</a>
										</div>

									<% }) %>
								</div>

							<% } %>

						

							<% if(!share.temp &&  (typeof repost == 'undefined' || !repost || fromempty)) {%>
								<div class="panel sharepanel">
									<div class="item forstars">

										
									</div>

									<% const isElectron = (typeof _Electron !== 'undefined' && !!window.electron); %>
									<% const isSaveSupported = (window.cordova); %>

									<% if(isSaveSupported && share.itisvideo() ) {

										var status = app.platform.sdk.localshares.status(share.txid)
										
										%>
	
										<% if(!checkvisibility) {%>
	
										<div elementsid="lenta_shareSave" class="item shareSave" status="<%-status%>">
	
											<div class="itemwr table">
	
												<div class="iconwr">											
													<div class="icon">
														<i class="fas fa-download cansave"></i>
														<i class="fas fa-spinner fa-spin saving"></i>
														<i class="fas fa-trash saved"></i>
													</div>
												</div>
											
											</div>
	
										</div>
	
										<% } %>
	
									<% } else { %> 
										
									<% } %>
	
									<% if((typeof preview == 'undefined' || !preview) ) {%>			
	
										<div class="item sharesocial unselectable">
	
											<div class="itemwr table">
												<div class="iconwr">
													<div class="icon">
														<i class="fas fa-share-alt"></i>
													</div>
												</div>
											</div>
											
										</div>
	
									<% } %>
	
									<% if(!my) {%>
										<div class="item pkoin right unselectedtable">
											<img src="img/pocketnet_logo_white.svg" alt="">
											<span class='workstation'>
												PKOIN
											</span>
										</div>
									<% } %>
									
								</div>

							
							<% } %>

							<% if(share.temp) {%>

								<div class="panel sharepanel">
									<div class="item right">

										<div class="itemwr table tempPreloader">
											
											<div class="iconwr">
												<div class="preloader5"><img src="./img/three-dots.svg"/></div>
											</div>
											
											<div class="count">
												<div class="label">

													<span><%=e('postWaitConf')%></span>
												</div>
											</div>	
										</div>
									</div>
								</div>

							<% } %>
							

						</div>



						
					</div>

				<% } %>



			</div>
		</div>

		<div class="blockAuthor piphidden">
			<div class="blockTable table">
				<div class="blockCell">
					<div class="label"><%=e('e13131')%></div>

					<div class="unblockWrapper">
						<button elementsid="lenta_unblockbutton" class="button small unblockbutton">
							Unblock
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div elementsid="lenta_exitFull" class="exitFull roundclosebutton unselectablemobile piphidden">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>


<% if(!emptywithrepost) {%>

	<% if(typeof repost == 'undefined' || !repost || fromempty) {%>

		<div class="showmorelenta piphidden"></div>

		<div class="commentsWrapperHb piphidden">
			
			<div class="commentsWrapper">
			</div>

		</div>

	<% } %>

<% } %>


<% } %>