<%

var c = share.renders.caption();
var m = share.renders.message();
var bigmessage = false

if(typeof ed == 'undefined') ed = {}

var reputation = 0

if(share.address){

	var my = (user.address.value && share.address == user.address.value.toString('hex'))
	var subscribed = '';

	reputation = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.reputation') || 0

	if(!my && user.address.value){

		var me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))
		if (me && me.relation(share.address, 'subscribes')){
			subscribed = 'subscribed'
		}
	}

var view = 'post';
var name = app.platform.api.name(share.address)
var emptywithrepost = share.isEmpty() && share.repost
var value = Number(share.score)


var metadisplay = function(){ %>

<div class="meta">
	<div class="metatable table">
		<div class="metadata">

			<% if(!emptywithrepost) {%>

				<div class="author">

					<div class="authorTable table">


                        <div class="iconWrapper">
                            
                            <a href="<%-app.platform.api.authorlink(share.address)%>">
        
        
                                <% var src = deep(app, 'platform.sdk.usersl.storage.'+share.address+'.image')  %>
        
                                <div class="icon">
                                    <div class="usericon usericonsbsa another" image="<%-src || ''%>">
                                     
										<% if(deep(app, 'platform.real.'+share.address)) {%>
											<div class="realperson">
		
												<span class="fa-stack fa-2x">
													<i class="fas fa-certificate fa-stack-2x"></i>
													<i class="fas fa-check fa-stack-1x"></i>
												  </span>
											</div>
										<% } %>
                                    </div>
                                </div>
        
                            </a>
        
                        </div>
            

						<div class="authorCell">
							
						</div>			
						
					</div>
				</div>

			<% } else { %> 
			
				
				
			<% } %>
		
		</div>
	
	</div>					
</div>
	
<% }

%>

<% var arranges = {
	
	cm : function(){ %> 

		<% if(c) {

			c = filterXSS(clearScripts((findAndReplaceLink(c, true))))
		%>
			<div class="paddingWrapper">
				<div class="sharecaption canmark opensviurl" title="<%-nl2br(trimrn(c))%>">
					<div>
						<span class="adr"><%-name || share.address %>:</span> <%=app.actions.emoji(nl2br(trimrn(c)))%>
					</div>
				</div>
			</div>

		<% } %>

		<% if(m) {

            if(typeof tplvideo != 'undefined' && tplvideo) return

		%>
			

		<% } %>
		
	<% },

	
	i : function(){ %> 
		
	<% },

	u : function(){	%> 
		<% if(share.url) {

			var h = '' %>

			<div class="url">
			</div>

		<% } %>
	<% },


} %>


	<div class="work">

		<% 

			var info = app.platform.sdk.videos.storage[share.url || "undefined"] || {}
			var aspectRatio = deep(info, 'data.aspectRatio') || 0

		%>

		<div class="shareTable lighted <%-subscribed%> <%-view%> <% if(emptywithrepost) { %> emptywithrepost <% } else { %> truerepost <% } %>" address="<%-share.address%>" stxid="<%-share.txid%>">

			<div class="cntswrk forurl <%- (aspectRatio > 0.9) && (aspectRatio < 1.25) ? 'squareVideo' : ''%> <%- (aspectRatio < 0.9) && (aspectRatio > 0) ? 'verticalVideo' : ''%>">

				<% var a = ["u"] %>

				<% _.each(a, function(key, i){ %> 

					<% if(arranges[key]) arranges[key]() %>
							
				<% }) %>

			</div>

			<div class="anothercntswrk">

				<div class="cntswrk formeta">

					<div class="metawrapper"> 
						<% metadisplay() %> 
					</div> 

				</div>

				<div class="cntswrk">

					<% var a = ["i", "cm", "p"] %>

					<% _.each(a, function(key, i){ %> 

						<% if(arranges[key]) arranges[key]() %>
								
					<% }) %>

				</div>
				

			</div>
		</div>
		
	</div>


<% } %>