<% 

	var my = (user.address.value && share.address == user.address.value.toString('hex'))
	var value = Number(share.score)

	if (Number(share.scnt) && _.isNumber(Number(share.scnt))) {
		value = value / Number(share.scnt)
	}
	else {
		value = 0
	}

	var liked = ''

	var v = ''

	if (share.myVal) {
		v = 'value=' + share.myVal
		liked = 'liked'
	}

	var checkvisibility = app.platform.sdk.node.shares.checkvisibility(share)


	if(my || checkvisibility) liked = 'disabled'

	


	%>

<div class="itemwr unselectable">
	<div class="starswr">
		<div elementsid="lenta_stars" class="stars likeAction <%-liked%>" <%-v%>>

			<div class="starsWrapper starsWrapperM">
				<div 
					elementsid="fa-star-1"
					class="starWrapper"
				>
					<i class="far fa-star" value="1"></i>
				</div>
				<div 
					elementsid="fa-star-2"
					class="starWrapper"
				>
					<i class="far fa-star" value="2"></i>
				</div>
				<div 
					elementsid="fa-star-3"
					class="starWrapper"
				>
					<i class="far fa-star" value="3"></i>
				</div>
				<div 
					class="starWrapper"
					elementsid="fa-star-4"
				>
					<i class="far fa-star" value="4"></i>
				</div>
				<div 
					class="starWrapper"
					elementsid="fa-star-5"
				>
					<i class="far fa-star" value="5"></i>
				</div>
			</div>

			<div class="tstars">
				<div class="tstarsov" style="width: <%-100*(value / 5)%>%">
					<div class="starsWrapper">
						<div class="starWrapper">
							<i class="far fa-star" value="1"></i>
						</div>
						<div class="starWrapper">
							<i class="far fa-star" value="2"></i>
						</div>
						<div class="starWrapper">
							<i class="far fa-star" value="3"></i>
						</div>
						<div class="starWrapper">
							<i class="far fa-star" value="4"></i>
						</div>
						<div class="starWrapper">
							<i class="far fa-star" value="5"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<% if(typeof hideCount === 'undefined' || !hideCount) {%>

		<div elementsid="conutdetails" class="count">
			<div class="v"><span><%-value.toFixed(1)%></span></div> 
			<% if(value) {%>
			<% if(Number(share.scnt)) {%> <div class="countusers"><i class="far fa-user"></i><span class="c"><%-Number(share.scnt)%></span></div> <% } %>
			<% } %>
		</div>
		
	<% } %>


</div>