
    <div class="webadminscontent">
        <div class="work">
    
            <% if(ids.length) {%>
            <% _.each(ids, function(_uadmin){ 

                var uadmin = _uadmin.split("_")[0]
                var value = _uadmin.split("_")[1]

                var user = deep(app, 'platform.sdk.users.storage.'+uadmin) || {} %>
    
           
                <div class="adminWrapper">
                    <div class="tableovfWrapper">
                        <div class="admin table">
    
                            <div class="iconWrapper">
                                <% if(!app.curation()) {%> <a elementsid="<%-app.platform.api.authorlink(uadmin)%>" href="<%-app.platform.api.authorlink(uadmin)%>"> <% } %>
    
                                    <% 
                                        var src = user.image;
                                        var name = user.name;
                                        var letter = name ? name[0] : '';    
                                    %>
    
                                    <div class="icon">
                                        <div class="usericon usericonsbsa another" elementsid="<%-src || 'usericon'%>" image="<%-src || ''%>">

                                            <% if(!src && letter) { %>

                                                <span class="letter">
                                                    <%-letter.toUpperCase()%>
                                                </span>
                            
                                            <% } else if (!src) { %>
                            
                                                <svg width="30" height="30" data-jdenticon-value="<%-uadmin%>"></svg>
                            
                                            <% } %>
                                        </div>
                                    </div>
                                <% if(!app.curation()) {%>  </a> <% } %>
    
                            </div>
                            
                            <div class="nameWrapper">
    
                                <% if(!app.curation()) {%><a elementsid="<%-app.platform.api.authorlink(uadmin)%>" href="<%-app.platform.api.authorlink(uadmin)%>"><% } %>
                                    <%- user.name || uadmin %>
                                <% if(!app.curation()) {%></a><% } %>
                                
                            </div>			
                          
                            <div class="value">
                                <%-value%>
                            </div>
                        </div>
                    </div>
                </div>
    
            <% }) %>
            <% } else {%> 
                
            <div class="empty">
                <span>There are no users rated this share</span>
            </div>    
    
            <% } %>
        </div>
    
    </div>