<div class="tosubscribeshares">
    <div class="tosubscribesharesWrapper">
        <div class="tosubscribeshares_caption">
            <span><%=e('continuesubscribefeedCaption')%></span>
        </div>

        <div class="tosubscribeshares_buttonWrapper">
            <% if(share) {%>
                <a href="index?r=sub&np=1&s=<%-share.txid%>" handler="true">
                    <button class="button"><%=e('continuesubscribefeedButton')%></button>
                </a>
            <% } else { %>
                <a href="index?r=sub" handler="true">
                    <button class="button"><%=e('continuesubscribefeedButton')%></button>
                </a>
            <% } %>
            
        </div>
    </div>
</div>