<% if(wholikes.length) {
    
    wholikes = firstEls(wholikes, 3);
    
    %>

    <div class="wholikesTable">
        <% _.each(wholikes, function(whl, i){
                console.log('whl!!!', whl);
            %> 
            <div class="wholikeAuthorTable table">
                <div class="uiconcell">
                    <div class="usericon usericonsbsa another" elementsid="<%-whl.avatar%>" image="<%-whl.avatar || '*'%>">
                        <% if(!whl.avatar) {%>
                            <svg width="30" height="30" data-jdenticon-value="<%-whl.address%>"></svg>
                        <% } %>
                    </div> 
                </div>
                <div class="unamecell">
                    <b><%-decodeURIComponent(whl.name)%></b><% if(i < wholikes.length - 1) {%>, <%} else {%>

                        

                            <span class="morelikes">
                                <% if(wholikes.length < scores) {%>
                                    + <b><%- scores - wholikes.length %></b> <%- pluralform(scores - wholikes.length, [e('user'), e('userstx')]) %>
                                <% } %>

                                <%=e('e13132')%>
                            </span>
                
                       

                    <% } %>



                </div>
            </div>
            
        <% }) %>

       
    </div>

<% } %>