.lentaWrapper > div#post {
  background: transparent;
}
.lentaWrapper > div#post .share {
  margin-bottom: 0;
}
#post.preshell {
  background: transparent;
}
#post {
  background: #f6f6f6;
  /*.repostsecond{
		padding-top : 2 * @rhythm;

		div{
			font-size: 0.8em;
			color : @color-main;
			text-decoration: underline;
		}
	}*/
}
#post .spsp {
  color: #00A4FF;
}
#post .videoWrapper {
  max-width: 650px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#post .videoWrapper .js-player {
  border-radius: 10px;
  overflow: hidden;
}
#post .videoWrapper .js-player .vjs-control-bar {
  border-radius: 10px;
  overflow: hidden;
}
#post .lockedaccount,
#post .empty {
  text-align: center;
  padding: 5em;
}
#post .lockedaccount span,
#post .empty span {
  font-size: 2em;
  font-weight: 100;
}
#post .lockedaccount.allb,
#post .empty.allb {
  background: #f6f6f6;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 400px;
  border-radius: 10px;
}
#post .cntswrkcontent {
  padding-left: 1.5em;
}
#post .postcontent {
  padding-top: 1em;
}
#post .postmessage {
  border-top: 1px solid #F5F5F9;
  padding-right: 0.5em;
}
#post .cntswrk.formeta {
  margin-left: 4.5em;
  padding-left: 0;
}
#post .cntswrk .paddingWrapper {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#post .hiddenpost {
  padding: 7em 5em;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  background: rgba(228, 221, 222, 0.05);
  margin-bottom: 2em;
  margin-top: 0.5em;
}
#post .hiddenpost .sharecaption {
  max-width: none!important;
}
#post .hiddenpost .hiddenlabelaction {
  margin-top: 1em;
}
#post .hiddenpost .hiddenlabeltext {
  opacity: 0.6;
}
#post .js-player .warning-overlay {
  opacity: 0;
}
#post .statswrapperExtended {
  display: flex;
  padding: 0.5em 0;
}
#post .statswrapperExtended span {
  font-weight: 500;
}
#post .showmorelenta {
  display: none;
  background: #fff;
}
#post .showmorelenta.hasshares {
  display: block;
}
#post .showmorelenta .horizontalLentaWrapper {
  padding: 1em;
}
#post .showmorelenta .horizontalLentacaption {
  padding: 1em 0;
}
#post .showmorelenta .horizontalLentacaption span {
  font-weight: 700;
  font-size: 0.8em;
}
#post .showmorelenta .durationWrapper,
#post .showmorelenta .statswrapper {
  top: 0;
  bottom: auto!important;
}
#post .shareSave i {
  display: none;
}
#post .shareSave[status="cansave"] .cansave {
  display: inline-block;
}
#post .shareSave[status="saving"] .saving {
  display: inline-block;
}
#post .shareSave[status="saved"] .saved {
  display: inline-block;
}
#post #lenta .share .sharecaption {
  font-size: 1em;
}
#post .debuginfo {
  display: none!important;
}
#post .nextpost {
  padding-top: 1em;
  display: none;
}
#post .nextpost .loader,
#post .nextpost .ended {
  padding: 1em;
  text-align: center;
  background: #fff;
  margin: 0 auto;
  max-width: 930px;
}
#post #comments {
  /*.list{
			.comment{
				content-visibility: auto;
        		contain-intrinsic-size: 200px;
			}
		}*/
}
#post #comments .answer {
  padding: 0;
}
#post .repostShareWrapper .openetc {
  cursor: pointer;
  padding: 1em;
  text-align: center;
}
#post .repostShareWrapper .openetc i,
#post .repostShareWrapper .openetc span {
  color: rgba(178, 171, 172, 0.8);
  font-size: 0.9em;
}
#post .repostShareWrapper .openetc i {
  font-size: 0.8em;
}
#post .repostShare {
  border-radius: 5px;
  border: 1px solid rgba(228, 221, 222, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.4);
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
#post .repostShare .share {
  margin-bottom: 0;
}
#post .repostShare .share .videoTips {
  display: none!important;
}
#post .postWrapper {
  margin: 0 auto;
  max-width: 930px;
  background: #fff;
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#post .postWrapper.active {
  opacity: 1;
}
#post .postWrapper .share .sharecnt .removeDescription {
  display: none;
  padding-bottom: 1.5em;
  color: #b2abac;
}
#post .postWrapper .share .sharecnt.deleted .cntscontent,
#post .postWrapper .share .sharecnt.deleted .repostWrapper,
#post .postWrapper .share .sharecnt.deleted .commentsWrapperHb,
#post .postWrapper .share .sharecnt.deleted .metapanel,
#post .postWrapper .share .sharecnt.deleted .sys {
  display: none!important;
}
#post .postWrapper .share .sharecnt.deleted .removeDescription {
  display: block;
}
#post .shareTable {
  margin-top: 0.5em;
  overflow: hidden;
}
#post .shareTable .sbtnxs .subscribedLabel {
  display: none;
}
#post .shareTable .sbtnxs span {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .shareTable .sbtnxs span i {
  color: #076C34;
}
#post .shareTable .sbtnxs span:hover {
  color: #00a4ff;
}
#post .shareTable .sbtnxs .notificationturn {
  display: none;
}
#post .shareTable .sbtnxs .notificationturn i {
  text-align: center;
  color: rgba(228, 221, 222, 0.3);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .shareTable .sbtnxs .notificationturn.turnon i:before {
  content: '\f0f3';
}
#post .shareTable .sbtnxs .notificationturn:hover i {
  color: rgba(228, 221, 222, 0.8);
}
#post .shareTable.subscribed .sbtnxs .subscribedLabel {
  display: inline;
}
#post .shareTable.subscribed .sbtnxs .subscribeLabel {
  display: none;
}
#post .shareTable.subscribed .sbtnxs .notificationturn {
  display: inline;
}
#post .shareTable.emptywithrepost .cntswrk {
  margin-left: 0;
}
#post .shareTable.emptywithrepost .meta {
  padding-top: 0;
}
#post .shareTable.emptywithrepost .meta .repostCaption i {
  font-size: 0.8em;
  color: #00a4ff;
  width: 20px;
}
#post .shareTable.emptywithrepost .meta .repostCaption span {
  font-size: 0.8em;
}
#post .iconWrapper {
  width: 4em;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 0;
  float: left;
}
#post .cntswrk {
  margin-left: 3.5em;
  padding-right: 1em;
}
#post .cntswrk.forcomments {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
#post .cntswrk .meta {
  padding-top: 0.7em;
  padding-left: 1em;
}
#post .cntswrk .lenta_opensviurl,
#post .cntswrk .message {
  padding-left: 1.5em;
}
#post .share {
  overflow: hidden;
  background: #fff;
}
#post .share .wholikesTable {
  margin-bottom: 1em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .share .wholikesTable:hover {
  opacity: 0.8;
}
#post .share .wholikesTable .wholikeAuthorTable {
  display: inline-table;
  width: auto;
  font-size: 0.8em;
}
#post .share .wholikesTable .wholikeAuthorTable > diV {
  vertical-align: middle;
}
#post .share .wholikesTable .wholikeAuthorTable > diV.unamecell {
  padding-left: 0.25em;
}
#post .share .wholikesTable .usericon {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: baseline;
}
#post .share .work {
  width: 100%;
}
#post .share #post {
  /*#comments{

					
				.commentPaddingWrapper,
				.post{
					padding-left: 8 * @rhythm;
					padding-right: 11 * @rhythm;
				}

				.commentPaddingWrapper{
					padding-right: 11 * @rhythm;
				}

				.list .answer .postbody{
					padding-left: 8 * @rhythm;
					padding-right: 11 * @rhythm;
				}

				.answers{
					.commentPaddingWrapper{
						padding-right: 0;
						padding-left: 0;
					}
				}

				
			}*/
}
#post .share #post .postWrapper {
  background: #fff;
}
#post .share #post .share {
  background: #fff;
}
#post .share #post .share .work {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: 0.5em solid #00a4ff;
}
#post .share #post .shareTable.truerepost .iconWrapper {
  width: 4em;
  padding-left: 3.5em;
  padding-top: 0.5em;
  padding-right: 0;
  float: left;
}
#post .share #post .shareTable.truerepost .iconWrapper .usericon {
  width: 2.5em;
  height: 2.5em;
}
#post .share #post .cntswrk {
  margin-left: 6em;
  padding-left: 1em;
  padding-right: 5em;
}
#post .share #post #post .share .work {
  border-left: 0;
}
#post .share .blockAuthor {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
#post .share .blockAuthor .blockTable {
  height: 100%;
}
#post .share .blockAuthor .blockTable > div {
  vertical-align: middle;
  text-align: center;
}
#post .share .blockAuthor .blockTable .unblockWrapper {
  margin-top: 1.5em;
}
#post .share .blockAuthor .blockTable .unblockWrapper button {
  width: 180px;
  border-radius: 30px;
  font-size: 0.8em;
}
#post .share.blocking .commentsWrapperHb {
  display: none;
}
#post .share.blocking .blockAuthor {
  display: block;
}
#post .share .work {
  padding: 1em 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 0;
}
#post .share .commentsWrapper {
  background: #FAFAFA;
}
#post .share .videoTips {
  display: none;
}
#post .share .exitFull {
  display: none;
}
#post .share img {
  max-width: 100%;
}
#post .share .article .message p img {
  max-width: 100%;
}
#post .share .article .message b {
  font-size: 1em!important;
}
#post .share .article .message figure img {
  max-width: 100%;
}
#post .share .article .message span {
  font-size: 1em!important;
}
#post .share .shareContent {
  position: relative;
}
#post .share .shareContent .tempPreloader {
  padding: 1em 0;
}
#post .share .shareContent .tempPreloader .label {
  padding-top: 0.5em;
  color: #00a4ff;
  font-size: 0.8em;
}
#post .share .subscribeWrapper {
  z-index: 19;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.96);
  padding: 2em 1em;
  display: none;
}
#post .share .subscribeWrapper .name {
  padding-top: 0.5em / 4;
}
#post .share .subscribeWrapper .subscribeevent {
  margin-top: 1em;
  overflow-y: hidden;
}
#post .share .subscribeWrapper .subscribeevent > div {
  float: left;
  margin-right: 0.5em;
}
#post .share .subscribeWrapper .subscribeevent > div button {
  padding-left: 2em;
  padding-right: 2em;
  background: #ff6e84;
  border-color: #ff6e84;
}
#post .share .subscribeWrapper .subscribeevent > div button:hover {
  background: #00a4ff;
  border-color: #00a4ff;
  color: #fff;
}
#post .share .aitem,
#post .share .additional {
  display: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 1em;
  color: #d0c9ca;
  cursor: pointer;
  box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .share .aitem i,
#post .share .additional i {
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
#post .share .aitem:hover,
#post .share .additional:hover {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  border-color: #00a4ff;
  color: #00a4ff;
}
#post .share .aitem {
  display: block;
}
#post .share.showAdditional .iconWrapper .additional i {
  transform: rotate(45deg);
}
#post .share.showAdditional .iconWrapper .additional:hover {
  border-color: #00a4ff;
  color: #00a4ff;
}
#post .share.showAdditional .iconWrapper .additional:hover i {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#post .share .jsPlayerLoading {
  width: 700px;
  height: 400px;
  background: #000000;
}
#post .share .jsPlayerLoading .jsPlayerLoadingD {
  width: 100%;
}
#post .share .jsPlayerLoading .jsPlayerLoadingD > div {
  vertical-align: middle;
  text-align: center;
}
#post .share .authorTable {
  width: auto;
}
#post .share .authorTable > div {
  vertical-align: middle;
}
#post .share .authorTable > div.authorCell {
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#post .share .metatable {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
#post .share .metatable > div.metapanel {
  width: 40px;
  vertical-align: top;
}
#post .share .metatable > div.metapanel .metapanelitem {
  cursor: pointer;
  margin-left: auto;
  font-size: 0.8em;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  color: rgba(30, 35, 40, 0.6);
}
#post .share .meta > div {
  margin-right: 1em;
}
#post .share .meta .authorCell a {
  font-weight: 700;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .share .meta .authorCell a:hover {
  color: #00a4ff;
}
#post .share .images {
  padding: 1em 0;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
#post .share .images.active {
  opacity: 1;
}
#post .share .images .imagesWrapper {
  width: 180px;
  height: 180px;
  float: left;
  margin-bottom: 1em;
  background: transparent;
  border-radius: 5px;
}
#post .share .images .imagesWrapper .image {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0 auto;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#post .share .images .imagesWrapper .image.active {
  opacity: 1;
}
#post .share .images .imagesWrapper.forvideo {
  display: none;
}
#post .share .images .imagesContainer.owlcar {
  height: auto;
  width: 100%;
  max-width: 400px;
}
#post .share .images .imagesContainer.owlcar .imagesWrapper {
  height: 500px;
  float: none;
  width: 100%;
  background: transparent;
}
#post .share .images .imagesContainer.owlcar .imagesWrapper .image {
  background-size: contain!important;
}
#post .share .images .imagesContainer.one .imagesWrapper {
  width: 400px;
  height: 400px;
}
#post .share .images .imagesContainer.one .imagesWrapper.w2 {
  width: 600px;
}
#post .share .images .imagesContainer.one .imagesWrapper.h2 {
  width: 400px;
}
#post .share .images .imagesContainer.two .imagesWrapper {
  width: 200px;
  height: 200px;
}
#post .share .images .imagesContainer.two .imagesWrapper.w2 {
  width: 400px;
}
#post .share .images .imagesContainer.two .imagesWrapper.h2 {
  width: 200px;
}
#post .share .images .imagesContainer.four .imagesWrapper {
  width: 200px;
  height: 200px;
}
#post .share .images .imagesContainer.four .imagesWrapper.w2 {
  width: 400px;
}
#post .share .images .imagesContainer.four .imagesWrapper.h2 {
  width: 200px;
}
#post .share .images .imagesContainer.articleImages .imagesWrapper {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
#post .share .sharecaption {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
#post .share .sharecaption a {
  text-decoration: underline;
  color: #00a4ff;
}
#post .share .message {
  margin-bottom: 1em;
}
#post .share .message a {
  text-decoration: underline;
  color: #00a4ff;
  text-overflow: ellipsis;
  word-break: break-all;
}
#post .share .urlhtmlcontent {
  font-size: 0.8em;
}
#post .share .urlhtmlcontent .ogtable > div {
  vertical-align: top;
  padding: 0.5em 0;
}
#post .share .urlhtmlcontent .ogtable > div.image {
  width: 200px;
  padding-right: 1em;
  border-radius: 5px;
}
#post .share .urlhtmlcontent .ogtable > div.image .removeImage {
  display: none;
}
#post .share .urlhtmlcontent .ogtable > div.image img {
  opacity: 0;
  width: 100%;
  border-radius: 5px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#post .share .urlhtmlcontent .ogtable > div.image img.active {
  opacity: 1;
}
#post .share .urlhtmlcontent .ogtable > div.cnt .title {
  font-weight: 700;
  color: #00a4ff;
}
#post .share .urlhtmlcontent .ogtable > div.cnt .description {
  margin-top: 0.5em;
}
#post .share .url {
  margin-bottom: 1em;
}
#post .share .url.hiddenurl .videoWrapper {
  display: block;
}
#post .share .url span.linkedstyle {
  font-size: 0.8em;
  color: #00a4ff;
  text-decoration: underline;
}
#post .share .url .videoviews span {
  color: #00a4ff;
  font-size: 0.8em;
  text-decoration: none;
}
#post .share .url .urlcnt {
  margin-top: 1em;
}
#post .share .url .urlcnt .linkcnt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#post .share .url .urlcnt .urlcnttable {
  width: auto;
  height: auto;
}
#post .share .url .urlcnt .urlcnttable > div {
  vertical-align: middle;
}
#post .share .url .urlcnt .urlcnttable > div.removeWrapper {
  padding-left: 1em;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable {
  max-width: 600px;
  border-radius: 3px;
  display: block;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable > div {
  display: block;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable > div.image {
  width: auto;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable > div.image img {
  width: 100%;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable > div.cnt .title {
  max-width: none;
}
#post .share .url.bigimageinlink .urlhtmlcontent .ogtable > div.cnt .description {
  max-width: none;
}
#post .share .pkoin_commerce_info {
  padding: 1em 0;
  max-width: 350px;
  padding-top: 0.5em;
  position: relative;
}
#post .share .pkoin_commerce_info:before {
  content: '';
  width: 70px;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  background: #ff0033;
}
#post .share .pkoin_commerce_info span {
  font-size: 0.8em;
  opacity: 0.8;
}
#post .share .tags {
  margin-bottom: 1em;
  padding-left: 1.5em;
  overflow: hidden;
  display: flex;
}
#post .share .tags .newlabel {
  background: #ff0565;
  color: #fff;
}
#post .share .tags > div {
  margin-right: 0.5em;
}
#post .share .tags > div span {
  font-size: 0.8em;
  color: #b2abac;
}
#post .share .sys {
  margin-bottom: 1em;
}
#post .share .sys span {
  cursor: pointer;
  font-size: 0.8em;
  color: #b2abac;
}
#post .share .panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1em;
  overflow: hidden;
}
#post .share .panel .stars_repost {
  display: flex;
}
#post .share .panel .itemwr {
  width: auto;
}
#post .share .panel .itemwr > div {
  vertical-align: middle;
  padding-bottom: 0.5em;
}
#post .share .panel .itemwr > div.iconwr {
  width: 40px;
}
#post .share .panel .itemwr > div.labelwr {
  padding-left: 0.5em;
  cursor: pointer;
}
#post .share .panel .itemwr > div.labelwr span {
  font-weight: 700;
  font-size: 0.8em;
}
#post .share .panel .itemwr > div.count {
  padding-left: 0.5em;
}
#post .share .panel .itemwr > div.count span {
  font-weight: 700;
  font-size: 0.8em;
  color: #3c4146;
}
#post .share .panel > div {
  float: left;
}
#post .share .panel > div .stars {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #00A3F7;
  cursor: pointer;
}
#post .share .panel > div .count {
  cursor: pointer;
}
#post .share .panel > div .icon {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #00A3F7;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 40%;
}
#post .share .panel > div.discussion {
  display: none;
}
#post .share .panel > div.right {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
#post .share .panel > div.right .itemwr > div.iconwr {
  text-align: center;
  width: 40px;
}
#post .share .panel > div.donate,
#post .share .panel > div.promote {
  color: #00a4ff;
}
#post .share .panel > div.donate .count span,
#post .share .panel > div.promote .count span {
  color: #00a4ff;
  font-weight: 700;
  font-size: 0.8em;
}
#post .share .panel > div.sharesocial .label,
#post .share .panel > div.sharesocial .icon {
  color: #ff6e84;
}
#post .share .panel > div.sharesocial:hover .label {
  color: #00a4ff;
}
#post .share .panel > div.sharesocial:hover .icon {
  border-radius: 0;
  box-shadow: none;
  color: #00a4ff;
  background: transparent;
}
#post .share .panel > div.pkoin {
  display: flex;
  align-items: center;
  background: #00a4ff;
  color: #ffff;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
}
#post .share .panel > div.pkoin img {
  width: 15px;
}
#post .share .panel > div.pkoin span {
  margin-left: 2px;
}
#post .share .panel > div.nact {
  cursor: default;
}
#post .share .panel > div.nact .icon {
  cursor: default;
}
#post .share .panel > div.nact:hover .icon {
  border-radius: 0%;
  box-shadow: none;
  color: #00A3F7;
  background: transparent;
}
#post .share .article .images .imagesWrapper {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 0.5em;
  overflow: hidden;
  float: left;
}
#post .share .medium-insert-images img {
  /*max-width: 100%;*/
}
#post.videomainpost {
  /*.video-js{
			.vjs-control-bar{
				position: fixed;
				bottom : 0;
				left: 0;
				right : 0;
				font-size: 1.3em;
				z-index: 10000;
			}
		}*/
  padding-bottom: 6em;
  /*.videoWrapper{
	
				>div{
					max-width: 350px;
					margin: 0 auto;
				}

			}*/
}
#post.videomainpost .hiddenpost {
  background: #fff;
}
#post.videomainpost .postWrapper {
  background: transparent;
  max-width: none;
}
#post.videomainpost .share {
  background: transparent;
}
#post.videomainpost .share .message,
#post.videomainpost .share .sharecaption {
  max-width: 650px;
}
#post.videomainpost .share .commentmessage div {
  max-width: 650px;
}
#post.videomainpost .share .jsPlayerLoading {
  width: 100%;
}
#post.videomainpost .share .statswrapperExtended {
  background: #fff;
  padding-left: 1em;
}
#post.videomainpost .share .anothercntswrk {
  background: #fff;
  padding-left: 0.5em;
  padding-right: 1em;
}
#post.videomainpost .share .work {
  padding: 0;
}
#post.videomainpost .share .url {
  margin-bottom: 0;
}
#post.videomainpost .share .paddingWrapper {
  margin-left: 48px;
  padding-left: 0.5em;
}
#post.videomainpost .share .urlcnt {
  display: none;
}
#post.videomainpost .share .shareTable .iconWrapper {
  padding: 0;
  z-index: 12;
  width: 48px;
}
#post.videomainpost .share .shareTable .iconWrapper .icon {
  width: auto;
  height: 48px;
}
#post.videomainpost .share .shareTable .iconWrapper .icon .usericon {
  width: 48px;
  height: 48px;
}
#post.videomainpost .shareTable .authorTable > div.authorCell {
  padding-left: 1em;
  padding-right: 0;
}
#post.videomainpost .shareTable .authorTable > div.datetime {
  padding-left: 1em;
  opacity: 0.5;
}
#post.videomainpost .shareTable .metatable > div.metapanel {
  color: #b2abac;
}
#post.videomainpost .shareTable .metatable > div.metapanel .metapanelitem {
  opacity: 1;
}
#post.videomainpost .cntswrk {
  padding: 0;
  margin: 0;
}
#post.videomainpost #comments .post {
  padding-left: 1.75em;
  padding-right: 1.75em;
}
#post.videomainpost .share .metatable > div.metapanel {
  padding-right: 0.5em;
}
#post.videomainpost .videoWrapper {
  overflow: hidden;
  border-radius: 5px;
  max-width: none;
  position: static;
}
#post.videomainpost .forurl .url {
  border-radius: 5px;
  background: #000;
}
#post.videomainpost.squareVideo .forurl .url,
#post.videomainpost.verticalVideo .forurl .url {
  background: #000;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
#post.videomainpost.squareVideo .forurl .url .video-js,
#post.videomainpost.verticalVideo .forurl .url .video-js,
#post.videomainpost.squareVideo .forurl .url .js-player,
#post.videomainpost.verticalVideo .forurl .url .js-player {
  position: static;
}
#post.videomainpost.squareVideo .forurl .videoWrapper,
#post.videomainpost.verticalVideo .forurl .videoWrapper {
  margin: 0 auto;
  max-width: 350px;
}
#post.videomainpost .statswrapperExtended {
  display: none;
}
#post.videomainpost.squareVideo .forurl .videoWrapper {
  max-width: 450px;
}
#post.videomainpost #comments.fromtop .list {
  border-top: 0;
}
#post.videomainpost .share {
  margin: 0 auto;
  max-width: 960px;
  /*.shareTable{
					width: 100%;
					display: table;
					>div{
						vertical-align: top;
						display: table-cell;

						&.forurl{
							padding : 0 @rhythm;
							padding-left: 0;
							width: 562px;

							.videoWrapper{
								overflow: hidden;
								border-radius: 5px;
							}
						}
					}
				}*/
}
#post .sharearticle {
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
#post .sharearticle.ready {
  opacity: 1;
}
#post .sharearticle .shareBgCaption .author,
#post .sharearticle .articleend .author {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#post .sharearticle .shareBgCaption .author i,
#post .sharearticle .articleend .author i {
  display: none;
}
#post .sharearticle .shareBgCaption .author .notificationturn,
#post .sharearticle .articleend .author .notificationturn {
  display: none!important;
}
#post .sharearticle .shareBgCaption .forstars,
#post .sharearticle .articleend .forstars {
  margin-bottom: 1em;
}
#post .sharearticle .shareBgCaption .forstars .itemwr,
#post .sharearticle .articleend .forstars .itemwr {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#post .sharearticle .shareBgCaption .forstars .itemwr i,
#post .sharearticle .articleend .forstars .itemwr i {
  text-align: center;
}
#post .sharearticle .shareBgCaption .forstars .starWrapper,
#post .sharearticle .articleend .forstars .starWrapper {
  text-align: center;
}
#post .sharearticle .shareBgCaption .forstars .count span,
#post .sharearticle .articleend .forstars .count span {
  font-size: 2em;
  font-weight: 700;
  font-family: Nunito Sans;
}
#post .sharearticle .shareBgCaption .sys,
#post .sharearticle .articleend .sys {
  text-align: center;
}
#post .sharearticle .shareBgCaption .buttonOpenWrapper,
#post .sharearticle .articleend .buttonOpenWrapper {
  margin-bottom: 0.5em;
}
#post .sharearticle .shareBgCaption .buttonOpenWrapper button,
#post .sharearticle .articleend .buttonOpenWrapper button {
  width: 130px;
  border-radius: 0;
  background: rgba(14, 28, 43, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid transparent!important;
}
#post .sharearticle .nextpost .loader,
#post .sharearticle .nextpost .ended {
  background: #00091b;
}
#post .sharearticle .nextpost .loader,
#post .sharearticle .nextpost .ended {
  background: #00091b;
}
#post .sharearticle .postWrapper {
  background: #0a0c17;
}
#post .sharearticle .postmessage {
  border-top: 1px solid rgba(245, 245, 249, 0.1);
}
#post .sharearticle .shareTable .sbtnxs span i {
  color: #076C34;
}
#post .sharearticle .postWrapper {
  background: #0a0c17;
}
#post .sharearticle .postmessage {
  border-top: 1px solid rgba(245, 245, 249, 0.1);
}
#post .sharearticle .shareTable .sbtnxs span i {
  color: #076C34;
}
#post .sharearticle .shareTable .sbtnxs span:hover {
  background: rgba(14, 28, 43, 0.01);
}
#post .sharearticle .shareTable .divider {
  margin: 0 auto;
  margin-bottom: 0.5em;
  height: 1px;
  width: 110px;
  background: #fff;
}
#post .sharearticle .shareTable .tags {
  justify-content: center;
}
#post .sharearticle .shareBgCaption {
  height: 640px;
  position: relative;
}
#post .sharearticle .shareBgCaption .tags div span {
  color: #fff;
}
#post .sharearticle .shareBgCaption .blackmatte {
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
#post .sharearticle .shareBgCaption .captioncnt {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  color: #fff;
  text-align: center;
}
#post .sharearticle .shareBgCaption .captioncnt .sharecaption {
  font-size: 4em;
  font-family: Georgia, serif;
}
#post .sharearticle .shareBgCaption .icon .usericon {
  margin: 0 auto;
  position: relative;
}
#post .sharearticle .shareBgCaption.showtext .icon {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}
#post .sharearticle .shareBgCaption .starstoppanel,
#post .sharearticle .shareBgCaption .socialsharewrapper {
  position: absolute;
  bottom: 0.75em;
  right: 1.25em;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper {
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  border-radius: 3.5em;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Nunito Sans;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper:hover,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper:hover {
  opacity: 0.6;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper i,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper i {
  width: 30px;
  text-align: center;
  font-size: 0.7em;
}
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper {
  justify-content: flex-end;
}
#post .sharearticle .shareBgCaption .starstoppanel {
  bottom: 0.75em;
  left: 1.5em;
  right: auto;
  display: flex;
}
#post .sharearticle .shareBgCaption .articleCover,
#post .sharearticle .shareBgCaption .captioncnt,
#post .sharearticle .shareBgCaption .blackmatte {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#post .sharearticle .shareBgCaption.smallimage .articleCover {
  background-color: #0e1c2b;
  background-size: 100px auto!important;
}
#post .sharearticle .shareBgCaption.caption_small .captionmult {
  font-size: 1.5em;
}
#post .sharearticle .shareBgCaption.caption_long .captionmult {
  font-size: 0.5em;
}
#post .sharearticle .shareBgCaption.verticalcover {
  height: 720px;
}
#post .sharearticle .shareBgCaption.verticalcover.showtext {
  border-bottom: 1px dashed rgba(178, 171, 172, 0.5);
}
#post .sharearticle .shareBgCaption.verticalcover .articleCover {
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  right: 56%;
}
#post .sharearticle .shareBgCaption.verticalcover .captioncnt {
  left: 44%;
  right: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
}
#post .sharearticle .shareBgCaption.verticalcover .blackmatte {
  display: none;
}
#post .sharearticle .shareBgCaption.verticalcover .icon {
  position: static;
}
#post .sharearticle .shareBgCaption.verticalcover .captioncnt {
  justify-content: center;
  color: #030f1b;
}
#post .sharearticle .shareBgCaption.verticalcover .divider {
  background: #030f1b;
}
#post .sharearticle .shareBgCaption.verticalcover .tags div span {
  color: #030f1b;
}
#post .sharearticle .shareBgCaption.verticalcover .starstoppanel .iconwrapper,
#post .sharearticle .shareBgCaption.verticalcover .socialsharewrapper .iconwrapper {
  color: #030f1b;
}
#post .sharearticle .articlecontent {
  padding-top: 4em;
  padding-bottom: 4em;
}
#post .sharearticle .articlecontent .articlerenderError {
  text-align: center;
}
#post .sharearticle .articlecontent .cntswrk {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#post .sharearticle .articlecontent .articleend {
  margin-top: 3em;
}
#post .sharearticle .articlecontent .commentsWrapper {
  border-radius: 15px;
}
#post .sharearticle .articlecontent .forcomments {
  margin-top: 2em;
}
#post .sharearticle .removeDescription {
  display: none;
  padding: 1.5em;
  color: #7c7c7c;
  text-align: center;
}
#post .sharearticle.deleted .forcomments,
#post .sharearticle.deleted .starstoppanel,
#post .sharearticle.deleted .socialsharewrapper,
#post .sharearticle.deleted .textscnts {
  display: none!important;
}
#post .sharearticle.deleted .acticletext {
  display: none;
}
#post .sharearticle.deleted .removeDescription {
  display: block!important;
}
#post .sharearticle.deleted .articleCover {
  filter: blur(10px);
}
#content > div#post.sharec .postWrapper {
  max-width: none;
}
#content > div#post.sharec .widthcontainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #content > div#post.sharec .widthcontainer {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #post .videoWrapper {
    border-radius: 0;
  }
  #post .videoWrapper .js-player {
    border-radius: 0;
    overflow: visible;
  }
  #post .videoWrapper .js-player .vjs-control-bar {
    border-radius: 0;
    overflow: visible;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) {
    height: auto;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    color: #fff;
    text-align: center;
    position: relative;
    border-bottom: 1px dashed rgba(178, 171, 172, 0.5);
    color: #0e1c2b;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .tags {
    justify-content: center;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .tags div span {
    color: #0e1c2b;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .sharecaption {
    font-size: 3em;
    font-family: Georgia, serif;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .icon {
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .icon .usericon {
    margin: 0 auto;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .articleCover {
    height: 300px;
    position: relative;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .blackmatte {
    display: none;
  }
  #post .sharearticle .shareBgCaption.verticalcover {
    height: 720px;
    border-bottom: 0;
  }
  #post .sharearticle .shareBgCaption.verticalcover .articleCover {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 4em;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt .sharecaption {
    font-size: 2em;
  }
  #post .sharearticle .shareBgCaption.verticalcover .blackmatte {
    display: block;
  }
  #post .sharearticle .shareBgCaption.verticalcover .icon {
    position: absolute;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt {
    justify-content: flex-end;
    color: #fff;
  }
  #post .sharearticle .shareBgCaption.verticalcover .divider {
    background: #fff;
  }
  #post .sharearticle .shareBgCaption.verticalcover .tags div span {
    color: #fff;
  }
  #post .sharearticle .shareBgCaption.verticalcover .starstoppanel .iconwrapper,
  #post .sharearticle .shareBgCaption.verticalcover .socialsharewrapper .iconwrapper {
    color: #fff;
  }
  #post .sharearticle .articlecontent {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #post .sharearticle .articlecontent .article_quote,
  #post .sharearticle .articlecontent .article_link_custom {
    width: 96%;
    max-width: none;
  }
  #post .sharearticle .articlecontent .article_this_embed {
    padding: 0;
    border: 0;
  }
}
html.tablet.fullscreen #post #comments,
html.mobile.fullscreen #post #comments {
  display: none;
}
html.stblack #post {
  background: transparent;
}
html.stblack #post .sharearticle .shareBgCaption .divider,
html.stblack #post .sharearticle .articleend .divider {
  background: #b2abac;
}
html.stblack #post .sharearticle .shareBgCaption .tags div span {
  color: #FFF;
}
html.stblack #post .sharearticle .shareBgCaption .captioncnt {
  color: #fff;
}
html.stblack #post .sharearticle .shareBgCaption .starstoppanel .iconwrapper,
html.stblack #post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper {
  color: #fff;
}
html.stblack #post .sharearticle .shareBgCaption.smallimage .articleCover {
  background-color: #0e1c2b;
}
html.stblack #post .sharearticle .shareBgCaption.verticalcover.showtext {
  border-bottom: 1px dashed rgba(178, 171, 172, 0.5);
}
html.stblack #post .sharearticle .shareBgCaption.verticalcover .captioncnt {
  color: #e2e2e2;
}
html.stblack #post .sharearticle .shareBgCaption.verticalcover .divider {
  background: #e2e2e2;
}
html.stblack #post .sharearticle .shareBgCaption.verticalcover .tags div span {
  color: #e2e2e2;
}
html.stblack #post .sharearticle .shareBgCaption.verticalcover .starstoppanel .iconwrapper,
html.stblack #post .sharearticle .shareBgCaption.verticalcover .socialsharewrapper .iconwrapper {
  color: #e2e2e2;
}
html.stblack #post .sharearticle .removeDescription {
  color: #b8b8b8;
}
.wnd.postwindow {
  z-index: 1005;
}
.wnd.postwindow .wndcontent {
  top: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
  padding-bottom: 10em;
}
.wnd.postwindow .wndinner {
  height: 100%;
  width: 100%;
  max-height: none;
  background: transparent;
}
.wnd.postwindow.articlewindow .wndcontent {
  padding: 0;
  border-radius: 0;
}
.wnd.postwindow.articlewindow #post .postWrapper {
  max-width: none;
}
.wnd.postwindow.articlewindow ._close {
  backdrop-filter: blur(7px) grayscale(30%);
  -webkit-backdrop-filter: blur(7px) grayscale(30%);
  color: #fff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}
.wnd.postwindow .widthcontainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.wnd.postwindow #post {
  margin: 0 auto;
  background: transparent;
}
.wnd.postwindow #post .postWrapper {
  overflow: hidden;
  border-radius: 3px;
}
.wnd.postwindow #post .nextpost {
  display: block;
}
html.stblack #post .showmorelenta {
  background: #0a0c17;
}
html.stblack #post .nextpost .loader,
html.stblack #post .nextpost .ended {
  background: #00091b;
}
html.stblack #post .postWrapper {
  background: #0a0c17;
}
html.stblack #post .shareTable .sbtnxs span i {
  color: #076C34;
}
html.stblack #post .shareTable .sbtnxs span:hover {
  color: #00a4ff;
}
html.stblack #post .shareTable.emptywithrepost .meta .repostCaption i {
  color: #00a4ff;
}
html.stblack #post .repostsecond div {
  color: #00a4ff;
}
html.stblack #post .share {
  background: #0a0c17;
}
html.stblack #post .share .statswrapperExtended {
  background: #0a0c17;
}
html.stblack #post .share .blockAuthor {
  background: rgba(10, 12, 23, 0.9);
}
html.stblack #post .share .commentsWrapper {
  background: #00091b;
}
html.stblack #post .share .shareContent .tempPreloader .label {
  color: #00a4ff;
}
html.stblack #post .share .subscribeWrapper {
  background: rgba(10, 12, 23, 0.96);
}
html.stblack #post .share .subscribeWrapper .subscribeevent > div button {
  background: #ff6e84;
  border-color: #ff6e84;
}
html.stblack #post .share .subscribeWrapper .subscribeevent > div button:hover {
  background: #00a4ff;
  border-color: #00a4ff;
  color: #fff;
}
html.stblack #post .share .aitem,
html.stblack #post .share .additional {
  color: #00a4ff;
}
html.stblack #post .share .aitem:hover,
html.stblack #post .share .additional:hover {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  border-color: #00A3F7;
  color: #00A3F7;
}
html.stblack #post .share.showAdditional .iconWrapper .additional:hover {
  border-color: #00a4ff;
  color: #00a4ff;
}
html.stblack #post .share .jsPlayerLoading {
  background: #000000;
}
html.stblack #post .share .metatable > div.metapanel .metapanelitem {
  color: #00a4ff;
}
html.stblack #post .share .metatable > div.metapanel .metapanelitem:hover {
  color: #00a4ff;
}
html.stblack #post .share .meta .authorCell a {
  font-weight: 700;
  color: #00a4ff;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html.stblack #post .share .meta .authorCell a:hover {
  color: #00a4ff;
}
html.stblack #post .share .images .imagesWrapper {
  background: transparent;
}
html.stblack #post .share .sharecaption {
  color: #e4ddde;
}
html.stblack #post .share .sharecaption a {
  color: #00A3F7;
}
html.stblack #post .share .message a {
  color: #00A3F7;
}
html.stblack #post .share .urlhtmlcontent .ogtable > div.cnt .title {
  color: #00A3F7;
}
html.stblack #post .share .url span.linkedstyle {
  color: #00A3F7;
}
html.stblack #post .share .tags > div span {
  color: #b2abac;
}
html.stblack #post .share .sys span {
  color: #b2abac;
}
html.stblack #post .share .panel .itemwr > div.count .circle {
  border: 1px solid rgba(199, 200, 217, 0.1);
  color: #e4ddde;
}
html.stblack #post .share .panel > div .stars {
  color: #00A3F7;
}
html.stblack #post .share .panel > div .count {
  cursor: pointer;
}
html.stblack #post .share .panel > div .icon {
  color: #C7C8D9;
}
html.stblack #post .share .panel > div:hover .icon {
  color: #00A3F7;
}
html.stblack #post .share .panel > div.sharesocial .label,
html.stblack #post .share .panel > div.sharesocial .icon {
  color: #ff6e84;
}
html.stblack #post .share .panel > div.sharesocial:hover .label {
  color: #00a4ff;
}
html.stblack #post .share .panel > div.sharesocial:hover .icon {
  color: #00A3F7;
  border-radius: 0;
  box-shadow: none;
  color: #00a4ff;
  background: transparent;
}
html.stblack #post .share .panel > div.nact:hover .icon {
  color: #00A3F7;
  background: transparent;
}
html.stblack #post.videomainpost .hiddenpost {
  background: #030f1b;
}
html.stblack #post.videomainpost .share .anothercntswrk {
  background: #030f1b;
}
html.stblack #post.videomainpost .postWrapper {
  background: transparent;
}
html.stblack .wnd.postwindow .wndcontent {
  background: transparent;
}
html.stblack .wnd.postwindow ._close {
  color: #d0c9ca;
}
