@import "../../css/__cssvar";
.lentaWrapper{
	>div{
		&#post{
			background: transparent;

			.share{
				margin-bottom: 0;
			}
		}
	}
}
#post{

	background: #f6f6f6;

	.debuginfo{
		display: none!important;
	}

	.nextpost{
		padding-top : 2 * @rhythm;
		display: none;

		.loader,
		.ended{
			padding : 2 * @rhythm;
			text-align: center;
			background: #fff;
			margin: 0 auto;
    		max-width: 930px;
		}
	}

	#comments{
		.answer,
		.post{
			padding-left:  7 * @rhythm;
			padding-right: 11 * @rhythm;
		}
		.caption{
			padding-left:  6.5 * @rhythm;
			padding-right: 11 * @rhythm;
		}
		.answer{
			padding : 0;
		}



		.list{
			.comment{

				.commentPaddingWrapper{
					padding-left:  7 * @rhythm;
					padding-right: 12 * @rhythm;
				}
			}

			

			.answer{
				.postbody{
					padding-left:  7 * @rhythm;
					padding-right: 12 * @rhythm;
				}
				
			}
		}

		.answers{		
			.comment{
				.commentPaddingWrapper{
					padding-left:  0;
					padding-right: 0;
				}
				
			}
		}
	}

	.postWrapper{
		margin : 0 auto;
		max-width: 930px;
		background: #fff;
		opacity: 0;
		.transition(0.3s, opacity);

		&.active{
			opacity: 1;
		}
	}

	.shareTable{

		overflow: hidden;

		.sbtnxs{
			.subscribedLabel{
				display : none;
			}

			

			span{
				cursor: pointer;
				.transition(0.3s);
				i{
					color : @color-good;
				}

				&:hover{
					color : @color-main;
				}
			}

			.notificationturn {
				display : none;

				i{
					text-align: center;
					color : fade(@color-gray-slight, 30);
					.transition(0.3s);
				}

				&.turnon{
					i{
						&:before{
							content : '\f0f3';
						}
					}
				}

				&:hover{
					i{
						color : fade(@color-gray-slight, 80);
					}
					
				}
			}
		}

		&.subscribed{

			.sbtnxs{
				.subscribedLabel{
					display : inline;
				}

				.subscribeLabel{
					display : none;
				}
				
				.notificationturn {
					display : inline;
				}
			}

		}

		&.emptywithrepost{
			.cntswrk{
				margin-left: 0;
			}

			.meta{
				padding-top : 0;

				.repostCaption{
					i{
						font-size: 0.8em;
						color : @color-main;
						width: 20px;
					}

					span{
						font-size: 0.8em;
					}
				}
			}
		}
	}

	.iconWrapper{
		width: 13 * @rhythm;
		padding-top: @rhythm;
		padding-left: 7 * @rhythm;
		padding-right: 0;
		float: left;
	}

	.cntswrk{
		margin-left: 13 * @rhythm;
		padding-left : 2 * @rhythm;
		padding-right : 10 * @rhythm;
	}

	.repostsecond{
		padding-top : 2 * @rhythm;

		div{
			font-size: 0.8em;
			color : @color-main;
			text-decoration: underline;
		}
	}

	.share{
		overflow: hidden;
		background: #fff;

		.wholikesTable{
			margin-bottom : 2 * @rhythm;
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				opacity: 0.8;
			}

			.wholikeAuthorTable{
				display: inline-table;
				width: auto;
				font-size: 0.8em;

				>diV{
					vertical-align: middle;

					&.unamecell{
						padding-left: 0.5 * @rhythm;
					}
				}
			}

			.usericon{
				position: relative;
				display: inline-block;
				width: 21px;
				height: 21px;
				vertical-align: baseline;
			}
		}

		.work{
			width: 100%;
		}

		#post{
			.postWrapper{
				background: #fff;
			}
			.share{
				background: #fff;
				.work{
					width: 100%;
					padding-top : @rhythm;
					padding-bottom: @rhythm;
					border-left : @rhythm solid @color-main;
				}
			} 

			

			.shareTable{
				&.truerepost{
					.iconWrapper{
						width: 12 * @rhythm;
						padding-left: 6 * @rhythm;
		
						.usericon{
							width: 5 * @rhythm;
							height: 5 * @rhythm;
						}
					}
				}
			}
		
			
		
			.cntswrk{
				margin-left: 12 * @rhythm;
				padding-left : 2 * @rhythm;
				padding-right : 10 * @rhythm;
			}

			#comments{

					
				.commentPaddingWrapper,
				.post{
					padding-left: 8 * @rhythm;
					padding-right: 11 * @rhythm;
				}

				.commentPaddingWrapper{
					padding-right: 11 * @rhythm;
				}

				.list .answer .postbody{
					padding-left: 8 * @rhythm;
					padding-right: 11 * @rhythm;
				}

				.answers{
					.commentPaddingWrapper{
						padding-right: 0;
						padding-left: 0;
					}
				}

				
			}
		

			#post{

				.share{
					.work{
						
						border-left : 0;
					}
				}

				
			}

		}
		

		.blockAuthor{
			display: none;
			position: absolute;
			left : 0;
			right : 0;
			top : 0;
			bottom : 0; 
			background: fade(#fff, 90);
			z-index : 10;

			.blockTable{
				height: 100%;
				>div{
					vertical-align: middle;
					text-align: center;
				}

				.label{
				}

				.unblockWrapper{
					margin-top : 3 * @rhythm;

					button{
						width : 180px;
						border-radius: 30px;
						font-size: 0.8em;
					}
				}
			}
		}


		&.blocking{
			.commentsWrapperHb{
				display : none;
			}

			.blockAuthor{
				display: block;
			}
		}

		.work{
			padding : 4 * @rhythm 0;
			padding-right: 0;
			margin : 0;
		}

		.commentsWrapper{			
			background: #FAFAFA;
		}
		.videoTips{
			display: none;
		}
		.exitFull{
			display: none;
		}

		.showMore{
			display: none;
		}

		img{
			max-width: 100%;
		}

		.article{
			.message{
				p img{
					max-width: 100%;
				}

				figure img{
					max-width: 100%;
				}
			}
		}

		.shareContent{
			position: relative;

			.tempPreloader{
				padding : 2 * @rhythm 0;
				.label{
					padding-top : @rhythm;
					color : @color-main;
					font-size: 0.8em;
				}
			}
		}	

		.subscribeWrapper{
			z-index: 19;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: fade(#fff, 96);
			padding : 4 * @rhythm 2 * @rhythm;
			display: none;

			.name{
				padding-top : @rhythm / 4;
			}

			.subscribeevent{
				margin-top : 2 * @rhythm;
				overflow-y: hidden;

				>div{
					float: left;
					margin-right : @rhythm;

					button{
						padding-left: 4 * @rhythm;
						padding-right: 4 * @rhythm;
						background: @color-contrast;
						border-color: @color-contrast;

						&:hover{
							background : @color-main;
							border-color: @color-main;
							color : #fff;
						}
					}
				}
			}
		}
		.aitem,
		.additional{
			display: none;
			text-align: center;
			margin : 0 auto;
			border-radius: 50%;
			margin-top: 2 * @rhythm;
			color : @color-gray-light;
			cursor: pointer;
			.shadowSmaller();
			width : 30px;
			height: 30px;
			line-height: 28px;
			border : 1px solid transparent;
			.transition(0.3s);

			i{
				.transition(0.3s, transform);
			}

			&:hover{
				.shadowSmall();
				border-color: @color-main;
				color :  @color-main;
			}
		}

		.aitem{
			display: block;
		}


		&.showAdditional{
			.iconWrapper{

				
				.additional{
					i{
						transform: rotate(45deg);
					}
					

					&:hover{
						border-color: @color-main;
						color :  @color-main;

						i{
							transform: rotate(135deg);
               			    -webkit-transform: rotate(135deg);
						}

						
					}
				}
			}	
		}	

		.jsPlayerLoading{
			
			width: 700px;
			height: 400px;
			background: #000000;

			.jsPlayerLoadingD{
				width: 100%;
				height: 100%;
				>div{
					vertical-align: middle;
					text-align: center;
				}
			}
		}
		.authorTable{
			width: auto;
			>div{
				vertical-align: middle;

				&.authorCell{
					padding-right: 2 * @rhythm;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.metatable{
			>div{
				vertical-align: middle;
				

				&.metapanel{
					width: 50%;
					.metapanelitem{
						opacity: 0.6;
						margin-left: auto;
						cursor: pointer;
						float: right;
						font-size: 0.8em;
						color : #fff;
						width: 22px;
						height: 22px;
						line-height: 22px;
						text-align: center;
						border-radius: 50%;
						color : @color-gray2;
						.transition(0.3s);

						&:hover{
							color : #fff;
							background: @color-gray2;
						}

					}
				}
			}
		}

		.meta{
			padding-top: 2.7 * @rhythm;

			margin-bottom: @rhythm;

			>div{
				margin-right: 2 * @rhythm;

				


				
			}

	
			.authorCell{

				a{
					font-weight: 700;
					color : @color-main;
					cursor: pointer;
					.transition(0.3s);

					&:hover{
						color : @color-main;
					}
				}
				
			}

		}

		.images{
			padding : 2 * @rhythm 0;
			opacity: 0;
			.transition(0.3s);
			overflow : hidden;

			&.active{
				opacity: 1;
			}

			.imagesWrapper{
				width: 100%;
				margin-bottom : 2 * @rhythm;
			
				background: transparent;
				

				.image{
					opacity: 0;
					width: 100%;
					height: 100%;
					margin : 0 auto;
					
					.transition(0.3s);
					cursor: pointer;

					&.active{
						opacity: 1;
					}
				}

				&.forvideo{
					display : none;
				}

			}

			.imagesContainer{
				
			}
		}

		.sharecaption{
			font-size: 1.6em;
			color : @color-black2;
			margin-bottom: @rhythm;
			cursor: pointer;

			a{
				text-decoration: underline;
				color : @color-main;
			}
		}

		.message{
			margin-bottom: 2 * @rhythm;
		

			a{
				text-decoration: underline;
				color : @color-main;
			}
		}


		.urlhtmlcontent{
			font-size: 0.8em;
			.ogtable{

				>div{
					vertical-align: top;
					padding : @rhythm 0;

					&.image{
						width: 200px;
						padding-right : 2 * @rhythm;

						.removeImage{
							display: none;
						}

						img{
							opacity: 0;
							width: 100%;
							.transition(0.3s);

							&.active{
								opacity: 1;
							}
						}


					}

					&.cnt{
						.title{
							font-weight: 700;
							color : @color-main;
						}

						.description{
							margin-top : @rhythm;
						}
					}
				}
			}
		}

		.url{
			margin-bottom: 2 * @rhythm;

			&.hiddenurl{
				.videoWrapper{
					display: block;
				}
			}

			span{
				font-size: 0.8em;
				color : @color-main;
				text-decoration: underline;
			}

			.videoviews{
				span{
					color : @color-main;
					font-size: 0.8em;
					text-decoration: none;
				}
				
			}
			
			.urlcnt{
			
				.linkcnt{
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				
				.urlcnttable{
					width: auto;
					height: auto;

					>div{
						vertical-align: middle;

						&.removeWrapper{
							padding-left: 2 * @rhythm;
						}
					}
				}
				

			}

			&.bigimageinlink{
				.urlhtmlcontent{

					.ogtable{
						max-width: 600px;
						border-radius: 3px;
						
						display: block;

						>div{
							display: block;

							&.image{
								width: auto;

								img{
									width: 100%;
								}

							}

							&.cnt{
								.title{
									max-width: none;
								}

								.description{
									max-width: none;
								}
							}
						}
					}
				}
			}
		}

		.tags{
			margin-bottom: 2 * @rhythm;
			overflow: hidden;
			>div{
				float: left;
				margin-right: @rhythm;

				span{
					font-size: 0.8em;
					color : @color-main;
					text-decoration: underline;
				}
			}
		}

		.sys{
			margin-bottom: 2 * @rhythm;
			span{
				cursor: pointer;
				font-size: 0.8em;
				color : @color-good;
			}

			.editedLabel{
				margin-left: 2 * @rhythm;
			}
		}

		.panel{

			overflow: hidden;
			
			.itemwr{
				width: auto;

				>div{
					vertical-align: middle;
					padding-bottom: @rhythm;

					&.iconwr{
						width: 40px;
					}

					&.labelwr{
						padding-left : @rhythm;
						cursor: pointer;

						span{
							font-weight: 700;
							font-size: 0.8em;
						}
					}

					&.count{
						padding-left : @rhythm;

						span{
							font-weight: 700;
							font-size: 0.8em;
							color : @color-gray;
						}
						
						
					}
				}
			}
			>div{
				float: left;
				margin-right: 2 * @rhythm;


				.stars{
					height: 40px;
					line-height: 40px;
					text-align: center;
					color : @color-bright;
					cursor: pointer;

					i{

					}
					

					&.active,
					&:hover{
						
					}
				}

				.count{
					cursor: pointer;
				}

				.icon{
					height: 40px;
					line-height: 40px;
					text-align: center;
					font-size: 0.9em;
					color : @color-bright;
					cursor: pointer;
					.transition(0.3s);
					border-radius : 40%;

					
				}

				&.discussion{
					display: none;
				}

				

				&.right{
					float: right;
					margin-right: 0;
					margin-left: 2 * @rhythm;

					.itemwr{
		
						>div{
	
							&.iconwr{
								text-align: center;
								width: 40px;
							}
						}
					}
				}

				&.donate,
				&.promote{
					color : @color-main;

					.count{
						span{
							color : @color-main;
							font-weight: 700;
							font-size : 0.8em;
						}
						
					}
				}

				&:hover{
					.icon{
						border-radius : 50%;
						.shadowSmall();
						color : #fff;
						background: @color-bright;
					}
				}

				&.sharesocial{

					.label,
					.icon{
						color : #ff2f00;
					}

					&:hover{
						.label{
							color : @color-main;	
						}
						.icon{
							border-radius : 0;
							box-shadow: none;
							color : @color-main;
							background: transparent;
						}
					}
				}

				&.nact{
					cursor: default;
					
					.icon{
						cursor: default;
					}
					&:hover{
						.icon{
							border-radius : 0%;
							box-shadow: none;
							color : @color-bright;
							background: transparent;
						}
					}
				}

			}
		}

		.article{
			.images{
				.imagesWrapper{
					width: 60px;
					height: 60px;
					border-radius: 30px;
					margin-right: @rhythm;
					overflow: hidden;
					float: left;
				}
			}
			
		}

		.medium-insert-images{
			img{
				/*max-width: 100%;*/
			}
		}
	}

	.icon.savecrossIcon{
		padding: 0;
		padding-left: @rhythm;
		padding-right: @rhythm;
		position: relative;
		cursor: pointer;
		color : #008833;
		
		.amount{
			position: absolute;
			left: 50%;
			top : 50%;
			padding : 0 @rhythm;
			min-width: 16px;
			height: 16px;
			line-height: 16px;
			text-align: center;
			font-size: 0.5em;
			background: fade(@color-contrast, 80);
			color : #fff;
			.shadowSmaller();
			z-index: 1;
			border-radius: 50%;
		}
	}
}



.wnd.postwindow{
	z-index: 1000;

	.wndback{
		background: transparent;
	}

	.wndcontent{
		top : 0;
		background: fade(@color-black, 90);
		height: 100%;
		width : 100%;
		padding-top : 0;
		padding-bottom: 0;
		overflow-y : scroll;
	}

	.wndinner{
		height: 100%;
		width : 100%;
		max-height: none;
		background: transparent;
	}

	._close{
		color : #fff;
		right: 4 * @rhythm;
	}

	#post{
		background: transparent;

		.nextpost{
			display: block;
		}
	}
}

html.stblack{
	#post{

		.nextpost{
	
			.loader,
			.ended{
				background: @color-gray3;
			}
		}
	
	
		.postWrapper{
			background: @color-black;
			
		}
	
		.shareTable{
	
			
			.sbtnxs{
				span{
					i{
						color : @color-good;
					}
	
					&:hover{
						color : @color-main;
					}
				}
			}
	
	
			&.emptywithrepost{
	
				.meta{
	
					.repostCaption{
						i{
							color : @color-main;
						}
					}
				}
			}
		}
	
		
	
		.repostsecond{
	
			div{
				color : @color-main;
			}
		}
	
		.share{
			background: @color-black;
	
	
			#post{
				.postWrapper{
					background: transparent;
				}
				.share{
					background: transparent;
					.work{
						border-left : @rhythm solid @color-main;
					}
				} 
	
			}
			
	
			.blockAuthor{
				background: fade(@color-black, 90);
				
			}
	
			.commentsWrapper{			
				background: @color-gray3;
			}
			
	
			.shareContent{
	
				.tempPreloader{
					.label{
						color : @color-main;
					}
				}
			}	
	
			.subscribeWrapper{
				background: fade(@color-black, 96);
				
	
				.subscribeevent{
	
					>div{
	
						button{
							background: @color-contrast;
							border-color: @color-contrast;
	
							&:hover{
								background : @color-main;
								border-color: @color-main;
								color : #fff;
							}
						}
					}
				}
			}
			.aitem,
			.additional{
				color : @color-main;
				
				&:hover{
					.shadowSmall();
					border-color: @color-bright;
					color :  @color-bright;
				}
			}
	
		
	
			&.showAdditional{
				.iconWrapper{
					
					.additional{
	
						&:hover{
							border-color: @color-add;
							color :  @color-add;
						}
					}
				}	
			}	
	
			.jsPlayerLoading{
				background: #000000;
	
			}
			
	
			.metatable{
				>div{
					
	
					&.metapanel{
						.metapanelitem{
							
							color : @color-main;
						
							&:hover{
								color : @color-black;
								background: @color-main;
							}
	
						}
					}
				}
			}
	
			.meta{
	
				.authorCell{

					a{
						font-weight: 700;
						color : @color-main;
						cursor: pointer;
						.transition(0.3s);

						&:hover{
							color : @color-main;
						}
					}
					
				}

			}
	
			.images{
			
	
				.imagesWrapper{
					background: transparent;
					
	
	
				}
	
			}
	
			.sharecaption{
				color : @color-gray-slight;
	
				a{
					color : @color-bright;
				}
			}
	
			.message{
	
				a{
					color : @color-bright;
				}
			}
	
	
			.urlhtmlcontent{
				.ogtable{
	
					>div{
	
						&.cnt{
							.title{
								color : @color-bright;
							}
	
						}
					}
				}
			}
	
			.url{
	
				span{
					color : @color-bright;
				}
			
			}
	
			.tags{
				>div{
					span{
						color : @color-bright;
					}
				}
			}
	
			.sys{
				span{
					color : @color-good;
				}
	
			}
	
			.panel{
	
				
				.itemwr{
	
					>div{
						
	
						&.count{
	
							span{
								color : @color-main;
							}
							
							
						}
					}
				}
				>div{
				
	
	
					.stars{
						color : @color-bright;
					
					}
	
					.count{
						cursor: pointer;
					}
	
					.icon{
						color : @color-bright;
					}
	
	
					&:hover{
						.icon{
							color : #fff;
							background: @color-bright;
						}
					}
	
					&.sharesocial{
	
						.label,
						.icon{
							color : #ff2f00;
						}
	
						&:hover{
							.label{
								color : @color-main;	
							}
							.icon{
								color : @color-bright;
								border-radius : 0;
								box-shadow: none;
								color : @color-main;
								background: transparent;
							}
						}
					}
	
					&.nact{
						&:hover{
							.icon{
								color : @color-bright;
								background: transparent;
							}
						}
					}
	
				}
			}
	
		}
	
	}	

	.wnd.postwindow{
		
		.wndback{
			background: transparent;
		}
	
		.wndcontent{
			background: fade(@color-black4, 96);
		}
	
	
		._close{
			color : @color-gray-light;
		}
	}
}

@media only screen and (max-width: 640px) {
#post{

	.nextpost{
		display: none;
	}

	.iconWrapper{
		width: 8 * @rhythm;
		padding-top: @rhythm;
		padding-left: @rhythm;
		padding-right: 0;
	}

	.cntswrk{
		margin-left: 0;
		padding-left : @rhythm;
		padding-right : @rhythm;

		&.formeta{
			margin-left: 8 * @rhythm;
			padding-left : @rhythm;
			padding-bottom: 2 * @rhythm;
		}
	}

	#comments{
		.answer,
		.post{
			padding-left:  @rhythm;
			padding-right: @rhythm;
		}
		.answer{
			padding : 0;
		}

		.caption{
			padding-left:  0.5 * @rhythm;
			padding-right: 7 * @rhythm;
		}

		.list{
			.comment{

				.commentPaddingWrapper{
					padding-left:  @rhythm;
					padding-right: @rhythm;
				}
			}

			

			.answer{
				.postbody{
					padding-left:  @rhythm;
					padding-right: @rhythm;
				}
				
			}
		}

		.answers{		
			.comment{
				.commentPaddingWrapper{
					padding-left:  0;
					padding-right: 0;
				}
				
			}
		}
	}

	

	/*.shareTable{
		display: block;
		overflow-y: hidden;
		>div{
			display: block;
			float: left;
			width: 100%;

			&.iconWrapper{
				width: 60px;
				padding-top: @rhythm;
				padding-left: @rhythm;
			}

			&.metawrapper{
				padding : 0;
				padding-top : @rhythm;
				width: 75%;
			}

		}
	}
*/

	

	.share{

		#post{

			#comments{
				.caption{
					padding-left: @rhythm;
					padding-right: @rhythm;
				}
				
				.commentPaddingWrapper,
				.post{
					padding-left: 0;
					padding-right: @rhythm;
				}
	
				.commentPaddingWrapper{
					padding-right: @rhythm;
				}
	
				.list .answer .postbody{
					padding-left: 0;
					padding-right: @rhythm;
				}
	
				.answers{
					.commentPaddingWrapper{
						padding-right: 0;
						padding-left: 0;
					}
				}				
	
				.answer .posttable>div.postCellWrapper .postaction, 
				.edit .posttable>div.postCellWrapper .postaction, 
				.post .posttable>div.postCellWrapper .postaction{
					text-align: center;
				}
			}
	
			.share{
				.work{
					border-left : 0.5 * @rhythm solid @color-main;
				}
				.sharecaption{
					font-size: 1em;
				}
			} 

			.shareTable{
				&.truerepost{
					.iconWrapper{
						width: 6 * @rhythm;
						padding-left: @rhythm;
					}
				}
			}
	
			.iconWrapper{
				width: 6 * @rhythm;
				padding-left: @rhythm;
	
				.usericon{
					width: 5 * @rhythm;
					height: 5 * @rhythm;
				}
			}
		
			.cntswrk{
				margin-left: 0 * @rhythm;
				margin-right: 0 * @rhythm;
				padding-right: @rhythm;
				padding-left: @rhythm;
				&.formeta{
					margin-left: 6 * @rhythm;
					padding-left : 0.5 * @rhythm;
				}
			}
	
			.meta{
				padding-top: 2.3 * @rhythm;
			}
	
	
			#post{
				.cntswrk{
					margin-left: 0 * @rhythm;
					padding-right: 0;
					padding-left: 0;
	
					&.formeta{
						margin-left: 7 * @rhythm;
						padding-left : 0.5 * @rhythm;
					}
	
					
				}
			}
		}

		.work{
			padding : 0;
			width: 100%;
		}

		.shareContent{
			position: relative;

			.tempPreloader{
				padding : 2 * @rhythm 0;
				.label{
					padding-top : @rhythm;
					color : @color-main;
					font-size: 0.8em;
				}
			}
		}	


		.article{
			.images{
				.imagesWrapper{
					width: 60px;
					height: 60px;
					border-radius: 30px;
					margin-right: @rhythm;
					overflow: hidden;
					float: left;
				}
			}

			figure{
				width: 100%!important;
				display: block;
				margin-bottom : @rhythm;

				img{
					margin : 0;
					
					
				}
			}
			
		}

		.medium-insert-images{
			img{
				width: 100%;
			}
		}
	}
}
.wnd.postwindow{

	._close{
		color : #000;
		right: @rhythm;
	}
}
}