.lentaWrapper > div#post {
  background: transparent;
}
.lentaWrapper > div#post .share {
  margin-bottom: 0;
}
#post.preshell {
  background: transparent;
}
#post {
  background: rgb(var(--background-main));
}
#post .jsPlayerLoading,
#post .video-js {
  max-height: 80vh;
  max-height: calc(var(--vh, 1vh) * 80);
}
#post .videoWrapper {
  max-width: 650px;
  position: relative;
  overflow: hidden;
}
#post .lockedaccount,
#post .empty {
  text-align: center;
  padding: 5em;
}
#post .lockedaccount span,
#post .empty span {
  font-size: 2em;
  font-weight: 100;
}
#post .lockedaccount.allb,
#post .empty.allb {
  background: rgb(var(--background-main));
  margin: 0 auto;
  margin-top: 5em;
  max-width: 400px;
  border-radius: 12px;
}
#post .showmorelenta {
  display: none;
  background: rgb(var(--background-total-theme));
}
#post .showmorelenta.hasshares {
  display: block;
}
#post .showmorelenta .horizontalLentaWrapper {
  padding: 1em;
}
#post .showmorelenta .horizontalLentacaption {
  padding: 1em 0;
}
#post .showmorelenta .horizontalLentacaption span {
  font-weight: 700;
  font-size: 0.8em;
}
#post .showmorelenta .durationWrapper,
#post .showmorelenta .statswrapper {
  top: 0;
  bottom: auto!important;
}
#post #lenta .share .sharecaption {
  font-size: 1em;
}
#post .debuginfo {
  display: none!important;
}
#post .postWrapper {
  margin: 0 auto;
  max-width: 930px;
  opacity: 0;
  /*border-radius: 6px;*/
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#post .postWrapper.active {
  opacity: 1;
}
#post .share {
  background: rgb(var(--background-total-theme));
  border-radius: 6px;
  /*border-radius: 6px;*/
}
#post .share .work {
  padding: 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 0;
}
#post .share .videoTips {
  display: none;
}
#post .share .exitFull {
  display: none;
}
#post .share .images {
  max-width: 620px;
}
#post .share .images .imagesWrapper {
  width: 180px;
  height: 180px;
}
#post .share .images .imagesContainer.owlcar {
  height: auto;
  width: 100%;
  max-width: 400px;
}
#post .share .images .imagesContainer.owlcar .imagesWrapper {
  height: 500px;
  float: none;
  width: 100%;
  background: transparent;
}
#post .share .images .imagesContainer.owlcar .imagesWrapper .image {
  background-size: contain!important;
}
#post .share .images .imagesContainer.one .imagesWrapper {
  width: 400px;
  height: 400px;
}
#post .share .images .imagesContainer.one .imagesWrapper.w2 {
  width: 600px;
}
#post .share .images .imagesContainer.one .imagesWrapper.h2 {
  width: 400px;
}
#post .share .images .imagesContainer.two .imagesWrapper {
  width: 200px;
  height: 200px;
}
#post .share .images .imagesContainer.two .imagesWrapper.w2 {
  width: 400px;
}
#post .share .images .imagesContainer.two .imagesWrapper.h2 {
  width: 200px;
}
#post .share .images .imagesContainer.four .imagesWrapper {
  width: 200px;
  height: 200px;
}
#post .share .images .imagesContainer.four .imagesWrapper.w2 {
  width: 400px;
}
#post .share .images .imagesContainer.four .imagesWrapper.h2 {
  width: 200px;
}
#post .share .images .imagesContainer.articleImages .imagesWrapper {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
#post .share .sharecaption {
  max-width: 620px;
}
#post .share .message {
  max-width: 620px;
}
#post.videomainpost {
  /*padding-bottom : 4 * @rhythm;*/
}
#post.videomainpost .hiddenpost {
  background: rgb(var(--background-total-theme));
}
#post.videomainpost .postWrapper {
  background: transparent;
  max-width: none;
}
#post.videomainpost .videoWrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#post.videomainpost .videoWrapper .js-player {
  border-radius: 0;
}
#post.videomainpost .share {
  background: transparent;
}
#post.videomainpost .share .shareTable {
  background: rgb(var(--background-total-theme));
  padding-top: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#post.videomainpost .share .message,
#post.videomainpost .share .sharecaption {
  max-width: 650px;
}
#post.videomainpost .share .commentmessage div {
  max-width: 650px;
}
#post.videomainpost .share .jsPlayerLoading {
  width: 100%;
}
#post.videomainpost .share .statswrapperExtended {
  background: rgb(var(--background-total-theme));
  padding-left: 1em;
}
#post.videomainpost .share .anothercntswrk {
  background: rgb(var(--background-total-theme));
  padding-left: 1em;
  padding-right: 1em;
}
#post.videomainpost .share .work {
  padding: 0;
}
#post.videomainpost .share .url {
  margin-bottom: 0;
}
#post.videomainpost .share .paddingWrapper {
  margin-left: 48px;
  padding-left: 0.5em;
}
#post.videomainpost .share .urlcnt {
  display: none;
}
#post.videomainpost .share .shareTable .iconWrapper {
  padding: 0;
  z-index: 12;
  width: 48px;
}
#post.videomainpost .share .shareTable .iconWrapper .icon {
  width: auto;
  height: 48px;
}
#post.videomainpost .share .shareTable .iconWrapper .icon .usericon {
  width: 48px;
  height: 48px;
}
#post.videomainpost .shareTable .authorTable > div.authorCell {
  padding-left: 0.5em;
  padding-right: 0;
}
#post.videomainpost .shareTable .authorTable > div .datetime {
  opacity: 0.5;
}
#post.videomainpost .shareTable .metatable > div.metapanel .metapanelitem {
  color: rgba(var(--neutral-grad-3), 0.8);
}
#post.videomainpost .cntswrk {
  padding: 0;
  margin: 0;
}
#post.videomainpost .share .metatable > div.metapanel {
  padding-right: 0.5em;
}
#post.videomainpost .videoWrapper {
  overflow: hidden;
  max-width: none;
  position: static;
}
#post.videomainpost .jsPlayerLoading,
#post.videomainpost .video-js {
  max-height: 80vh;
  max-height: calc(var(--vh, 1vh) * 80);
}
#post.videomainpost .forurl .url {
  border-radius: 12px;
  background: #000;
}
#post.videomainpost .statswrapperExtended {
  display: none;
}
#post.videomainpost .share {
  margin: 0 auto;
  max-width: 960px;
}
#post .sharearticle {
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
#post .sharearticle .shareTable {
  padding-top: 0;
  padding-bottom: 0;
}
#post .sharearticle .sharecaption,
#post .sharearticle .tags,
#post .sharearticle .sharecaption {
  max-width: none;
}
#post .sharearticle.ready {
  opacity: 1;
}
#post .sharearticle .sharepanel {
  padding-right: 0.5em;
}
#post .sharearticle .shareBgCaption .author,
#post .sharearticle .articleend .author {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#post .sharearticle .shareBgCaption .author i,
#post .sharearticle .articleend .author i {
  display: none;
}
#post .sharearticle .shareBgCaption .author .notificationturn,
#post .sharearticle .articleend .author .notificationturn {
  display: none!important;
}
#post .sharearticle .shareBgCaption .forstars,
#post .sharearticle .articleend .forstars {
  margin-bottom: 1em;
}
#post .sharearticle .shareBgCaption .forstars .itemwr,
#post .sharearticle .articleend .forstars .itemwr {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#post .sharearticle .shareBgCaption .forstars .itemwr i,
#post .sharearticle .articleend .forstars .itemwr i {
  text-align: center;
}
#post .sharearticle .shareBgCaption .forstars .starWrapper,
#post .sharearticle .articleend .forstars .starWrapper {
  text-align: center;
}
#post .sharearticle .shareBgCaption .forstars .count span,
#post .sharearticle .articleend .forstars .count span {
  font-size: 2em;
}
#post .sharearticle .shareBgCaption .forstars .count span,
#post .sharearticle .articleend .forstars .count span {
  font-weight: 700;
  font-family: Nunito Sans;
}
#post .sharearticle .shareBgCaption .sys,
#post .sharearticle .articleend .sys {
  text-align: center;
}
#post .sharearticle .shareBgCaption .buttonOpenWrapper,
#post .sharearticle .articleend .buttonOpenWrapper {
  margin-bottom: 0.5em;
}
#post .sharearticle .shareBgCaption .buttonOpenWrapper button,
#post .sharearticle .articleend .buttonOpenWrapper button {
  width: 130px;
  border-radius: 0;
  background: rgba(var(--color-shadow-base), 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid transparent!important;
}
#post .sharearticle .shareBgCaption .buttonOpenWrapper button:hover,
#post .sharearticle .articleend .buttonOpenWrapper button:hover {
  background: rgba(var(--color-shadow-base), 0.01);
}
#post .sharearticle .shareBgCaption .divider,
#post .sharearticle .articleend .divider {
  margin: 0 auto;
  margin-bottom: 0.5em;
  height: 1px;
  width: 110px;
  background: rgb(var(--background-total-theme));
}
#post .sharearticle .shareBgCaption .tags,
#post .sharearticle .articleend .tags {
  justify-content: center;
}
#post .sharearticle .shareBgCaption {
  height: 640px;
  position: relative;
}
#post .sharearticle .shareBgCaption .tags div span {
  color: rgb(var(--text-on-bg-ac-color));
}
#post .sharearticle .shareBgCaption .sys span {
  color: rgb(var(--text-on-bg-shadow-color));
}
#post .sharearticle .shareBgCaption .blackmatte {
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
#post .sharearticle .shareBgCaption .captioncnt {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  color: rgb(var(--text-on-bg-ac-color));
  text-align: center;
}
#post .sharearticle .shareBgCaption .captioncnt .sharecaption {
  font-size: 4em;
  font-family: Georgia, serif;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  overscroll-behavior: auto;
  max-width: none;
}
#post .sharearticle .shareBgCaption .icon .usericon {
  margin: 0 auto;
  position: relative;
}
#post .sharearticle .shareBgCaption.showtext .icon {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}
#post .sharearticle .shareBgCaption .starstoppanel,
#post .sharearticle .shareBgCaption .socialsharewrapper {
  position: absolute;
  bottom: 0.75em;
  right: 1.25em;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper {
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  border-radius: 3.5em;
  color: rgb(var(--text-on-bg-ac-color));
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Nunito Sans;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper:hover,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper:hover {
  opacity: 0.6;
}
#post .sharearticle .shareBgCaption .starstoppanel .iconwrapper i,
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper i {
  width: 30px;
  text-align: center;
  font-size: 0.7em;
}
#post .sharearticle .shareBgCaption .socialsharewrapper .iconwrapper {
  justify-content: flex-end;
}
#post .sharearticle .shareBgCaption .starstoppanel {
  bottom: 0.75em;
  left: 1.5em;
  right: auto;
  display: flex;
}
#post .sharearticle .shareBgCaption .articleCover,
#post .sharearticle .shareBgCaption .captioncnt,
#post .sharearticle .shareBgCaption .blackmatte {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#post .sharearticle .shareBgCaption.smallimage .articleCover {
  background-color: rgb(var(--color-shadow-base));
  background-size: 100px auto!important;
}
#post .sharearticle .shareBgCaption.caption_small .captionmult {
  font-size: 1.5em;
}
#post .sharearticle .shareBgCaption.caption_long .captionmult {
  font-size: 0.5em;
}
#post .sharearticle .shareBgCaption.verticalcover {
  height: 720px;
}
#post .sharearticle .shareBgCaption.verticalcover.showtext {
  border-bottom: 1px dashed rgba(var(--neutral-grad-4), 0.5);
}
#post .sharearticle .shareBgCaption.verticalcover .articleCover {
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  right: 56%;
}
#post .sharearticle .shareBgCaption.verticalcover .captioncnt {
  left: 44%;
  right: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
}
#post .sharearticle .shareBgCaption.verticalcover .blackmatte {
  display: none;
}
#post .sharearticle .shareBgCaption.verticalcover .icon {
  position: static;
}
#post .sharearticle .shareBgCaption.verticalcover .captioncnt {
  justify-content: center;
  color: rgb(var(--text-color));
}
#post .sharearticle .shareBgCaption.verticalcover .divider {
  background: rgb(var(--text-color));
}
#post .sharearticle .shareBgCaption.verticalcover .tags div span {
  color: rgb(var(--text-color));
}
#post .sharearticle .shareBgCaption.verticalcover .sys span {
  color: rgb(var(--text-color));
}
#post .sharearticle .shareBgCaption.verticalcover .starstoppanel .iconwrapper,
#post .sharearticle .shareBgCaption.verticalcover .socialsharewrapper .iconwrapper {
  color: rgb(var(--text-color));
}
#post .sharearticle .articlecontent {
  padding-top: 4em;
  padding-bottom: 4em;
}
#post .sharearticle .articlecontent .articlerenderError {
  text-align: center;
}
#post .sharearticle .articlecontent .cntswrk {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#post .sharearticle .articlecontent .articleend {
  margin-top: 3em;
}
#post .sharearticle .articlecontent .commentsWrapper {
  border-radius: 12px;
}
#post .sharearticle .articlecontent .forcomments {
  margin-top: 2em;
}
#post .sharearticle .articlecontent .article {
  max-width: 640px;
  margin: 0 auto;
}
#post .sharearticle .removeDescription {
  display: none;
  padding: 1.5em;
  color: rgb(var(--neutral-grad-2));
  text-align: center;
}
#post .sharearticle.deleted .forcomments,
#post .sharearticle.deleted .starstoppanel,
#post .sharearticle.deleted .socialsharewrapper,
#post .sharearticle.deleted .textscnts {
  display: none!important;
}
#post .sharearticle.deleted .acticletext {
  display: none;
}
#post .sharearticle.deleted .removeDescription {
  display: block!important;
}
#post .sharearticle.deleted .articleCover {
  filter: blur(10px);
}
#content > div#post.sharec .postWrapper {
  max-width: none;
}
#content > div#post.sharec .widthcontainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
html.mobileview #post .videoWrapper {
  max-width: none;
}
html.mobileview #post .sharearticle .articlecontent {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
html.mobileview .wnd.normalizedmobile.articlewindow .wndinner .wndcontent {
  max-width: none;
}
@media only screen and (max-width: 768px) {
  #content > div#post.sharec .widthcontainer {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #post {
    padding: 0;
  }
  #post .videoWrapper {
    border-radius: 0;
  }
  #post .videoWrapper .js-player {
    border-radius: 0;
    overflow: visible;
  }
  #post .videoWrapper .js-player .vjs-control-bar {
    border-radius: 0;
    overflow: visible;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) {
    height: auto;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    color: #fff;
    text-align: center;
    position: relative;
    border-bottom: 1px dashed rgba(var(--neutral-grad-4), 0.5);
    color: rgb(var(--text-color));
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .tags {
    justify-content: center;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .tags div span {
    color: rgb(var(--text-color));
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .sys span {
    color: rgb(var(--text-color));
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .captioncnt .sharecaption {
    font-size: 3em;
    font-family: Georgia, serif;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .icon {
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .icon .usericon {
    margin: 0 auto;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .articleCover {
    height: 300px;
    position: relative;
  }
  #post .sharearticle .shareBgCaption:not(.verticalcover) .blackmatte {
    display: none;
  }
  #post .sharearticle .shareBgCaption.verticalcover {
    height: 720px;
    border-bottom: 0;
  }
  #post .sharearticle .shareBgCaption.verticalcover .articleCover {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 4em;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt .sharecaption {
    font-size: 2em;
  }
  #post .sharearticle .shareBgCaption.verticalcover .blackmatte {
    display: block;
  }
  #post .sharearticle .shareBgCaption.verticalcover .icon {
    position: absolute;
  }
  #post .sharearticle .shareBgCaption.verticalcover .captioncnt {
    justify-content: flex-end;
    color: rgb(var(--text-on-bg-ac-color));
  }
  #post .sharearticle .shareBgCaption.verticalcover .divider {
    background: rgb(var(--text-on-bg-ac-color));
  }
  #post .sharearticle .shareBgCaption.verticalcover .tags div span {
    color: rgb(var(--text-on-bg-ac-color));
  }
  #post .sharearticle .shareBgCaption.verticalcover .sys span {
    color: rgb(var(--text-on-bg-ac-color));
  }
  #post .sharearticle .shareBgCaption.verticalcover .starstoppanel .iconwrapper,
  #post .sharearticle .shareBgCaption.verticalcover .socialsharewrapper .iconwrapper {
    color: rgb(var(--text-on-bg-ac-color));
  }
  #post .sharearticle .articlecontent {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #post .sharearticle .articlecontent .article {
    max-width: 640px;
    margin: 0 auto;
  }
  #post .sharearticle .articlecontent .article_quote,
  #post .sharearticle .articlecontent .article_link_custom {
    width: 96%;
    max-width: none;
  }
  #post .sharearticle .articlecontent .article_this_embed {
    padding: 0;
    margin-top: 1em;
    border: 0;
  }
}
html.mobileview.fullscreen #post #comments {
  display: none;
}
.wnd.postwindow .wndcontent {
  top: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
  padding-bottom: 10em;
}
.wnd.postwindow .wndinner {
  height: 100%;
  width: 100%;
  max-height: none;
  background: transparent;
}
.wnd.postwindow.articlewindow .wndcontent {
  padding: 0;
  border-radius: 0;
}
.wnd.postwindow.articlewindow #post .postWrapper {
  max-width: none;
}
.wnd.postwindow.articlewindow ._close {
  backdrop-filter: blur(7px) grayscale(30%);
  -webkit-backdrop-filter: blur(7px) grayscale(30%);
  color: rgb(var(--text-on-bg-ac-color));
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
.wnd.postwindow .widthcontainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.wnd.postwindow #post {
  margin: 0 auto;
  background: transparent;
}
.wnd.postwindow #post .postWrapper {
  overflow: hidden;
  border-radius: 3px;
}
.wnd.postwindow #post .nextpost {
  display: block;
}
html.mobileview .wnd.postwindow .widthcontainer {
  width: 100%;
  max-width: none;
}
html.mobileview .wnd.articlewindow .widthcontainer {
  width: 96%;
  max-width: 768px;
}
@media only screen and (max-width: 768px) {
  #post {
    border-top: 1px solid rgba(var(--neutral-grad-1), 0.3);
  }
  #post .statswrapperExtended {
    padding: 0.5em;
  }
  #post .showmorelenta .horizontalLentaWrapper {
    padding: 0.5em 0;
  }
  #post .showmorelenta .horizontalLentacaption {
    padding: 0.5em;
  }
  #post .repostsecond {
    text-align: center;
  }
  #post .nextpost {
    display: none;
  }
  #post .iconWrapper {
    width: 4em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0;
  }
  #post .openoriginallabel {
    display: none;
  }
  #post.videomainpost .formeta {
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 0;
  }
  #post.videomainpost.squareVideo .forurl .videoWrapper,
  #post.videomainpost.verticalVideo .forurl .videoWrapper {
    max-width: none;
  }
  #post.videomainpost .share .anothercntswrk {
    padding-right: 0.5em;
  }
  #post.videomainpost .share .paddingWrapper {
    margin-left: 0;
    padding-left: 0;
  }
  .wnd.postwindow .widthcontainer {
    width: 100%;
  }
  .wnd.postwindow .wndcontent {
    padding-bottom: 0;
  }
  .wnd.postwindow #post .share .sharearticle .commentsWrapper {
    padding-bottom: 0;
  }
  .wnd.postwindow #post .share .commentsWrapper {
    padding-bottom: 5em;
  }
  html.mobileview .wnd.postwindow .widthcontainer {
    width: 100%;
  }
  html.mobileview .wnd.postwindow.normalizedmobile {
    /*#post .postWrapper{
					padding-top : @rhythm;
				}*/
  }
  html.mobileview .wnd.postwindow.normalizedmobile .wndcontent {
    background: rgb(var(--background-total-theme));
  }
  html.mobileview .wnd.postwindow.normalizedmobile #post {
    border-top: 0;
  }
  html.mobileview .wnd.postwindow.normalizedmobile #post .cntswrk.forcomments .paddingWrapper {
    padding: 0;
  }
  html.mobileview .wnd.articlewindow.normalizedmobile #post .postWrapper {
    padding-top: 0;
  }
}
.wnd.postwindow.pipmini .wndcontent {
  padding-right: 0;
  overflow-y: hidden;
}
.wnd.postwindow.pipmini #post {
  padding: 0!important;
}
.wnd.postwindow.pipmini #post .postWrapper {
  padding: 0!important;
}
.wnd.postwindow.pipmini #post .shareTable {
  padding: 0;
  border-radius: 6px;
}
.wnd.postwindow.pipmini #post .videoWrapper {
  border-radius: 6px;
}
.wnd.postwindow.pipmini #post .videoWrapper .video-js {
  min-height: 150px;
  max-height: calc(var(--vh, 1vh) * 25);
}
.wnd.postwindow.pipmini #post .videoWrapper .video-js .vjs-control-bar .vjs-mute-control {
  position: absolute;
  height: 3em;
  line-height: 3.5em;
  font-size: 1em;
  right: 0.25em;
  bottom: 0;
  width: 3em;
  font-size: 0.9em;
}
.wnd.postwindow.pipmini #post .work {
  position: static;
}
html.pipmode .wnd.postwindow.pipmini #post .shareTable {
  padding: 0;
  border-radius: 0;
}
html.pipmode .wnd.postwindow.pipmini #post .videoWrapper {
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
html.pipmode .wnd.postwindow.pipmini #post .videoWrapper .js-player {
  height: 100%;
}
html.pipmode .wnd.postwindow.pipmini #post .videoWrapper .video-js {
  max-height: none;
  min-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  right: 0;
}
html.pipmode .wnd.postwindow.pipmini #post .videoWrapper .video-js .vjs-control-bar {
  padding-left: 0;
}
