#test {
  min-height: 600px;
  background: #F7F7F7;
}
#test .caption {
  max-width: 700px;
  padding-top: 0.5em;
  font-size: 3em;
  font-weight: 100;
  color: #00a4ff;
}
#test .caption .sub {
  color: #1e2328;
  font-size: 0.4em;
}
#test .errorname,
#test .erroremail,
#test .errorconfirmemail,
#test .confirmemail {
  color: #00a4ff;
  padding: 1em;
  text-align: center;
  display: none;
  max-width: 600px;
}
#test .errorname span,
#test .erroremail span,
#test .errorconfirmemail span,
#test .confirmemail span {
  font-weight: 700;
  font-size: 0.8em;
}
#test .userPanel {
  padding: 2em 0;
  position: relative;
}
#test .userPanel .require {
  color: #F41A4D;
}
#test .userPanel .reqsnoska {
  font-size: 0.7em;
}
#test .userPanel .upanelloader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  padding: 2em 2em;
  background: rgba(247, 247, 247, 0.9);
}
#test .userPanel .upanelloader .table > div {
  vertical-align: middle;
  text-align: center;
}
#test .userPanel.loading .upanelloader {
  display: block;
}
#test .userPanel .pgroupIconWrapper {
  height: 130px;
  margin-bottom: 3em;
}
#test .userPanel .pgroupIconWrapper .pgroup {
  height: 100%;
  margin-bottom: 0;
}
#test .userPanel .pgroup {
  margin-bottom: 3em;
}
#test .userPanel .uploadPhoto {
  height: 60px;
}
#test .userPanel .inputWrapper {
  z-index: 1000;
}
#test .userPanel .uploadTable > div {
  vertical-align: middle;
}
#test .userPanel .uploadTable > div.iconWrapper {
  width: 85px;
}
#test .userPanel .uploadTable > div.iconWrapper .usericon {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
#test .userPanel .uploadTable > div.label {
  font-weight: 700;
  font-size: 0.9em;
  color: #00a4ff;
}
#test .userPanel .referalMaketWrapper {
  margin-top: 0.5em;
}
#test .userPanel .referalMaketWrapper > div {
  vertical-align: middle;
}
#test .userPanel .referalMaketWrapper > div.refLabel {
  padding-top: 0.5em;
  padding-right: 0.5em;
  width: 190px;
}
#test .userPanel .referalMaketWrapper > div.refLabel .span {
  color: #00a4ff;
  font-weight: 700;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div {
  vertical-align: middle;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refAv {
  width: 40px;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refAv .usericon {
  width: 40px;
  height: 40px;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refName {
  padding-left: 1em;
  padding-right: 1em;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refRemove {
  width: 30px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refRemove:hover {
  color: #ff6e84;
}
#test .userPanel .parameter {
  max-width: 600px;
}
#test .userPanel .parameter .picker select {
  height: auto;
}
#test .userPanel .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
#test .userPanel .parameter .pName {
  vertical-align: top;
  padding-top: 1em;
  padding-right: 0.5em;
  width: 190px;
}
#test .userPanel .parameter .pName .pNameW {
  padding-top: 0.5em / 3;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}
#test .userPanel .parameter .pName .unit {
  font-weight: 700;
  color: #00A3F7;
}
#test .userPanel .parameter .pName .note {
  font-weight: 400;
  color: #00a4ff;
}
#test .userPanel .parameter .pInput {
  position: relative;
  vertical-align: top;
}
#test .userPanel .parameter .pInput .echo {
  padding: 0.5em;
  color: #ff6e84;
  font-weight: 700;
}
#test .userPanel .parameter .pInput .vm_valuesmulti {
  padding-top: 0.5em / 2;
}
#test .userPanel .parameter .panel {
  vertical-align: top;
  padding-top: 1em;
  width: 20px;
}
#test .userPanel .parameter .panel .clear {
  text-align: right;
  cursor: pointer;
  color: #e4ddde;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#test .userPanel .parameter .panel .clear:hover {
  color: #00a4ff;
}
#test .userPanel .parameter select,
#test .userPanel .parameter textarea,
#test .userPanel .parameter input {
  width: 100%;
  padding: 0.5em;
  border-radius: 2px;
}
#test .userPanel .parameter select.error,
#test .userPanel .parameter textarea.error,
#test .userPanel .parameter input.error {
  border: 1px solid #F41A4D;
}
#test .userPanel .parameter select.success,
#test .userPanel .parameter textarea.success,
#test .userPanel .parameter input.success {
  border: 1px solid #076C34;
}
#test .userPanel .parameter textarea {
  min-height: 105px;
  border: 1px solid #d0c9ca;
}
#test .userPanel .parameter .error select,
#test .userPanel .parameter .error textarea,
#test .userPanel .parameter .error input {
  border: 1px solid #F41A4D;
}
#test .userPanel .parameter .success select,
#test .userPanel .parameter .success textarea,
#test .userPanel .parameter .success input {
  border: 1px solid #076C34;
}
#test .userPanel .parameter select {
  height: 38px;
  padding-right: 25px;
  width: auto;
}
#test .userPanel .parameter .vc_valuecustom {
  width: 100%;
}
#test .userPanel .parameter .vc_valuecustom .vc_textInput,
#test .userPanel .parameter .vc_valuecustom_multibig .vc_textInput {
  background: #fff;
}
#test .userPanel .parameter .vmt_valuesmultitree,
#test .userPanel .parameter .vm_value {
  padding: 0;
}
#test .userPanel .parameter .vmt_valuesmultitree .checkbox + label:before,
#test .userPanel .parameter .vm_value .checkbox + label:before {
  font-size: 1.6em;
  line-height: 19px;
}
#test .userPanel .parameterMaketWrapper[parameter="addresses"] .parameter {
  max-width: 800px;
}
#test .userPanel .parameterMaketWrapper[parameter="code"] {
  display: none;
}
#test .userPanel .parameterMaketWrapper[parameter="ref"] {
  display: none;
}
#test .userPanel .parameterMaketWrapper[parameter="send"] button {
  float: right;
}
#test .userPanel .parameterMaketWrapper .changeemail {
  display: none;
}
#test .userPanel .parameterMaketWrapper .changeemail .changeWrapper {
  display: flex;
}
#test .userPanel .parameterMaketWrapper .changeemail .changeWrapper .empty {
  width: 190px;
}
#test .userPanel .parameterMaketWrapper .changeemail .changeWrapper .change {
  font-size: 0.9em;
  color: #00a4ff;
  cursor: pointer;
}
#test .userPanel .parameterMaketWrapper .confirmemail {
  display: none;
}
#test .userPanel .subcaption {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#test .userPanel .upanel {
  margin-top: 1em;
  overflow: hidden;
}
#test .userPanel .upanel > div {
  float: left;
  margin-right: 1em;
}
#test .userPanel .upanel > div button {
  min-width: 170px;
}
#test .userPanel .upanel > div .save {
  cursor: default;
  background: #3c4146;
  border-color: #3c4146;
  color: #fff;
}
#test .userPanel .upanel > div.loadingToB {
  display: none;
}
#test .userPanel .upanel > div.loadingToB .label {
  font-weight: 500;
  font-size: 0.85em;
  color: #00a4ff;
  padding-top: 0.5em;
}
#test .userPanel .upanel > div.cancelwr {
  display: none;
}
#test .userPanel .upanel.changes > div {
  float: left;
  margin-right: 1em;
}
#test .userPanel .upanel.changes > div .save {
  cursor: pointer;
  background: #00a4ff;
  border-color: #00a4ff;
}
#test .userPanel .upanel.changes > div .save:hover {
  background: #00a4ff;
}
#test .userPanel .upanel.changes > div.cancelwr {
  display: block;
}
#test .userPanel .upanel.wait > div {
  display: none;
}
#test .userPanel .upanel.wait > div.cancelwr {
  display: none;
}
#test .userPanel .upanel.wait > div.loadingToB {
  display: block;
}
#test.firstTime .userPanel .parameterMaketWrapper[parameter="ref"] {
  display: block;
}
#test .testPanel {
  padding-top: 1em;
  padding: 1em 2em;
}
#test .testPanel .showhidetestpanel {
  margin-bottom: 1em;
  font-size: 0.8em;
  text-decoration: underline;
  color: #00a4ff;
  cursor: pointer;
}
#test .testPanel .mwr {
  display: none;
}
#test .testPanel.active .mwr {
  display: block;
}
#test .adressesInput .addaddress {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #d0c9ca;
  color: #d0c9ca;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.8em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#test .adressesInput .addaddress:hover {
  color: #00a4ff;
  border-color: #00a4ff;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper {
  margin-top: 0.5em;
  background: #fff;
  border-radius: 30px;
  padding: 0 0.5em;
  box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.4);
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div {
  padding: 0.5em;
  vertical-align: middle;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.currencyWrapper {
  width: 80px;
  font-weight: 700;
  color: #00a4ff;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper {
  width: 40px;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #d0c9ca;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item:hover {
  color: #F41A4D;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.addressWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#test .signout {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #ff6e84;
  cursor: pointer;
  text-decoration: underline;
}
#test .signout:hover {
  color: #3c4146;
}
#test .iwrapper {
  padding: 0.5em 0;
}
#test .iwrapper input {
  width: 400px;
}
#test .mwr {
  padding-top: 1em;
}
#test .optionInput {
  width: auto;
}
#test .optionInput > div {
  vertical-align: middle;
  padding: 0.5em;
}
#test .optionInput > div.label {
  width: 200px;
}
#test .optionInput > div .vc_valuecustom {
  width: 400px;
}
#test .optionInput > div:nth-child(1) {
  padding-left: 0;
}
#test .unspentlist {
  padding: 2em 0;
}
#test .unspentlist .caption {
  font-weight: 700;
  padding: 1em 0;
}
#test .unspentlist .unspentData > div {
  vertical-align: top;
  width: 50%;
  padding-right: 1em;
}
#test .unspentlist .unspentData .cpt {
  margin-bottom: 1em;
  color: #00a4ff;
}
#test .transactionInfo {
  margin-top: 1em;
  max-width: 900px;
}
#test .transactionInfo .tratable .table > div {
  vertical-align: top;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#test .transactionInfo .tratable .table > div.label {
  padding-left: 0;
  width: 30%;
}
#test .transactionInfo .panel {
  margin-top: 1em;
}
.addaddressDialog {
  background: rgba(21, 23, 34, 0.95);
  color: #fff;
}
.addaddressDialog .thwrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.addaddressDialog ._close {
  color: rgba(255, 255, 255, 0.9);
}
.addaddressDialog .buttons > div {
  float: none;
  margin: 0 auto;
  width: 200px;
}
.addaddressDialog .buttons > div button {
  width: 100%;
}
.addaddressDialog .addaddress .caption {
  text-align: center;
  color: #ff6e84;
}
.addaddressDialog .addaddress .inputsWrapper {
  margin-top: 1em;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div {
  vertical-align: middle;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper {
  width: 150px;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper select {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #ff6e84;
  width: 100%;
  height: 60px;
  color: #00a4ff;
  -webkit-appearance: none;
  background-image: url(../../img/arrow_wh.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.addressWrapper input {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #ff6e84;
  color: #fff;
  height: 60px;
}
.wnd.testwindow .wndinner {
  width: 550px;
  height: 80%;
  max-height: 750px;
  background: #fff;
}
.wnd.testwindow .wndinner .wndcontent {
  padding: 0;
  overflow-y: auto;
}
.wnd.testwindow .wndback {
  background: rgba(10, 12, 23, 0.9);
}
.wnd.testwindow ._close {
  color: #fff;
}
.wnd.testwindow #test {
  background: #fff;
  width: 500px;
  margin: 0 auto;
}
.wnd.testwindow #test .testPanel {
  display: none;
}
.wnd.testwindow #test .caption {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: #ff4800;
  margin-top: 0.5em;
}
.wnd.testwindow #test .subcaption {
  text-align: center;
}
.wnd.testwindow #test .uploadTable {
  width: auto;
  margin: 0 auto;
}
.wnd.testwindow #test .uploadTable > div.label {
  display: none;
}
.wnd.testwindow #test .uploadTable > div.iconWrapper {
  width: 60px;
  position: relative;
}
.wnd.testwindow #test .uploadTable > div.iconWrapper .plissingCnt {
  left: 45px;
}
.wnd.testwindow #test .userPanel .upanelloader {
  background: rgba(255, 255, 255, 0.9);
}
.wnd.testwindow #test .upanel button {
  margin: 0 auto;
}
.wnd.testwindow #test .upanel > div {
  margin: 0 auto;
  text-align: center;
  float: none;
}
html.stblack #test {
  background: transparent;
}
html.stblack #test .caption {
  color: #00a4ff;
}
html.stblack #test .caption .sub {
  color: #b2abac;
}
html.stblack #test .errorname,
html.stblack #test .erroremail,
html.stblack #test .errorconfirmemail {
  color: #00a4ff;
}
html.stblack #test .userPanel .require {
  color: #F41A4D;
}
html.stblack #test .userPanel .upanelloader {
  background: rgba(10, 12, 23, 0.9);
}
html.stblack #test .userPanel .uploadTable > div.label {
  color: #00a4ff;
}
html.stblack #test .userPanel .referalMaketWrapper > div.refLabel .span {
  color: #00a4ff;
}
html.stblack #test .userPanel .referalMaketWrapper > div .refNameTable > div.refRemove:hover {
  color: #ff6e84;
}
html.stblack #test .userPanel .parameter .pName .unit {
  color: #00A3F7;
}
html.stblack #test .userPanel .parameter .pInput .echo {
  color: #ff6e84;
}
html.stblack #test .userPanel .parameter .panel .clear {
  color: #00a4ff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html.stblack #test .userPanel .parameter .panel .clear:hover {
  color: #00A3F7;
}
html.stblack #test .userPanel .parameter select.error,
html.stblack #test .userPanel .parameter textarea.error,
html.stblack #test .userPanel .parameter input.error {
  border: 1px solid #F41A4D;
}
html.stblack #test .userPanel .parameter select.success,
html.stblack #test .userPanel .parameter textarea.success,
html.stblack #test .userPanel .parameter input.success {
  border: 1px solid #076C34;
}
html.stblack #test .userPanel .parameter .error select,
html.stblack #test .userPanel .parameter .error textarea,
html.stblack #test .userPanel .parameter .error input {
  border: 1px solid #F41A4D;
}
html.stblack #test .userPanel .parameter .success select,
html.stblack #test .userPanel .parameter .success textarea,
html.stblack #test .userPanel .parameter .success input {
  border: 1px solid #076C34;
}
html.stblack #test .userPanel .parameter .vc_valuecustom .vc_textInput,
html.stblack #test .userPanel .parameter .vc_valuecustom_multibig .vc_textInput {
  background: transparent;
  color: #b2abac;
}
html.stblack #test .userPanel .upanel > div .save {
  background: #00A3F7;
  border-color: #00A3F7;
  color: #fff;
}
html.stblack #test .userPanel .upanel > div.loadingToB .label {
  color: #00a4ff;
}
html.stblack #test .userPanel .upanel.changes > div .save {
  background: #00a4ff;
  border-color: #00a4ff;
}
html.stblack #test .userPanel .upanel.changes > div .save:hover {
  background: #00a4ff;
}
html.stblack #test .testPanel .showhidetestpanel {
  color: #00a4ff;
}
html.stblack #test .adressesInput .addaddress {
  border: 1px solid #00A3F7;
  color: #00A3F7;
}
html.stblack #test .adressesInput .addaddress:hover {
  color: #00a4ff;
  border-color: #00a4ff;
}
html.stblack #test .adressesInput .addedAddressesWrapper .addedAddressWrapper {
  background: #030f1b;
}
html.stblack #test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.currencyWrapper {
  color: #00a4ff;
}
html.stblack #test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item {
  color: #b2abac;
}
html.stblack #test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item:hover {
  color: #F41A4D;
}
html.stblack #test .signout {
  color: #ff6e84;
}
html.stblack #test .signout:hover {
  color: #00a4ff;
}
html.stblack #test .unspentlist .unspentData .cpt {
  color: #00a4ff;
}
html.stblack .addaddressDialog {
  background: rgba(21, 23, 34, 0.95);
  color: #b2abac;
}
html.stblack .addaddressDialog .thwrapper {
  background: transparent;
}
html.stblack .addaddressDialog ._close {
  color: rgba(178, 171, 172, 0.9);
}
html.stblack .addaddressDialog .addaddress .caption {
  color: #ff6e84;
}
html.stblack .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper select {
  border-bottom: 2px solid #ff6e84;
  color: #00a4ff;
  background-image: url(../../img/arrow_wh.png);
}
html.stblack .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.addressWrapper input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #ff6e84;
  color: #b2abac;
}
@media only screen and (max-width: 768px) {
  #test {
    background: #fff;
    padding: 0 0.5em;
  }
  #test .caption {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 300;
  }
  #test .userPanel .upanelloader {
    background: rgba(255, 255, 255, 0.9);
  }
  #test .userPanel .parameter {
    max-width: none;
    display: block;
  }
  #test .userPanel .parameter > div {
    padding: 0;
    display: block;
  }
  #test .userPanel .parameter .pName {
    width: 100%;
    padding-bottom: 0.5em;
  }
  #test .userPanel .parameter .pInput {
    width: 100%;
  }
  #test .userPanel .upanel > div {
    width: 50%;
    margin-right: 0;
  }
  #test .userPanel .upanel > div button {
    width: 100%;
    min-width: 0;
  }
  #test .userPanel .upanel.changes > div {
    margin-right: 0;
  }
  #test .adressesInput .addaddress {
    width: 100%;
    border-radius: 20px;
    height: 35px;
    background: #fff;
    line-height: 33px;
  }
  .addaddressDialog .thwrapper {
    position: static;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable {
    display: block;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div {
    display: block;
    width: 100%;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper {
    width: 100%;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper select {
    border-radius: 0;
  }
  html.stblack #test {
    background: #0a0c17;
  }
  html.stblack #test .userPanel .upanelloader {
    background: rgba(10, 12, 23, 0.9);
  }
  html.stblack #test .adressesInput .addaddress {
    background: #00a4ff;
  }
}
