#test {
  min-height: 600px;
  background: rgb(var(--background-secondary-theme));
}
#test .caption {
  max-width: 700px;
  padding-top: 0.5em;
  font-size: 3em;
  font-weight: 100;
  color: rgb(var(--color-txt-ac));
}
#test .caption .sub {
  color: rgb(var(--color-txt-gray-dark));
  font-size: 0.4em;
}
#test .errorname {
  color: rgb(var(--color-txt-ac));
  padding: 1em;
  text-align: center;
  display: none;
  max-width: 600px;
}
#test .errorname span {
  font-weight: 700;
  font-size: 0.8em;
}
#test .userPanel {
  padding: 2em 0;
  position: relative;
}
#test .userPanel .require {
  color: rgb(var(--color-bad));
}
#test .userPanel .reqsnoska {
  font-size: 0.7em;
}
#test .userPanel .upanelloader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  padding: 2em 2em;
  background: rgb(var(--background-secondary-theme));
}
#test .userPanel .upanelloader .table > div {
  vertical-align: middle;
  text-align: center;
}
#test .userPanel.loading .upanelloader {
  display: block;
}
#test .userPanel .pgroupIconWrapper {
  margin-bottom: 3em;
}
#test .userPanel .pgroupIconWrapper .pgroup {
  height: 100%;
  margin-bottom: 0;
}
#test .userPanel .pgroupIconWrapper .upload .fileUploader,
#test .userPanel .pgroupIconWrapper .upload .fileUploader .elContent {
  position: relative;
}
#test .userPanel .pgroup {
  margin-bottom: 3em;
}
#test .userPanel .uploadPhoto {
  height: 60px;
}
#test .userPanel .uploadTable > div {
  vertical-align: middle;
}
#test .userPanel .uploadTable > div.iconWrapper {
  width: 85px;
}
#test .userPanel .uploadTable > div.iconWrapper .usericon {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
#test .userPanel .uploadTable > div.label {
  font-weight: 700;
  font-size: 0.9em;
  color: rgb(var(--color-txt-ac));
}
#test .userPanel .referalMaketWrapper {
  margin-top: 0.5em;
}
#test .userPanel .referalMaketWrapper > div {
  vertical-align: middle;
}
#test .userPanel .referalMaketWrapper > div.refLabel {
  padding-top: 0.5em;
  padding-right: 0.5em;
  width: 190px;
}
#test .userPanel .referalMaketWrapper > div.refLabel .span {
  color: rgb(var(--color-txt-ac));
  font-weight: 700;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div {
  vertical-align: middle;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refAv {
  width: 40px;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refAv .usericon {
  width: 40px;
  height: 40px;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refName {
  padding-left: 1em;
  padding-right: 1em;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refRemove {
  width: 30px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#test .userPanel .referalMaketWrapper > div .refNameTable > div.refRemove:hover {
  color: rgb(var(--color-txt-ac));
}
#test .userPanel .parameter {
  max-width: 600px;
  width: 100%;
}
#test .userPanel .parameter > div {
  padding: 0.5em 0;
  vertical-align: top;
}
#test .userPanel .parameter .pName {
  vertical-align: top;
  padding-top: 1em;
  padding-right: 0.5em;
  width: 190px;
}
#test .userPanel .parameter .pName .pNameW {
  padding-top: 0.5em / 3;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}
#test .userPanel .parameter .pInput {
  position: relative;
  vertical-align: top;
}
#test .userPanel .parameter .pInput .vm_valuesmulti {
  padding-top: 0.5em / 2;
}
#test .userPanel .parameterMaketWrapper[parameter="addresses"] .parameter {
  max-width: 800px;
}
#test .userPanel .parameterMaketWrapper[parameter="email"] {
  display: none;
}
#test .userPanel .parameterMaketWrapper[parameter="ref"] {
  display: none;
}
#test .userPanel .subcaption {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#test .userPanel .upanel {
  margin-top: 1em;
  overflow: hidden;
}
#test .userPanel .upanel > div {
  float: left;
  margin-right: 1em;
}
#test .userPanel .upanel > div button {
  min-width: 170px;
}
#test .userPanel .upanel > div .save {
  cursor: default;
  background: rgb(var(--neutral-grad-2));
  border-color: rgb(var(--neutral-grad-2));
  color: #fff;
}
#test .userPanel .upanel > div.loadingToB {
  display: none;
}
#test .userPanel .upanel > div.loadingToB .label {
  font-weight: 500;
  font-size: 0.85em;
  color: rgb(var(--color-bg-ac));
  padding-top: 0.5em;
}
#test .userPanel .upanel > div.cancelwr {
  display: none;
}
#test .userPanel .upanel.changes > div {
  float: left;
  margin-right: 1em;
}
#test .userPanel .upanel.changes > div .save {
  cursor: pointer;
  background: rgb(var(--color-bg-ac));
  border-color: rgb(var(--color-bg-ac));
}
#test .userPanel .upanel.changes > div .save:hover {
  background: rgb(var(--color-txt-gray-dark));
}
#test .userPanel .upanel.changes > div.cancelwr {
  display: block;
}
#test .userPanel .upanel.wait > div {
  display: none;
}
#test .userPanel .upanel.wait > div.cancelwr {
  display: none;
}
#test .userPanel .upanel.wait > div.loadingToB {
  display: block;
}
#test.firstTime .userPanel .parameterMaketWrapper[parameter="ref"] {
  display: block;
}
#test .testPanel {
  padding-top: 1em;
  padding: 1em 2em;
}
#test .testPanel .showhidetestpanel {
  margin-bottom: 1em;
  font-size: 0.8em;
  text-decoration: underline;
  color: #00a4ff;
  cursor: pointer;
}
#test .testPanel .mwr {
  display: none;
}
#test .testPanel.active .mwr {
  display: block;
}
#test .adressesInput .addaddress {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid rgb(var(--neutral-grad-2));
  color: rgb(var(--neutral-grad-2));
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.8em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#test .adressesInput .addaddress:hover {
  color: rgb(var(--color-txt-ac));
  border-color: rgb(var(--color-txt-ac));
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper {
  margin-top: 0.5em;
  background: rgb(var(--background-total-theme));
  border-radius: 30px;
  padding: 0 0.5em;
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div {
  padding: 0.5em;
  vertical-align: middle;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.currencyWrapper {
  width: 80px;
  font-weight: 700;
  color: rgb(var(--color-txt-ac));
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper {
  width: 40px;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: rgb(var(--neutral-grad-2));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.panelWrapper .item:hover {
  color: rgb(var(--color-bad));
}
#test .adressesInput .addedAddressesWrapper .addedAddressWrapper .addedAddress > div.addressWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#test .iwrapper {
  padding: 0.5em 0;
}
#test .iwrapper input {
  width: 400px;
}
#test .mwr {
  padding-top: 1em;
}
.addaddressDialog {
  background: rgba(var(--color-shadow-base), 0.95);
  color: rgb(var(--text-on-bg-ac-color));
}
.addaddressDialog .thwrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.addaddressDialog ._close {
  color: rgb(var(--text-on-bg-shadow-color));
}
.addaddressDialog .buttons > div {
  float: none;
  margin: 0 auto;
  width: 200px;
}
.addaddressDialog .buttons > div button {
  width: 100%;
}
.addaddressDialog .addaddress .caption {
  text-align: center;
  color: rgb(var(--color-txt-ac));
}
.addaddressDialog .addaddress .inputsWrapper {
  margin-top: 1em;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div {
  vertical-align: middle;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper {
  width: 150px;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper select {
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgb(var(--color-txt-ac));
  width: 100%;
  height: 60px;
  color: rgb(var(--color-txt-ac));
  -webkit-appearance: none;
  background-image: url(../../img/arrow_wh.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.addressWrapper input {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgb(var(--color-txt-ac));
  color: rgb(var(--text-on-bg-ac-color));
  height: 60px;
  border-radius: 0;
}
.wnd.testwindow .wndinner {
  width: 550px;
  height: 80%;
  max-height: 750px;
  background: rgb(var(--background-total-theme));
}
.wnd.testwindow .wndinner .wndcontent {
  padding: 0;
  overflow-y: auto;
}
.wnd.testwindow .wndback {
  background: rgba(var(--color-shadow-base), 0.95);
}
.wnd.testwindow ._close {
  color: rgb(var(--text-on-bg-shadow-color));
}
.wnd.testwindow #test {
  background: transparent;
  width: 500px;
  margin: 0 auto;
}
.wnd.testwindow #test .testPanel {
  display: none;
}
.wnd.testwindow #test .caption {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(var(--color-txt-orange));
  margin-top: 0.5em;
}
.wnd.testwindow #test .subcaption {
  text-align: center;
}
.wnd.testwindow #test .uploadTable {
  width: auto;
  margin: 0 auto;
}
.wnd.testwindow #test .uploadTable > div.label {
  display: none;
}
.wnd.testwindow #test .uploadTable > div.iconWrapper {
  width: 60px;
  position: relative;
}
.wnd.testwindow #test .uploadTable > div.iconWrapper .plissingCnt {
  left: 45px;
}
.wnd.testwindow #test .userPanel .upanelloader {
  background: rgba(var(--background-total-theme), 0.9);
}
.wnd.testwindow #test .upanel button {
  margin: 0 auto;
}
.wnd.testwindow #test .upanel > div {
  margin: 0 auto;
  text-align: center;
  float: none;
}
/*t*/
@media only screen and (max-width: 768px) {
  #test {
    background: rgb(var(--background-total-theme));
    /*padding : 0 2 * @rhythm;*/
  }
  #test .caption {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 300;
  }
  #test .userPanel .upanelloader {
    background: rgba(var(--background-total-theme), 0.9);
  }
  #test .userPanel .parameter {
    max-width: none;
    display: block;
  }
  #test .userPanel .parameter > div {
    padding: 0;
    display: block;
  }
  #test .userPanel .parameter .pName {
    width: 100%;
    padding-bottom: 0.5em;
  }
  #test .userPanel .parameter .pInput {
    width: 100%;
  }
  #test .userPanel .upanel > div {
    width: 50%;
    margin-right: 0;
  }
  #test .userPanel .upanel > div button {
    width: 100%;
    min-width: 0;
  }
  #test .userPanel .upanel.changes > div {
    margin-right: 0;
  }
  #test .adressesInput .addaddress {
    width: 100%;
    border-radius: 20px;
    height: 35px;
    background: rgb(var(--background-total-theme));
    line-height: 33px;
  }
  .addaddressDialog .thwrapper {
    position: static;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable {
    display: block;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div {
    display: block;
    width: 100%;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper {
    width: 100%;
  }
  .addaddressDialog .addaddress .inputsWrapper .inputsWrapperTable > div.curWrapper select {
    border-radius: 0;
  }
  .wnd.testwindow #test {
    width: 100%;
  }
}
