#testApi .key {
  color: #fc7e09;
}
#testApi .number {
  color: #468346;
}
#testApi .string {
  color: #00a4ff;
}
#testApi .null {
  color: #112035;
}
#testApi .contentSection {
  margin-bottom: 2em;
}
#testApi .mainTestWrapper {
  padding: 2em;
}
#testApi .mainTestHeader {
  padding: 2em;
  padding-bottom: 0;
}
#testApi h1 {
  font-size: 1.2em;
  color: #00a4ff;
  text-decoration: underline;
  font-weight: bold;
}
#testApi h2 {
  font-size: 1em;
  font-weight: bold;
}
#testApi .fieldInput {
  border: 0;
  border-bottom: 1px solid #00a4ff;
  font-size: 0.9em;
}
#testApi .testButton {
  font-size: 0.8em;
  padding: 1em;
}
#testApi .buttonIcon {
  padding-right: 1em;
}
#testApi .removeHeaderButton {
  border-radius: 15px;
  position: relative;
}
#testApi .removeHeaderButton .absoluteIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
