<% 

var arranges = {

	cm : function(){ 
		
		console.log('essenseData', essenseData)
		%> 

		<div class="cpt">
			<input elementsid='videotitle' type='text' value="" class="captionshare" placeholder="<%=e(share.itisvideo() ? 'videotitle' : 'scaption')%>">
		</div>

		<div class="txt">
			<div elementsid='emjcontainer' class="message" placeholder="<%=e(ed.repost ? 'whatsnewrepost' : (share.itisvideo() ? 'videodesc' : 'whatsnew'))%>" id='emjcontainer' spellcheck="true"></div>
		</div>
	
	<% },

	i : function(){ %> 
		<div class="imagesWrapper attachements"></div>
	<% },



	u : function(){ %> 
		<div class="urlWrapper attachements"></div>
	<% },

	
	p : function(){ %> 
		<div elementsid="pollWrapper" class="pollWrapper attachements"></div>
	<% },


} %>

<div id="sortableBody">

	<% var a = share.settings.a || share.default.a %>

    <% _.each(a, function(key, i){ 

        if(!arranges[key]) return;
    %> 

        <div class="draggablepart <% if(share.itisvideo()) {%> itisvideopart <% } %>" part="<%-key%>">
            <div class="draggablewrapper table">
                <div class="draggablecontent">
                    <% arranges[key]() %>
                </div>

				<% if(!share.itisvideo()) {%>
                
                <div class="draggablemarkerwrapper">
                    <div class="marker">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

				<% } %>
            </div>
        </div>
    <% }) %>
</div>

