
<div elementsid="share-<%-module.map.id%>" id="<%-module.map.id%>" class="unfocus <% if(essenseData.minimized && typeof checkEntity !='undefined' && !checkEntity) {%> minimized <% } %>">
	<div class="mobilecaption">
		<% if(!share.aliasid) {%>

			<% if(essenseData.repost) {%>
				<span><%=e('newRepost')%></span>
			<% } else { %> 
				<span><%=e('newShare')%></span>
			<% } %>
			
		<% } else { %> 
			<span><%=e('editpost')%></span>
		<% } %>
	</div>
	<div class="absolutetxwrapper wndcustomscroll">

			<div class="iconWrapper">

				<% 
				
					var src = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.image') || '' 
					var name = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.name') || ''   
					var letter = name ? name[0] : '';

					if(!src && !essenseData.daddress){
						src = deep(app, 'platform.sdk.user.storage.me.image') || ''
					}

				%>
		
				<div class="icon">
					<div class="usericon" image="<%-src || '*'%>">
						<% if(!src && letter) {%>

							<span class="letter">
								<%-letter.toUpperCase()%>
							</span>
	
						<% } else if (!src) { %>
	
							<i class="far fa-user"></i>
	
						<% } %>
					</div>
				</div>

			</div>

			<% if((deep(essenseData, 'pack.addresses.length') || 0) > 1) {%>
				<div class="cntwrk">
					<div class="changeAddressWrapper">

						<select class="changeAddress">
							<% _.each(deep(essenseData, 'pack.addresses'), function(address){ 

								var selected = '';



								if(address == (essenseData.daddress || user.address.value.toString('hex'))) selected = 'selected'

								var label = deep(app, 'platform.sdk.users.storage.'+address+'.name') || address

							%> 

								<option value="<%-address%>" <%-selected%>><%-label%></option>

							<% }) %>
						</select>

					</div>
				</div>

			<% } %>
			

			<div class="cntwrk bodywrapper">
				
			</div>
			
			<div class="repostWrapper attachements"></div>	

			<!-- ------------------------->

			<div class="cntwrk linewrapper">
				<div class="sortablepaddingspacer">

					<div class="settingsWrapper">
					</div>

					<div class="tgsWrapperMain">
					</div>

					<div class="paddingmobilewrapper">
						<div class="error" elementsid="errorLinewrapper"></div>
					</div>

					<div class="postlineWrapper">

					</div>


				</div>
			</div>

			

			
	</div>

	<div class="sLoader">
		<div class="prwrapper">
			<div class="prwrappermiddle">
				<div class="preloader5"><img src="./img/three-dots.svg"/></div>
			</div>
		</div>
	</div>


</div>