
<% 

var arranges = {
	
	cm : function(){ %> 

		<div class="cpt">
			<input type='text' value="" class="captionshare" placeholder="<%=e('scaption')%>">
		</div>
		<div class="txt">
			<div class="message" placeholder="<%=e('whatsnew')%>" id='emjcontainer' spellcheck="true"></div>
		</div>

	<% },

	i : function(){ %> 
		<div class="imagesWrapper attachements"></div>
	<% },



	u : function(){ %> 
		<div class="urlWrapper attachements"></div>
	<% },

	
	p : function(){ %> 
		<div class="pollWrapper attachements"></div>
	<% },


}

var postline = function(){ %>
	<div class="postlineWrapper">

		

	</div>
<% } 


%>

<div id="<%-module.map.id%>" class="unfocus">
	<div class="mobilecaption">
		<% if(!share.aliasid) {%>

			<% if(postcnt === 0) {%>
				<span><%=e('firstShare')%></span>
			<% } else { %> 
			
				<span><%=e('newShare')%></span>
				
			<% }%>
			
		<% } else { %> 
			<span><%=e('editpost')%></span>
		<% } %>
	</div>
	<div class="absolutetxwrapper">
		<!--<div class="txtwrapper table">-->

			<div class="iconWrapper">

				<% 
				
					var src = deep(app, 'platform.sdk.users.storage.'+(essenseData.daddress || user.address.value.toString('hex'))+'.image') || ''  

					if(!src && !essenseData.daddress){
						src = deep(app, 'platform.sdk.user.storage.me.image') || ''
					}

				%>
		
				<div class="icon">
					<div class="usericon" image="<%-src%>">
						<% if(!src) {%>
							<i class="far fa-user"></i>
						<% } %>
					</div>
				</div>

			</div>
			<!--<div class="shareWrapper">-->

				<!--<div class="relativeContainer">-->

					<% if((deep(essenseData, 'pack.addresses.length') || 0) > 1) {%>
						<div class="cntwrk">
							<div class="changeAddressWrapper">

								<select class="changeAddress">
									<% _.each(deep(essenseData, 'pack.addresses'), function(address){ 

										var selected = '';



										if(address == (essenseData.daddress || user.address.value.toString('hex'))) selected = 'selected'

										var label = deep(app, 'platform.sdk.users.storage.'+address+'.name') || address

									%> 

										<option value="<%-address%>" <%-selected%>><%-label%></option>

									<% }) %>
								</select>

							</div>
						</div>

					<% } %>
					

					<% var a = share.settings.a || share.default.a %>
						<div class="cntwrk">
							<div id="sortableBody">

								<% _.each(a, function(key, i){ 

									if(!arranges[key]) return;
								%> 

									<div class="draggablepart" part="<%-key%>">
										<div class="draggablewrapper table">
											<div class="draggablecontent">
												<% arranges[key]() %>
											</div>
											<div class="draggablemarkerwrapper">
												<div class="marker">
													<i class="fas fa-ellipsis-v"></i>
												</div>
											</div>
										</div>
									</div>
								<% }) %>
							</div>
						</div>
					
					<div class="repostWrapper attachements"></div>	
					

					<!-- ----------------------- -->
					<div class="cntwrk">
						<div class="sortablepaddingspacer">

							<div class="tgsWrapperMain">
							</div>

							<% if(!share.aliasid && !essenseData.absolute) {%>
								<% postline() %>

								<div class="paddingmobilewrapper">
									<div class="error"></div>
								</div>

							<% } %>
							

						
						</div>
					</div>

				<!--</div>-->
				
			<!--</div>-->

			
		<!--</div>-->
	</div>

	<div class="sLoader">
		<div class="prwrapper">
			<div class="prwrappermiddle">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>
	</div>

	<% if(share.aliasid || essenseData.absolute) {%>
		<% postline() %>

			<div class="error"></div>

	<% } %>
</div>