<div class="postpanel table">
    <div class="panelWrapper">
        <div class="panel">
            <!--<div class="item" embeding="embeding20">
                <i class="fas fa-plus"></i>
            </div>-->

            <div class="item url tooltip" embeding="url" title="<%=e('saddlink')%>">
                <i class="fas fa-external-link-alt"></i><span class="mobiledevice"><%=e('saddlink')%></span>
            </div>
            <div class="item images tooltip" embeding="images" title="<%=e('saddimages')%>">
                <i class="fas fa-camera"></i> <span class="mobiledevice"><%=e('saddimages')%></span>
            </div>

            <% if(!share.aliasid && !share.repost.v) {%>
            
                <div class="item article tooltip" embeding="article" title="<%=e('sarticle')%>">
                    <i class="fas fa-book-open"></i> <span class="mobiledevice"><%=e('sarticle')%></span>
                </div>

            <% } %>

        </div>
    </div>

    <div class="postWrapper">

        <% if(essenseData.exoprtByTime) {%>

            <div class="postTimeWrapper">
                <select class="postTime">
                    <option value="w"><%=e('snothing')%></option>
                    <option value="t" <% if(essenseData.dtype) {%> selected <% } %>><%=e('sposttime')%></option>
                    <option value="p"><%=e('spostnow')%></option>
                </select>
            </div>

            <div class="selectedTimeWrapper">
                <span class="selectedTime">
                    <% if(essenseData.time) { %> 

                        <%- convertDate(dateToStr(essenseData.time))  %>

                    <% } else { %> 

                        <%=e('stimenotselected')%>

                    <% } %>
                    

                </span> 

                <i class="fas fa-clock"></i>
            </div>
            

        <% } else { %> 

            <div class="postWrapper">

                <% if(!share.aliasid) {%>
                    <div class="dopost element">
                        <button class="post shadow"><%=e('spost')%></button>
                    </div>	
                <% } else { %> 
                    <div class="dopost element">
                        <button class="post shadow">Save</button>
                    </div>

                    <div class="cancelpost element">
                            <button class="cancelediting ghost">Cancel</button>
                        </div>
                <% } %>
                <!--<div class="waitpost element">

                    <div class="itemwr table tempPreloader">
                        
                        <div class="count">
                            <div class="label">

                                <span><%=e('waitConf')%></span>

                            </div>
                        </div>

                        <div class="iconwr">
                            <div class="preloader5"><span></span><span></span><span></span></div>
                        </div>

                        
                    </div>

                </div>-->
            </div>
            

        <% } %>

        
    </div>
</div>