

<div class="postpanel table">
    <div class="panelWrapper">
        <div class="panel">
            
            <% if(!share.itisvideo()) {%>

                <!--<div class="item url tooltip" embeding="url" title="<%=e('saddlink')%>">
                    <i class="fas fa-external-link-alt"></i><span class="mobiledevice"><%=e('saddlink')%></span>
                </div>-->
                <div elementsid="saddimages" class="item images tooltip" title="<%=e('saddimages')%>">
                    <i class="fas fa-camera"></i> <span class="mobiledevice"><%=e('saddimages')%></span>
                </div>
                
                <% if(!share.aliasid && !share.repost.v && !share.hasexchangetag()) {%>
                
                    <div elementsid="sarticle" class="item article tooltip" embeding="article" title="<%=e('sarticle')%>">
                        <i class="fas fa-book-open"></i> <span class="mobiledevice"><%=e('sarticle')%></span>
                    </div>

                <% } %>

            <% } %>

            <% 

            if(!share.hasexchangetag() && !share.repost.v){

                    
                if (!share.repost.v && !share.itisvideo() && !share.aliasid) { %>
                    <div elementsid="peertubeAddVideo" class="item peertube tooltip nowidth" embeding="addVideo" title="<%=e('peertubeAddVideo')%>">
                        <i class="fas fa-video"></i> <span><%- e('peertubeAddVideo') %></span>
                    </div>

                  
                <% }

            } %>
           
            <% if(!share.aliasid && !share.repost.v) {%>
                <div elementsid="stimes" class="item times tooltip <% if(share.itisvideo() || share.hasexchangetag()) {%> nowidth <%} %>" embeding="times" title="<%=e('stimes')%>">
                    <i class="fas fa-times-circle"></i> <span class="<% if(!share.itisvideo() && !share.hasexchangetag()) {%>mobiledevice <% } %>"><%=e('stimes')%></span>
                </div>
            <% } %>

        </div>
    </div>

    <div class="postWrapper">

        <% if(essenseData.exoprtByTime) {%>

            <div class="postTimeWrapper">
                <select class="postTime">
                    <option value="w"><%=e('snothing')%></option>
                    <option value="t" <% if(essenseData.dtype) {%> selected <% } %>><%=e('sposttime')%></option>
                    <option value="p"><%=e('spostnow')%></option>
                </select>
            </div>

            <div elementsid="selectedTimeWrapper" class="selectedTimeWrapper">
                <span class="selectedTime">
                    <% if(essenseData.time) { %> 

                        <%- convertDate(dateToStr(essenseData.time))  %>

                    <% } else { %> 

                        <%=e('stimenotselected')%>

                    <% } %>
                    

                </span> 

                <i class="fas fa-clock"></i>
            </div>
            

        <% } else { %> 

            <div class="postWrapper">

                <% if(!share.aliasid) {%>
                    <div class="dopost element">
                        <button elementsid="spost" class="post shadow"><%=e('spost')%></button>
                    </div>	
                <% } else { %> 
                    <div class="dopost element">
                        <button elementsid="usave" class="post shadow"><%=e('usave')%></button>
                    </div>

                   

                        <div class="cancelpost element">
                            <button elementsid="cancelediting" class="cancelediting ghost"><%=e('ucancel')%></button>
                        </div>

                
                <% } %>
             
            </div>
            

        <% } %>

        
    </div>
</div>