<% 

	var dnow = min.yyyymmdd();
	var dhour = min.getHours();
	var dminutes = min.getMinutes()
%>

<div class="selectDateWrapper">

	<div class="selectDateTableWrapper labels table">
		<div class="dateWrapper"><%=e('sdate')%></div>
		<div class="timeWrapper"><%=e('stime')%></div>
	</div>


	<div class="selectDateTableWrapper table">
		<div class="dateWrapper">
			<select class="day">
				<% 
				
				var today = new Date()

				for(var i = 0; i < 3; i++) {

					var d = today.yyyymmdd();
					var selected = ''

					if (d == date.day) selected = 'selected'

				%>

					<option value="<%-d%>" <%-selected%>><%-moment(d).local().format('D MMMM YYYY')%></option>

				<% 

					today = today.addDays(1)

				} %>
			</select>
		</div>

		<div class="hoursWrapper">
			
			<select class="hours">
				<% 

				var I = 0

				if(date.day == dnow){
					I = dhour
				}
				
				for(var i = I; i < 24; i++) {

					var selected = ''

					if (i <= date.hour) selected = 'selected'

				%>

					<option value="<%-i%>" <%-selected%>><%-addZero(i)%></option>

				<% } %>
			</select>

		</div>

		<div class="dWrapper">:</div>

		<div class="minutesWrapper">
			<select class="minutes">
				<% 
				
				var I = 0

				if(date.day <= dnow && date.hour <= dhour){
					I = dminutes
				}
				
				for(var i = I; i < 60; i++) {

					var selected = ''

					if (i == date.minutes) selected = 'selected'

				%>

					<option value="<%-i%>" <%-selected%>><%-addZero(i)%></option>

				<% } %>
			</select>
		</div>
	</div>

</div>