<% if(url){ 
	var meta = app.platform.parseUrl(url);

	if(typeof share == 'undefined') share = {};

	if((meta.type == 'youtube') || meta.type == 'vimeo' || meta.type == 'bitchute' || meta.type == 'peertube'){ 
		

			var info = app.platform.sdk.videos.storage[url] || app.platform.sdk.videos.storage[meta.id] || {}
			var aspectRatio = (info.data || {}).aspectRatio || 0;
			
			var image = videoImage(url)
	%>
		<div class="videoWrapper fullscreenActive <%- (aspectRatio < 1.25) && (aspectRatio >= 0.9) ? 'squareVideo' : ''%> <%- (aspectRatio < 0.9) && (aspectRatio != 0) ? 'verticalVideo' : ''%>" pid="<%- makeid() %>">
			
			<% if(meta.type != 'peertube' && (!fullplayer || !app.platform.sdk.usersettings.meta.embedvideo.value || (meta.type == 'youtube' && window.cordova))) {%>

				<div class="js-player-dummy " data-plyr-provider="<%-meta.type%>" data-plyr-embed-id="<%-meta.url%>" data-plyr-video-id="<%-meta.id%>" data-plyr-host-name="<%-meta.host_name || ''%>">

					<div class="jsPlayerLoading ytbvimb" <% if(image) {%> image="<%-image%>" <% } else { %> style="background:#000" <% } %>>
						<div class="jsPlayerLoadingD watchonyoutube">
							<div>

								<% if(!app.platform.sdk.usersettings.meta.embedvideo.value || (meta.type == 'youtube' && window.cordova)) {%>

									<a elementsid="jsplayerhref" href="<%- url %>" cordovalink="_system" target="_blank">
										<button class="black">
											<% if(meta.type == 'youtube') {%><i class="fab fa-youtube"></i><% } %> Watch on <%- flb(meta.type) %>
										</button>
									</a>

								<% } else { %>
									<div class="initvideoplayer">
										<i class="fas fa-play"></i>
									</div>

									<div class="playerlabel">
										<%- flb(meta.type) %>
									</div>

									<div class="jsPlayerLoading">
										<div class="jsPlayerLoading-matte"></div>
										<div class="preloader5"><img src="./img/three-dots.svg"/></div>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
		
			<% } else { %> 
				
				<div class="js-player js-player-ini" data-plyr-provider="<%-meta.type%>" data-plyr-embed-id="<%-meta.url%>" data-plyr-video-id="<%-meta.id%>" data-plyr-host-name="<%-meta.host_name || ''%>">
					
					<% if(typeof preview != 'undefined' && preview) {  %>

						<div class="jsPlayerPreview">
							<% if(info.data) {%>
								<div class="wpl opensviurl" image="<%-info.data.thumbnail || '*'%>">
								</div>
								<% if(info.data.duration) {%>
									<div class="durationWrapper">
										<span><%-secInTime(info.data.duration)%></span>
									</div>
								<% } %>

								<% if(info.data.isLive) {%>
									<div class="durationWrapper live">
										<i class="fas fa-rss"></i> <span>Live</span>
									</div>
								<% } %>

								<div class="statswrapper">
									<% if(info.data.views) {%>
										<div class="viewsWrapper">
											<i class="far fa-eye"></i> <span><%-compressedNumber(info.data.views)%></span>
										</div>
									<% } %>

		
									<% if(share) {
										
										var value = Number(share.score)

										if (Number(share.scnt) && _.isNumber(Number(share.scnt))) {
											value = value / Number(share.scnt)
										}
										else {
											value = 0
										}
										
										%>
										<div class="starsRatingWrapper">
											<i class="far fa-star"></i> <span><%-Number(value).toFixed(1)%></span>
										</div>
										<div class="commentsCountWrapper">
											<i class="far fa-comment"></i> <span><%-compressedNumber(share.comments || 0)%></span>
										</div>
									<% } %>
								</div>

							<% } %>
						</div>


					<% } else { %>

						<div class="jsPlayerLoading">
							<div class="jsPlayerLoading-matte"></div>
							<div class="preloader5"><img src="./img/three-dots.svg"/></div>
						</div>
						
					<% } %>

				
				</div>	

				<% 
				
				if((typeof preview == 'undefined' || !preview) && info.data) {%>

					<% if(info.data.views) {%>

					<div class="statswrapperExtended">

						<div><span class="label"><%=e('views')%>:</span> <span class="number"><%-info.data.views || 0%></span></div>

					</div>

					<% } %>

				<% } %>

				<% if(typeof video == 'undefined' || !video) { %> 
					<div class="videoTips">
						<div class="videoTip">
							<span><%=e('expandvideo')%></span>
						</div>
					</div>
				<% } %>

				<% if(typeof remove != 'undefined' && share && share.itisvideo()) { %>

					<div class="peertubepanel">

						<% if(info.data && info.data.isLive) {%>
							<div elementsid="streaminfo" class="item streaminfo">
								<i class="fas fa-broadcast-tower"></i> <span><%- e('streamInfo') %></span>
							</div>
						<% } %>

						<div class="item uploadpeertubewp">
							<i class="fas fa-camera"></i> <span><%- e('editWallpaper') %></span>
						</div>

						<% if(!share.aliasid) {%>

							<div elementsid="removepeertube" class="item removepeertube">
								<i class="far fa-times-circle"></i> <span><%- e('removeVideo') %></span>
							</div>

						<% } %>

					</div>

				<% } %>
	
			<% } %>


			
		</div>


	<% } else { %> 

		<% if(og && !_.isEmpty(og) && !app.platform.sdk.usersettings.meta.preview.value) {%>

			<div class="urlhtmlcontent">
				<div class="ogtable table">
					<% if(og.image && !deep(share, 'images.length')) {

						var imagesetting = deep(share, 'settings.image') || 'a'

						if (imagesetting == 'a'){ %>

							<div class="image">							
								<img src="<%- og.image %>">		

								<div elementsid="removeImage" class="removeImage">
									<i class="fas fa-times-circle"></i>
								</div>					
							</div>

						<% } %>
					<% } %>

					<div class="cnt">
						<% if(og.title || og.titlePage) {%>
							<a elementsid="titlehref" href="<%- url %>" donottrust="true">
								<div class="title">
									<%- truncateString(og.title || og.titlePage, 100) %>
								</div>
							</a>
						<% } %>

						<% if(og.description || og.descriptionPage) {%>
							<a elementsid="descriptionhref" href="<%- url %>" donottrust="true">
								<div class="description"><%- truncateString(og.description || og.descriptionPage, 100) %></div>
							</a>
						<% } %>
					</div>
				</div>
			</div>

		<% } %>

		
	<% } %> 

	<% if( (typeof remove != 'undefined' || (!og || _.isEmpty(og)) ) && !share.itisvideo()  ) {
		
		if(!meta.type || typeof remove != 'undefined'){
		%>

	<div class="urlcnt">
		<div class="urlcnttable table">
			<div class="linkcnt">
				<span class="linkedstyle <%- (meta.type === 'peertube' && typeof remove === 'undefined') ? 'hidden' : '' %>">
					<a elementsid="peertubehref" href="<%- url %>" cordovalink="_system" donottrust="true">
						<%- url %>
					</a>
				</span>
			</div>

			<% if(typeof remove != 'undefined' && (!share.aliasid || !share.itisvideo || !share.itisvideo())) {%>

				<div class="removeWrapper">
					<div elementsid="removelink" class="removelink">
						<i class="fas fa-times-circle"></i>
					</div>
				</div>

			<% } %>

			
		</div>
	</div>

	<% } } %>

<% } %>