<div class="work">
	<div class="summaryGrid">
		<div class="summaryItem">
			<div class="label"><span><%=e('boosts_sent')%></span></div>
			<div class="value"><span><%-totals.sent || 0%></span></div>
		</div>
		<div class="summaryItem">
			<div class="label"><span><%=e('boosts_received')%></span></div>
			<div class="value"><span><%-totals.received || 0%></span></div>
		</div>
		<% if(height) {%>
			<div class="summaryItem">
				<div class="label"><span><%=e('boosts_height')%></span></div>
				<div class="value"><span><%-height%></span></div>
			</div>
		<% } %>
	</div>
</div>
