<div elementsid="<%-module.map.id%>" id="<%-module.map.id%>" class="unselectablemobile">
	<div class="imagesWrapper">
		<div class="imagesAbsWrapper">
			<div class="imagesTableWrapper">
				<div class="images table">
				</div>
			</div>
		</div>
	</div>

	

	<div class='panel'>
		<div class="items">
			<% if(essenseData.images.length > 1) {%>
				<div class="item imageNavigation">
					<div elementsid='iamgegallery_arrow_back' class='arrow' action="back"><i class='fa fa-chevron-left'></i></div>
					<div class='number'></div>
					<div elementsid='iamgegallery_arrow_next' class='arrow' action="next"><i class='fa fa-chevron-right'></i></div>
				</div>
			<% } %>

		</div>
	</div>

	<div class="imagePreloader">
		<div class="preloaderStep">
			<div class="preloader5"><img src="./img/three-dots.svg"/></div>
		</div>
	</div>

</div>