<div id="<%-module.map.id%>">
	<div class="imagesWrapper">
		<div class="imagesAbsWrapper">
			<div class="imagesTableWrapper">
				<div class="images table">
				</div>
			</div>
		</div>
	</div>

	

	<div class='panel'>
		<div class="items">
			<% if(essenseData.images.length > 1) {%>
				<div class="item imageNavigation">
					<div class='arrow' action="back"><i class='fa fa-chevron-left'></i></div>
					<div class='number'></div>
					<div class='arrow' action="next"><i class='fa fa-chevron-right'></i></div>
				</div>
			<% } %>

		</div>
	</div>

	<div class="imagePreloader">
		<div class="preloaderStep">
			<div class="preloader5">
			    <span></span>
			    <span></span>
			    <span></span>
			</div>
		</div>
	</div>

</div>