<div id="<%-module.map.id%>">   
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        <%= e('aboutFbMainBoard') %>
                    </h1>
                    <h3>
                        <%= e('aboutFbMainBoard1') %>
                    </h3>                
                </div>
                <div class="img-main-block">
                    <img src="img/about/VS-12(1).png" alt="">
                </div>
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                            <%= e('aboutFbMainDesc') %> <br>
                            <%= e('aboutFbMainDesc1') %>
                        </div>
                        <div class="author">
                            <%= e('aboutFbMainDesc2') %>
                        </div>
                    </div>  
                    
                </div>
                
            </div>
        </section>

         <section class="table"> 
            <div class="main-wrapper">
                
                <table>
                    <tr>
                        <th></th>
                        <th>
                            <%= e('aboutFbTable') %>                            
                        </th>
                        <th>
                            <%= e('aboutFbTable1') %>
                        </th>
                    </tr>
                    <!-- <tr>
                        <td colspan="2" class="center"><%= e('aboutFbTable2') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutFbTable2') %></td>
                        <td><%= e('aboutFbTable3') %></td>
                        <td><%= e('aboutFbTable4') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutFbTable5') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutFbTable5') %></td>
                        <td><%= e('aboutFbTable6') %></td>
                        <td>
                            <%= e('aboutFbTable7') %>
                        </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable8') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold" >
                            <%= e('aboutFbTable8') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable9') %> 
                        </td>
                        <td>
                            <%= e('aboutFbTable10') %> 
                        </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                             <%= e('aboutFbTable11') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                             <%= e('aboutFbTable11') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable12') %>
                        </td>
                        <td><%= e('aboutFbTable13') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable14') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable14') %>
                        </td>
                        <td ><%= e('aboutFbTable15') %></td>
                        <td>
                            <%= e('aboutFbTable16') %>
                        </td>
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable17') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable17') %>
                        </td>
                        <td ><%= e('aboutFbTable18') %></td>
                        <td><%= e('aboutFbTable19') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td >
                            <%= e('aboutFbTable20') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable20') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable21') %>
                            
                        </td>
                        <td><%= e('aboutFbTable22') %></td>
                        
                    </tr> 
                   <!--  <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable23') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable23') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable24') %>
                            
                        </td>
                        <td>
                            <%= e('aboutFbTable25') %>
                        </td>
                        
                    </tr>
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable29') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable29') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable30') %>
                            
                        </td>
                        <td>
                            <%= e('aboutFbTable31') %>
                        </td>
                        
                    </tr>
                   <!--  <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable32') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable32') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable33') %>
                            
                        </td>
                        <td>
                            <%= e('aboutFbTable34') %>
                        </td>
                        
                    </tr>
                   <!--  <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable35') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutFbTable35') %>
                        </td>
                        <td >
                            <%= e('aboutFbTable36') %>
                            
                        </td>
                        <td>
                            <%= e('aboutFbTable37') %>
                        </td>
                        
                    </tr> 

                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutFbTable26') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">
                            <%= e('aboutFbTable27') %>
                        </td>
                        <td><%= e('aboutFbTable28') %></td>                        
                    </tr>       -->               
                </table> 
            </div>           
        </section>
        
        <section class="h3-section">
            <div class="main-wrapper">
                <h3><%= e('aboutFbH3Section') %></h3>
                <div>
                    <div>
                        <h4 class="h4"><%= e('aboutFbH3Section1') %></h4>
                        <p>
                            <%= e('aboutFbH3Section2') %>
                        </p>
                    </div>
                    <div>
                        <h4 class="h4"><%= e('aboutFbH3Section3') %></h4>
                        <p><%= e('aboutFbH3Section4') %></p>
                    </div>
                </div>
            </div>          
        </section>
        <section class="img-and-text">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutFbImgAndText') %>
                        </h2>
                        <p>
                            <%= e('aboutFbImgAndText2') %>
                        </p>
                        <p>
                            <%= e('aboutFbImgAndText3') %>
                        </p>
                    </div>
                    <div class="img">
                         <img src="img/about/freedom.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutFbImgAndText4') %>
                        </h2>
                        <p>
                            <%= e('aboutFbImgAndText5') %>
                        </p>                        
                    </div>
                    <div class="img">
                         <img src="img/about/CENSORSHIP.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutFbImgAndText6') %>
                        </h2>

                        <ol>
                            <li><%= e('aboutFbImgAndText7') %></li>
                            <li><%= e('aboutFbImgAndText8') %></li>
                            <li><%= e('aboutFbImgAndText9') %></li>
                            <li><%= e('aboutFbImgAndText10') %></li>
                            <li><%= e('aboutFbImgAndText11') %></li>
                            <li><%= e('aboutFbImgAndText12') %></li>
                        </ol>

                        
                        
                    </div>
                    <div class="img">
                         <img src="img/about/fb.jpg" alt="">
                    </div>
                </div>
                
            </div>
         </section>
        
       
        <section class="main-board-3 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2>
                        <%= e('aboutFbMainBoard3') %>
                    </h2>
                    <h3><%= e('aboutFbMainBoard31') %></h3>
                    <p><%= e('aboutFbMainBoard32') %><b>PKOIN.</b></p>
                    <p><%= e('aboutFbMainBoard33') %></p>
                    <p>
                        <%= e('aboutFbMainBoard34') %>
                    </p>
                    <p><%= e('aboutFbMainBoard35') %></p>
                    <!-- <p><%= e('aboutFbMainBoard36') %></p> -->
                    
               
            </div>
        </section>

    </main>
</div>
