
<% if(articles.length) {%>

<% _.each(articles, function(article){

    var echo = app.platform.sdk.articles.echo(article);
    
    %>

    <div class="article">

        <!--<div class="image">
            
        </div>-->

        <div class="cnt">
            <div class="name">
                <%- (deep(article, 'caption.value') || 'Draft') %>
            </div>  

            <% if(article.tags && article.language) {%>
            <div class="textpreview">
                <%
                
                var bycategories = app.platform.sdk.categories.fromTags(article.tags, article.language)
                
                %>

                <div class="tags">

                    <% _.each(bycategories.categories, function(category){ %>
        
                        <div class="category">
                            <span>@<%-category.name%></span><% if(category.new) {%>&nbsp;<span class="newlabel">New!</span><% } %> 
                        </div>
        
                    <% }) %>
        
                    <% _.each(bycategories.tags, function(tag){ 
                        
                        var additional = app.platform.sdk.tags.findadditional(tag)
                        
                        %>
        
                        <div class="tag">
                            <span>#<%-tag%></span><% if(additional && additional.new) {%>&nbsp;<span class="newlabel">New!</span><% } %>
                        </div>
        
                    <% }) %>
        
                   
                </div>
            </div>
            <% } %>

        </div>

        <div class="time">
            <% if(article.time) {%>

                <span>12.12.2021</span>

            <% } else { %> 

                <span><%=e('e13019')%></span>

            <% } %>
        </div>
    </div>
    
<% }) %>


<% } else { %> 
    
    <div class="empty">
        <span>Empty</span>
    </div>
    
<% } %>