<%

var m = [];

var all = {

	edit : {
		icon : '<i class="fas fa-pencil-alt"></i>',
		text : e('editarticledraft'),
		class : 'edit'
	},

	delete : {
		icon : '<i class="fas fa-trash"></i>',
		text : e('deletearticledraft'),
		class : 'delete'
	},

    preview : {
		icon : '<i class="far fa-newspaper"></i>',
		text : e('previewarticledraft'),
		class : 'preview'
	},
	
}

m.push('edit')
m.push('delete')
m.push('preview')


%>

<div class="sharepostmenu">

	<% 
    
    _.each(m, function(m){ 
        var mo = all[m] 
        
    %>

	<div class="menuitem <%-mo.class||''%> table">
		<div class="icon"><span><%=mo.icon%></span></div>
		<div class="label"><span><%-mo.text%></span></div>
	</div>
		
	<% }) %>

</div>