#aboutHIW img {
  border-radius: 10px;
}
#aboutHIW h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
}
#aboutHIW h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(var(--color-h2-aboutcc));
  text-align: center;
  text-transform: uppercase;
}
#aboutHIW h2 > span {
  position: relative;
}
#aboutHIW h3 {
  font-size: 24px;
  font-weight: 600;
}
#aboutHIW .services {
  padding: 60px 0;
}
#aboutHIW .videos {
  background: rgb(var(--background-total-theme));
  padding: 80px 0;
}
#aboutHIW .videos .main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}
#aboutHIW .videos .main-wrapper .video1 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#aboutHIW .open {
  width: 100%;
}
#aboutHIW .open > .main-wrapper {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#aboutHIW .open > .main-wrapper .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#aboutHIW .open > .main-wrapper .content .discover {
  width: 400px;
}
#aboutHIW .open > .main-wrapper .content .discover h2 {
  text-align: center;
  font-size: 1.5em;
}
#aboutHIW .open > .main-wrapper .content .discover p {
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
  height: 60px;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > .text {
  width: 100%;
  flex-direction: column;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > .text > p {
  padding: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div {
  width: 40px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div:first-child {
  margin-left: 0;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div > a > img {
  width: 25px;
  height: 25px;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div > a > p {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
#aboutHIW .open > .main-wrapper .content .discover .one-item > div > a > i {
  color: rgb(var(--color-cc-blue));
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
#aboutHIW .darkbg {
  padding: 30px 0;
  background: #000;
  position: relative;
}
#aboutHIW .darkbg > .main-wrapper {
  position: relative;
  padding: 50px 0;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container > img {
  width: 500px;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container > .text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 45px;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container > .text > p {
  margin: 10px 0;
  text-align: left;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container > .text > p > i {
  margin-right: 5px;
}
#aboutHIW .darkbg > .main-wrapper > .dark__container > .text > h2 {
  text-align: left;
}
#aboutHIW .team {
  padding: 60px 0;
}
#aboutHIW .contact {
  padding: 60px 0;
}
#aboutHIW .contact .map {
  margin-top: 30px;
}
#aboutHIW footer {
  padding: 60px 0;
}
#aboutHIW footer > .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutHIW .main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
#aboutHIW header {
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}
#aboutHIW header > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#aboutHIW .main-menu {
  margin-left: auto;
}
#aboutHIW .main-menu > ul > li {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
#aboutHIW .main-menu > ul > li > a {
  text-decoration: none;
  color: inherit;
}
#aboutHIW .main-menu > ul > li:last-child {
  margin-right: 0;
}
#aboutHIW .main-menu > ul > li::after {
  content: '';
  width: 10%;
  height: 3px;
  background: #00d5c3;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
  transition-duration: 0.3s;
}
#aboutHIW .main-menu > ul > li:hover::after {
  opacity: 1;
  width: 100%;
}
#aboutHIW .main-board {
  height: 500px;
  position: relative;
  padding: 0px 0 ;
}
#aboutHIW .main-board > .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: relative;
}
#aboutHIW .main-board img {
  width: 400px;
  border-radius: 10px;
}
#aboutHIW .main-board h1 {
  color: #45473a;
  position: relative;
  margin-bottom: 35px;
  margin: auto 0;
  font-weight: 600;
  width: 90%;
}
#aboutHIW .main-board h2 {
  position: relative;
  color: #45473a;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 35px;
}
#aboutHIW .main-board h3 {
  position: relative;
  color: #45473a;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 35px;
}
#aboutHIW .main-board__left-block {
  width: 100%;
  display: block;
  padding: 50px 0;
}
#aboutHIW .main-board__left-block h3 {
  margin-top: 30px;
  color: #3b3b3b;
  padding-right: 50px;
}
#aboutHIW .main-description {
  padding: 50px 15px;
}
#aboutHIW .main-description .main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#aboutHIW .main-description .main-wrapper .row {
  padding: 0 15px;
  width: 100%;
  font-size: 1.5em;
}
#aboutHIW .main-description .main-wrapper .row .extra-text {
  font-size: 1.5em;
  font-weight: 700;
  text-align: right;
}
@media (max-width: 380px) {
  #aboutHIW .main-description {
    padding: 0;
    width: 100%;
  }
  #aboutHIW .main-description .main-wrapper {
    padding: 20px 15px;
  }
  #aboutHIW .main-description .main-wrapper .row {
    position: relative;
    width: 100%;
  }
  #aboutHIW .main-description .main-wrapper .row .text {
    width: 100%;
  }
  #aboutHIW .main-description .main-wrapper .row .text .extra-text {
    font-size: 1.5em;
  }
  #aboutHIW .main-description .main-wrapper .row .text-point {
    width: 100%;
  }
  #aboutHIW .main-description .main-wrapper .row .text-point .one-text-point {
    text-transform: capitalize;
  }
}
@media (max-width: 450px) {
  #aboutHIW .h3-section {
    width: 100%;
  }
  #aboutHIW .h3-section .main-wrapper {
    padding: 20px 15px;
  }
  #aboutHIW .h3-section .main-wrapper h3 {
    font-size: 1.5em;
    padding: 0;
  }
}
#aboutHIW .img-and-text .main-wrapper .works {
  padding: 30px 15px;
  background: url(../../img/about/blockchain-bg-dark.jpg) no-repeat;
  position: relative;
}
#aboutHIW .img-and-text .main-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
#aboutHIW .img-and-text .main-wrapper > div .works__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#aboutHIW .img-and-text .main-wrapper > div .works__container > .text {
  display: flex;
  width: 100%;
  font-size: 120%;
  margin-right: 20px;
  justify-content: space-around;
}
#aboutHIW .img-and-text .main-wrapper > div .works__container > .text > p {
  margin: 20px 0;
  width: 30%;
  text-align: left;
  font-weight: 200;
}
#aboutHIW .img-and-text .main-wrapper > div .works__container > .image {
  width: 30%;
  height: auto;
  margin-left: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 180px;
}
#aboutHIW .img-and-text .main-wrapper > div .works__container > .image > img {
  border-radius: 10px;
  width: 100%;
}
#aboutHIW .img-and-text .main-wrapper > div h2 > span {
  font-weight: 700;
}
#aboutHIW .img-and-text .main-wrapper h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 800;
}
#aboutHIW .img-and-text .main-wrapper .number {
  padding: 0;
}
#aboutHIW .img-and-text .main-wrapper p {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}
#aboutHIW .img-and-text .main-wrapper .line {
  height: 3px;
  width: 100%;
  margin: 40px 0;
  background-color: #9b7b31;
  padding: 0;
}
#aboutHIW .img-and-text .main-wrapper .link {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: #9b7b31;
  margin: 20px 0;
}
#aboutHIW .img-and-text .main-wrapper .link a {
  color: #9b7b31;
}
#aboutHIW .img-and-text .main-wrapper .row {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
#aboutHIW .img-and-text .main-wrapper .row p {
  width: 90%;
  text-align: left;
}
#aboutHIW .img-and-text .main-wrapper .row .text {
  width: 600px;
}
#aboutHIW .img-and-text .main-wrapper .row .text h4 {
  margin-bottom: 30px;
  text-align: left;
  font-weight: 800;
  font-size: 1em;
}
#aboutHIW .img-and-text .main-wrapper .row .text p {
  margin-bottom: 15px;
  text-align: left;
}
#aboutHIW .img-and-text .main-wrapper .row .text div {
  display: flex;
}
#aboutHIW .img-and-text .main-wrapper .row .text div p {
  text-align: left;
}
#aboutHIW .img-and-text .main-wrapper .row .text div span {
  margin: 15px 0;
  margin-right: 4px;
}
#aboutHIW .img-and-text .main-wrapper .row .img img {
  border-radius: 10px;
  width: 400px;
}
@media (max-width: 450px) {
  #aboutHIW .img-and-text .main-wrapper .img img {
    border-radius: 10px !important;
    width: 100% !important;
  }
}
#aboutHIW .img-and-text .main-wrapper .reverse {
  flex-direction: row-reverse;
}
@media (max-width: 450px) {
  #aboutHIW .img-and-text {
    width: 100%;
  }
  #aboutHIW .img-and-text .main-wrapper {
    padding: 20px;
  }
  #aboutHIW .img-and-text .main-wrapper h2 {
    text-align: left;
  }
  #aboutHIW .img-and-text .main-wrapper .row .text h2 {
    text-align: left;
  }
  #aboutHIW .img-and-text .main-wrapper .row .text p {
    font-size: 1.2em;
  }
  #aboutHIW .img-and-text .main-wrapper .works {
    width: 100%;
    padding: 10px;
  }
  #aboutHIW .img-and-text .main-wrapper .works h2 span {
    font-size: 0.9em;
  }
  #aboutHIW .img-and-text .main-wrapper .works div {
    width: 100%;
    padding: 10px 0;
  }
  #aboutHIW .img-and-text .main-wrapper .works div .works__container {
    width: 100%;
    padding: 0;
  }
  #aboutHIW .img-and-text .main-wrapper .works div .works__container .text {
    flex-direction: column;
  }
  #aboutHIW .img-and-text .main-wrapper .works div .works__container .text p {
    width: 100%;
  }
}
#aboutHIW .table .main-wrapper table {
  width: 100%;
}
#aboutHIW .table .main-wrapper table tr {
  border: none !important;
  text-align: center;
}
#aboutHIW .table .main-wrapper table tr td {
  border: 1px solid #cfcfcf;
  padding: 30px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}
#aboutHIW .table .main-wrapper table tr .table-center {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  border: none;
}
#aboutHIW .table .main-wrapper table tr .center {
  text-align: center;
}
#aboutHIW .table .main-wrapper table tr .bold {
  font-weight: 700;
}
#aboutHIW .table .main-wrapper table tr .noline {
  border: none;
}
#aboutHIW .table .main-wrapper table tr th {
  border: 1px solid #cfcfcf;
  text-align: center;
  padding: 30px;
}
#aboutHIW .table .main-wrapper table tr .noline {
  border: 0;
}
#aboutHIW .table {
  background-color: rgb(var(--background-secondary-theme));
  padding: 50px 0;
}
#aboutHIW .table .main-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#aboutHIW .table .main-wrapper table {
  width: 70%;
}
#aboutHIW .table .main-wrapper table tr {
  border: 1px solid #cfcfcf;
  text-align: left;
  padding: 8px;
}
#aboutHIW .table .main-wrapper table tr td {
  width: 30%;
  border: 1px solid #cfcfcf;
  padding: 30px;
  font-size: 0.9em;
  font-weight: 500;
}
#aboutHIW .table .main-wrapper table tr .center {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  border: none;
}
#aboutHIW .table .main-wrapper table tr .right {
  text-align: right;
}
#aboutHIW .table .main-wrapper table th {
  border: 1px solid #cfcfcf;
  text-align: center;
  padding: 30px;
}
@media (max-width: 450px) {
  #aboutHIW .table .main-wrapper table {
    width: 90%;
  }
  #aboutHIW .table .main-wrapper table tr {
    border: 1px solid #cfcfcf;
    text-align: left;
    padding: 8px;
  }
  #aboutHIW .table .main-wrapper table tr td {
    width: 30%;
    border: 1px solid #cfcfcf;
    padding: 5px;
    font-size: 0.8em;
    font-weight: 500;
  }
  #aboutHIW .table .main-wrapper table tr .center {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    border: none;
  }
  #aboutHIW .table .main-wrapper table tr .right {
    text-align: right;
  }
  #aboutHIW .table .main-wrapper table th {
    border: 1px solid #cfcfcf;
    text-align: center;
    padding: 5px!important;
    font-size: 0.8em !important;
  }
  #aboutHIW .table .main-wrapper p {
    padding: 1em;
  }
}
#aboutHIW .services__block-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
#aboutHIW .services__item {
  padding: 30px;
  flex: 0 0 32%;
  text-align: center;
  transition-duration: 0.3s;
  border-radius: 5px;
}
#aboutHIW .services__item:hover {
  box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}
#aboutHIW .services__item > h3 {
  margin: 23px 0;
  color: #161c35;
  text-align: center;
}
#aboutHIW .services__item > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  color: #666666;
  text-align: left;
}
#aboutHIW .services__item > a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #161c35;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  border: 1px solid #161c35;
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutHIW .services__item > a:hover {
  background: #161c35;
  color: #FFFFFF;
}
#aboutHIW .services__item .box-icon {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  transition-duration: 0.3s;
}
#aboutHIW .services__item .box-icon > img {
  width: 150px;
  border-radius: 10px;
}
#aboutHIW .team-container {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#aboutHIW .team-container__item {
  flex: 0 0 255px;
  display: flex;
  flex-direction: column;
}
#aboutHIW .team-container__item > figure {
  position: relative;
  height: 260px;
  overflow: hidden;
}
#aboutHIW .team-container__item > figure > figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(22, 28, 53, 0);
  display: flex;
  justify-content: center;
  transition-duration: 0.1s;
}
#aboutHIW .team-container__item > figure > figcaption > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  margin: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
  transition-duration: 0.5s;
}
#aboutHIW .team-container__item > figure > figcaption > a:nth-child(1) {
  transform: translateY(50px);
}
#aboutHIW .team-container__item > figure > figcaption > a:nth-child(2) {
  transform: translateY(90px);
}
#aboutHIW .team-container__item > figure > figcaption > a:nth-child(3) {
  transform: translateY(130px);
}
#aboutHIW .team-container__item > figure > figcaption > a:hover {
  color: #00d5c3;
  background: white;
}
#aboutHIW .team-container__item > figure > img {
  transition-duration: 1s;
}
#aboutHIW .team-container__item > figure:hover > img {
  transform: scale3d(1.1, 1.1, 1);
}
#aboutHIW .team-container__item > figure:hover > figcaption {
  background: rgba(22, 28, 53, 0.7);
}
#aboutHIW .team-container__item > figure:hover > figcaption > a {
  transform: translateY(0px);
}
#aboutHIW .team-container__item-footer {
  box-shadow: 4px 4px 18px 0px #cccccc;
  padding: 20px;
}
#aboutHIW .team-container__item-footer > span {
  display: block;
  font-size: 12px;
  color: #666666;
  font-weight: 300;
}
#aboutHIW .team-container__item-footer > h3 {
  display: block;
  color: #666666;
}
#aboutHIW .blog-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#aboutHIW .blog-container__item {
  height: 275px;
  flex: 0 0 49%;
  display: flex;
  background: #FFFFFF;
  margin-bottom: 22px;
  text-decoration: none;
}
#aboutHIW .blog-container__item:hover > .blog-container__image {
  filter: grayscale(0);
}
#aboutHIW .blog-container__item:hover > .blog-container__item-text-container > p {
  text-decoration: underline;
}
#aboutHIW .block-image1 {
  background: url(src/6-850x850.jpg);
}
#aboutHIW .block-image2 {
  background: url(src/5-850x850.jpg);
}
#aboutHIW .block-image3 {
  background: url(src/2-850x850.jpg);
}
#aboutHIW .block-image4 {
  background: url(src/1-850x850.jpg);
}
#aboutHIW .blog-container__image {
  flex: 0 0 50%;
  height: 100%;
  transition-duration: 0.3s;
  position: relative;
  background-position: center center;
  background-size: cover;
  filter: grayscale(0.9);
}
#aboutHIW .blog-container__image::after {
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #eee;
  border-bottom: 15px solid transparent;
  border-right-color: #fff;
  right: 0;
  margin-top: -15px;
  top: 50%;
  content: '';
}
#aboutHIW .blog-container__item-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#aboutHIW .blog-container__item-text-container > span {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}
#aboutHIW .blog-container__item-text-container > p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #161c35;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}
#aboutHIW .button {
  padding: 10px 30px;
  border: 1px solid #00d5c3;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  display: inline-block;
  color: #00d5c3;
  text-decoration: none;
  transition-duration: 0.3s;
}
#aboutHIW .button:hover {
  background: #00d5c3;
  color: #FFFFFF;
}
#aboutHIW .form {
  height: 200px;
  background: url(src/bg.jpg) no-repeat;
  background-position: 50% -50px;
  background-size: cover;
  position: relative;
}
#aboutHIW .form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-cc-form));
  z-index: 1;
}
#aboutHIW .form > .main-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#aboutHIW .form input[type="email"] {
  background: transparent;
  border: 1px solid #00d5c3;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  width: 450px;
}
#aboutHIW .form input[type="email"]:focus {
  border: 1px solid rgb(var(--color-menu-2));
  outline: none;
}
#aboutHIW .form button {
  background: #00d5c3;
  border: 1px solid #00d5c3;
  color: #FFFFFF;
  font-size: 22px;
  width: 100px;
  transition-duration: 0.3s;
}
#aboutHIW .form button:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #00d5c3;
  cursor: pointer;
}
#aboutHIW .form form {
  display: flex;
  justify-content: center;
}
#aboutHIW .form input::-webkit-input-placeholder {
  color: #cccccc;
}
#aboutHIW .form__main-text {
  color: #00d5c3;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}
#aboutHIW .form__main-text > span {
  color: white;
  font-weight: 600;
}
#aboutHIW .social-cont {
  margin: 20px 0;
}
#aboutHIW .social-cont > a {
  color: #161c35;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  position: relative;
  width: 20px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
}
#aboutHIW .social-cont > a::before {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid #161c35;
  transform: rotate(45deg);
  position: absolute;
  left: -3px;
  top: -5px;
  transition-duration: 0.3s;
  z-index: -1;
}
#aboutHIW .social-cont > a:hover {
  color: #FFFFFF;
}
#aboutHIW .social-cont > a:hover::before {
  background: #161c35;
}
@media (max-width: 1100px) {
  #aboutHIW .team-container {
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  #aboutHIW .team-container__item {
    margin-right: 10px;
  }
  #aboutHIW .team-container__item:last-of-type {
    margin-right: 0;
  }
}
#aboutHIW .dark__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
#aboutHIW .dark__container > img {
  width: 60%;
}
#aboutHIW .dark__container > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#aboutHIW .dark__container > .text > p {
  margin: 10px 0;
}
#aboutHIW .dark__container > .text > p > i {
  margin-right: 5px;
}
#aboutHIW .dark__container > .text > h2 {
  text-align: center;
}
@media (max-width: 980px) {
  #aboutHIW .works > .main-wrapper {
    padding: 15px;
  }
  #aboutHIW .works > .main-wrapper > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHIW .works__container {
    flex-grow: 1;
  }
  #aboutHIW .blog-container__item-text-container {
    padding: 20px;
  }
  #aboutHIW .dark__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
  }
  #aboutHIW .dark__container > img {
    width: 70%;
  }
  #aboutHIW .dark__container > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #aboutHIW .dark__container > .text > p {
    margin: 10px 0;
  }
  #aboutHIW .dark__container > .text > p > i {
    margin-right: 5px;
  }
  #aboutHIW .dark__container > .text > h2 {
    text-align: center;
  }
}
@media (max-width: 920px) {
  #aboutHIW .main-board__left-block {
    width: 450px;
    width: auto;
  }
  #aboutHIW .main-board__left-block h1 {
    width: 100%;
  }
  #aboutHIW .main-board__left-block > div {
    width: 100%;
  }
  #aboutHIW .main-board__left-block > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #aboutHIW .main-board {
    height: auto;
    padding: 30px 0;
    background: #fff;
  }
  #aboutHIW .main-board > .main-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  #aboutHIW .services__item {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutHIW .services__item > p {
    flex-shrink: 1;
    overflow: hidden;
  }
  #aboutHIW .services {
    padding: 30px 0;
  }
  #aboutHIW .works {
    padding: 30px 30px;
  }
  #aboutHIW .team {
    padding: 30px 0;
  }
  #aboutHIW .blog {
    padding: 30px 0;
  }
  #aboutHIW .contact {
    padding: 30px 0;
  }
  #aboutHIW footer {
    padding: 30px 0;
  }
}
@media (max-width: 780px) {
  #aboutHIW .services__block-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHIW .services__item {
    flex-basis: 320px;
    margin: 10px;
  }
  #aboutHIW .blog-container {
    flex-wrap: wrap;
  }
  #aboutHIW .blog-container__item {
    flex-basis: 100%;
  }
  #aboutHIW .main-board__left-block_2 {
    padding: 30px 15px;
    width: 100%;
  }
  #aboutHIW .main-board__left-block_2 div {
    width: 100%;
    flex-direction: column;
  }
  #aboutHIW .grey {
    background: #dddddd;
  }
}
@media (max-width: 720px) {
  #aboutHIW header {
    height: auto;
  }
  #aboutHIW header > .main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  #aboutHIW .main-menu {
    margin: 10px 0;
  }
  #aboutHIW .logo {
    margin: 5px 0;
  }
}
#aboutHIW .dark__conteiner {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  #aboutHIW h1 {
    font-size: 36px;
    line-height: unset;
  }
  #aboutHIW .main-board h1 {
    padding: 8px 0 0 18px;
  }
  #aboutHIW .main-board__left-block {
    width: 100%;
  }
  #aboutHIW .works__container .text {
    width: 100%;
  }
  #aboutHIW .works__container .text p {
    width: 100%;
  }
}
@media (max-width: 580px) {
  #aboutHIW .form input[type="email"] {
    width: 80%;
  }
}
@media (max-width: 510px) {
  #aboutHIW .main-menu {
    margin: 0;
  }
  #aboutHIW .main-menu > ul {
    text-align: center;
  }
  #aboutHIW .main-menu > ul > li {
    padding-bottom: 22px;
  }
  #aboutHIW .blog-container__item-text-container {
    padding: 5px;
  }
  #aboutHIW .dark__conteiner {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 412px) {
  #aboutHIW .main-board__image {
    width: 100%;
  }
  #aboutHIW .works img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #aboutHIW .main-board {
    height: 100%;
  }
  #aboutHIW .main-board .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block {
    width: 100%;
    height: 100%;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block h1 {
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 0;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block h2 {
    margin-top: 30px;
    width: 100%;
    padding: 0;
    margin-left: 0 !important;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block h3 {
    margin-top: 30px;
    width: 100%;
    padding: 0;
    margin-left: 0 !important;
    font-size: 1.3em;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block > div:last-of-type {
    flex-wrap: wrap;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block_2 {
    width: 100%;
  }
  #aboutHIW .main-board .main-wrapper .main-board__left-block_2 > div {
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
  #aboutHIW .main-board .main-wrapper .main-board__button-link:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #aboutHIW .main-board:first-child {
    background: url(src/bastyon-youtube-main1.jpg) no-repeat;
    background-size: cover;
  }
  #aboutHIW .open {
    background-color: #fbf0c3;
  }
  #aboutHIW .open .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  #aboutHIW .open .main-wrapper > .content {
    width: 100%;
  }
  #aboutHIW .open .main-wrapper > .content > .discover {
    width: 100%;
    padding: 15px;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > h2 {
    font-size: 1.5em;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > p {
    font-size: 1em;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > .one-item {
    width: 100%;
    min-width: 100%;
    justify-content: center;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > .one-item > div {
    width: 100px;
    margin: 10px;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > .one-item > div > p {
    font-size: 1em;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > .one-item > div > a > p {
    font-size: 1em;
  }
  #aboutHIW .open .main-wrapper > .content > .discover > .text p {
    font-size: 1em;
  }
  #aboutHIW .works .main-wrapper div .works__container .text {
    flex-wrap: wrap;
  }
  #aboutHIW .works .main-wrapper div .works__container .text p {
    width: 100%;
  }
  #aboutHIW .darkbg .main-wrapper {
    padding: 15px;
    width: 100%;
  }
  #aboutHIW .darkbg .main-wrapper .dark__container {
    width: 100%;
  }
  #aboutHIW .darkbg .main-wrapper .dark__container img {
    width: 100%;
  }
  #aboutHIW .darkbg .main-wrapper .dark__container .text {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
  #aboutHIW .darkbg .main-wrapper .dark__container .text h2 {
    text-align: left;
  }
}
@media (max-width: 450px) {
  #aboutHIW .viseos {
    width: 100%;
  }
  #aboutHIW .viseos .main-wrapper {
    width: 100% !important;
    justify-content: normal;
    flex-wrap: wrap;
  }
}
