<div class="collapsepart">
    <div class="work">
        <div class="subcaption">
            <span><%=e('downloadedVideos')%></span> <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <div class="collapsingpart">

        <div class="work">
            
            <% if(app.platform.sdk.local.shares.getTotalSize() <= 0) { %>
                <span><%=e('noDownloadedVideos')%></span>
            <% } else { %>
                <button elementsid="deleteAllDownloadedVideos" id="deleteAllDownloadedVideos"><%=e('deleteAllDownloadedVideos')%> (<%-formatBytes(app.platform.sdk.local.shares.getTotalSize())%>)</button>
            <% } %>

        </div>

    </div>
</div>