

<div class="error">
    <div class="work">
        <div class="errorTable table">
            <div class="errorCell">

                <div class="errorIcon">
                    <%= error.icon %>
                </div>
                <div class="errorText">
                    <%- error.text %>
                </div>


                <div class="errorRefresh">
                    <button class="button small refreshpage">
                        Refresh
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>