

<div class="error">
    <div class="work">
        <div class="errorTable table">
            <div class="errorCell">

                <div class="errorIcon">
                    <%= error.icon %>
                </div>
                <div class="errorText">
                    <%- error.text %>
                </div>

                <div class="changeProxyServer">
                    <div elementsid="valueselectusing" class="value selectusing" fss="fss">
                        <span><% if(using) {%> <%-using.get.name()%> <% } else {%> Not selected <% }%></span>
                    </div>
                </div>
                
                <div class="errorRefresh">
                    <button elementsid="refreshpage" class="button small refreshpage">
                        Refresh
                    </button>
                </div>

               

            </div>
        </div>
    </div>
</div>