<div id="<%-module.map.id%>">

	<div class="work">

		<div class="cCaption">
			<span><%=e('e13105')%></span>
		</div>	
		
	</div>

	

		<div class="connection">
            
			<div class="node">

				<div class="work">

					<div class="fcaption">
						<%=e('e13106')%>
					</div>
				
					<div class="nodecontrolcnt">
						
					</div>
				
				</div>

			</div> 

			<div class="proxy">

				<div class="work">

					<div class="fcaption">
						Proxy Management
					</div>

					<div class="proxyoptions">

					</div>
				
					<div class="proxymaincnt">
						
					</div>

				</div>

            </div>
            			
		</div>

	
		
		<div class="downloadElectron">
			<div class="work">
				<div class="dacaption">
					<span><%=e('e13107')%></span>
				</div>
			</div>

			<div class="downloadApplication ui">

			</div>

			
		</div>
		


	<div class="preloaderabs">
		<div class="table">
			<div>
				<div class="preloaderwrapper">
					<div class="preloader5"><span></span><span></span><span></span></div>
				</div>
			</div>
		</div>
	</div>
</div>