<div class="nodescontent">
    <div class="work">
        <div class="subcaption">
            <span>Pocketnet nodes</span>
        </div>

    </div>

        <div class="tablecaption">
            <div class="work">
                <div class="tableovfWrapper">
                    <div class="node table">
                        <div class="use"></div>
                        <div class="name"><span><%=e('e13048')%></span></div>
                        <div class="hostport"><span><%=e('e13046')%></span></div>
                        
                        <div class="statistic"><span><%=e('e13049')%></span></div>
                        <div class="block"></div>
                        <div class="fork"></div>
                        <div class="panelWrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="nodes">
            
            
        </div>
        <!--
        <% if(admin) {%>

            <div class="adminpanel">
                <div class="work">
                    <div class="buttons">
                        <button class="button addnode">
                            <i class="fas fa-plus"></i> Add node
                        </button>
                    </div>
                </div>
            </div>
        
        <% } %>
        -->
        
    </div>

    <div class="stats">
        <div class="nodeschart">
            
        </div>
    </div>
</div>