<div class="nodescontent collapsepart <% if(!isTablet()) {%> expanded <% } %>">
    <div class="work">
        <div class="subcaption">
            <span><%-app.meta.fullname%> nodes</span> <i class="fas fa-angle-down"></i>
        </div>

    </div>

    <div class="collapsingpart">

        <% if(admin) {%>
            <div class="work">
                <div class="panel">
                    <div class="item">
                        <button elementsid="clearnodesstats" class="medium button clearnodesstats">
                            Clear Nodes History Statistic
                        </button>
                    </div>    
                </div>
            </div>
        <% } %>

        <div class="stats">
            <div class="nodeschart">
                
            </div>
        </div>

        <div class="stats">
            <div class="chainchart">
                
            </div>
        </div>

       

        <div class="tablecaption">
            <div class="work">
                <div class="tableovfWrapper">
                    <div class="node table">
                        <div class="use"></div>
                        <div class="name"><span><%=e('e13048')%></span></div>
                        <div class="hostport"><span><%=e('e13046')%></span></div>
                        
                        <div class="statistic"><span><%=e('e13049')%></span></div>
                        <div class="blockfork"></div>
                        <div class="panelWrapper"></div>
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="nodes"></div>

    </div>
</div>