<% if(stacking) { %>

    <div class="setting stacking">
        <div class="settingTable table">
            <div class="label">
                <span>Status</span>
            </div>
            <div class="value canstacking">
                <% if(stacking.staking && stacking.enabled) { %>
                    <i class="fas fa-check-circle good"></i> <span class="good">Active</span>
                <% } else { %> 
                    <i class="far fa-times-circle bad"></i> <span class="bad">Node can't staking, top up balance</span>
                <% } %>
            </div>
        </div>
        
        <div class="settingTable table">
            <div class="label">
                <span>Balance (Available/Full)</span>
            </div>
            <div class="value balance">
                <%= stacking.weight/100000000.0 %> / <%= stacking.balance/100000000.0 %> PKOIN
                <button elementsid="refreshstakinginfo" class="refreshstakinginfo button small ghost"><i class="fas fa-sync"></i> Refresh</button>
            </div>
        </div>
        
        <div class="settingTable table">
            <div class="label">
                <span>Control</span>
            </div>
            <div class="value control">
                <div class="buttons">
                    <button elementsid="nodebalancedeposit" class="nodebalancedeposit button good"><i class="fas fa-key"></i> Deposit</button>
                    <button elementsid="nodebalancewithdraw" class="nodebalancewithdraw button yellow"><i class="fas fa-plus"></i> Withdraw</button>
                    <button elementsid="nodedumpwallet" class="nodedumpwallet button"><i class="fas fa-plus"></i> Dump Wallet</button>
                </div>
            </div>
        </div>

    </div>

<% } %>