<% if(stacking && stacking.length) {%>

    <div class="adresses">

        <% _.each(stacking, function(sa){ %>
            <div class="address table">

                <div class="namewrapper">
                    <span class="copyaddress"><%= sa.address %></span>
                </div>

                <% if(manager) {%>

                    <div class="iconWrapper">
                        <% if(nodestate.info.lastblock.height < manager.chain.commonHeight - 10) {%>
                            <i class="fas fa-spinner fa-spin"></i>
                        <% } else {%> 
                            <i class="fas fa-check-circle good"></i>
                        <% } %>
                    </div>

                <% } %>


                <div class="balance">
                    <%= app.platform.mp.coin(sa.balance)  %> PKOIN
                </div>

               

                

                <div class="panel">
                   
                </div>

            </div>
        <% }) %>

    </div>
    <% if(nodestate.info.lastblock.height < manager.chain.commonHeight - 10) {%>
        <div class="canstacking">
            <% var amount = _.reduce(stacking, function(c, sa){
                return sa.balance + c
            }, 0) %>

            <% if(amount > 50) {%>
                <i class="fas fa-check-circle good"></i> <span class="good">Node can staking</span>
            <% } else {%> 

                <i class="far fa-times-circle bad"></i> <span class="bad">Node can't staking, top up balance. (50 PKOIN)</span>
                
            <% }%>
        </div>
    <% } %>

<% } %>