<% if(stacking) { %>

    <div class="setting stacking">
        <div class="settingTable table">
            <div class="label">
                <span>Status</span>
            </div>
            <div class="value canstacking">
                <% if(stacking.staking && stacking.enabled) { %>
                    <i class="fas fa-check-circle good"></i> <span class="good">Active</span>
                <% } else { %> 
                    <i class="far fa-times-circle bad"></i> <span class="bad">Node can't staking, top up balance</span>
                <% } %>
            </div>
        </div>
        
        <div class="settingTable table">
            <div class="label">
                <span>Available balance</span>
            </div>
            <div class="value balance">
                <%= (stacking.weight/100000000.0).toLocaleString(undefined, {minimumFractionDigits:8}) %> PKOIN
            </div>
        </div>

    </div>

<% } %>