<% var keys = ['nodes', 'tmp'] %>

<% if(fixednode) {
    
    var inlist = false

    _.each(keys, function(key){
        if(!inlist){
            var r = _.find(manager[key] || [], function(n){
                return n.node ? n.node.key == fixednode : false
            })

            if (r) inlist = true 
        }
    })
    
    %>


        <div class="fixednotinlist">
            
            <% if(!inlist) {%>
                <div class="fsubcaption">
                    <span>You have selected a node that is not on this server</span>
                </div>
            <% } else { %> 
                <div class="fsubcaption">
                    <span>You have selected a node</span>
                </div>
            <% } %>

            <div class="fsubdata">
                <span class="bld"><%- fixednode %></span>
            </div>

            <div class="fsubdatabutton">
                <button elementsid="unlocknode" class="button small unlocknode">
                    <i class="fas fa-lock-open"></i> Unlock
                </button>
            </div>
        </div>


<% } %>

<% _.each(keys, function(key){ %>

    <% if(key == 'tmp' && manager[key] && !_.isEmpty(manager[key])) {%>
        <div class="keycaption">
            <span>Will be used when the load on the network increases</span>
        </div>
    <% } %>



    <% 

    var sorted = _.sortBy(manager[key] || [], function(nodeinfo){

        if(nodeinfo.node.local){
            return -Infinity
        }

        return -(nodeinfo.rating || deep(nodeinfo,'status.difference') || 0)
    })

    _.each(sorted, function(nodeinfo){ 
                    
        var node = nodeinfo.node
        
        %>

        <div elementsid="nodeWrapper_<%-key%>" class="nodeWrapper" key="<%-key%>">
            <div class="work">
                <div class="tableovfWrapper">
                    <div class="node table <%- !node.canuse ? 'cantuse' : ''%>" node="<%-node.key%>">
                        <div elementsid="usenode" class="use <% if(node.key == currentnode) {%> using <% } %> <% if(typeof fixednode != 'undefined' && fixednode == node.key) {%> locked <% } %>">

                            <% if(key == 'nodes') {%>

                                <% if(node.key == currentnode) {%>
                                    <% if(typeof fixednode != 'undefined' && fixednode == node.key) {%> 
                                        <i class="fas fa-lock good unh"></i>
                                        <i class="fas fa-unlock hov"></i>
                                    <% } else { %> 
                                        <i class="fas fa-check-circle good unh"></i>
                                        <i class="fas fa-lock hov"></i>
                                    <% } %>
                                    
                                <% } else { %> 
                                    <i class="far fa-circle"></i>    
                                <% } %>

                            <% } %>
                        </div>

                        <div class="name">
                            <% if(node.testing) {%>
                                <span class="testing">Testing</span>
                            <% } else { %> 
                                <span>v<%- node.version || '-' %>, <%- node.name %></span>
                            <% } %> 
                            
                            <% if(key != 'tmp') {%>
                            <br><span class="smalllabel">
                                <%- (100 * nodeinfo.probability).toFixed(0) %> % 


                                <% if(node.penalty && node.penalty.reason) {%> 
                                    <i class="fas fa-exclamation-triangle"></i> <%- node.penalty.k %> <%- node.penalty.reason %>
                                <% } %>
                            </span>
                            <% } %>


                            
                        </div>

                        <div class="hostport"><span><%- node.host%>:<%- node.port %>/<%- node.ws %></span><% if(node.service) {%><i class="fas fa-circle hasserviceconnection"></i> <% } %></div>

                        <div class="statistic">
                        
                            

                            <% if(nodeinfo.slice && nodeinfo.slice.time && nodeinfo.slice.percent) {%>

                                <span title="In the last 5 minutes"><%- nodeinfo.slice.time.toFixed(0) %>ms, <%- nodeinfo.slice.percent.toFixed(0) %> % <i class="fas fa-clock"></i></span> 
                        
                            <% } else { %> 
                                
                                <span>&mdash; <i class="fas fa-clock"></i> </span>

                            <% } %>

                            <% if(nodeinfo.statistic && nodeinfo.statistic.time && nodeinfo.statistic.percent) {%>

                                <span class="alltime" title="In the entire history of observations"> / <%- nodeinfo.statistic.time.toFixed(0) %>ms, <%- nodeinfo.statistic.percent.toFixed(0) %> %</span> 
                        
                            <% } else { %> 
                                
                                <span class="alltime">&mdash;</span>

                            <% } %>


                            

                            <% if(nodeinfo.statistic.date) {%><br><span class="smalllabel"><%- app.reltime(new Date(nodeinfo.statistic.date)) %> (<%- nodeinfo.statistic.count %>)</span><% } %>
                            
                        </div>

                        <div class="blockfork">

                                <% if(nodeinfo.status.difference && nodeinfo.status.difference < 0) {%>

                                    <span><%- nodeinfo.status.difference %></span>

                                <% } %> 

                                <% if(nodeinfo.status.fork) {%>

                                    <i class="fas fa-code-branch"></i>
        
                                <% } %> 
                            
                        </div>

                        


                        <div class="panelWrapper">
                            <% if(node.stable) {%>

                                <div class="item stable good">
                                    <i class="fas fa-certificate"></i>
                                </div>
                        
                            <% } else {%> 

                                <% if(node.local || node.peer) {%>

                                    <% if(node.local) {%>
                                    
                                        <div class="item maincolor">
                                            <i class="fas fa-thumbtack"></i>
                                        </div>
            
                                    <% } %>

                                    <% if(node.peer) {%>
                                
                                        <div class="item ">
                                            <i class="fas fa-bolt"></i>
                                        </div>
            
                                    <% } %>
                                <% } else { %> 
                            
                                <% if(node.addedby == app.user.address.value || admin) {%>

                                    <div elementsid="fa-cog" class="item edit">
                                        <i class="fas fa-cog"></i>
                                    </div>
            
                                <% } %>

                                <% } %>
                                
                            <% } %>

                        </div>

                        

                    </div>
                </div>
            </div>
        </div>

    <% }) %>


<% }) %>