<% _.each(stats.blocks, function(item, index){ %>
        <div class="work">
            <div elementsid="notificationWrapper_<%-item.height%>" class="notification" key="<%-item.height%>">
                    <div class="field">
                        <span><%-item.height%></span>
                    </div>

                    <div class="field">
                        <span><%-item.nodeAddress%></span>
                    </div>

                    <div class="field">
                        <span><%-item.nodeVersion%></span>
                    </div>

                    <div class="field">
                        <span><%-item.eventsCount%></span>
                    </div>

                    <div class="field">
                        <span><%-new Date(item.time).toLocaleTimeString()%></span>
                    </div>

                    <div class="field">
                        <span class="red"><%-item.pushStatus.filter(el=>el.isError).length%></span> /
                        <span class="green"><%-item.pushStatus.filter(el=>!el.isError).length%></span> /
                        <span><%-item.pushStatus.length%></span>
                    </div>

                
            </div>
        </div>
<% }) %>