<div class="notificationcontent collapsepart <% if(!isTablet()) {%> expanded <% } %>">
    <div class="work">
        <div class="subcaption">
            <span><%-app.meta.fullname%> notifications</span> <i class="fas fa-angle-down"></i>
        </div>

    </div>

    <div class="collapsingpart">
        <div class="work">
            <div class="caption">
                <span>Users</span>
            </div>
            <div class="notifications-table">
                <div class="field"><span>Address</span></div>
                <div class="field"><span>Token</span></div>
                <div class="field"><span>Device</span></div>
            </div>
        </div>

        <div class="notifications-users"></div>

    </div>

    <div class="collapsingpart">
        <div class="work">
            <div class="caption">
                <span>Notifications</span>
            </div>
            <div class="notifications-table">
                <div class="field"><span>Block height</span></div>
                <div class="field"><span>Node host</span></div>
                <div class="field"><span>Node version</span></div>
                <div class="field"><span>Events count</span></div>
                <div class="field"><span>Time</span></div>
                <div class="field"><span>Push status</span></div>
                <div class="field"></div>
            </div>
        </div>

        <div class="notifications"></div>

    </div>
</div>