<% if (info) { %>

    <div class="info hidden">
        <!--<section class="emptyHolder">
            &nbsp;
        </section>-->

        <section class="performancesWrapper">
            <div class="performanceSection transcodingSection">
                <header class="statsHeader"><i class="fas fa-microchip"></i> Transcoding</header>
                <main class="statsMain">
                    <div class="statContainer transcodingStatContainer">
                        <p class="iconStat waitingStat tooltip" title="Waiting jobs">Warnings <i class="fas fa-exclamation-triangle"></i> <%- info.performance.waitTranscodingJobs %></p>
                        <p class="iconStat failedStat tooltip" title="Failed jobs">Errors <i class="fas fa-times"></i> <%- info.performance.failTranscodingJobs %></p>
                    </div>

                    <div class="statContainer transcodingStatContainer extendedContainer">
                        <header>
                            <p class="iconStat tooltip" title="Transcoding speed"><i class="fas fa-tachometer-alt"></i> Transcoding Speed</p>
                        </header>
                        <section class="extendedStats">
                            <% info.performance.speedByResolution ? Object.entries(info.performance.speedByResolution).map(([resolution, speed]) => { %>
                                <p><%- resolution %>p: <strong><%- speed.toFixed(2) %> Mbit/s</strong></p>
                            <% }) : '-' %>
                        </section>
                    </div>
                </main>
            </div>

            <div class="performanceSection livestreamSection">
                <header class="statsHeader"><i class="fas fa-satellite-dish"></i> Live Streams</header>
                <main class="statsMain">
                    <div class="statContainer livestreamStatsContainer">
                        <p class="iconStat activeStat tooltip" title="Active Streams"><i class="fas fa-broadcast-tower"></i> Active Livestreams <%- info.performance.activeLivestreams %></p>
                    </div>
                </main>
            </div>

            <div class="performanceSection importsSection">
                <header class="statsHeader"><i class="fab fa-youtube"></i> Import</header>
                <main class="statsMain">
                    <div class="statContainer importStatsContainer">
                        <p class="iconStat waitingStat tooltip" title="Waiting imports">Warnings <i class="fas fa-exclamation-triangle"></i> <%- info.performance.waitImportsCount %></p>
                        <p class="iconStat failedStat tooltip" title="Failed imports">Errors <i class="fas fa-times"></i> <%- info.performance.failImportsCount %></p>
                    </div>
                </main>
            </div>

            <div class="performanceSection discSpaceSection">
                <header class="statsHeader"><i class="fas fa-server"></i> Instance Videos</header>
                <main class="statsMain">
                    <div class="statContainer discSpaceStatsContainer">
                        <p>Local Videos: <strong><%- info.totalLocalVideos %></strong></p>
                        <p>Total Videos: <strong><%- info.totalVideos %></strong></p>
                        <p>Local Size: <strong><%- formatBytes(info.totalLocalVideoFilesSize) %></strong></p>
                        <p>Redundancy Size: <strong><%- formatBytes((info.videosRedundancy || []).reduce((acc, val) => acc + val.totalUsed, 0) || 0) %></strong></p>
                    </div>
                </main>
            </div>

            <div class="performanceSection activitySection">
                <header class="statsHeader"><i class="fas fa-users"></i> Activity</header>
                <main class="statsMain">
                    <div class="statContainer activityStatsContainer">
                        <p>Followers: <strong><%- info.totalInstanceFollowers %></strong></p>
                        <p>Users: <strong><%- info.totalUsers %></strong></p>
                        <p>Video views: <strong><%- info.totalLocalVideoViews %></strong></p>
                    </div>

                    <div class="statContainer activityStatsContainer extendedContainer">
                        <header>
                            <p class="iconStat tooltip" title="Active users"><i class="fas fa-user-clock"></i> Activity by period</p>
                        </header>
                        <section class="extendedStats">
                            <% 
                            const activityDict = {
                                Monthly: 'totalMonthlyActiveUsers',
                                Weekly: 'totalWeeklyActiveUsers',
                                Daily: 'totalDailyActiveUsers',
                            };

                            Object.entries(activityDict).map(([caption, stat]) => { %>
                                <p><%- caption %>: <strong><%- info[stat] %></strong></p>
                            <% }); %>
                        </section>
                    </div>
                </main>
            </div>
        </section>
    </div>
</div>

<%  } %>