<% 

_.each((info.peertube || {}).instances, function(instance){

    var stats = instance.stats
    
%>

    <div class="instanceWrapper">
        <div elementsid="openinstance" class="work">
            <div class="tableovfWrapper">
                <div class="instance table" instance="<%-instance.host%>">
                    <div class="use <% if(instance.host == currentinstance) {%> using <% } %> <% if(typeof fixedinstance != 'undefined' && fixedinstance == instance.key) {%> locked <% } %>">
                        <i class="far fa-check-circle"></i>   
                    </div>

                    <div class="host">
                        <span><%- instance.host %></span>
                    </div>

                    <div class="statistic">
                    
                        

                        <% if(stats.slice && stats.slice.time && stats.slice.percent) {%>

                            <span title="In the last 5 minutes"><%- stats.slice.time.toFixed(0) %>ms, <%- stats.slice.percent.toFixed(0) %> % <i class="fas fa-clock"></i></span> 
                    
                        <% } else { %> 
                            
                            <span>&mdash; <i class="fas fa-clock"></i> </span>

                        <% } %>

                        <% if(stats.events && stats.events.time && stats.events.percent) {%>

                            <span class="alltime" title="In the entire history of observations"> / <%- stats.events.time.toFixed(0) %>ms, <%- stats.events.percent.toFixed(0) %> %</span> 
                    
                        <% } else { %> 
                            
                            <span class="alltime">&mdash;</span>

                        <% } %>


                        

                        <% if(stats.events.date) {%><br><span class="smalllabel"><%- app.reltime(new Date(stats.events.date)) %> (<%- stats.events.count %>)</span><% } %>
                        
                    </div>

                    <!--<div class="statistic">
                        <% if(instance.stats && instance.stats.averageTime && instance.stats.p) {%>

                            <span><%- instance.stats.averageTime.toFixed(0) %>ms, <%- instance.stats.p.toFixed(0) %> %</span>

                        <% } else { %> 
                            
                            <span>&mdash;</span>

                        <% } %>
                    </div>-->

                    <div class="panelWrapper">
                       

                        <div class="item stable good">
                            <i class="fas fa-certificate"></i>
                        </div>
                
                    

                    </div>

                </div>
            </div>
        </div>


<% }) %>