<div class="proxieslist empty">

    <div class="empty">
        <div class="table">
            <div>
                <%=e('e13050')%>
            </div>
        </div>
    </div>

    <div class="plist">

        <% if(proxies.length) {%>


            <% _.each(proxies, function(_proxy, i){
                
                var active = '';

                if (proxy.id == _proxy.id) active='active'
                
                %>
                <div class="tableovfWrapper">
                    <div class="proxy table <%- active %>" pid="<%- _proxy.id %>">

                        <div class="name">
                            <%- _proxy.get.name() %> <i class="fas fa-check"></i>
                        </div>

                        <div class="panel">
                            <% if(_proxy.user) {%>
                                <div elementsid="edit-fa-cog" class="item edit">
                                    <i class="fas fa-cog"></i>
                                </div>

                                <div elementsid="fa-trash-alt" class="item delete">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            <% } else { %> 
                                <div elementsid="fa-certificate" class="item pn">
                                    <i class="fas fa-certificate"></i>
                                </div>   
                            <% } %>
                        </div>

                    </div>
                </div>

            <% }) %>

        <% } else { %> 
        
            
            
        <% } %>
    </div>

    
</div>