<div class="proxyconnect">
    <div class="work">
        <div class="proxyselectwrapper">
            <div class="proxyselecttable table">

                <div class="currentwr openproxielist">
                    <span class="current">
                        <%- current ? current.get.name() : "Not Selected" %>
                    </span>
                </div>
                
                <div class="selector openproxielist">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>