<div class="servercontent">

    <div class="webWrapper">
        <div class="work">
            <div class="subcaption">
                <span>Proxy Server</span>
            </div>
        </div>

            <div class="webServerWrapper">

            </div>

        

    </div>

    <% if(info && info.server.listening && info.wss.listening) {%>

        <% if(admin) {%>

        <div class="adminsWrapper">
            <div class="work">
                <div class="subcaption">
                    <span>Server Admins</span>
                </div>
            </div>

            <div class="webAdminsWrapper">

            </div>
        </div>

        <% } %>

        <div class="walletsWrapper">
            <div class="work">
                <div class="subcaption">
                    <span>Pocketcoin Distribution</span>
                </div>
            </div>

            <div class="webDistributionWrapper">

            </div>
        </div>

    <% } %>
</div>