<div class="servercontent">

    <div class="webWrapper collapsepart">
        <div class="work">
            <div class="subcaption">
                <span>Proxy Server</span> <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="collapsingpart">
            <div class="webServerWrapper">

            </div>
        </div>

    </div>

    <% if(info && info.server.listening && info.wss.listening) {%>

        <% if(admin) {%>

        <div class="adminsWrapper collapsepart">
            <div class="work">
                <div class="subcaption">
                    <span>Server Admins</span> <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="collapsingpart">
                <div class="webAdminsWrapper">
                </div>
            </div>
        </div>

        <% } %>

        <div class="walletsWrapper collapsepart">
            <div class="work">
                <div class="subcaption">
                    <span>Pocketcoin Distribution</span> <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="collapsingpart">
                <div class="webDistributionWrapper">

                </div>
            </div>
        </div>

    <% } %>
</div>