<div class="webdistributioncontent collapsepart">

    <div class="work">
        <div class="subcaption">
            <span>ATransactions</span> <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <div class="collapsingpart">

        <div class="work">

        <% if(admin) {%>

                <div class="panel">
                    <button elementsid="addATransaction" class="addATransaction medium">Add ATransaction TXID</button>
                    <button elementsid="addATransactions" class="addATransactions medium ghost">Import ATransactions List</button>
                </div>
                
            <% } %>
        
            <div class="aTransactions">

                <div class="webATransactionsContentWrapper">
            
                
                </div>
                
            </div>

        </div>
    </div>

</div>