

<div class="webadminscontent">
    <div class="work">

        <% if(admins.length) {%>
        <% _.each(admins, function(uadmin){ 
            var user = deep(app, 'platform.sdk.users.storage.'+uadmin) || {} %>

       
            <div class="adminWrapper">
                <div class="admin table">

                    <div class="iconWrapper">
                        <a href="<%-app.platform.api.authorlink(uadmin)%>">

                            <% var src = user.image  %>

                            <div class="icon">
                                <div class="usericon usericonsbsa another" image="<%-src || ''%>">
                                    <% if(!src) {%>
                                        <svg width="30" height="30" data-jdenticon-value="<%-uadmin%>"></svg>
                                    <% } %>
                                </div>
                            </div>
                        </a>

                    </div>
                    
                    <div class="nameWrapper">

                        <a href="<%-app.platform.api.authorlink(uadmin)%>">
                            <%- user.name || uadmin %>
                        </a>
                        
                    </div>			
                    
                    <div class="panelWrapper">
                        <% if(admin) { %>

                            <div class="item remove" address="<%-uadmin%>">
                                <i class="far fa-times-circle"></i>
                            </div>
                            

                        <% } %>
                    </div>
                    
                </div>
            </div>

        <% }) %>
        <% } else {%> 
            
        <div class="empty">
            <span>There are no administrators assigned to this server</span>
        </div>    

        <% } %>
    </div>

    <% if(admin) {%>

    <div class="adminpanel">
        <div class="work">
            <div class="buttons">
                <button class="button addadmin">
                    <i class="fas fa-plus"></i> Add admin Address
                </button>
            </div>
        </div>
    </div>

    <% } %>
</div>