<div class="webdistributioncontent collapsepart">

    <div class="work">
        <div class="subcaption">
            <span>Bots</span> <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <div class="collapsingpart">

        <div class="work">

        <% if(admin) {%>

                <div class="panel">
                    <button elementsid="addbot" class="addbot medium">Add bot account</button>
                    <button elementsid="addbotlist" class="addbotlist medium ghost">Import Bot List</button>
                </div>
                
            <% } %>
        
            <div class="bots">

                <div class="webbotsContentWrapper">
            
                
                </div>
                
            </div>

        </div>
    </div>

</div>