<% if(bots.length) {%>

    <div class="botslist">
        <% _.each(bots, function(bot){
            
            var user = deep(app, 'platform.sdk.users.storage.'+bot) || {} 
            
            if(!user) return
            
            %>

            <div class="botinlist">
                <div>
                    <a elementsid="<%-app.platform.api.authorlink(bot)%>" href="<%-app.platform.api.authorlink(bot)%>"><%- user.name %></a>
                </div> 
                <div>(<%-bot%>)</div> 
                <div><i elementsid="removefromlist" bot="<%-bot%>" class="far fa-times-circle removefromlist"></i></div>
            </div>
            
        <% }) %>
    </div>

    <div class="exportpanel">
        <button elementsid="exportlist" class="exportlist medium">Export bots list</button>
    </div>

<% } else { %> 

    <div class="emptybots">
        <span>
            No bot accounts have been specified for this proxy yet
        </span>
    </div>
    
<% } %>