<div class="webdistributioncontent">
    <div class="tablecaption">
        <div class="work">
            <div class="tableovfWrapper">
                <div class="wallet table">
                    <div class="use"></div>
                    <div class="name"><span>Name</span></div>
                    <div class="queue"><span>Queue</div>
                    <div class="balance"><span>Current Balance</span></div>
                    <div class="unspents"><span>Unspents Count</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wallets">

        <div class="webdistributionwalletsWrapper">
    
        
        </div>
        
    </div>

    <div class="process">

        <div class="work">

            <div class="subcaptioninfo">
                <span>
                    Info
                </span>
            </div>

            <div class="info">
                <div class="row">
                    <div class="label">Process Date:</div>
                    <div class="value">
                        
                        <% if(wallets.lastprocess) {%>
                            <%- app.reltime(new Date(wallets.lastprocess)) %>
                        <% } else { %> 
                            &mdash;
                        <% } %>
                        
                    
                    </div>
                </div>

                <div class="row">
                    <div class="label">Process Enabled:</div>
                    <div class="value">

                        <% if(wallets.processInterval) {%> 
                            <i class="far fa-check-circle"></i> 
                        <% } else { %> 
                            <i class="far fa-circle"></i>
                        <% } %>
                    </div>
                        
                </div>

                <div class="row">
                    <div class="label">Last Process Error:</div>
                    <div class="value">

                        <% if(wallets.lastprocesserrorDate) {%>
                            <%- app.reltime(new Date(wallets.lastprocesserrorDate)) %>
                        <% } else { %> 
                            &mdash;
                        <% } %>

                        <% if(wallets.lastprocesserror) {%>
                            <%- wallets.lastprocesserror %>
                        <% } else { %> 
                            &mdash;
                        <% } %>
                    </div>
                </div>
            </div>  
            <% if(admin) {%>
                <div class="panel">
                    <button elementsid="refreshwallet" class="button small refreshwallet">Refresh Wallet</button>
                </div>
            <% } %>

        </div>

    </div>

    <% if(admin) {%>
        <div class="stats">
            <div class="walletschart">

            </div>
        </div>
    <% } %>

</div>