<div class="webdistributioncontent">
    <div class="tablecaption">
        <div class="work">
            <div class="tableovfWrapper">
                <div class="wallet table">
                    <div class="use"></div>
                    <div class="name"><span>Name</span></div>
                    <div class="queue"><span>Check</div>
                    <div class="queue"><span>Queue</div>
                    <div class="balance"><span>Current Balance</span></div>
                    <div class="unspents"><span>Unspents Count</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wallets">

        <div class="webdistributionwalletsWrapper">
    
        
        </div>
        
    </div>
    <% if(admin) {%>
    <div class="stats">
        <div class="walletschart">

        </div>
    </div>
    <% } %>

</div>