<% if(system.server) {%>

    <div class="webserveradmin managepanel">

        <div class="work">
            <div class="ssubcaption">
                <span>
                    Settings:
                </span>
            </div>
        </div>

        <div class="work">
            

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Enabled</span>
                    </div>

                    <div elementsid="serverenabled" class="value" sys="serverenabled" value="<%-(typeof changes.enabled != 'undefined' ? changes.enabled : system.server.enabled)%>">
                        <span><%- (typeof changes.enabled != 'undefined' ? changes.enabled : system.server.enabled) ? 'Yes' : 'No' %></span>
                    </div>

                    <% if(typeof changes.enabled != 'undefined') {%>
                        <div class="icon">
                            <i elementsid="fa-times-circle" class="far fa-times-circle" remove="enabled"></i>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Domain</span>
                    </div>

                    <div elementsid="domain" class="value" sys="domain">
                        <div class="input">
                            <input elementsid="inputdomain" type="text" class="domain" value="<%- typeof changes.domain != 'undefined' ? changes.domain : (system.server.domain || '')%>">
                        </div>
                    </div>

                    <% if(typeof changes.domain != 'undefined') {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="domain"></i>
                        </div>
                    <% } %>

                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Https port</span>
                    </div>

                    <div elementsid="https" class="value" sys="https">
                        <div class="input">
                            <input elementsid="httpsport" type="number" class="httpsport" value="<%-changes.https || system.server.ports.https%>">
                        </div>
                    </div>

                    <% if(changes.https) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="https"></i>
                        </div>
                    <% } %>

                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Websocket port</span>
                    </div>

                    <div elementsid="wss" class="value" sys="wss">
                        <div class="input">
                            <input elementsid="wsssport" type="number" class="wsssport" value="<%-changes.wss || system.server.ports.wss%>">
                        </div>
                    </div>
                    <% if(changes.wss) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="wss"></i>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Certificate</span>
                    </div>

                    <div elementsid="certificate" class="value" sys="certificate">
                        <span><%- deep(changes, 'ssl.name') || deep(system, 'server.ssl.name') || 'None' %></span>
                    </div>

                    <% if(changes.ssl) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="ssl"></i>
                        </div>
                    <% } else { %> 

                        <% if(deep(system, 'server.ssl.certpath') || deep(system, 'server.ssl.keypath')) {%>
                            <div elementsid="todefaultcert" class="todefaultcert">
                                <span>Set do default</span>
                            </div>
                        <% } %>

                    <% } %>

                   
                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Firebase</span>
                    </div>

                    <div elementsid="firebase" class="value" sys="firebase">
                        <span><%- deep(changes, 'firebase.id') || deep(system, 'firebase.id') || 'None' %></span>

                       
                    </div>

                    <% if(deep(changes, 'firebase.key') || deep(system, 'firebase.key')){ %>
                        <div class="icon">
                            <i class="fas fa-certificate <% if(deep(system, 'firebase.key')) {%> good <% } %>"></i>
                        </div>
                    <% } %>

                    <% if(changes.firebase) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="firebase"></i>
                        </div>
                    <% } else { %> 

                        <% if(deep(system, 'firebase.key') || deep(system, 'firebase.id')) {%>
                            <div elementsid="clearfirebase" class="icon clearfirebase">
                                <i class="far fa-times-circle"></i>
                            </div>
                        <% } %>
                   
                    <% } %>
                  
                </div>
            </div>

            <% if(proxy.direct) {%>


            <% } %>

        </div>

        <% if(!_.isEmpty(changes)) {%>

            <div class="work">
                <div class="haschanges">
                    <div class="buttons">
                        <button elementsid="savewebserveradmin" class="button save">
                            Save Changes
                        </button>

                        <button elementsid="discardwebserveradmin" class="button ghost discard">
                            Discard Changes
                        </button>
                    </div>
                </div>
            </div>

        <% } %>

    </div>

<% } %>