<% if(system.server) {%>

    <div class="webserveremails managepanel">

        <div class="work">
            <div class="ssubcaption">
                <span>
                    Email connection:
                </span>
            </div>
        </div>

        <div class="work">
            

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Host</span>
                    </div>

                    <div class="value" sys="emailshost">
                        <div class="input">
                            <input type="text" class="emailshost" value="<%- typeof emails.emailshost != 'undefined' ? emails.emailshost : system.emails.emailshost %>">
                        </div>
                    </div>

                    <% if(emails.emailshost) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="emailshost"></i>
                        </div>
                    <% } %>

                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Port</span>
                    </div>

                    <div class="value" sys="port">
                        <div class="input">
                            <input type="number" class="port" value="<%- typeof emails.port != 'undefined' ? emails.port : system.emails.port %>">
                        </div>
                    </div>

                    <% if (emails.port) { %>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="port"></i>
                        </div>
                    <% } %>

                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Secure</span>
                    </div>

                    <div class="value" sys="emailssecure" value="<%-(typeof emails.secure != 'undefined' ? emails.secure : system.emails.secure) ? 'Yes' : 'No' %>">
                        <span><%- (typeof emails.secure != 'undefined' ? emails.secure : system.emails.secure) ? 'Yes' : 'No' %></span>
                    </div>

                    <% if(typeof emails.secure != 'undefined') {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="secure"></i>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Login</span>
                    </div>

                    <div class="value" sys="login">
                        <div class="input">
                            <input type="text" class="login" value="<%- typeof emails.login != 'undefined' ? emails.login : system.emails.login %>">
                        </div>
                    </div>
                    <% if(emails.login) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="login"></i>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="setting togglebutton">
                <div class="settingTable table">
                    <div class="label">
                        <span>Password</span>
                    </div>

                    <div class="value" sys="password">
                        <div class="input">
                            <input type="password" class="password" value="<%- typeof emails.password != 'undefined' ? emails.password : system.emails.password %>">
                        </div>
                    </div>
                    <% if(emails.password) {%>
                        <div class="icon">
                            <i class="far fa-times-circle" remove="password"></i>
                        </div>
                    <% } %>
                </div>
            </div>


            <% if(proxy.direct) {%>


            <% } %>

        </div>

        <div class="work">
            <div class="results">
                Successfully sent emails:
                <span class="count">
                    <%=results.filter(result => result === 'success').length %> 
                </span> 
                <span>/</span> 
                <span class="count">
                    <%= results.length %>
                </span>
            </div>
        </div>

        <% if(!_.isEmpty(emails)) {%>

            <div class="work">
                <div class="haschanges">
                    <div class="buttons">
                        <button class="button save">
                            Save Changes
                        </button>

                        <button class="button ghost discard">
                            Discard Changes
                        </button>
                    </div>
                </div>
            </div>

        <% } %>


    </div>

<% } %>