<div class="webservercontent">
    <div class="work">
        <div class="ssubcaption">
            <span>
                Listening ports:
            </span>
        </div>

        <div class="webserverstatusWrapper">

            

        </div>

       
    </div>


    <div class="adminPanelWrapper">

    </div>

    <% if(admin) {%>
        <div class="work">
            <div class="panel">
                <div class="buttonWrapper">
                    <button class="button small heapdump">
                        Make Heap Dump
                    </button>
                </div>
                <div class="buttonWrapper">
                    <button class="button small clearcache">
                        Clear Cache
                    </button>
                </div>
                <div class="buttonWrapper">
                    <button class="button small clearrmt">
                        Clear RMT CACHE
                    </button>
                </div>

                <div class="buttonWrapper">
                    <button class="button small clearlogs">
                        Clear logs
                    </button>
                </div>

                <div class="buttonWrapper">
                    <button class="button small closeallwss">
                        Close All sockets
                    </button>
                </div>
            </div>
        </div>
    <% } %>


    <div class="stats">
        <div class="serverchart">

        </div>
    </div>
</div>