<div id="<%-module.map.id%>">
	<div class="captionWrapper">
		<div class="work">
			<div class="maincaptiontable table">
				<div class="captioncell">
					<div class="caption">
						Proxy info, <% if(app.platform.apiproxy) {%> https://<%- app.platform.apiproxy.host %> <% } %>
					</div>
					
				</div>
				<div class="ecell">
						<a href="connection">Connection</a>
					</div>
			</div>
			
		</div>
	</div>

	<div class="errorWrapper">
	</div>

	<div class="statsWrapper">
	</div>

	<div class="logsWrapper">
	</div>
	
	<div class="wsWrapper">
	</div>
	<!--<div class="blockWrapper">
	</div>-->
</div>