<div class="ws report">
    <div class="work">

        <div class="scaptionTable table">
            <div class="scaption">
                Other Websocket Connections
            </div>

            <div class="expandall ecell">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        
    </div>
    <div class="allws reportcnt">
        <div class="work">
            <div class="wslogs">
                <div class="wslogswrp">

                    <div class="preloader5"><span></span><span></span><span></span></div>  

                </div>

            </div>
        </div>
    </div>
</div>