.bannerComment {
  display: flex;
  justify-content: center;
  background-color: rgb(var(--background-total-theme));
}
.bannerComment .bannerBody {
  display: none;
  justify-content: space-between;
  padding: 1.2em;
  background-color: rgb(var(--background-secondary-theme));
  border: solid rgb(var(--neutral-grad-3)) 1px;
  border-radius: 7px;
}
.bannerComment .bannerBody .bannerIcon {
  width: 64px;
  background-image: url(../../images/comment.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50%;
}
.bannerComment .bannerBody > * {
  padding: 0 0.5em;
}
.bannerComment .bannerBody :first-child {
  padding-left: 0;
}
.bannerComment .bannerBody :last-child {
  padding-right: 0;
}
.bannerComment .bannerBody .text {
  color: rgb(var(--text-color));
}
.bannerComment .bannerBody .text .bannerDescription {
  padding-top: 0.5em;
}
.bannerComment .bannerBody .text .noShowAgain {
  text-decoration: underline;
  padding-top: 3%;
  color: rgb(var(--color-not-catchy-grey));
  font-size: 0.8em;
  cursor: pointer;
}
.bannerComment .bannerBody .text .noShowAgain:hover {
  color: rgb(var(--color-cc-blue));
}
.bannerComment .bannerBody .closeBannerBtn .container {
  display: flex;
  color: rgb(var(--neutral-grad-4));
  cursor: pointer;
  transition: color 0.1s linear;
}
.bannerComment .bannerBody .closeBannerBtn .container:hover {
  color: rgb(var(--neutral-grad-2));
}
.bannerComment.show {
  padding: 1em 2.5em 2em 2.5em;
}
.bannerComment.show .bannerBody {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.7s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0%, -20%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@media (max-width: 767px) {
  .bannerComment {
    font-size: 0.8em;
  }
  .bannerComment.show {
    padding: 0 0.5em 1em 0.5em;
  }
}
