#terms .caption {
  margin-top: 3em;
  font-size: 1.9em;
  color: rgb(var(--neutral-grad-3));
}
#terms .captionWrapper,
#terms .acceptWrapper,
#terms .textWrapper {
  padding: 1em;
}
#terms .acceptWrapper button {
  width: 100%;
  border-radius: 30px;
}
#terms .captionWrapper span {
  font-size: 2.5em;
  font-weight: 700;
}
#terms .text {
  color: rgb(var(--text-on-bg-shadow-color));
  max-width: 700px;
  margin-top: 2em;
  margin-bottom: 4em;
}
#terms .text p {
  margin-top: 2em;
  margin-bottom: 2em;
}
#terms .text p a {
  color: rgb(var(--color-txt-ac));
}
#terms .text p.subcaption {
  text-transform: uppercase;
  margin-bottom: 1em;
  color: rgb(var(--color-txt-ac));
  font-size: 1.1em;
}
#terms .text p.subcaption2 {
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 3em;
  color: rgb(var(--color-txt-ac));
  font-size: 1.1em;
  font-weight: 500;
}
#terms .text p.bright {
  color: rgb(var(--color-txt-ac-2));
}
.wnd #terms {
  padding-top: 4em;
  /*.text{
			color : rgb(var(--neutral-grad-1));
		}

		.caption{
			color :  rgb(var(--neutral-grad-0));
		}*/
}
/*t*/
@media only screen and (max-width: 768px) {
  #terms {
    padding-left: 0;
  }
  .wnd #terms {
    padding-left: 1em;
    padding-right: 0.5em;
  }
}
