<div id="<%-module.map.id%>">
	
	<div class="contens  roller" roller="contents">

		<div class="cnt">

			<div class="groupnames">

				<% _.each(groups, function(gr){ 
					
					if(gr.if && !gr.if()) return
					
					%>

					<div elementsid="group-<%-gr.id%>" class="item" group="<%-gr.id%>">
						<%- gr.name %>
					</div>

				<% }) %>

			</div>

		</div>
	</div>

	<div class="faqcnt  roller" roller="faqcnt">

		<div class="cnt">
			<div class="faqcntContent">
				<% _.each(groups, function(gr){ 
					
					if(gr.if && !gr.if()) return
					%>

					<div class="group" group="<%-gr.id%>">
						<div class="groupCaption">
							<%= gr.name %>
						</div>


						<div class="groupCnt">

							<% _.each(gr.group, function(fq){ 
								
								if(fq.if && !fq.if()) return
								
								%>

								<div class="question" question="<%- fq.id %>">
									<div class="questiontop">
										<div elementsid="questionName_<%- fq.id %>" class="questionName">
											<%= fq.q %> 
										</div>
	
										<div elementsid="share-<%- fq.id %>" class="share">
											<span><%=e('share')%></span>	 
											<i class="fas fa-share-alt"></i> 
										</div>
									</div>

									<div class="answer">
										<%= fq.a %>
									</div>

									<div class="image">
										<%= fq.img %>
									</div>

		

									
								</div>

							<% }) %>
							
						</div>
						
					</div>

				<% }) %>
			</div>
			<!-- <div class="imgWrapper">
				<img src="https://media.istockphoto.com/photos/panoramic-view-of-colorful-sunrise-in-mountains-picture-id620951116?k=20&m=620951116&s=612x612&w=0&h=J98krM_DhMkVpAzPOxfgT15jAD8PWQrtdrQftyxHjbE=" alt="">
			</div> -->

		</div>

	</div>

</div>