#video {
  padding: 3em 6em;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background: rgb(var(--background-total-theme));
}
#video .caption {
  font-size: 2em;
}
#video .container {
  margin-top: 2em;
  margin-bottom: 2em;
}
#video .container iframe {
  display: none;
}
#video .description {
  margin-top: 2em;
  margin-bottom: 4em;
  display: none;
  text-align: justify;
}
#video .buttonWrapper {
  text-align: center;
}
#video .buttonWrapper button {
  background: rgb(var(--color-bg-orange));
  border-color: rgb(var(--color-bg-orange));
  min-width: 220px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#video .buttonWrapper button:hover {
  color: rgb(var(--text-on-bg-ac-color));
  background: rgb(var(--color-good));
  border-color: rgb(var(--color-good));
}
#video .fixedbtn {
  padding-top: 0.5em;
  position: fixed;
  top: 0;
  left: 20%;
  right: 20%;
  height: 55px;
  z-index: 1025;
  text-align: center;
}
#video .fixedbtn button {
  min-width: 220px;
  background: rgb(var(--color-bg-orange));
  border-color: rgb(var(--color-bg-orange));
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#video .fixedbtn button:hover {
  color: rgb(var(--text-on-bg-ac-color));
  background: rgb(var(--color-good));
  border-color: rgb(var(--color-good));
}
#video .fixedbtn.active {
  display: block;
}
.joinbeta {
  background: rgba(var(--color-shadow-base), 0.95);
  color: rgb(var(--text-on-bg-shadow-color));
}
.joinbeta .thwrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.joinbeta .thwrapper .body {
  font-size: 2em;
}
.joinbeta .buttons > div {
  float: none;
  margin: 0 auto;
  width: 200px;
}
.joinbeta .buttons > div button {
  width: 100%;
}
.joinbeta .joinbetawrapper {
  text-align: center;
}
.joinbeta .joinbetawrapper .text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 100;
  font-size: 0.55em;
}
.joinbeta .joinbetawrapper .caption {
  color: rgb(var(--color-txt-ac-2));
}
.joinbeta .joinbetawrapper .inputWrapper input {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgb(var(--color-txt-ac-2));
  color: rgb(var(--text-on-bg-ac-color));
}
.joinbeta .joinbetawrapper .inputWrapper input:placeholder-shown {
  text-align: center;
}
/*t*/
@media only screen and (max-width: 768px) {
  #video .fixedbtn {
    display: none;
  }
  #video {
    padding: 0.5em;
    padding-bottom: 6em;
  }
  #video .caption {
    font-size: 1.4em;
    margin-top: 1.5em;
  }
  .joinbeta .inputs {
    display: block;
  }
  .joinbeta .inputs > div {
    display: block;
  }
}
