<div class="addingcategory">
    <div class="namewrapper">
        <div class="label">
            <span><%=e('categoryname')%></span>
        </div>
        <div class="inputWrapper">
            <input elementsid="inputentercategoryname" type="text" class="name" value="<%-category.name%>" placeholder="<%=e('entercategoryname')%>">
        </div>
        
    </div>
    <div class="fieldwrapper">
        <div class="label">
            <span><%=e('categoryfilter')%></span>
        </div>
        <div class="tagswrapper">
            
        </div>
    </div>

    <% if(hasc) {%>
        <div class="removeWrapper">
            <button elementsid="categories_removecat" class="button medium ghost removecat">
                Remove
            </button>
        </div>
    <% } %>
</div>