<div class="ta">
    <% _.each(cats, function(cat, i){ 
                
        var title = _.map(cat.tags, function(w){return "#" + w}).join(', ')
        
        %>

        <div category="<%-cat.id%>" class="tg <% if(cat.added) {%> added <% } %> <% if(cat.selected) {%> selected <% } %> <% if(cat.excluded) {%> excluded <% } %> <% if(i > 7) {%> hdn <% } %>">

            
                <div class="cat">
                    <div class="cattable table">

                        <div class="catvalue catcheckgl" title="<%-title%>">
                            <i class="<%- cat.icon ||  'far fa-star'%>"></i>
                            <span class="catname"><%- cat.name %></span>
                        </div>

                        <% if(cat.added) {%>
                            <div elementsid="categories_catedit" class="catedit">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        <% } %>

                        <!--<div class="minus">
                            <i class="fa fa-minus-circle"></i>
                        </div>-->
                        <div class="times">
                            <i class="fa fa-times"></i>
                        </div>

                        
                    </div>
                </div>
        </div>

    <% }) %>

    <% if(cats.length > 7) {%>

        <div class="showallcats showhideallcats">
            <i class="fa fa-chevron-down"></i>
            <span class="text"><%=e('e13021')%> (<%= cats.length - 7 %>) </span>
        </div>

        <div class="hideallcats showhideallcats">
            <i class="fa fa-chevron-up"></i>
            <span class="text"><%=e('hide')%></span>
        </div>

    <% } %>

</div>