#transactionview .workd {
  background: rgb(var(--background-secondary-theme));
  border-radius: 10px;
  padding: 1em;
}
#transactionview .scaption {
  padding: 0.5em 0;
}
#transactionview .scaption span {
  font-size: 0.9em;
  font-weight: 700;
}
#transactionview .usericon {
  width: 1.5em;
  height: 1.5em;
}
#transactionview .line {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
#transactionview .line > div {
  margin-right: 1em;
}
#transactionview .line > div span {
  font-size: 0.9em;
}
#transactionview .user {
  width: auto;
}
#transactionview .user > div {
  vertical-align: middle;
}
#transactionview .user > div.iconWrapper {
  width: 1.5em;
}
#transactionview .user > div.nameWrapper {
  padding-left: 0.5em;
}
#transactionview .user > div.nameWrapper span {
  font-size: 0.8em;
}
#transactionview .date {
  text-decoration: underline;
  padding: 0.5em 0;
}
#transactionview i {
  font-size: 0.8em;
}
#transactionview .amount {
  color: rgb(var(--color-good));
}
#transactionview .input .amount {
  color: rgb(var(--color-txt-orange));
}
#transactionview .empty {
  text-align: center;
}
#transactionview .empty .remakewr {
  padding: 1em;
}
#transactionview .io {
  display: flex;
  max-width: 640px;
  align-items: center;
  flex-direction: column;
}
#transactionview .io > div {
  margin-bottom: 1em;
}
#transactionview .io > div:nth-last-child(1) {
  margin-bottom: 0;
}
#transactionview .io .ioarrow {
  opacity: 0.7;
}
#transactionview .io .inputs,
#transactionview .io .outputs {
  width: 100%;
  border-radius: 3px;
  padding: 1em;
  border: 1px solid rgb(var(--neutral-grad-0));
}
#transactionview .txid {
  padding: 1em 0;
  opacity: 0.7;
  align-items: center;
  display: flex;
}
#transactionview .txid i {
  width: 20px;
  text-align: center;
  font-size: 0.7em;
}
#transactionview .txid span {
  font-size: 0.8em;
  max-width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#transactionview .copytext {
  cursor: pointer;
}
#transactionview .input,
#transactionview .output {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
#transactionview .input:nth-last-child(1),
#transactionview .output:nth-last-child(1) {
  margin-bottom: 0;
}
#transactionview .input > div.amount,
#transactionview .output > div.amount {
  padding-left: 1em;
}
