<div id="<%-module.map.id%>">

	

	<!--<div class="tagscnt">	
	</div>-->
	
	

	<div class="stackingcnt">	
	</div>	
	
	<div class="lastcommentscnt">	
	</div>

	<div class="panelcnt">
	</div>

	<div class="nav">

		<div class="links">
			<a href="https://pocketnet.app/blockexplorer/">Block Explorer</a>
			<span>·</span>
			<a href="https://pocketnet.app/help?page=faq">F.A.Q.</a>
			<span>·</span>
			<a href="https://pocketnet.app/help?page=roadmap">Roadmap</a>
			<span>·</span>
			<a href="https://pocketnet.app/help?page=node">Node Setup</a>
			<span>·</span>
			<a href="https://pocketnet.app/help?page=pkoin" data-anchor="pocketcoin">PKOIN</a>
			<span>·</span>
			<a href="https://pocketnet.app/help?page=applications">Applications</a>

			<% var year = new Date().getFullYear() %>

			<div class="copyright">
				<img class="copy_logo" src="../../pocketnet/assets/icons/mac/traybadge.png" alt="logo">
				<span class="copyright_text">Pocketnet, 2019 — <%-year%></span>
			</div>
		</div>

	</div>
	
	<!--
		<div class="recommendationscnt">	
		</div>
	-->

	
</div>