<div id="<%-module.map.id%>">

	

	<!--<div class="tagscnt">	
	</div>-->
	
	

	<div class="stackingcnt">	
	</div>	
	
	<div class="lastcommentscnt">	
	</div>

	<div class="panelcnt">
	</div>

	<div class="rightbottomnav">

		<div class="rightbottomlinks">
			<a href="https://<%-app.options.url%>/blockexplorer/">Block Explorer</a>
			<span>&middot;</span>
			<a href="help?page=faq">F.A.Q.</a>
			<span>&middot;</span>
			<a href="help?page=roadmap">Roadmap</a>
			<span>&middot;</span>
			<a href="help?page=node">Node&nbsp;Setup</a>
			<span>&middot;</span>
			<a href="help?page=pkoin" data-anchor="pocketcoin">PKOIN</a>
			<span>&middot;</span>
			<a href="help?page=applications">Applications</a>

			<% var year = new Date().getFullYear() %>

			<div class="copyright">
				<img class="copy_logo" src="img/logogray.png" alt="logo">
				<span class="copyright_text">Pocketnet, 2019 — <%-year%></span>
			</div>
		</div>

	</div>
	
	<!--
		<div class="recommendationscnt">	
		</div>
	-->

	
</div>