<div class="recommendations">

    <div class="rcaptiontable table">
        <div class="rcaptionWrapper">
            <div class="rcaption">
                <span><%=e('recommendations')%> (<%- users.length %>)</span>
            </div>
        </div>

        <div class="rpanelWrapper">
            
            <div class="arrowWrapper">
                <div elementsid="urightarrow" class="uright arrow" arrow="right">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>

            <div class="arrowWrapper">
                <div elementsid="uleftarrow" class="uleft arrow" arrow="left">
                    <i class="fas fa-angle-left"></i>
                </div>
            </div>
            
        </div>
    </div>
    

    <div class="userslistwrapper">
        <div class="userslist" style="width : 10000px">        

        </div>

       

    </div>
</div>