<div id="<%-module.map.id%>">
	<div class="wrp">
		<div class="rcptwrp">
			<div class="tcaptionwrapper">
				<div class="tcaptiontable table">
					<div class="tcaption">
						<span><%=e('e13175').toUpperCase()%></span> 
					</div>	
					
					<div elementsid="mlabticoncleartags" class="mlab ticon cleartags">
						<i class="fas fa-ban"></i>
					</div>
					
				</div>
			</div>
	
			<div class="tags">

				<div class="preloaderwrapper">
					<div class="preloader5"><img elementsid="./img/three-dots.svg" src="./img/three-dots.svg"/></div>
				</div>

			</div>	
		</div>
	</div>
</div>