<div class="ta">
    <% _.each(tags, function(tag, i){

        if(!(tagsmap[tag.tag] && tagsmap[tag.tag].fixed)){
    %>

        <div tag="<%- decodeURIComponent(tag.tag) %>" class="tg <% if(tagsmap[tag.tag]) {%> selected  <% } %> <% if(i > 7) {%> hdn <% } %>">

            
                <div class="tag">
                    <div class="tagvalue tagcheckgl">
                        <i class="fas fa-hashtag"></i>
                        <span><%- decodeURIComponent(tag.tag) %><% if(tag.count) {%>,&nbsp;<%- compressedNumber(tag.count) %><%}%></span>
                    </div>
                </div>
        </div>

    <% 
        }
        }) 
    %>

    <% if(tags.length > 7) {%>

        <div class="showalltags showhidealltags">
            <i class="fa fa-chevron-down"></i>
            <span class="text"><%=e('e13021')%> (<%=tags.length - 7%>) </span>
        </div>

        <div class="hidealltags showhidealltags">
            <i class="fa fa-chevron-up"></i>
            <span class="text"><%=e('hide')%></span>
        </div>

    <% } %>

</div>