<div id="<%-module.map.id%>">
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1><%= e('aboutYoutubeSecondBoard1') %></h1>
                </div>
                <div class="img-main-block">
                    <img src="img/about/VS-10.png" alt="">
                </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <%= e('aboutYoutubeMainDescription1') %> <br>
                        <%= e('aboutYoutubeMainDescription2') %>
                    </div>  
                    <div class="text">
                        <%= e('aboutYoutubeMainDescription3') %>
                        <div class="extra-text">
                            <%= e('aboutYoutubeMainDescription4') %>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="text-point">
                        <div class="one-text-point">  
                            <i class="fas fa-check"></i>
                            <%= e('aboutYoutubeMainDescription5') %> </div>
                        <div class="one-text-point"> 
                            <i class="fas fa-check"></i>
                            <%= e('aboutYoutubeMainDescription6') %> </div>
                        <div class="one-text-point"> 
                            <i class="fas fa-check"></i>
                            <%= e('aboutYoutubeMainDescription7') %></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="description-three-column">
            <div class="main-wrapper">
                <div class="one-column">
                    <p><%= e('aboutYoutubeThreeColumn1') %> <br> <%= e('aboutYoutubeThreeColumn2') %> </p>
                    <p>
                    <%= e('aboutYoutubeThreeColumn3') %>
                    </p>
                    <p>
                    <%= e('aboutYoutubeThreeColumn4') %> 
                    <br> 
                    <%= e('aboutYoutubeThreeColumn5') %> 
                    <br> 
                    
                    </p>
                    
                </div>  
                <div class="one-column">
                    <p>
                    <%= e('aboutYoutubeThreeColumn6') %> 
                    <br> 
                    <%= e('aboutYoutubeThreeColumn7') %> 
                    </p>

                    
                    <p>
                    <%= e('aboutYoutubeThreeColumn8') %> 
                    <br>
                    <%= e('aboutYoutubeThreeColumn9') %> 
                    </p> 
                     
                       
                </div> 
                <div class="one-column">
                    <p>
                        <%= e('aboutYoutubeThreeColumn10') %> 
                    </p> 
                    <p>
                        <%= e('aboutYoutubeThreeColumn11') %> 
                    </p>
                   
                    <p>
                        <%= e('aboutYoutubeThreeColumn12') %> 
                    </p>
                </div>             
            </div>
            
        </section>
        <section class="h3-section">
            <div class="main-wrapper">
                <h3>
                    <%= e('aboutYoutubeH3Section') %> 
                </h3>
            </div>          
        </section>
        <section class="table"> 
            <div class="main-wrapper">
                
                <table>
                    <tr>
                        <th style="border: none;"></th>
                        <th>YOUTUBE</th>
                        <th>BASTYON</th>
                    </tr>
                    <!-- <tr>
                        <td colspan="2" class="center">
                            <%= e('aboutYoutubeThirdBoard1') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold" >
                            <%= e('aboutYoutubeThirdBoard1') %>
                        </td>
                        <td >
                            <%= e('aboutYoutubeThirdBoard2') %>
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard3') %>
                            
                        </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard4') %>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="bold">
                            <%= e('aboutYoutubeThirdBoard4') %>
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard5') %>    
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard6') %>    
                        </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard7') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard7') %></td>
                        <td><%= e('aboutYoutubeThirdBoard8') %> </td>
                        <td><%= e('aboutYoutubeThirdBoard9') %> </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard10') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard10') %></td>
                        <td ><%= e('dno') %>.</td>
                        <td><%= e('aboutYoutubeThirdBoard11') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard12') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold" ><%= e('aboutYoutubeThirdBoard12') %></td>
                        <td ><%= e('aboutYoutubeThirdBoard13') %></td>
                        <td><%= e('aboutYoutubeThirdBoard14') %> </td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard15') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard15') %></td>
                        <td><%= e('aboutYoutubeThirdBoard16') %></td>
                        <td><%= e('aboutYoutubeThirdBoard17') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard18') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard18') %></td>
                        <td><%= e('aboutYoutubeThirdBoard19') %></td>
                        <td><%= e('aboutYoutubeThirdBoard20') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard21') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard21') %></td>
                        <td><%= e('aboutYoutubeThirdBoard22') %></td>
                        <td><%= e('aboutYoutubeThirdBoard23') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard24') %></td>
                    </tr> -->
                    <tr>
                        <td class="bold"><%= e('aboutYoutubeThirdBoard24') %></td>
                        <td><%= e('aboutYoutubeThirdBoard25') %></td>
                        <td><%= e('aboutYoutubeThirdBoard26') %></td>
                        
                    </tr> 
                    <!-- <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard18') %>                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= e('aboutYoutubeThirdBoard19') %>
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard20') %>

                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard21') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">NO</td>
                        <td>YES</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard22') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">YES</td>
                        <td>YES</td>
                        
                    </tr>
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard23') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right"><%= e('aboutYoutubeThirdBoard24') %></td>
                        <td> NO!</td>
                        
                    </tr>   -->
                </table> 
            </div>           
        </section>
        <section class="img-and-text">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutYoutubeImgAndText1') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText2') %>                            
                        </p>
                        <p>
                            <%= e('aboutYoutubeImgAndText3') %>                            
                        </p>
                    </div>
                    <div class="img">
                        <img src="img/about/earn.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutYoutubeImgAndText4') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText5') %>                            
                        </p>
                        <p>
                            <%= e('aboutYoutubeImgAndText6') %>                            
                            
                        </p>
                    </div>
                    <div class="img">
                         <img src="img/about/FREE-SPEECH-ZONE.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutYoutubeImgAndText7') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText8') %>                            
                        </p>
                        
                    </div>
                    <div class="img">
                         <img src="img/about/secure.jpg" alt="">
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutYoutubeImgAndText9') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText10') %>                            
                        </p>
                        <p>
                            <%= e('aboutYoutubeImgAndText11') %>                            
                        </p>
                        <p>
                            <%= e('aboutYoutubeImgAndText12') %>                            
                        </p>
                        <p>
                            <%= e('aboutYoutubeImgAndText13') %>                            
                        </p>
                    </div>
                    <div class="img">
                         <img src="img/about/censor.jpg" alt="">
                    </div>
                </div> -->
                <div class="row">
                    <div class="text">
                         <h2>
                            <%= e('aboutYoutubeImgAndText14') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText15') %>                            
                        </p>
                        
                    </div>
                    <div class="img">
                         <img src="img/about/CENSORSHIP.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                         <h2>                       
                            <%= e('aboutYoutubeImgAndText16') %>                            
                        </h2>
                        <p>
                            <%= e('aboutYoutubeImgAndText17') %>                            
                        </p>
                        
                    </div>
                    <div class="img">
                         <img src="img/about/open-source-project.jpg" alt="">
                    </div>
                </div>
            </div>
         </section>
        <section class="main-board-2 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2>
                        <%= e('aboutYoutubeSecondBoard1') %>  
                    </h2>
                    <p>
                        <%= e('aboutYoutubeSecondBoard2') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard3') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard4') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard5') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard6') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard7') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard8') %> 
                    </p>
                    <p>
                        <%= e('aboutYoutubeSecondBoard9') %> 
                    </p>
               
            </div>
        </section> 
        <!-- <section class="table"> 
            <div class="main-wrapper">
                
                <table>
                    <tr>
                        
                        <th>YOUTUBE</th>
                        <th>BASTYON</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">
                            <%= e('aboutYoutubeThirdBoard1') %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= e('aboutYoutubeThirdBoard2') %>
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard3') %>
                            
                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard4') %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= e('aboutYoutubeThirdBoard5') %>    
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard6') %>    
                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard6') %></td>
                    </tr>
                    <tr>
                        <td><%= e('aboutYoutubeThirdBoard7') %> </td>
                        <td><%= e('aboutYoutubeThirdBoard8') %> </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard9') %></td>
                    </tr>
                    <tr>
                        <td class="right"><%= e('dyes') %>.</td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard11') %>
                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard12') %></td>
                    </tr>
                    <tr>
                        <td class="right"><%= e('aboutYoutubeThirdBoard13') %></td>
                        <td><%= e('aboutYoutubeThirdBoard14') %> </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2"><%= e('aboutYoutubeThirdBoard15') %></td>
                    </tr>
                    <tr>
                        <td><%= e('aboutYoutubeThirdBoard16') %></td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard17') %>
                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard18') %>                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= e('aboutYoutubeThirdBoard19') %>
                        </td>
                        <td>
                            <%= e('aboutYoutubeThirdBoard20') %>

                        </td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard21') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">NO</td>
                        <td>YES</td>
                        
                    </tr> 
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard22') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">YES</td>
                        <td>YES</td>
                        
                    </tr>
                    <tr>
                        <td class="center" colspan="2">
                            <%= e('aboutYoutubeThirdBoard23') %>
                        </td>
                    </tr>
                    <tr>
                        <td class="right"><%= e('aboutYoutubeThirdBoard24') %></td>
                        <td> NO!</td>
                        
                    </tr>  
                </table> 
            </div>           
        </section> -->
        <section class="main-board-3 bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h2><%= e('aboutYoutubeThirdBoard25') %></h2>
                    <h3><%= e('aboutYoutubeThirdBoard26') %></h3>
                    <p><%= e('aboutYoutubeThirdBoard27') %> <b>PKOIN.</b></p>
                    <p><%= e('aboutYoutubeThirdBoard28') %></p>
                    <p>
                        <%= e('aboutYoutubeThirdBoard29') %>
                    </p>
                    <p>                        
                        <%= e('aboutYoutubeThirdBoard30') %>
                    </p>
                    <p>
                        <%= e('aboutYoutubeThirdBoard31') %>
                    </p>
                    
               
            </div>
        </section>




        

       
       
    </main>
   <!--  <footer>
        <div class="main-wrapper">
            <img src="img/about/footer-logo.png">
            <div class="social-cont">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p>Misma 2019 All Rights Reserved Papa</p>
        </div>
    </footer> -->

</div>
