<div class="text">

	<div id="md_en" data-target="out_en" class="agreement_md"><h1>Child Protection and Safety Standards for <%- window.project_config.name %></h1>
		<p>At <%- window.project_config.name %>, the safety of children from sexual violence and exploitation is of utmost importance. We comply with stringent standards set by various organizations and legal frameworks dedicated to child protection.</p>
		
		<p><%- window.project_config.name %> is devoted to safeguarding the emotional and physical health of children. This document outlines our stringent standards for preventing child sexual abuse and exploitation in line with the Children's Online Privacy Protection Act (COPPA).</p>
		
		<h2>1. Data Collection and Privacy Policy</h2>
		<p>We have an extensive privacy policy that explains how we collect, store, and utilize users' personal data.</p>
		
		<h2>2. Monitoring and Reporting</h2>
		<p>Our application includes a monitoring system and moderators to detect instances of child sexual abuse or exploitation. Users are encouraged to report any inappropriate content or behavior.</p>
		
		<h2>3. Content Moderation</h2>
		<p>We employ proactive content moderation measures to shield users from sexual content or communications that may exploit children.</p>
		
		<h2>4. User Guidelines and Standards of Conduct</h2>
		<p>We strictly prohibit any form of harassment, bullying, or exploitation. Our zero-tolerance policy applies to any user behavior deemed harmful or predatory towards children.</p>
		
		<h2>5. Regular Security Audits</h2>
		<p>We perform regular assessments of the app’s security features to ensure compliance with COPPA standards.</p>
		
		<h2>6. Staff Training</h2>
		<p>Our employees involved in the <%- window.project_config.name %> app receive training regarding child protection policies and legal obligations mandated by COPPA.</p>
		
		<h2>7. Cooperation with Law Enforcement</h2>
		<p>We maintain open communications with law enforcement agencies to ensure prompt responses to incidents of abuse and to aid in investigations when necessary.</p>
		
		<h2>Contact Us</h2>
		
		<p>If you have any questions, please reach out via email: <%- window.project_config.support %></p>
		
		<h2>Conclusion</h2>
		<p>The <%- window.project_config.name %> app acknowledges the critical necessity of protecting children from online sexual abuse and exploitation. By conforming to these standards in line with COPPA, we aim to foster a safe and enjoyable environment for children and their families.</p>
		</div>

</div>