#notifications {
  position: relative;
}
#notifications .closentooltipth,
#notifications .closentooltipsecond,
#notifications .closentooltip {
  display: none;
}
#notifications ._wrp .commenttext,
#notifications ._wrp .data {
  overflow: hidden;
}
#notifications .error,
#notifications .loader {
  padding: 3em;
  text-align: center;
}
#notifications .error {
  color: rgb(var(--neutral-grad-3));
  font-size: 2em;
  opacity: 0.5;
}
#notifications .circularprogress {
  overflow: hidden;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#notifications .circularprogress .circularprogressWrapper {
  padding: 1em;
  text-align: center;
}
#notifications .circularprogress .circularprogressWrapper canvas {
  margin: 0 auto;
}
#notifications .ncaption {
  font-weight: 700;
}
#notifications .subcaption {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
  display: none;
}
#notifications .group .groupCaption {
  padding: 2em 0;
}
#notifications .group .groupCaption .caption {
  font-size: 1em;
  font-weight: 700;
}
#notifications .ncaptionWrapper > div {
  padding: 0.5em;
  vertical-align: middle;
}
#notifications .ncaptionWrapper > div.showAll {
  text-align: right;
  color: rgb(var(--color-bg-ac));
  display: none;
  font-size: 0.8em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#notifications .ncaptionWrapper > div.showAll:hover {
  color: rgb(var(--color-txt-gray));
}
#notifications .nwrapper .notification {
  border-bottom: 1px solid rgba(var(--color-txt-gray), 0.3);
  padding: 1em;
  cursor: pointer;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: rgba(var(--color-txt-gray), 0 0.5);
}
#notifications .nwrapper .notification:nth-last-child(1) {
  border-bottom: 0;
}
#notifications .nwrapper .notification.seen {
  background: transparent;
}
#notifications .nwrapper .notification .caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#notifications .nwrapper .notification .date {
  font-size: 0.8em;
  color: rgb(var(--color-txt-gray));
}
#notifications .nwrapper .notification .emojione {
  width: 16px;
  height: 16px;
}
#notifications .nwrapper .notification .cwrapper > div {
  vertical-align: top;
}
#notifications .emptyNew,
#notifications .empty {
  color: rgb(var(--neutral-grad-4));
  font-size: 0.9em;
  text-align: center;
  margin: 1.5em 0;
}
#notifications .panel {
  margin-top: 0.5em;
  font-size: 0.8em;
  text-align: center;
}
#content #notifications .wrk {
  padding: 0 4em;
}
#content #notifications .ncaption {
  padding-bottom: 1.5em;
}
#content #notifications .panel {
  display: none;
}
.wndnotifications .ncaption {
  display: none;
}
.notificationTolltip {
  width: 100%;
  max-height: none;
  height: 100%;
  z-index: 100!important;
  max-width: none!important;
}
.notificationTolltip .tooltipster-content {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.notificationTolltip .tooltipster-box {
  background: transparent;
  border: 0;
  box-shadow: 0 0 5000px 3000px rgba(var(--color-shadow-base), 0.7);
}
#content #notifications .subcaption {
  display: block;
  padding-top: 1em;
}
#content #notifications .ncaptionWrapper {
  display: none;
}
#content #notifications .emptyNew,
#content #notifications .empty {
  margin: 0;
  padding: 2em;
}
.tooltipster-content #notifications {
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.tooltipster-content #notifications .group .groupCaption {
  padding: 2em 1em;
}
.tooltipster-content #notifications .group .groupCaption .caption {
  font-size: 2em;
  font-weight: 100;
}
.tooltipster-content #notifications .closentooltipth {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--color-shadow-base), 0.2);
  display: block;
}
.tooltipster-content #notifications .closentooltipsecond {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(var(--color-shadow-base), 0.2);
  display: block;
  color: rgba(var(--neutral-grad-4));
  height: 65px;
  width: 65px;
  line-height: 65px;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tooltipster-content #notifications .closentooltipsecond:hover {
  color: rgba(var(--neutral-grad-3));
  background: rgba(var(--color-shadow-base), 0.25);
}
.tooltipster-content #notifications .closentooltip {
  position: absolute;
  right: 565px;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  display: block;
  color: rgba(var(--neutral-grad-4));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.tooltipster-content #notifications .closentooltip:hover {
  color: rgba(var(--neutral-grad-3));
}
.tooltipster-content #notifications .closentooltip:hover .closecsscross {
  opacity: 0.6;
}
.tooltipster-content #notifications .closentooltip .table > div {
  vertical-align: middle;
  text-align: center;
}
.tooltipster-content #notifications .wrk {
  position: absolute;
  width: 500px;
  right: 65px;
  top: 0;
  bottom: 0;
  padding: 0;
  background: rgb(var(--background-total-theme));
  box-shadow: 0 0 5000px 3000px rgba(var(--color-shadow-base), 0.7);
  z-index: 1;
}
.tooltipster-content #notifications .npWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.tooltipster-content #notifications .ncaptionWrapper > div.showAll {
  display: table-cell;
}
.tooltipster-content #notifications .nabsWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.tooltipster-content #notifications .ncaptionAbsWrapper {
  padding: 0.5em;
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
}
.tooltipster-content #notifications .nabsContentWrapper {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.tooltipster-content #notifications .panel {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  padding: 1em;
}
html.mobileview #notifications .wrk {
  padding: 0 ;
}
html.mobileview #notifications ._wrp {
  padding: 0 1em;
}
html.mobileview #notifications ._wrp .data {
  overflow: hidden;
}
/*t*/
@media only screen and (max-width: 768px) {
  #notifications .group .groupCaption {
    padding: 1em 0;
    border-bottom: 1px solid rgb(var(--neutral-grad-0));
    border-top: 1px solid rgb(var(--neutral-grad-0));
    background: rgb(var(--background-secondary-theme));
  }
  #notifications .group .groupCaption .caption {
    font-size: 1.2em;
    font-weight: 700;
  }
  #notifications .subcaption {
    padding-top: 0!important;
    margin-bottom: 0.5em;
  }
  #notifications .nwrapper .notification {
    padding-left: 0;
    padding-right: 0;
  }
}
