
<% if(scores.length) {%>

    <div class="detailsWrapper"> 
        
        <div class="bystars">
            <% 
            
            var sgroup = group(scores, function(v){
                return v.value
            })
            
            for(i = 5; i >= 1; i--) {
                
                var l = deep(sgroup, i.toString() + ".length") || 0


                var pc = l / scores.length * 100
                
                %>

                <div class="ratingrowWrapper">

                    <div class="ratingrow table">
                        <div class="label">
                            <%-i%> 
                        </div>

                        <div class="lineWrapper">
                            <div class="linebg">
                                <div class="line line-empty" awidth="100"></div>
                                <div class="line line-filled" awidth="<%-pc%>"></div>
                            </div>
                        </div>

                        <div class="pecent">
                            <%- pc.toFixed(0)  %> %
                        </div>
                    </div>

                </div>


            <% } %>
        </div>
    </div>

<% } %>