<div id="<%-module.map.id%>">
	<% 

	var value = Number(share.score)

	console.log('share', share);

	if (Number(share.scnt) && _.isNumber(Number(share.scnt))) {
		value = value / Number(share.scnt)
	}

	%>

	<div class="youstars">
		<div class="caption">
			<span><%=e('e13150')%></span>
		</div>
	</div>
	<div class="count">
		<span class="v"><%-value.toFixed(1)%></span> 
	</div>
	<div class="likersCount">
		<%-Number(share.scnt)%>
	</div>

	<div class="fordetailsusers customscroll">

		<div class="details">

		</div>

		<div class="users">

		</div>

	</div>
</div>