<%
var me = null;

if(user.address.value) me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))

var name = app.platform.api.name(author.address)
var letter = name ? name[0] : '';

var telements = function(){ %>

	<% if(!user.isItMe(author.address)) {
		
		var _class=''
		
		%>

		<% if (me && me.relation(author.address, 'subscribes')){ 
			
			_class="following"
			
		%>

		<% } else { %> 
						
		<% }%>
		
		<% if(state) { %>

			<span class="middotwrapper">&middot;</span>

			<% if(!app.curation()) {%> 

				<span class="subscribebuttonstop <%-_class%>">

					
					<span elementsid="author_unsubscribe" class="unsubscribe funf"><%=e('youarefollowing')%></span>	
					<% if (me){ 
						var r = me.relation(author.address, 'subscribes') 
					%>
                     <span elementsid="author_notificationturn" class="notificationturn funf <% if(r && (r.private == 'true' || r.private == '1' || r.private === true)) {%> turnon <% } %>">&middot; <i class="far fa-bell-slash"></i></span>
					<% } %>
						
					<span elementsid="author_subscribe" class="subscribe funf"><%=e('follow')%></span>	

					&middot; <span elementsid="author_startchat" class="startchat funf"><%=e('startchat').toLowerCase()%>&nbsp;<i class="fas fa-comments"></i></span>

				</span>

			<% } else { %> 
				<span class="startchat funf"><%=e('startchat')%> <i class="fas fa-comments"></i></span> 
			<% } %>

			<span class="blockingWrapper">
				<span elementsid="author_unblocking" class="unblocking funf"><%=e('blocked')%></span>	
			</span>

		<% } %>
					
				
	<% } else { %> 

		<% if(state && app.mobileview) {%>
			<span class="changeaccount"><%=e('aaddedacc')%> <i elementsid="author_changeaccount" class="fas fa-chevron-down"></i></span>
		<% } %>

	<% } %>
	
<% } %>


<div class="bgCaption">
    <div class="infoWrapper">
        <div class="rightchatspacer">
            <div class="work">
                <div class="cwrapper table">

                    <div class="cell cellforimage">
                        <div class="icon">

                            <% 
                                var src = deep(author, 'data.image');
                            %>

                            <div elementsid="author_usericon_<%-src || ''%>" ban=".gif" class="usericon" image="<%-src || '*'%>">

                                <% if(!src && letter) {%>

                                    <span class="letter">
                                        <%-letter.toUpperCase()%>
                                    </span>

                                <% } else if (!src) { %>

                                    <i class="far fa-user"></i>

                                <% } %>

                                <% if(app.platform.ui.markUser) {%>

                                    <%= app.platform.ui.markUser(author.address)%>

                                <% } %>

                            </div>
                        </div>
                    </div>

                    <div class="ccell">
                        <div class="infomain">

                            <div class="caption">
                                <% var reputation = deep(app, 'platform.sdk.usersl.storage.'+author.address+'.reputation') || 0 %>

                                <b class="adr"><%-name || author.address%></b>

                                <% telements() %>
                                
                            </div>

                            <div class="mobileinfo">
                                
                            </div>

                            <div class="tips">
                                <div class="telements">
                                    <div class="telement">
                                        <div class="usermenu">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>