<% 

    var f = app.platform.sdk.contents.gets(contents);

    var tol = {
        prev : 3,
        next : 7
    }

    if (f.length){ %> 
        

    <div class="contents">

    <% _.each(f, function(g){

        var count = 0;
        var tgr = -1;

        if (selected){
            tgr = findIndex(g.items, function(c){
                return c.txid == selected
            })
        }

        %>

        <div class="cgroup <% if((g.items.length > 15 && selected && tgr == -1 && g.items.length > 3) || (tgr > -1 && tgr - tol.prev > -1) || (g.items.length > 15 && tgr > -1 && tgr + tol.next < g.items.length - 1) || (!selected && g.items.length > 15)) {%> hasmore <% } %>">

            <div class="ccaption">
                <div class="captiontable table">
                    

                    <div class="captionlabel">
                        <%= clearStringXss(g.g.caption) %>
                    </div>

                    <div class="captionicon">
                        <i class="fas fa-chevron-up"></i>
                    </div>

                </div>
            </div>

            <div class="gcontents">

                <% if((tgr > -1 && tgr - tol.prev > -1 && g.items.length > 15) || (selected && tgr == -1 && g.items.length > 3)) {%>
                    <div class="citem dots">
                        <div class="cname">
                            <span>...</span>
                        </div>
                    </div>
                <% } %>

                <% _.each(g.items, function(cnt, index){  %>

                    <div class="citem <% if(selected && selected == cnt.txid) {%> selected <% } %> <% if((g.items.length > 15 && tgr > -1 && tgr - index > tol.prev) || (tgr > -1 && index - tgr > tol.next && g.items.length > 15) || (selected && tgr == -1 && g.items.length > 3) || (!selected && index > 15)) {%> chidden <% } %>">
                        
                        <div class="citemtable table">
                            <div class="cnamecell">
                                <div class="cname">
                                    <a href="<%-app.platform.api.authorlink(author.address)%>?report=post&mt=<%- cnt.txid %>" handler="true">
                                        <span><%= clearStringXss(cnt.caption) %></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cscorecell">
                                <div class="score">
                                    <% if(cnt.score) {%>
                                        <span><%- cnt.score.toFixed(1) %> <i class="far fa-star"></i></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>

                <% }) %>

                <% if((tgr > -1 && tgr + tol.next < g.items.length - 1 && g.items.length > 15) || (!selected && g.items.length > 15)) {%>
                    <div class="citem dots">
                        <div class="cname">
                            <span>...</span>
                        </div>
                    </div>
                <% } %>

            </div>

        </div>

    <% }) %>

    </div>

    <% } %> 
