<% 

    var f = app.platform.sdk.contents.gets(contents);

    var tol = {
        prev : 3,
        next : 7
    }

    if (f.length){ %> 
        

    <div class="contents">

    <% _.each(f, function(g){

        var count = 0;
        var tgr = -1;

        if (selected){
            tgr = findIndex(g.items, function(c){
                return c.txid == selected
            })
        }

        %>

        <div class="cgroup hasmore ">

            <div class="ccaption">
                <div class="captiontable table">
                    

                    <div class="captionlabel">
                        <span><%= superXSS(g.g.caption) %></span>
                    </div>

                </div>
            </div>

            <div class="gcontents">

                <% _.each(g.items, function(cnt, index){  
                    
                    var label = superXSS(cnt.caption)

                    if (label.indexOf("<") > -1 || label.indexOf('&lt;') > -1) return

                    console.log('label', label)

                    %>

                    <div class="citem ">
                        
                        <div class="citemtable table">
                            <div class="cnamecell">
                                <div class="cname">
                                    <a elementsid="?report=shares&s=<%- cnt.txid %>&msh=1" href="?report=shares&s=<%- cnt.txid %>&msh=1" handler="true">
                                        <span><%= label %></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cscorecell">
                                <div class="score">
                                    <% if(cnt.score) {%>
                                        <span><%- cnt.score.toFixed(1) %> <i class="far fa-star"></i></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>

                <% }) %>

          

            </div>

        </div>

    <% }) %>

    </div>

    <% } %> 
