<div id="<%-module.map.id%>">

	<div class="bgCaptionWrapper"></div>

	<div class="mworkwrapper " id="sticktop">
		<div class="rightchatspacer">
			<div class="work adj mwork">
					
				<div class="leftpanelcell">
					<div class="authorinfoWrapper"></div>
					<div class="contentswrapper"></div>
				</div>
				
				
				<div class="lentacell">
					<div class="cnt">
						<% if(!app.curation()) {%>

							<div class="lentaWrapper">
							</div>

						<% } else { %> 

							<div class="curationWrapper">
								<span>You can see the posts of this user only on <a elementsid="https://bastyon.com" href="https://bastyon.com">bastyon.com</a></span>
							</div>
				
						<% } %>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<div elementsid="author_upbuttonwrapper" class="upbuttonwrapper light">
	</div>
	
</div>