<div id="<%-module.map.id%>" class="<% if(app.curation()) {%> curation <% } %>">

	<div class="bgCaptionWrapper"></div>

	<div class="mworkwrapper " id="sticktop">
		<div class="rightchatspacer">
			<div class="work adj mwork">
					
				<div class="leftpanelcell">
					<div class="authorinfoWrapper"></div>
					<div class="contentswrapper"></div>
				</div>
				
				
				<div class="lentacell">
					<div class="cnt">

							<div class="lentaWrapper">
							</div>

					</div>
				</div>
				

			</div>
		</div>
	</div>

	<div elementsid="author_upbuttonwrapper" class="upbuttonwrapper light">
	</div>
	
</div>