<% 

var me = null;

if(user.address.value)
	me = deep(app, 'platform.sdk.users.storage.' + user.address.value.toString('hex'))



var telements = function(){ %>

	<% if(!user.isItMe(author.address)) {

		var sclass = '';

		if (me && me.relation(author.address, 'subscribes')){
			sclass = 'subscribed'
		}


	%>

		<div class="telement sbscr">
			<div class="subscribebuttons table <%-sclass%>">
				<div class="item">
					<button class="contrast subscribe"><span class=""><%=e('sub')%></span></button>
				</div>
				<!--<div class="item prv">
					<button class="contrast subscribeprivate"><i class="fas fa-eye-slash"></i></button>
				</div>-->

				<div class="item prall">
					<button class="contrast unsubscribe"><span class=""><%=e('unsub')%></span></button>
				</div>
			</div>
		</div>

	<% } %>
	
<% }
%>

<div id="<%-module.map.id%>">

	<div class="bgCaption">
		<div class="infoWrapper">
			<div class="work">
				<div class="cwrapper table">

					<div class="cell cellforimage">
						<div class="icon">

							<% var src = deep(author, 'data.image')  %>

							<div class="usericon" image="<%-src || ''%>">

								<% if(!src) {%>
									<svg width="30" height="30" data-jdenticon-value="<%-author.address%>"></svg>

								<% } %>
							</div>
						</div>
					</div>

					<div class="ccell">
						<div class="infomain">
							<div class="caption">
								<b class="adr"><%-deep(author, 'data.name') || author.address%></b>
								
							</div>
							<div class="tips">
								
								<div class="telements">

									<% if(!isMobile() && state) { telements() } %>

									<div class="telement">
										<div class="usermenu">
											

										</div>
									</div>
								</div>
								
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<% if(isMobile() && state) { %>

		<div class="subscribewrapperphones">
			<% telements() %>
		</div>

	<% } %>

	<div class="mworkwrapper">
		<div class="work mwork">
				
				<div class="leftpanelcell">
					
					<div class="authorinfoWrapper"></div>
						
					
				</div>
				<!--
				<div class="mainpanelcell">
					<div class="cnt fxd">
						<div class="panel">
							
						</div>
					</div>
				</div>-->

				<div class="lentacell">

					<div class="cnt">


						<div class="lentaWrapper">
						</div>

					</div>
				</div>

				
				

		</div>
	</div>

	<div class="upbutton">
		<i class="fas fa-chevron-up"></i>
	</div>
	
</div>