<div class="postauwrapper">
    <div class="postauarrows topwr">
        <div class="arrowstable table">
            <div class="arrowauwrapperback">
                <a elementsid="?report=shares" href="?report=shares">
                    <div class="backtoshares"><i class="fas fa-undo"></i></div>
                </a>
            </div>

            <div class="arrowauwrapperspacer"></div>

            <div class="arrowauwrapper">
                <% if(leftid) {%>
                    <a elementsid="?report=post&mt=<%-leftid%>" href="?report=post&mt=<%-leftid%>" handler="true">
                        <div class="arrowau left" mt="<%-leftid%>"><i class="fas fa-chevron-left"></i></div>
                    </a>
                <% } %>
            </div>
            <div class="arrowaucenter"><%- currentindex %>/<%- allength %></div>
            <div class="arrowauwrapper">
                <% if(rightid) {%>
                    <a elementsid="?report=post&mt=<%-rightid%>"  handler="true">
                        <div class="arrowau right" mt="<%-rightid%>"><i class="fas fa-chevron-right"></i></div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="postcnt">

    </div>

    <div class="postauarrows">
        <div class="arrowstable table">
            <div class="arrowauwrapperback"><div class="backtoshares"><i class="fas fa-undo"></i></div></div>

            <div class="arrowauwrapperspacer"></div>

            <div class="arrowauwrapper">
                <% if(leftid) {%>
                    <a elementsid="?report=post&mt=<%-leftid%>" href="?report=post&mt=<%-leftid%>" handler="true">
                        <div class="arrowau left" mt="<%-leftid%>"><i class="fas fa-chevron-left"></i></div>
                    </a>
                <% } %>
            </div>
            <div class="arrowaucenter"><%- currentindex %>/<%- allength %></div>
            <div class="arrowauwrapper">
                <% if(rightid) {%>
                    <a elementsid="?report=post&mt=<%-rightid%>" href="?report=post&mt=<%-rightid%>" handler="true">
                        <div class="arrowau right" mt="<%-rightid%>"><i class="fas fa-chevron-right"></i></div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>