<div id="<%-module.map.id%>" class="preshell">
    <div id="author">

        <div class="bgCaption">
            <div class="infoWrapper">
                <div class="work">
                    <div class="cwrapper table">

                        <div class="cell cellforimage">
                            <div class="icon">
                                <div class="usericon">
                                </div>
                            </div>
                        </div>

                        <div class="ccell">
                            <div class="infomain">

                                <div class="caption">
                                    <div class="textline colored" style="width:127px">
                                    </div>
                                </div>

                                <div class="mobileinfo" style="display: block;">
                                    <div class="authorinfo">


                                        <div class="item name">
                                            <div class="itemtable table">
                                                <div class="textline slight" style="width:77px">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="item foraddress">
                                            <div class="itemtable table">
                                                <div class="textline slight" style="width:77px">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="item reputation">
                                            <div class="itemtable table">
                                                <div class="textline slight" style="width:77px">
                                                </div>
                                            </div>
                                        </div>





                                        <div class="item date">
                                            <div class="itemtable table">
                                                <div class="textline slight" style="width:77px">
                                                </div>
                                            </div>
                                        </div>





                                        <div class="item about">
                                            <div class="itemtable table">
                                                <div class="textline slight" style="width:77px">
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="tips">
                                    <div class="telements">
                                        <div class="telement">
                                            <div class="usermenu" style="display: block;">


                                                <div class="usermenuitem active c" menuitem="shares">


                                                    <div class="toReport" report="shares">

                                                        <div class="textline contrast" style="width:20px; margin: 0 auto;">
                                                        </div>




                                                    </div>

                                                </div>




                                                <div class="usermenuitem  c" menuitem="followers">


                                                    <div class="toReport" report="followers">





                                                        <div class="textline contrast" style="width:20px; margin: 0 auto;">
                                                        </div>




                                                    </div>

                                                </div>




                                                <div class="usermenuitem  c" menuitem="following">


                                                    <div class="toReport" report="following">





                                                        <div class="textline contrast" style="width:20px; margin: 0 auto;">
                                                        </div>




                                                    </div>

                                                </div>




                                                <div class="usermenuitem  c" menuitem="share">




                                                    <div class="textline contrast" style="width:20px; margin: 0 auto;">
                                                    </div>




                                                </div>




                                                <div class="usermenuitem  cmore" menuitem="more">




                                                    <div class="textline contrast" style="width:20px; margin: 0 auto;">
                                                    </div>




                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>