@import "../../css/__cssvar";
.statistic {
  .title {
    max-width: 700px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
  }

  .metric-wrapper {
    display:  flex;
    width: 100%;
  }
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;

    & > div {
      margin: 0 0.5em;
      width: 50%;
      padding: 0.5em;
      background: rgb(var(--background-secondary-theme));


    }
    @media (min-width: 600px) and (max-width: 860px) {
      & > div {
        width: 100%;
      }
    }

  }
  .count {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
  }

  form {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    label {
      margin: 0 0.5em ;
      input {
        margin-left: 0.5em;
      }
    }
    button {
      margin-left: 1em;
    }
  }

  .button {
    padding: 0.5em 1.4em;
    background: rgb(var(--color-bg-ac-bright));
    color: rgb(var(--text-on-bg-ac-color));
    border: 1px solid rgb(var(--color-bg-ac-bright));
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 8px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      background: transparent;
      color: rgb(var(--color-bg-ac-bright));
    }
  }
}