#about table td {
  position: static;
}
#about .authorization {
  display: flex;
}
#about .authorization .signup {
  margin-left: 2em;
  color: #ff4800;
}
#about .lang {
  cursor: pointer;
  font-weight: 100;
}
#about .lang i {
  opacity: 0.4;
}
#about .bottomfooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5em;
  margin-bottom: 5em;
}
#about .bottomfooter .discover .text {
  padding: 2em;
  height: 160px;
  max-width: 450px;
  margin: 0 auto;
}
#about .bottomfooter .discover .items {
  display: flex;
  justify-content: center;
}
#about .bottomfooter .discover .items > div {
  padding: 1em;
}
#about .bottomfooter .discover .items.support {
  margin-top: 2em;
}
#about .bottomfooter .discover .items a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#about .bottomfooter .discover .items a .oflogo {
  display: inline-block;
  color: rgb(var(--color-cc-blue));
  font-size: 4em;
  text-align: center;
  line-height: 25px;
}
#about .bottomfooter .discover .items a .contactsection {
  width: 100%;
}
#about .bottomfooter .discover .items a .width {
  width: 100% !important;
}
#about .bottomfooter .discover .items a .width div {
  width: 100%;
}
#about .bottomfooter .discover .items a .width div b {
  width: 100%;
}
#about .bottomfooter .discover .items a p {
  height: 40px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
#about .bottomfooter .discover .items a i {
  color: rgb(var(--color-cc-blue));
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
#about .open {
  width: 100%;
}
#about .open > .main-wrapper {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#about .open > .main-wrapper .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  width: 100%;
}
#about .open > .main-wrapper .content .discover {
  padding: 0 20px;
  width: 400px;
}
#about .open > .main-wrapper .content .discover h2 {
  text-align: center;
  font-size: 1.5em;
}
#about .open > .main-wrapper .content .discover p {
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
  height: 60px;
}
#about .open > .main-wrapper .content .discover .one-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 ;
}
#about .open > .main-wrapper .content .discover .one-item > .text {
  width: 100%;
  flex-direction: column;
}
#about .open > .main-wrapper .content .discover .one-item > .text > p {
  padding: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
#about .open > .main-wrapper .content .discover .one-item > div {
  width: 40px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .open > .main-wrapper .content .discover .one-item > div:first-child {
  margin-left: 0;
}
#about .open > .main-wrapper .content .discover .one-item > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#about .open > .main-wrapper .content .discover .one-item > div > a > img {
  width: 35px;
  height: 35px;
}
#about .open > .main-wrapper .content .discover .one-item > div > a > p {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
#about .open > .main-wrapper .content .discover .one-item > div > a > i {
  color: rgb(var(--color-cc-blue));
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
#about .open > .main-wrapper .content .discover .one-item > div .oflogo {
  display: inline-block;
  color: rgb(var(--color-cc-blue));
  font-size: 4em;
  text-align: center;
  line-height: 25px;
}
#about .maket {
  top: 0;
  position: fixed;
  background: rgb(var(--background-total-theme));
  z-index: 300;
  width: 100%;
  height: 65px;
}
#about .maket .rightchatspacer {
  height: 100%;
}
#about .maket .contentsInner {
  padding-left: 0.5em;
}
#about .maket .localization {
  white-space: nowrap;
}
#about .maket .cnt {
  height: 100%;
}
#about .maket .cnt .menuWrapper {
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#about .maket .contentsInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#about .maket .contentsInner .burgerMenu {
  display: none;
  cursor: pointer;
  padding-left: 10px;
}
#about .maket .contentsInner .items {
  display: flex;
  height: 100%;
}
#about .maket .contentsInner .items .sitename {
  display: flex;
}
#about .maket .contentsInner .items .sitename .eventslang {
  display: flex;
  align-items: center;
}
#about .maket .contentsInner .items .icon {
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.35em;
  position: relative;
  cursor: pointer;
}
#about .maket .contentsInner .items .icon .header_logo {
  height: 20px;
  vertical-align: bottom;
  padding-right: 0.5em;
}
#about .maket .contentsInner .contentmenu {
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}
#about .maket .contentsInner .contentmenu .dropdown .reportCaption {
  padding-left: 0;
}
#about .maket .contentsInner .contentmenu .reportCaption {
  color: #b2abac;
  padding: 0 1em;
  cursor: pointer;
}
#about .maket .contentsInner .contentmenu .reportCaption.active {
  color: rgb(var(--color-txt-ac));
}
#about .maket .contentsInner .contentmenu .reportCaption.alternativeTo {
  position: relative;
}
#about .maket .contentsInner .contentmenu .reportCaption.alternativeTo .dropdown {
  display: none;
  padding-left: 10px;
  left: 5px;
  width: 180px;
  padding-top: 0.5em;
  position: absolute;
  background: rgb(var(--background-secondary-theme));
}
#about .maket .contentsInner .contentmenu .reportCaption.alternativeTo:hover .dropdown,
#about .maket .contentsInner .contentmenu .reportCaption.alternativeTo.active .dropdown {
  display: block;
}
#about .maket .contentsInner .contentmenu .reportCaptionCell {
  white-space: nowrap;
  font-size: 0.9em;
}
#about .maket .contentsInner .contentmenu .dropdownReportCaptionCell {
  padding: 0.5em 0;
  white-space: nowrap;
  font-size: 0.9em;
}
#about .maket .contentsInner .icon {
  display: flex;
  align-items: center;
}
#about .report {
  margin-top: 65px;
}
#about .report #faq {
  max-width: 1280px;
  padding: 0 1em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#about .report #applications {
  min-height: calc(100vh - 140px);
}
#about .mobileMenu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  left: 0;
}
#about .mobileMenu .leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  background: rgba(10, 12, 23, 0.5);
  cursor: pointer;
  color: rgb(var(--background-secondary-theme));
}
#about .mobileMenu .leftSection:hover {
  color: #ffffff;
}
#about .mobileMenu .leftSection .closeCross {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(var(--color-shadow-base), 0.714), 0 0 3px rgba(var(--color-shadow-base), 0.519);
}
#about .mobileMenu .menuContent {
  padding: 2em;
  position: relative;
  top: 0;
  background: #ffffff;
  height: 100%;
  width: 100%;
}
#about .mobileMenu .menuContent .eventslang {
  margin-top: 4em;
}
@media (max-width: 780px) {
  #about {
    margin-top: -65px;
  }
  #about .authorization {
    display: none;
  }
  #about .contentsInner .burgerMenu {
    display: block!important;
  }
  #about .contentsInner .logoWrapper {
    display: none!important;
  }
  #about .contentsInner .contentmenu {
    display: none!important;
  }
  #about .contentsInner .reportCaptionCell {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #about .showMobileMenu .mobileMenu {
    display: flex!important;
  }
  #about .discover .items .contactsection {
    width: 100%;
  }
  #about .bottomfooter {
    grid-template-columns: 1fr;
  }
  #about .bottomfooter .discover .items {
    flex-wrap: wrap;
  }
  #about .bottomfooter .discover .items > div {
    width: 33.333%;
  }
  #about .bottomfooter .discover .items.support {
    margin-top: 4.5em;
  }
}
