@import "../../css/__cssvar";

@reportMarginTop : 65px;


#about{

	table{
		td{
			position: static;
		}
	}

	.authorization{
		display: flex;


		.signup{
			margin-left: @rhythm * 4;
			color: #ff4800;
		}
	}

	.lang{
		cursor: pointer;
		font-weight: 100;

		i{
			opacity: 0.4;
		}
	}

	.bottomfooter{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top : 10 * @rhythm;
		margin-bottom : 10 * @rhythm;

		.discover{
			.text{
				padding : 4 * @rhythm;
				height: 160px;
				max-width: 450px;
				margin : 0 auto;
			}

			.items{
				display: flex;
				justify-content: center;

				>div{
					padding : 2 * @rhythm;
				}

				&.support{
					margin-top: @rhythm * 4;
				}

				

				a{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content:center;
					text-decoration: none;

					.oflogo{
						display: inline-block;
						color: rgb(var(--color-cc-blue));
						font-size: 4em;
						text-align: center;
						line-height: 25px;
					}

					.contactsection{
						width: 100%;
					}

					.width{
						width: 100% !important;
						div{
							width: 100%;
							b{
								width: 100%;
							}
						}
					}

					p{
						height: 40px;
						width: 100%;
						text-align: center;
						font-weight: 500;
						font-size: 0.6em;
					}
					
					i{
						color: rgb(var(--color-cc-blue));
						font-size: 2em;
						width: 25px;
						height: 25px;
						text-align: center;
					}
				}
			}
		}
	}

	.open{

        width: 100%;	

        >.main-wrapper{
            padding: 50px 30px;
            width: 100%;
            display: flex;
            justify-content: center;

            .content{
                display: flex;
                justify-content: space-between;		
                flex-wrap: wrap;
				max-width: 1140px;
				width: 100%;

                .discover{		
                    padding : 0 20px;	
                    width: 400px;
                    h2{
                        text-align: center;
                        font-size: 1.5em;
                        }
                    p{
                        text-align: left;
                        margin: 15px 0;
                        font-size: 1.1em;
                        height: 60px;
                        }

                    .one-item{					
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 50px 0 ;


                        >.text{
                            width: 100%;
                            flex-direction: column;
                            >p{
                                padding: 0;
                                height: 100%;
                                margin-top: 0;
                                margin-bottom: 15px;
                                width: 100%;
                                padding-left: 20px;
                                text-align: left;
                                }
                            }
							
                        >div{
                            width: 40px;
                            margin: 10px 10px;
                            display: flex;	
                            align-items: center;
                            justify-content:center;
                            &:first-child{
                                margin-left:0;
                                }
                    
                            >a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content:center;
                                text-decoration: none;

								>img{
                                    width: 35px;
                                    height: 35px;
                                    }
                                >p{
                                    height: 50px;
                                    width: 100%;
                                    text-align: center;
                                    font-weight: 500;
                                    font-size: 0.6em;
                                    }
                                >i{
                                    color: rgb(var(--color-cc-blue));
                                    font-size: 2em;
                                    width: 25px;
                                    height: 25px;
                                    text-align: center;
                                    }
                            }


						.oflogo{
							display: inline-block;
							color: rgb(var(--color-cc-blue));
							font-size: 4em;
							text-align: center;
							line-height: 25px;
						}
                
                
                    }
                }

                }
            }


        }
    }

	.maket {
		top: 0;
		position: fixed;
		background: rgb(var(--background-total-theme));
		z-index: 300;
		width: 100%;
		height: @reportMarginTop;

		.rightchatspacer{
			height: 100%;
		}
		

		.contentsInner{
			padding-left: 0.5em;
		}

		.localization{
			white-space: nowrap;
		}

		.cnt{
			height: 100%;

			.menuWrapper{
				width: 95%;
				height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}




		.contentsInner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1280px;
			height: 100%;
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			.burgerMenu{
				display: none;
				cursor: pointer;
				padding-left: 10px;
			}

			
			
			.items{
				display: flex;
				height: 100%;

				
	
				.sitename{
					display: flex;
				
					.eventslang{
						display: flex;
						align-items: center;
					}
				}



	
				.icon{
					padding: 0;
					padding-left: @rhythm;
					padding-right: .7 * @rhythm;
					position: relative;
					cursor: pointer;
	
	
					.header_logo{
						height: 20px;
						vertical-align: bottom;
						padding-right: 0.5em;

					}

				}

			
	
			}
	
	
			.contentmenu{
				display : flex;
				align-items: center;
				max-width : 700px;
				margin : 0 auto;

				.dropdown{
					.reportCaption{
						padding-left: 0;
					}
				}
	
				.reportCaption{
					color : #b2abac;
					padding : 0 2 * @rhythm;
					cursor : pointer;

					&.active{
						color : rgb(var(--color-txt-ac))
					}



					&.alternativeTo{
						position : relative;
			
						.dropdown{
							display : none;
							padding-left: 10px;
							left: 5px;
							width: 180px;
							padding-top: @rhythm;
							position : absolute;
							background : rgb(var(--background-secondary-theme));
						}
					}


					&.alternativeTo{

						&:hover, &.active{
							.dropdown{
								display : block;
							}
						}
					}


		
				}

				.reportCaptionCell{
					white-space: nowrap;
					font-size: 0.9em;
				}
	
			
				.dropdownReportCaptionCell{
					padding: @rhythm 0;
					white-space: nowrap;
					font-size: 0.9em;

				}

				
			}
	
			.icon{
				display: flex;
				align-items: center
			}
		}
	}

	.report{
		margin-top: @reportMarginTop;
	
		#faq{
			max-width: 1280px;
			padding: 0 1em;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
		}

		#applications{
			min-height: calc(100vh - 140px);
		}
	}

	.mobileMenu{
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 9999;
		margin-right: auto;
		margin-left: auto;
		top: 0;
		left: 0;



		.leftSection{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 100%;
			background: rgba(10,12,23,.5);
			cursor: pointer;
			color: rgb(var(--background-secondary-theme));

			&:hover{
				color: #ffffff;
			}
	
			.closeCross{
				display: flex;
				justify-content: center;
				align-items: center;
				color : #fff;
				.shadowText();
			}

		}


		.menuContent{
			padding: 2em;
			position: relative;
			top: 0;
			background: #ffffff;
			height: 100%;
			width: 100%;

			.eventslang{
				margin-top: 4em;
			}

		}
	}



}

@media (max-width: 780px) {

	#about{

		margin-top: -65px;

		.authorization{
			display: none;
		}


		.contentsInner{
			.burgerMenu{
				display: block!important;
			}
			.logoWrapper{
				display: none!important;
			}
			.contentmenu{
				display: none!important;
			}

			.reportCaptionCell{
				padding-top: 1em;
				padding-bottom: 1em;
			}
		}

		.showMobileMenu{

			.mobileMenu{
				display: flex!important;
			}
		}

		.discover{
			.items{
				.contactsection{
					width: 100%;
				}
			}
		}

		.bottomfooter{
			grid-template-columns: 1fr;

			.discover{

				.items{
					flex-wrap: wrap;
	
	
					>div{
						width: 33.333%;
					}
	
					&.support{
						margin-top: @rhythm * 9;
					}
					
				}
			}
			
		}



	}

}


