#panelWrapper,
#menuWrapper {
  display: none!important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
}
h2 > span {
  position: relative;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
.services {
  padding: 60px 0;
}
.sitename {
  cursor: pointer;
}
.sitename .label {
  font-weight: 700;
  overflow: hidden;
}
.sitename .label > div {
  float: left;
}
.sitename .label > div.lang {
  font-weight: 100;
  padding-left: 0.5em;
}
.sitename .label > div.lang i {
  opacity: 0.4;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sitename .label > div.lang.hover i {
  opacity: 0.8;
}
.sitename .icon {
  padding-left: 0;
}
.sitename .menutoppanel {
  display: none;
}
.sitename .menutoppanel > div {
  vertical-align: middle;
}
.sitename .menutoppanel .pcenterCell {
  padding-left: 0.5em;
  padding-right: 1.5em;
}
.sitename .menutoppanel .pcenterLabel {
  font-size: 0.9em;
}
.sitename .menutoppanel .pcenterLabel.active {
  color: #00a4ff;
  border-bottom: 1px solid #00a4ff;
}
.sitename.lentamenu .menutoppanel {
  display: table-cell;
}
.sitename.lentamenu .label {
  display: none;
}
.works {
  padding: 30px;
  background: url(src/bg-bastion-section1.jpg) no-repeat fixed;
  background-size: cover;
  position: relative;
}
.works > .main-wrapper {
  position: relative;
  z-index: 2;
}
.works > .main-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.works > .main-wrapper > div .works__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  color: #FFFFFF;
}
.works > .main-wrapper > div .works__container > .text {
  display: flex;
  width: 100%;
  font-size: 120%;
  margin-right: 20px;
  justify-content: space-around;
}
.works > .main-wrapper > div .works__container > .text > p {
  margin: 20px 0;
  color: black;
  width: 250px;
}
.works > .main-wrapper > div > .image {
  width: 40%;
  height: auto;
  margin-left: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 250px;
}
.works > .main-wrapper > div > .image > img {
  width: 100%;
}
.works h2 {
  color: #000;
}
.works h2 > span {
  font-weight: 400;
}
.videos {
  background: #262626;
  padding: 80px 0;
}
.videos .main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}
.videos .main-wrapper .video1 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.open {
  width: 100%;
}
.open > .main-wrapper {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.open > .main-wrapper .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.open > .main-wrapper .content .discover {
  width: 400px;
}
.open > .main-wrapper .content .discover h2 {
  text-align: center;
  font-size: 1.5em;
}
.open > .main-wrapper .content .discover p {
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
  height: 60px;
}
.open > .main-wrapper .content .discover .one-item {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
.open > .main-wrapper .content .discover .one-item > .text {
  width: 100%;
  flex-direction: column;
}
.open > .main-wrapper .content .discover .one-item > .text > p {
  padding: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
.open > .main-wrapper .content .discover .one-item > div {
  width: 40px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open > .main-wrapper .content .discover .one-item > div:first-child {
  margin-left: 0;
}
.open > .main-wrapper .content .discover .one-item > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
.open > .main-wrapper .content .discover .one-item > div > a > img {
  width: 25px;
  height: 25px;
}
.open > .main-wrapper .content .discover .one-item > div > a > p {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
}
.open > .main-wrapper .content .discover .one-item > div > a > i {
  color: #00a6ff;
  font-size: 2em;
  width: 25px;
  height: 25px;
  text-align: center;
}
.darkbg {
  padding: 30px 0;
  background: #000;
  position: relative;
}
.darkbg > .main-wrapper {
  position: relative;
  padding: 50px 0;
}
.darkbg > .main-wrapper > .dark__container {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.darkbg > .main-wrapper > .dark__container > img {
  width: 500px;
}
.darkbg > .main-wrapper > .dark__container > .text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 45px;
}
.darkbg > .main-wrapper > .dark__container > .text > p {
  margin: 10px 0;
  text-align: left;
}
.darkbg > .main-wrapper > .dark__container > .text > p > i {
  margin-right: 5px;
}
.darkbg > .main-wrapper > .dark__container > .text > h2 {
  text-align: left;
  color: #fff;
}
.team {
  padding: 60px 0;
}
.blog {
  padding: 60px 0;
  background: url(src/andreas-brun-14IbodW7owU-unsplash.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.blog::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(33, 42, 73, 0.6);
  z-index: 1;
}
.blog > .main-wrapper {
  position: relative;
  z-index: 2;
  text-align: center;
}
.blog h2 {
  color: #FFFFFF;
}
.blog h2 > span::after {
  background: #FFFFFF;
}
.blog .button {
  margin-top: 30px;
}
.contact {
  padding: 60px 0;
}
.contact .map {
  margin-top: 30px;
}
footer {
  padding: 60px 0;
}
footer > .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
header {
  background-color: #dddddd;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}
header > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-menu > ul {
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.main-menu > ul > li > a {
  text-decoration: none;
  color: inherit;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li::after {
  content: '';
  width: 10%;
  height: 3px;
  background: #00D5C3;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
  transition-duration: 0.3s;
}
.main-menu > ul > li:hover::after {
  opacity: 1;
  width: 100%;
}
.main-board {
  height: 500px;
  background: url(src/bg-desctop1.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  position: reletive;
  padding: 50px 0 ;
}
.main-board > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}
.main-board h1 {
  color: #786d6b;
  padding: 25px 0 0 30px;
  position: relative;
  margin-bottom: 35px;
  margin: auto 0;
  font-weight: 600;
  width: 50%;
}
.main-board h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
  text-transform: capitalize;
  margin-bottom: 35px;
  width: 70%;
}
.main-board__left-block {
  width: 100%;
  display: flex;
}
.main-board__left-block > div {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 30px;
}
.main-board__left-block > div:last-of-type {
  display: flex;
}
.main-board__left-block_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-board__left-block_2 > div {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  width: 45%;
}
.main-board__left-block_2 > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.main-board__left-block_2 > div:last-child > a {
  color: black;
}
.main-board__left-block_2 > div:last-child > a:hover {
  color: #fff;
}
.grey {
  background: #dddddd;
  padding: 70px 0;
}
.main-board__image {
  margin: auto;
  width: 30%;
  border-radius: 10px;
}
.main-board__button-link {
  display: flex;
  align-items: center;
  width: 165px;
  height: 50px;
  border: 1px solid #00a6ff;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.3s;
}
.main-board__button-link:first-of-type {
  margin-right: 20px;
}
.main-board__button-link > i {
  margin-left: 20px;
  margin-right: 15px;
  font-size: 30px;
  color: #00a6ff;
  width: 26px;
  transition-duration: 0.3s;
}
.main-board__button-link:hover {
  background: #00a6ff;
}
.main-board__button-link:hover > i {
  color: #FFFFFF;
}
.main-board__button-link_bold {
  font-size: 14px;
  font-weight: 600;
}
.services__block-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.services__item {
  padding: 30px;
  flex: 0 0 32%;
  text-align: center;
  transition-duration: 0.3s;
  border-radius: 5px;
}
.services__item:hover {
  box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}
.services__item > h3 {
  margin: 23px 0;
  color: #161C35;
  text-align: center;
}
.services__item > p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  margin-bottom: 20px;
  color: #666666;
  text-align: left;
}
.services__item > a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #161C35;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  border: 1px solid #161C35;
  text-decoration: none;
  transition-duration: 0.3s;
}
.services__item > a:hover {
  background: #161C35;
  color: #FFFFFF;
}
.services__item .box-icon {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  transition-duration: 0.3s;
}
.services__item .box-icon > img {
  width: 150px;
  border-radius: 10px;
}
.team-container {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.team-container__item {
  flex: 0 0 255px;
  display: flex;
  flex-direction: column;
}
.team-container__item > figure {
  position: relative;
  height: 260px;
  overflow: hidden;
}
.team-container__item > figure > figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(22, 28, 53, 0);
  display: flex;
  justify-content: center;
  transition-duration: 0.1s;
}
.team-container__item > figure > figcaption > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  margin: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
  transition-duration: 0.5s;
}
.team-container__item > figure > figcaption > a:nth-child(1) {
  transform: translateY(50px);
}
.team-container__item > figure > figcaption > a:nth-child(2) {
  transform: translateY(90px);
}
.team-container__item > figure > figcaption > a:nth-child(3) {
  transform: translateY(130px);
}
.team-container__item > figure > figcaption > a:hover {
  color: #00D5C3;
  background: white;
}
.team-container__item > figure > img {
  transition-duration: 1s;
}
.team-container__item > figure:hover > img {
  transform: scale3d(1.1, 1.1, 1);
}
.team-container__item > figure:hover > figcaption {
  background: rgba(22, 28, 53, 0.7);
}
.team-container__item > figure:hover > figcaption > a {
  transform: translateY(0px);
}
.team-container__item-footer {
  box-shadow: 4px 4px 18px 0px #cccccc;
  padding: 20px;
}
.team-container__item-footer > span {
  display: block;
  font-size: 12px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.team-container__item-footer > h3 {
  display: block;
  color: #666666;
}
.blog-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-container__item {
  height: 275px;
  flex: 0 0 49%;
  display: flex;
  background: #FFFFFF;
  margin-bottom: 22px;
  text-decoration: none;
}
.blog-container__item:hover > .blog-container__image {
  filter: grayscale(0);
}
.blog-container__item:hover > .blog-container__item-text-container > p {
  text-decoration: underline;
}
.block-image1 {
  background: url(src/6-850x850.jpg);
}
.block-image2 {
  background: url(src/5-850x850.jpg);
}
.block-image3 {
  background: url(src/2-850x850.jpg);
}
.block-image4 {
  background: url(src/1-850x850.jpg);
}
.blog-container__image {
  flex: 0 0 50%;
  height: 100%;
  transition-duration: 0.3s;
  position: relative;
  background-position: center center;
  background-size: cover;
  filter: grayscale(0.9);
}
.blog-container__image::after {
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #eee;
  border-bottom: 15px solid transparent;
  border-right-color: #fff;
  right: 0;
  margin-top: -15px;
  top: 50%;
  content: '';
}
.blog-container__item-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.blog-container__item-text-container > span {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}
.blog-container__item-text-container > p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #161C35;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}
.button {
  padding: 10px 30px;
  border: 1px solid #00D5C3;
  font-size: 18px;
  border-radius: 0 5px 0 5px;
  display: inline-block;
  color: #00D5C3;
  text-decoration: none;
  transition-duration: 0.3s;
}
.button:hover {
  background: #00D5C3;
  color: #FFFFFF;
}
.form {
  height: 200px;
  background: url(src/bg.jpg) no-repeat fixed;
  background-position: 50% -50px;
  background-size: cover;
  position: relative;
}
.form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(33, 42, 73, 0.6);
  z-index: 1;
}
.form > .main-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form input[type="email"] {
  background: transparent;
  border: 1px solid #00D5C3;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px;
  width: 450px;
}
.form input[type="email"]:focus {
  border: 1px solid #64ffed;
  outline: none;
}
.form button {
  background: #00D5C3;
  border: 1px solid #00D5C3;
  color: #FFFFFF;
  font-size: 22px;
  width: 100px;
  transition-duration: 0.3s;
}
.form button:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #00D5C3;
  cursor: pointer;
}
.form form {
  display: flex;
  justify-content: center;
}
.form input::-webkit-input-placeholder {
  color: #cccccc;
}
.form__main-text {
  color: #00D5C3;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}
.form__main-text > span {
  color: white;
  font-weight: 600;
}
.social-cont {
  margin: 20px 0;
}
.social-cont > a {
  color: #161C35;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  position: relative;
  width: 20px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
}
.social-cont > a::before {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid #161C35;
  transform: rotate(45deg);
  position: absolute;
  left: -3px;
  top: -5px;
  transition-duration: 0.3s;
  z-index: -1;
}
.social-cont > a:hover {
  color: #FFFFFF;
}
.social-cont > a:hover::before {
  background: #161C35;
}
@media (max-width: 1100px) {
  .team-container {
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  .team-container__item {
    margin-right: 10px;
  }
  .team-container__item:last-of-type {
    margin-right: 0;
  }
}
.dark__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  color: #FFFFFF;
}
.dark__container > img {
  width: 60%;
}
.dark__container > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.dark__container > .text > p {
  margin: 10px 0;
}
.dark__container > .text > p > i {
  margin-right: 5px;
}
.dark__container > .text > h2 {
  text-align: center;
}
@media (max-width: 980px) {
  .works > .main-wrapper {
    padding: 15px;
  }
  .works > .main-wrapper > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .works__container {
    flex-grow: 1;
  }
  .blog-container__item-text-container {
    padding: 20px;
  }
  .dark__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #FFFFFF;
  }
  .dark__container > img {
    width: 70%;
  }
  .dark__container > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .dark__container > .text > p {
    margin: 10px 0;
  }
  .dark__container > .text > p > i {
    margin-right: 5px;
  }
  .dark__container > .text > h2 {
    text-align: center;
  }
}
@media (max-width: 920px) {
  .main-board__left-block {
    width: 450px;
    width: auto;
  }
  .main-board__left-block h1 {
    width: 100%;
  }
  .main-board__left-block > div {
    width: 100%;
  }
  .main-board__left-block > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .main-board {
    height: auto;
    padding: 30px 0;
    background: #fff;
  }
  .main-board > .main-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .services__item {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__item > p {
    flex-shrink: 1;
    overflow: hidden;
  }
  .services {
    padding: 30px 0;
  }
  .works {
    padding: 30px 30px;
  }
  .team {
    padding: 30px 0;
  }
  .blog {
    padding: 30px 0;
  }
  .contact {
    padding: 30px 0;
  }
  footer {
    padding: 30px 0;
  }
}
@media (max-width: 780px) {
  .services__block-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__item {
    flex-basis: 320px;
    margin: 10px;
  }
  .blog-container {
    flex-wrap: wrap;
  }
  .blog-container__item {
    flex-basis: 100%;
  }
  .main-board__left-block_2 {
    padding: 30px 15px;
    width: 100%;
  }
  .main-board__left-block_2 div {
    width: 100%;
    flex-direction: column;
  }
  .grey {
    background: #ddd;
  }
}
@media (max-width: 720px) {
  header {
    height: auto;
  }
  header > .main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-menu {
    margin: 10px 0;
  }
  .logo {
    margin: 5px 0;
  }
}
.dark__conteiner {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: unset;
  }
  .main-board h1 {
    padding: 8px 0 0 18px;
  }
  .main-board__left-block {
    width: 100%;
  }
  .works__container .text {
    width: 100%;
  }
  .works__container .text p {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .form input[type="email"] {
    width: 80%;
  }
}
@media (max-width: 510px) {
  .main-menu {
    margin: 0;
  }
  .main-menu > ul {
    text-align: center;
  }
  .main-menu > ul > li {
    padding-bottom: 22px;
  }
  .blog-container__item-text-container {
    padding: 5px;
  }
  .dark__conteiner {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 412px) {
  .main-board__image {
    width: 100%;
  }
  .works img {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .main-board .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  .main-board .main-wrapper .main-board__left-block {
    width: 100%;
    height: 370px;
  }
  .main-board .main-wrapper .main-board__left-block h1 {
    width: 100%;
    color: #fff;
    font-weight: 600;
  }
  .main-board .main-wrapper .main-board__left-block > div:last-of-type {
    flex-wrap: wrap;
  }
  .main-board .main-wrapper .main-board__left-block_2 {
    width: 100%;
  }
  .main-board .main-wrapper .main-board__left-block_2 > div {
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
  .main-board .main-wrapper .grey {
    background: #000;
  }
  .main-board .main-wrapper .main-board__button-link:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-board:first-child {
    background: url(src/bg-img.jpg) no-repeat fixed;
    background-size: cover;
  }
  .open .main-wrapper {
    width: 100%;
    padding: 15px;
  }
  .open .main-wrapper > .content {
    width: 100%;
  }
  .open .main-wrapper > .content > .discover {
    width: 100%;
    padding: 15px;
  }
  .open .main-wrapper > .content > .discover > h2 {
    font-size: 1.5em;
  }
  .open .main-wrapper > .content > .discover > p {
    font-size: 1em;
  }
  .open .main-wrapper > .content > .discover > .one-item {
    width: 100%;
    min-width: 100%;
    justify-content: center;
  }
  .open .main-wrapper > .content > .discover > .one-item > div {
    width: 100px;
    margin: 10px;
  }
  .open .main-wrapper > .content > .discover > .one-item > div > p {
    font-size: 1em;
  }
  .open .main-wrapper > .content > .discover > .one-item > div > a > p {
    font-size: 1em;
  }
  .open .main-wrapper > .content > .discover > .text p {
    font-size: 1em;
  }
  .works .main-wrapper div .works__container .text {
    flex-wrap: wrap;
  }
  .works .main-wrapper div .works__container .text p {
    width: 100%;
  }
  .darkbg .main-wrapper {
    padding: 15px;
    width: 100%;
  }
  .darkbg .main-wrapper .dark__container {
    width: 100%;
  }
  .darkbg .main-wrapper .dark__container img {
    width: 100%;
  }
  .darkbg .main-wrapper .dark__container .text {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
  .darkbg .main-wrapper .dark__container .text h2 {
    text-align: left;
  }
}
@media (max-width: 380px) {
  .viseos {
    width: 100%;
  }
  .viseos .main-wrapper {
    width: 100% !important;
    justify-content: normal;
    flex-wrap: wrap;
  }
}
