#about header {
  background-color: #dddddd;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}
#about header > .main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#about header .main-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#about header .main-menu > ul {
  display: flex;
  align-items: center;
}
#about header .main-menu > ul > li {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
#about header .main-menu > ul > li > a {
  text-decoration: none;
  color: inherit;
}
#about header .main-menu > ul > li:last-child {
  margin-right: 0;
}
#about header .main-menu > ul > li::after {
  content: '';
  width: 10%;
  height: 3px;
  background: #00D5C3;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
  transition-duration: 0.3s;
}
#about header .main-menu > ul > li:hover::after {
  opacity: 1;
  width: 100%;
}
