@import "../../css/__cssvar";

@reportMarginTop : 70px;

#about{

	.maket {
		position: fixed;
		top: 0;
		background: white;
		z-index: 4999;
		width: 100%;
		height: @reportMarginTop;


		.contentsInner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: @rhythm * 4;
			padding-right: @rhythm * 4;
	
			
	
			.items{
				display: flex;
				height: 100%;
	
				.sitename{
					display: flex;
				}
	
	
				.icon{
					padding: 0;
					padding-left: @rhythm;
					padding-right: .7 * @rhythm;
					position: relative;
					cursor: pointer;
	
	
					.header_logo{
						height: 20px;
						vertical-align: bottom;
					}
				}
	
				.lang{
					cursor: pointer;
					font-weight: 100;
					padding-left: 0.5em;
				}
			
	
			}
	
	
			.contentmenu{
				display: flex;
				max-width: 800px;
	
				.reportCaption{
					&.active{
						border-bottom: 1px solid red;
					}
				}
	
				.reportCaptionCell{
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: @rhythm * 3;
				}
				
			}
	
			.icon{
				display: flex;
				align-items: center
			}
		}
	}

	.report{
		margin-top: @reportMarginTop;
	}



}


