@import "../../css/__cssvar";

#accounts{
	min-height: 600px;
	background: #F7F7F7;
	padding : 4 * @rhythm 0;

	.wrk{
		padding : 0 8 * @rhythm;
	}

	.subcaption{
		margin-bottom : 2 * @rhythm;
		font-size: 2em;
		font-weight: 100;
	}

	.subcaptionTable{
		>div{
			vertical-align: middle;
			&.backWrapper{
				width : 50px;
			}

			.back{
				border-radius: 50%;
				width: 50px;
				height: 50px;
				border: 1px solid @color-gray;
				line-height: 48px;
				text-align: center;
				cursor: pointer;
				.transition(0.3s);

				&:hover{
					color : @color-main;
					border: 1px solid @color-main;
				}
			}

			&.subcaption{
				padding-left: @rhythm;
			}
		}
	}

	.dumpaddresspart{
		display: none;
	}
	&.privatedump{
		.alladdressespart{
			display: none;
		}

		.dumpaddresspart{
			display: block;
		}
	}

	.addresses{

	}

	.addressTable{
		margin-bottom: @rhythm;

		>div{
			&.label{
				padding-top: @rhythm;
			}
		}
	}

	.addressAddTable,
	.addressTable{
		>div{

			vertical-align: middle;

			&.iconWrapper{
				width: 45px;
				text-align: center;
			}

			&.label{
				padding-left: 2 * @rhythm;

				.cur{
					margin-left: 2 * @rhythm;
					color : @color-main;
				}
			}

			&.panel{
				width : 100px;

				>div{
					float: right;
					margin-left: @rhythm;
					width : 40px;
					text-align: center;
					cursor: pointer;
					.transition(0.3s);
					color : @color-gray-light;

					a{
						width: 100%;
					}

					&.dumpkey{
						&:hover{
							color : @color-main;
						}
					}

					&.remove{
						&:hover{
							color : @color-contrast;
						}
					}
					
				}
			}
		}

		&.current{
			>div{
				&.label{
					font-weight: 700;
				}
			}
		}

		&.ncurrent{
			>div{
				&.label{
					cursor: pointer;
					.transition(0.3s);

					&:hover{
						color : @color-main;
					}
				}
			}
		}
	}

	.addNewWrapper{
		border-top : 1px solid @color-gray-light;
		margin-top : 4 * @rhythm;
		padding-top : 4 * @rhythm;

		.addressAddTable{
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				color : @color-add;
			}
		}
	}

	.toScheduler{
		margin-top : 4 * @rhythm;
		font-size: 0.8em;
		color : @color-main;
		text-decoration: underline;
		text-align: center;
	}

	.wrk.dmp{
		margin-top : 4 * @rhythm;
		padding-top : 4 * @rhythm;
		padding-bottom : 4 * @rhythm;
		background: #fff;
	}

	.dumpedinfo{
		
		.infotable{
			>div{
				vertical-align: top;
				padding : 2 * @rhythm;

				&.label{
					width: 130px;
				}

				&.value{
					font-weight: 500;
				}

				&.forcopy{
					text-align: center;
					width : 40px;

					.copyvalue{
						cursor: pointer;
						color : @color-gray-light;
						.transition(0.3s);

						&:hover{
							color : @color-main;
						}
					}
				}
			}
		}
	}
}

html.stblack{
	#accounts{
		background: transparent;
	
		.subcaptionTable{
			>div{
	
				.back{
					border: 1px solid fade(@color-main, 50);
					
					&:hover{
						color : @color-main;
						border: 1px solid @color-main;
					}
				}
			}
		}
	
	
		.addressAddTable,
		.addressTable{
			>div{
			
				&.label{
	
					.cur{
						color : @color-main;
					}
				}
	
				&.panel{
	
					>div{
					
						color : fade(@color-main, 50);
	
						&.dumpkey{
							&:hover{
								color : @color-main;
							}
						}
	
						&.remove{
							&:hover{
								color : @color-contrast;
							}
						}
						
					}
				}
			}
	
			&.ncurrent{
				>div{
					&.label{
	
						&:hover{
							color : @color-main;
						}
					}
				}
			}
		}
	
		.addNewWrapper{
			border-top : 1px solid fade(@color-main, 50);
	
			.addressAddTable{
	
				&:hover{
					color : @color-add;
				}
			}
		}
	
		.toScheduler{
			color : @color-main;
		}
	
		.wrk.dmp{
			background: @color-black;
		}
	
		.dumpedinfo{
			
			.infotable{
				>div{
	
					&.forcopy{
						.copyvalue{
							color : fade(@color-main, 50);
	
							&:hover{
								color : @color-main;
							}
						}
					}
				}
			}
		}
	}	
}

@media only screen and (max-width: 640px) {
	#accounts{
		background: #fff;

		.wrk{
			padding : 0 2 * @rhythm;
		}

		.subcaption{
			font-size: 1.4em;
		}

		.wrk.dmp{
			margin-top : @rhythm;
			padding-top : @rhythm;
			padding-bottom : 4 * @rhythm;
		}
	
		.dumpedinfo{
			
			.infotable{
				display: block;
				overflow: hidden;
				>div{
					display: block;
					padding : 2 * @rhythm 0;
					float: left;
	
					&.label{
						width: 80%;
					}
	
					&.value{
						width: 100%;
						font-size: 0.7em;
					}
	
					&.forcopy{
						text-align: right;
						width : 20%;
					}
				}
			}
		}
		
		.addressTable{
			margin-bottom: @rhythm;

			>div{
				&.label{
					padding-top: @rhythm;
				}
			}
		}

		.addressAddTable,
		.addressTable{
			>div{

				&.label{
					overflow : hidden;
					text-overflow: ellipsis;
				}

				&.panel{
					width : 100px;

					>div{
						width : 40px;
					}
				}
			}

		}

		
	}
}