@import "../../css/__cssvar";

#accounts{
	min-height: 600px;
	background: #F7F7F7;
	padding : 4 * @rhythm 0;

	.wrk{
		padding : 0 4 * @rhythm;
	}

	.subcaption{
		color : @color-contrast;
		margin-bottom : 2 * @rhythm;
		font-size: 1.8em;
		font-weight: 100;
	}

	.addresses{

	}

	.addressTable{
		margin-bottom: @rhythm;

		>div{
			&.label{
				padding-top: @rhythm;
			}
		}
	}

	.addressAddTable,
	.addressTable{
		>div{

			vertical-align: middle;

			&.iconWrapper{
				width: 45px;
				text-align: center;
			}

			&.label{
				padding-left: 2 * @rhythm;

				.cur{
					margin-left: 2 * @rhythm;
					color : @color-main;
				}
			}

			&.panel{
				width : 100px;

				>div{
					float: right;
					margin-left: @rhythm;
					width : 40px;
					text-align: center;
					cursor: pointer;
					.transition(0.3s);
					color : @color-gray-light;

					&:hover{
						color : @color-contrast;
					}
				}
			}
		}

		&.current{
			>div{
				&.label{
					font-weight: 700;
				}
			}
		}

		&.ncurrent{
			>div{
				&.label{
					cursor: pointer;
					.transition(0.3s);

					&:hover{
						color : @color-main;
					}
				}
			}
		}
	}

	.addNewWrapper{
		border-top : 1px solid @color-gray-light;
		margin-top : 4 * @rhythm;
		padding-top : 4 * @rhythm;

		.addressAddTable{
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				color : @color-add;
			}
		}
	}

	.toScheduler{
		margin-top : 4 * @rhythm;
		font-size: 0.8em;
		color : @color-main;
		text-decoration: underline;
		text-align: center;
	}
}

@media only screen and (max-width: 640px) {
	#accounts{
		background: #fff;

		.wrk{
			padding : 0 @rhythm;
		}

		.subcaption{
			font-size: 1.4em;
		}

		
		.addressTable{
			margin-bottom: @rhythm;

			>div{
				&.label{
					padding-top: @rhythm;
				}
			}
		}

		.addressAddTable,
		.addressTable{
			>div{

				&.label{
					overflow : hidden;
					text-overflow: ellipsis;
				}

				&.panel{
					width : 60px;

					>div{
						width : 40px;
					}
				}
			}

		}

		
	}
}