#accounts {
  min-height: 600px;
  background: rgb(var(--background-secondary-theme));
  padding: 2em 0;
}
#accounts .wrk {
  padding: 0 4em;
}
#accounts .subcaption {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 100;
}
#accounts .dumpaddresspart {
  display: none;
}
#accounts .addressTable {
  margin-bottom: 0.5em;
}
#accounts .addressTable > div.label {
  padding-top: 0.5em;
}
#accounts .addressTable > div {
  vertical-align: middle;
}
#accounts .addressTable > div.iconWrapper {
  width: 45px;
  text-align: center;
}
#accounts .addressTable > div.label {
  padding-left: 1em;
}
#accounts .addressTable > div.label .cur {
  margin-left: 1em;
  color: rgb(var(--color-txt-ac));
}
#accounts .addressTable > div.panel {
  width: 100px;
}
#accounts .addressTable > div.panel > div {
  float: right;
  margin-left: 0.5em;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(var(--neutral-grad-3));
}
#accounts .addressTable > div.panel > div a {
  width: 100%;
}
#accounts .addressTable > div.panel > div.dumpkey:hover {
  color: rgb(var(--color-txt-ac));
}
#accounts .addressTable > div.panel > div.remove:hover {
  color: rgb(var(--color-bad));
}
#accounts .addressTable.current > div.label {
  font-weight: 700;
}
#accounts .addressTable.ncurrent > div.label {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#accounts .addressTable.ncurrent > div.label:hover {
  color: rgb(var(--color-txt-ac));
}
#accounts .addNewWrapper {
  margin-top: 1em;
  padding-top: 1em;
}
.wnd.accountswnd .wndinner {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 650px;
}
.wnd.accountswnd .wndcontent {
  overflow-y: scroll;
  bottom: 0;
  top: 0;
}
.wnd.accountswnd #accounts {
  background: transparent;
}
.wnd.accountswnd #accounts .addressAddTable > div.panel,
.wnd.accountswnd #accounts .addressTable > div.panel {
  display: none;
}
.wnd.accountswnd #accounts .wrk {
  padding-left: 1em;
  padding-right: 1em;
}
.dumpedkeydialog .dumpedinfo .infotable {
  margin-bottom: 1em;
}
.dumpedkeydialog .dumpedinfo .infotable .toprow {
  display: flex;
}
.dumpedkeydialog .dumpedinfo .infotable .toprow > div {
  margin-right: 1em;
}
.dumpedkeydialog .dumpedinfo .infotable .label {
  font-weight: 700;
}
.dumpedkeydialog .dumpedinfo .infotable .value {
  padding: 0.5em 0;
}
.dumpedkeydialog .dumpedinfo .infotable .copyvalue {
  cursor: pointer;
}
/*t*/
@media only screen and (max-width: 768px) {
  #accounts {
    background: rgb(var(--background-total-theme));
  }
  #accounts .wrk {
    padding: 0 1em;
  }
  #accounts .subcaption {
    font-size: 1.4em;
  }
  #accounts .wrk.dmp {
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
  #accounts .dumpedinfo .infotable {
    display: block;
    overflow: hidden;
  }
  #accounts .dumpedinfo .infotable > div {
    display: block;
    padding: 1em 0;
    float: left;
  }
  #accounts .dumpedinfo .infotable > div.label {
    width: 80%;
  }
  #accounts .dumpedinfo .infotable > div.value {
    width: 100%;
    font-size: 0.7em;
  }
  #accounts .dumpedinfo .infotable > div.forcopy {
    text-align: right;
    width: 20%;
  }
  #accounts .addressTable {
    margin-bottom: 0.5em;
  }
  #accounts .addressTable > div.label {
    padding-top: 0.5em;
  }
  #accounts .addressAddTable > div.label,
  #accounts .addressTable > div.label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #accounts .addressAddTable > div.panel,
  #accounts .addressTable > div.panel {
    width: 100px;
  }
  #accounts .addressAddTable > div.panel > div,
  #accounts .addressTable > div.panel > div {
    width: 40px;
  }
  .wnd.accountswnd .wndinner {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 650px;
  }
  .wnd.accountswnd .wndinner > div.buttons .button {
    font-size: 1em;
    width: 100%;
  }
  .wnd.accountswnd .wndcontent {
    padding-top: 2em;
  }
  .wnd.accountswnd #accounts {
    padding-top: 0;
  }
  .wnd.accountswnd #accounts .subcaption {
    font-weight: 700;
  }
  .wnd.accountswnd #accounts .wrk {
    padding-left: 1em;
    padding-right: 1em;
  }
}
