<div id="aboutContentCreators">

    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        Great bonus
                        for Content Creators
                    </h1>
                </div>                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                            "There are many ways
                            to earn money with Bastyon..."
                        </div>
                        <div class="author">
                          
                        </div>
                    </div>  
                    
                </div>
                
            </div>
        </section>
        
        
        <section class="img-and-text">
            <div class="main-wrapper">
                <h2 class="number">1</h2>
                <h2>Post your videos</h2>
                <div class="row">
                    <div class="text">
                        <h3>
                            Post your videos on Bastyon
                        </h3>
                        <h3>
                            Reach at least 15,000 views and 750 "5 stars" reactions
                        </h3>
                        <h3>
                            Earn the equivalent of 1,000 $ in PKOIN
                        </h3>                        
                    </div>
                    <div class="img">
                         <img src="img/aboutContentCreators//Post-your-videos.jpg" alt="">
                    </div>
                </div>
                <p>Next step: contact us to get your Bastyon account verified and to access the bonus program.</p>
                <div class="link"><a href="mailto:support@pocketnet.app">Contact Us Now </a></div>
                <div class="line"></div>
                <h2 class="number">2</h2>
                <h2>
                    Invite your followers
                </h2>
                <div class="row reverse">
                    <div class="text">
                        <h3>
                            Share your personal referral link
                        </h3>
                        <h3>
                            Invite your followers from other platforms (Youtube, Instagram, Facebook, Twitter...)
                        </h3>
                        <h3>
                            Earn from the posts of your followers!
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/aboutContentCreators//Invite-your-followers.jpg" alt="">
                    </div>
                </div>
                <p>Next step: contact us to get your "Verified" badge and to access the bonus program.</p>
                <div class="link"><a href="mailto:support@pocketnet.app">Contact Us Now </a></div>
                <div class="line"></div>

                <h2 class="number">3</h2>
                <h2>
                    Earn from every post
                </h2>
                <div class="row">
                    <div class="text">
                        <h3>
                            Each time your post gets a like or a comment, you receive a small reward
                        </h3>
                        <h3>
                            The more you post, the more your earn
                        </h3>
                        <h3>
                            The more followers you have, the more your earn
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/aboutContentCreators//Earn-from-every-post.jpg" alt="">
                    </div>
                </div>
                <p>Next step: contact us to get your "Verified" badge and to access the bonus program.</p>
                <div class="link"><a href="mailto:support@pocketnet.app">Contact Us Now </a></div>
            </div>
        </section>
        
        <section class="open">
            <div class="main-wrapper">                
                <div class="content">                    
                    <div class="discover">
                        <h2>Discover Bastyon</h2>
                        <p>You can use Bastyon from your browser or dowload the mobile and desktop app.</p>
                        <div class="one-item">
                            <div>
                                <a href="https://bastyon.com/">
                                    <img src="img/aboutContentCreators//LOGO bastyon.png" alt="">
                                    <p>Official Website</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-windows"></i>
                                <p>Windows</p>
                                </a>
                            </div>                            

                            <div>
                                <a href="https://play.google.com/store/apps/details?id=pocketnet.app&hl=en_US&gl=US">
                                <i class="fab fa-google-play"></i>
                                <p>Android</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/">
                                <i class="fab fa-github"></i>
                                <p>MacOS</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-linux"></i>
                                <p>Linux/ Ubuntu</p>
                                </a>
                            </div>


                            <div>
                                <a href="https://github.com/pocketnetteam/pocketnet.gui/releases/tag/v0.4.21">
                                <i class="fab fa-apple"></i>
                                <p>Source Code</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="discover">
                        <h2>Contact us</h2>
                        <p>Send us a message if you need help or if you are a content creator, blogger, influencer and would like to unlock your bonus and verify your profile!</p>

                        <div class="one-item">

                            <div class="text">
                                <p>email:<a href="mailto:support@pocketnet.app">support@pocketnet.app</a></p>
                                <p>Twitter:<a href="https://twitter.com/OfficialBastyon">@OfficialBastyon</a></p>
                            </div>                        
                    </div>
                </div>
            </div>            
        </section>

        
       
       
    </main>
   <!--  <footer>
        <div class="main-wrapper">
            <img src="img/aboutContentCreators//footer-logo.png">
            <div class="social-cont">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p>Misma 2019 All Rights Reserved Papa</p>
        </div>
    </footer> -->

</div>