<div id="<%-module.map.id%>">
    
    <main>
        <section class="main-board bg" id="home-link">
            <div class="main-wrapper">
                <div class="main-board__left-block">
                    <h1>
                        <%= e('ContentCreatorsMainBoard') %>
                    </h1>
                    <img class="margin-board-img" src="img/about/the-bastyon-way.jpg" alt="">
                </div>                
            </div>
        </section>
        <section class="main-description">
            <div class="main-wrapper">
                <div class="row">
                    <div class="text">
                        <div class="extra-text">
                            <%= e('ContentCreatorsMainBoard1') %>
                        </div>
                        <div class="author">
                          
                        </div>
                    </div>  
                    
                </div>
                
            </div>
        </section>
        
        
        <section class="img-and-text">
            <div class="main-wrapper">
                <!-- <h2 class="number">1</h2> -->
                <h2><%= e('ContentCreatorsImgAndText') %></h2>
                <div class="row">
                    <div class="text">
                        <h3>
                            <%= e('ContentCreatorsImgAndText1') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText2') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText3') %>
                        </h3>                        
                    </div>
                    <div class="img">
                         <img src="img/about/POST-YOUR-VIDEOS1.jpg" alt="">
                    </div>
                </div>
                <p><%= e('ContentCreatorsImgAndText4') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('ContentCreatorsImgAndText5') %> </a></div>
                <div class="line"></div>
                <!-- <h2 class="number">2</h2> -->
                <h2>
                    <%= e('ContentCreatorsImgAndText6') %>
                </h2>
                <div class="row reverse">
                    <div class="text">
                        <h3>
                            <%= e('ContentCreatorsImgAndText7') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText8') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText9') %>
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/about/INVITE-YOUR-FOLLOWERS1.jpg" alt="">
                    </div>
                </div>
                <p><%= e('ContentCreatorsImgAndText10') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('ContentCreatorsImgAndText11') %></a></div>
                <div class="line"></div>

                <!-- <h2 class="number">3</h2> -->
                <h2>
                    <%= e('ContentCreatorsImgAndText12') %>
                </h2>
                <div class="row">
                    <div class="text">
                        <h3>
                            <%= e('ContentCreatorsImgAndText13') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText14') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText15') %>
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/about/EARN-FROM-EVERY-POST1.jpg" alt="">
                    </div>
                </div>
                <p><%= e('ContentCreatorsImgAndText16') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('ContentCreatorsImgAndText17') %></a></div>
                <div class="line"></div>

                <!-- <h2 class="number">4</h2> -->
                <h2>
                    <%= e('ContentCreatorsImgAndText18') %>
                </h2>
                <div class="row reverse">
                    <div class="text">
                        <h3>
                            <%= e('ContentCreatorsImgAndText19') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText20') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText21') %>
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/about/EARN-WITH-DECENTRALIZED-ADS1.jpg" alt="">
                    </div>
                </div>
                <p><%= e('ContentCreatorsImgAndText22') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app"><%= e('ContentCreatorsImgAndText23') %></a></div>

                <div class="line"></div>

                <!-- <h2 class="number">5</h2> -->
                <h2>
                    <%= e('ContentCreatorsImgAndText24') %>
                </h2>
                <div class="row">
                    <div class="text">
                        <h3>
                            <%= e('ContentCreatorsImgAndText25') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText26') %>
                        </h3>
                        <h3>
                            <%= e('ContentCreatorsImgAndText27') %>
                        </h3>
                                             
                    </div>
                    <div class="img">
                         <img src="img/about/cat-mann.jpg" alt="">
                    </div>
                </div>
                <p><%= e('ContentCreatorsImgAndText28') %></p>
                <div class="link"><a href="mailto:support@pocketnet.app">
                    <%= e('ContentCreatorsImgAndText29') %></a></div>            
            </div>

        </section>
        
      
    </main>


</div>