
<% _.each(bycategories.categories, function(category) { %> 

	<div class="category wrps" category="<%-category.id%>">
		<div class="categoryInner table">
			<div class="label">
				<span><b><%-category.name%></b></span> 
				<!--<% _.each(category.tags, function(tag){ %> 
					<span>#<%-tag%></span> 
				<% }) %>-->
			</div>

			<div elementsid="removecategory" class="remove">
				<i class="fas fa-times-circle"></i>
			</div>
		</div>
	</div>

<% }) %>

<% _.each(bycategories.tags, function(tag) { %> 

	<div class="tag wrps" tag="<%-(tag)%>">
		<div class="tagInner table">
			<div class="label">
				<span>#<%-(tag)%></span>
			</div>

			<div class="remove">
				<i class="fas fa-times-circle"></i>
			</div>
		</div>
	</div>

<% }) %>
