

<% if(typeof lentakey == 'undefined') lentakey = 'index' %>
<% if(typeof indexkey == 'undefined') indexkey = 'index' %>

<% if(app.curation()) {%>

	<div class="items">
		<div class="item">

			<% if((state && thref != 'userpage' && thref != 'userpage?pc=1') || (!state && href != 'welcome')) { %>

				<div class="linkButtonWrapper">
					<a elementsid="<% if(state) {%>userpage<% } else { %>welcome<% } %>" href="<% if(state) {%>userpage<% } else { %>welcome<% } %>" fast="fast" handler="true">
						<div class="iconWrapper">
							<i class="fas fa-chevron-left"></i>
							<div class="label"><%-e('back')%></div>
						</div>
					</a>
				</div>

			<% } %>
	
			<div class="upbuttonWrapper">
				<div elementsid="iconWrapperToup" class="iconWrapper toup">
					<i class="fas fa-chevron-up"></i>
					<div class="label"><%-e('tothetop')%></div>
				</div>
			</div>
	
			
		</div>
		
	</div>

<% } else { %>



<div class="items">

	<div class="item">

		<div class="linkButtonWrapper">

			<% if(back) {  

				var ur = back.href; %>
				
					<a elementsid="<%- ur %>" href="<%- ur %>" fast="fast" handler="true" replace="true">
						<div class="iconWrapper">
							<% if(ur.indexOf('index') > -1 && (!self.app.curation() || !state) ){ %>
								<i class="fas fa-home"></i>
							<% } else { %> 
								<i class="fas fa-chevron-left"></i>
							<% } %>
							<div class="label"><%-e('back')%></div>
							
						</div>
					</a>
				
			<% } else { %> 

				<% if(href == indexkey || !href) { 
						
					if(state){ %>

						<% if(self.app.curation()) {%>

							<a elementsid="userpage?id=wallet" href="userpage?id=wallet" fast="fast">
								<div class="iconWrapper">
									<i class="fas fa-wallet"></i>
									<div class="label"><%-e('rwallet')%></div>
								</div>
							</a>

						<% } else { %> 

							<% if((typeof shw != 'undefined' && shw) || (typeof search != 'undefined' && search) ) {%>

								<% if((typeof search != 'undefined' && search)) {%>

									<a href="index" fast="fast">
										<div class="iconWrapper">
											<i class="fas fa-chevron-left"></i>
											<div class="label"><%-e('back')%></div>
										</div>
									</a>

								<% } else { %>
									
									<% if(ps.v){ %> 

										<a href="index?video=1" handler="true" fast="fast" replace="true">
											<div class="iconWrapper">
												<i class="fas fa-chevron-left"></i>
												<div class="label"><%-e('back')%></div>
											</div>
										</a>
										
									<% } else { %> 

										<a elementsid="hrefindex" href="index" fast="fast">
											<div class="iconWrapper">
												<i class="fas fa-rss"></i>
												<div class="label"><%-e('e13136')%></div>
											</div>
										</a>

										
										
									<% } %>
									
								<% } %> 

								

								
							<% } else { %>

								<a elementsid="index?video=1" href="index?video=1" fast="fast">
									<div class="iconWrapper">
										<i class="fas fa-play-circle"></i>
										<div class="label"><%-e('video')%></div>
									</div>
								</a>

								
							<% } %>
							
						<% } %>

					<% } else { %> 

						<% if(typeof shw != 'undefined' && shw) {%>
							<a elementsid="hrefindex" href="index" fast="fast">
								<div class="iconWrapper">
									<i class="fas fa-rss"></i>
									<div class="label"><%-e('e13136')%></div>
								</div>
							</a>

							
						<% } else { %>

							<a elementsid="index?video=1" href="index?video=1" fast="fast">
								<div class="iconWrapper">
									<i class="fas fa-play-circle"></i>
									<div class="label"><%-e('video')%></div>
								</div>
							</a>
							
						<% } %>
						
					<% } %>
			
				<% } else { %> 

					<% if(self.app.curation()) {%>

						<a elementsid="userpage?id=wallet" href="userpage?id=wallet" fast="fast">
							<div class="iconWrapper">
								<i class="fas fa-wallet"></i>
								<div class="label"><%-e('rwallet')%></div>
							</div>
						</a>

					<% } else { %> 

						<a elementsid="<%- lentakey %>" href="<%- lentakey %>" fast="fast">
							<div class="iconWrapper">
								<i class="fas fa-home"></i>
								<div class="label"><%-e('back')%></div>
							</div>
						</a>
						
					<% } %>

					
					
				<%}%>
			
			<% } %>
		</div>

		<div class="upbuttonWrapper">
			<div elementsid="upbuttontoup" class="iconWrapper toup">
				<i class="fas fa-chevron-up"></i>
				<div class="label"><%-e('tothetop')%></div>
			</div>
		</div>

		
	</div>

		
	<div class="item">

		<% 
		
		var sharec = ''
		
		if(href == 'share') { 
			sharec = 'active' %>
		<% } %>

			<% if(state){ %>

				<% if(user.validate()) {%>

					<div class="iconWrapper addshare shr <%-sharec%>">
						<i class="fas fa-plus-circle"></i>
					</div>

				<% } else { %> 
					
					<div class="iconWrapper shr disabled">
						<i class="fas fa-plus-circle"></i>
					</div>
					
				<% } %>

			<% } else { %> 
				<% if(!(!state && window.cordova)) {%>
				<div elementsid="hrefregistration" class="iconWrapper reg toregistration" >
					<i class="fas fa-user-plus"></i>
				</div>
				<% } %>
				
				
			<% } %>

		
		
	</div>


	<div class="item">
		<div class="iconWrapper showmenu">
			<i class="fas fa-bars"></i>
			<div class="label"><%-e('menu')%></div>
		</div>
	</div>


</div>

<% } %>