@import "../../css/__cssvar";




#menu{

	.header_logo {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
	}
	
	.menuWrapper{
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 65px;
		z-index: 20;
		background: #fff;
		color : @color-black2;
	}

	.usericon{
		position: relative;

		
	}

	.icon{
		position: relative;
		.localizationicon{
			position: absolute;
			right : -2%;
			bottom : 17%;
			width : 15px;
			height: 15px;
			.shadowSmaller();
		}
	}

	.menutoppanel{
		margin : 0 auto;
		position : fixed;
		width : 440px;
		top : 0;
		left : 50%;
		margin-left : -220px;
		z-index: 210;
		height: 65px!important;
		bottom : auto;
	}

	.titleBar{
		position: fixed;
		right: 0;
		left : 0;
		width: 100%;
		height: 20px;
		z-index: 21;
		overflow: hidden;
		

		.titleBarButtons{
			overflow: hidden;
			width: 140px;
			float: right;
			>div{
				line-height: 20px;
				width: 45px;
				float: right;
				cursor : pointer;
				text-align: center;
				font-size: 0.8em;
				color : @color-gray-mlight;
				.transition(0.3s);

				&:hover{
					background: fade(@color-gray-mlight, 20);
				}
			}
		}

		.titleBarDrag{
			margin-right: 140px;
			height: 20px;;
		}

		.maximizeApp{
			display: none;
		}
	}

	&.fullscreen{
		.titleBar{
			.maximizeApp{
				display: block;
			}

			.restoreApp{
				display: none;
			}
		}	
	}

	

	&.menupanelactive{
		.sections{
			.items{				
				.item{
					&.navWrapperItem{
						display: block;
					}
				}
			}
		}
	}

	&.searchactive{
		.additionalbar{
			top: 65px;
			.shadowSmall();
		}

		.sections{
			

			.items{
				
				&.searchWrapper{
					display: block;
				}

				/*&.walletsWrapper,
				&.notificationsWrapper,
				&.saveCrossWrapper,
				&.gethotpostsWrapper{
					display: none;
				}*/

				/*&.sitenames{
					.label{
						display: none;
					}
				}*/

				&.mdl{
					display: none;
				}

				&.searchIcons{

					.icon{
						i{
							font-weight: 500;
							&:before{
								content : '\f057';
							}
						}
					}
				}

				.item{
				
					&.wallets{
						
						&:hover{
							padding-right: 0;
							padding-left: 0;
						}
					}

					&.navWrapperItem{
						display: none;
					}

				}
			}
		}
		
	}

	.additionalbar{
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top : 0;
		height: 65px;
		z-index: 19;
		background: #fff;
		.transition(0.3s);

		

		.sections{
			.section{
				margin : 0;
				width: 100%;

				.items{

					margin : 0;
					width: 100%;

					.item{
						margin : 0 auto;

						>div{
							font-size: 0.7em;
							padding : 0 8 * @rhythm;
							text-transform: uppercase;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	

	.mobilemenu{
		display: none;

		&.active{
			display: none;
		}
	}

	

	.sections{
		width: 95%;
		height: 100%;
		max-width: 1280px;
		margin : 0 auto;
		padding : 0 2 * @rhythm;
        padding-right : 0;

		.section{

			height: 100%;
			float: left;
			padding: 0 2 * @rhythm;

			&.right{
				float: right;
				padding-right: 0;
			}

			&.centerpart{
				float: right;
				padding-right: 0;
				padding-left: 0;
			}

			&.leftpart{
				float: left;
				padding-left: 0;
			}

			&:nth-child(1){

				padding-left: 0;
				
			}

			
		}

		.userpic{
			.shadowSmall();
		}

		.items{
			float: left;
			height: 100%;


			.table{
				width: auto;
				height: 100%;
				>div{
					padding: @rhythm;
					padding-right: 0;
					padding-left: 0;
					vertical-align: middle;
				}
			}
			&.messengerWrapper{
				margin-right : @rhythm;
			}
			
			&.keyexportWrapper{
				margin-right : 2 * @rhythm;
				color : #FF4200;	
			}
			
			&.notificationsWrapper{
				margin-right : 2 * @rhythm;
			}

			&.gethotpostsWrapper{
				color : #FF4200;
				margin-left : 4 * @rhythm;

				i{
					font-size: 1.1em;
				}
			}
			&.searchWrapper{
				max-width: 280px;
				float: none;
				font-size: 0.9em;

				.item{
					width: 100%;
				}

				.postssearchwrapper{
					padding : 15px 0;
					width: 100%;
				}

				
			}
			&.searchIcons{
				margin-right : 2 * @rhythm;

				.icon{
					cursor: pointer;
					.transition(0.3s);
					&:hover{
						color : @color-main;
					}
				}
			}

			&.mdl{
				margin-left : 6 * @rhythm;
			}
			.item{
				width: auto;
				height: 100%;


				.icon{
					padding: 0;
					padding-left: @rhythm;
					padding-right: .7 * @rhythm;
					position: relative;
					cursor: pointer;


					.amount{
						position: absolute;
						left: 50%;
						top : 50%;
						padding : 0 @rhythm;
						min-width: 16px;
						height: 16px;
						line-height: 16px;
						text-align: center;
						font-size: 0.5em;
						background: fade(@color-contrast, 80);
						color : #fff;
						.shadowSmaller();
						z-index: 20;
						border-radius: 50%;
						display : none;
					}
				}

				&.user{
					.icon{
						padding-right: 0;
					}
				}

				&.amountHave{
					.icon{
						.amount{
							display : block;
						}
					}
				}

				.label{
					font-size: 0.95em;
				}

                &.signout{
                    margin-right: 6 * @rhythm;

                    .lable{
                        font-weight: 400;
                    }
                }

				&.signup{
					color : @color-orange;
				}
				
				&.onlyicon{

					.icon{
						padding: @rhythm;
					}

					.count{
						color: @color-contrast; 
					}
				}

				&.newaccount{
					margin-right : 2 * @rhythm;
					.prbutton{
						padding-left: 2 * @rhythm;
						padding-right: 2 * @rhythm;
						border-radius: 3 * @rhythm;
						color : @color-main;
						cursor: pointer;
						.transition(0.3s);
						background : #fff;
						
						.shadowSmaller();

						&:hover{
							.shadowSmall();
							color : @color-contrast;
						}
					}
					

				}

				&.navWrapperItem{
					display: none;
					
					.panelitemCenter{
						height: 100%;
						margin : 0 auto;
					}
					.menutoppanel{
						height: 100%;
					}

					.centerTable {
						margin : 0 auto;

						>div{
							vertical-align: middle;
							padding : 0  @rhythm;

							.pcenterLabel{
								border : 1px solid transparent;
								padding : 0 2 * @rhythm;
								.transition(0.3s);
								font-weight: 400;
								

								&.active{
									color : @color-main;
								}

							}

						}
					}
				}

				&.sitename{
					cursor: pointer;
					.label{
						font-weight: 700;
						overflow: hidden;

						>div{
							float: left;

							&.lang{
								font-weight: 100;
								padding-left: @rhythm;

								i{
									opacity: 0.4;
									.transition(0.3s);
								}

								&.hover{
									i{
										opacity: 0.8;
									}
								}
							}
						}

					}

					.icon{
						padding-left: 0;
					}

					.menutoppanel{
						display: none;

						>div{
							vertical-align: middle;
						}

						.pcenterCell{
							padding-left: @rhythm;
							padding-right: 3 * @rhythm;
						}

						.pcenterLabel{
							font-size : 0.9em;
							&.active{
								color : @color-main;
								border-bottom: 1px solid @color-main;
							
							}
						}

						
					}

					&.lentamenu{
						.menutoppanel{
							display: table-cell;
						}

						.label{
							display: none;
						}
					}
				}

				&.localization{
					margin-right: 2 * @rhythm;
					position: relative;
					

					.label{
						font-weight: 100;
						cursor: pointer;
					}
					
					.vc_valuecustom{
						width: 100px;
						position: relative;

						.vc_inputWrapper{
							border: 0;
						}

						.vc_iconWrapper{
							border: 0;
							width: 20px;
						}

						.vc_selectInput{
							border: 1px solid @color-gray-slight;
						}

						input{
							cursor: pointer!important;
						}
					}
				}

				&.state{
					color : @color-bad;
					cursor : pointer;
					.transition(0.3s);
				}

				&.ustate{
					font-size: 1.2em;
					color : @color-gray-light;
					cursor : pointer;
					.transition(0.3s);

					.waitpreloader{
						padding-top: 13px;
						display: none;
					}

					&:hover{
						color : @color-main;
					}

					&.disconected{
						i{
							font-size : 0.8em;
							color : @color-contrast;

							&:before{
								content : "\f1eb";
							}
						}
					}

					&.wait{
						.waitpreloader{
							display: block;
						}

						i{
							display: none;
						}
					}
				}

				&.saveCrossObj{
					margin-right : 2 * @rhythm;
					cursor: pointer;
					position: relative;
					color : #ff2f00;

					.plissingCnt{
						top: 17px;
						left: 2px;
					}
				}

				&.wallets{
					font-size: 0.8em;
					font-weight: 700;
					color : @color-gray;
					margin-right : 4 * @rhythm;
					cursor: pointer;
					.transition(0.3s);

					.icon{
						width: 30px;
						opacity: 0;
						color : #BABABA;
					}

					&.good{
						.number{
							color : @color-good;
						}

						.icon{
							opacity: 1;
							color : @color-good;

							i{
								
								&:before{
									content : "\f067";
								}
							}
						}
					}
					&.bad{
						.number{
							color : @color-bad;
						}

						.icon{
							color : @color-bad;
							opacity: 1;

							i{
								&:before{
									content : "\f068";
								}
							}

							
						}
					}


					&:hover{
						/*padding-right: 2 * @rhythm;
						padding-left: 4 * @rhythm;
						color : @color-main;*/
						.icon{
							opacity: 1;
						}
					}
				}

				&.iconround{
					.icon{
						.icn{
							height: 34px;
							width: 34px;
							line-height: 34px;
							text-align : center;
							border-radius: 50%;
							background: #F7F8FB;
							cursor: pointer;
							.transition(0.3s);
							.shadowSmall();

							&:hover{
								background : #211D4B;
							}
						}
						
					}
				}

				
			}

			&.blp{
				padding-left: 3 * @rhythm;
			}

			&.hamb{
				display: none;
			}

			
		}
	}

	.searchFastResultWrapper{
		border : 0;
		padding : 0;
		left: 0;
		max-height: 540px;
		overflow-y: auto;

		&::-webkit-scrollbar{
            width: 0!important
        }

		.table{
			>div{
				padding : 0;
			}
		}
		

		.results{
			padding :  @rhythm 0;
		}

		.user{
			padding : 0 @rhythm;
			cursor: pointer;
			.transition(0.3s);
			
			&:hover{
				color : @color-main;
			}
		}

		.stringresult{
			padding : 2 * @rhythm @rhythm;
		}

		.searchbywrapper{
			padding : 2 * @rhythm @rhythm;

			&.small{
				padding : 0 @rhythm;
			}

			.caption{
				padding-bottom : @rhythm;
				span{
					font-weight: 700;
					color : @color-main;
					font-size: 0.9em;
				}
			}

			.searchby{
				.swrp{
					width: 100%;
					cursor: pointer;
					>div{
						color : fade(@color-black2, 70);
						.transition(0.3s);

						&.rsicon{
							width: 33px;
							text-align: center;
							font-size: 0.8em;
						}
	
						&.label{
							text-align: left;
							padding-left: @rhythm;
						}
					}

					&:hover{
						>div{
							color : @color-black2;
						}
					}
				}	
				
			}
		}

		.userTable{
			>div{
				padding :0;
				vertical-align: middle;

				&.iconWrapper{
					width: 33px;
					padding : @rhythm 0;
				}

				&.label{
					padding-left: @rhythm;
				}

				.usericon{
					width: 33px;
					height: 33px;
				}
			}
		}

		.fastsearch{
			padding-left: 80px;
		}

		.users{
			padding-left: 20px;
		}

		.result{
			cursor: pointer;
			.transition(0.3s);

			&:hover{
				color : @color-main;
			}
		}
	}

	.postssearch{
		height: 100%;
		width: 100%;

		.searchInputIcon,
		.searchInput,
		.search{
			height: 100%;
			width: 100%;
		}

		.searchInput{
			border-radius: 30px;
			overflow: hidden;
			background: #F1F1F1;
			border : 1px solid fade(@color-black2, 2);
		}

		.search {
			max-width: 700px;
			margin : 0 auto;
		}

		.searchInputIcon{
			>div{
				vertical-align: middle;
			}
		}

		input,
		.searchInputWrapper,
		.searchIconLabel{
			height: 100%;
		}

		input{
			color : fade(@color-black2, 40);
			background: #fafafa;
			height: 100%;
			border : 0;

		}

		.searchIconLabel,
		.searchPanel{
			color : fade(@color-black2, 20);
			background: #fafafa;
			border : 0;
		}

		.searchPanel{
		}

		.searchIconLabel{
			width: 38px;
		}

		.searchPanel{
			width: @rhythm;
			font-size: 0.8em;
			.searchPanelWrapper{
				>div{
					&[event=clear]{
						display: none!important;
					}
				}
			}
		}
	}

	&.menupanelactive{
		&:not(.searchactive){
			.postssearch{
		
				.searchPanel,
				.searchInputWrapper{
					display: none;
				}
	
				.searchInput{
					background: transparent;
					border : 1px solid transparent;
				}
		
		
				input{
					color : @color-black2;
					background: transparent;
				}
		
				.searchIconLabel,
				.searchPanel{
					color : @color-black2;
					background: transparent;
				}
		
				
			}
			.sections{
				.items.searchWrapper{
					max-width: 40px;
				}
			}
		}
		
	}

	.signup,
    .signout,
	.signin{
		cursor: pointer;
		.transition(0.3s);

		&:hover{
			color : @color-bright;
		}
	}

	.signup{
		margin-left: 4 * @rhythm;
		
	}

	.post{
		cursor: pointer;
		text-decoration: underline;
		.transition(0.3s);

		&:hover{
			color : @color-bright;
		}
	}

	.user{
		
	}

	&.aublack{
		background: fade(@color-black2, 80);
		color : #fff;

		.currency{
			display: none;
		}
	}
}



html.stblack{
	#menu{
		.menuWrapper{
			background: @color-black4;
			color : @color-gray-mlight;
		}

		.sections{
		
			
	
			.items{
				
				&.searchWrapper{
				
	
					
				}

				
				.item{
					width: auto;
					height: 100%;
	
					
					&.sitename{
						.label{
							font-weight: 100;
	
						}
	
					}

					&.navWrapperItem{
						
	
						.centerTable {
	
							>div{
	
								.pcenterLabel{
									border : 1px solid transparent;
									color : @color-gray;
	
									&.active{
										color : @color-main;
									}
	
								}
	
							}
						}
					}
					
	
					&.ustate{
						color : @color-gray-mlight;
						
					}
	
				
	
					&.wallets{
						color : @color-add;
					
						.icon{
							color : @color-add;
						}
					}
	
					
				}
	
				
			}
		}

		.postssearch{
			
	
			.searchInput{
				border : 1px solid fade(@color-gray-mlight, 2);
				background: fade(@color-gray-mlight, 25);
			}
	
			.search {
				max-width: 700px;
				margin : 0 auto;
			}
	
			.searchInputIcon{
				>div{
					vertical-align: middle;
				}
			}
		
	
			input,
			.searchInputWrapper,
			.searchIconLabel{
				height: 100%;
			}
	
			input{
				color : @color-gray-mlight;
				background: @color-black4;
				height: 100%;
				border : 0;
	
			}
	
			.searchIconLabel,
			.searchPanel{
				color : @color-gray-mlight;
				color : @color-gray-mlight;
				background: @color-black4;
			}
	
		
			.searchIconLabel{
				width: 38px;
			}
	
			.searchPanel{
				width: @rhythm;
				font-size: 0.8em;
				.searchPanelWrapper{
					>div{
						&[event=clear]{
							display: none!important;
						}
					}
				}
			}
		}

		.searchFastResultWrapper{

			.searchbywrapper{
				
	
				.searchby{
					.swrp{
						>div{
							color : fade(@color-gray-mlight, 70);
		
						}
	
						&:hover{
							>div{
								color : @color-gray-mlight;
							}
						}
					}	
					
				}
			}
		}
	
	}
}

@media only screen and (max-width: 768px) {
#menu{
	z-index: 4;
	.mobilemenu{
		display: none;

		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #F7F8FB;
		overflow: auto;

		.items{
			padding : 2 * @rhythm;

			.item{
				font-size: 1.4em;
				margin-bottom: @rhythm;

				.signout{
					margin-top: 2 * @rhythm;
					font-size: 0.7em;
				}

			}
		}

		.close{
			position: absolute;
			right:2* @rhythm;
			bottom: 2* @rhythm;
			padding : @rhythm;
			cursor: pointer;

		}

		
	}

	&.active{
		.mobilemenu{
			display: block;
		}
	}

	.additionalbar{
		.sections{
			padding : 0;
			.section{
				.items{
					.item{
						>div{
							padding : 0 2 * @rhythm;
						}
					}
				}
			}
		}
	}

	/*&.searchactive{
		.sections{
			

			.items{
				
				display: none;

				&.searchIcons{
					display: none;
				}

				&.searchWrapper{
					padding-left: 0;
					padding-right: 0;
					display: block;
				}

				&.mdl{
					display: none;
				}
			}
		}

		.additionalbar{
			.sections{
			

				.items{
					
					display: block;
				}
			}
		}
	}*/

	
	
	.sections{
		width: 100%;
		max-width: none;
		padding : 0  2 * @rhythm;
		padding-right: 0;

		.section{
			padding: 0;
			width: auto;

			&.right{
				width: auto;
				float: right;
				padding-right: 0;

				.items{

				}
			}

			&.leftpart{
				float: left;

				.items{

					.item{
					}
				}
			}

			&:nth-child(1){
				padding-left: 0;				
			}			
		}

		.items{
			float: left;
			height: 100%;

			&.walletsWrapper{
				display: none;
			}

			&.searchIcons{
			}

			&.sitenames{
				width: auto;
			}

			.item{

                &.signout,
				&.signin{
					text-align: right;
					padding-right: 2 * @rhythm;
				}



				&.sitename{

					.icon{
						
					}
				
					.label{
						text-align: center;
						
					}

					
				}

				&.user{
					margin-right : @rhythm;
					.userpic{
						float: right;
						width: 34px;
						height: 34px;
						line-height: 34px;
						font-size: 0.9em;

					}
				}

				&.currency{
					.vc_valuecustom{
						width: 60px;
					}
				}

				
			}

			&.blp{
				padding-left: 0;
				display: none;
				width: 100%;
			}
			/*
			&.hamb{
				display: block;
				width: 30px;

				
				.item{
					width: 100%;
				}

				.icon{
					text-align: center;
				}
				
			}*/

			&.localizationWrapper{
				display: none;
			}

			

		}
	}

	
		


}
}


@media only screen and (max-width: 768px) {
#menu{
	background: @color-contrast;

	.searchFastResultWrapper{

		.fastsearch{
			padding-left: 40px;
		}

		.users{
			padding-left: 0px;
		}
	}

	&:not(.searchactive){
		.postssearch{
	
			.searchPanel,
			.searchInputWrapper{
				display: none;
			}

			.searchInput{
				background: transparent;
				border : 1px solid transparent;
			}
	
			input{
				color : @color-black2;
				background: transparent;
			}
	
			.searchIconLabel,
			.searchPanel{
				color : @color-black2;
				background: transparent;
			}
	
			
		}
		.sections{
			.items.searchWrapper{
				max-width: 40px;
			}
		}
	}

	&.searchactive{
		.sections{
			padding : 0;

			.section{
				width : 100%;
				&.right{
					width : 100%;
				}
				
				.items.searchWrapper{
					width : 100%;

					.item{
						width : 100%;
					}

					.postssearch{
						width : 100%;
					}
				}

				&.leftpart{
					display: none;
				}

				&.right{
					display: none;
				}
			}


			.items{
				&.searchWrapper{
					width: 100%;
					max-width: none;

					.postssearchwrapper{
						padding : 2 * @rhythm @rhythm;
					}
				}
			}
			
		}

		
	}

	.sections{
		.items{
			.item{

			
				&.wallets{
					.amount{
						display: none;
					}
				}

				&.user{
					margin-right : 0;

						.icon{
							padding-right: @rhythm;
						}
				}
				
			}

			&.searchWrapper{
				.postssearch{
					.searchIconLabel{
						width: 40px;
					}

					.searchPanel{
						width: 40px;

						.searchPanelWrapper{
							>div{
								&[event=clear]{
									display: block!important;
								}
							}
						}
					}
				}
			}	

			&.navWrapperItem{
				display: none!important;
			}

			&.hamb{

				.item{
					width: auto;
				}
				
			}

			&.saveCrossWrapper{
				display : none;
			}

			&.gethotpostsWrapper{
				margin-left : 2 * @rhythm;

				.label{
					display: none;
				}
			}
		}
	}
}
}