#menu .rightchatspacer {
  height: 100%;
}
#menu .header_logo {
  vertical-align: bottom;
}
#menu .header_logo.mobiledevice {
  width: 20px;
  height: 20px;
}
#menu .header_logo.all,
#menu .header_logo.workstation {
  height: 20px;
}
#menu .sitenamelabel {
  text-transform: uppercase;
}
#menu .icon a {
  display: block;
}
#menu .menuspace {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: calc(165px + var(--app-margin-top));
  contain: strict;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  display: none;
  z-index: 19;
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}
#menu .menuWrapper {
  /*-webkit-app-region: drag;*/
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-height: 65px;
  height: calc(65px + var(--app-margin-top));
  padding-top: var(--app-margin-top);
  z-index: 20;
  contain: strict;
  background: rgb(var(--background-total-theme));
  /*
		.sections{
			-webkit-user-select: none;
  			-webkit-app-region: drag;

			  .section{
				-webkit-app-region: none;
			  }
		}*/
}
#menu .menuWrapper .onlyblackallcontent {
  display: none;
}
#menu .usericon {
  position: relative;
}
#menu .changing-app-icon {
  opacity: 1;
  transition: all 0.5s;
}
#menu.static .menuWrapper {
  position: absolute;
}
#menu.static .menutoppanel {
  display: none!important;
}
#menu .icon {
  position: relative;
}
#menu .icon .localizationicon {
  position: absolute;
  right: -2%;
  bottom: 19%;
  width: 15px;
  height: 15px;
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
#menu .icon .changeaccount {
  position: absolute;
  left: -16px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
#menu .menutoppanel {
  margin: 0 auto;
  position: fixed;
  width: 440px;
  top: 0;
  left: 50%;
  margin-left: -220px;
  z-index: 210;
  height: 65px!important;
  bottom: auto;
  white-space: nowrap;
  font-size: 0.9em;
}
#menu .navicon .fa-plus-circle {
  font-size: 1.2em;
  color: #0026ff;
}
#menu.searchactive .sections .items.searchWrapper {
  display: block;
}
#menu.searchactive .sections .items.searchIcons .icon i {
  font-weight: 500;
}
#menu.searchactive .sections .items.searchIcons .icon i:before {
  content: '\f057';
}
#menu.searchactive .sections .items .item.wallets:hover {
  padding-right: 0;
  padding-left: 0;
}
#menu.searchactive .sections .items .item.navWrapperItem {
  display: none;
}
#menu.searchactive .menuWrapper {
  contain: none;
}
#menu.menupanelactive:not(.searchactive) .sections .items .item.navWrapperItem {
  display: block;
}
#menu.menupanelactive:not(.searchactive) .postssearch .searchPanel,
#menu.menupanelactive:not(.searchactive) .postssearch .searchInputWrapper {
  display: none;
}
#menu.menupanelactive:not(.searchactive) .postssearch .searchInput {
  background: transparent;
  border: 1px solid transparent;
}
#menu.menupanelactive:not(.searchactive) .postssearch input {
  color: #0e1c2b;
  background: transparent;
}
#menu.menupanelactive:not(.searchactive) .postssearch .searchIconLabel,
#menu.menupanelactive:not(.searchactive) .postssearch .searchPanel {
  color: #0e1c2b;
  background: transparent;
}
#menu.menupanelactive:not(.searchactive) .sections .items.searchWrapper {
  max-width: 40px;
}
#menu.menupanelactive:not(.searchactive) .postssearch .searchFastResultWrapper {
  display: none!important;
}
#menu .sections {
  width: 95%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
  padding-right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#menu .sections .section {
  min-height: 65px;
  height: 100%;
  padding: 0 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#menu .sections .section.right {
  padding-right: 0;
  min-width: 200px;
}
#menu .sections .section.centerpart {
  padding-right: 0;
  padding-left: 3em;
}
#menu .sections .section.leftpart {
  padding-left: 0;
  min-width: 200px;
}
#menu .sections .userpic {
  box-shadow: 0 5px 10px -5px rgba(var(--color-shadow-base), 0.4);
}
#menu .sections .items {
  height: 100%;
}
#menu .sections .items .table {
  width: auto;
  height: 100%;
}
#menu .sections .items .table > div {
  padding: 0.5em;
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;
}
#menu .sections .items.keyexportWrapper {
  margin-left: 0.5em;
  color: rgb(var(--color-txt-orange));
}
#menu .sections .items.control-app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  color: rgb(var(--neutral-grad-1));
  box-sizing: border-box;
  padding: 0 0.5em;
  font-size: 0.9em;
}
#menu .sections .items.control-app > div {
  margin: 0 0.5em;
  cursor: pointer;
}
#menu .sections .items.control-app > div:hover {
  color: rgb(var(--color-txt-gray));
}
#menu .sections .items.control-app.control-left {
  padding-right: 1.5em;
}
#menu .sections .items.control-app.control-right {
  padding-left: 1.5em;
}
#menu .sections .items.control-app .control-tor-state {
  position: relative;
  min-height: 33px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--background-main));
  border: 0;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 1.25em;
  padding: 0 1em;
}
#menu .sections .items.control-app .control-tor-state .tor-progress-text {
  display: none;
  text-align: center;
  white-space: nowrap;
  font-size: 0.9em;
  padding-left: 0.5em;
  color: rgb(var(--color-txt-gray-dark));
}
#menu .sections .items.control-app .control-tor-state .tor-progress-text.visible {
  display: flex;
}
#menu .sections .items.control-app .control-tor-state i::after {
  position: absolute;
}
#menu .sections .items.control-app .control-tor-state.on {
  color: rgb(var(--color-good));
}
#menu .sections .items.control-app .control-tor-state.on::before {
  content: '';
  position: absolute;
  left: 27px;
  top: 20px;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  overflow: hidden;
}
#menu .sections .items.control-app .control-tor-state.on.failed::before {
  background: rgb(var(--color-bad));
}
#menu .sections .items.control-app .control-tor-state.on.success::before {
  background: rgb(var(--color-good));
}
#menu .sections .items.control-app .control-tor-state.off {
  color: rgb(var(--color-txt-gray-dark));
}
#menu .sections .items.control-app .control-tor-state.loading {
  color: rgb(var(--color-txt-gray-dark));
  animation: torPulse 2s linear infinite;
}
@keyframes torPulse {
  50% {
    color: rgb(var(--color-txt-ac));
  }
}
#menu .sections .items.control-app .control-tor-state.failed {
  color: rgb(var(--color-txt-gray-dark));
  animation: torFailedPulse 2s linear infinite;
}
@keyframes torFailedPulse {
  30% {
    color: rgb(var(--color-bad));
  }
}
#menu .sections .items.notificationsWrapper {
  margin-right: 0.5em;
}
#menu .sections .items.gethotpostsWrapper {
  color: rgb(var(--color-txt-orange));
  margin-left: 1em;
}
#menu .sections .items.gethotpostsWrapper i {
  font-size: 1.1em;
}
#menu .sections .items.searchWrapper {
  max-width: 340px;
  float: none;
  font-size: 0.9em;
}
#menu .sections .items.searchWrapper .item {
  width: 100%;
  min-width: 340px;
}
#menu .sections .items.searchWrapper .postssearchwrapper {
  padding: 15px 0;
  width: 100%;
}
#menu .sections .items.searchIcons {
  margin-right: 1em;
}
#menu .sections .items.searchIcons .icon {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .sections .items.searchIcons .icon:hover {
  color: rgb(var(--color-txt-ac));
}
#menu .sections .items .item {
  width: auto;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
#menu .sections .items .item .icon {
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.35em;
  position: relative;
  cursor: pointer;
}
#menu .sections .items .item .icon .amount {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0 0.5em;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 0.5em;
  background: rgba(var(--color-bg-ac-bright), 0.95);
  color: rgb(var(--text-on-bg-ac-color));
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
  z-index: 20;
  border-radius: 50%;
  display: none;
}
#menu .sections .items .item.changeaccount .icon {
  padding-right: 0.125em;
  padding-left: 0.125em;
  padding-bottom: 0.25em;
  cursor: pointer;
}
#menu .sections .items .item.application {
  color: rgb(var(--color-bg-orange));
}
#menu .sections .items .item.user .icon {
  padding-right: 0;
}
#menu .sections .items .item.amountHave .icon .amount {
  display: block;
}
#menu .sections .items .item .label {
  font-size: 0.95em;
}
#menu .sections .items .item.signout {
  margin-right: 3em;
}
#menu .sections .items .item.signout .lable {
  font-weight: 400;
}
#menu .sections .items .item.signup {
  color: rgb(var(--color-txt-orange));
}
#menu .sections .items .item.onlyicon .icon {
  padding: 0.5em;
}
#menu .sections .items .item.onlyicon .icon .icn {
  display: flex;
}
#menu .sections .items .item.onlyicon .icon .icn img {
  height: 18px;
}
#menu .sections .items .item.onlyicon .count {
  color: rgb(var(--color-bg-ac-2));
}
#menu .sections .items .item .icon .icn img {
  height: 18px;
}
#menu .sections .items .item .icon .icn svg {
  height: 23px;
  width: 23px;
}
#menu .sections .items .item.navWrapperItem {
  display: none;
}
#menu .sections .items .item.navWrapperItem .panelitemCenter {
  height: 100%;
  margin: 0 auto;
}
#menu .sections .items .item.navWrapperItem .menutoppanel {
  height: 100%;
}
#menu .sections .items .item.navWrapperItem .centerTable {
  margin: 0 auto;
}
#menu .sections .items .item.navWrapperItem .centerTable > div {
  vertical-align: middle;
  padding: 0 0.5em;
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel {
  border: 1px solid transparent;
  padding: 0 1em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel:hover,
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel.active {
  color: rgb(var(--color-txt-ac));
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel:hover a span,
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel.active a span {
  background: rgba(var(--color-txt-ac), 0.7);
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel a {
  position: relative;
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel a span {
  position: absolute;
  display: block;
  opacity: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  background: rgba(var(--neutral-grad-4), 0.6);
  color: rgb(var(--text-on-bg-ac-color));
  left: 100%;
  font-size: 0.7em;
  top: 0;
  margin-left: 0.25em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel a span.hasunseen {
  opacity: 1;
}
#menu .sections .items .item.navWrapperItem .centerTable > div .pcenterLabel a:hover span {
  background: rgba(var(--color-bg-ac), 0.7);
}
#menu .sections .items .item.sitename {
  cursor: pointer;
}
#menu .sections .items .item.sitename .label {
  font-weight: 700;
  overflow: hidden;
}
#menu .sections .items .item.sitename .label > div {
  float: left;
}
#menu .sections .items .item.sitename .label > div.lang {
  font-weight: 100;
  padding-left: 0.5em;
}
#menu .sections .items .item.sitename .label > div.lang i {
  opacity: 0.4;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .sections .items .item.sitename .label > div.lang.hover i {
  opacity: 0.8;
}
#menu .sections .items .item.sitename .icon {
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu .sections .items .item.sitename .menutoppanel {
  display: none;
}
#menu .sections .items .item.sitename .menutoppanel > div {
  vertical-align: middle;
}
#menu .sections .items .item.sitename .menutoppanel .pcenterCell {
  padding-left: 0.5em;
  padding-right: 1.5em;
}
#menu .sections .items .item.sitename .menutoppanel .pcenterLabel {
  font-size: 0.9em;
}
#menu .sections .items .item.sitename .menutoppanel .pcenterLabel.active {
  color: rgb(var(--color-txt-ac));
  border-bottom: 1px solid rgb(var(--color-txt-ac));
}
#menu .sections .items .item.sitename.lentamenu .menutoppanel {
  display: table-cell;
}
#menu .sections .items .item.sitename.lentamenu .label {
  display: none;
}
#menu .sections .items .item.localization {
  margin-right: 1em;
  position: relative;
}
#menu .sections .items .item.localization .label {
  font-weight: 100;
  cursor: pointer;
}
#menu .sections .items .item.localization .vc_valuecustom {
  width: 100px;
  position: relative;
}
#menu .sections .items .item.localization .vc_valuecustom .vc_inputWrapper {
  border: 0;
}
#menu .sections .items .item.localization .vc_valuecustom .vc_iconWrapper {
  border: 0;
  width: 20px;
}
#menu .sections .items .item.localization .vc_valuecustom .vc_selectInput {
  border: 1px solid rgb(var(--neutral-grad-4));
}
#menu .sections .items .item.localization .vc_valuecustom input {
  cursor: pointer!important;
}
#menu .sections .items .item.state {
  color: rgb(var(--color-bad));
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .sections .items .item.wallets {
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 1.5em;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .sections .items .item.wallets .numberWrp {
  position: relative;
}
#menu .sections .items .item.wallets .icon {
  width: 30px;
  opacity: 0;
}
#menu .sections .items .item.wallets.good .number {
  color: rgb(var(--color-good));
}
#menu .sections .items .item.wallets.good .icon {
  opacity: 1;
  color: rgb(var(--color-good));
}
#menu .sections .items .item.wallets.good .icon i:before {
  content: "\f067";
}
#menu .sections .items .item.wallets.bad .number {
  color: rgb(var(--color-bad));
}
#menu .sections .items .item.wallets.bad .icon {
  color: rgb(var(--color-bad));
  opacity: 1;
}
#menu .sections .items .item.wallets.bad .icon i:before {
  content: "\f068";
}
#menu .sections .items .item.wallets:hover .icon {
  opacity: 1;
}
#menu .searchFastResultWrapper {
  border: 0;
  padding: 0;
  left: 0;
  max-height: 540px;
  overflow-y: overlay;
  border-radius: 0.5em;
  border: 1px solid rgba(var(--neutral-grad-1), 0.2);
  background-color: rgb(var(--background-total-theme));
  padding: 0.5em;
  margin-top: 0.5em;
}
#menu .searchFastResultWrapper .table > div {
  padding: 0;
}
#menu .searchFastResultWrapper .results {
  padding: 0.5em 0;
}
#menu .searchFastResultWrapper .results .result {
  padding: 0.5em 0;
}
#menu .searchFastResultWrapper .user {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .searchFastResultWrapper .user:hover {
  color: rgb(var(--color-txt-ac));
}
#menu .searchFastResultWrapper .appicon {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  background: rgb(var(--background-secondary-theme));
  position: relative;
}
#menu .searchFastResultWrapper .searchbywrapper .caption {
  padding-bottom: 0.5em;
}
#menu .searchFastResultWrapper .searchbywrapper .caption span {
  font-weight: 700;
  color: rgb(var(--color-txt-ac));
  font-size: 0.9em;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swra {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swra > div.label {
  font-weight: 700;
  text-align: left;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swrp {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1em 0;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swrp > div {
  color: rgba(var(--color-txt-gray-dark), 0.8);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swrp > div.rsicon {
  width: 44px;
  text-align: center;
  font-size: 0.8em;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swrp > div.label {
  text-align: left;
}
#menu .searchFastResultWrapper .searchbywrapper .searchby .swrp:hover > div {
  color: rgb(var(--color-txt-gray-dark));
}
#menu .searchFastResultWrapper .userTable > div {
  padding: 0;
  vertical-align: middle;
}
#menu .searchFastResultWrapper .userTable > div .usericon {
  width: 44px;
  height: 44px;
}
#menu .searchFastResultWrapper .userTable > div .usericon .letter {
  font-size: 1em;
  line-height: 44px;
}
#menu .searchFastResultWrapper .fastsearch {
  padding-left: 80px;
}
#menu .searchFastResultWrapper .users {
  padding-left: 20px;
}
#menu .searchFastResultWrapper .result {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .searchFastResultWrapper .result:hover {
  color: rgb(var(--color-txt-ac));
}
#menu .postssearch {
  height: 100%;
  width: 100%;
}
#menu .postssearch .searchInputIcon,
#menu .postssearch .searchInput,
#menu .postssearch .search {
  height: 100%;
  width: 100%;
}
#menu .postssearch .searchInput {
  border-radius: 30px;
  overflow: hidden;
  background: rgb(var(--background-main));
  border: 0;
}
#menu .postssearch .search {
  max-width: 700px;
  margin: 0 auto;
}
#menu .postssearch .searchInputIcon > div {
  vertical-align: middle;
}
#menu .postssearch input,
#menu .postssearch .searchInputWrapper,
#menu .postssearch .searchIconLabel {
  height: 100%;
}
#menu .postssearch input {
  color: rgb(var(--color-txt-gray-dark));
  background: rgb(var(--background-main));
  height: 100%;
  border: 0;
  padding-left: 0;
  padding: 0;
  min-height: 33px;
}
#menu .postssearch :placeholder-shown {
  text-align: center;
  color: rgba(var(--color-txt-gray-dark), 0.5);
}
#menu .postssearch .searchIconLabel,
#menu .postssearch .searchPanel {
  color: rgba(var(--color-txt-gray-dark), 0.3);
  background: rgb(var(--background-main));
  border: 0;
}
#menu .postssearch .searchInputWrapper {
  position: relative;
  z-index: 1;
}
#menu .postssearch .searchIconLabel {
  position: relative;
  z-index: 1;
  width: 38px;
  -webkit-transition: none;
  transition: none;
}
#menu .postssearch .searchPanel {
  position: relative;
  z-index: 1;
  width: 2em;
  font-size: 0.8em;
  text-align: center;
}
#menu .signup,
#menu .signout,
#menu .signin {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#menu .signup:hover,
#menu .signout:hover,
#menu .signin:hover {
  color: rgb(var(--color-bg-ac));
}
#menu .signin {
  margin-left: 1em;
}
#menu .signup {
  margin-left: 2em;
}
html.allcontent #menu .menuWrapper .postssearch .searchInput input {
  background: transparent;
}
html.allcontent #menu .menuWrapper .postssearch .searchIconLabel,
html.allcontent #menu .menuWrapper .postssearch .searchPanel {
  background: transparent;
}
html.allcontent #menu .usericon {
  box-shadow: 0 5px 7px -5px rgba(var(--color-shadow-base), 0.4);
}
html.allcontent #menu .far.fa-comment {
  font-weight: 700;
}
html.allcontent #menu .sections .items.control-app .control-tor-state {
  background: transparent;
}
html.television #menu,
html.mobileview #menu {
  z-index: 4;
}
html.television #menu .signup,
html.mobileview #menu .signup {
  margin-left: 1em;
  margin-right: 1em;
}
html.television #menu .menuspace,
html.mobileview #menu .menuspace {
  height: calc(95px + var(--app-margin-top));
}
html.television #menu .sections,
html.mobileview #menu .sections {
  width: 100%;
  max-width: none;
  padding: 0 1em;
  padding-right: 0;
}
html.television #menu .sections .section,
html.mobileview #menu .sections .section {
  padding: 0;
  width: auto;
}
html.television #menu .sections .section.leftpart,
html.mobileview #menu .sections .section.leftpart {
  min-width: 0;
}
html.television #menu .sections .section.right,
html.mobileview #menu .sections .section.right {
  min-width: 0;
  padding-right: 0;
}
html.television #menu .sections .section.centerpart,
html.mobileview #menu .sections .section.centerpart {
  margin-left: auto;
}
html.television #menu .sections .section:nth-child(1),
html.mobileview #menu .sections .section:nth-child(1) {
  padding-left: 0;
}
html.television #menu .sections .items,
html.mobileview #menu .sections .items {
  float: left;
  height: 100%;
}
html.television #menu .sections .items.sitenames,
html.mobileview #menu .sections .items.sitenames {
  width: auto;
}
html.television #menu .sections .items.searchWrapper,
html.mobileview #menu .sections .items.searchWrapper {
  padding-right: 1em;
}
html.television #menu .sections .items.searchWrapper .item,
html.mobileview #menu .sections .items.searchWrapper .item {
  min-width: 0;
}
html.television #menu .sections .items .item.signout,
html.mobileview #menu .sections .items .item.signout,
html.television #menu .sections .items .item.signin,
html.mobileview #menu .sections .items .item.signin {
  text-align: right;
  padding-right: 1em;
}
html.television #menu .sections .items .item.wallets,
html.mobileview #menu .sections .items .item.wallets {
  margin-right: 0.5em;
}
html.television #menu .sections .items .item.wallets .pkoinlabel,
html.mobileview #menu .sections .items .item.wallets .pkoinlabel {
  font-size: 0.7em;
}
html.television #menu .sections .items .item.signin,
html.mobileview #menu .sections .items .item.signin {
  display: none;
}
html.television #menu .sections .items .item.sitename .label,
html.mobileview #menu .sections .items .item.sitename .label {
  text-align: center;
}
html.television #menu .sections .items .item.user,
html.mobileview #menu .sections .items .item.user {
  margin-right: 0.5em;
}
html.television #menu .sections .items .item.user .userpic,
html.mobileview #menu .sections .items .item.user .userpic {
  float: right;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 0.9em;
}
html.television #menu .searchFastResultWrapper .fastsearch,
html.mobileview #menu .searchFastResultWrapper .fastsearch {
  padding-left: 40px;
}
html.television #menu .searchFastResultWrapper .users,
html.mobileview #menu .searchFastResultWrapper .users {
  padding-left: 0px;
}
html.television #menu:not(.searchactive) .postssearch .searchPanel,
html.mobileview #menu:not(.searchactive) .postssearch .searchPanel,
html.television #menu:not(.searchactive) .postssearch .searchInputWrapper,
html.mobileview #menu:not(.searchactive) .postssearch .searchInputWrapper {
  display: none;
}
html.television #menu:not(.searchactive) .postssearch .searchInput,
html.mobileview #menu:not(.searchactive) .postssearch .searchInput {
  background: transparent!important;
  border: 1px solid transparent!important;
}
html.television #menu:not(.searchactive) .postssearch input,
html.mobileview #menu:not(.searchactive) .postssearch input {
  color: rgb(var(--text-color));
  background: transparent;
}
html.television #menu:not(.searchactive) .postssearch .searchIconLabel,
html.mobileview #menu:not(.searchactive) .postssearch .searchIconLabel,
html.television #menu:not(.searchactive) .postssearch .searchPanel,
html.mobileview #menu:not(.searchactive) .postssearch .searchPanel {
  color: rgb(var(--text-color));
  background: transparent;
}
html.television #menu:not(.searchactive) .postssearch .searchFastResultWrapper,
html.mobileview #menu:not(.searchactive) .postssearch .searchFastResultWrapper {
  display: none;
}
html.television #menu:not(.searchactive) .sections .items.searchWrapper,
html.mobileview #menu:not(.searchactive) .sections .items.searchWrapper {
  max-width: 40px;
}
html.television #menu .postssearch input,
html.mobileview #menu .postssearch input {
  padding: 0;
}
html.television #menu .sections .items .item.user,
html.mobileview #menu .sections .items .item.user {
  margin-right: 0;
}
html.television #menu .sections .items .item.user .icon,
html.mobileview #menu .sections .items .item.user .icon {
  padding-right: 0.5em;
}
html.television #menu .sections .items.searchWrapper .postssearch .searchIconLabel,
html.mobileview #menu .sections .items.searchWrapper .postssearch .searchIconLabel {
  width: 40px;
}
html.television #menu .sections .items.searchWrapper .postssearch .searchPanel,
html.mobileview #menu .sections .items.searchWrapper .postssearch .searchPanel {
  width: 40px;
}
html.television #menu .sections .items.searchWrapper .postssearch .searchPanel .searchPanelWrapper > div[event=clear],
html.mobileview #menu .sections .items.searchWrapper .postssearch .searchPanel .searchPanelWrapper > div[event=clear] {
  display: block!important;
}
html.television #menu .sections .items.navWrapper,
html.mobileview #menu .sections .items.navWrapper {
  display: none!important;
}
html.television html.allcontent #menu .sitenames,
html.mobileview html.allcontent #menu .sitenames {
  overflow: hidden;
  width: 24px!important;
}
html.television #menu .sections .items .item.signin {
  display: flex;
}
html[theme="black"] #menu .sections .items .item .icn svg,
html[theme="gray"] #menu .sections .items .item .icn svg {
  fill: rgb(var(--text-color));
}
