<% 
	var info = psdk.userInfo.getmy() | {}

	var name = app.platform.api.clearname(info.name || user.address.value ) 

	var src = info.image

	var letter = name ? name[0] : ''

	var deleted = typeof app.platform.sdk.user.myaccauntdeleted != 'undefined' && app.platform.sdk.user.myaccauntdeleted()

	if (deleted) {letter = ''; src = ''}
%>


<div class="bgCaption">

	
	
		<div class="bgCaptionInner">
		
			<div class="infoWrapper">
				<div class="rightchatspacer">
					<div class="work">
						<% if(deleted) {%>

							<div class="deletedAccount">
								<div class="deletedAccountText">
									<span><%-e('deletedAccount_' + deleted)%></span>
								</div>
							</div>

						<% } else { %> 
							<div class="cwrapper table">

								<div class="cell cellforimage">
									<div class="icon">

										<div class="usericon" image="<%-src || '*'%>">

											<% if(!src && letter) {%>

												<span class="letter">
													<%-letter.toUpperCase()%>
												</span>

											<% } else if (!src) { %>

												<i class="far fa-user"></i>

											<% } %>

										</div>
									</div>
								</div>

								<div class="ccell">
									<div class="infomain">
										<div class="captionWrapperFloat">

											<% if(typeof app.platform.sdk.user.myaccauntdeleted == 'undefined' || !app.platform.sdk.user.myaccauntdeleted()) {%>
											<div class="caption">
												<b class="adr"><%-name%></b>
											</div>
											<% } %>
											
											<% if(typeof app.platform.sdk.user.myaccauntdeleted == 'undefined' || !app.platform.sdk.user.myaccauntdeleted()) {%>
												<div class="addressseparateWrapper">
													<div class="addressseparate">
														<b><%=e('pnetAddress')%>:</b>
													</div>
													<div class="addressseparate">
														<span elementsid="copyaddresshex" class="copyaddress">
															<%- user.address.value %>
														</span>


														<a elementsid='blockexplorer/address' external='external' href="https://<%-app.options.url%>/blockexplorer/address/<%- user.address.value %>"> <i class="fas fa-th"></i></a>

														
													</div>
												</div>

											<% } %>
										</div>

										

										<div class="tips">
											<a elementsid='authorlink' href="<%-app.platform.api.authorlink(user.address.value)%>">
												<button class="profile"><%=e('profile')%></button>
											</a>
											
										</div>
									</div>

								</div>
							</div>

						<% } %>
					</div>
				</div>
			</div>
		</div>

</div>

