<!--
<div class=" selector">
	<%= selector.input() %>
</div>-->
<div class="contentsInner">
    <div class=" contentmenu">

        <%

		each({

			group : function(report, level, id, clbk){ %>

        <div class="group" level="<%-level%>" levelid="<%-id%>">

            <div class="groupNameTable table">

                <div class="groupName">
                    <div elementsid="openReport" class="reportCaption openReport" rid="<%-id%>">

                        <%= report.name.toUpperCase() %>
                        

                        <% if(report.add && report.add()) {%>

                            <%- report.add() %>

                        <% } %>

                    </div>
                </div>

                <div class="groupNamePanel">
                    <div elementsid="groupNamePanelWrapper" class="groupNamePanelWrapper">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                </div>

            </div>

            <div class="groupContent">

                <% clbk(); %>

            </div>

        </div>

        <% 
			},

			report : function(report, level, id){ 

				if(report.if && !report.if()) return


			%>
                <div class="reportCaption openReport" rid="<%-id%>">

                    <div class="reportCaptionTable table">

                        <div class="reportCaptionCell">
                            <%= report.name.toUpperCase() %>

                            <% if(report.addtoname && report.addtoname()) {%>
                                <span class="addtoname"><%- report.addtoname() %></span>
                            <% } %>


                        </div>

                        <% if(report.add && report.add()) {%>
                            <div class="reportCaptionCell added">
                                <span class="add bright"><%- report.add() %></span>
                            </div>
                        <% } %>

                    </div>
                </div>
        <% 

			}

		})

	%>

    </div>



    <% if(state) {%>
        <div class="additional addmenu">
            <div elementsid="showprivatekey" class="reportCaption showprivatekey">
                <div class="label">
                <%=e('privatekey')%>
                </div>
            </div>

            <div class="reportCaption">
                <div class="label">
                    <a elementsid="https://<%-app.options.url%>/blockexplorer/" href="https://<%-app.options.url%>/blockexplorer/" cordovalink="_system" external="external">Block Explorer</a>
                </div>
            </div>

        </div>

    <% } %>

    

    <% if(isTablet()) {%>
    <div class="additional addmenu">

        <% if(!window.cordova) {%>

            <div class="reportCaption">
                <div class="label">
                    <a elementsid="hrefabout" href="applications"><%=e('e13120')%> <i class="fas fa-long-arrow-alt-down"></i></a>
                </div>
            </div>
            
        <% } else { %> 


        <% } %>


        <div class="reportCaption">
            <div class="label">
                <a elementsid="hrefabout" href="about"><%=e('aboutus')%></a>
            </div>
        </div>

       
        <% if(!window.cordova) {%>
            <div class="reportCaption">
                <div class="label">
                    <a elementsid="hrefdonations" href="donations"><%=e('donate')%></a>
                </div>
            </div>

        <% } %>

        <% if(isTablet()) {%>

            <div class="reportCaption">
                <div class="label">
                    <span class="changelang">
                        <%= app.localization.current().name %> <i class="fas fa-caret-down"></i>
                    </span>
                </div>
            </div>

        <% } %>

      

    </div>

    <% } %>


    <% if(isTablet()) {%>


        <div class="additional addmenu applicationupdatemodule <% if(app.mobile.update.updating) {%> updating <% } %>">

            <div class="reportCaption">
                <div class="label">
                    <% if(app.mobile.update.hasupdate && !app.mobile.update.playstore) {%>

                        <button class="orange small hasupdate">
                            <%=e('updateapplication')%>
                        </button>

                        
                    <% } else { %> 

                        <span class="applicaitonversion">
                            <%=e('applicationversion')%> &middot; <%- window.packageversion %>
                        </span>
                        
                    <% } %>
                    
                </div>

                <% if(app.mobile.update.needmanage && !app.mobile.update.playstore) {%>
                    <div class="label">
                        <span>
                            <%=e('installedusinggps')%>
                        </span>
                    </div>
                <% } %>
            </div>


            <div class="updatingprogress">

                <div class="text">Updating</div>

                <div class="preloaderWrapper">
                    <div class="preloader5"><img src="./img/three-dots.svg"/></div>
                </div>

            </div>

        </div>


    <% } %>

  

    <% if(state) {%>

        <div class="additional">

            <div class="reportCaption signout">
                <div elementsid="userpage_signout" class="label" action="signout"><%=e('signout').toUpperCase()%> <i class="fas fa-sign-out"
                        aria-hidden="true"></i></div>
            </div>

        </div>

    <% } %>

</div>