<div class="fillUserWrapper">
    <div class="table">
        <div>

            <% if(!app.errors.connection()) { %>
                <% if(user.validateVay() == 'fu') {%>
                    <div class="caption">
                        <span>
                            <%=e('utip1')%> 
                        </span>
                    </div>
                    <div class="subc">
                        <a elementsid="hrefregistration" href="registration">
                            <button><%=e('e13184')%></button>
                        </a>
                    </div>

                <% } else { %> 
                    
                    <div class="caption">
                        <span>
                            <%=e('utip2')%> 
                        </span>
                    </div>
                    <div class="subc">
                        <a elementsid="hrefregistration" href="registration">
                            <button><%=e('e13184')%></button>
                        </a>
                    </div>

                <% } %>

            <% } else {%> 

                <div class="caption">
                    <span>
                        <%=e('funetworkproblems')%>
                    </span>
                </div>
                <div class="subc">
                    <i class="fas fa-wifi"></i>
                </div>
                
            <% } %>
        </div>
    </div>
</div>