<div id="<%-module.map.id%>" class="<% if(!state) {%> unathorized <% } %>">
	
	<% if(state) {%>
		<div class="bgCaptionWrapper">
			
		</div>
	<% } %>
	<div class="rightchatspacer">
		<div class="work">

				<div class="maketsWrapper" id="userpagestick">
					
					<div class="maket left roller" roller="contents">
						<div class="cnt">
							<div class="contents">

								<div class="preloaderWrapper">
									<div class="preloader5"><img src="./img/three-dots.svg"/></div>
								</div>

							</div>
						</div>
					</div>

					<div class="maket right roller" roller="report">

						<div class="backtabletmenu">
							<i class="fas fa-chevron-left"></i> <span><%= e('back') %></span>
						</div>

						<div class="cnt">
							<div class="report">
							</div>
						</div>
					</div>

				</div>

			
		</div>
	</div>
</div>