<div id="<%-module.map.id%>" class="preshell">

        <div class="work">

            <div class="maketsWrapper" id="userpagestick">

                <div class="maket left roller" roller="contents">
                    <div class="cnt">
                        <div class="contents" style="display: block;">
                            <div class="contentsInner">
                                <div class=" contentmenu">


                                    <div class="reportCaption openReport" rid="notifications">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:77px">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="ustate">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:77px">
                                                </div>
                                            </div>


                                            <div class="reportCaptionCell added">
                                                <div class="textline contrast" style="width:20px; margin-left: auto;">
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="wallet">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:77px">
                                                </div>
                                            </div>


                                            <div class="reportCaptionCell added">
                                                <div class="textline contrast" style="width:20px; margin-left: auto;">
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="followers">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:77px">
                                                </div>
                                            </div>


                                            <div class="reportCaptionCell added">
                                                <div class="textline contrast" style="width:20px; margin-left: auto;">
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="following">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:87px">
                                                </div>
                                            </div>


                                            <div class="reportCaptionCell added">
                                                <div class="textline contrast" style="width:20px; margin-left: auto;">
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="test">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:97px">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="usersettings">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:67px">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="accounts">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:77px">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="system16">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:97px">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="reportCaption openReport" rid="staking">

                                        <div class="reportCaptionTable table">

                                            <div class="reportCaptionCell">
                                                <div class="textline" style="width:101px">
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                </div>


                                <div class="additional addmenu">

                                    <div class="reportCaption">
                                        <div class="label">
                                            <div class="textline light" style="width:77px">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="reportCaption">
                                        <div class="label">
                                            <div class="textline colored" style="width:77px">
                                            </div>
                                        </div>
                                    </div>




                                    <div class="reportCaption">
                                        <div class="label">
                                            <div class="textline colored" style="width:77px">
                                            </div>
                                        </div>
                                    </div>



                                </div>





                                <div class="additional">

                                    <div elementsid="signout" class="reportCaption signout">
                                        <div class="textline colored" style="width:77px">
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            

            </div>


        </div>
</div>