#miniapps {
  width: 100%;
}
#miniapps .miniapp {
  cursor: pointer;
  padding: 0.5em 0.75em;
  width: 100%;
  background: rgb(var(--background-hidden-layer));
}
#miniapps .miniapp .appimage {
  aspect-ratio: 1;
}
