<div id="<%-module.map.id%>">
	<div class="tcaption">
		<span>Staking Calculator</span>
	</div>
	<div class="calculator">

		<div class="chart">
			
		</div>
		<div class="numbers">
			<div class="inputWrapper">
				<div class="label">
					I have
				</div>
				<div>
					<span class="amredit" contenteditable="true"><%= app.platform.mp.coin(amount) %></span> 
					<span>PKOIN</span>
				</div>
			</div>

			<div class="inputWrapper">
				<div class="label">
					6 Months
				</div>
				<div>
					1233
				</div>
			</div>

			<div class="inputWrapper">
				<div class="label">
					1 Year
				</div>
				<div>
					2333
				</div>
			</div>
		</div>

	</div>	

</div>