<div id="<%-module.map.id%>">

	<% if(isios()) {%>

		<div class="logowrapper">
			<img class="" src="img/logotypes/<%-app.meta.fullname.toLowerCase()%>_logo_<%-theme%>.svg">
		</div>

		<div class="caption">
			<span><%-e('installios_caption')%></span>
		</div>

		<div class="instruction">
			<div class="line">
				<span class="b"><%-e('step1')%></span> <span><%-e('installios_instruction1')%></span> <img src="img/iosshareicon.svg"> <span><%-e('installios_instruction3')%></span> 
			</div>

			<div class="line">
				<span class="b"><%-e('step2')%></span> <span><%-e('installios_instruction2')%></span>

			</div>
			
		</div>
	<% } else { %>

		<div class="notisonWrapper">
			<div class="notios">
				<span><%-e('installios_empty')%></span>
			</div>

			<div class="gotoapplicationsWrapper">
				<a href="https://bastyon.com/applications">
					<button class="button orange"><%-e('installios_empty_button')%></button>
				</a>
			</div>
		</div>

	<% } %>
</div>