<div class="ucaptcha">
    <div class="subcaption"><%=e('e13109')%></div>



    <div class="captchaImageWrapper">
        <div class="captchaImage">
            <%=captcha.img%>
        </div>
    </div>
    <div class="inputWrapper">
        <input type="text" class="ucaptchainput" placeholder="<%=e('e13110')%>">
    </div>

    <div class="addContainer">
        <button elementsid="filluser_addCaptcha" class="addCaptcha disabled"><%=e('next')%></button>
    </div>

    <div class="redoContainer">
        <button elementsid="filluser_redo" class="redo ghost"><%=e('refresh')%></button>
    </div>
</div>