<div class="categories">
	<!--<div class="icon" events="sitename">
		<img class="header_logo all" src="img/logotypes/bastyon_logo_white.svg">
	</div>-->
	<div class="welcome_text">
		<span>
			<%=e('welcome')%>,
		</span>
		<span class="name">
			<%=username%>
		</span>
	</div>
	<div class="choosethemes_text">
		<%=e('chooseThemes')%>
	</div>
	<div class="cats ">
		<% _.each(categories, function(cat){ %> 

			<div class="cat" cat="<%-cat.id%>">
				<div class="cattable">
					<span class="icon">
						<i class="<%-cat.icon%>"></i>
					</span>
					<span>
						<%=cat.name%>
					</span>
				</div>
			</div>

		<%	})	%> 
	</div>
	<div class="nextStepButtons">
		<div class="subc">
			<button elementsid="filluser_button_nextstep" class="next">
				<%=e('next')%>
			</button>
		</div>
		<div class="subc">
			<div elementsid="filluser_button_skip" class="skip"><%=e('skip')%></div>
		</div>
	</div>
</div>