<% if(!last) {%>
<div class="os">
	<div class="work">
		<div class="stepTable table">
			<div class="numberWr">
				<div class="number">
					<%= os.icon %>
				</div>
			</div>

			<div class="stepContent">
				<div class="subcaption">
					Pocketnet for <%- os.text.name %>
				</div>

				<div class="tip">

					<%- os.text.download %>
				
				</div>

				<div class="panel">
					<div class="item">
						<button class="downloadOs"><%- os.text.label %> <i class="fas fa-download"></i></button>
					</div>

					<div class="item skipositem">
						<button class="skip ghost">Skip and proceed to website</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<% } %>