<div class="sharing">
	<!--<div class="icon" events="sitename">
		<img class="header_logo all" src="img/logotypes/bastyon_logo_white.svg">
	</div>-->
	<h1 class="sharing-caption">
		<%=e('welcomecaption4')%>
	</h1>
	<div class="sharing-content">
		<button class="share">
			<i class="fas fa-share-alt"></i>
			<%=e('invitefriends')%>
		</button>
	</div>
	<div class="nextStepButtons">
		<div class="subc">
			<button elementsid="filluser_button_nextstep" class="next active">
				<%=e('next')%>
			</button>
		</div>
	</div>
</div>