<% if(end) {%> 
<div class="success">
	<div class="work">
		<div class="stepTable table">
			<div class="numberWr">
				<div class="number">
					4
				</div>
			</div>

			<div class="stepContent">

				<div class="subcaption">
					<%=e('congratulations')%>
					
				</div>

				<div class="panel">

					<div class="item preloader">
						<div class="prtable table">
							<div class="preloaderwr">
								<div class="preloader5"><span></span><span></span><span></span></div>
							</div>
							<div class="preloaderlabel">
								<span><%=e('creatingpreloader')%></span>
							</div>
						</div>
					</div>

					
				</div>	
			</div>
		</div>

	</div>
</div>

<% } %>