<% if(!last) {%>
<div class="tips">
	<div class="work">
		<div class="stepTable table">
			<div class="numberWr">
				<div class="number">
					1
				</div>
			</div>

			<div class="stepContent">
				<div class="subcaption">
					<%=e('e13154')%>
				</div>

				<div class="tip">

					<%=e('e13155')%>
				
				</div>

				<div class="panel">
					<div class="item">
						<button class="generate"><%=e('generatepkey')%> <i class="fas fa-chevron-circle-right"></i></button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<% } %>